exports/tax4us-system/workflows/tax4us-content-intelligence-agent-enhanced.json
{
    "name": "Tax4Us Content Intelligence Agent - Enhanced",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "content-intelligence-enhanced",
                "options": {}
            },
            "id": "webhook-trigger",
            "name": "Content Intelligence Trigger",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                240,
                300
            ]
        },
        {
            "parameters": {
                "apiKey": "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",
                "query": "tax law changes 2024 israel small business deductions",
                "searchType": "advanced",
                "includeAnswer": true,
                "includeRawContent": true,
                "includeImages": false,
                "maxResults": 10
            },
            "id": "tavily-research",
            "name": "Tavily Search Research",
            "type": "n8n-nodes-base.tavily",
            "typeVersion": 1,
            "position": [
                460,
                100
            ]
        },
        {
            "parameters": {
                "model": "gpt-4o-2024-11-20",
                "prompt": "Research trending tax topics and content opportunities for Tax4Us using the provided search results and your knowledge. Focus on:\n\n1. Current tax law changes and updates\n2. Seasonal tax topics (filing deadlines, deductions)\n3. Industry trends and competitor content gaps\n4. SEO opportunities with high search volume\n5. Client pain points and common questions\n\nSearch Results: {{ $('Tavily Search Research').item.json.answer }}\n\nGenerate 5 content ideas with:\n- Title\n- Target keywords\n- Content type (blog post, guide, FAQ)\n- Target audience\n- Estimated word count\n- SEO potential score (1-10)\n- Business value score (1-10)\n\nFormat as JSON array with these fields: title, keywords, contentType, targetAudience, wordCount, seoScore, businessValue, topic, status.",
                "options": {
                    "temperature": 0.7,
                    "maxTokens": 2000
                }
            },
            "id": "ai-research",
            "name": "AI Content Research",
            "type": "n8n-nodes-base.openAi",
            "typeVersion": 1,
            "position": [
                460,
                200
            ],
            "credentials": {
                "openAiApi": {
                    "id": "ben-openai-api",
                    "name": "Ben OpenAI API"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// Process AI research results and filter high-value content\nconst researchData = $input.first().json;\nconsole.log('Processing AI research results:', researchData);\n\n// Parse the AI response\nlet contentIdeas = [];\ntry {\n  // Extract JSON from AI response\n  const text = researchData.text || researchData.content || '';\n  const jsonMatch = text.match(/\\[\\s*\\{[\\s\\S]*\\}\\s*\\]/);\n  \n  if (jsonMatch) {\n    contentIdeas = JSON.parse(jsonMatch[0]);\n  } else {\n    // Fallback: try to parse the entire response\n    contentIdeas = JSON.parse(text);\n  }\n} catch (error) {\n  console.error('Error parsing AI response:', error);\n  // Create fallback content ideas\n  contentIdeas = [\n    {\n      title: 'Tax Deduction Tips for Small Business Owners',\n      keywords: ['tax deductions', 'small business', 'israel'],\n      contentType: 'blog post',\n      targetAudience: 'small business owners',\n      wordCount: 1500,\n      seoScore: 8,\n      businessValue: 9,\n      topic: 'tax optimization',\n      status: 'New'\n    }\n  ];\n}\n\n// Filter for high-value content (SEO score >= 7 and business value >= 7)\nconst highValueContent = contentIdeas.filter(idea => \n  (idea.seoScore || 5) >= 7 && (idea.businessValue || 5) >= 7\n);\n\nconsole.log(`Found ${highValueContent.length} high-value content ideas`);\n\nreturn highValueContent.map(idea => ({\n  json: {\n    ...idea,\n    timestamp: new Date().toISOString(),\n    source: 'ai_research',\n    priority: 'high',\n    customer: 'Tax4Us'\n  }\n}));"
            },
            "id": "filter-content",
            "name": "Filter High-Value Content",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                680,
                200
            ]
        },
        {
            "parameters": {
                "operation": "create",
                "baseId": "appQhVkIaWoGJG301",
                "tableId": "tblContentOpportunities",
                "columns": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "Opportunity Title": "={{ $json.title }}",
                        "Primary Keyword": "={{ $json.keywords[0] || '' }}",
                        "Secondary Keywords": "={{ $json.keywords.join(', ') }}",
                        "Target Audience": "={{ $json.targetAudience }}",
                        "Content Type": "={{ $json.contentType }}",
                        "Estimated Word Count": "={{ $json.wordCount }}",
                        "SEO Score": "={{ $json.seoScore }}",
                        "Business Value": "={{ $json.businessValue }}",
                        "Status": "Identified",
                        "Source": "AI Research",
                        "Created Date": "={{ new Date().toISOString() }}"
                    }
                }
            },
            "id": "create-opportunities",
            "name": "Create Content Opportunities",
            "type": "n8n-nodes-base.airtable",
            "typeVersion": 1,
            "position": [
                900,
                200
            ],
            "credentials": {
                "airtableApi": {
                    "id": "rensto-airtable-api",
                    "name": "Rensto Airtable API"
                }
            }
        },
        {
            "parameters": {
                "operation": "create",
                "baseId": "app4nJpP1ytGukXQT",
                "tableId": "tblContentRequests",
                "columns": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "Request Title": "={{ $json.title }}",
                        "Customer": "Tax4Us",
                        "Content Type": "={{ $json.contentType }}",
                        "Primary Keyword": "={{ $json.keywords[0] || '' }}",
                        "Secondary Keywords": "={{ $json.keywords.join(', ') }}",
                        "Target Audience": "={{ $json.targetAudience }}",
                        "Word Count": "={{ $json.wordCount }}",
                        "Writing Style": "Professional",
                        "Tone": "Educational",
                        "Status": "New",
                        "Priority": "High",
                        "Assigned Agent": "Content Intelligence",
                        "Created Date": "={{ new Date().toISOString() }}",
                        "Notes": "=AI Research Score: SEO {{ $json.seoScore }}/10, Business Value {{ $json.businessValue }}/10. Generated automatically by Content Intelligence Agent."
                    }
                }
            },
            "id": "create-content-requests",
            "name": "Create Content Requests",
            "type": "n8n-nodes-base.airtable",
            "typeVersion": 1,
            "position": [
                1120,
                200
            ],
            "credentials": {
                "airtableApi": {
                    "id": "rensto-airtable-api",
                    "name": "Rensto Airtable API"
                }
            }
        },
        {
            "parameters": {
                "operation": "create",
                "baseId": "appMy8sh7O6b4CPfU",
                "tableId": "tblHaJjvTmU7EjEzM",
                "columns": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "Title": "={{ $json.title }}",
                        "Topic": "={{ $json.topic }}",
                        "Keywords": "={{ $json.keywords.join(', ') }}",
                        "Content Type": "={{ $json.contentType }}",
                        "Target Audience": "={{ $json.targetAudience }}",
                        "Word Count": "={{ $json.wordCount }}",
                        "Status": "={{ $json.status }}",
                        "Notes": "=AI Research Score: SEO {{ $json.seoScore }}/10, Business Value {{ $json.businessValue }}/10. Generated automatically by Content Intelligence Agent.",
                        "Language": "en",
                        "Slug EN": "={{ $json.title.toLowerCase().replace(/[^a-z0-9]+/g, '-').replace(/^-+|-+$/g, '') }}",
                        "Slug HE": "={{ $json.title.toLowerCase().replace(/[^a-z0-9]+/g, '-').replace(/^-+|-+$/g, '') }}"
                    }
                }
            },
            "id": "create-tax4us-requests",
            "name": "Create Tax4Us Requests",
            "type": "n8n-nodes-base.airtable",
            "typeVersion": 1,
            "position": [
                1340,
                200
            ],
            "credentials": {
                "airtableApi": {
                    "id": "tax4us-airtable-api",
                    "name": "Tax4Us Airtable API"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// Log successful content requests and trigger content creation\nconst results = $input.all();\nconsole.log('Content Intelligence Agent Results:');\n\nlet summary = {\n  totalRequests: results.length,\n  successfulRequests: 0,\n  failedRequests: 0,\n  contentIdeas: [],\n  nextSteps: []\n};\n\nresults.forEach((item, index) => {\n  const data = item.json;\n  \n  if (data.id) {\n    summary.successfulRequests++;\n    summary.contentIdeas.push({\n      id: data.id,\n      title: data.fields?.Title || data.fields?.['Request Title'] || data.fields?.['Opportunity Title'] || 'Unknown',\n      status: data.fields?.Status || 'New',\n      timestamp: new Date().toISOString()\n    });\n    console.log(`✅ Created content request: ${data.fields?.Title || data.fields?.['Request Title'] || data.fields?.['Opportunity Title']}`);\n    \n    // Add to next steps for content creation\n    summary.nextSteps.push({\n      action: 'Trigger Content Creation Agent',\n      target: 'Blog & Posts Agent',\n      data: data\n    });\n  } else {\n    summary.failedRequests++;\n    console.log(`❌ Failed to create content request: ${JSON.stringify(data)}`);\n  }\n});\n\nconsole.log('\\n📊 Summary:', summary);\n\nreturn {\n  json: {\n    message: 'Content Intelligence Agent completed successfully',\n    summary,\n    timestamp: new Date().toISOString(),\n    nextStep: 'Content Creation Agent will process these requests automatically',\n    workflowTrigger: 'Ready to trigger Blog & Posts Agent'\n  }\n};"
            },
            "id": "log-results",
            "name": "Log Results & Prepare Next Steps",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1560,
                200
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://tax4usllc.app.n8n.cloud/webhook/blog-posts-agent",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "triggered_by",
                            "value": "content_intelligence_agent"
                        },
                        {
                            "name": "timestamp",
                            "value": "={{ new Date().toISOString() }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "trigger-blog-posts",
            "name": "Trigger Blog & Posts Agent",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1780,
                100
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ $json }}",
                "options": {
                    "responseHeaders": {
                        "parameters": [
                            {
                                "name": "Content-Type",
                                "value": "application/json"
                            }
                        ]
                    }
                }
            },
            "id": "respond",
            "name": "Respond",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                2000,
                200
            ]
        }
    ],
    "connections": {
        "Content Intelligence Trigger": {
            "main": [
                [
                    {
                        "node": "Tavily Search Research",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Tavily Search Research": {
            "main": [
                [
                    {
                        "node": "AI Content Research",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "AI Content Research": {
            "main": [
                [
                    {
                        "node": "Filter High-Value Content",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Filter High-Value Content": {
            "main": [
                [
                    {
                        "node": "Create Content Opportunities",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Create Content Opportunities": {
            "main": [
                [
                    {
                        "node": "Create Content Requests",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Create Content Requests": {
            "main": [
                [
                    {
                        "node": "Create Tax4Us Requests",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Create Tax4Us Requests": {
            "main": [
                [
                    {
                        "node": "Log Results & Prepare Next Steps",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Log Results & Prepare Next Steps": {
            "main": [
                [
                    {
                        "node": "Trigger Blog & Posts Agent",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Respond",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Trigger Blog & Posts Agent": {
            "main": [
                [
                    {
                        "node": "Respond",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    }
}