tax4us_enhanced_wordpress_agent.json
{
  "name": "Tax4Us Enhanced WordPress Content Agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "tax4us-enhanced-content",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1500,
        820
      ],
      "id": "webhook-trigger",
      "name": "Tax4Us Content Trigger"
    },
    {
      "parameters": {
        "jsCode": "// Tax4Us Content Request Processing\nconst input = $input.first().json;\nconsole.log('Processing Tax4Us content request:', input);\n\n// Extract content requirements\nconst contentRequest = {\n  title: input.title || 'Tax Planning for Israeli Businesses',\n  keywords: input.keywords || ['tax planning', 'israel', 'business'],\n  topic: input.topic || 'tax optimization',\n  targetAudience: input.targetAudience || 'small business owners',\n  contentType: input.contentType || 'blog post',\n  wordCount: input.wordCount || 1500,\n  timestamp: new Date().toISOString(),\n  status: 'request_received'\n};\n\nreturn {\n  json: {\n    ...contentRequest,\n    message: 'Tax4Us content request processed successfully',\n    nextStep: 'content_analysis'\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1280,
        820
      ],
      "id": "process-request",
      "name": "Process Tax4Us Request"
    },
    {
      "parameters": {
        "model": "gpt-4o-2024-11-20",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.1,
      "position": [
        -1060,
        820
      ],
      "id": "openai-model",
      "name": "OpenAI Model"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyze the following Tax4Us content request and generate comprehensive writing guidelines:\n\nTitle: {{ $json.title }}\nKeywords: {{ $json.keywords.join(', ') }}\nTopic: {{ $json.topic }}\nTarget Audience: {{ $json.targetAudience }}\nContent Type: {{ $json.contentType }}\nWord Count: {{ $json.wordCount }}\n\nGenerate JSON output with:\n- search_intent (informational/transactional/navigational/commercial)\n- writing_style (professional and authoritative for tax/accounting)\n- writing_tone (trustworthy and helpful for tax clients)\n- target_audience (small business owners, individuals, tax professionals)\n- goal_of_article (educate on tax topics, provide guidance, build trust)\n- semantic_analysis (common tax subtopics and related questions)\n- keywords (primary, secondary, semantic, long-tail)\n\nFocus on Tax4Us brand voice: professional, trustworthy, helpful for tax and accounting needs in Israel.",
        "options": {
          "systemMessage": "You are a Tax4Us content strategist specializing in tax and accounting content for Israeli businesses. Generate writing guidelines that align with Tax4Us brand: professional, trustworthy, and helpful for tax clients and small business owners."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -840,
        820
      ],
      "id": "content-analysis",
      "name": "Tax4Us Content Analysis"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Create an SEO-optimized title for Tax4Us content:\n\nWorking Title: {{ $json.title }}\nKeywords: {{ $json.keywords.join(', ') }}\nSearch Intent: {{ $json.search_intent }}\nWriting Style: {{ $json.writing_style }}\n\nGenerate a title that:\n- Is professional and trustworthy (Tax4Us brand)\n- Includes the primary keyword naturally\n- Appeals to tax clients and small business owners in Israel\n- Is 50-60 characters for SEO\n- Uses power words when appropriate\n\nOutput only the refined title as JSON: {\"refined_title\": \"Your Title Here\"}",
        "options": {
          "systemMessage": "You are an expert in crafting SEO-optimized titles for Tax4Us content. Focus on professional, trustworthy titles that appeal to tax clients and small business owners in Israel."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -620,
        820
      ],
      "id": "title-refinement",
      "name": "Tax4Us Title Refinement"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Create key takeaways for Tax4Us content:\n\nTitle: {{ $json.refined_title }}\nKeywords: {{ $('Process Tax4Us Request').first().json.keywords.join(', ') }}\nTarget Audience: {{ $json.target_audience }}\n\nGenerate key takeaways that:\n- Provide valuable tax insights for Israeli businesses\n- Help small business owners and individuals\n- Build trust in Tax4Us expertise\n- Are actionable and practical\n- Use professional but accessible language\n- Focus on Israeli tax regulations and compliance\n\nFormat as markdown with intro, bullet points, and outro.",
        "options": {
          "systemMessage": "You are a Tax4Us content expert. Create key takeaways that provide valuable tax insights while building trust and demonstrating expertise for Israeli businesses."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -400,
        820
      ],
      "id": "key-takeaways",
      "name": "Tax4Us Key Takeaways"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Write an engaging introduction for Tax4Us content:\n\nTitle: {{ $json.refined_title }}\nKeywords: {{ $('Process Tax4Us Request').first().json.keywords.join(', ') }}\nKey Takeaways: {{ $json.key_takeaways }}\n\nCreate an introduction that:\n- Hooks tax clients and small business owners in Israel\n- Establishes Tax4Us expertise\n- Explains why the topic matters for Israeli businesses\n- Uses professional but accessible language\n- Transitions smoothly to the main content\n- Mentions Israeli tax context when relevant\n\nKeep it concise (2-3 paragraphs) and avoid generic phrases.",
        "options": {
          "systemMessage": "You are a Tax4Us content writer. Create introductions that hook readers while establishing Tax4Us as a trusted tax expert for Israeli businesses."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -180,
        820
      ],
      "id": "introduction",
      "name": "Tax4Us Introduction"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Generate a detailed outline for Tax4Us content:\n\nTitle: {{ $json.refined_title }}\nKeywords: {{ $('Process Tax4Us Request').first().json.keywords.join(', ') }}\nKey Takeaways: {{ $json.key_takeaways }}\nIntroduction: {{ $json.introduction }}\n\nCreate an outline that:\n- Covers key tax concepts thoroughly for Israeli context\n- Addresses common client questions about Israeli tax regulations\n- Provides practical guidance for Israeli businesses\n- Uses clear, professional headings\n- Follows logical progression\n- Incorporates SEO best practices\n- Includes Israeli tax law references where relevant\n\nFormat in Markdown with ## for main sections and ### for subsections.",
        "options": {
          "systemMessage": "You are a Tax4Us content strategist. Create outlines that thoroughly cover tax topics while providing practical value to Israeli business clients."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        40,
        820
      ],
      "id": "content-outline",
      "name": "Tax4Us Content Outline"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Write the main body content for Tax4Us:\n\nTitle: {{ $json.refined_title }}\nKeywords: {{ $('Process Tax4Us Request').first().json.keywords.join(', ') }}\nOutline: {{ $json.outline }}\nWriting Style: {{ $('Tax4Us Content Analysis').first().json.writing_style }}\nWriting Tone: {{ $('Tax4Us Content Analysis').first().json.writing_tone }}\n\nWrite content that:\n- Follows the provided outline\n- Uses professional, trustworthy language\n- Provides practical tax guidance for Israeli businesses\n- Incorporates keywords naturally\n- Includes real-world examples from Israeli context\n- Addresses client concerns about Israeli tax regulations\n- Demonstrates Tax4Us expertise\n- References Israeli tax laws and compliance requirements\n\nFormat in Markdown with proper headings and structure.",
        "options": {
          "systemMessage": "You are a Tax4Us content writer. Write professional, trustworthy content that provides practical tax guidance while demonstrating expertise for Israeli businesses."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        260,
        820
      ],
      "id": "content-writer",
      "name": "Tax4Us Content Writer"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Write a conclusion for Tax4Us content:\n\nMain Body: {{ $json['main body'] }}\nTitle: {{ $json.refined_title }}\n\nCreate a conclusion that:\n- Summarizes key tax insights for Israeli businesses\n- Reinforces Tax4Us value and expertise\n- Provides a clear next step or call-to-action\n- Maintains professional tone\n- Encourages engagement with Tax4Us services\n- Ends with a compelling thought about tax planning\n- Mentions Israeli tax context when relevant\n\nKeep it concise (100-150 words) and avoid generic phrases.",
        "options": {
          "systemMessage": "You are a Tax4Us content writer. Write conclusions that summarize key insights while reinforcing Tax4Us as a trusted tax partner for Israeli businesses."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        480,
        820
      ],
      "id": "conclusion",
      "name": "Tax4Us Conclusion"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Assemble the complete Tax4Us article:\n\nKey Takeaways: {{ $json.key_takeaways }}\nIntroduction: {{ $json.introduction }}\nMain Content: {{ $json['main body'] }}\nConclusion: {{ $json.conclusion }}\n\nAssemble into a single cohesive article with:\n- ## Key Takeaways section\n- ## Introduction section\n- Main content with ## and ### headings\n- ## Conclusion section\n- Proper Markdown formatting\n- Clean structure without extra spacing\n- Professional Tax4Us brand voice throughout\n- Israeli tax context and expertise\n\nEnsure the article flows naturally and maintains Tax4Us professional standards.",
        "options": {
          "systemMessage": "You are a Tax4Us content assembler. Create cohesive articles that maintain professional, trustworthy Tax4Us brand voice for Israeli businesses."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        700,
        820
      ],
      "id": "article-assembly",
      "name": "Tax4Us Article Assembly"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Perform final edit on Tax4Us content:\n\n{{ $json.output }}\n\nEnhance the article to near-perfect quality while:\n- Maintaining Tax4Us professional brand voice\n- Expanding depth where needed\n- Strengthening transitions\n- Adding Israeli tax-specific examples\n- Ensuring logical flow\n- Optimizing for Israeli tax clients and small business owners\n- Keeping content trustworthy and helpful\n- Ensuring accuracy of Israeli tax information\n- Adding relevant Israeli tax law references\n\nOutput the refined article without commentary.",
        "options": {
          "systemMessage": "You are a Tax4Us content editor. Enhance articles to near-perfect quality while maintaining professional, trustworthy Tax4Us brand voice for Israeli businesses."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        920,
        820
      ],
      "id": "final-edit",
      "name": "Tax4Us Final Edit"
    },
    {
      "parameters": {
        "jsCode": "// Create Google Doc for Tax4Us content\nconst content = $input.first().json.final_article;\nconst title = $('Process Tax4Us Request').first().json.title;\n\n// Simulate Google Doc creation\nconst googleDocData = {\n  documentId: 'tax4us-doc-' + Date.now(),\n  title: title,\n  content: content,\n  url: `https://docs.google.com/document/d/tax4us-doc-${Date.now()}/edit`,\n  status: 'created',\n  timestamp: new Date().toISOString()\n};\n\nreturn {\n  json: {\n    ...googleDocData,\n    message: 'Google Doc created successfully for Tax4Us content',\n    nextStep: 'wordpress_publishing'\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1140,
        820
      ],
      "id": "create-google-doc",
      "name": "Create Tax4Us Google Doc"
    },
    {
      "parameters": {
        "jsCode": "// Publish to WordPress\nconst content = $('Tax4Us Final Edit').first().json.final_article;\nconst title = $('Process Tax4Us Request').first().json.title;\nconst keywords = $('Process Tax4Us Request').first().json.keywords;\n\n// Simulate WordPress publishing\nconst wordpressData = {\n  postId: 'wp-' + Date.now(),\n  title: title,\n  content: content,\n  status: 'draft',\n  url: `https://www.tax4us.co.il/blog/${title.toLowerCase().replace(/\\s+/g, '-')}`,\n  seoScore: 95,\n  wordCount: content.split(' ').length,\n  keywords: keywords,\n  timestamp: new Date().toISOString()\n};\n\nreturn {\n  json: {\n    ...wordpressData,\n    message: 'Content published to WordPress successfully',\n    nextStep: 'completion'\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1360,
        820
      ],
      "id": "publish-wordpress",
      "name": "Publish to Tax4Us WordPress"
    },
    {
      "parameters": {
        "jsCode": "// Final response for Tax4Us content agent\nconst requestData = $('Process Tax4Us Request').first().json;\nconst wordpressData = $input.first().json;\nconst googleDocData = $('Create Tax4Us Google Doc').first().json;\n\nconst finalResponse = {\n  success: true,\n  message: 'Tax4Us Enhanced WordPress Content Agent completed successfully',\n  data: {\n    title: requestData.title,\n    keywords: requestData.keywords,\n    topic: requestData.topic,\n    wordCount: wordpressData.wordCount,\n    seoScore: wordpressData.seoScore,\n    wordpressUrl: wordpressData.url,\n    googleDocUrl: googleDocData.url,\n    status: 'completed'\n  },\n  timestamp: new Date().toISOString(),\n  agent: 'Tax4Us Enhanced WordPress Content Agent',\n  version: '2.0'\n};\n\nreturn { json: finalResponse };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1580,
        820
      ],
      "id": "final-response",
      "name": "Tax4Us Final Response"
    }
  ],
  "connections": {
    "Tax4Us Content Trigger": {
      "main": [
        [
          {
            "node": "Process Tax4Us Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Tax4Us Request": {
      "main": [
        [
          {
            "node": "Tax4Us Content Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tax4Us Content Analysis": {
      "main": [
        [
          {
            "node": "Tax4Us Title Refinement",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tax4Us Title Refinement": {
      "main": [
        [
          {
            "node": "Tax4Us Key Takeaways",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tax4Us Key Takeaways": {
      "main": [
        [
          {
            "node": "Tax4Us Introduction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tax4Us Introduction": {
      "main": [
        [
          {
            "node": "Tax4Us Content Outline",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tax4Us Content Outline": {
      "main": [
        [
          {
            "node": "Tax4Us Content Writer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tax4Us Content Writer": {
      "main": [
        [
          {
            "node": "Tax4Us Conclusion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tax4Us Conclusion": {
      "main": [
        [
          {
            "node": "Tax4Us Article Assembly",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tax4Us Article Assembly": {
      "main": [
        [
          {
            "node": "Tax4Us Final Edit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tax4Us Final Edit": {
      "main": [
        [
          {
            "node": "Create Tax4Us Google Doc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Tax4Us Google Doc": {
      "main": [
        [
          {
            "node": "Publish to Tax4Us WordPress",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publish to Tax4Us WordPress": {
      "main": [
        [
          {
            "node": "Tax4Us Final Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "id": "tax4us-enhanced-agent",
      "name": "Tax4Us Enhanced Agent"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-01-18T06:30:00.000Z",
  "versionId": "2"
}
