webhook-fix.json
{
  "name": "Lead Generation Micro-SaaS Workflow",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check_lead_type",
              "leftValue": "={{ $json.body['Lead Type'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            },
            {
              "id": "check_email",
              "leftValue": "={{ $json.body['Email'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d118f4b5-2a44-47cf-b9b1-8b0f9277c199",
      "name": "Validate Input",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        128,
        -16
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "search_query",
              "name": "searchQuery",
              "type": "string",
              "value": "={{ $json.body['Lead Type'] || $json.body.Origin || 'Israeli LinkedIn leads' }}"
            },
            {
              "id": "user_email",
              "name": "userEmail",
              "type": "string",
              "value": "={{ $json.body['Email'] }}"
            },
            {
              "id": "first_name",
              "name": "firstName",
              "type": "string",
              "value": "={{ $json.body['First Name'] || 'Lead' }}"
            },
            {
              "id": "last_name",
              "name": "lastName",
              "type": "string",
              "value": "={{ $json.body['Last Name'] || 'Generator' }}"
            },
            {
              "id": "about_business",
              "name": "aboutBusiness",
              "type": "string",
              "value": "={{ $json.body['About Business'] || 'Lead generation service' }}"
            },
            {
              "id": "pricing_tier",
              "name": "pricingTier",
              "type": "string",
              "value": "={{ $json.body['Pricing Tier'] || 'basic' }}"
            },
            {
              "id": "lead_limit",
              "name": "leadLimit",
              "type": "number",
              "value": "={{ $json.body['Pricing Tier'] === 'basic' ? 10 : $json.body['Pricing Tier'] === 'pro' ? 100 : 500 }}"
            }
          ]
        },
        "options": {}
      },
      "id": "314cf268-f682-4e66-a97d-97aa553822ca",
      "name": "Set Variables",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        352,
        -112
      ]
    },
    {
      "parameters": {
        "modelId": {
          "value": "gpt-4",
          "mode": "list"
        },
        "messages": {
          "values": [
            {
              "content": "You are an expert at generating search URLs for lead generation platforms. Convert the user's search query into a properly formatted URL for the lead scraping service. Return only the URL, no additional text.",
              "role": "system"
            },
            {
              "content": "=Generate a search URL for: {{ $('Set Variables').item.json.searchQuery }}",
              "role": "user"
            }
          ]
        },
        "options": {}
      },
      "id": "9ef82cc7-cf39-4659-aa32-695cefe998a9",
      "name": "Generate Search URL",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        576,
        -304
      ],
      "credentials": {
        "openAiApi": {
          "id": "0sXFXYfqiDEKuDcN",
          "name": "service@rensto.com"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/curious_coder~apollo-io-scraper/run-sync",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer apify_api_SMA1HfBPNRoiTqqPEKdA0NwfsdQilM17Nb2X"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"searchUrl\": \"{{ $json.searchUrl || $json.content || 'https://app.apollo.io/#/people?contactEmailStatus[]=verified&finderViews[]=grid&prospectedByCurrentTeam[]=no&qKeywords=Israeli%20OR%20%D7%99%D7%A9%D7%A8%D7%90%D7%9C%D7%99&sortAscending=false&sortByField=engagement&sortType=people&page=1' }}\",\n  \"maxResults\": {{ $('Set Variables').item.json.leadLimit }}\n}",
        "options": {}
      },
      "id": "0ba42bfd-2f18-40ad-8e1e-4ab7ee979f47",
      "name": "Scrape Leads",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        928,
        -304
      ]
    },
    {
      "parameters": {
        "dataTableId": {
          "value": "t6bRJTF7c3wbn3Ny",
          "mode": "list"
        },
        "options": {}
      },
      "id": "e73b5b08-015a-458c-b826-ebd0db5f52f8",
      "name": "If row exists",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        1152,
        -304
      ]
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "t6bRJTF7c3wbn3Ny",
          "mode": "list",
          "cachedResultName": "israeli_linkedin_leads",
          "cachedResultUrl": "/projects/BpwdbBFmDOobi2IT/datatables/t6bRJTF7c3wbn3Ny"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "firstName",
              "displayName": "firstName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "lastName",
              "displayName": "lastName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "headline",
              "displayName": "headline",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "company",
              "displayName": "company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "jobTilte",
              "displayName": "jobTilte",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "companyWebsite",
              "displayName": "companyWebsite",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "research",
              "displayName": "research",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "linkedinURL",
              "displayName": "linkedinURL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "personalizedMessage",
              "displayName": "personalizedMessage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "row",
              "displayName": "row",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "9e16588a-8a6a-44ca-87f1-28478186e1df",
      "name": "Insert row",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        1376,
        -304
      ]
    },
    {
      "parameters": {
        "maxItems": 1,
        "keep": "firstItems"
      },
      "id": "26c85a80-618d-4202-8b51-8dd3ec11628d",
      "name": "Limit for Enrichment",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        1600,
        -304
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "b5aadbca-6688-49e4-a33b-4512c711bcd4",
      "name": "Loop Over Leads",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1824,
        -304
      ]
    },
    {
      "parameters": {
        "modelId": {
          "value": "gpt-4",
          "mode": "list"
        },
        "messages": {
          "values": [
            {
              "content": "Research this person and provide key insights that would be useful for personalized outreach. Focus on recent achievements, interests, or pain points.",
              "role": "system"
            },
            {
              "content": "=Research: {{ $json.firstName }} {{ $json.lastName }} at {{ $json.company }}\nTitle: {{ $json.jobTitle }}\nLinkedIn: {{ $json.linkedinUrl }}",
              "role": "user"
            }
          ]
        },
        "options": {}
      },
      "id": "a8077989-4b6b-4055-aa24-0245f90416e7",
      "name": "Research Person",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        2048,
        -400
      ],
      "credentials": {
        "openAiApi": {
          "id": "0sXFXYfqiDEKuDcN",
          "name": "service@rensto.com"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "messages": {
          "values": [
            {
              "content": "Research this company and provide insights about their current challenges, recent news, and potential needs.",
              "role": "system"
            },
            {
              "content": "=Company: {{ $json.company }}\nWebsite: {{ $json.companyWebsite }}",
              "role": "user"
            }
          ]
        },
        "options": {}
      },
      "id": "56df102c-c53f-4c68-af62-cd3823c60b80",
      "name": "Research Company",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        2400,
        -400
      ],
      "credentials": {
        "openAiApi": {
          "id": "0sXFXYfqiDEKuDcN",
          "name": "service@rensto.com"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "value": "gpt-4",
          "mode": "list"
        },
        "messages": {
          "values": [
            {
              "content": "You're an expert in cold email outreach. Create a highly personalized, compelling cold email that:\n1. References specific information about the recipient and their company\n2. Clearly states the value proposition\n3. Is concise (under 150 words)\n4. Includes a clear call-to-action\n5. Sounds natural and human, not templated\n\nSender Information:\n- Name: {{ $('Set Variables').item.json.firstName }} {{ $('Set Variables').item.json.lastName }}\n- Business: {{ $('Set Variables').item.json.aboutBusiness }}",
              "role": "system"
            },
            {
              "content": "=Create personalized email for:\nName: {{ $('Loop Over Leads').item.json.firstName }} {{ $('Loop Over Leads').item.json.lastName }}\nCompany: {{ $('Loop Over Leads').item.json.company }}\nTitle: {{ $('Loop Over Leads').item.json.jobTitle }}\nPerson Research: {{ $('Research Person').item.json.message.content }}\nCompany Research: {{ $('Research Company').item.json.message.content }}",
              "role": "user"
            }
          ]
        },
        "options": {}
      },
      "id": "da5354be-e74a-4dfe-b07f-edd9a9bf34e4",
      "name": "Create Personalized Message",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        2752,
        -400
      ],
      "credentials": {
        "openAiApi": {
          "id": "0sXFXYfqiDEKuDcN",
          "name": "service@rensto.com"
        }
      }
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "t6bRJTF7c3wbn3Ny",
          "mode": "list",
          "cachedResultName": "israeli_linkedin_leads",
          "cachedResultUrl": "/projects/BpwdbBFmDOobi2IT/datatables/t6bRJTF7c3wbn3Ny"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "firstName": "={{ $('Loop Over Leads').item.json.firstName }}",
            "lastName": "={{ $('Loop Over Leads').item.json.lastName }}",
            "headline": "={{ $('Loop Over Leads').item.json.headline }}",
            "company": "={{ $('Loop Over Leads').item.json.company }}",
            "jobTilte": "={{ $('Loop Over Leads').item.json.jobTitle }}",
            "companyWebsite": "={{ $('Loop Over Leads').item.json.companyWebsite }}",
            "research": "={{ $('Research Person').item.json.message.content }}",
            "email": "={{ $('Loop Over Leads').item.json.email }}",
            "phone": "={{ $('Loop Over Leads').item.json.phone }}",
            "linkedinURL": "={{ $('Loop Over Leads').item.json.linkedinUrl }}",
            "personalizedMessage": "={{ $('Create Personalized Message').item.json.message.content }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "firstName",
              "displayName": "firstName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "lastName",
              "displayName": "lastName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "headline",
              "displayName": "headline",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "company",
              "displayName": "company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "jobTilte",
              "displayName": "jobTilte",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "companyWebsite",
              "displayName": "companyWebsite",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "research",
              "displayName": "research",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "linkedinURL",
              "displayName": "linkedinURL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "personalizedMessage",
              "displayName": "personalizedMessage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "row",
              "displayName": "row",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "fa3f63af-d64f-4fc7-9795-80c14bfa9e57",
      "name": "Upsert row(s)1",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        3104,
        -240
      ]
    },
    {
      "parameters": {
        "toRecipients": "={{ $('Set Variables').item.json.userEmail }}",
        "subject": "=Your {{ $('Set Variables').item.json.searchQuery }} Leads Are Ready!",
        "bodyContent": "=Hi {{ $('Set Variables').item.json.firstName }}!\n\nYour leads are ready! We've found and researched {{ $('Set Variables').item.json.leadLimit }} potential prospects matching your search criteria.\n\nWhat's included:\n- Contact information (names, emails, LinkedIn profiles)\n- Company details and websites\n- Personalized research about each lead\n- Custom outreach messages ready to send\n- CSV file with all lead data attached\n\nHappy prospecting!\n\nThe Lead Gen Team",
        "additionalFields": {}
      },
      "id": "bb8f0ce5-fd52-4a52-a08d-846ca84d8214",
      "name": "Send a message",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        2816,
        -208
      ],
      "webhookId": "dc364ee1-3541-49f3-9731-cbe6459eec59",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "cG7UVwSbYjSYBg4P",
          "name": "service@rensto.com"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "dd036eac-9595-40c6-9097-0e9f6adefbb1",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "73c21dd3-f424-4d44-b463-962f92f62fa8",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -96,
        -16
      ],
      "webhookId": "bb88870b-524c-4660-9273-213d849ae6df"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"success\": true, \"message\": \"Lead generation request received successfully! We'll process your leads and send them to your email shortly.\"}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "success_response",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        640,
        -112
      ],
      "notes": "Connect this AFTER Set Variables node to send immediate response to frontend"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"success\": false,\n  \"error\": \"Missing required fields: Lead Type and Email are required\"\n}",
        "options": {
          "responseCode": 400,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "error_response",
      "name": "Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        352,
        80
      ],
      "notes": "Connect this to FALSE output of Validate Input node"
    },
    {
      "parameters": {
        "mode": "combine",
        "mergeByFields": {
          "values": [
            {
              "field1": "email",
              "field2": "email"
            }
          ]
        },
        "options": {}
      },
      "id": "merge_all_data",
      "name": "Aggregate All Lead Data",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        3328,
        -192
      ]
    },
    {
      "parameters": {
        "options": {
          "fileName": "={{ $('Set Variables').item.json.searchQuery.replace(/ /g, '_') }}_leads.csv",
          "headerRow": true
        }
      },
      "id": "export_csv",
      "name": "Export to CSV",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        3104,
        -48
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Set Variables",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Variables": {
      "main": [
        [
          {
            "node": "Generate Search URL",
            "type": "main",
            "index": 0
          },
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Search URL": {
      "main": [
        [
          {
            "node": "Scrape Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape Leads": {
      "main": [
        [
          {
            "node": "If row exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If row exists": {
      "main": [
        [
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert row": {
      "main": [
        [
          {
            "node": "Limit for Enrichment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit for Enrichment": {
      "main": [
        [
          {
            "node": "Loop Over Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Leads": {
      "main": [
        [
          {
            "node": "Research Person",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Research Person": {
      "main": [
        [
          {
            "node": "Research Company",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Research Company": {
      "main": [
        [
          {
            "node": "Create Personalized Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Personalized Message": {
      "main": [
        [
          {
            "node": "Upsert row(s)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert row(s)1": {
      "main": [
        [
          {
            "node": "Loop Over Leads",
            "type": "main",
            "index": 0
          },
          {
            "node": "Aggregate All Lead Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Upsert row(s)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Export to CSV": {
      "main": [
        [
          {
            "node": "Aggregate All Lead Data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "saveExecutionProgress": true
  }
}
