workflow_final.json
{"updatedAt":"2025-11-25T08:26:27.000Z","createdAt":"2025-11-23T06:41:10.475Z","id":"F0f4PtwG9FQM7ME9","name":"Cinematic Pitch Engine","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"37475351-7bc4-43b9-91f9-d233ab511cd9","responseMode":"responseNode","options":{}},"id":"51151724-ce77-4162-ad2b-bed34ac3027a","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1008,-16],"webhookId":"37475351-7bc4-43b9-91f9-d233ab511cd9"},{"parameters":{"jsCode":"const text = $input.item.json.content[0].text;\nconst match = text.match(/\\{[^{}]*\\}/s);\nif (match) {\n  try {\n    return JSON.parse(match[0]);\n  } catch (e) {}\n}\nreturn {script: text, prompt: 'Cinematic POV shot', duration: 10};"},"id":"95704211-2103-4c7a-b07a-733ac5b1edcd","name":"Parse Script","type":"n8n-nodes-base.code","typeVersion":2,"position":[-208,-16]},{"parameters":{"jsCode":"const pollResult = $json.data || $json;\nlet videoUrl = null;\nconst taskId = pollResult.taskId || $('Generate Video Kie').item.json.data.taskId;\n\n// Veo3.1 response structure: successFlag (0=generating, 1=success, 2/3=failed)\nif (pollResult.successFlag === 1 && pollResult.response?.resultUrls) {\n  videoUrl = pollResult.response.resultUrls[0] || null;\n}\n\nreturn {\n  success: pollResult.successFlag === 1,\n  videoUrl: videoUrl,\n  taskId: taskId,\n  script: $('Parse Script').item.json.script,\n  state: pollResult.successFlag === 1 ? 'success' : (pollResult.successFlag === 2 || pollResult.successFlag === 3 ? 'fail' : 'generating'),\n  message: pollResult.successFlag === 1 ? 'Video ready' : (pollResult.successFlag === 2 || pollResult.successFlag === 3 ? pollResult.errorMessage || 'Video generation failed' : 'Processing...')\n};"},"id":"9eee7b94-cd63-46cf-91bd-d626f73099a0","name":"Return Result","type":"n8n-nodes-base.code","typeVersion":2,"position":[1360,-144]},{"parameters":{"messages":{"message":[{"content":"={{ 'Analyze business at ' + $json.body.url + '. What do they do? Pain points? Target audience? Under 200 words.' }}"}]},"simplify":true,"options":{"maxTokens":500},"requestOptions":{}},"type":"n8n-nodes-base.perplexity","typeVersion":1,"position":[-784,-16],"id":"70963bf8-75fd-4fe4-b8d4-51cf3ba74901","name":"Message a model","credentials":{"perplexityApi":{"id":"k0rFDIoahsWwn398","name":"rensto"}}},{"parameters":{"modelId":{"__rl":true,"value":"claude-sonnet-4-20250514","mode":"list","cachedResultName":"claude-sonnet-4-20250514"},"messages":{"values":[{"content":"={{ 'Based on: ' + $('Message a model').item.json.text + '\\n\\nGenerate ONLY valid JSON for Veo3.1 (Oct-Nov 2025 techniques):\\n{\"script\":\"...\",\"prompt\":\"Cinematic POV with advanced camera movements (orbital rotation, dolly tracking, multi-shot scene control). Use Veo3.1 native audio generation techniques. Include realistic physics and synchronized motion. Describe camera rotation, smooth transitions, and multi-angle perspectives. Format: First-person POV with dynamic camera work.\",\"duration\":10}' }}"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.anthropic","typeVersion":1,"position":[-560,-16],"id":"f6dcb8fc-59fd-40fd-9391-04ea6580535c","name":"Message a model1","credentials":{"anthropicApi":{"id":"bOftv5dScq3IjYQQ","name":"Anthropic account"}}},{"parameters":{"jsCode":"// Return taskId immediately so frontend can start polling\nconst generateResult = $('Generate Video Kie1').item.json;\nconst taskId = generateResult.data?.taskId || generateResult.taskId;\n\nif (!taskId) {\n  throw new Error('No taskId received from Veo3.1 API');\n}\n\nreturn {\n  taskId: taskId,\n  state: 'generating',\n  message: 'Video generation started. Polling for status...',\n  script: $('Parse Script').item.json.script || ''\n};"},"id":"return-taskid-immediate","name":"Return TaskId Immediately","type":"n8n-nodes-base.code","typeVersion":2,"position":[912,-144]},{"parameters":{"method":"POST","url":"https://api.kie.ai/api/v1/veo/generate","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ { prompt: $json.prompt, model: 'veo3', aspectRatio: '16:9', enableTranslation: true } }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[16,-16],"id":"50865e61-9598-4c5b-94bc-65b5bbec92f5","name":"Generate Video Kie1","credentials":{"httpHeaderAuth":{"id":"kRI7Q7bdV9tEVPNp","name":"Kie.ai"},"googlePalmApi":{"id":"6UgFlgar0aCiXKdm","name":"Google Gemini(PaLM) Api superseller"}}},{"parameters":{"respondWith":"json","responseBody":"={{ $json }}","options":{}},"id":"respond-to-webhook-auto","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[1136,-144]},{"parameters":{"url":"=https://api.kie.ai/api/v1/veo/record-info?taskId={{ $json.data.taskId }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[240,-16],"id":"98c710a8-dfc3-4577-9fac-ab04a8543ef1","name":"Get Videos2","credentials":{"httpHeaderAuth":{"id":"kRI7Q7bdV9tEVPNp","name":"Kie.ai"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"// Track how many times we've polled for video status\n// Skip video if it takes longer than 30 minutes (10 retries)\n\nconst videoData = $input.first().json;\nconst MAX_RETRIES = 10; // 10 * 3 minutes = 30 minutes max\n\n// Get retry count from the data itself (passed through the loop)\nconst retryCount = videoData.retryCount || 0;\n\nconsole.log(`Video polling attempt: ${retryCount + 1}/${MAX_RETRIES}`);\nconsole.log('Video data:', JSON.stringify(videoData, null, 2));\n\n// Check if we've exceeded max retries\nif (retryCount >= MAX_RETRIES) {\n  console.log('⚠️  Max retries reached, skipping video');\n\n  return [{\n    json: {\n      skipVideo: true,\n      videoReady: false,\n      retryCount: 0,\n      reason: 'Video generation timeout after 30 minutes',\n      data: videoData.data || {}\n    }\n  }];\n}\n\n// Check success flag\nconst successFlag = videoData.data?.successFlag;\nconst code = videoData.code;\n\nconsole.log(`API Code: ${code}`);\nconsole.log(`Success flag: ${successFlag} (0=generating, 1=success, 2/3=failed)`);\n\nif (successFlag === 1) {\n  // Success!\n  console.log('✅ Video generation complete!');\n\n  return [{\n    json: {\n      ...videoData,\n      skipVideo: false,\n      videoReady: true,\n      retryCount: 0\n    }\n  }];\n} else if (successFlag === 2 || successFlag === 3) {\n  // Failed!\n  console.log('❌ Video generation failed');\n\n  return [{\n    json: {\n      ...videoData,\n      skipVideo: true,\n      videoReady: false,\n      retryCount: 0,\n      reason: 'Video generation failed (successFlag: ' + successFlag + ')'\n    }\n  }];\n} else if (code && code !== 200) {\n  // API error\n  console.log('❌ API error: code ' + code);\n\n  return [{\n    json: {\n      ...videoData,\n      skipVideo: true,\n      videoReady: false,\n      retryCount: 0,\n      reason: 'API error: ' + (videoData.msg || 'Unknown error')\n    }\n  }];\n}\n\n// Still generating, increment counter and continue polling\nreturn [{\n  json: {\n    ...videoData,\n    skipVideo: false,\n    videoReady: false,\n    continuePolling: true,\n    retryCount: retryCount + 1\n  }\n}];"},"id":"1cc17396-7cd8-4373-b794-4872922a5b51","name":"Check Retry Count","type":"n8n-nodes-base.code","typeVersion":2,"position":[464,-96]},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"loose"},"conditions":[{"id":"video-ready","leftValue":"={{ $json.videoReady }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[688,-112],"id":"a78be623-5a60-4b5c-acb6-555e0f012b68","name":"If2","onError":"continueErrorOutput"},{"parameters":{"amount":3,"unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[912,80],"id":"d411396c-31a9-4dd2-90fc-2830a5bbad3e","name":"Wait2","webhookId":"4cf166f7-5bb8-4f22-8b3b-193ae5c4df05"}],"connections":{"Webhook":{"main":[[{"node":"Message a model","type":"main","index":0}]]},"Message a model":{"main":[[{"node":"Message a model1","type":"main","index":0}]]},"Message a model1":{"main":[[{"node":"Parse Script","type":"main","index":0}]]},"Parse Script":{"main":[[{"node":"Generate Video Kie1","type":"main","index":0}]]},"Generate Video Kie1":{"main":[[{"node":"Get Videos2","type":"main","index":0}]]},"Return TaskId Immediately":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Respond to Webhook":{"main":[[{"node":"Return Result","type":"main","index":0}]]},"Get Videos2":{"main":[[{"node":"Check Retry Count","type":"main","index":0}]]},"Check Retry Count":{"main":[[{"node":"If2","type":"main","index":0}]]},"If2":{"main":[[{"node":"Return TaskId Immediately","type":"main","index":0}],[{"node":"Wait2","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"Get Videos2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"b19256b8-771b-4a27-b268-f50bd8becc85","activeVersionId":"b19256b8-771b-4a27-b268-f50bd8becc85","versionCounter":132,"triggerCount":1,"shared":[{"updatedAt":"2025-11-23T06:41:10.479Z","createdAt":"2025-11-23T06:41:10.479Z","role":"workflow:owner","workflowId":"F0f4PtwG9FQM7ME9","projectId":"6L20DLwgKEB5r0rn","project":{"updatedAt":"2025-11-12T01:28:20.899Z","createdAt":"2025-11-12T01:28:20.899Z","id":"6L20DLwgKEB5r0rn","name":"Unnamed Project","type":"personal","icon":null,"description":null,"projectRelations":[{"updatedAt":"2025-11-12T01:28:20.899Z","createdAt":"2025-11-12T01:28:20.899Z","userId":"0b4a3251-26f6-4617-bcf9-e07f3ca968a7","projectId":"6L20DLwgKEB5r0rn","user":{"updatedAt":"2025-11-25T06:10:46.000Z","createdAt":"2025-11-12T01:28:20.421Z","id":"0b4a3251-26f6-4617-bcf9-e07f3ca968a7","email":"service@rensto.com","firstName":"Service","lastName":"Rensto","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-11-12T02:46:44.970Z","personalization_survey_n8n_version":"1.119.1","companyIndustryExtended":["marketing-industry"],"companySize":"<20","companyType":"other","role":"business-owner","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-11-25","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2025-11-25T08:26:27.245Z","createdAt":"2025-11-25T08:26:27.245Z","versionId":"b19256b8-771b-4a27-b268-f50bd8becc85","workflowId":"F0f4PtwG9FQM7ME9","nodes":[{"parameters":{"httpMethod":"POST","path":"37475351-7bc4-43b9-91f9-d233ab511cd9","responseMode":"responseNode","options":{}},"id":"51151724-ce77-4162-ad2b-bed34ac3027a","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1008,-16],"webhookId":"37475351-7bc4-43b9-91f9-d233ab511cd9"},{"parameters":{"jsCode":"const text = $input.item.json.content[0].text;\nconst match = text.match(/\\{[^{}]*\\}/s);\nif (match) {\n  try {\n    return JSON.parse(match[0]);\n  } catch (e) {}\n}\nreturn {script: text, prompt: 'Cinematic POV shot', duration: 10};"},"id":"95704211-2103-4c7a-b07a-733ac5b1edcd","name":"Parse Script","type":"n8n-nodes-base.code","typeVersion":2,"position":[-208,-16]},{"parameters":{"jsCode":"const pollResult = $json.data || $json;\nlet videoUrl = null;\nconst taskId = pollResult.taskId || $('Generate Video Kie').item.json.data.taskId;\n\n// Veo3.1 response structure: successFlag (0=generating, 1=success, 2/3=failed)\nif (pollResult.successFlag === 1 && pollResult.response?.resultUrls) {\n  videoUrl = pollResult.response.resultUrls[0] || null;\n}\n\nreturn {\n  success: pollResult.successFlag === 1,\n  videoUrl: videoUrl,\n  taskId: taskId,\n  script: $('Parse Script').item.json.script,\n  state: pollResult.successFlag === 1 ? 'success' : (pollResult.successFlag === 2 || pollResult.successFlag === 3 ? 'fail' : 'generating'),\n  message: pollResult.successFlag === 1 ? 'Video ready' : (pollResult.successFlag === 2 || pollResult.successFlag === 3 ? pollResult.errorMessage || 'Video generation failed' : 'Processing...')\n};"},"id":"9eee7b94-cd63-46cf-91bd-d626f73099a0","name":"Return Result","type":"n8n-nodes-base.code","typeVersion":2,"position":[1360,-144]},{"parameters":{"messages":{"message":[{"content":"={{ 'Analyze business at ' + $json.body.url + '. What do they do? Pain points? Target audience? Under 200 words.' }}"}]},"simplify":true,"options":{"maxTokens":500},"requestOptions":{}},"type":"n8n-nodes-base.perplexity","typeVersion":1,"position":[-784,-16],"id":"70963bf8-75fd-4fe4-b8d4-51cf3ba74901","name":"Message a model","credentials":{"perplexityApi":{"id":"k0rFDIoahsWwn398","name":"rensto"}}},{"parameters":{"modelId":{"__rl":true,"value":"claude-sonnet-4-20250514","mode":"list","cachedResultName":"claude-sonnet-4-20250514"},"messages":{"values":[{"content":"={{ 'Based on: ' + $('Message a model').item.json.text + '\\n\\nGenerate ONLY valid JSON for Veo3.1 (Oct-Nov 2025 techniques):\\n{\"script\":\"...\",\"prompt\":\"Cinematic POV with advanced camera movements (orbital rotation, dolly tracking, multi-shot scene control). Use Veo3.1 native audio generation techniques. Include realistic physics and synchronized motion. Describe camera rotation, smooth transitions, and multi-angle perspectives. Format: First-person POV with dynamic camera work.\",\"duration\":10}' }}"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.anthropic","typeVersion":1,"position":[-560,-16],"id":"f6dcb8fc-59fd-40fd-9391-04ea6580535c","name":"Message a model1","credentials":{"anthropicApi":{"id":"bOftv5dScq3IjYQQ","name":"Anthropic account"}}},{"parameters":{"jsCode":"// Return taskId immediately so frontend can start polling\nconst generateResult = $('Generate Video Kie1').item.json;\nconst taskId = generateResult.data?.taskId || generateResult.taskId;\n\nif (!taskId) {\n  throw new Error('No taskId received from Veo3.1 API');\n}\n\nreturn {\n  taskId: taskId,\n  state: 'generating',\n  message: 'Video generation started. Polling for status...',\n  script: $('Parse Script').item.json.script || ''\n};"},"id":"return-taskid-immediate","name":"Return TaskId Immediately","type":"n8n-nodes-base.code","typeVersion":2,"position":[912,-144]},{"parameters":{"method":"POST","url":"https://api.kie.ai/api/v1/veo/generate","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ { prompt: $json.prompt, model: 'veo3', aspectRatio: '16:9', enableTranslation: true } }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[16,-16],"id":"50865e61-9598-4c5b-94bc-65b5bbec92f5","name":"Generate Video Kie1","credentials":{"httpHeaderAuth":{"id":"kRI7Q7bdV9tEVPNp","name":"Kie.ai"},"googlePalmApi":{"id":"6UgFlgar0aCiXKdm","name":"Google Gemini(PaLM) Api superseller"}}},{"parameters":{"respondWith":"json","responseBody":"={{ $json }}","options":{}},"id":"respond-to-webhook-auto","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[1136,-144]},{"parameters":{"url":"=https://api.kie.ai/api/v1/veo/record-info?taskId={{ $json.data.taskId }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[240,-16],"id":"98c710a8-dfc3-4577-9fac-ab04a8543ef1","name":"Get Videos2","credentials":{"httpHeaderAuth":{"id":"kRI7Q7bdV9tEVPNp","name":"Kie.ai"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"// Track how many times we've polled for video status\n// Skip video if it takes longer than 30 minutes (10 retries)\n\nconst videoData = $input.first().json;\nconst MAX_RETRIES = 10; // 10 * 3 minutes = 30 minutes max\n\n// Get retry count from the data itself (passed through the loop)\nconst retryCount = videoData.retryCount || 0;\n\nconsole.log(`Video polling attempt: ${retryCount + 1}/${MAX_RETRIES}`);\nconsole.log('Video data:', JSON.stringify(videoData, null, 2));\n\n// Check if we've exceeded max retries\nif (retryCount >= MAX_RETRIES) {\n  console.log('⚠️  Max retries reached, skipping video');\n\n  return [{\n    json: {\n      skipVideo: true,\n      videoReady: false,\n      retryCount: 0,\n      reason: 'Video generation timeout after 30 minutes',\n      data: videoData.data || {}\n    }\n  }];\n}\n\n// Check success flag\nconst successFlag = videoData.data?.successFlag;\nconst code = videoData.code;\n\nconsole.log(`API Code: ${code}`);\nconsole.log(`Success flag: ${successFlag} (0=generating, 1=success, 2/3=failed)`);\n\nif (successFlag === 1) {\n  // Success!\n  console.log('✅ Video generation complete!');\n\n  return [{\n    json: {\n      ...videoData,\n      skipVideo: false,\n      videoReady: true,\n      retryCount: 0\n    }\n  }];\n} else if (successFlag === 2 || successFlag === 3) {\n  // Failed!\n  console.log('❌ Video generation failed');\n\n  return [{\n    json: {\n      ...videoData,\n      skipVideo: true,\n      videoReady: false,\n      retryCount: 0,\n      reason: 'Video generation failed (successFlag: ' + successFlag + ')'\n    }\n  }];\n} else if (code && code !== 200) {\n  // API error\n  console.log('❌ API error: code ' + code);\n\n  return [{\n    json: {\n      ...videoData,\n      skipVideo: true,\n      videoReady: false,\n      retryCount: 0,\n      reason: 'API error: ' + (videoData.msg || 'Unknown error')\n    }\n  }];\n}\n\n// Still generating, increment counter and continue polling\nreturn [{\n  json: {\n    ...videoData,\n    skipVideo: false,\n    videoReady: false,\n    continuePolling: true,\n    retryCount: retryCount + 1\n  }\n}];"},"id":"1cc17396-7cd8-4373-b794-4872922a5b51","name":"Check Retry Count","type":"n8n-nodes-base.code","typeVersion":2,"position":[464,-96]},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"loose"},"conditions":[{"id":"video-ready","leftValue":"={{ $json.videoReady }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[688,-112],"id":"a78be623-5a60-4b5c-acb6-555e0f012b68","name":"If2","onError":"continueErrorOutput"},{"parameters":{"amount":3,"unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[912,80],"id":"d411396c-31a9-4dd2-90fc-2830a5bbad3e","name":"Wait2","webhookId":"4cf166f7-5bb8-4f22-8b3b-193ae5c4df05"}],"connections":{"Webhook":{"main":[[{"node":"Message a model","type":"main","index":0}]]},"Message a model":{"main":[[{"node":"Message a model1","type":"main","index":0}]]},"Message a model1":{"main":[[{"node":"Parse Script","type":"main","index":0}]]},"Parse Script":{"main":[[{"node":"Generate Video Kie1","type":"main","index":0}]]},"Generate Video Kie1":{"main":[[{"node":"Get Videos2","type":"main","index":0}]]},"Return TaskId Immediately":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Respond to Webhook":{"main":[[{"node":"Return Result","type":"main","index":0}]]},"Get Videos2":{"main":[[{"node":"Check Retry Count","type":"main","index":0}]]},"Check Retry Count":{"main":[[{"node":"If2","type":"main","index":0}]]},"If2":{"main":[[{"node":"Return TaskId Immediately","type":"main","index":0}],[{"node":"Wait2","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"Get Videos2","type":"main","index":0}]]}},"authors":"Service Rensto","name":null,"description":null}}