workflow_broken.json
{"updatedAt":"2025-11-25T05:29:44.709Z","createdAt":"2025-11-23T06:41:10.475Z","id":"F0f4PtwG9FQM7ME9","name":"Cinematic Pitch Engine","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"37475351-7bc4-43b9-91f9-d233ab511cd9","responseMode":"responseNode","options":{}},"id":"51151724-ce77-4162-ad2b-bed34ac3027a","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1008,96],"webhookId":"37475351-7bc4-43b9-91f9-d233ab511cd9"},{"parameters":{"jsCode":"const text = $input.item.json.content[0].text;\nconst match = text.match(/\\{[^{}]*\\}/s);\nif (match) {\n  try {\n    return JSON.parse(match[0]);\n  } catch (e) {}\n}\nreturn {script: text, prompt: 'Cinematic POV shot', duration: 10};"},"id":"95704211-2103-4c7a-b07a-733ac5b1edcd","name":"Parse Script","type":"n8n-nodes-base.code","typeVersion":2,"position":[-208,96]},{"parameters":{"amount":20},"id":"7d4c4e83-d093-441d-b9f5-56621e42a873","name":"Wait 20s","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[688,96],"webhookId":"49c5f0fe-48f8-4da7-ab10-fa8b388102cd"},{"parameters":{"jsCode":"const pollResult = $json.data || $json;\nlet videoUrl = null;\nconst taskId = pollResult.taskId || $('Generate Video Kie').item.json.data.taskId;\n\n// Veo3.1 response structure: successFlag (0=generating, 1=success, 2/3=failed)\nif (pollResult.successFlag === 1 && pollResult.response?.resultUrls) {\n  videoUrl = pollResult.response.resultUrls[0] || null;\n}\n\nreturn {\n  success: pollResult.successFlag === 1,\n  videoUrl: videoUrl,\n  taskId: taskId,\n  script: $('Parse Script').item.json.script,\n  state: pollResult.successFlag === 1 ? 'success' : (pollResult.successFlag === 2 || pollResult.successFlag === 3 ? 'fail' : 'generating'),\n  message: pollResult.successFlag === 1 ? 'Video ready' : (pollResult.successFlag === 2 || pollResult.successFlag === 3 ? pollResult.errorMessage || 'Video generation failed' : 'Processing...')\n};"},"id":"9eee7b94-cd63-46cf-91bd-d626f73099a0","name":"Return Result","type":"n8n-nodes-base.code","typeVersion":2,"position":[1360,-144]},{"parameters":{"messages":{"message":[{"content":"={{ 'Analyze business at ' + $json.body.url + '. What do they do? Pain points? Target audience? Under 200 words.' }}"}]},"simplify":true,"options":{"maxTokens":500},"requestOptions":{}},"type":"n8n-nodes-base.perplexity","typeVersion":1,"position":[-784,96],"id":"70963bf8-75fd-4fe4-b8d4-51cf3ba74901","name":"Message a model","credentials":{"perplexityApi":{"id":"k0rFDIoahsWwn398","name":"rensto"}}},{"parameters":{"modelId":{"__rl":true,"value":"claude-sonnet-4-20250514","mode":"list","cachedResultName":"claude-sonnet-4-20250514"},"messages":{"values":[{"content":"={{ 'Based on: ' + $('Message a model').item.json.text + '\\n\\nGenerate ONLY valid JSON for Veo3.1 (Oct-Nov 2025 techniques):\\n{\"script\":\"...\",\"prompt\":\"Cinematic POV with advanced camera movements (orbital rotation, dolly tracking, multi-shot scene control). Use Veo3.1 native audio generation techniques. Include realistic physics and synchronized motion. Describe camera rotation, smooth transitions, and multi-angle perspectives. Format: First-person POV with dynamic camera work.\",\"duration\":10}' }}"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.anthropic","typeVersion":1,"position":[-560,96],"id":"f6dcb8fc-59fd-40fd-9391-04ea6580535c","name":"Message a model1","credentials":{"anthropicApi":{"id":"bOftv5dScq3IjYQQ","name":"Anthropic account"}}},{"parameters":{"conditions":{"conditions":[{"id":"state-success","leftValue":"={{ ($json.data || $json).successFlag }}","rightValue":1,"operator":{"type":"number","operation":"equals"}},{"id":"state-fail","leftValue":"={{ ($json.data || $json).successFlag }}","rightValue":2,"operator":{"type":"number","operation":"equals"}}]},"options":{}},"id":"check-video-state","name":"Check Video State","type":"n8n-nodes-base.if","typeVersion":2,"position":[1136,-24]},{"parameters":{"amount":10},"id":"wait-10s-loop","name":"Wait 10s Loop","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1360,48],"webhookId":"22bdcd43-2c78-46b7-983d-e5094fc66aa7"},{"parameters":{"jsCode":"// Return taskId immediately so frontend can start polling\nconst generateResult = $('Generate Video Kie1').item.json;\nconst taskId = generateResult.data?.taskId || generateResult.taskId;\n\nif (!taskId) {\n  throw new Error('No taskId received from Veo3.1 API');\n}\n\nreturn {\n  taskId: taskId,\n  state: 'generating',\n  message: 'Video generation started. Polling for status...',\n  script: $('Parse Script').item.json.script || ''\n};"},"id":"return-taskid-immediate","name":"Return TaskId Immediately","type":"n8n-nodes-base.code","typeVersion":2,"position":[240,96]},{"parameters":{"url":"https://api.kie.ai/api/v1/veo/record-info","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[912,96],"id":"0d5c9502-8032-430f-8ca2-8fc351f428d3","name":"Poll Video Status1","credentials":{"httpHeaderAuth":{"id":"kRI7Q7bdV9tEVPNp","name":"Kie.ai"}}},{"parameters":{"url":"https://api.kie.ai/api/v1/veo/generate","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({\n  prompt: $json.prompt,\n  model: 'veo3_fast',\n  generationType: 'TEXT_2_VIDEO',\n  aspectRatio: '16:9',\n  enableTranslation: true,\n  watermark: ''\n}) }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[16,96],"id":"50865e61-9598-4c5b-94bc-65b5bbec92f5","name":"Generate Video Kie1","credentials":{"httpHeaderAuth":{"id":"kRI7Q7bdV9tEVPNp","name":"Kie.ai"}}},{"parameters":{"respondWith":"json","responseBody":"={ \"perplexity_output\": $json.content, \"state\": \"generating\" }","options":{}},"id":"respond-to-webhook-auto","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[464,96]}],"connections":{"Webhook":{"main":[[{"node":"Message a model","type":"main","index":0}]]},"Message a model":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"4fe10e23-63cb-49e5-b62b-5c360f25aaf2","versionCounter":114,"triggerCount":1,"shared":[{"updatedAt":"2025-11-23T06:41:10.479Z","createdAt":"2025-11-23T06:41:10.479Z","role":"workflow:owner","workflowId":"F0f4PtwG9FQM7ME9","projectId":"6L20DLwgKEB5r0rn","project":{"updatedAt":"2025-11-12T01:28:20.899Z","createdAt":"2025-11-12T01:28:20.899Z","id":"6L20DLwgKEB5r0rn","name":"Unnamed Project","type":"personal","icon":null,"description":null,"projectRelations":[{"updatedAt":"2025-11-12T01:28:20.899Z","createdAt":"2025-11-12T01:28:20.899Z","userId":"0b4a3251-26f6-4617-bcf9-e07f3ca968a7","projectId":"6L20DLwgKEB5r0rn","user":{"updatedAt":"2025-11-25T05:00:42.000Z","createdAt":"2025-11-12T01:28:20.421Z","id":"0b4a3251-26f6-4617-bcf9-e07f3ca968a7","email":"service@rensto.com","firstName":"Service","lastName":"Rensto","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-11-12T02:46:44.970Z","personalization_survey_n8n_version":"1.119.1","companyIndustryExtended":["marketing-industry"],"companySize":"<20","companyType":"other","role":"business-owner","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-11-25","isPending":false}}]}}],"tags":[]}