workflows/agents/conti-growth-agent-v2.json
{
    "name": "CON-GROW-001: Conti Growth Agent v2",
    "nodes": [
        {
            "parameters": {
                "updates": [
                    "message"
                ],
                "additionalFields": {}
            },
            "id": "telegram-trigger",
            "name": "Telegram - New Request",
            "type": "n8n-nodes-base.telegramTrigger",
            "typeVersion": 1.2,
            "position": [
                0,
                0
            ],
            "webhookId": "conti-telegram-v2"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.apify.com/v2/acts/karamelo~youtube-transcripts/run-sync-get-dataset-items",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "Bearer apify_api_SMA1HfBPNRoiTqqPEKdA0NwfsdQilM17Nb2X"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n    \"videoUrls\": [\"{{ $json.message.text }}\"],\n    \"maxRetries\": 3\n}",
                "options": {}
            },
            "id": "apify-node",
            "name": "Apify - YouTube Transcript",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.3,
            "position": [
                300,
                0
            ]
        },
        {
            "parameters": {
                "model": "claude-3-5-sonnet-latest",
                "prompt": "Analyze this YouTube transcript and generate:\n1. A viral summary (Hebrew/English based on input)\n2. 3 psychological hooks for WhatsApp promotion\n\nTranscript: {{ $json.text }}",
                "options": {}
            },
            "id": "ai-node",
            "name": "Anthropic - Content Engine",
            "type": "n8n-nodes-base.anthropic",
            "typeVersion": 1,
            "position": [
                600,
                0
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://172.245.56.50:3000/api/sendText",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Accept",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n    \"chatId\": \"{{ $node[\"Telegram - New Request\"].first().json.message.chat.id }}@c.us\",\n    \"text\": \"{{ $json.content }}\",\n    \"session\": \"default\"\n}",
                "options": {}
            },
            "id": "waha-node",
            "name": "WAHA - WhatsApp Send",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.3,
            "position": [
                900,
                0
            ],
            "notes": "WAHA Pro endpoint for WhatsApp distribution"
        }
    ],
    "connections": {
        "Telegram - New Request": {
            "main": [
                [
                    {
                        "node": "Apify - YouTube Transcript",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Apify - YouTube Transcript": {
            "main": [
                [
                    {
                        "node": "Anthropic - Content Engine",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Anthropic - Content Engine": {
            "main": [
                [
                    {
                        "node": "WAHA - WhatsApp Send",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1",
        "availableInMCP": true
    }
}