workflows/agents/finny-profit-agent-v2.json
{
    "name": "FIN-PROFIT-001: Finny Financials Agent v2",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "GET",
                "path": "finny/report",
                "responseMode": "onReceived",
                "options": {}
            },
            "id": "webhook-trigger",
            "name": "Webhook - Trigger Report",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2.1,
            "position": [
                0,
                0
            ],
            "webhookId": "finny-report-trigger-v2"
        },
        {
            "parameters": {
                "resource": "paymentIntent",
                "operation": "list",
                "limit": 50,
                "filters": {
                    "customer": "={{ $json.query.stripeCustomerId }}"
                }
            },
            "id": "stripe-node",
            "name": "Stripe - Get Payments",
            "type": "n8n-nodes-base.stripe",
            "typeVersion": 1,
            "position": [
                250,
                -100
            ],
            "credentials": {
                "stripeApi": {
                    "id": "B9WHEOJGtVQ2KJdv",
                    "name": "Rensto Primary"
                }
            }
        },
        {
            "parameters": {
                "resource": "report",
                "operation": "get",
                "reportName": "ProfitAndLoss",
                "options": {
                    "summarize_column_by": "Month",
                    "start_date": "={{ $json.query.startDate || '2026-01-01' }}",
                    "end_date": "={{ $json.query.endDate || '2026-01-31' }}"
                }
            },
            "id": "qb-node",
            "name": "QuickBooks - Get P&L",
            "type": "n8n-nodes-base.quickbooks",
            "typeVersion": 1,
            "position": [
                250,
                100
            ],
            "credentials": {
                "quickbooksOAuth2Api": {
                    "id": "d15JMAyxpZ1Lfm7e",
                    "name": "Rensto QuickBooks"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// Aggregate Revenue from Stripe and Expenses from QB\nconst stripePayments = $node[\"Stripe - Get Payments\"].all();\nconst qbReport = $node[\"QuickBooks - Get P&L\"].all();\nconst query = $node[\"Webhook - Trigger Report\"].first().json.query;\n\n// Calculate total revenue from payment intents\nconst totalRevenue = stripePayments.reduce((sum, item) => {\n  return sum + (item.json.amount_received / 100);\n}, 0);\n\n// Extract Net Income from QB Report (simplified parsing)\n// Note: QB Reports have complex nested structures, this is a placeholder for actual Row data extraction\nconst netIncome = qbReport[0]?.json?.Rows?.Row?.find(r => r.type === 'Section' && r.Title === 'Net Income')?.Summary?.ColData[1]?.value || 0;\n\nreturn [{\n  json: {\n    customerId: query.customerId,\n    totalRevenue,\n    netIncome: parseFloat(netIncome),\n    timestamp: new Date().toISOString(),\n    status: totalRevenue > 0 ? 'Healthy' : 'Check Billing'\n  }\n}];"
            },
            "id": "aggregate-logic",
            "name": "Aggregate Financial Metrics",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                500,
                0
            ]
        },
        {
            "parameters": {
                "operation": "upsert",
                "collection": "analytics",
                "documentId": "={{ $json.customerId }}_finance",
                "columns": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "rev": "={{ $json.totalRevenue }}",
                        "net": "={{ $json.netIncome }}",
                        "score": "={{ $json.status }}",
                        "lastUpdate": "={{ $json.timestamp }}"
                    }
                }
            },
            "id": "firestore-node",
            "name": "Firestore - Save Analytics",
            "type": "n8n-nodes-base.firebaseCloudFirestore",
            "typeVersion": 1.1,
            "position": [
                750,
                0
            ],
            "credentials": {
                "firebaseCloudFirestoreApi": {
                    "id": "firestore-creds",
                    "name": "Rensto Firestore"
                }
            }
        }
    ],
    "connections": {
        "Webhook - Trigger Report": {
            "main": [
                [
                    {
                        "node": "Stripe - Get Payments",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "QuickBooks - Get P&L",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Stripe - Get Payments": {
            "main": [
                [
                    {
                        "node": "Aggregate Financial Metrics",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "QuickBooks - Get P&L": {
            "main": [
                [
                    {
                        "node": "Aggregate Financial Metrics",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Aggregate Financial Metrics": {
            "main": [
                [
                    {
                        "node": "Firestore - Save Analytics",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1",
        "availableInMCP": true
    }
}