Customers/ben-ginati/02-workflows/Tax4Us-Podcast-Agent.json
{
    "name": "Tax4Us Podcast Agent",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "tax4us-podcast-agent",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "webhook-trigger",
            "name": "Podcast Agent Trigger",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                240,
                300
            ]
        },
        {
            "parameters": {
                "jsCode": "// Tax4Us Podcast Agent - Input Processing\nconst input = $input.first().json;\n\n// Validate required fields\nconst required = ['topic', 'duration', 'platform'];\nconst missing = required.filter(field => !input[field]);\nif (missing.length > 0) {\n  throw new Error('Missing required fields: ' + missing.join(', '));\n}\n\n// Process podcast request\nconst podcastData = {\n  topic: input.topic,\n  duration: input.duration || '15 minutes',\n  platform: input.platform || 'captivate',\n  targetAudience: input.targetAudience || 'Israeli business owners',\n  language: input.language || 'hebrew',\n  episodeType: input.episodeType || 'educational',\n  timestamp: new Date().toISOString(),\n  status: 'processing'\n};\n\nreturn {\n  json: {\n    ...podcastData,\n    message: 'Podcast request processed successfully',\n    nextStep: 'script_generation'\n  }\n};"
            },
            "id": "process-request",
            "name": "Process Podcast Request",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                460,
                300
            ]
        },
        {
            "parameters": {
                "model": "gpt-4o-2024-11-20",
                "prompt": "Create a comprehensive podcast script for Tax4Us based on the following specifications:\n\nTopic: {{ $json.topic }}\nDuration: {{ $json.duration }}\nTarget Audience: {{ $json.targetAudience }}\nLanguage: {{ $json.language }}\nEpisode Type: {{ $json.episodeType }}\n\nRequirements:\n1. Create a professional, engaging script\n2. Include introduction, main content, and conclusion\n3. Add natural speaking transitions\n4. Include call-to-action for Tax4Us services\n5. Optimize for the specified duration\n6. Use appropriate tone for the target audience\n7. Include relevant examples and case studies\n\nFormat the output with clear sections and timing markers.",
                "options": {
                    "temperature": 0.7,
                    "maxTokens": 3000
                }
            },
            "id": "generate-script",
            "name": "Generate Podcast Script",
            "type": "n8n-nodes-base.openAi",
            "typeVersion": 1,
            "position": [
                680,
                300
            ]
        },
        {
            "parameters": {
                "model": "gpt-4o-2024-11-20",
                "prompt": "Create show notes for the following podcast script:\n\nScript: {{ $('Generate Podcast Script').item.json.text }}\nTopic: {{ $json.topic }}\n\nRequirements:\n1. Create engaging show notes\n2. Include key takeaways\n3. Add relevant links and resources\n4. Include episode summary\n5. Add hashtags for social media\n6. Include guest information if applicable\n7. Add call-to-action\n\nFormat as markdown with clear sections.",
                "options": {
                    "temperature": 0.6,
                    "maxTokens": 1500
                }
            },
            "id": "generate-show-notes",
            "name": "Generate Show Notes",
            "type": "n8n-nodes-base.openAi",
            "typeVersion": 1,
            "position": [
                900,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.captivate.fm/v1/shows",
                "authentication": "httpHeaderAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "title",
                            "value": "={{ $json.topic }}"
                        },
                        {
                            "name": "description",
                            "value": "={{ $('Generate Show Notes').item.json.text }}"
                        },
                        {
                            "name": "status",
                            "value": "draft"
                        }
                    ]
                },
                "options": {}
            },
            "id": "create-captivate-episode",
            "name": "Create Captivate.fm Episode",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                1120,
                300
            ]
        },
        {
            "parameters": {
                "jsCode": "// Log successful podcast creation\nconst results = $input.all();\nconsole.log('Tax4Us Podcast Agent Results:');\n\nlet summary = {\n  podcastRequest: $json,\n  script: $('Generate Podcast Script').item.json.text,\n  showNotes: $('Generate Show Notes').item.json.text,\n  captivateResponse: $('Create Captivate.fm Episode').item.json,\n  timestamp: new Date().toISOString()\n};\n\nconsole.log('✅ Podcast episode created successfully!');\nconsole.log(`📝 Topic: ${summary.podcastRequest.topic}`);\nconsole.log(`⏱️ Duration: ${summary.podcastRequest.duration}`);\nconsole.log(`📊 Script Length: ${summary.script.length} characters`);\n\nreturn {\n  json: {\n    message: 'Podcast episode created and uploaded to Captivate.fm successfully!',\n    summary,\n    status: 'success',\n    nextSteps: [\n      'Episode is now in Captivate.fm as draft',\n      'Review and publish manually',\n      'Distribute to Apple Podcasts and Spotify',\n      'Ready for next podcast request'\n    ]\n  }\n};"
            },
            "id": "log-success",
            "name": "Log Success & Summary",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1340,
                300
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ $json }}",
                "options": {
                    "responseHeaders": {
                        "parameters": [
                            {
                                "name": "Content-Type",
                                "value": "application/json"
                            }
                        ]
                    }
                }
            },
            "id": "respond",
            "name": "Respond",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                1560,
                300
            ]
        }
    ],
    "connections": {
        "Podcast Agent Trigger": {
            "main": [
                [
                    {
                        "node": "Process Podcast Request",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Process Podcast Request": {
            "main": [
                [
                    {
                        "node": "Generate Podcast Script",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Generate Podcast Script": {
            "main": [
                [
                    {
                        "node": "Generate Show Notes",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Generate Show Notes": {
            "main": [
                [
                    {
                        "node": "Create Captivate.fm Episode",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Create Captivate.fm Episode": {
            "main": [
                [
                    {
                        "node": "Log Success & Summary",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Log Success & Summary": {
            "main": [
                [
                    {
                        "node": "Respond",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    },
    "active": true
}