workflows/n8n-references/03-shelly-n8n-references/workflows/My workflow 3-2.json
{
  "name": "My workflow 3",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "family-insurance",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "00021f52-af5c-4c7f-9727-a0ad9b3019e9",
      "name": "🔗 טריגר Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1920,
        288
      ],
      "webhookId": "5da233d9-de45-4f31-b5dc-8996444d708e",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "fieldToSplitOut": "body,data,members",
        "include": "allOtherFields",
        "options": {
          "disableDotNotation": false,
          "includeBinary": false
        }
      },
      "id": "7dcd4b20-fc4c-4bca-a999-35502d283e01",
      "name": "👨‍👩‍👧‍👦 פיצול חברי משפחה",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3.1,
      "position": [
        -1696,
        288
      ]
    },
    {
      "parameters": {
        "instructions": "Transform family insurance data: Clean phone numbers to Israeli format +972-XX-XXX-XXXX, calculate data completeness percentage, standardize monetary values to NIS, add defaults for missing fields, generate familyId if missing, validate phone numbers, calculate dataQuality score",
        "jsCode": "// Transform family insurance data\nconst items = $input.all();\nconst transformedItems = [];\n\nfor (const item of items) {\n  const data = item.json.body || item.json;\n  \n  // Calculate data completeness percentage\n  const fields = ['firstName', 'lastName', 'age', 'city', 'email', 'phone', 'income', 'profession'];\n  const filledFields = fields.filter(field => data[field] && data[field] !== null && data[field] !== '');\n  const dataCompleteness = Math.round((filledFields.length / fields.length) * 100);\n  \n  // Clean and transform the data\n  const transformed = {\n    ...data,\n    // Clean phone numbers to Israeli format\n    phone: data.phone ? data.phone.replace(/[^0-9]/g, '').replace(/^0/, '+972-') : null,\n    \n    // Standardize monetary values to NIS\n    income: data.income ? parseFloat(data.income.toString().replace(/[^0-9.]/g, '')) : 0,\n    \n    // Add defaults for missing fields\n    familyId: data.familyId || `family_${Date.now()}_${Math.random().toString(36).substr(2, 9)}`,\n    familySize: data.familySize || 1,\n    \n    // Validate phone numbers\n    phoneValidated: data.phone ? /^\\+972-[0-9]{2}-[0-9]{3}-[0-9]{4}$/.test(data.phone.replace(/[^0-9]/g, '').replace(/^0/, '+972-')) : false,\n    \n    // Calculate data quality score\n    dataQuality: dataCompleteness,\n    \n    // Add timestamp\n    processedAt: new Date().toISOString()\n  };\n  \n  transformedItems.push({ json: transformed });\n}\n\nreturn transformedItems;"
      },
      "id": "9d8b326d-9116-4120-8b1e-b316bec41df9",
      "name": "🤖 עיבוד נתונים ב-AI",
      "type": "n8n-nodes-base.aiTransform",
      "typeVersion": 1,
      "position": [
        -1472,
        288
      ]
    },
    {
      "parameters": {
        "inputText": "={{ JSON.stringify($json) }}",
        "categories": {
          "categories": [
            {
              "category": "high_risk",
              "description": "משפחות בסיכון גבוה עם צרכי ביטוח משמעותיים - משפחות עם הכנסה גבוהה, משכנתא גדולה, מספר ילדים רב, או מקצועות בסיכון"
            },
            {
              "category": "medium_risk",
              "description": "משפחות בסיכון בינוני עם צרכי ביטוח מתונים - משפחות עם הכנסה בינונית, משכנתא בינונית, מספר ילדים בינוני, או מקצועות בסיכון בינוני"
            },
            {
              "category": "low_risk",
              "description": "משפחות בסיכון נמוך עם צרכי ביטוח בסיסיים - משפחות עם הכנסה נמוכה, משכנתא קטנה או ללא משכנתא, מספר ילדים קטן, או מקצועות בסיכון נמוך"
            }
          ]
        },
        "options": {
          "multiClass": false,
          "fallback": "other",
          "systemPromptTemplate": "נתח את הנתונים המשפחתיים הבאים וסווג אותם לפי רמת הסיכון הביטוחי. השתמש בקטגוריות הבאות: {categories}. החזר רק JSON ללא הסברים. אם הנתונים לא מתאימים לאף קטגוריה, השתמש בקטגוריית \"other\".",
          "enableAutoFixing": true
        }
      },
      "id": "0242941a-0846-4a71-b1c6-a6a3bd18bb06",
      "name": "⚖️ סיווג רמת סיכון",
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        -1248,
        288
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=נתח את פרופיל הביטוח הבא וצור מסמך מקצועי מקיף:\n\n=== נתונים דמוגרפיים ===\nמזהה משפחה: {{ $json.familyId }}\nשם מלא: {{ $json.fullName }}\nגיל: {{ $json.age }}\nעיר: {{ $json.city }}\nאימייל: {{ $json.email }}\nטלפון: {{ $json.phone }}\nהכנסה: {{ $json.income }} ש\"ח\nמקצוע: {{ $json.profession }}\nגודל משפחה: {{ $json.familySize }}\nכתובת: {{ $json.street }}\nמיקוד: {{ $json.postalCode }}\nסטטוס משפחתי: {{ $json.maritalStatusCollection.description }}\n\n=== נתוני צבירה פיננסית (Trom Stats) ===\nצבירה כוללת: {{ $json.tzvira }} ש\"ח\nצבירה פנסיונית: {{ $json.tzviraPensia }} ש\"ח\nצבירה בקופת גמל: {{ $json.tzviraGemel }} ש\"ח\nצבירה בקרן השתלמות: {{ $json.tzviraHishtalmut }} ש\"ח\nהפקדות חודשיות: {{ $json.hafkadot }} ש\"ח\nתשואה שנתית: {{ $json.avgNetReturnPercentStartYear }}%\n\n=== סטטוס כיסוי ביטוחי ===\nביטוח חיים: {{ $json.kayamHaim }}\nביטוח בריאות: {{ $json.kayamBriut }}\nביטוח אובדן כושר עבודה: {{ $json.kayamTeunotIshiot }}\nתמיכה כספית: {{ $json.kayamSiudi }}\nפרמיות נוכחיות: {{ $json.premia }} ש\"ח\n\n=== קיצבות מוקרנות ===\nקיצבה חודשית: {{ $json.kitzbaHazuyaKolelHafkadot }} ש\"ח\nקיצבת בן/בת זוג: {{ $json.kitzbaNehut }} ש\"ח\nקיצבת אלמן/ה: {{ $json.kitzbaLealman }} ש\"ח\nקיצבת יתומים: {{ $json.kitzbaLeyetom }} ש\"ח\n\n=== נתונים מעובדים ===\nתאריך עיבוד: {{ $json.processedAt }}\nאיכות נתונים: {{ $json.dataQuality }}%\nטלפון מאומת: {{ $json.phoneValidated }}\nסטטוס ליד: {{ $json.statusName }}\n\nצור את המסמכים הבאים:\n\n**1. פרופיל אישי** (בפורמט Excel-like):\n<SHEET>\nתעודת זהות: {{ $json.ID_Number }}\nענף ראשי: [נתח מהנתונים]\nענף משני: [נתח מהנתונים]\nסוג מוצר: [נתח מהנתונים]\nחברה: [נתח מהנתונים]\nתקופת ביטוח: [נתח מהנתונים]\nפרטים נוספים: [נתח מהנתונים]\nפרמיה בש\"ח: {{ $json.premia }}\nסוג פרמיה: [נתח מהנתונים]\nמספר פוליסה: [נתח מהנתונים]\nסיווג תכנית: [נתח מהנתונים]\n</SHEET>\n\n**2. פרופיל משפחתי משולב**:\nפרופיל ביטוחי משפחת {{ $json.fullName }}\n- חברה: [נתח מהנתונים]\n- סיווג תכנית: [נתח מהנתונים]\n- מספר פוליסה: [נתח מהנתונים]\n- תקופת ביטוח: [נתח מהנתונים]\n- שם המבוטח: {{ $json.fullName }}\n- ענף משני: [נתח מהנתונים]\n- סכום הביטוח: [נתח מהנתונים]\n- פרמיה בש\"ח: {{ $json.premia }}\n\n**3. המלצות מכירה מותאמות AI**:\nנתח פערי כיסוי והצע 3-5 מוצרים ספציפיים מחברות ביטוח ישראליות מובילות (הראל, מגדל, מנורה) עם הצדקה מבוססת נתוני טרום.\n\nכלול:\n- ניתוח פערי כיסוי\n- המלצות מוצרים ספציפיות\n- סקריפט מכירות בעברית/אנגלית\n- הזדמנויות upsell\n- הדגשת סיכונים\n- צעדים הבאים\n\nהשתמש בעברית לתוכן הגיליונות ובאנגלית לניתוח.",
        "options": {
          "systemMessage": "אתה מומחה לביטוח משפחתי. נתח את הנתונים המשפחתיים וספק המלצות מקצועיות מפורטות בעברית."
        }
      },
      "id": "4d991a71-8ec6-4510-a45c-27179f79f373",
      "name": "🔍 ניתוח פרופיל ביטוח",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -896,
        288
      ]
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "output",
        "binaryPropertyName": "file",
        "options": {
          "fileName": "insurance_profiles_{{ new Date().getTime() }}.md"
        }
      },
      "id": "0695d416-fb8d-4cdb-8338-c82007449be5",
      "name": "📄 המרה לקובץ",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -544,
        288
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "success",
              "name": "success",
              "value": "true",
              "type": "boolean"
            },
            {
              "id": "familyProfiles",
              "name": "familyProfiles",
              "value": "={{ $json.families || $json.familyProfiles || [] }}",
              "type": "array"
            },
            {
              "id": "generatedFiles",
              "name": "generatedFiles",
              "value": "={{ $binary.file ? [{ fileName: $binary.file.fileName, mimeType: $binary.file.mimeType, size: $binary.file.fileSize }] : [] }}",
              "type": "array"
            },
            {
              "id": "summary",
              "name": "summary",
              "value": "={{ {\n  totalFamilies: ($json.families || []).length,\n  totalPeople: ($json.families || []).reduce((s,f)=>s + (f.familySize||0), 0),\n  validPhones: ($json.families || []).filter(f => f.phoneValidated).length,\n  dataQuality: Math.round(($json.families || []).reduce((s,f)=>s + (f.dataQuality||0), 0) / Math.max(($json.families || []).length, 1)),\n  filesGenerated: $binary.file ? 1 : 0,\n  riskDistribution: {\n    high_risk: ($json.families || []).filter(f => f.category === 'high_risk').length,\n    medium_risk: ($json.families || []).filter(f => f.category === 'medium_risk').length,\n    low_risk: ($json.families || []).filter(f => f.category === 'low_risk').length,\n    other: ($json.families || []).filter(f => f.category === 'other').length\n  }\n} }}",
              "type": "object"
            },
            {
              "id": "message",
              "name": "message",
              "value": "{{ (() => { const f = ($json.families || []); const tf = f.length; const tp = f.reduce((s,x)=>s+(x.familySize||0),0); const vp = f.filter(x => x.phoneValidated).length; const files = $binary.file ? 1 : 0; const rd = $json.summary?.riskDistribution || {}; return 'פרופילי משפחה עובדו בהצלחה - ' + tf + ' משפחות ו-' + tp + ' אנשים עובדו. ' + vp + ' מספרי טלפון תקינים. ' + files + ' קבצי פרופיל ביטוח נוצרו. חלוקת סיכון: ' + (rd.high_risk||0) + ' גבוה, ' + (rd.medium_risk||0) + ' בינוני, ' + (rd.low_risk||0) + ' נמוך, ' + (rd.other||0) + ' אחר.'; })() }}",
              "type": "string"
            },
            {
              "id": "timestamp",
              "name": "timestamp",
              "value": "={{ new Date().toISOString() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "6e4bca27-c957-41a5-8576-c8f8e777891d",
      "name": "📋 בניית תגובה סופית",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -320,
        288
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "78719b92-8406-4565-9f97-824281e54757",
      "name": "📤 תגובת Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -96,
        288
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hook.us2.make.com/iuptqtm9mcgy5nnwpw86b9kg3o6o1h8w",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {
          "redirect": {
            "redirect": {
              "maxRedirects": 5
            }
          },
          "timeout": 30000
        }
      },
      "id": "35c2a93a-4577-4c95-b463-57aa64261cc5",
      "name": "🔄 קריאה ל-Make.com - מעבד פעולות",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -96,
        480
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hook.us2.make.com/xy5hisxpbyd4wucio7jcwvlofsjmpoqg",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {
          "redirect": {
            "redirect": {
              "maxRedirects": 5
            }
          },
          "timeout": 30000
        }
      },
      "id": "d327d700-2e01-449f-8f34-49c57aebf012",
      "name": "🔄 קריאה ל-Make.com - איסוף נתונים",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -96,
        96
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1176,
        576
      ],
      "id": "f76d6fe8-7bba-4818-9121-c5dcc1520382",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "NbN9fufTqIImGzWK",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -824,
        512
      ],
      "id": "8d40b1f0-7242-4442-b414-21a0b2899505",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "NbN9fufTqIImGzWK",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "🔗 טריגר Webhook": {
      "main": [
        [
          {
            "node": "👨‍👩‍👧‍👦 פיצול חברי משפחה",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "👨‍👩‍👧‍👦 פיצול חברי משפחה": {
      "main": [
        [
          {
            "node": "🤖 עיבוד נתונים ב-AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🤖 עיבוד נתונים ב-AI": {
      "main": [
        [
          {
            "node": "⚖️ סיווג רמת סיכון",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⚖️ סיווג רמת סיכון": {
      "main": [
        [
          {
            "node": "🔍 ניתוח פרופיל ביטוח",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "🔍 ניתוח פרופיל ביטוח",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "🔍 ניתוח פרופיל ביטוח",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "🔍 ניתוח פרופיל ביטוח",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔍 ניתוח פרופיל ביטוח": {
      "main": [
        [
          {
            "node": "📄 המרה לקובץ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📄 המרה לקובץ": {
      "main": [
        [
          {
            "node": "📋 בניית תגובה סופית",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 בניית תגובה סופית": {
      "main": [
        [
          {
            "node": "📤 תגובת Webhook",
            "type": "main",
            "index": 0
          },
          {
            "node": "🔄 קריאה ל-Make.com - מעבד פעולות",
            "type": "main",
            "index": 0
          },
          {
            "node": "🔄 קריאה ל-Make.com - איסוף נתונים",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "⚖️ סיווג רמת סיכון",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "🔍 ניתוח פרופיל ביטוח",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "061affe8-25e8-421b-8fc7-de16707e4868",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "33575fca1b29f300dda59a8557593dc5141ea54bffd092fa62060703ab1b463a"
  },
  "id": "3r1qizY7CVgwkvyk",
  "tags": []
}