archived/customer-systems/shelly-mizrahi/data/customers/shelly-mizrahi/shelly-smart-family-profile-blueprint.json
{
    "name": "Shelly's Smart Family Profile Generator",
    "flow": [
        {
            "id": 1,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 1245354,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0,
                    "name": "WH: Family Profile Request"
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "label": "family_profile_request",
                            "data": {
                                "editable": "true"
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-webhook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "surense:SearchLeads",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 5026390
            },
            "mapper": {
                "order": "desc",
                "orderBy": "createdDate",
                "limit": "100"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0,
                    "name": "SR: Get Family Profiles"
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "Shelly Surense connection (shellypensia@gmail.com)",
                            "data": {
                                "scoped": "true",
                                "connection": "surense"
                            }
                        }
                    },
                    "expect": {
                        "order": {
                            "mode": "chose",
                            "label": "יורד"
                        },
                        "orderBy": {
                            "mode": "chose",
                            "label": "תאריך יצירה"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:surense",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "quickFilter",
                        "type": "text",
                        "label": "חיפוש מהיר"
                    },
                    {
                        "name": "order",
                        "type": "select",
                        "label": "סדר",
                        "required": true,
                        "validate": {
                            "enum": [
                                "asc",
                                "desc"
                            ]
                        }
                    },
                    {
                        "name": "orderBy",
                        "type": "select",
                        "label": "מיון לפי",
                        "required": true,
                        "validate": {
                            "enum": [
                                "createdDate",
                                "lastActivityDate"
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "type": "number",
                        "label": "מספר תוצאות",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "builtin:BasicAggregator",
            "version": 1,
            "parameters": {
                "feeder": 2
            },
            "filter": {
                "name": "Filter Family Members",
                "conditions": [
                    [
                        {
                            "a": "{{1.client_id}}",
                            "o": "text:contains",
                            "b": "{{2.id}}"
                        }
                    ]
                ]
            },
            "mapper": {
                "client_id": "{{1.client_id}}",
                "family_member_ids": "{{1.family_member_ids}}",
                "research_depth": "{{1.research_depth}}",
                "profiles": "{{2}}"
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0,
                    "name": "TL: Prepare Family Data"
                },
                "restore": {
                    "extra": {
                        "feeder": {
                            "label": "SR: Get Family Profiles - Search Leads [2]"
                        },
                        "target": {
                            "label": "Custom"
                        }
                    }
                }
            }
        },
        {
            "id": 4,
            "module": "openai:CreateACompletion",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 5026391
            },
            "mapper": {
                "model": "gpt-4",
                "prompt": "You are an expert family profile analyzer. Analyze the relationships between family members and identify connections.\n\nAnalyze these family profiles: {{3.profiles}}. Client ID: {{3.client_id}}, Family Members: {{3.family_member_ids}}, Research Depth: {{3.research_depth}}",
                "temperature": 0.7,
                "max_tokens": 2000
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 0,
                    "name": "AI: Profile Analyzer"
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "OpenAI Connection",
                            "data": {
                                "scoped": "true",
                                "connection": "openai"
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:openai",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model",
                        "required": true
                    },
                    {
                        "name": "messages",
                        "type": "array",
                        "label": "Messages",
                        "required": true
                    },
                    {
                        "name": "temperature",
                        "type": "number",
                        "label": "Temperature"
                    },
                    {
                        "name": "max_tokens",
                        "type": "number",
                        "label": "Max Tokens"
                    }
                ]
            }
        },
        {
            "id": 5,
            "module": "openai:CreateACompletion",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 5026391
            },
            "mapper": {
                "model": "gpt-4",
                "prompt": "You are an expert Hebrew family profile generator. Create comprehensive family profiles in Hebrew.\n\nGenerate a comprehensive Hebrew family profile based on this analysis: {{4.choices[0].text}}. Family data: {{3.profiles}}",
                "temperature": 0.8,
                "max_tokens": 4000
            },
            "metadata": {
                "designer": {
                    "x": 1200,
                    "y": 0,
                    "name": "AI: Family Profile Generator"
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "OpenAI Connection",
                            "data": {
                                "scoped": "true",
                                "connection": "openai"
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:openai",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model",
                        "required": true
                    },
                    {
                        "name": "messages",
                        "type": "array",
                        "label": "Messages",
                        "required": true
                    },
                    {
                        "name": "temperature",
                        "type": "number",
                        "label": "Temperature"
                    },
                    {
                        "name": "max_tokens",
                        "type": "number",
                        "label": "Max Tokens"
                    }
                ]
            }
        },
        {
            "id": 6,
            "module": "surense:CreateDocument",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 5026390
            },
            "mapper": {
                "folder": "Family Profiles",
                "filename": "family_profile_{{3.client_id}}_{{now}}.pdf",
                "content": "{{5.choices[0].text}}",
                "contentType": "text/plain"
            },
            "metadata": {
                "designer": {
                    "x": 1500,
                    "y": 0,
                    "name": "SR: Upload Family Profile"
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "Shelly Surense connection (shellypensia@gmail.com)",
                            "data": {
                                "scoped": "true",
                                "connection": "surense"
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:surense",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "folder",
                        "type": "text",
                        "label": "Folder",
                        "required": true
                    },
                    {
                        "name": "filename",
                        "type": "text",
                        "label": "Filename",
                        "required": true
                    },
                    {
                        "name": "content",
                        "type": "any",
                        "label": "Content",
                        "required": true
                    },
                    {
                        "name": "contentType",
                        "type": "text",
                        "label": "Content Type"
                    }
                ]
            }
        },
        {
            "id": 7,
            "module": "surense:UpdateLead",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 5026390
            },
            "mapper": {
                "id": "{{3.client_id}}",
                "status": "profile_generated",
                "customFields": {
                    "family_profile_url": "{{6.url}}",
                    "profile_generated_at": "{{now}}"
                }
            },
            "metadata": {
                "designer": {
                    "x": 1800,
                    "y": 0,
                    "name": "SR: Update Customer Status"
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "Shelly Surense connection (shellypensia@gmail.com)",
                            "data": {
                                "scoped": "true",
                                "connection": "surense"
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:surense",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "id",
                        "type": "text",
                        "label": "Lead ID",
                        "required": true
                    },
                    {
                        "name": "status",
                        "type": "text",
                        "label": "Status"
                    },
                    {
                        "name": "customFields",
                        "type": "object",
                        "label": "Custom Fields"
                    }
                ]
            }
        },
        {
            "id": 8,
            "module": "surense:CreateActivity",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 5026390
            },
            "mapper": {
                "leadId": "{{3.client_id}}",
                "type": "profile_generation",
                "description": "Family profile generated automatically via AI",
                "date": "{{now}}"
            },
            "metadata": {
                "designer": {
                    "x": 2100,
                    "y": 0,
                    "name": "SR: Create Activity Log"
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "Shelly Surense connection (shellypensia@gmail.com)",
                            "data": {
                                "scoped": "true",
                                "connection": "surense"
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:surense",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "leadId",
                        "type": "text",
                        "label": "Lead ID",
                        "required": true
                    },
                    {
                        "name": "type",
                        "type": "text",
                        "label": "Activity Type",
                        "required": true
                    },
                    {
                        "name": "description",
                        "type": "text",
                        "label": "Description"
                    },
                    {
                        "name": "date",
                        "type": "datetime",
                        "label": "Date"
                    }
                ]
            }
        },
        {
            "id": 9,
            "module": "http:MakeARequest",
            "version": 1,
            "parameters": {
                "url": "https://shellyins.app.n8n.cloud/webhook/shelly-family-profile-upload",
                "method": "POST"
            },
            "mapper": {
                "headers": [
                    {
                        "key": "Content-Type",
                        "value": "application/json"
                    }
                ],
                "body": "{\n  \"family_data\": {\n    \"client_id\": \"{{3.client_id}}\",\n    \"client_name\": \"{{3.name}}\",\n    \"family_members\": [\n      {{#each 7}}\n      {\n        \"name\": \"{{name}}\",\n        \"age\": \"{{age}}\",\n        \"relationship\": \"{{relationship}}\",\n        \"insurance_needs\": \"{{insurance_needs}}\"\n      }{{#unless @last}},{{/unless}}\n      {{/each}}\n    ],\n    \"family_member_count\": \"{{7.length}}\",\n    \"total_profiles\": \"{{add 7.length 1}}\",\n    \"generated_at\": \"{{now}}\"\n  },\n  \"family_profile\": {\n    \"url\": \"{{6.url}}\",\n    \"content\": \"{{6.content}}\",\n    \"filename\": \"{{6.filename}}\"\n  },\n  \"member_profiles\": [\n    {{#each 7}}\n    {\n      \"url\": \"{{url}}\",\n      \"content\": \"{{content}}\",\n      \"filename\": \"{{filename}}\",\n      \"member_name\": \"{{member_name}}\"\n    }{{#unless @last}},{{/unless}}\n    {{/each}}\n  ],\n  \"client_id\": \"{{3.client_id}}\",\n  \"client_name\": \"{{3.name}}\",\n  \"family_member_count\": \"{{7.length}}\",\n  \"total_profiles\": \"{{add 7.length 1}}\",\n  \"generated_at\": \"{{now}}\",\n  \"ready_for_contact\": true\n}",
                "timeout": 30000
            },
            "metadata": {
                "designer": {
                    "x": 2400,
                    "y": 0,
                    "name": "HTTP: Send to n8n Workflow"
                },
                "restore": {
                    "parameters": {
                        "url": {
                            "label": "n8n webhook URL"
                        },
                        "method": {
                            "label": "POST"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "url",
                        "type": "text",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "headers",
                        "type": "array",
                        "label": "Headers"
                    },
                    {
                        "name": "body",
                        "type": "any",
                        "label": "Body"
                    },
                    {
                        "name": "timeout",
                        "type": "uinteger",
                        "label": "Timeout"
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us2.make.com",
        "notes": [
            "Shelly's Smart Family Profile Generator",
            "Automated family profile research and generation",
            "Uses OpenAI for AI analysis and Hebrew profile generation",
            "Integrates with Surense for customer data and document storage",
            "Real-time portal updates via webhooks"
        ]
    }
}