workflows/templates-library/00-utility-belt/util_error_handler.json
{
  "name": "util_error_handler",
  "nodes": [
    {
      "parameters": {},
      "id": "error-trigger",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "// Extract error information\nconst error = $input.item.json.error || {};\nconst workflow = $input.item.json.workflow || {};\nconst execution = $input.item.json.execution || {};\n\n// Format error message\nconst errorMessage = {\n  workflow: workflow.name || 'Unknown',\n  workflowId: workflow.id || 'Unknown',\n  executionId: execution.id || 'Unknown',\n  error: {\n    message: error.message || 'Unknown error',\n    stack: error.stack || '',\n    name: error.name || 'Error'\n  },\n  timestamp: new Date().toISOString(),\n  node: $input.item.json.node?.name || 'Unknown',\n  nodeId: $input.item.json.node?.id || 'Unknown'\n};\n\nreturn errorMessage;"
      },
      "id": "format-error",
      "name": "Format Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "url": "={{ $env.SLACK_WEBHOOK_URL }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "🚨 *Workflow Error Alert*\n\n*Workflow:* {{ $json.workflow }}\n*Execution ID:* {{ $json.executionId }}\n*Node:* {{ $json.node }}\n*Error:* {{ $json.error.message }}\n*Time:* {{ $json.timestamp }}\n\n[Fix it in n8n]({{ $env.N8N_URL }}/workflow/{{ $json.workflowId }}/executions/{{ $json.executionId }})"
            }
          ]
        },
        "options": {}
      },
      "id": "send-slack",
      "name": "Send Slack Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [650, 300],
      "disabled": false,
      "notes": "Configure SLACK_WEBHOOK_URL and N8N_URL in environment variables"
    },
    {
      "parameters": {
        "operation": "create",
        "resource": "record",
        "base": "={{ $env.AIRTABLE_ERROR_LOG_BASE_ID }}",
        "table": "Error Logs",
        "fields": {
          "Workflow Name": "={{ $json.workflow }}",
          "Execution ID": "={{ $json.executionId }}",
          "Error Message": "={{ $json.error.message }}",
          "Node Name": "={{ $json.node }}",
          "Timestamp": "={{ $json.timestamp }}",
          "Error Stack": "={{ $json.error.stack }}"
        }
      },
      "id": "log-to-airtable",
      "name": "Log to Airtable",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [850, 300],
      "disabled": false,
      "notes": "Optional: Log errors to Airtable for tracking"
    }
  ],
  "connections": {
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Format Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Error": {
      "main": [
        [
          {
            "node": "Send Slack Alert",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log to Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-12-06T00:00:00.000Z",
      "updatedAt": "2025-12-06T00:00:00.000Z",
      "id": "utility",
      "name": "utility"
    },
    {
      "createdAt": "2025-12-06T00:00:00.000Z",
      "updatedAt": "2025-12-06T00:00:00.000Z",
      "id": "error-handling",
      "name": "error-handling"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-12-06T00:00:00.000Z",
  "versionId": "1"
}
