workflows/templates-library/00-utility-belt/util_cost_calculator.json
{
  "name": "util_cost_calculator",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "cost-tracker",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "cost-calculator-webhook"
    },
    {
      "parameters": {
        "jsCode": "// Calculate cost from token usage\nconst input = $input.item.json;\n\n// Expected input format:\n// {\n//   \"action\": \"calculate_cost\",\n//   \"payload\": {\n//     \"provider\": \"openai\",\n//     \"model\": \"gpt-4o\",\n//     \"inputTokens\": 1000,\n//     \"outputTokens\": 500,\n//     \"clientId\": \"client-123\",\n//     \"projectId\": \"project-456\",\n//     \"workflowId\": \"workflow-789\"\n//   }\n// }\n\nconst payload = input.payload || input;\nconst provider = payload.provider || 'openai';\nconst model = payload.model || 'gpt-4o';\n\n// Cost per 1K tokens (as of Dec 2025)\nconst pricing = {\n  openai: {\n    'gpt-4o': { input: 0.0025, output: 0.01 },\n    'gpt-4-turbo': { input: 0.01, output: 0.03 },\n    'gpt-3.5-turbo': { input: 0.0005, output: 0.0015 },\n    'whisper-1': { input: 0.006, output: 0 }\n  },\n  anthropic: {\n    'claude-3-5-sonnet': { input: 0.003, output: 0.015 },\n    'claude-3-opus': { input: 0.015, output: 0.075 }\n  }\n};\n\nconst providerPricing = pricing[provider] || pricing.openai;\nconst modelPricing = providerPricing[model] || providerPricing['gpt-4o'];\n\nconst inputCost = (payload.inputTokens / 1000) * modelPricing.input;\nconst outputCost = (payload.outputTokens / 1000) * modelPricing.output;\nconst totalCost = inputCost + outputCost;\n\nreturn {\n  provider,\n  model,\n  inputTokens: payload.inputTokens || 0,\n  outputTokens: payload.outputTokens || 0,\n  inputCost: parseFloat(inputCost.toFixed(6)),\n  outputCost: parseFloat(outputCost.toFixed(6)),\n  totalCost: parseFloat(totalCost.toFixed(6)),\n  clientId: payload.clientId || 'unknown',\n  projectId: payload.projectId || 'unknown',\n  workflowId: payload.workflowId || 'unknown',\n  timestamp: new Date().toISOString(),\n  currency: 'USD'\n};"
      },
      "id": "calculate-cost",
      "name": "Calculate Cost",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "operation": "append",
        "resource": "sheet",
        "documentId": "={{ $env.GOOGLE_SHEETS_COST_TRACKER_ID }}",
        "sheetName": "Cost Log",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $json.timestamp }}",
            "Provider": "={{ $json.provider }}",
            "Model": "={{ $json.model }}",
            "Input Tokens": "={{ $json.inputTokens }}",
            "Output Tokens": "={{ $json.outputTokens }}",
            "Input Cost": "={{ $json.inputCost }}",
            "Output Cost": "={{ $json.outputCost }}",
            "Total Cost": "={{ $json.totalCost }}",
            "Client ID": "={{ $json.clientId }}",
            "Project ID": "={{ $json.projectId }}",
            "Workflow ID": "={{ $json.workflowId }}"
          }
        },
        "options": {}
      },
      "id": "log-to-sheet",
      "name": "Log to Google Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.2,
      "position": [650, 300],
      "disabled": false,
      "notes": "Configure GOOGLE_SHEETS_COST_TRACKER_ID in environment"
    },
    {
      "parameters": {
        "operation": "create",
        "resource": "record",
        "base": "={{ $env.AIRTABLE_COST_TRACKER_BASE_ID }}",
        "table": "Cost Log",
        "fields": {
          "Timestamp": "={{ $json.timestamp }}",
          "Provider": "={{ $json.provider }}",
          "Model": "={{ $json.model }}",
          "Input Tokens": "={{ $json.inputTokens }}",
          "Output Tokens": "={{ $json.outputTokens }}",
          "Total Cost": "={{ $json.totalCost }}",
          "Client ID": "={{ $json.clientId }}",
          "Project ID": "={{ $json.projectId }}"
        }
      },
      "id": "log-to-airtable",
      "name": "Log to Airtable",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [650, 400],
      "disabled": false,
      "notes": "Alternative: Log to Airtable instead of Google Sheets"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"cost\": $json.totalCost, \"timestamp\": $json.timestamp } }}",
        "options": {}
      },
      "id": "respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Calculate Cost",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Cost": {
      "main": [
        [
          {
            "node": "Log to Google Sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log to Airtable",
            "type": "main",
            "index": 0
          },
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-12-06T00:00:00.000Z",
      "updatedAt": "2025-12-06T00:00:00.000Z",
      "id": "utility",
      "name": "utility"
    },
    {
      "createdAt": "2025-12-06T00:00:00.000Z",
      "updatedAt": "2025-12-06T00:00:00.000Z",
      "id": "cost-tracking",
      "name": "cost-tracking"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-12-06T00:00:00.000Z",
  "versionId": "1"
}
