scripts/boost-space/INT-SYNC-001-workflow.json
{
  "name": "INT-SYNC-001: n8n to Boost.space Workflow Sync",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Every 15 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://173.254.201.134:5678/api/v1/workflows",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "n8nApi",
        "options": {}
      },
      "id": "get-workflows",
      "name": "Get All n8n Workflows",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [450, 300],
      "credentials": {
        "n8nApi": {
          "id": "1",
          "name": "n8n API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Transform n8n workflows to Boost.space Business Case format\nconst workflows = $input.all();\nconst output = [];\n\nfor (const workflow of workflows) {\n  const data = workflow.json;\n  \n  // Build description with metadata\n  const descParts = [];\n  descParts.push(`n8n ID: ${data.id}`);\n  if (data.tags && data.tags.length > 0) {\n    descParts.push(`Tags: ${data.tags.map(t => t.name).join(', ')}`);\n  }\n  descParts.push(`Active: ${data.active ? 'Yes' : 'No'}`);\n  descParts.push(`Created: ${new Date(data.createdAt).toLocaleDateString()}`);\n  descParts.push(`Updated: ${new Date(data.updatedAt).toLocaleDateString()}`);\n  \n  // Map to Business Case structure\n  const businessCase = {\n    name: data.name || 'Unnamed Workflow',\n    description: descParts.join(' | '),\n    spaceId: 43, // n8n Workflows space\n    status_system_id: data.active ? 1 : 2, // 1=active, 2=inactive\n    // Store n8n ID for future updates\n    customData: {\n      n8nId: data.id,\n      n8nActive: data.active\n    }\n  };\n  \n  output.push({ json: businessCase });\n}\n\nreturn output;"
      },
      "id": "transform-data",
      "name": "Transform to Business Cases",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://superseller.boost.space/api/business-case",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ $json.name }}"
            },
            {
              "name": "description",
              "value": "={{ $json.description }}"
            },
            {
              "name": "spaceId",
              "value": "={{ $json.spaceId }}"
            },
            {
              "name": "status_system_id",
              "value": "={{ $json.status_system_id }}"
            }
          ]
        },
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 200
            }
          }
        }
      },
      "id": "create-business-case",
      "name": "Create/Update in Boost.space",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [850, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "2",
          "name": "Boost.space API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Summary of sync results\nconst items = $input.all();\nconst success = items.filter(i => i.json.id).length;\nconst failed = items.length - success;\n\nreturn [{\n  json: {\n    syncTime: new Date().toISOString(),\n    totalWorkflows: items.length,\n    successful: success,\n    failed: failed,\n    status: failed === 0 ? 'SUCCESS' : 'PARTIAL'\n  }\n}];"
      },
      "id": "summary",
      "name": "Sync Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1050, 300]
    }
  ],
  "connections": {
    "Every 15 Minutes": {
      "main": [[{ "node": "Get All n8n Workflows", "type": "main", "index": 0 }]]
    },
    "Get All n8n Workflows": {
      "main": [[{ "node": "Transform to Business Cases", "type": "main", "index": 0 }]]
    },
    "Transform to Business Cases": {
      "main": [[{ "node": "Create/Update in Boost.space", "type": "main", "index": 0 }]]
    },
    "Create/Update in Boost.space": {
      "main": [[{ "node": "Sync Summary", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null
}
