Customers/wonder.care/02-workflows/Google Sheets to Monday.com Healthcare Appointments Sync.json
{
    "name": "Google Sheets to Monday.com Healthcare Appointments Sync",
    "flow": [
        {
            "id": 4,
            "module": "google-sheets:watchUpdatedCells",
            "version": 2,
            "parameters": {
                "__IMTHOOK__": 1354267
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "__IMTHOOK__": {
                            "label": "detect real-time changes",
                            "data": {
                                "editable": "false"
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTHOOK__",
                        "type": "hook:google-sheets2",
                        "label": "Webhook",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 5,
            "module": "ai-agent:CreateAIAgentContextString",
            "version": 0,
            "parameters": {},
            "mapper": {
                "agent": "71864bbe-0c97-4d0f-b3ef-e280dc572ae6",
                "contextName": "Healthcare Data Processing Context - Test Run 2025",
                "context": "Process healthcare appointment data for wonder.care. Extract and clean data from Google Sheets, validate integrity, and check for duplicates. Return JSON with status (NEW/DUPLICATE) and processed fields. Handle Hebrew text variations and ensure data quality standards."
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "agent": {
                            "label": "Healthcare Appointment Processor"
                        }
                    }
                },
                "expect": [
                    {
                        "name": "agent",
                        "type": "aiagent",
                        "label": "Agent",
                        "required": true
                    },
                    {
                        "name": "contextName",
                        "type": "text",
                        "label": "Context Name"
                    },
                    {
                        "name": "context",
                        "type": "text",
                        "label": "Context"
                    }
                ]
            }
        },
        {
            "id": 6,
            "module": "ai-agent:RunAnAIAgent",
            "version": 0,
            "parameters": {},
            "mapper": {
                "agent": "71864bbe-0c97-4d0f-b3ef-e280dc572ae6",
                "threadID": "",
                "additionalSystemPrompt": "",
                "messages": [
                    "Process this healthcare appointment data from Google Sheets. Extract and clean the data, validate integrity, and check for duplicates. Return JSON with status (NEW/DUPLICATE) and all processed fields mapped according to the context rules.\n\nData to process:\n{{4}}"
                ],
                "timeout": "",
                "outputType": ""
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "agent": {
                            "label": "Healthcare Appointment Processor"
                        },
                        "messages": {
                            "mode": "chose",
                            "items": [
                                null
                            ]
                        },
                        "outputType": {
                            "label": "Empty"
                        }
                    }
                },
                "expect": [
                    {
                        "name": "agent",
                        "type": "aiagent",
                        "label": "Agent",
                        "required": true
                    },
                    {
                        "name": "threadID",
                        "type": "text",
                        "label": "Thread ID"
                    },
                    {
                        "name": "additionalSystemPrompt",
                        "type": "text",
                        "label": "Additional system instructions"
                    },
                    {
                        "name": "messages",
                        "type": "array",
                        "label": "Messages",
                        "spec": {
                            "label": "Message",
                            "type": "text",
                            "name": "value"
                        }
                    },
                    {
                        "name": "timeout",
                        "type": "number",
                        "label": "Timeout",
                        "validate": {
                            "min": 120,
                            "max": 600
                        }
                    },
                    {
                        "name": "outputType",
                        "type": "select",
                        "label": "Output schema",
                        "validate": {
                            "enum": [
                                "text",
                                "make-schema"
                            ]
                        }
                    }
                ]
            }
        },
        {
            "id": 8,
            "module": "monday:ListItemsByColumnValues",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 1713803
            },
            "filter": {
                "name": "",
                "conditions": [
                    [
                        {
                            "a": "{{6.response.status}}",
                            "o": "text:equal",
                            "b": "NEW"
                        }
                    ]
                ]
            },
            "mapper": {
                "limit": "10",
                "boardId": "9021789808",
                "showParentID": false,
                "showSubitemsID": false,
                "startPage": "",
                "disableOutputInterfaceCaching": false,
                "columnId": "name",
                "filterToGetColumnValues": [],
                "columnValue": "{{6.response.client_name}} - {{6.response.patient_name}}"
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "My Monday v2 connection",
                            "data": {
                                "scoped": "true",
                                "connection": "monday"
                            }
                        }
                    },
                    "expect": {
                        "boardId": {
                            "mode": "chose",
                            "label": "מידע מבק אופיס  ::  share"
                        },
                        "columnId": {
                            "mode": "chose",
                            "label": "Name"
                        },
                        "filterToGetColumnValues": {
                            "mode": "chose"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:monday",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit",
                        "required": true
                    },
                    {
                        "name": "boardId",
                        "type": "select",
                        "label": "Board ID",
                        "required": true
                    },
                    {
                        "name": "showParentID",
                        "type": "boolean",
                        "label": "Show Parent ID",
                        "required": true
                    },
                    {
                        "name": "showSubitemsID",
                        "type": "boolean",
                        "label": "Show Subitems ID",
                        "required": true
                    },
                    {
                        "name": "startPage",
                        "type": "uinteger",
                        "label": "Start Page"
                    },
                    {
                        "name": "disableOutputInterfaceCaching",
                        "type": "boolean",
                        "label": "Disable Output Interface Caching",
                        "required": true
                    },
                    {
                        "name": "columnId",
                        "type": "select",
                        "label": "Column ID to Search the Value",
                        "required": true
                    },
                    {
                        "name": "filterToGetColumnValues",
                        "type": "array",
                        "label": "Output Column Values",
                        "spec": {
                            "type": "select",
                            "label": "Column ID",
                            "options": [],
                            "required": true,
                            "name": "value",
                            "dynamic": true
                        }
                    },
                    {
                        "name": "columnValue",
                        "type": "text",
                        "label": "Column Value",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "__IMTLENGTH__",
                        "label": "Total number of bundles",
                        "type": "uinteger"
                    },
                    {
                        "name": "__IMTINDEX__",
                        "label": "Bundle order position",
                        "type": "uinteger"
                    },
                    {
                        "name": "id",
                        "type": "uinteger",
                        "label": "ID"
                    },
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Name"
                    },
                    {
                        "name": "created_at",
                        "type": "date",
                        "label": "Created at"
                    },
                    {
                        "name": "updated_at",
                        "type": "date",
                        "label": "Updated at"
                    },
                    {
                        "name": "board",
                        "spec": [
                            {
                                "name": "id",
                                "type": "uinteger",
                                "label": "ID"
                            }
                        ],
                        "type": "collection",
                        "label": "Board"
                    },
                    {
                        "name": "creator_id",
                        "type": "uinteger",
                        "label": "Creator ID"
                    },
                    {
                        "name": "group",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            }
                        ],
                        "type": "collection",
                        "label": "Group"
                    },
                    {
                        "name": "column_values",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            },
                            {
                                "name": "additional_info",
                                "type": "text",
                                "label": "Additional Info"
                            },
                            {
                                "name": "text",
                                "type": "text",
                                "label": "Text"
                            }
                        ],
                        "type": "array",
                        "label": "Column Values"
                    },
                    {
                        "name": "mappable_column_values",
                        "spec": [
                            {
                                "name": "name",
                                "label": "Name",
                                "type": "text"
                            },
                            {
                                "name": "color_mkqe6tr7",
                                "label": "סטטוס הזמנה",
                                "type": "collection",
                                "spec": [
                                    {
                                        "name": "index",
                                        "label": "Index",
                                        "type": "text"
                                    },
                                    {
                                        "name": "post_id",
                                        "label": "Post ID",
                                        "type": "text"
                                    },
                                    {
                                        "label": "Changed at",
                                        "name": "changed_at",
                                        "type": "date"
                                    },
                                    {
                                        "label": "Aditional info",
                                        "name": "additonal_info",
                                        "type": "collection",
                                        "spec": [
                                            {
                                                "name": "label",
                                                "type": "text",
                                                "label": "Label"
                                            },
                                            {
                                                "name": "color",
                                                "type": "color",
                                                "label": "Color"
                                            },
                                            {
                                                "name": "changed_at",
                                                "type": "date",
                                                "label": "Changed at"
                                            }
                                        ]
                                    },
                                    {
                                        "label": "Value",
                                        "name": "value",
                                        "type": "any"
                                    },
                                    {
                                        "label": "Text",
                                        "name": "text",
                                        "type": "text"
                                    }
                                ]
                            },
                            {
                                "name": "status",
                                "label": "חודש",
                                "type": "collection",
                                "spec": [
                                    {
                                        "name": "index",
                                        "label": "Index",
                                        "type": "text"
                                    },
                                    {
                                        "name": "post_id",
                                        "label": "Post ID",
                                        "type": "text"
                                    },
                                    {
                                        "label": "Changed at",
                                        "name": "changed_at",
                                        "type": "date"
                                    },
                                    {
                                        "label": "Aditional info",
                                        "name": "additonal_info",
                                        "type": "collection",
                                        "spec": [
                                            {
                                                "name": "label",
                                                "type": "text",
                                                "label": "Label"
                                            },
                                            {
                                                "name": "color",
                                                "type": "color",
                                                "label": "Color"
                                            },
                                            {
                                                "name": "changed_at",
                                                "type": "date",
                                                "label": "Changed at"
                                            }
                                        ]
                                    },
                                    {
                                        "label": "Value",
                                        "name": "value",
                                        "type": "any"
                                    },
                                    {
                                        "label": "Text",
                                        "name": "text",
                                        "type": "text"
                                    }
                                ]
                            },
                            {
                                "name": "text_mkrvvskv",
                                "label": "תאריך הזמנה",
                                "type": "text"
                            },
                            {
                                "name": "color_mktd445d",
                                "label": "שנה",
                                "type": "collection",
                                "spec": [
                                    {
                                        "name": "index",
                                        "label": "Index",
                                        "type": "text"
                                    },
                                    {
                                        "name": "post_id",
                                        "label": "Post ID",
                                        "type": "text"
                                    },
                                    {
                                        "label": "Changed at",
                                        "name": "changed_at",
                                        "type": "date"
                                    },
                                    {
                                        "label": "Aditional info",
                                        "name": "additonal_info",
                                        "type": "collection",
                                        "spec": [
                                            {
                                                "name": "label",
                                                "type": "text",
                                                "label": "Label"
                                            },
                                            {
                                                "name": "color",
                                                "type": "color",
                                                "label": "Color"
                                            },
                                            {
                                                "name": "changed_at",
                                                "type": "date",
                                                "label": "Changed at"
                                            }
                                        ]
                                    },
                                    {
                                        "label": "Value",
                                        "name": "value",
                                        "type": "any"
                                    },
                                    {
                                        "label": "Text",
                                        "name": "text",
                                        "type": "text"
                                    }
                                ]
                            },
                            {
                                "name": "text_mkqa8gn7",
                                "label": "מטופל",
                                "type": "text"
                            },
                            {
                                "name": "text_mkqaez78",
                                "label": "אחות",
                                "type": "text"
                            },
                            {
                                "name": "color_mkqayybh",
                                "label": "סוג טיפול",
                                "type": "collection",
                                "spec": [
                                    {
                                        "name": "index",
                                        "label": "Index",
                                        "type": "text"
                                    },
                                    {
                                        "name": "post_id",
                                        "label": "Post ID",
                                        "type": "text"
                                    },
                                    {
                                        "label": "Changed at",
                                        "name": "changed_at",
                                        "type": "date"
                                    },
                                    {
                                        "label": "Aditional info",
                                        "name": "additonal_info",
                                        "type": "collection",
                                        "spec": [
                                            {
                                                "name": "label",
                                                "type": "text",
                                                "label": "Label"
                                            },
                                            {
                                                "name": "color",
                                                "type": "color",
                                                "label": "Color"
                                            },
                                            {
                                                "name": "changed_at",
                                                "type": "date",
                                                "label": "Changed at"
                                            }
                                        ]
                                    },
                                    {
                                        "label": "Value",
                                        "name": "value",
                                        "type": "any"
                                    },
                                    {
                                        "label": "Text",
                                        "name": "text",
                                        "type": "text"
                                    }
                                ]
                            },
                            {
                                "name": "text_mkrvxt8f",
                                "label": "Check in date",
                                "type": "text"
                            },
                            {
                                "name": "text_mktdxhvb",
                                "label": "check out date",
                                "type": "text"
                            },
                            {
                                "name": "text_mkqayhnj",
                                "label": "משך הזמנה",
                                "type": "text"
                            },
                            {
                                "name": "numeric_mkqa8924",
                                "label": "תשלום",
                                "type": "number"
                            },
                            {
                                "name": "formula_mkrv91fp",
                                "label": "תשלום לאחות",
                                "type": "text"
                            },
                            {
                                "name": "formula_mkrv6vcg",
                                "label": "הכנסה נט",
                                "type": "text"
                            },
                            {
                                "name": "color_mkqppcpp",
                                "label": "תשלום בפועל",
                                "type": "collection",
                                "spec": [
                                    {
                                        "name": "index",
                                        "label": "Index",
                                        "type": "text"
                                    },
                                    {
                                        "name": "post_id",
                                        "label": "Post ID",
                                        "type": "text"
                                    },
                                    {
                                        "label": "Changed at",
                                        "name": "changed_at",
                                        "type": "date"
                                    },
                                    {
                                        "label": "Aditional info",
                                        "name": "additonal_info",
                                        "type": "collection",
                                        "spec": [
                                            {
                                                "name": "label",
                                                "type": "text",
                                                "label": "Label"
                                            },
                                            {
                                                "name": "color",
                                                "type": "color",
                                                "label": "Color"
                                            },
                                            {
                                                "name": "changed_at",
                                                "type": "date",
                                                "label": "Changed at"
                                            }
                                        ]
                                    },
                                    {
                                        "label": "Value",
                                        "name": "value",
                                        "type": "any"
                                    },
                                    {
                                        "label": "Text",
                                        "name": "text",
                                        "type": "text"
                                    }
                                ]
                            },
                            {
                                "name": "text_mkqa5hdc",
                                "label": "הערות",
                                "type": "text"
                            },
                            {
                                "name": "text_mkqa4ecf",
                                "label": "מקום מגורים",
                                "type": "text"
                            },
                            {
                                "name": "color_mkqaa2nm",
                                "label": "מחוז",
                                "type": "collection",
                                "spec": [
                                    {
                                        "name": "index",
                                        "label": "Index",
                                        "type": "text"
                                    },
                                    {
                                        "name": "post_id",
                                        "label": "Post ID",
                                        "type": "text"
                                    },
                                    {
                                        "label": "Changed at",
                                        "name": "changed_at",
                                        "type": "date"
                                    },
                                    {
                                        "label": "Aditional info",
                                        "name": "additonal_info",
                                        "type": "collection",
                                        "spec": [
                                            {
                                                "name": "label",
                                                "type": "text",
                                                "label": "Label"
                                            },
                                            {
                                                "name": "color",
                                                "type": "color",
                                                "label": "Color"
                                            },
                                            {
                                                "name": "changed_at",
                                                "type": "date",
                                                "label": "Changed at"
                                            }
                                        ]
                                    },
                                    {
                                        "label": "Value",
                                        "name": "value",
                                        "type": "any"
                                    },
                                    {
                                        "label": "Text",
                                        "name": "text",
                                        "type": "text"
                                    }
                                ]
                            },
                            {
                                "name": "numeric_mkqa4enf",
                                "label": "גיל מטופל",
                                "type": "number"
                            },
                            {
                                "name": "color_mkqam4f2",
                                "label": "יום בשבוע",
                                "type": "collection",
                                "spec": [
                                    {
                                        "name": "index",
                                        "label": "Index",
                                        "type": "text"
                                    },
                                    {
                                        "name": "post_id",
                                        "label": "Post ID",
                                        "type": "text"
                                    },
                                    {
                                        "label": "Changed at",
                                        "name": "changed_at",
                                        "type": "date"
                                    },
                                    {
                                        "label": "Aditional info",
                                        "name": "additonal_info",
                                        "type": "collection",
                                        "spec": [
                                            {
                                                "name": "label",
                                                "type": "text",
                                                "label": "Label"
                                            },
                                            {
                                                "name": "color",
                                                "type": "color",
                                                "label": "Color"
                                            },
                                            {
                                                "name": "changed_at",
                                                "type": "date",
                                                "label": "Changed at"
                                            }
                                        ]
                                    },
                                    {
                                        "label": "Value",
                                        "name": "value",
                                        "type": "any"
                                    },
                                    {
                                        "label": "Text",
                                        "name": "text",
                                        "type": "text"
                                    }
                                ]
                            },
                            {
                                "name": "text_mkrva3zt",
                                "label": "Nurse ID",
                                "type": "text"
                            },
                            {
                                "name": "numeric_mksqcqvg",
                                "label": "4 ספרות",
                                "type": "number"
                            },
                            {
                                "name": "text_mksqd4m0",
                                "label": "מספר הזמנה",
                                "type": "text"
                            },
                            {
                                "name": "pulse_log_mkvnwhms",
                                "label": "Creation log",
                                "type": "collection",
                                "spec": [
                                    {
                                        "name": "creator_id",
                                        "label": "Creator ID",
                                        "type": "uinteger"
                                    },
                                    {
                                        "name": "created_at",
                                        "label": "Created at",
                                        "type": "date"
                                    },
                                    {
                                        "label": "Changed at",
                                        "name": "changed_at",
                                        "type": "date"
                                    },
                                    {
                                        "label": "Aditional info",
                                        "name": "additonal_info",
                                        "type": "collection",
                                        "spec": [
                                            {
                                                "name": "label",
                                                "type": "text",
                                                "label": "Label"
                                            },
                                            {
                                                "name": "color",
                                                "type": "color",
                                                "label": "Color"
                                            },
                                            {
                                                "name": "changed_at",
                                                "type": "date",
                                                "label": "Changed at"
                                            }
                                        ]
                                    },
                                    {
                                        "label": "Value",
                                        "name": "value",
                                        "type": "any"
                                    },
                                    {
                                        "label": "Text",
                                        "name": "text",
                                        "type": "text"
                                    }
                                ]
                            }
                        ],
                        "type": "collection",
                        "label": "Mappable column values"
                    }
                ]
            }
        },
        {
            "id": 7,
            "module": "monday:createItem2",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 1713803
            },
            "mapper": {
                "name": "{{6.response.client_name}} - {{6.response.patient_name}}",
                "boardId": "9021789808",
                "create_labels_if_missing": false,
                "groupId": "group_mktdgg32",
                "columnIds": [],
                "columnValues": {
                    "text_mkrvvskv": "{{6.response.appointment_date}}",
                    "text_mkqa8gn7": "{{6.response.patient_name}}",
                    "text_mkqaez78": "{{6.response.nurse_name}}",
                    "color_mkqayybh": "{{6.response.treatment_type}}",
                    "text_mkrvxt8f": "{{6.response.check_in_time}}",
                    "text_mktdxhvb": "{{6.response.check_out_time}}",
                    "text_mkqayhnj": "{{6.response.duration}}",
                    "numeric_mkqa8924": "{{6.response.payment_amount}}",
                    "text_mkqa4ecf": "{{6.response.residence}}",
                    "numeric_mkqa4enf": "{{6.response.patient_age}}",
                    "color_mkqaa2nm": "{{6.response.district}}"
                }
            },
            "metadata": {
                "designer": {
                    "x": 1500,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "My Monday v2 connection",
                            "data": {
                                "scoped": "true",
                                "connection": "monday"
                            }
                        }
                    },
                    "expect": {
                        "boardId": {
                            "label": "מידע מבק אופיס  ::  share"
                        },
                        "groupId": {
                            "mode": "chose",
                            "label": "חדשים"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:monday",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Item Name",
                        "required": true
                    },
                    {
                        "name": "boardId",
                        "type": "select",
                        "label": "Board",
                        "required": true
                    },
                    {
                        "name": "create_labels_if_missing",
                        "type": "boolean",
                        "label": "Create Labels if Missing",
                        "required": true
                    },
                    {
                        "name": "groupId",
                        "type": "select",
                        "label": "Group"
                    },
                    {
                        "name": "columnIds",
                        "type": "select",
                        "label": "Columns",
                        "multiple": true
                    },
                    {
                        "name": "columnValues",
                        "type": "collection",
                        "label": "Column Values",
                        "spec": []
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us2.make.com",
        "notes": []
    }
}