Customers/wonder.care/02-workflows/Healthcare_Appointment_Processor_Optimized.json
{
    "name": "Healthcare Appointment Processor - Optimized AI Agent",
    "flow": [
        {
            "id": 1,
            "module": "googleSheets:WatchRows",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 1713803
            },
            "mapper": {
                "spreadsheetId": "1PzOGo098DA-otmdg9CuUexrLXzsQQA-OQd4kNPJ8r58",
                "sheetName": "הזמנות טסט",
                "range": "A:Q",
                "watchFor": "newRows"
            },
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                }
            }
        },
        {
            "id": 2,
            "module": "makeAiAgents:CreateAgentContext",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 1713803
            },
            "mapper": {
                "contextName": "Healthcare Data Processing Context - Optimized 2025",
                "contextData": "Healthcare Appointment Data Processing Rules:\n\nGOOGLE SHEETS COLUMNS:\nA: שנה (Year)\nB: חודש (Month)\nC: תאריך (Date) - DD/MM/YYYY format\nD: לקוח (Client)\nE: מטופל (Patient) - PRIMARY KEY\nF: אחות (Nurse)\nG: סוג טיפול (Treatment Type)\nH: צק אין (Check In) - DD/MM/YYYY HH:MM format\nI: צק אאוט (Check Out) - DD/MM/YYYY HH:MM format\nJ: משך הזמנה (Duration) - HH:MM format\nK: סטטוס (Status) - CANCELLED, CLOSED, APPROVED, PENDING\nL: תשלום (Payment) - ₪ format\nM: מקום מגורים (Residence)\nN: גיל מטופל (Patient Age)\nO: מחוז (District)\nP: 4 ספרות (4 Digits)\nQ: מספר הזמנה (Appointment Number)\n\nMONDAY.COM FIELD MAPPINGS:\nPatient Name: text_mkqa8gn7 (מטופל)\nAppointment Date: text_mkrvvskv (תאריך הזמנה)\nNurse Name: text_mkqaez78 (אחות)\nTreatment Type: color_mkqayybh (סוג טיפול)\nCheck In Time: text_mkrvxt8f (Check in date)\nCheck Out Time: text_mktdxhvb (check out date)\nDuration: text_mkqayhnj (משך הזמנה)\nPayment Amount: numeric_mkqa8924 (תשלום)\nResidence: text_mkqa4ecf (מקום מגורים)\nPatient Age: numeric_mkqa4enf (גיל מטופל)\nDistrict: color_mkqaa2nm (מחוז)\nAppointment Number: text_mksqd4m0 (מספר הזמנה)\n\nDUPLICATE DETECTION RULES:\n- Primary: Patient Name + Appointment Date\n- Secondary: Patient Name + Nurse Name + Date\n- Keep oldest record, flag newer as duplicates\n\nDATA VALIDATION RULES:\n- Required: Patient Name, Appointment Date\n- Date format: Convert DD/MM/YYYY to YYYY-MM-DD\n- Payment: Remove ₪ symbol, convert to number\n- Status: Map to Monday.com status values\n- Age: Must be numeric\n- Duration: Validate HH:MM format\n\nSTATUS MAPPING:\nCANCELLED → CANCELLED\nCLOSED → CLOSED\nAPPROVED → APPROVED\nPENDING → PENDING\n\nERROR HANDLING:\n- Missing required fields: Flag as ERROR\n- Invalid dates: Use current date as fallback\n- Invalid numbers: Use 0 as fallback\n- Missing nurse: Leave empty\n- Duplicate detected: Return DUPLICATE status"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                }
            }
        },
        {
            "id": 3,
            "module": "makeAiAgents:RunAnAgent",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 1713803
            },
            "mapper": {
                "agentId": "{{2.agentId}}",
                "messages": [
                    "Process this healthcare appointment data from Google Sheets. Follow the context rules for data validation, cleaning, and mapping to Monday.com format. Check for duplicates and return structured JSON response.\n\nData to process:\n{{1}}"
                ],
                "model": "gpt-4o-mini",
                "maxOutputTokens": 2000,
                "stepsPerAgentCall": 5,
                "maxAgentRunsInThreadHistory": 3
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                }
            }
        },
        {
            "id": 4,
            "module": "monday:ListItemsByColumnValues",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 1713803
            },
            "filter": {
                "name": "Check for duplicates",
                "conditions": [
                    [
                        {
                            "a": "{{3.response.status}}",
                            "o": "text:equal",
                            "b": "NEW"
                        }
                    ]
                ]
            },
            "mapper": {
                "boardId": "9021789808",
                "columnId": "text_mkqa8gn7",
                "columnValue": "{{3.response.patient_name}}",
                "limit": "10"
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 0
                }
            }
        },
        {
            "id": 5,
            "module": "monday:CreateAnItem",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 1713803
            },
            "filter": {
                "name": "Only create if no duplicates",
                "conditions": [
                    [
                        {
                            "a": "{{4.length}}",
                            "o": "number:equal",
                            "b": "0"
                        }
                    ]
                ]
            },
            "mapper": {
                "boardId": "9021789808",
                "groupId": "new_group",
                "name": "{{3.response.client_name}} - {{3.response.patient_name}}",
                "columnValues": {
                    "text_mkrvvskv": "{{3.response.appointment_date}}",
                    "text_mkqa8gn7": "{{3.response.patient_name}}",
                    "text_mkqaez78": "{{3.response.nurse_name}}",
                    "color_mkqayybh": "{{3.response.treatment_type}}",
                    "text_mkrvxt8f": "{{3.response.check_in_time}}",
                    "text_mktdxhvb": "{{3.response.check_out_time}}",
                    "text_mkqayhnj": "{{3.response.duration}}",
                    "numeric_mkqa8924": "{{3.response.payment_amount}}",
                    "text_mkqa4ecf": "{{3.response.residence}}",
                    "numeric_mkqa4enf": "{{3.response.patient_age}}",
                    "color_mkqaa2nm": "{{3.response.district}}",
                    "text_mksqd4m0": "{{3.response.appointment_number}}"
                }
            },
            "metadata": {
                "designer": {
                    "x": 1200,
                    "y": 0
                }
            }
        },
        {
            "id": 6,
            "module": "webhooks:RespondToAWebhook",
            "version": 1,
            "parameters": {},
            "mapper": {
                "body": {
                    "status": "{{3.response.status}}",
                    "message": "{{3.response.message}}",
                    "data_quality": "{{3.response.data_quality}}",
                    "duplicate_detected": "{{3.response.duplicate_detected}}",
                    "item_created": "{{5.id}}",
                    "processing_time": "{{3.response.processing_time}}"
                }
            },
            "metadata": {
                "designer": {
                    "x": 1500,
                    "y": 0
                }
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us2.make.com",
        "notes": [
            "Healthcare Appointment Processor with AI Agent",
            "Processes Google Sheets data and creates Monday.com items",
            "Includes duplicate detection and data validation",
            "Uses optimized AI model for healthcare data processing"
        ]
    }
}
