Customers/wonder.care/02-workflows/scenario.blueprint (3).json
{
    "name": "Healthcare Appointment Processor - Optimized AI Agent",
    "flow": [
        {
            "id": 13,
            "module": "google-sheets:watchRows",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 1713566,
                "mode": "fromAll",
                "includesHeaders": true,
                "limit": 10000,
                "valueRenderOption": "FORMATTED_VALUE",
                "dateTimeRenderOption": "FORMATTED_STRING",
                "spreadsheetId": "1PzOGo098DA-otmdg9CuUexrLXzsQQA-OQd4kNPJ8r58",
                "sheetId": "דוח למאנדיי",
                "tableFirstRow": "A1:Z1"
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 213,
                    "y": -102
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "My Googhttps://docs.google.com/spreadsheets/d/1zxfTrrPKQR_YkLRqsl-ufwSGxU9_L4T1wnfuj1v0nXU/edit?gid=0#gid=0le connection (ortal.flanary@gmail.com)",
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            }
                        },
                        "mode": {
                            "label": "Select from all"
                        },
                        "includesHeaders": {
                            "label": "Yes"
                        },
                        "valueRenderOption": {
                            "mode": "chose",
                            "label": "Formatted value"
                        },
                        "dateTimeRenderOption": {
                            "mode": "chose",
                            "label": "Formatted string"
                        },
                        "sheetId": {
                            "label": "דוח למאנדיי"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "mode",
                        "type": "select",
                        "label": "Search Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "select",
                                "fromAll",
                                "map"
                            ]
                        }
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit",
                        "required": true
                    },
                    {
                        "name": "valueRenderOption",
                        "type": "select",
                        "label": "Value render option",
                        "validate": {
                            "enum": [
                                "FORMATTED_VALUE",
                                "UNFORMATTED_VALUE",
                                "FORMULA"
                            ]
                        }
                    },
                    {
                        "name": "dateTimeRenderOption",
                        "type": "select",
                        "label": "Date and time render option",
                        "validate": {
                            "enum": [
                                "SERIAL_NUMBER",
                                "FORMATTED_STRING"
                            ]
                        }
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "text",
                        "label": "Spreadsheet ID",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet Name",
                        "required": true
                    },
                    {
                        "name": "tableFirstRow",
                        "type": "text",
                        "label": "Row with headers",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "__ROW_NUMBER__",
                        "label": "Row number",
                        "type": "number"
                    },
                    {
                        "name": "__SPREADSHEET_ID__",
                        "label": "Spreadsheet ID",
                        "type": "text"
                    },
                    {
                        "name": "__SHEET__",
                        "label": "Sheet",
                        "type": "text"
                    },
                    {
                        "name": "0",
                        "label": "שנה (A)",
                        "type": "text"
                    },
                    {
                        "name": "1",
                        "label": "חודש (B)",
                        "type": "text"
                    },
                    {
                        "name": "2",
                        "label": "תאריך (C)",
                        "type": "text"
                    },
                    {
                        "name": "3",
                        "label": "לקוח (D)",
                        "type": "text"
                    },
                    {
                        "name": "4",
                        "label": "מטופל (E)",
                        "type": "text"
                    },
                    {
                        "name": "5",
                        "label": "אחות (F)",
                        "type": "text"
                    },
                    {
                        "name": "6",
                        "label": "סוג טיפול (G)",
                        "type": "text"
                    },
                    {
                        "name": "7",
                        "label": "צק אין (H)",
                        "type": "text"
                    },
                    {
                        "name": "8",
                        "label": "צק אאוט (I)",
                        "type": "text"
                    },
                    {
                        "name": "9",
                        "label": "משך הזמנה (J)",
                        "type": "text"
                    },
                    {
                        "name": "10",
                        "label": "סטטוס (K)",
                        "type": "text"
                    },
                    {
                        "name": "11",
                        "label": "תשלום (L)",
                        "type": "text"
                    },
                    {
                        "name": "12",
                        "label": "מקום מגורים (M)",
                        "type": "text"
                    },
                    {
                        "name": "13",
                        "label": "גיל מטופל (N)",
                        "type": "text"
                    },
                    {
                        "name": "14",
                        "label": "מחוז (O)",
                        "type": "text"
                    },
                    {
                        "name": "15",
                        "label": "4 ספרות (P)",
                        "type": "text"
                    },
                    {
                        "name": "16",
                        "label": "מסpר הזמנה (Q)",
                        "type": "text"
                    },
                    {
                        "name": "17",
                        "label": "(R)",
                        "type": "text"
                    },
                    {
                        "name": "18",
                        "label": "(S)",
                        "type": "text"
                    },
                    {
                        "name": "19",
                        "label": "(T)",
                        "type": "text"
                    },
                    {
                        "name": "20",
                        "label": "(U)",
                        "type": "text"
                    },
                    {
                        "name": "21",
                        "label": "(V)",
                        "type": "text"
                    },
                    {
                        "name": "22",
                        "label": "(W)",
                        "type": "text"
                    },
                    {
                        "name": "23",
                        "label": "(X)",
                        "type": "text"
                    },
                    {
                        "name": "24",
                        "label": "(Y)",
                        "type": "text"
                    },
                    {
                        "name": "25",
                        "label": "(Z)",
                        "type": "text"
                    }
                ]
            }
        },
        {
            "id": 14,
            "module": "json:CreateJSON",
            "version": 1,
            "parameters": {
                "type": 191289,
                "space": ""
            },
            "mapper": {
                "client_name": "{{13.`3`}}",
                "patient_name": "{{13.`4`}}",
                "nurse_name": "{{13.`5`}}",
                "treatment_type": "{{13.`6`}}",
                "check_in_time": "{{13.`7`}}",
                "check_out_time": "{{13.`8`}}",
                "duration": "{{13.`9`}}",
                "status": "{{13.`10`}}",
                "payment_amount": "{{13.`11`}}",
                "residence": "{{13.`12`}}",
                "patient_age": "{{13.`13`}}",
                "district": "{{13.`14`}}",
                "appointment_number": "{{13.`16`}}",
                "appointment_date": "{{13.`2`}}"
            },
            "metadata": {
                "designer": {
                    "x": 513,
                    "y": -102
                },
                "restore": {
                    "parameters": {
                        "type": {
                            "label": "My data structure"
                        },
                        "space": {
                            "label": "Empty"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "type",
                        "type": "udt",
                        "label": "Data structure",
                        "required": true
                    },
                    {
                        "name": "space",
                        "type": "select",
                        "label": "Indentation",
                        "validate": {
                            "enum": [
                                "tab",
                                "2",
                                "4"
                            ]
                        }
                    }
                ],
                "expect": [
                    {
                        "name": "client_name",
                        "type": "text",
                        "label": "Client name"
                    },
                    {
                        "name": "patient_name",
                        "type": "text",
                        "label": "Patient name"
                    },
                    {
                        "name": "nurse_name",
                        "type": "text",
                        "label": "Nurse name"
                    },
                    {
                        "name": "treatment_type",
                        "type": "text",
                        "label": "Treatment type"
                    },
                    {
                        "name": "check_in_time",
                        "type": "text",
                        "label": "Check in time"
                    },
                    {
                        "name": "check_out_time",
                        "type": "text",
                        "label": "Check out time"
                    },
                    {
                        "name": "duration",
                        "type": "text",
                        "label": "Duration"
                    },
                    {
                        "name": "status",
                        "type": "text",
                        "label": "Status"
                    },
                    {
                        "name": "payment_amount",
                        "type": "text",
                        "label": "Payment amount"
                    },
                    {
                        "name": "residence",
                        "type": "text",
                        "label": "Residence"
                    },
                    {
                        "name": "patient_age",
                        "type": "text",
                        "label": "Patient age"
                    },
                    {
                        "name": "district",
                        "type": "text",
                        "label": "District"
                    },
                    {
                        "name": "appointment_number",
                        "type": "text",
                        "label": "Appointment number"
                    },
                    {
                        "name": "appointment_date",
                        "type": "text",
                        "label": "Appointment date"
                    }
                ]
            }
        },
        {
            "id": 15,
            "module": "ai-agent:RunAnAIAgent",
            "version": 0,
            "parameters": {},
            "mapper": {
                "agent": "71864bbe-0c97-4d0f-b3ef-e280dc572ae6",
                "threadID": "",
                "additionalSystemPrompt": "",
                "messages": [
                    "Process this appointment row and return only the JSON schema defined in your system prompt. Row: {{14}}"
                ],
                "timeout": "",
                "outputType": "make-schema"
            },
            "metadata": {
                "designer": {
                    "x": 813,
                    "y": -102
                },
                "restore": {
                    "expect": {
                        "agent": {
                            "label": "Healthcare Appointment Processor"
                        },
                        "messages": {
                            "mode": "chose",
                            "items": [
                                null
                            ]
                        },
                        "outputType": {
                            "label": "Empty"
                        }
                    }
                },
                "expect": [
                    {
                        "name": "agent",
                        "type": "aiagent",
                        "label": "Agent",
                        "required": true
                    },
                    {
                        "name": "threadID",
                        "type": "text",
                        "label": "Thread ID"
                    },
                    {
                        "name": "additionalSystemPrompt",
                        "type": "text",
                        "label": "Additional system instructions"
                    },
                    {
                        "name": "messages",
                        "type": "array",
                        "label": "Messages",
                        "spec": {
                            "label": "Message",
                            "type": "text",
                            "name": "value"
                        }
                    },
                    {
                        "name": "timeout",
                        "type": "number",
                        "label": "Timeout",
                        "validate": {
                            "min": 120,
                            "max": 600
                        }
                    },
                    {
                        "name": "outputType",
                        "type": "select",
                        "label": "Output schema",
                        "validate": {
                            "enum": [
                                "text",
                                "make-schema"
                            ]
                        }
                    }
                ]
            }
        },
        {
            "id": 16,
            "module": "monday:ListGroupItems",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 1713803
            },
            "mapper": {
                "limit": "10000",
                "boardId": "9021789808",
                "showParentID": false,
                "showSubitemsID": false,
                "startPage": "",
                "disableOutputInterfaceCaching": false,
                "groupId": "group_mktdgg32",
                "filterToGetColumnValues": [
                    "text_mkqa8gn7",
                    "text_mkrvvskv"
                ]
            },
            "metadata": {
                "designer": {
                    "x": 1113,
                    "y": -102
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "My Monday v2 connection",
                            "data": {
                                "scoped": "true",
                                "connection": "monday"
                            }
                        }
                    },
                    "expect": {
                        "boardId": {
                            "mode": "chose",
                            "label": "מידע מבק אופיס  ::  share"
                        },
                        "groupId": {
                            "mode": "chose",
                            "label": "חדשים"
                        },
                        "filterToGetColumnValues": {
                            "mode": "chose",
                            "items": [
                                {
                                    "value": {
                                        "mode": "chose",
                                        "label": "מטופל"
                                    }
                                },
                                {
                                    "value": {
                                        "mode": "chose",
                                        "label": "תאריך הזמנה"
                                    }
                                }
                            ]
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:monday",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit",
                        "required": true
                    },
                    {
                        "name": "boardId",
                        "type": "select",
                        "label": "Board ID",
                        "required": true
                    },
                    {
                        "name": "showParentID",
                        "type": "boolean",
                        "label": "Show Parent ID",
                        "required": true
                    },
                    {
                        "name": "showSubitemsID",
                        "type": "boolean",
                        "label": "Show Subitems ID",
                        "required": true
                    },
                    {
                        "name": "startPage",
                        "type": "uinteger",
                        "label": "Start Page"
                    },
                    {
                        "name": "disableOutputInterfaceCaching",
                        "type": "boolean",
                        "label": "Disable Output Interface Caching",
                        "required": true
                    },
                    {
                        "name": "groupId",
                        "type": "select",
                        "label": "Group ID",
                        "required": true
                    },
                    {
                        "name": "filterToGetColumnValues",
                        "type": "array",
                        "label": "Output Column Values",
                        "spec": {
                            "type": "select",
                            "label": "Column ID",
                            "options": [],
                            "required": true,
                            "name": "value",
                            "dynamic": true
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "__IMTLENGTH__",
                        "label": "Total number of bundles",
                        "type": "uinteger"
                    },
                    {
                        "name": "__IMTINDEX__",
                        "label": "Bundle order position",
                        "type": "uinteger"
                    },
                    {
                        "name": "id",
                        "type": "uinteger",
                        "label": "ID"
                    },
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Name"
                    },
                    {
                        "name": "email",
                        "type": "email",
                        "label": "Email"
                    },
                    {
                        "name": "created_at",
                        "type": "date",
                        "label": "Created at"
                    },
                    {
                        "name": "updated_at",
                        "type": "date",
                        "label": "Updated at"
                    },
                    {
                        "name": "state",
                        "type": "text",
                        "label": "State"
                    },
                    {
                        "name": "board",
                        "spec": [
                            {
                                "name": "id",
                                "type": "uinteger",
                                "label": "ID"
                            }
                        ],
                        "type": "collection",
                        "label": "Board"
                    },
                    {
                        "name": "creator_id",
                        "type": "uinteger",
                        "label": "Creator ID"
                    },
                    {
                        "name": "group",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "title",
                                "type": "text",
                                "label": "Title"
                            },
                            {
                                "name": "deleted",
                                "type": "boolean",
                                "label": "Deleted"
                            },
                            {
                                "name": "archived",
                                "type": "boolean",
                                "label": "Archived"
                            }
                        ],
                        "type": "collection",
                        "label": "Group"
                    },
                    {
                        "name": "column_values",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "title",
                                "type": "text",
                                "label": "Title"
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            },
                            {
                                "name": "additional_info",
                                "type": "text",
                                "label": "Additional Info"
                            },
                            {
                                "name": "text",
                                "type": "text",
                                "label": "Text"
                            }
                        ],
                        "type": "array",
                        "label": "Column Values"
                    },
                    {
                        "name": "mappable_column_values",
                        "spec": [
                            {
                                "name": "name",
                                "label": "Name",
                                "type": "text"
                            },
                            {
                                "name": "color_mkqe6tr7",
                                "label": "סטטוס הזמנה",
                                "type": "collection",
                                "spec": [
                                    {
                                        "name": "index",
                                        "label": "Index",
                                        "type": "text"
                                    },
                                    {
                                        "name": "post_id",
                                        "label": "Post ID",
                                        "type": "text"
                                    },
                                    {
                                        "label": "Changed at",
                                        "name": "changed_at",
                                        "type": "date"
                                    },
                                    {
                                        "label": "Aditional info",
                                        "name": "additonal_info",
                                        "type": "collection",
                                        "spec": [
                                            {
                                                "name": "label",
                                                "type": "text",
                                                "label": "Label"
                                            },
                                            {
                                                "name": "color",
                                                "type": "color",
                                                "label": "Color"
                                            },
                                            {
                                                "name": "changed_at",
                                                "type": "date",
                                                "label": "Changed at"
                                            }
                                        ]
                                    },
                                    {
                                        "label": "Value",
                                        "name": "value",
                                        "type": "any"
                                    },
                                    {
                                        "label": "Text",
                                        "name": "text",
                                        "type": "text"
                                    }
                                ]
                            },
                            {
                                "name": "status",
                                "label": "חודש",
                                "type": "collection",
                                "spec": [
                                    {
                                        "name": "index",
                                        "label": "Index",
                                        "type": "text"
                                    },
                                    {
                                        "name": "post_id",
                                        "label": "Post ID",
                                        "type": "text"
                                    },
                                    {
                                        "label": "Changed at",
                                        "name": "changed_at",
                                        "type": "date"
                                    },
                                    {
                                        "label": "Aditional info",
                                        "name": "additonal_info",
                                        "type": "collection",
                                        "spec": [
                                            {
                                                "name": "label",
                                                "type": "text",
                                                "label": "Label"
                                            },
                                            {
                                                "name": "color",
                                                "type": "color",
                                                "label": "Color"
                                            },
                                            {
                                                "name": "changed_at",
                                                "type": "date",
                                                "label": "Changed at"
                                            }
                                        ]
                                    },
                                    {
                                        "label": "Value",
                                        "name": "value",
                                        "type": "any"
                                    },
                                    {
                                        "label": "Text",
                                        "name": "text",
                                        "type": "text"
                                    }
                                ]
                            },
                            {
                                "name": "text_mkrvvskv",
                                "label": "תאריך הזמנה",
                                "type": "text"
                            },
                            {
                                "name": "color_mktd445d",
                                "label": "שנה",
                                "type": "collection",
                                "spec": [
                                    {
                                        "name": "index",
                                        "label": "Index",
                                        "type": "text"
                                    },
                                    {
                                        "name": "post_id",
                                        "label": "Post ID",
                                        "type": "text"
                                    },
                                    {
                                        "label": "Changed at",
                                        "name": "changed_at",
                                        "type": "date"
                                    },
                                    {
                                        "label": "Aditional info",
                                        "name": "additonal_info",
                                        "type": "collection",
                                        "spec": [
                                            {
                                                "name": "label",
                                                "type": "text",
                                                "label": "Label"
                                            },
                                            {
                                                "name": "color",
                                                "type": "color",
                                                "label": "Color"
                                            },
                                            {
                                                "name": "changed_at",
                                                "type": "date",
                                                "label": "Changed at"
                                            }
                                        ]
                                    },
                                    {
                                        "label": "Value",
                                        "name": "value",
                                        "type": "any"
                                    },
                                    {
                                        "label": "Text",
                                        "name": "text",
                                        "type": "text"
                                    }
                                ]
                            },
                            {
                                "name": "text_mkqa8gn7",
                                "label": "מטופל",
                                "type": "text"
                            },
                            {
                                "name": "text_mkqaez78",
                                "label": "אחות",
                                "type": "text"
                            },
                            {
                                "name": "color_mkqayybh",
                                "label": "סוג טיפול",
                                "type": "collection",
                                "spec": [
                                    {
                                        "name": "index",
                                        "label": "Index",
                                        "type": "text"
                                    },
                                    {
                                        "name": "post_id",
                                        "label": "Post ID",
                                        "type": "text"
                                    },
                                    {
                                        "label": "Changed at",
                                        "name": "changed_at",
                                        "type": "date"
                                    },
                                    {
                                        "label": "Aditional info",
                                        "name": "additonal_info",
                                        "type": "collection",
                                        "spec": [
                                            {
                                                "name": "label",
                                                "type": "text",
                                                "label": "Label"
                                            },
                                            {
                                                "name": "color",
                                                "type": "color",
                                                "label": "Color"
                                            },
                                            {
                                                "name": "changed_at",
                                                "type": "date",
                                                "label": "Changed at"
                                            }
                                        ]
                                    },
                                    {
                                        "label": "Value",
                                        "name": "value",
                                        "type": "any"
                                    },
                                    {
                                        "label": "Text",
                                        "name": "text",
                                        "type": "text"
                                    }
                                ]
                            },
                            {
                                "name": "text_mkrvxt8f",
                                "label": "Check in date",
                                "type": "text"
                            },
                            {
                                "name": "text_mktdxhvb",
                                "label": "check out date",
                                "type": "text"
                            },
                            {
                                "name": "text_mkqayhnj",
                                "label": "משך הזמנה",
                                "type": "text"
                            },
                            {
                                "name": "numeric_mkqa8924",
                                "label": "תשלום",
                                "type": "number"
                            },
                            {
                                "name": "formula_mkrv91fp",
                                "label": "תשלום לאחות",
                                "type": "text"
                            },
                            {
                                "name": "formula_mkrv6vcg",
                                "label": "הכנסה נט",
                                "type": "text"
                            },
                            {
                                "name": "color_mkqppcpp",
                                "label": "תשלום בפועל",
                                "type": "collection",
                                "spec": [
                                    {
                                        "name": "index",
                                        "label": "Index",
                                        "type": "text"
                                    },
                                    {
                                        "name": "post_id",
                                        "label": "Post ID",
                                        "type": "text"
                                    },
                                    {
                                        "label": "Changed at",
                                        "name": "changed_at",
                                        "type": "date"
                                    },
                                    {
                                        "label": "Aditional info",
                                        "name": "additonal_info",
                                        "type": "collection",
                                        "spec": [
                                            {
                                                "name": "label",
                                                "type": "text",
                                                "label": "Label"
                                            },
                                            {
                                                "name": "color",
                                                "type": "color",
                                                "label": "Color"
                                            },
                                            {
                                                "name": "changed_at",
                                                "type": "date",
                                                "label": "Changed at"
                                            }
                                        ]
                                    },
                                    {
                                        "label": "Value",
                                        "name": "value",
                                        "type": "any"
                                    },
                                    {
                                        "label": "Text",
                                        "name": "text",
                                        "type": "text"
                                    }
                                ]
                            },
                            {
                                "name": "text_mkqa5hdc",
                                "label": "הערות",
                                "type": "text"
                            },
                            {
                                "name": "text_mkqa4ecf",
                                "label": "מקום מגורים",
                                "type": "text"
                            },
                            {
                                "name": "color_mkqaa2nm",
                                "label": "מחוז",
                                "type": "collection",
                                "spec": [
                                    {
                                        "name": "index",
                                        "label": "Index",
                                        "type": "text"
                                    },
                                    {
                                        "name": "post_id",
                                        "label": "Post ID",
                                        "type": "text"
                                    },
                                    {
                                        "label": "Changed at",
                                        "name": "changed_at",
                                        "type": "date"
                                    },
                                    {
                                        "label": "Aditional info",
                                        "name": "additonal_info",
                                        "type": "collection",
                                        "spec": [
                                            {
                                                "name": "label",
                                                "type": "text",
                                                "label": "Label"
                                            },
                                            {
                                                "name": "color",
                                                "type": "color",
                                                "label": "Color"
                                            },
                                            {
                                                "name": "changed_at",
                                                "type": "date",
                                                "label": "Changed at"
                                            }
                                        ]
                                    },
                                    {
                                        "label": "Value",
                                        "name": "value",
                                        "type": "any"
                                    },
                                    {
                                        "label": "Text",
                                        "name": "text",
                                        "type": "text"
                                    }
                                ]
                            },
                            {
                                "name": "numeric_mkqa4enf",
                                "label": "גיל מטופל",
                                "type": "number"
                            },
                            {
                                "name": "color_mkqam4f2",
                                "label": "יום בשבוע",
                                "type": "collection",
                                "spec": [
                                    {
                                        "name": "index",
                                        "label": "Index",
                                        "type": "text"
                                    },
                                    {
                                        "name": "post_id",
                                        "label": "Post ID",
                                        "type": "text"
                                    },
                                    {
                                        "label": "Changed at",
                                        "name": "changed_at",
                                        "type": "date"
                                    },
                                    {
                                        "label": "Aditional info",
                                        "name": "additonal_info",
                                        "type": "collection",
                                        "spec": [
                                            {
                                                "name": "label",
                                                "type": "text",
                                                "label": "Label"
                                            },
                                            {
                                                "name": "color",
                                                "type": "color",
                                                "label": "Color"
                                            },
                                            {
                                                "name": "changed_at",
                                                "type": "date",
                                                "label": "Changed at"
                                            }
                                        ]
                                    },
                                    {
                                        "label": "Value",
                                        "name": "value",
                                        "type": "any"
                                    },
                                    {
                                        "label": "Text",
                                        "name": "text",
                                        "type": "text"
                                    }
                                ]
                            },
                            {
                                "name": "text_mkrva3zt",
                                "label": "Nurse ID",
                                "type": "text"
                            },
                            {
                                "name": "numeric_mksqcqvg",
                                "label": "4 ספרות",
                                "type": "number"
                            },
                            {
                                "name": "text_mksqd4m0",
                                "label": "מספר הזמנה",
                                "type": "text"
                            },
                            {
                                "name": "pulse_log_mkvnwhms",
                                "label": "Creation log",
                                "type": "collection",
                                "spec": [
                                    {
                                        "name": "creator_id",
                                        "label": "Creator ID",
                                        "type": "uinteger"
                                    },
                                    {
                                        "name": "created_at",
                                        "label": "Created at",
                                        "type": "date"
                                    },
                                    {
                                        "label": "Changed at",
                                        "name": "changed_at",
                                        "type": "date"
                                    },
                                    {
                                        "label": "Aditional info",
                                        "name": "additonal_info",
                                        "type": "collection",
                                        "spec": [
                                            {
                                                "name": "label",
                                                "type": "text",
                                                "label": "Label"
                                            },
                                            {
                                                "name": "color",
                                                "type": "color",
                                                "label": "Color"
                                            },
                                            {
                                                "name": "changed_at",
                                                "type": "date",
                                                "label": "Changed at"
                                            }
                                        ]
                                    },
                                    {
                                        "label": "Value",
                                        "name": "value",
                                        "type": "any"
                                    },
                                    {
                                        "label": "Text",
                                        "name": "text",
                                        "type": "text"
                                    }
                                ]
                            }
                        ],
                        "type": "collection",
                        "label": "Mappable column values"
                    },
                    {
                        "name": "parent_item",
                        "spec": [
                            {
                                "name": "id",
                                "type": "uinteger",
                                "label": "ID"
                            }
                        ],
                        "type": "collection",
                        "label": "Parent Item"
                    },
                    {
                        "name": "subitems",
                        "spec": [
                            {
                                "name": "id",
                                "type": "uinteger",
                                "label": "ID"
                            }
                        ],
                        "type": "array",
                        "label": "Subitems"
                    }
                ]
            }
        },
        {
            "id": 18,
            "module": "builtin:BasicAggregator",
            "version": 1,
            "parameters": {
                "feeder": 16
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 1417,
                    "y": -60
                },
                "restore": {
                    "extra": {
                        "feeder": {
                            "label": "monday.com - List Group's Items [16]"
                        },
                        "target": {
                            "label": "Custom"
                        }
                    }
                }
            }
        },
        {
            "id": 17,
            "module": "builtin:BasicFeeder",
            "version": 1,
            "parameters": {},
            "mapper": {
                "array": "{{18.array}}"
            },
            "metadata": {
                "designer": {
                    "x": 1724,
                    "y": -125
                },
                "restore": {
                    "expect": {
                        "array": {
                            "mode": "edit"
                        }
                    }
                },
                "expect": [
                    {
                        "name": "array",
                        "type": "array",
                        "label": "Array",
                        "mode": "edit",
                        "spec": []
                    }
                ]
            }
        },
        {
            "id": 20,
            "module": "util:FunctionAggregator2",
            "version": 1,
            "parameters": {
                "fn": "count",
                "feeder": 17
            },
            "mapper": {
                "value": "1"
            },
            "metadata": {
                "designer": {
                    "x": 2024,
                    "y": -125
                },
                "restore": {
                    "parameters": {
                        "fn": {
                            "label": "COUNT"
                        }
                    },
                    "extra": {
                        "feeder": {
                            "label": "Iterator [17]"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "fn",
                        "type": "select",
                        "label": "Aggregate function",
                        "required": true,
                        "validate": {
                            "enum": [
                                "avg",
                                "sum",
                                "count",
                                "max",
                                "min"
                            ]
                        }
                    }
                ],
                "expect": [
                    {
                        "name": "value",
                        "type": "number",
                        "label": "Value"
                    }
                ]
            }
        },
        {
            "id": 21,
            "module": "monday:createItem2",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 1713803
            },
            "filter": {
                "name": "",
                "conditions": [
                    [
                        {
                            "a": "{{20.aggregate}}",
                            "o": "number:equal",
                            "b": "0"
                        },
                        {
                            "a": "{{15.jsonResponse.status}}",
                            "o": "text:equal",
                            "b": "NEW"
                        }
                    ]
                ]
            },
            "mapper": {
                "name": "{{15.jsonResponse.mapped_fields.client_name}} - {{15.jsonResponse.mapped_fields.patient_name}}",
                "boardId": "9021789808",
                "create_labels_if_missing": false,
                "groupId": "group_mktdgg32",
                "columnIds": [
                    "text_mkqa8gn7"
                ],
                "columnValues": {
                    "text_mkqa8gn7": "{{15.jsonResponse.mapped_fields.patient_name}}"
                }
            },
            "metadata": {
                "designer": {
                    "x": 2324,
                    "y": -125,
                    "messages": []
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "My Monday v2 connection",
                            "data": {
                                "scoped": "true",
                                "connection": "monday"
                            }
                        }
                    },
                    "expect": {
                        "boardId": {
                            "label": "מידע מבק אופיס  ::  share"
                        },
                        "groupId": {
                            "mode": "chose",
                            "label": "חדשים"
                        },
                        "columnIds": {
                            "label": [
                                "מטופל"
                            ]
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:monday",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Item Name",
                        "required": true
                    },
                    {
                        "name": "boardId",
                        "type": "select",
                        "label": "Board",
                        "required": true
                    },
                    {
                        "name": "create_labels_if_missing",
                        "type": "boolean",
                        "label": "Create Labels if Missing",
                        "required": true
                    },
                    {
                        "name": "groupId",
                        "type": "select",
                        "label": "Group"
                    },
                    {
                        "name": "columnIds",
                        "type": "select",
                        "label": "Columns",
                        "multiple": true
                    },
                    {
                        "name": "columnValues",
                        "type": "collection",
                        "label": "Column Values",
                        "spec": [
                            {
                                "name": "text_mkqa8gn7",
                                "type": "text",
                                "label": "מטופל",
                                "metadata": {
                                    "mondayType": "text"
                                }
                            }
                        ]
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us2.make.com",
        "notes": []
    }
}