Customers/wonder.care/02-workflows/scenario.blueprint (2).json
{
    "name": "delete dup records - efficient batch",
    "flow": [
        {
            "id": 1,
            "module": "monday:ListBoardItems",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 1713803
            },
            "mapper": {
                "limit": "500",
                "boardId": "9021789808",
                "showParentID": false,
                "showSubitemsID": false,
                "startPage": "",
                "disableOutputInterfaceCaching": false
            },
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                }
            }
        },
        {
            "id": 2,
            "module": "builtin:BasicAggregator",
            "version": 1,
            "parameters": {
                "feeder": 1
            },
            "mapper": {
                "aggregation": "group",
                "groupBy": "{{1.mappable_column_values.text_mkqa8gn7}}",
                "aggregate": "count"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                },
                "restore": {
                    "extra": {
                        "feeder": {
                            "label": "monday.com - List Board Items [1]"
                        },
                        "target": {
                            "label": "Custom"
                        }
                    }
                }
            }
        },
        {
            "id": 3,
            "module": "builtin:BasicAggregator",
            "version": 1,
            "parameters": {
                "feeder": 2
            },
            "filter": {
                "name": "",
                "conditions": [
                    [
                        {
                            "a": "{{2.count}}",
                            "o": "number:greater",
                            "b": "1"
                        }
                    ]
                ]
            },
            "mapper": {
                "aggregation": "group",
                "groupBy": "{{2.count}}",
                "aggregate": "count"
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                }
            }
        },
        {
            "id": 4,
            "module": "builtin:BasicAggregator",
            "version": 1,
            "parameters": {
                "feeder": 3
            },
            "mapper": {
                "aggregation": "sort",
                "sortBy": "{{3.created_at}}",
                "sortOrder": "asc"
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 0
                }
            }
        },
        {
            "id": 5,
            "module": "builtin:BasicAggregator",
            "version": 1,
            "parameters": {
                "feeder": 4
            },
            "mapper": {
                "aggregation": "skip",
                "skip": "1"
            },
            "metadata": {
                "designer": {
                    "x": 1200,
                    "y": 0
                }
            }
        },
        {
            "id": 6,
            "module": "monday:DeleteItem",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 1713803
            },
            "mapper": {
                "itemId": "{{5.id}}"
            },
            "metadata": {
                "designer": {
                    "x": 1500,
                    "y": 0
                }
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us2.make.com",
        "notes": []
    }
}