Customers/wonder.care/02-workflows/scenario.blueprint (1).json
{
    "name": "Create a new item in Monday.com for every new row in Google Sheets",
    "flow": [
        {
            "id": 1,
            "module": "google-sheets:watchRows",
            "version": 2,
            "parameters": {
                "mode": "fromAll",
                "limit": 1000,
                "sheetId": "דוח למאנדיי",
                "__IMTCONN__": 1713566,
                "spreadsheetId": "1PzOGo098DA-otmdg9CuUexrLXzsQQA-OQd4kNPJ8r58",
                "tableFirstRow": "A1:Z1",
                "includesHeaders": true,
                "valueRenderOption": "FORMATTED_VALUE",
                "dateTimeRenderOption": "FORMATTED_STRING"
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": -178,
                    "y": -17
                },
                "restore": {
                    "parameters": {
                        "mode": {
                            "label": "Select from all"
                        },
                        "sheetId": {
                            "label": "דוח למאנדיי"
                        },
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "My Googhttps://docs.google.com/spreadsheets/d/1zxfTrrPKQR_YkLRqsl-ufwSGxU9_L4T1wnfuj1v0nXU/edit?gid=0#gid=0le connection (ortal.flanary@gmail.com)"
                        },
                        "spreadsheetId": {
                            "rpcSearch": {
                                "label": "הזמנות טסט",
                                "value": "1PzOGo098DA-otmdg9CuUexrLXzsQQA-OQd4kNPJ8r58"
                            }
                        },
                        "includesHeaders": {
                            "label": "Yes"
                        },
                        "valueRenderOption": {
                            "mode": "chose",
                            "label": "Formatted value"
                        },
                        "dateTimeRenderOption": {
                            "mode": "chose",
                            "label": "Formatted string"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "mode",
                        "type": "select",
                        "label": "Search Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "select",
                                "fromAll",
                                "map"
                            ]
                        }
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit",
                        "required": true
                    },
                    {
                        "name": "valueRenderOption",
                        "type": "select",
                        "label": "Value render option",
                        "validate": {
                            "enum": [
                                "FORMATTED_VALUE",
                                "UNFORMATTED_VALUE",
                                "FORMULA"
                            ]
                        }
                    },
                    {
                        "name": "dateTimeRenderOption",
                        "type": "select",
                        "label": "Date and time render option",
                        "validate": {
                            "enum": [
                                "SERIAL_NUMBER",
                                "FORMATTED_STRING"
                            ]
                        }
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "text",
                        "label": "Spreadsheet ID",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet Name",
                        "required": true
                    },
                    {
                        "name": "tableFirstRow",
                        "type": "text",
                        "label": "Row with headers",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "__ROW_NUMBER__",
                        "type": "number",
                        "label": "Row number"
                    },
                    {
                        "name": "__SPREADSHEET_ID__",
                        "type": "text",
                        "label": "Spreadsheet ID"
                    },
                    {
                        "name": "__SHEET__",
                        "type": "text",
                        "label": "Sheet"
                    },
                    {
                        "name": "0",
                        "type": "text",
                        "label": "שנה (A)"
                    },
                    {
                        "name": "1",
                        "type": "text",
                        "label": "חודש (B)"
                    },
                    {
                        "name": "2",
                        "type": "text",
                        "label": "תאריך (C)"
                    },
                    {
                        "name": "3",
                        "type": "text",
                        "label": "לקוח (D)"
                    },
                    {
                        "name": "4",
                        "type": "text",
                        "label": "מטופל (E)"
                    },
                    {
                        "name": "5",
                        "type": "text",
                        "label": "אחות (F)"
                    },
                    {
                        "name": "6",
                        "type": "text",
                        "label": "סוג טיפול (G)"
                    },
                    {
                        "name": "7",
                        "type": "text",
                        "label": "צק אין (H)"
                    },
                    {
                        "name": "8",
                        "type": "text",
                        "label": "צק אאוט (I)"
                    },
                    {
                        "name": "9",
                        "type": "text",
                        "label": "משך הזמנה (J)"
                    },
                    {
                        "name": "10",
                        "type": "text",
                        "label": "סטטוס (K)"
                    },
                    {
                        "name": "11",
                        "type": "text",
                        "label": "תשלום (L)"
                    },
                    {
                        "name": "12",
                        "type": "text",
                        "label": "מקום מגורים (M)"
                    },
                    {
                        "name": "13",
                        "type": "text",
                        "label": "גיל מטופל (N)"
                    },
                    {
                        "name": "14",
                        "type": "text",
                        "label": "מחוז (O)"
                    },
                    {
                        "name": "15",
                        "type": "text",
                        "label": "4 ספרות (P)"
                    },
                    {
                        "name": "16",
                        "type": "text",
                        "label": "מסpר הזמנה (Q)"
                    },
                    {
                        "name": "17",
                        "type": "text",
                        "label": "(R)"
                    },
                    {
                        "name": "18",
                        "type": "text",
                        "label": "(S)"
                    },
                    {
                        "name": "19",
                        "type": "text",
                        "label": "(T)"
                    },
                    {
                        "name": "20",
                        "type": "text",
                        "label": "(U)"
                    },
                    {
                        "name": "21",
                        "type": "text",
                        "label": "(V)"
                    },
                    {
                        "name": "22",
                        "type": "text",
                        "label": "(W)"
                    },
                    {
                        "name": "23",
                        "type": "text",
                        "label": "(X)"
                    },
                    {
                        "name": "24",
                        "type": "text",
                        "label": "(Y)"
                    },
                    {
                        "name": "25",
                        "type": "text",
                        "label": "(Z)"
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "monday:ListItemsByColumnValues",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 1713803
            },
            "mapper": {
                "limit": "10",
                "boardId": "9021789808",
                "showParentID": false,
                "showSubitemsID": false,
                "startPage": "",
                "disableOutputInterfaceCaching": false,
                "columnId": "text_mkqa8gn7",
                "filterToGetColumnValues": [],
                "columnValue": "{{1.`4`}}"
            },
            "metadata": {
                "designer": {
                    "x": 108,
                    "y": 19
                },
                "restore": {
                    "expect": {
                        "boardId": {
                            "mode": "chose",
                            "label": "מידע מבק אופיס  ::  share"
                        },
                        "operator": {
                            "label": "Empty"
                        },
                        "filterToGetColumnValues": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "monday"
                            },
                            "label": "My Monday v2 connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:monday",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit",
                        "required": true
                    },
                    {
                        "name": "boardId",
                        "type": "select",
                        "label": "Board ID",
                        "required": true
                    },
                    {
                        "name": "showParentID",
                        "type": "boolean",
                        "label": "Show Parent ID",
                        "required": true
                    },
                    {
                        "name": "showSubitemsID",
                        "type": "boolean",
                        "label": "Show Subitems ID",
                        "required": true
                    },
                    {
                        "name": "startPage",
                        "type": "uinteger",
                        "label": "Start Page"
                    },
                    {
                        "name": "disableOutputInterfaceCaching",
                        "type": "boolean",
                        "label": "Disable Output Interface Caching",
                        "required": true
                    },
                    {
                        "name": "columnId",
                        "type": "select",
                        "label": "Column ID to Search the Value",
                        "required": true
                    },
                    {
                        "name": "filterToGetColumnValues",
                        "type": "array",
                        "label": "Output Column Values",
                        "spec": {
                            "type": "select",
                            "label": "Column ID",
                            "options": [],
                            "required": true,
                            "name": "value",
                            "dynamic": true
                        }
                    },
                    {
                        "name": "columnValue",
                        "type": "text",
                        "label": "Column Value",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "monday:CreateItem",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 1713803
            },
            "filter": {
                "name": "",
                "conditions": [
                    [
                        {
                            "a": "{{4.length}}",
                            "o": "number:equal",
                            "b": "0"
                        }
                    ]
                ]
            },
            "mapper": {
                "name": "{{1.`3`}} - {{1.`4`}}",
                "boardId": "9021789808",
                "groupId": "group_mktdgg32",
                "columnValuesToChange": [
                    {
                        "columnId": "text_mkrvvskv",
                        "columnValue": "{{1.`2`}}"
                    },
                    {
                        "columnId": "text_mkqa8gn7",
                        "columnValue": "{{1.`4`}}"
                    },
                    {
                        "columnId": "text_mkqaez78",
                        "columnValue": "{{1.`5`}}"
                    },
                    {
                        "columnId": "color_mkqayybh",
                        "columnValue": "{{1.`6`}}"
                    },
                    {
                        "columnId": "text_mkrvxt8f",
                        "columnValue": "{{1.`7`}}"
                    },
                    {
                        "columnId": "text_mktdxhvb",
                        "columnValue": "{{1.`8`}}"
                    },
                    {
                        "columnId": "text_mkqayhnj",
                        "columnValue": "{{1.`9`}}"
                    },
                    {
                        "columnId": "numeric_mkqa8924",
                        "columnValue": "{{1.`11`}}"
                    },
                    {
                        "columnId": "text_mkqa4ecf",
                        "columnValue": "{{1.`12`}}"
                    },
                    {
                        "columnId": "numeric_mkqa4enf",
                        "columnValue": "{{1.`13`}}"
                    },
                    {
                        "columnId": "color_mkqaa2nm",
                        "columnValue": "{{1.`14`}}"
                    }
                ],
                "create_labels_if_missing": false
            },
            "metadata": {
                "designer": {
                    "x": 429,
                    "y": -4
                },
                "restore": {
                    "expect": {
                        "boardId": {
                            "mode": "chose",
                            "label": "מידע מבק אופיס  ::  share"
                        },
                        "groupId": {
                            "mode": "chose",
                            "label": "חדשים"
                        },
                        "columnValuesToChange": {
                            "mode": "chose",
                            "items": [
                                {
                                    "columnId": {
                                        "mode": "chose",
                                        "label": "מטופל"
                                    }
                                }
                            ]
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "monday"
                            },
                            "label": "My Monday v2 connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:monday",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Item Name",
                        "required": true
                    },
                    {
                        "name": "boardId",
                        "type": "select",
                        "label": "Board ID",
                        "required": true
                    },
                    {
                        "name": "create_labels_if_missing",
                        "type": "boolean",
                        "label": "Create Labels if Missing",
                        "required": true
                    },
                    {
                        "name": "groupId",
                        "type": "select",
                        "label": "Group ID"
                    },
                    {
                        "name": "columnValuesToChange",
                        "spec": [
                            {
                                "name": "columnId",
                                "type": "select",
                                "label": "Column ID",
                                "options": [
                                    {
                                        "label": "4 ספרות",
                                        "value": "numeric_mksqcqvg",
                                        "nested": [
                                            {
                                                "name": "columnValue",
                                                "type": "number",
                                                "label": "Value",
                                                "required": true
                                            }
                                        ]
                                    },
                                    {
                                        "label": "Check in date",
                                        "value": "text_mkrvxt8f",
                                        "nested": [
                                            {
                                                "name": "columnValue",
                                                "type": "text",
                                                "label": "Value",
                                                "required": true
                                            }
                                        ]
                                    },
                                    {
                                        "label": "Nurse ID",
                                        "value": "text_mkrva3zt",
                                        "nested": [
                                            {
                                                "name": "columnValue",
                                                "type": "text",
                                                "label": "Value",
                                                "required": true
                                            }
                                        ]
                                    },
                                    {
                                        "label": "check out date",
                                        "value": "text_mktdxhvb",
                                        "nested": [
                                            {
                                                "name": "columnValue",
                                                "type": "text",
                                                "label": "Value",
                                                "required": true
                                            }
                                        ]
                                    },
                                    {
                                        "label": "אחות",
                                        "value": "text_mkqaez78",
                                        "nested": [
                                            {
                                                "name": "columnValue",
                                                "type": "text",
                                                "label": "Value",
                                                "required": true
                                            }
                                        ]
                                    },
                                    {
                                        "label": "גיל מטופל",
                                        "value": "numeric_mkqa4enf",
                                        "nested": [
                                            {
                                                "name": "columnValue",
                                                "type": "number",
                                                "label": "Value",
                                                "required": true
                                            }
                                        ]
                                    },
                                    {
                                        "label": "הערות",
                                        "value": "text_mkqa5hdc",
                                        "nested": [
                                            {
                                                "name": "columnValue",
                                                "type": "text",
                                                "label": "Value",
                                                "required": true
                                            }
                                        ]
                                    },
                                    {
                                        "label": "חודש",
                                        "value": "status",
                                        "nested": [
                                            {
                                                "name": "columnValue",
                                                "spec": [
                                                    {
                                                        "name": "selectType",
                                                        "type": "select",
                                                        "label": "Index/Label",
                                                        "options": [
                                                            {
                                                                "label": "Index",
                                                                "value": "index2index",
                                                                "nested": [
                                                                    {
                                                                        "name": "index",
                                                                        "type": "select",
                                                                        "label": "Index",
                                                                        "options": [
                                                                            {
                                                                                "label": "ינואר",
                                                                                "value": "0"
                                                                            },
                                                                            {
                                                                                "label": "מרץ",
                                                                                "value": "1"
                                                                            },
                                                                            {
                                                                                "label": "פברואר",
                                                                                "value": "2"
                                                                            },
                                                                            {
                                                                                "label": "אפריל",
                                                                                "value": "3"
                                                                            },
                                                                            {
                                                                                "label": "מאי",
                                                                                "value": "4"
                                                                            },
                                                                            {
                                                                                "label": "יוני",
                                                                                "value": "6"
                                                                            },
                                                                            {
                                                                                "label": "יולי",
                                                                                "value": "7"
                                                                            },
                                                                            {
                                                                                "label": "אוגוסט",
                                                                                "value": "8"
                                                                            },
                                                                            {
                                                                                "label": "ספטמבר",
                                                                                "value": "9"
                                                                            },
                                                                            {
                                                                                "label": "אוקטובר",
                                                                                "value": "10"
                                                                            },
                                                                            {
                                                                                "label": "נובמבר",
                                                                                "value": "11"
                                                                            },
                                                                            {
                                                                                "label": "צדמבר",
                                                                                "value": "12"
                                                                            }
                                                                        ],
                                                                        "editable": true,
                                                                        "required": true
                                                                    }
                                                                ]
                                                            },
                                                            {
                                                                "label": "Label",
                                                                "value": "label2index",
                                                                "nested": [
                                                                    {
                                                                        "name": "label",
                                                                        "type": "select",
                                                                        "label": "Label",
                                                                        "options": [
                                                                            {
                                                                                "label": "ינואר",
                                                                                "value": "ינואר"
                                                                            },
                                                                            {
                                                                                "label": "מרץ",
                                                                                "value": "מרץ"
                                                                            },
                                                                            {
                                                                                "label": "פברואר",
                                                                                "value": "פברואר"
                                                                            },
                                                                            {
                                                                                "label": "אפריל",
                                                                                "value": "אפריל"
                                                                            },
                                                                            {
                                                                                "label": "מאי",
                                                                                "value": "מאי"
                                                                            },
                                                                            {
                                                                                "label": "יוני",
                                                                                "value": "יוני"
                                                                            },
                                                                            {
                                                                                "label": "יולי",
                                                                                "value": "יולי"
                                                                            },
                                                                            {
                                                                                "label": "אוגוסט",
                                                                                "value": "אוגוסט"
                                                                            },
                                                                            {
                                                                                "label": "ספטמבר",
                                                                                "value": "ספטמבר"
                                                                            },
                                                                            {
                                                                                "label": "אוקטובר",
                                                                                "value": "אוקטובר"
                                                                            },
                                                                            {
                                                                                "label": "נובמבר",
                                                                                "value": "נובמבר"
                                                                            },
                                                                            {
                                                                                "label": "צדמבר",
                                                                                "value": "צדמבר"
                                                                            }
                                                                        ],
                                                                        "editable": true,
                                                                        "required": true,
                                                                        "validate": false
                                                                    },
                                                                    {
                                                                        "name": "settings",
                                                                        "type": "hidden",
                                                                        "default": "{\"done_colors\":[1],\"labels\":{\"0\":\"ינואר\",\"1\":\"מרץ\",\"2\":\"פברואר\",\"3\":\"אפריל\",\"4\":\"מאי\",\"6\":\"יוני\",\"7\":\"יולי\",\"8\":\"אוגוסט\",\"9\":\"ספטמבר\",\"10\":\"אוקטובר\",\"11\":\"נובמבר\",\"12\":\"צדמבר\"},\"labels_positions_v2\":{\"0\":0,\"1\":2,\"2\":1,\"3\":4,\"4\":5,\"5\":3,\"6\":6,\"7\":7,\"8\":8,\"9\":9,\"10\":10,\"11\":11,\"12\":12},\"labels_colors\":{\"0\":{\"color\":\"#fdab3d\",\"border\":\"#e99729\",\"var_name\":\"orange\"},\"1\":{\"color\":\"#00c875\",\"border\":\"#00b461\",\"var_name\":\"green-shadow\"},\"2\":{\"color\":\"#df2f4a\",\"border\":\"#ce3048\",\"var_name\":\"red-shadow\"},\"3\":{\"color\":\"#007eb5\",\"border\":\"#3db0df\",\"var_name\":\"blue-links\"},\"4\":{\"color\":\"#9d50dd\",\"border\":\"#9238af\",\"var_name\":\"purple\"},\"6\":{\"color\":\"#037f4c\",\"border\":\"#006b38\",\"var_name\":\"grass-green\"},\"7\":{\"color\":\"#579bfc\",\"border\":\"#4387e8\",\"var_name\":\"bright-blue\"},\"8\":{\"color\":\"#cab641\",\"border\":\"#c0ab31\",\"var_name\":\"mustered\"},\"9\":{\"color\":\"#ffcb00\",\"border\":\"#c0ab1b\",\"var_name\":\"yellow\"},\"10\":{\"color\":\"#333333\",\"border\":\"#000\",\"var_name\":\"soft-black\"},\"11\":{\"color\":\"#bb3354\",\"border\":\"#a42d4a\",\"var_name\":\"dark-red\"},\"12\":{\"color\":\"#ff007f\",\"border\":\"#e01279\",\"var_name\":\"dark-pink\"}}}"
                                                                    }
                                                                ]
                                                            }
                                                        ],
                                                        "editable": false,
                                                        "required": true
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Value",
                                                "required": true
                                            }
                                        ]
                                    },
                                    {
                                        "label": "יום בשבוע",
                                        "value": "color_mkqam4f2",
                                        "nested": [
                                            {
                                                "name": "columnValue",
                                                "spec": [
                                                    {
                                                        "name": "selectType",
                                                        "type": "select",
                                                        "label": "Index/Label",
                                                        "options": [
                                                            {
                                                                "label": "Index",
                                                                "value": "index2index",
                                                                "nested": [
                                                                    {
                                                                        "name": "index",
                                                                        "type": "select",
                                                                        "label": "Index",
                                                                        "options": [
                                                                            {
                                                                                "label": "ד",
                                                                                "value": "0"
                                                                            },
                                                                            {
                                                                                "label": "ה",
                                                                                "value": "1"
                                                                            },
                                                                            {
                                                                                "label": "ו",
                                                                                "value": "2"
                                                                            },
                                                                            {
                                                                                "label": "ב",
                                                                                "value": "3"
                                                                            },
                                                                            {
                                                                                "label": "ש",
                                                                                "value": "4"
                                                                            },
                                                                            {
                                                                                "label": "א",
                                                                                "value": "105"
                                                                            },
                                                                            {
                                                                                "label": "ג",
                                                                                "value": "156"
                                                                            }
                                                                        ],
                                                                        "editable": true,
                                                                        "required": true
                                                                    }
                                                                ]
                                                            },
                                                            {
                                                                "label": "Label",
                                                                "value": "label2index",
                                                                "nested": [
                                                                    {
                                                                        "name": "label",
                                                                        "type": "select",
                                                                        "label": "Label",
                                                                        "options": [
                                                                            {
                                                                                "label": "ד",
                                                                                "value": "ד"
                                                                            },
                                                                            {
                                                                                "label": "ה",
                                                                                "value": "ה"
                                                                            },
                                                                            {
                                                                                "label": "ו",
                                                                                "value": "ו"
                                                                            },
                                                                            {
                                                                                "label": "ב",
                                                                                "value": "ב"
                                                                            },
                                                                            {
                                                                                "label": "ש",
                                                                                "value": "ש"
                                                                            },
                                                                            {
                                                                                "label": "א",
                                                                                "value": "א"
                                                                            },
                                                                            {
                                                                                "label": "ג",
                                                                                "value": "ג"
                                                                            }
                                                                        ],
                                                                        "editable": true,
                                                                        "required": true,
                                                                        "validate": false
                                                                    },
                                                                    {
                                                                        "name": "settings",
                                                                        "type": "hidden",
                                                                        "default": "{\"done_colors\":[1],\"labels\":{\"0\":\"ד\",\"1\":\"ה\",\"2\":\"ו\",\"3\":\"ב\",\"4\":\"ש\",\"105\":\"א\",\"156\":\"ג\"},\"labels_positions_v2\":{\"0\":4,\"1\":5,\"2\":6,\"3\":1,\"4\":7,\"5\":3,\"105\":0,\"156\":2},\"labels_colors\":{\"0\":{\"color\":\"#fdab3d\",\"border\":\"#e99729\",\"var_name\":\"orange\"},\"1\":{\"color\":\"#00c875\",\"border\":\"#00b461\",\"var_name\":\"green-shadow\"},\"2\":{\"color\":\"#df2f4a\",\"border\":\"#ce3048\",\"var_name\":\"red-shadow\"},\"3\":{\"color\":\"#007eb5\",\"border\":\"#3db0df\",\"var_name\":\"blue-links\"},\"4\":{\"color\":\"#9d50dd\",\"border\":\"#9238af\",\"var_name\":\"purple\"},\"105\":{\"color\":\"#9aadbd\",\"border\":\"#9aadbd\",\"var_name\":\"winter\"},\"156\":{\"color\":\"#9d99b9\",\"border\":\"#9d99b9\",\"var_name\":\"purple_gray\"}}}"
                                                                    }
                                                                ]
                                                            }
                                                        ],
                                                        "editable": false,
                                                        "required": true
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Value",
                                                "required": true
                                            }
                                        ]
                                    },
                                    {
                                        "label": "מחוז",
                                        "value": "color_mkqaa2nm",
                                        "nested": [
                                            {
                                                "name": "columnValue",
                                                "spec": [
                                                    {
                                                        "name": "selectType",
                                                        "type": "select",
                                                        "label": "Index/Label",
                                                        "options": [
                                                            {
                                                                "label": "Index",
                                                                "value": "index2index",
                                                                "nested": [
                                                                    {
                                                                        "name": "index",
                                                                        "type": "select",
                                                                        "label": "Index",
                                                                        "options": [
                                                                            {
                                                                                "label": "שרון",
                                                                                "value": "0"
                                                                            },
                                                                            {
                                                                                "label": "שפלה",
                                                                                "value": "1"
                                                                            },
                                                                            {
                                                                                "label": "ירושלים",
                                                                                "value": "2"
                                                                            },
                                                                            {
                                                                                "label": "מרכז",
                                                                                "value": "3"
                                                                            },
                                                                            {
                                                                                "label": "יהודה ושומרון",
                                                                                "value": "4"
                                                                            },
                                                                            {
                                                                                "label": "ללא מידע",
                                                                                "value": "6"
                                                                            },
                                                                            {
                                                                                "label": "צפון",
                                                                                "value": "105"
                                                                            },
                                                                            {
                                                                                "label": "דרום",
                                                                                "value": "156"
                                                                            }
                                                                        ],
                                                                        "editable": true,
                                                                        "required": true
                                                                    }
                                                                ]
                                                            },
                                                            {
                                                                "label": "Label",
                                                                "value": "label2index",
                                                                "nested": [
                                                                    {
                                                                        "name": "label",
                                                                        "type": "select",
                                                                        "label": "Label",
                                                                        "options": [
                                                                            {
                                                                                "label": "שרון",
                                                                                "value": "שרון"
                                                                            },
                                                                            {
                                                                                "label": "שפלה",
                                                                                "value": "שפלה"
                                                                            },
                                                                            {
                                                                                "label": "ירושלים",
                                                                                "value": "ירושלים"
                                                                            },
                                                                            {
                                                                                "label": "מרכז",
                                                                                "value": "מרכז"
                                                                            },
                                                                            {
                                                                                "label": "יהודה ושומרון",
                                                                                "value": "יהודה ושומרון"
                                                                            },
                                                                            {
                                                                                "label": "ללא מידע",
                                                                                "value": "ללא מידע"
                                                                            },
                                                                            {
                                                                                "label": "צפון",
                                                                                "value": "צפון"
                                                                            },
                                                                            {
                                                                                "label": "דרום",
                                                                                "value": "דרום"
                                                                            }
                                                                        ],
                                                                        "editable": true,
                                                                        "required": true,
                                                                        "validate": false
                                                                    },
                                                                    {
                                                                        "name": "settings",
                                                                        "type": "hidden",
                                                                        "default": "{\"done_colors\":[1],\"labels\":{\"0\":\"שרון\",\"1\":\"שפלה\",\"2\":\"ירושלים\",\"3\":\"מרכז\",\"4\":\"יהודה ושומרון\",\"105\":\"צפון\",\"156\":\"דרום\",\"6\":\"ללא מידע\"},\"labels_positions_v2\":{\"0\":4,\"1\":5,\"2\":6,\"3\":1,\"4\":7,\"5\":3,\"105\":0,\"156\":2},\"labels_colors\":{\"0\":{\"color\":\"#fdab3d\",\"border\":\"#e99729\",\"var_name\":\"orange\"},\"1\":{\"color\":\"#00c875\",\"border\":\"#00b461\",\"var_name\":\"green-shadow\"},\"2\":{\"color\":\"#df2f4a\",\"border\":\"#ce3048\",\"var_name\":\"red-shadow\"},\"3\":{\"color\":\"#007eb5\",\"border\":\"#3db0df\",\"var_name\":\"blue-links\"},\"4\":{\"color\":\"#9d50dd\",\"border\":\"#9238af\",\"var_name\":\"purple\"},\"105\":{\"color\":\"#9aadbd\",\"border\":\"#9aadbd\",\"var_name\":\"winter\"},\"156\":{\"color\":\"#9d99b9\",\"border\":\"#9d99b9\",\"var_name\":\"purple_gray\"},\"6\":{\"color\":\"#037f4c\",\"border\":\"#006b38\",\"var_name\":\"grass-green\"}}}"
                                                                    }
                                                                ]
                                                            }
                                                        ],
                                                        "editable": false,
                                                        "required": true
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Value",
                                                "required": true
                                            }
                                        ]
                                    },
                                    {
                                        "label": "מטופל",
                                        "value": "text_mkqa8gn7",
                                        "nested": [
                                            {
                                                "name": "columnValue",
                                                "type": "text",
                                                "label": "Value",
                                                "required": true
                                            }
                                        ]
                                    },
                                    {
                                        "label": "מספר הזמנה",
                                        "value": "text_mksqd4m0",
                                        "nested": [
                                            {
                                                "name": "columnValue",
                                                "type": "text",
                                                "label": "Value",
                                                "required": true
                                            }
                                        ]
                                    },
                                    {
                                        "label": "מקום מגורים",
                                        "value": "text_mkqa4ecf",
                                        "nested": [
                                            {
                                                "name": "columnValue",
                                                "type": "text",
                                                "label": "Value",
                                                "required": true
                                            }
                                        ]
                                    },
                                    {
                                        "label": "משך הזמנה",
                                        "value": "text_mkqayhnj",
                                        "nested": [
                                            {
                                                "name": "columnValue",
                                                "type": "text",
                                                "label": "Value",
                                                "required": true
                                            }
                                        ]
                                    },
                                    {
                                        "label": "סוג טיפול",
                                        "value": "color_mkqayybh",
                                        "nested": [
                                            {
                                                "name": "columnValue",
                                                "spec": [
                                                    {
                                                        "name": "selectType",
                                                        "type": "select",
                                                        "label": "Index/Label",
                                                        "options": [
                                                            {
                                                                "label": "Index",
                                                                "value": "index2index",
                                                                "nested": [
                                                                    {
                                                                        "name": "index",
                                                                        "type": "select",
                                                                        "label": "Index",
                                                                        "options": [
                                                                            {
                                                                                "label": "טיפול בפצע",
                                                                                "value": "0"
                                                                            },
                                                                            {
                                                                                "label": "הדרכת רמדיקס",
                                                                                "value": "1"
                                                                            },
                                                                            {
                                                                                "label": "טיפול בצנתר מרכזי",
                                                                                "value": "2"
                                                                            },
                                                                            {
                                                                                "label": "שמירה פרטית בית חולים",
                                                                                "value": "3"
                                                                            },
                                                                            {
                                                                                "label": "אחות יום/לילה/בית",
                                                                                "value": "4"
                                                                            },
                                                                            {
                                                                                "label": "טיפול תרופתי",
                                                                                "value": "6"
                                                                            },
                                                                            {
                                                                                "label": "סיוע ברחצה",
                                                                                "value": "7"
                                                                            },
                                                                            {
                                                                                "label": "טיפול בפצע מורכב",
                                                                                "value": "8"
                                                                            },
                                                                            {
                                                                                "label": "עירוי נוזלים",
                                                                                "value": "9"
                                                                            },
                                                                            {
                                                                                "label": "שמירה פרטית בית חולים סטודנט",
                                                                                "value": "10"
                                                                            },
                                                                            {
                                                                                "label": "פיזיותרפיה",
                                                                                "value": "11"
                                                                            },
                                                                            {
                                                                                "label": "יעוץ והדרכה",
                                                                                "value": "12"
                                                                            },
                                                                            {
                                                                                "label": "שונות",
                                                                                "value": "13"
                                                                            },
                                                                            {
                                                                                "label": "חוקן תחת הוראה",
                                                                                "value": "14"
                                                                            },
                                                                            {
                                                                                "label": "הכנסה /החלפת קטטר",
                                                                                "value": "15"
                                                                            },
                                                                            {
                                                                                "label": "האכלה tpn",
                                                                                "value": "16"
                                                                            },
                                                                            {
                                                                                "label": "ייעוץ רופא",
                                                                                "value": "17"
                                                                            },
                                                                            {
                                                                                "label": "הוצאת תפרים",
                                                                                "value": "18"
                                                                            },
                                                                            {
                                                                                "label": "מוקד רפואי",
                                                                                "value": "19"
                                                                            },
                                                                            {
                                                                                "label": "טיפול סטומה",
                                                                                "value": "101"
                                                                            },
                                                                            {
                                                                                "label": "טיפול ומעקב אחר ניתוח",
                                                                                "value": "102"
                                                                            },
                                                                            {
                                                                                "label": "בדיקות דם",
                                                                                "value": "103"
                                                                            },
                                                                            {
                                                                                "label": "ניקוז פליאורלי ע\"י נקז חיצוני",
                                                                                "value": "104"
                                                                            },
                                                                            {
                                                                                "label": "שמירה פרטית בית",
                                                                                "value": "105"
                                                                            },
                                                                            {
                                                                                "label": "טיפול/הזנה בגסטרוסטום",
                                                                                "value": "106"
                                                                            },
                                                                            {
                                                                                "label": "טיפול ומעקב מדדים",
                                                                                "value": "107"
                                                                            },
                                                                            {
                                                                                "label": "טיפולי פוריות",
                                                                                "value": "108"
                                                                            },
                                                                            {
                                                                                "label": "טיפול בפצע סוכרתי",
                                                                                "value": "109"
                                                                            },
                                                                            {
                                                                                "label": "אולטראסאונד ביתי",
                                                                                "value": "110"
                                                                            },
                                                                            {
                                                                                "label": "ייעוץ תזונתי",
                                                                                "value": "151"
                                                                            },
                                                                            {
                                                                                "label": "טיפול פצע קשה ריפוי",
                                                                                "value": "152"
                                                                            },
                                                                            {
                                                                                "label": "לצידך - אחות לילה לאלמנות צה״ל",
                                                                                "value": "153"
                                                                            },
                                                                            {
                                                                                "label": "שמירה פרטית בית - מינימום 8 שעות",
                                                                                "value": "154"
                                                                            },
                                                                            {
                                                                                "label": "טיפול בפצע אקוטי",
                                                                                "value": "155"
                                                                            },
                                                                            {
                                                                                "label": "ליווי מטופל",
                                                                                "value": "156"
                                                                            },
                                                                            {
                                                                                "label": "שמירה פרטית בית חולים - מינימום 8 שעות",
                                                                                "value": "157"
                                                                            },
                                                                            {
                                                                                "label": "עירוי נוזלים תחת הוראה",
                                                                                "value": "158"
                                                                            },
                                                                            {
                                                                                "label": "הכנסה/החלפת קטטר",
                                                                                "value": "159"
                                                                            },
                                                                            {
                                                                                "label": "ייעוץ עם רופא",
                                                                                "value": "160"
                                                                            }
                                                                        ],
                                                                        "editable": true,
                                                                        "required": true
                                                                    }
                                                                ]
                                                            },
                                                            {
                                                                "label": "Label",
                                                                "value": "label2index",
                                                                "nested": [
                                                                    {
                                                                        "name": "label",
                                                                        "type": "select",
                                                                        "label": "Label",
                                                                        "options": [
                                                                            {
                                                                                "label": "טיפול בפצע",
                                                                                "value": "טיפול בפצע"
                                                                            },
                                                                            {
                                                                                "label": "הדרכת רמדיקס",
                                                                                "value": "הדרכת רמדיקס"
                                                                            },
                                                                            {
                                                                                "label": "טיפול בצנתר מרכזי",
                                                                                "value": "טיפול בצנתר מרכזי"
                                                                            },
                                                                            {
                                                                                "label": "שמירה פרטית בית חולים",
                                                                                "value": "שמירה פרטית בית חולים"
                                                                            },
                                                                            {
                                                                                "label": "אחות יום/לילה/בית",
                                                                                "value": "אחות יום/לילה/בית"
                                                                            },
                                                                            {
                                                                                "label": "טיפול תרופתי",
                                                                                "value": "טיפול תרופתי"
                                                                            },
                                                                            {
                                                                                "label": "סיוע ברחצה",
                                                                                "value": "סיוע ברחצה"
                                                                            },
                                                                            {
                                                                                "label": "טיפול בפצע מורכב",
                                                                                "value": "טיפול בפצע מורכב"
                                                                            },
                                                                            {
                                                                                "label": "עירוי נוזלים",
                                                                                "value": "עירוי נוזלים"
                                                                            },
                                                                            {
                                                                                "label": "שמירה פרטית בית חולים סטודנט",
                                                                                "value": "שמירה פרטית בית חולים סטודנט"
                                                                            },
                                                                            {
                                                                                "label": "פיזיותרפיה",
                                                                                "value": "פיזיותרפיה"
                                                                            },
                                                                            {
                                                                                "label": "יעוץ והדרכה",
                                                                                "value": "יעוץ והדרכה"
                                                                            },
                                                                            {
                                                                                "label": "שונות",
                                                                                "value": "שונות"
                                                                            },
                                                                            {
                                                                                "label": "חוקן תחת הוראה",
                                                                                "value": "חוקן תחת הוראה"
                                                                            },
                                                                            {
                                                                                "label": "הכנסה /החלפת קטטר",
                                                                                "value": "הכנסה /החלפת קטטר"
                                                                            },
                                                                            {
                                                                                "label": "האכלה tpn",
                                                                                "value": "האכלה tpn"
                                                                            },
                                                                            {
                                                                                "label": "ייעוץ רופא",
                                                                                "value": "ייעוץ רופא"
                                                                            },
                                                                            {
                                                                                "label": "הוצאת תפרים",
                                                                                "value": "הוצאת תפרים"
                                                                            },
                                                                            {
                                                                                "label": "מוקד רפואי",
                                                                                "value": "מוקד רפואי"
                                                                            },
                                                                            {
                                                                                "label": "טיפול סטומה",
                                                                                "value": "טיפול סטומה"
                                                                            },
                                                                            {
                                                                                "label": "טיפול ומעקב אחר ניתוח",
                                                                                "value": "טיפול ומעקב אחר ניתוח"
                                                                            },
                                                                            {
                                                                                "label": "בדיקות דם",
                                                                                "value": "בדיקות דם"
                                                                            },
                                                                            {
                                                                                "label": "ניקוז פליאורלי ע\"י נקז חיצוני",
                                                                                "value": "ניקוז פליאורלי ע\"י נקז חיצוני"
                                                                            },
                                                                            {
                                                                                "label": "שמירה פרטית בית",
                                                                                "value": "שמירה פרטית בית"
                                                                            },
                                                                            {
                                                                                "label": "טיפול/הזנה בגסטרוסטום",
                                                                                "value": "טיפול/הזנה בגסטרוסטום"
                                                                            },
                                                                            {
                                                                                "label": "טיפול ומעקב מדדים",
                                                                                "value": "טיפול ומעקב מדדים"
                                                                            },
                                                                            {
                                                                                "label": "טיפולי פוריות",
                                                                                "value": "טיפולי פוריות"
                                                                            },
                                                                            {
                                                                                "label": "טיפול בפצע סוכרתי",
                                                                                "value": "טיפול בפצע סוכרתי"
                                                                            },
                                                                            {
                                                                                "label": "אולטראסאונד ביתי",
                                                                                "value": "אולטראסאונד ביתי"
                                                                            },
                                                                            {
                                                                                "label": "ייעוץ תזונתי",
                                                                                "value": "ייעוץ תזונתי"
                                                                            },
                                                                            {
                                                                                "label": "טיפול פצע קשה ריפוי",
                                                                                "value": "טיפול פצע קשה ריפוי"
                                                                            },
                                                                            {
                                                                                "label": "לצידך - אחות לילה לאלמנות צה״ל",
                                                                                "value": "לצידך - אחות לילה לאלמנות צה״ל"
                                                                            },
                                                                            {
                                                                                "label": "שמירה פרטית בית - מינימום 8 שעות",
                                                                                "value": "שמירה פרטית בית - מינימום 8 שעות"
                                                                            },
                                                                            {
                                                                                "label": "טיפול בפצע אקוטי",
                                                                                "value": "טיפול בפצע אקוטי"
                                                                            },
                                                                            {
                                                                                "label": "ליווי מטופל",
                                                                                "value": "ליווי מטופל"
                                                                            },
                                                                            {
                                                                                "label": "שמירה פרטית בית חולים - מינימום 8 שעות",
                                                                                "value": "שמירה פרטית בית חולים - מינימום 8 שעות"
                                                                            },
                                                                            {
                                                                                "label": "עירוי נוזלים תחת הוראה",
                                                                                "value": "עירוי נוזלים תחת הוראה"
                                                                            },
                                                                            {
                                                                                "label": "הכנסה/החלפת קטטר",
                                                                                "value": "הכנסה/החלפת קטטר"
                                                                            },
                                                                            {
                                                                                "label": "ייעוץ עם רופא",
                                                                                "value": "ייעוץ עם רופא"
                                                                            }
                                                                        ],
                                                                        "editable": true,
                                                                        "required": true,
                                                                        "validate": false
                                                                    },
                                                                    {
                                                                        "name": "settings",
                                                                        "type": "hidden",
                                                                        "default": "{\"done_colors\":[1],\"labels\":{\"0\":\"טיפול בפצע\",\"1\":\"הדרכת רמדיקס\",\"2\":\"טיפול בצנתר מרכזי\",\"3\":\"שמירה פרטית בית חולים\",\"4\":\"אחות יום/לילה/בית\",\"6\":\"טיפול תרופתי\",\"7\":\"סיוע ברחצה\",\"8\":\"טיפול בפצע מורכב\",\"9\":\"עירוי נוזלים\",\"10\":\"שמירה פרטית בית חולים סטודנט\",\"11\":\"פיזיותרפיה\",\"12\":\"יעוץ והדרכה\",\"13\":\"שונות\",\"14\":\"חוקן תחת הוראה\",\"15\":\"הכנסה /החלפת קטטר\",\"16\":\"האכלה tpn\",\"17\":\"ייעוץ רופא\",\"18\":\"הוצאת תפרים\",\"19\":\"מוקד רפואי\",\"101\":\"טיפול סטומה\",\"102\":\"טיפול ומעקב אחר ניתוח\",\"103\":\"בדיקות דם\",\"104\":\"ניקוז פליאורלי ע\\\"י נקז חיצוני\",\"105\":\"שמירה פרטית בית\",\"106\":\"טיפול/הזנה בגסטרוסטום\",\"107\":\"טיפול ומעקב מדדים\",\"108\":\"טיפולי פוריות\",\"109\":\"טיפול בפצע סוכרתי\",\"110\":\"אולטראסאונד ביתי\",\"156\":\"ליווי מטופל\",\"151\":\"ייעוץ תזונתי\",\"152\":\"טיפול פצע קשה ריפוי\",\"153\":\"לצידך - אחות לילה לאלמנות צה״ל\",\"154\":\"שמירה פרטית בית - מינימום 8 שעות\",\"155\":\"טיפול בפצע אקוטי\",\"157\":\"שמירה פרטית בית חולים - מינימום 8 שעות\",\"158\":\"עירוי נוזלים תחת הוראה\",\"159\":\"הכנסה/החלפת קטטר\",\"160\":\"ייעוץ עם רופא\"},\"labels_positions_v2\":{\"0\":4,\"1\":5,\"2\":6,\"3\":1,\"4\":7,\"5\":3,\"6\":8,\"7\":9,\"8\":10,\"9\":11,\"10\":12,\"11\":13,\"12\":14,\"13\":15,\"14\":16,\"15\":17,\"16\":18,\"17\":19,\"18\":20,\"19\":21,\"101\":22,\"102\":23,\"103\":24,\"104\":25,\"105\":0,\"106\":26,\"107\":27,\"108\":28,\"109\":29,\"110\":30,\"156\":2},\"labels_colors\":{\"0\":{\"color\":\"#fdab3d\",\"border\":\"#e99729\",\"var_name\":\"orange\"},\"1\":{\"color\":\"#00c875\",\"border\":\"#00b461\",\"var_name\":\"green-shadow\"},\"2\":{\"color\":\"#df2f4a\",\"border\":\"#ce3048\",\"var_name\":\"red-shadow\"},\"3\":{\"color\":\"#007eb5\",\"border\":\"#3db0df\",\"var_name\":\"blue-links\"},\"4\":{\"color\":\"#9d50dd\",\"border\":\"#9238af\",\"var_name\":\"purple\"},\"6\":{\"color\":\"#037f4c\",\"border\":\"#006b38\",\"var_name\":\"grass-green\"},\"7\":{\"color\":\"#579bfc\",\"border\":\"#4387e8\",\"var_name\":\"bright-blue\"},\"8\":{\"color\":\"#cab641\",\"border\":\"#c0ab31\",\"var_name\":\"mustered\"},\"9\":{\"color\":\"#ffcb00\",\"border\":\"#c0ab1b\",\"var_name\":\"yellow\"},\"10\":{\"color\":\"#333333\",\"border\":\"#000\",\"var_name\":\"soft-black\"},\"11\":{\"color\":\"#bb3354\",\"border\":\"#a42d4a\",\"var_name\":\"dark-red\"},\"12\":{\"color\":\"#ff007f\",\"border\":\"#e01279\",\"var_name\":\"dark-pink\"},\"13\":{\"color\":\"#ff5ac4\",\"border\":\"#e04fac\",\"var_name\":\"light-pink\"},\"14\":{\"color\":\"#784bd1\",\"border\":\"#8f4dc4\",\"var_name\":\"dark-purple\"},\"15\":{\"color\":\"#9cd326\",\"border\":\"#89b921\",\"var_name\":\"lime-green\"},\"16\":{\"color\":\"#66ccff\",\"border\":\"#5ab3e0\",\"var_name\":\"turquoise\"},\"17\":{\"color\":\"#757575\",\"border\":\"#707070\",\"var_name\":\"trolley-grey\"},\"18\":{\"color\":\"#7f5347\",\"border\":\"#70493e\",\"var_name\":\"brown\"},\"19\":{\"color\":\"#ff6d3b\",\"border\":\"#e05828\",\"var_name\":\"dark-orange\"},\"101\":{\"color\":\"#ff7575\",\"border\":\"#ff7575\",\"var_name\":\"sunset\"},\"102\":{\"color\":\"#faa1f1\",\"border\":\"#faa1f1\",\"var_name\":\"bubble\"},\"103\":{\"color\":\"#ffadad\",\"border\":\"#ffadad\",\"var_name\":\"peach\"},\"104\":{\"color\":\"#7e3b8a\",\"border\":\"#7e3b8a\",\"var_name\":\"berry\"},\"105\":{\"color\":\"#9aadbd\",\"border\":\"#9aadbd\",\"var_name\":\"winter\"},\"106\":{\"color\":\"#74afcc\",\"border\":\"#74afcc\",\"var_name\":\"river\"},\"107\":{\"color\":\"#225091\",\"border\":\"#225091\",\"var_name\":\"navy\"},\"108\":{\"color\":\"#4eccc6\",\"border\":\"#4eccc6\",\"var_name\":\"australia\"},\"109\":{\"color\":\"#5559df\",\"border\":\"#5559df\",\"var_name\":\"indigo\"},\"110\":{\"color\":\"#401694\",\"border\":\"#401694\",\"var_name\":\"dark_indigo\"},\"156\":{\"color\":\"#9d99b9\",\"border\":\"#9d99b9\",\"var_name\":\"purple_gray\"},\"151\":{\"color\":\"#563e3e\",\"border\":\"#563e3e\",\"var_name\":\"pecan\"},\"152\":{\"color\":\"#bda8f9\",\"border\":\"#bda8f9\",\"var_name\":\"light_magic\"},\"153\":{\"color\":\"#216edf\",\"border\":\"#216edf\",\"var_name\":\"sky\"},\"154\":{\"color\":\"#a9bee8\",\"border\":\"#a9bee8\",\"var_name\":\"cold_blue\"},\"155\":{\"color\":\"#e484bd\",\"border\":\"#e484bd\",\"var_name\":\"kids\"},\"157\":{\"color\":\"#bca58a\",\"border\":\"#bca58a\",\"var_name\":\"corona\"},\"158\":{\"color\":\"#a1e3f6\",\"border\":\"#a1e3f6\",\"var_name\":\"sail\"},\"159\":{\"color\":\"#cd9282\",\"border\":\"#cd9282\",\"var_name\":\"old_rose\"},\"160\":{\"color\":\"#175a63\",\"border\":\"#175a63\",\"var_name\":\"eden\"}}}"
                                                                    }
                                                                ]
                                                            }
                                                        ],
                                                        "editable": false,
                                                        "required": true
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Value",
                                                "required": true
                                            }
                                        ]
                                    },
                                    {
                                        "label": "סטטוס הזמנה",
                                        "value": "color_mkqe6tr7",
                                        "nested": [
                                            {
                                                "name": "columnValue",
                                                "spec": [
                                                    {
                                                        "name": "selectType",
                                                        "type": "select",
                                                        "label": "Index/Label",
                                                        "options": [
                                                            {
                                                                "label": "Index",
                                                                "value": "index2index",
                                                                "nested": [
                                                                    {
                                                                        "name": "index",
                                                                        "type": "select",
                                                                        "label": "Index",
                                                                        "options": [
                                                                            {
                                                                                "label": "Working on it",
                                                                                "value": "0"
                                                                            },
                                                                            {
                                                                                "label": "Done",
                                                                                "value": "1"
                                                                            },
                                                                            {
                                                                                "label": "Stuck",
                                                                                "value": "2"
                                                                            },
                                                                            {
                                                                                "label": "CANCELLED",
                                                                                "value": "3"
                                                                            },
                                                                            {
                                                                                "label": "CLOSED",
                                                                                "value": "4"
                                                                            },
                                                                            {
                                                                                "label": "APPROVED",
                                                                                "value": "6"
                                                                            },
                                                                            {
                                                                                "label": "PENDING",
                                                                                "value": "7"
                                                                            },
                                                                            {
                                                                                "label": "ACTIVE",
                                                                                "value": "8"
                                                                            },
                                                                            {
                                                                                "label": "NEW",
                                                                                "value": "9"
                                                                            }
                                                                        ],
                                                                        "editable": true,
                                                                        "required": true
                                                                    }
                                                                ]
                                                            },
                                                            {
                                                                "label": "Label",
                                                                "value": "label2index",
                                                                "nested": [
                                                                    {
                                                                        "name": "label",
                                                                        "type": "select",
                                                                        "label": "Label",
                                                                        "options": [
                                                                            {
                                                                                "label": "Working on it",
                                                                                "value": "Working on it"
                                                                            },
                                                                            {
                                                                                "label": "Done",
                                                                                "value": "Done"
                                                                            },
                                                                            {
                                                                                "label": "Stuck",
                                                                                "value": "Stuck"
                                                                            },
                                                                            {
                                                                                "label": "CANCELLED",
                                                                                "value": "CANCELLED"
                                                                            },
                                                                            {
                                                                                "label": "CLOSED",
                                                                                "value": "CLOSED"
                                                                            },
                                                                            {
                                                                                "label": "APPROVED",
                                                                                "value": "APPROVED"
                                                                            },
                                                                            {
                                                                                "label": "PENDING",
                                                                                "value": "PENDING"
                                                                            },
                                                                            {
                                                                                "label": "ACTIVE",
                                                                                "value": "ACTIVE"
                                                                            },
                                                                            {
                                                                                "label": "NEW",
                                                                                "value": "NEW"
                                                                            }
                                                                        ],
                                                                        "editable": true,
                                                                        "required": true,
                                                                        "validate": false
                                                                    },
                                                                    {
                                                                        "name": "settings",
                                                                        "type": "hidden",
                                                                        "default": "{\"done_colors\":[1],\"labels\":{\"0\":\"Working on it\",\"1\":\"Done\",\"2\":\"Stuck\",\"3\":\"CANCELLED\",\"4\":\"CLOSED\",\"6\":\"APPROVED\",\"7\":\"PENDING\",\"8\":\"ACTIVE\",\"9\":\"NEW\"},\"labels_colors\":{\"0\":{\"color\":\"#fdab3d\",\"border\":\"#e99729\",\"var_name\":\"orange\"},\"1\":{\"color\":\"#00c875\",\"border\":\"#00b461\",\"var_name\":\"green-shadow\"},\"2\":{\"color\":\"#df2f4a\",\"border\":\"#ce3048\",\"var_name\":\"red-shadow\"},\"3\":{\"color\":\"#007eb5\",\"border\":\"#3db0df\",\"var_name\":\"blue-links\"},\"4\":{\"color\":\"#9d50dd\",\"border\":\"#9238af\",\"var_name\":\"purple\"},\"6\":{\"color\":\"#037f4c\",\"border\":\"#006b38\",\"var_name\":\"grass-green\"},\"7\":{\"color\":\"#579bfc\",\"border\":\"#4387e8\",\"var_name\":\"bright-blue\"},\"8\":{\"color\":\"#cab641\",\"border\":\"#c0ab31\",\"var_name\":\"mustered\"},\"9\":{\"color\":\"#ffcb00\",\"border\":\"#c0ab1b\",\"var_name\":\"yellow\"}}}"
                                                                    }
                                                                ]
                                                            }
                                                        ],
                                                        "editable": false,
                                                        "required": true
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Value",
                                                "required": true
                                            }
                                        ]
                                    },
                                    {
                                        "label": "שנה",
                                        "value": "color_mktd445d",
                                        "nested": [
                                            {
                                                "name": "columnValue",
                                                "spec": [
                                                    {
                                                        "name": "selectType",
                                                        "type": "select",
                                                        "label": "Index/Label",
                                                        "options": [
                                                            {
                                                                "label": "Index",
                                                                "value": "index2index",
                                                                "nested": [
                                                                    {
                                                                        "name": "index",
                                                                        "type": "select",
                                                                        "label": "Index",
                                                                        "options": [
                                                                            {
                                                                                "label": "2026",
                                                                                "value": "0"
                                                                            },
                                                                            {
                                                                                "label": "2025",
                                                                                "value": "1"
                                                                            },
                                                                            {
                                                                                "label": "2024",
                                                                                "value": "2"
                                                                            },
                                                                            {
                                                                                "label": "2025",
                                                                                "value": "3"
                                                                            },
                                                                            {
                                                                                "label": "2025",
                                                                                "value": "4"
                                                                            }
                                                                        ],
                                                                        "editable": true,
                                                                        "required": true
                                                                    }
                                                                ]
                                                            },
                                                            {
                                                                "label": "Label",
                                                                "value": "label2index",
                                                                "nested": [
                                                                    {
                                                                        "name": "label",
                                                                        "type": "select",
                                                                        "label": "Label",
                                                                        "options": [
                                                                            {
                                                                                "label": "2026",
                                                                                "value": "2026"
                                                                            },
                                                                            {
                                                                                "label": "2025",
                                                                                "value": "2025"
                                                                            },
                                                                            {
                                                                                "label": "2024",
                                                                                "value": "2024"
                                                                            },
                                                                            {
                                                                                "label": "2025",
                                                                                "value": "2025"
                                                                            },
                                                                            {
                                                                                "label": "2025",
                                                                                "value": "2025"
                                                                            }
                                                                        ],
                                                                        "editable": true,
                                                                        "required": true,
                                                                        "validate": false
                                                                    },
                                                                    {
                                                                        "name": "settings",
                                                                        "type": "hidden",
                                                                        "default": "{\"done_colors\":[1],\"labels\":{\"0\":\"2026\",\"1\":\"2025\",\"2\":\"2024\",\"3\":\"2025\",\"4\":\"2025\"},\"labels_positions_v2\":{\"0\":2,\"1\":1,\"2\":3,\"5\":0},\"labels_colors\":{\"0\":{\"color\":\"#fdab3d\",\"border\":\"#e99729\",\"var_name\":\"orange\"},\"1\":{\"color\":\"#00c875\",\"border\":\"#00b461\",\"var_name\":\"green-shadow\"},\"2\":{\"color\":\"#df2f4a\",\"border\":\"#ce3048\",\"var_name\":\"red-shadow\"},\"3\":{\"color\":\"#007eb5\",\"border\":\"#3db0df\",\"var_name\":\"blue-links\"},\"4\":{\"color\":\"#9d50dd\",\"border\":\"#9238af\",\"var_name\":\"purple\"}}}"
                                                                    }
                                                                ]
                                                            }
                                                        ],
                                                        "editable": false,
                                                        "required": true
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Value",
                                                "required": true
                                            }
                                        ]
                                    },
                                    {
                                        "label": "תאריך הזמנה",
                                        "value": "text_mkrvvskv",
                                        "nested": [
                                            {
                                                "name": "columnValue",
                                                "type": "text",
                                                "label": "Value",
                                                "required": true
                                            }
                                        ]
                                    },
                                    {
                                        "label": "תשלום",
                                        "value": "numeric_mkqa8924",
                                        "nested": [
                                            {
                                                "name": "columnValue",
                                                "type": "number",
                                                "label": "Value",
                                                "required": true
                                            }
                                        ]
                                    },
                                    {
                                        "label": "תשלום בפועל",
                                        "value": "color_mkqppcpp",
                                        "nested": [
                                            {
                                                "name": "columnValue",
                                                "spec": [
                                                    {
                                                        "name": "selectType",
                                                        "type": "select",
                                                        "label": "Index/Label",
                                                        "options": [
                                                            {
                                                                "label": "Index",
                                                                "value": "index2index",
                                                                "nested": [
                                                                    {
                                                                        "name": "index",
                                                                        "type": "select",
                                                                        "label": "Index",
                                                                        "options": [
                                                                            {
                                                                                "label": "בקרה",
                                                                                "value": "0"
                                                                            },
                                                                            {
                                                                                "label": "שולם",
                                                                                "value": "1"
                                                                            },
                                                                            {
                                                                                "label": "לא נגבה",
                                                                                "value": "2"
                                                                            },
                                                                            {
                                                                                "label": "שולם - מזומן",
                                                                                "value": "3"
                                                                            },
                                                                            {
                                                                                "label": "חיוב ידני",
                                                                                "value": "4"
                                                                            }
                                                                        ],
                                                                        "editable": true,
                                                                        "required": true
                                                                    }
                                                                ]
                                                            },
                                                            {
                                                                "label": "Label",
                                                                "value": "label2index",
                                                                "nested": [
                                                                    {
                                                                        "name": "label",
                                                                        "type": "select",
                                                                        "label": "Label",
                                                                        "options": [
                                                                            {
                                                                                "label": "בקרה",
                                                                                "value": "בקרה"
                                                                            },
                                                                            {
                                                                                "label": "שולם",
                                                                                "value": "שולם"
                                                                            },
                                                                            {
                                                                                "label": "לא נגבה",
                                                                                "value": "לא נגבה"
                                                                            },
                                                                            {
                                                                                "label": "שולם - מזומן",
                                                                                "value": "שולם - מזומן"
                                                                            },
                                                                            {
                                                                                "label": "חיוב ידני",
                                                                                "value": "חיוב ידני"
                                                                            }
                                                                        ],
                                                                        "editable": true,
                                                                        "required": true,
                                                                        "validate": false
                                                                    },
                                                                    {
                                                                        "name": "settings",
                                                                        "type": "hidden",
                                                                        "default": "{\"done_colors\":[1],\"labels\":{\"0\":\"בקרה\",\"1\":\"שולם\",\"2\":\"לא נגבה\",\"3\":\"שולם - מזומן\",\"4\":\"חיוב ידני\"},\"labels_positions_v2\":{\"0\":0,\"1\":1,\"2\":2,\"3\":4,\"4\":5,\"5\":3},\"labels_colors\":{\"0\":{\"color\":\"#fdab3d\",\"border\":\"#e99729\",\"var_name\":\"orange\"},\"1\":{\"color\":\"#00c875\",\"border\":\"#00b461\",\"var_name\":\"green-shadow\"},\"2\":{\"color\":\"#df2f4a\",\"border\":\"#ce3048\",\"var_name\":\"red-shadow\"},\"3\":{\"color\":\"#007eb5\",\"border\":\"#3db0df\",\"var_name\":\"blue-links\"},\"4\":{\"color\":\"#9d50dd\",\"border\":\"#9238af\",\"var_name\":\"purple\"}}}"
                                                                    }
                                                                ]
                                                            }
                                                        ],
                                                        "editable": false,
                                                        "required": true
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Value",
                                                "required": true
                                            }
                                        ]
                                    }
                                ],
                                "required": true,
                                "validate": false
                            }
                        ],
                        "type": "array",
                        "label": "Array of column values"
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us2.make.com",
        "notes": []
    }
}