Customers/tax4us/workflow-backups/2025-10-08_14-23-22/D0brcqS0yHL5RSSF_1 WF-ERR Alarm  Triage.json
{
  "createdAt": "2025-08-31T14:14:03.420Z",
  "updatedAt": "2025-09-01T08:10:10.000Z",
  "id": "D0brcqS0yHL5RSSF",
  "name": "1. WF-ERR: Alarm & Triage",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "error-trigger",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        256,
        400
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Extract error details\nconst error = $input.item.json;\nconst timestamp = new Date().toISOString();\nconst execId = error.execution?.id || 'unknown';\nconst workflowName = error.workflow?.name || 'Unknown Workflow';\nconst workflowId = error.workflow?.id || 'unknown';\nconst errorMessage = error.execution?.error?.message || 'Unknown error';\nconst nodeName = error.execution?.lastNodeExecuted || 'Unknown node';\nconst mode = error.execution?.mode || 'unknown';\n\nreturn {\n  json: {\n    timestamp,\n    execId,\n    workflowName,\n    workflowId,\n    errorMessage,\n    nodeName,\n    mode,\n    executionUrl: `https://tax4usllc.app.n8n.cloud/workflow/${workflowId}/executions/${execId}`,\n    fullError: error\n  }\n};"
      },
      "id": "extract-error",
      "name": "Code: Extract Error Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        400
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "message",
        "operation": "post",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "#alerts",
          "mode": "name"
        },
        "messageType": "text",
        "text": "\ud83d\udea8 *Workflow Error Alert*\n\n*Workflow:* {{ $json.workflowName }}\n*Node:* {{ $json.nodeName }}\n*Error:* {{ $json.errorMessage }}\n*Time:* {{ $json.timestamp }}\n*Execution:* {{ $json.executionUrl }}",
        "otherOptions": {}
      },
      "id": "slack-alert",
      "name": "Slack: Send Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        704,
        208
      ],
      "credentials": {
        "slackOAuth2Api": {
          "id": "Sz76YrXU9gwVGCpF",
          "name": "Slack OAuth2 API"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "message",
        "operation": "send",
        "sendTo": "ai@tax4us.co.il",
        "subject": "\ud83d\udea8 Workflow Error: {{ $json.workflowName }}",
        "emailType": "html",
        "message": "<h2>Workflow Error Alert</h2>\n<p><strong>Workflow:</strong> {{ $json.workflowName }}</p>\n<p><strong>Node:</strong> {{ $json.nodeName }}</p>\n<p><strong>Error:</strong> {{ $json.errorMessage }}</p>\n<p><strong>Time:</strong> {{ $json.timestamp }}</p>\n<p><strong>View Execution:</strong> <a href=\"{{ $json.executionUrl }}\">{{ $json.executionUrl }}</a></p>",
        "options": {
          "replyTo": "system@tax4us.co.il"
        }
      },
      "id": "gmail-alert",
      "name": "Gmail: Send Alert",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        704,
        400
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "IcCnuN7tSKdtbOGM",
          "name": "Gmail account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "authentication": "airtableTokenApi",
        "resource": "record",
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appkZD1ew4aKoBqDM",
          "mode": "list",
          "cachedResultName": "Tax4US Ops",
          "cachedResultUrl": "https://airtable.com/appkZD1ew4aKoBqDM"
        },
        "table": {
          "__rl": true,
          "value": "Errors_Log",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Error ID": "={{ \"ERR-\" + $json.execId }}",
            "Timestamp": "={{ new Date($json.timestamp).toISOString().split(\"T\")[0] }}",
            "Source": "={{ $json.workflowName }}",
            "Message": "={{ $json.nodeName + \": \" + $json.errorMessage }}",
            "Status Code": "ERROR",
            "Retry Count": 0,
            "Resolved": false
          }
        },
        "options": {}
      },
      "id": "airtable-log",
      "name": "Airtable: Log Error",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        704,
        592
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "XLvXlq3ygEbknytQ",
          "name": "Airtable Personal Access Token account"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Code: Extract Error Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Extract Error Data": {
      "main": [
        [
          {
            "node": "Slack: Send Alert",
            "type": "main",
            "index": 0
          },
          {
            "node": "Gmail: Send Alert",
            "type": "main",
            "index": 0
          },
          {
            "node": "Airtable: Log Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "saveExecutionProgress": true
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "603cc096-2b1c-41a4-82b6-7a7c3749916a",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-08-31T14:14:03.423Z",
      "updatedAt": "2025-08-31T14:14:03.423Z",
      "role": "workflow:owner",
      "workflowId": "D0brcqS0yHL5RSSF",
      "projectId": "Rs5Pee22xfDdJV5k",
      "project": {
        "createdAt": "2025-08-05T21:39:55.834Z",
        "updatedAt": "2025-08-05T21:39:58.285Z",
        "id": "Rs5Pee22xfDdJV5k",
        "name": "Tax4US LLC <info@tax4us.co.il>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "createdAt": "2025-08-05T21:39:55.834Z",
            "updatedAt": "2025-08-05T21:39:55.834Z",
            "userId": "7b60f61d-7d1d-4980-ad53-b9c952e613a1",
            "projectId": "Rs5Pee22xfDdJV5k",
            "user": {
              "createdAt": "2025-08-05T21:39:54.392Z",
              "updatedAt": "2025-10-08T17:49:15.000Z",
              "id": "7b60f61d-7d1d-4980-ad53-b9c952e613a1",
              "email": "info@tax4us.co.il",
              "firstName": "Tax4US",
              "lastName": "LLC",
              "personalizationAnswers": null,
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "mMqcQdZH16A9OQ2I",
                "userActivatedAt": 1754437746263,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1756111474246
                },
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-10-08",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}