Customers/tax4us/workflow-backups/2025-10-08_14-23-22/GWCeWStBcafV47pA_Tax4US Content Automation.json
{
  "createdAt": "2025-09-02T03:33:12.727Z",
  "updatedAt": "2025-09-02T23:44:16.000Z",
  "id": "GWCeWStBcafV47pA",
  "name": "Tax4US Content Automation",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "trigger-1",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        96
      ]
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "mode": "list",
          "value": "appkZD1ew4aKoBqDM"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": "tblUQJeamGNtOTqT3"
        },
        "options": {}
      },
      "id": "airtable-1",
      "name": "Get WP Posts from Airtable",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        224,
        96
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "XLvXlq3ygEbknytQ",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Normalize Airtable records to ensure consistent field structurenconst records = $input.all();nnif (records.length === 0) {n  throw new Error(\"No records found in Airtable\");n}nn// Define all expected fields from the table schemanconst expectedFields = [n  \"WP Post ID\", \"Spec ID\", \"Language\", \"Category\", \"Tags\", \"Excerpt\", n  \"Featured Image URL\", \"URL\", \"Preview URL\", \"Drafted At\", \"Published At\", n  \"State\", \"Last Error\", \"Title EN\", \"Slug EN\", \"Content_Specs.Language\", n  \"Agents\", \"id\", \"topic\", \"source_urls\", \"audience\", \"languages\", n  \"publish_on\", \"due_date_ct\", \"due_date_il\", \"publish_date\", \"cta_kind\", n  \"cta_link\", \"status\", \"review_email\", \"brand_tone\", \"post_json\", n  \"precheck_json\", \"errors\", \"utm_campaign\", \"utm_source\", \"utm_medium\", n  \"linkedin_post_id\", \"facebook_post_id\", \"twitter_post_id\", \"engagement_score\", n  \"impressions\", \"clicks\", \"shares\", \"published_at\", \"created_by\", n  \"approved_by\", \"approval_timestamp\", \"keywords\", \"hashtags\", \"complexity\", n  \"compliance_score\", \"violations\", \"ai_model_used\", \"api_cost\", n  \"attachments\", \"notes\"n];nn// Normalize each record to have all expected fieldsnconst normalizedRecords = records.map(record => {n  const normalizedRecord = { ...record.json };n  n  // Ensure all expected fields exist with default values if missingn  expectedFields.forEach(field => {n    if (!(field in normalizedRecord.fields)) {n      normalizedRecord.fields[field] = null;n    }n  });n  n  return normalizedRecord;n});nnconsole.log(`Normalized ${normalizedRecords.length} records to ensure field consistency`);nnreturn normalizedRecords;"
      },
      "id": "code-1",
      "name": "Normalize Field Structure",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        96
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $json.fields[\"WP Post ID\"] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "filter-1",
      "name": "Filter Valid Records",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        672,
        96
      ]
    },
    {
      "parameters": {
        "jsCode": "// Process a single valid recordnconst record = $input.first().json;nn// Extract key information for content generationnconst contentData = {n  wpPostId: record.fields[\"WP Post ID\"] || \"\",n  language: record.fields[\"Language\"] || \"en\",n  category: record.fields[\"Category\"] || \"Tax Blog\",n  tags: record.fields[\"Tags\"] || \"\",n  excerpt: record.fields[\"Excerpt\"] || \"\",n  title: record.fields[\"Title EN\"] || \"\",n  slug: record.fields[\"Slug EN\"] || \"\",n  specId: record.fields[\"Spec ID\"] || null,n  agents: record.fields[\"Agents\"] || nulln};nn// Validate required fieldsnif (!contentData.wpPostId) {n  throw new Error(\"WP Post ID is required\");n}nnconsole.log(\"Processing record:\", contentData.wpPostId);nnreturn {n  contentData,n  originalRecord: recordn};"
      },
      "id": "code-2",
      "name": "Process Valid Record",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// Handle records that don't meet validation criterianconst invalidRecords = $input.all();nnconsole.log(`Found ${invalidRecords.length} invalid records`);nn// Log invalid records for debuggingninvalidRecords.forEach(record => {n  console.log(\"Invalid record:\", {n    id: record.json.id,n    wpPostId: record.json.fields[\"WP Post ID\"],n    reason: \"Missing required WP Post ID\"n  });n});nn// Return empty array to continue workflownreturn [];"
      },
      "id": "code-3",
      "name": "Handle Invalid Records",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        192
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "context-1",
              "name": "prompt",
              "type": "string",
              "value": "={{ $json.contentData.title || \"Tax optimization strategies\" }}"
            },
            {
              "id": "context-2",
              "name": "language",
              "type": "string",
              "value": "={{ $json.contentData.language }}"
            },
            {
              "id": "context-3",
              "name": "category",
              "type": "string",
              "value": "={{ $json.contentData.category }}"
            },
            {
              "id": "context-4",
              "name": "tags",
              "type": "string",
              "value": "={{ $json.contentData.tags }}"
            }
          ]
        },
        "options": {}
      },
      "id": "set-1",
      "name": "Set Content Context",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1120,
        0
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "id",
          "value": "=deepseek-chat"
        },
        "messages": {
          "values": [
            {
              "content": "=Write an SEO-friendly article about: {{ $json.prompt }}nnLanguage: {{ $json.language }}nCategory: {{ $json.category }}nTags: {{ $json.tags }}nnInstructions:n- Write 2-3 chapters with logical flown- Use HTML formatting (bold, italics, paragraphs, lists)n- Include introduction (60 words) and conclusion (60 words)n- Focus on practical tax advice and strategiesn- Make it engaging and informativen- Output only HTML content, no markdown"
            }
          ]
        },
        "options": {
          "maxTokens": 2048
        }
      },
      "id": "openai-1",
      "name": "Generate Article Content",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1344,
        0
      ],
      "credentials": {
        "openAiApi": {
          "id": "IVfkaQOIs6jCRdyu",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "id",
          "value": "=deepseek-chat"
        },
        "messages": {
          "values": [
            {
              "content": "=Generate a compelling title (max 60 characters) for this article:n{{ $(\"Generate Article Content\").item.json.message.content }}nnRequirements:n- Maximum 60 charactersn- Include primary keywordn- Engaging and click-worthyn- No HTML tagsn- Output only the title text"
            }
          ]
        },
        "options": {
          "maxTokens": 256
        }
      },
      "id": "openai-2",
      "name": "Generate Article Title",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1568,
        0
      ],
      "credentials": {
        "openAiApi": {
          "id": "IVfkaQOIs6jCRdyu",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "title": "={{ $(\"Generate Article Title\").item.json.message.content }}",
        "additionalFields": {
          "content": "={{ $(\"Generate Article Content\").item.json.message.content }}",
          "status": "draft"
        }
      },
      "id": "wordpress-1",
      "name": "Create WordPress Draft",
      "type": "n8n-nodes-base.wordpress",
      "typeVersion": 1,
      "position": [
        1792,
        0
      ],
      "credentials": {
        "wordpressApi": {
          "id": "GjqU4oaqFsD4KT0i",
          "name": "Wordpress account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "mode": "list",
          "value": "appkZD1ew4aKoBqDM"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": "tblUQJeamGNtOTqT3"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "State": "Draft",
            "Last Error": null
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "airtable-2",
      "name": "Update Airtable Status",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        2016,
        0
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "XLvXlq3ygEbknytQ",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Generate success summarynconst processedRecord = $(\"Process Valid Record\").item.json;nconst wordpressResult = $(\"Create WordPress Draft\").item.json;nnconst summary = {n  success: true,n  message: \"Content automation completed successfully\",n  details: {n    wpPostId: processedRecord.contentData.wpPostId,n    wordpressId: wordpressResult.id,n    title: wordpressResult.title?.rendered || \"Generated Title\",n    status: \"Draft created in WordPress\",n    timestamp: new Date().toISOString()n  }n};nnconsole.log(\"Success summary:\", summary);nreturn summary;"
      },
      "id": "code-4",
      "name": "Success Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2240,
        0
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Get WP Posts from Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get WP Posts from Airtable": {
      "main": [
        [
          {
            "node": "Normalize Field Structure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Field Structure": {
      "main": [
        [
          {
            "node": "Filter Valid Records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Valid Records": {
      "main": [
        [
          {
            "node": "Process Valid Record",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Invalid Records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Valid Record": {
      "main": [
        [
          {
            "node": "Set Content Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Content Context": {
      "main": [
        [
          {
            "node": "Generate Article Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Article Content": {
      "main": [
        [
          {
            "node": "Generate Article Title",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Article Title": {
      "main": [
        [
          {
            "node": "Create WordPress Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create WordPress Draft": {
      "main": [
        [
          {
            "node": "Update Airtable Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Airtable Status": {
      "main": [
        [
          {
            "node": "Success Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "saveExecutionProgress": true
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "ead32388-ee6b-465a-a182-88387088a370",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-09-02T03:33:12.731Z",
      "updatedAt": "2025-09-02T03:33:12.731Z",
      "role": "workflow:owner",
      "workflowId": "GWCeWStBcafV47pA",
      "projectId": "Rs5Pee22xfDdJV5k",
      "project": {
        "createdAt": "2025-08-05T21:39:55.834Z",
        "updatedAt": "2025-08-05T21:39:58.285Z",
        "id": "Rs5Pee22xfDdJV5k",
        "name": "Tax4US LLC <info@tax4us.co.il>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "createdAt": "2025-08-05T21:39:55.834Z",
            "updatedAt": "2025-08-05T21:39:55.834Z",
            "userId": "7b60f61d-7d1d-4980-ad53-b9c952e613a1",
            "projectId": "Rs5Pee22xfDdJV5k",
            "user": {
              "createdAt": "2025-08-05T21:39:54.392Z",
              "updatedAt": "2025-10-08T17:49:15.000Z",
              "id": "7b60f61d-7d1d-4980-ad53-b9c952e613a1",
              "email": "info@tax4us.co.il",
              "firstName": "Tax4US",
              "lastName": "LLC",
              "personalizationAnswers": null,
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "mMqcQdZH16A9OQ2I",
                "userActivatedAt": 1754437746263,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1756111474246
                },
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-10-08",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}