Customers/tax4us/workflow-backups/2025-10-08_14-23-22/hCGOQg6Qi7va1vJw_3 Tax4US WordPress Posts Workflow Optimized.json
{
  "createdAt": "2025-08-31T20:47:13.883Z",
  "updatedAt": "2025-09-02T23:50:10.000Z",
  "id": "hCGOQg6Qi7va1vJw",
  "name": "3. Tax4US WordPress Posts Workflow (Optimized)",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "authentication": "airtableTokenApi",
        "baseId": {
          "__rl": true,
          "value": "appkZD1ew4aKoBqDM",
          "mode": "id"
        },
        "tableId": {
          "__rl": true,
          "value": "tbloWUmXIuBQXa1YQ",
          "mode": "id"
        },
        "triggerField": "Status",
        "additionalFields": {}
      },
      "id": "airtable-trigger",
      "name": "Airtable: Monitor Content_Specs",
      "type": "n8n-nodes-base.airtableTrigger",
      "typeVersion": 1,
      "position": [
        112,
        576
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "XLvXlq3ygEbknytQ",
          "name": "Airtable Personal Access Token account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const execId = `exec_${Date.now()}_${Math.random().toString(36).substr(2, 9)}`;const data = $input.item.json;const title = data.fields['Title EN'] || data.fields['Title HE'] || '';const outline = data.fields['Outline'] || '';const postType = data.fields['Type'] || '';const status = data.fields['Status'] || '';const language = data.fields['Language'] || 'en';const keywords = data.fields['Keywords'] || '';const chapters = data.fields['Chapters'] || 4;const wordCount = data.fields['Word Count'] || 1500;const slugRaw = data.fields['Slug EN'] || data.fields['Slug HE'] || title;const slug = (slugRaw || '').toLowerCase().replace(/[^a-z0-9]+/g, '-').replace(/^-+|-+$/g, '');const tooShort = outline.trim().length < 100 || title.trim().length < 10;const missingType = !postType || postType === '';const notApproved = status !== 'Approved';const notPostType = postType !== 'post' && postType !== 'blog' && postType !== 'article' && postType !== 'service' && postType !== 'blog_post';const shouldProcess = !tooShort && !missingType && !notApproved && !notPostType;let rejectReason = '';if (tooShort) rejectReason = 'Insufficient specification (outline < 100 chars or title < 10 chars)';else if (missingType) rejectReason = 'Missing Type';else if (notApproved) rejectReason = 'Not approved for processing';else if (notPostType) rejectReason = 'Not a post type (must be post, blog, article, service, or blog_post)';else rejectReason = 'Valid';return { json: { execId, recordId: data.id, shouldProcess, rejectReason, title, slug, language, outline, postType, status, keywords, chapters: parseInt(chapters), wordCount: parseInt(wordCount), originalData: data } };"
      },
      "id": "prefilter",
      "name": "Code: Prefilter Posts Specs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        336,
        576
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check",
              "leftValue": "={{ $json.shouldProcess }}",
              "rightValue": "={{ true }}",
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "should-process",
      "name": "IF: Should Process Post?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        560,
        576
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appkZD1ew4aKoBqDM",
          "mode": "list",
          "cachedResultName": "Tax4US Ops",
          "cachedResultUrl": "https://airtable.com/appkZD1ew4aKoBqDM"
        },
        "table": {
          "__rl": true,
          "mode": "id",
          "value": "tbloWUmXIuBQXa1YQ"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "Rejected"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Spec ID",
              "displayName": "Spec ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Agent Key",
              "displayName": "Agent Key",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Type",
              "displayName": "Type",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "service",
                  "value": "service"
                },
                {
                  "name": "faq",
                  "value": "faq"
                },
                {
                  "name": "glossary",
                  "value": "glossary"
                },
                {
                  "name": "case_study",
                  "value": "case_study"
                },
                {
                  "name": "blog_post",
                  "value": "blog_post"
                },
                {
                  "name": "podcast_episode",
                  "value": "podcast_episode"
                },
                {
                  "name": "social_announcement",
                  "value": "social_announcement"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Language",
              "displayName": "Language",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "he",
                  "value": "he"
                },
                {
                  "name": "en",
                  "value": "en"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Title HE",
              "displayName": "Title HE",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Title EN",
              "displayName": "Title EN",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Slug HE",
              "displayName": "Slug HE",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Slug EN",
              "displayName": "Slug EN",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Persona",
              "displayName": "Persona",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Keywords",
              "displayName": "Keywords",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Outline",
              "displayName": "Outline",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "CTA Text",
              "displayName": "CTA Text",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Internal Targets",
              "displayName": "Internal Targets",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Media Brief",
              "displayName": "Media Brief",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Priority",
              "displayName": "Priority",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Low",
                  "value": "Low"
                },
                {
                  "name": "Normal",
                  "value": "Normal"
                },
                {
                  "name": "High",
                  "value": "High"
                },
                {
                  "name": "Urgent",
                  "value": "Urgent"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Due Date",
              "displayName": "Due Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Owner Email",
              "displayName": "Owner Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "New",
                  "value": "New"
                },
                {
                  "name": "Drafted",
                  "value": "Drafted"
                },
                {
                  "name": "Needs_Approval",
                  "value": "Needs_Approval"
                },
                {
                  "name": "Approved",
                  "value": "Approved"
                },
                {
                  "name": "Published",
                  "value": "Published"
                },
                {
                  "name": "Rejected",
                  "value": "Rejected"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Created Time",
              "displayName": "Created Time",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Updated At",
              "displayName": "Updated At",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Podcasts",
              "displayName": "Podcasts",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Social_Queue",
              "displayName": "Social_Queue",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Errors_Log",
              "displayName": "Errors_Log",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "WP_Pages",
              "displayName": "WP_Pages",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Published_Content",
              "displayName": "Published_Content",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "WP_Posts",
              "displayName": "WP_Posts",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Moderation_Results",
              "displayName": "Moderation_Results",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Content_Approvals",
              "displayName": "Content_Approvals",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "reject-spec",
      "name": "Airtable: Update Rejected",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        784,
        672
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "XLvXlq3ygEbknytQ",
          "name": "Airtable Personal Access Token account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.item.json;const researchPrompt = `Research tax planning strategies for small business owners, focusing on: ${data.outline}. Include recent tax law changes, deductions, and compliance requirements. Provide comprehensive, actionable insights that would be valuable for small business owners.`;return { json: { ...data, researchPrompt } };"
      },
      "id": "prepare-research",
      "name": "Code: Prepare Research Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        784,
        480
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "options": {
          "maxTokens": 4000,
          "temperature": 0.7
        },
        "requestOptions": {}
      },
      "id": "create-structure",
      "name": "OpenAI: Create Article Structure",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        1008,
        480
      ],
      "credentials": {
        "openAiApi": {
          "id": "IVfkaQOIs6jCRdyu",
          "name": "OpenAi account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.item.json;nconst content = data.choices?.[0]?.message?.content;nif (!content) throw new Error('Missing OpenAI response');nnlet structure;ntry {n  structure = JSON.parse(content);n} catch (e) {n  throw new Error('Invalid JSON structure: ' + e.message);n}nnif (!structure.title || !structure.introduction || !structure.conclusions || !structure.chapters) {n  throw new Error('Missing required structure fields');n}nnif (!Array.isArray(structure.chapters) || structure.chapters.length === 0) {n  throw new Error('Chapters must be a non-empty array');n}nnreturn { json: { ...data, structure, chapterCount: structure.chapters.length } };"
      },
      "id": "validate-structure",
      "name": "Code: Validate Structure",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1232,
        480
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.item.json;nconst structure = data.structure;nnconst makeHeading = (level, text) => `<!-- wp:heading {\\\"level\\\":${level}} --><h${level}>${text}</h${level}><!-- /wp:heading -->`;nconst makeParagraph = (html) => `<!-- wp:paragraph --><p>${html}</p><!-- /wp:paragraph -->`;nconst makeList = (items) => `<!-- wp:list --><ul>${items.map(i=>`<li>${i}</li>`).join('')}</ul><!-- /wp:list -->`;nnconst slug = data.slug;nconst toc = structure.chapters && structure.chapters.length ? n  `<!-- wp:heading {\\\"level\\\":3} --><h3>Table of Contents</h3><!-- /wp:heading -->${makeList(structure.chapters.map((c,i)=>`<a href=\\\"#${slug}-sec-${i+1}\\\">${c.title}</a>`))}` : '';nnlet content = '';ncontent += toc;ncontent += makeParagraph(structure.introduction);nn// Process each chapter directly from the structurenfor (let i = 0; i < structure.chapters.length; i++) {n  const chapter = structure.chapters[i];n  const title = chapter.title || `Section ${i+1}`;n  n  content += `<!-- wp:html --><a id=\\\"${slug}-sec-${i+1}\\\"></a><!-- /wp:html -->`;n  content += makeHeading(2, title);n  n  const body = chapter.content || '';n  if (body.includes('<ul') || body.includes('<ol')) {n    content += body;n  } else {n    content += makeParagraph(body);n  }n}nncontent += makeHeading(3, 'Conclusions');ncontent += makeParagraph(structure.conclusions);nnconst postContent = {n  title: structure.title,n  slug: data.slug,n  content,n  excerpt: structure.subtitle || structure.introduction?.slice(0,155) || '',n  imagePrompt: structure.imagePrompt || '',n  tags: ['tax planning','small business','financial advice'],n  categories: ['Business','Tax Planning']n};nnreturn { json: { ...data, postContent, wpSlug: data.slug } };"
      },
      "id": "merge-content",
      "name": "Code: Merge Article Content (Gutenberg)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1456,
        480
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "={{ \"https://tax4us.co.il/wp-json/wp/v2/posts?slug=\" + $json.wpSlug + \"&lang=\" + $json.language }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "options": {}
      },
      "id": "check-exists",
      "name": "HTTP: Check Post Exists",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1680,
        480
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "credentials": {
        "wordpressApi": {
          "id": "GjqU4oaqFsD4KT0i",
          "name": "Wordpress account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "id": "create-or-update",
      "name": "IF: Create or Update?",
      "type": "nodes-base.if",
      "typeVersion": 2,
      "position": [
        1904,
        480
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "options": {}
      },
      "id": "http-create",
      "name": "HTTP: Create Post (Polylang)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2128,
        384
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "credentials": {
        "wordpressApi": {
          "id": "GjqU4oaqFsD4KT0i",
          "name": "Wordpress account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "http-update",
      "name": "HTTP: Update Post (Polylang)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2128,
        576
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const wp = $input.item.json;return { json: { execId: wp.execId, recordId: wp.recordId, postId: wp.id, postUrl: wp.link, postGuid: wp.guid?.rendered || '', postContent: wp.postContent, originalData: wp.originalData, language: wp.language } };"
      },
      "id": "merge-wp-data",
      "name": "Code: Merge WP Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2352,
        480
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "prompt": "={{ $json.postContent.imagePrompt || \"Professional business office setting with tax documents and calculator, modern corporate style\" }}",
        "options": {},
        "requestOptions": {}
      },
      "id": "generate-image",
      "name": "OpenAI: Generate Featured Image",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        2576,
        480
      ],
      "credentials": {
        "openAiApi": {
          "id": "IVfkaQOIs6jCRdyu",
          "name": "OpenAi account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const d = $input.item.json;const b64 = d.data?.[0]?.b64_json || d.image_base64 || '';if (!b64) throw new Error('Missing image base64');const fileName = (d.postContent?.slug || d.wpSlug || 'featured-image') + '.jpg';const alt = d.postContent?.title || 'Featured image';return [{ json: { ...d, imageAlt: alt, imageFileName: fileName }, binary: { image: { data: Buffer.from(b64, 'base64') } } }];"
      },
      "id": "prepare-image",
      "name": "Code: Prepare Image Binary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2800,
        480
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://tax4us.co.il/wp-json/wp/v2/media",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "image/jpeg"
            },
            {
              "name": "X-WP-Polylang-Lang",
              "value": "={{ $json.language }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "image",
        "options": {}
      },
      "id": "upload-image",
      "name": "HTTP: Upload Featured Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3024,
        480
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "credentials": {
        "wordpressApi": {
          "id": "GjqU4oaqFsD4KT0i",
          "name": "Wordpress account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://tax4us.co.il/wp-json/wp/v2/media/{{ $json.id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-WP-Polylang-Lang",
              "value": "={{ $json.language }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "id": "patch-media",
      "name": "HTTP: Patch Media Meta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3248,
        480
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "credentials": {
        "wordpressApi": {
          "id": "GjqU4oaqFsD4KT0i",
          "name": "Wordpress account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "options": {}
      },
      "id": "set-featured-image",
      "name": "HTTP: Set Featured Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3472,
        480
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "credentials": {
        "wordpressApi": {
          "id": "GjqU4oaqFsD4KT0i",
          "name": "Wordpress account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const d = $input.item.json;const meta = d.postContent?.meta || {};const faqs = d.postContent?.faqs || [];const schema = d.postContent?.schema_jsonld || null;const acfBody = { fields: {} };acfBody.fields.hero_subtitle = d.postContent?.excerpt || '';if (faqs.length) acfBody.fields.faq_items = faqs.map(f=>({ q: f.question || f.q || '', a: f.answer || f.a || '' }));if (schema) acfBody.fields.schema_jsonld = schema;acfBody.fields.og_title = meta.og_title || d.postContent?.title || '';acfBody.fields.og_description = meta.og_description || d.postContent?.excerpt || '';return { json: { ...d, acfBody } };"
      },
      "id": "build-acf-body",
      "name": "Code: Build ACF Body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3696,
        560
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "acf-write",
      "name": "HTTP: ACF Write",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3920,
        560
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "={{ \"https://tax4us.co.il/wp-json/wp/v2/posts?slug=\" + $json.postContent.slug + \"&lang=\" + ($json.language === \"en\" ? \"he\" : \"en\") }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "options": {}
      },
      "id": "check-other-lang",
      "name": "HTTP: Check Other Language",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4144,
        480
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "credentials": {
        "wordpressApi": {
          "id": "GjqU4oaqFsD4KT0i",
          "name": "Wordpress account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const d = $input.item.json;const other = Array.isArray(d) ? d : [];const otherId = other[0]?.id;const lang = d.language || 'en';let body = null;if (otherId) { body = { translations: lang === 'en' ? { en: d.postId, he: otherId } : { he: d.postId, en: otherId } }; }return { json: { ...d, translationsBody: body } };"
      },
      "id": "build-translations",
      "name": "Code: Build Translations",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4368,
        480
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://tax4us.co.il/wp-json/wp/v2/posts/{{ $json.postId }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-WP-Polylang-Lang",
              "value": "={{ $json.language }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "translations",
              "value": "={{ $json.translationsBody }}"
            }
          ]
        },
        "options": {}
      },
      "id": "patch-translations",
      "name": "HTTP: Patch Translations",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4592,
        480
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "credentials": {
        "wordpressApi": {
          "id": "GjqU4oaqFsD4KT0i",
          "name": "Wordpress account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appkZD1ew4aKoBqDM",
          "mode": "list",
          "cachedResultName": "Tax4US Ops",
          "cachedResultUrl": "https://airtable.com/appkZD1ew4aKoBqDM"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": "tbloWUmXIuBQXa1YQ"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "Drafted",
            "WP_Post_ID": "={{ $json.postId }}",
            "WP_URL": "={{ $json.postUrl }}",
            "Updated": "={{ new Date().toISOString() }}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "update-content-specs",
      "name": "Airtable: Update Content_Specs",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        4816,
        384
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "XLvXlq3ygEbknytQ",
          "name": "Airtable Personal Access Token account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appkZD1ew4aKoBqDM",
          "mode": "list",
          "cachedResultName": "Tax4US Ops",
          "cachedResultUrl": "https://airtable.com/appkZD1ew4aKoBqDM"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": "tblmAhR9v4eK0BLcf"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Title": "={{ $json.postContent.title }}",
            "Slug": "={{ $json.postContent.slug }}",
            "Post_ID": "={{ $json.postId }}",
            "URL": "={{ $json.postUrl }}",
            "Status": "Draft",
            "Type": "Post",
            "Created": "={{ new Date().toISOString() }}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "create-wp-posts",
      "name": "Airtable: Create WP_Posts Record",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        4816,
        576
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "XLvXlq3ygEbknytQ",
          "name": "Airtable Personal Access Token account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const d = $input.item.json;const subject = `Post Drafted: ${d.postContent.title}`;const htmlBody = `<h2>WordPress Post Successfully Drafted</h2><p>URL: <a href=\\\"${d.postUrl}\\\">${d.postUrl}</a></p>`;return { json: { ...d, emailSubject: subject, emailBody: htmlBody } };"
      },
      "id": "build-email",
      "name": "Code: Build Email Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5040,
        480
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "sendTo": "ai@tax4us.co.il",
        "subject": "={{ $json.emailSubject }}",
        "message": "={{ $json.emailBody }}",
        "options": {
          "replyTo": "system@tax4us.co.il"
        }
      },
      "id": "gmail-notify",
      "name": "Gmail: Notify Success",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        5264,
        480
      ],
      "webhookId": "eade891e-2525-4b8b-b7ff-85c5f9709801",
      "credentials": {
        "gmailOAuth2": {
          "id": "IcCnuN7tSKdtbOGM",
          "name": "Gmail account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const d = $input.item.json;const validations = { postCreated: !!d.postId, urlGenerated: !!d.postUrl, mediaUploaded: !!d.id, featuredSet: d.featured_media ? true : (d.featuredSet === true), acfWritten: !!d.acfBody };const allValid = Object.values(validations).every(Boolean);return { json: { success: allValid, execId: d.execId, postId: d.postId, postUrl: d.postUrl, validations, summary: allValid ? 'Post drafted with featured image and ACF updated' : 'One or more steps failed' } };"
      },
      "id": "final-validation",
      "name": "Code: Final Validation (Strict)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5488,
        480
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "tags",
              "name": "tags",
              "value": "={{ $json.execId }}",
              "type": "string"
            },
            {
              "id": "agent",
              "name": "agent",
              "value": "wordpress-posts-optimized",
              "type": "string"
            },
            {
              "id": "status",
              "name": "status",
              "value": "={{ $json.success ? \"success\" : \"partial\" }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "set-execution-tags",
      "name": "Set: Execution Tags",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5712,
        480
      ],
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Airtable: Monitor Content_Specs": {
      "main": [
        [
          {
            "node": "Code: Prefilter Posts Specs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Prefilter Posts Specs": {
      "main": [
        [
          {
            "node": "IF: Should Process Post?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: Should Process Post?": {
      "main": [
        [
          {
            "node": "Code: Prepare Research Prompt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Airtable: Update Rejected",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Prepare Research Prompt": {
      "main": [
        [
          {
            "node": "OpenAI: Create Article Structure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI: Create Article Structure": {
      "main": [
        [
          {
            "node": "Code: Validate Structure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Merge Article Content (Gutenberg)": {
      "main": [
        [
          {
            "node": "HTTP: Check Post Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Check Post Exists": {
      "main": [
        [
          {
            "node": "IF: Create or Update?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: Create or Update?": {
      "main": [
        [
          {
            "node": "HTTP: Create Post (Polylang)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP: Update Post (Polylang)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Create Post (Polylang)": {
      "main": [
        [
          {
            "node": "Code: Merge WP Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Update Post (Polylang)": {
      "main": [
        [
          {
            "node": "Code: Merge WP Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Merge WP Data": {
      "main": [
        [
          {
            "node": "OpenAI: Generate Featured Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI: Generate Featured Image": {
      "main": [
        [
          {
            "node": "Code: Prepare Image Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Prepare Image Binary": {
      "main": [
        [
          {
            "node": "HTTP: Upload Featured Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Upload Featured Image": {
      "main": [
        [
          {
            "node": "HTTP: Patch Media Meta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Patch Media Meta": {
      "main": [
        [
          {
            "node": "HTTP: Set Featured Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Set Featured Image": {
      "main": [
        [
          {
            "node": "Code: Build ACF Body",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP: Check Other Language",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Build ACF Body": {
      "main": [
        [
          {
            "node": "HTTP: ACF Write",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: ACF Write": {
      "main": [
        [
          {
            "node": "HTTP: Check Other Language",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Check Other Language": {
      "main": [
        [
          {
            "node": "Code: Build Translations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Build Translations": {
      "main": [
        [
          {
            "node": "HTTP: Patch Translations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Patch Translations": {
      "main": [
        [
          {
            "node": "Airtable: Update Content_Specs",
            "type": "main",
            "index": 0
          },
          {
            "node": "Airtable: Create WP_Posts Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable: Update Content_Specs": {
      "main": [
        [
          {
            "node": "Code: Build Email Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable: Create WP_Posts Record": {
      "main": [
        [
          {
            "node": "Code: Build Email Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Build Email Content": {
      "main": [
        [
          {
            "node": "Gmail: Notify Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail: Notify Success": {
      "main": [
        [
          {
            "node": "Code: Final Validation (Strict)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Final Validation (Strict)": {
      "main": [
        [
          {
            "node": "Set: Execution Tags",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Validate Structure": {
      "main": [
        [
          {
            "node": "Code: Merge Article Content (Gutenberg)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "saveExecutionProgress": true,
    "errorWorkflow": "TXGZxyglHWOSKvxt"
  },
  "staticData": {
    "node:Airtable: Monitor Content_Specs": {
      "lastTimeChecked": "2025-09-01T05:55:06Z"
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "ed026db5-3c54-4c1b-9868-8e0063aec088",
  "triggerCount": 1,
  "shared": [
    {
      "createdAt": "2025-08-31T20:47:13.885Z",
      "updatedAt": "2025-08-31T20:47:13.885Z",
      "role": "workflow:owner",
      "workflowId": "hCGOQg6Qi7va1vJw",
      "projectId": "Rs5Pee22xfDdJV5k",
      "project": {
        "createdAt": "2025-08-05T21:39:55.834Z",
        "updatedAt": "2025-08-05T21:39:58.285Z",
        "id": "Rs5Pee22xfDdJV5k",
        "name": "Tax4US LLC <info@tax4us.co.il>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "createdAt": "2025-08-05T21:39:55.834Z",
            "updatedAt": "2025-08-05T21:39:55.834Z",
            "userId": "7b60f61d-7d1d-4980-ad53-b9c952e613a1",
            "projectId": "Rs5Pee22xfDdJV5k",
            "user": {
              "createdAt": "2025-08-05T21:39:54.392Z",
              "updatedAt": "2025-10-08T17:49:15.000Z",
              "id": "7b60f61d-7d1d-4980-ad53-b9c952e613a1",
              "email": "info@tax4us.co.il",
              "firstName": "Tax4US",
              "lastName": "LLC",
              "personalizationAnswers": null,
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "mMqcQdZH16A9OQ2I",
                "userActivatedAt": 1754437746263,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1756111474246
                },
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-10-08",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}