Customers/tax4us/workflow-backups/2025-10-08_14-23-22/nPEDmq6LIfsOG5MN_My workflow.json
{
  "createdAt": "2025-09-12T16:55:49.682Z",
  "updatedAt": "2025-10-08T16:58:04.000Z",
  "id": "nPEDmq6LIfsOG5MN",
  "name": "My workflow",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "base_url",
              "value": "https://www.tax4us.co.il"
            }
          ]
        },
        "options": {}
      },
      "id": "a544cb9b-1a7d-47f5-a9c7-e7934f787e52",
      "name": "Set Base URL",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -288,
        -32
      ]
    },
    {
      "parameters": {
        "url": "=={{$json.base_url}}/wp-json/",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -80,
        -32
      ],
      "id": "0570748c-9ef9-480d-a1ac-ee962b555d3a",
      "name": "Check REST (public)1"
    },
    {
      "parameters": {
        "url": "={{$json.base_url}}/wp-json/wp/v2/users/me",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        128,
        -32
      ],
      "id": "ecd5c610-e5e4-4578-b06b-35f474f84803",
      "name": "\u05d1\u05d3\u05d9\u05e7\u05ea \u05d0\u05d9\u05de\u05d5\u05ea (users/me)",
      "credentials": {
        "httpBasicAuth": {
          "id": "cNCucoQyAubbPq4N",
          "name": "Tax4US WP (AppPwd)"
        }
      }
    }
  ],
  "connections": {
    "Set Base URL": {
      "main": [
        [
          {
            "node": "Check REST (public)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check REST (public)1": {
      "main": [
        [
          {
            "node": "\u05d1\u05d3\u05d9\u05e7\u05ea \u05d0\u05d9\u05de\u05d5\u05ea (users/me)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "e3f5ee44-4904-4fff-8c49-1b52df228923",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-09-12T16:55:49.685Z",
      "updatedAt": "2025-09-12T16:55:49.685Z",
      "role": "workflow:owner",
      "workflowId": "nPEDmq6LIfsOG5MN",
      "projectId": "Rs5Pee22xfDdJV5k",
      "project": {
        "createdAt": "2025-08-05T21:39:55.834Z",
        "updatedAt": "2025-08-05T21:39:58.285Z",
        "id": "Rs5Pee22xfDdJV5k",
        "name": "Tax4US LLC <info@tax4us.co.il>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "createdAt": "2025-08-05T21:39:55.834Z",
            "updatedAt": "2025-08-05T21:39:55.834Z",
            "userId": "7b60f61d-7d1d-4980-ad53-b9c952e613a1",
            "projectId": "Rs5Pee22xfDdJV5k",
            "user": {
              "createdAt": "2025-08-05T21:39:54.392Z",
              "updatedAt": "2025-10-08T17:49:15.000Z",
              "id": "7b60f61d-7d1d-4980-ad53-b9c952e613a1",
              "email": "info@tax4us.co.il",
              "firstName": "Tax4US",
              "lastName": "LLC",
              "personalizationAnswers": null,
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "mMqcQdZH16A9OQ2I",
                "userActivatedAt": 1754437746263,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1756111474246
                },
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-10-08",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}