Customers/tax4us/workflow-backups/2025-10-08_14-23-22/qL4H404kz7S0Y9jJ_Get LinkedIn Organization ID - Test.json
{
  "createdAt": "2025-09-12T02:09:49.226Z",
  "updatedAt": "2025-09-12T02:09:49.226Z",
  "id": "qL4H404kz7S0Y9jJ",
  "name": "Get LinkedIn Organization ID - Test",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        240,
        300
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "organization",
        "operation": "getAll",
        "returnAll": false,
        "limit": 10
      },
      "id": "linkedin-get-orgs",
      "name": "Get LinkedIn Organizations",
      "type": "n8n-nodes-base.linkedIn",
      "position": [
        460,
        300
      ],
      "typeVersion": 1,
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "VILSGV6OlF9iTslj",
          "name": "LinkedIn account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extract organization information\nconst orgs = $input.first().json;\n\nconsole.log('LinkedIn Organizations:', JSON.stringify(orgs, null, 2));\n\n// Find the main organization (usually the first one or the one with the most activity)\nconst mainOrg = orgs[0];\n\nif (mainOrg) {\n  return {\n    organizationId: mainOrg.id,\n    organizationName: mainOrg.name,\n    organizationUrn: mainOrg.urn,\n    allOrganizations: orgs.map(org => ({\n      id: org.id,\n      name: org.name,\n      urn: org.urn,\n      role: org.role\n    }))\n  };\n} else {\n  throw new Error('No organizations found');\n}"
      },
      "id": "extract-org-info",
      "name": "Extract Organization Info",
      "type": "n8n-nodes-base.code",
      "position": [
        680,
        300
      ],
      "typeVersion": 2
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Get LinkedIn Organizations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get LinkedIn Organizations": {
      "main": [
        [
          {
            "node": "Extract Organization Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "60666c66-8c2c-438d-ac83-d35c1cc166e9",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-09-12T02:09:49.228Z",
      "updatedAt": "2025-09-12T02:09:49.228Z",
      "role": "workflow:owner",
      "workflowId": "qL4H404kz7S0Y9jJ",
      "projectId": "Rs5Pee22xfDdJV5k",
      "project": {
        "createdAt": "2025-08-05T21:39:55.834Z",
        "updatedAt": "2025-08-05T21:39:58.285Z",
        "id": "Rs5Pee22xfDdJV5k",
        "name": "Tax4US LLC <info@tax4us.co.il>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "createdAt": "2025-08-05T21:39:55.834Z",
            "updatedAt": "2025-08-05T21:39:55.834Z",
            "userId": "7b60f61d-7d1d-4980-ad53-b9c952e613a1",
            "projectId": "Rs5Pee22xfDdJV5k",
            "user": {
              "createdAt": "2025-08-05T21:39:54.392Z",
              "updatedAt": "2025-10-08T17:49:15.000Z",
              "id": "7b60f61d-7d1d-4980-ad53-b9c952e613a1",
              "email": "info@tax4us.co.il",
              "firstName": "Tax4US",
              "lastName": "LLC",
              "personalizationAnswers": null,
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "mMqcQdZH16A9OQ2I",
                "userActivatedAt": 1754437746263,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1756111474246
                },
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-10-08",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}