Customers/tax4us/workflow-backups/2025-10-08_14-23-22/TpIYm1OWD9PyVZu8_Generate Multiple Language Blogpost with OpenAI Support Yoast  Polylang.json
{
  "createdAt": "2025-09-01T06:33:18.243Z",
  "updatedAt": "2025-09-01T06:33:18.243Z",
  "id": "TpIYm1OWD9PyVZu8",
  "name": "Generate Multiple Language Blogpost with OpenAI, Support Yoast & Polylang",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "9102bd06-d7c9-4703-a30b-fe4676ef4bf7",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        -560,
        608
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "https://<yourweb.site>/wp-json/wp/v2/posts?per_page=5",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "16b1aef0-5b66-4068-9e9d-1202a5a57531",
      "name": "Get Recent Posts",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -336,
        336
      ],
      "typeVersion": 4.2,
      "credentials": {
        "wordpressApi": {
          "id": "GjqU4oaqFsD4KT0i",
          "name": "Wordpress account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://yourweb.site>/wp-json/wp/v2/taxonomies",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "options": {}
      },
      "id": "1e93cd86-5a35-4a7e-9e76-bf982673c52f",
      "name": "Get All Taxonomies",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -336,
        496
      ],
      "typeVersion": 4.2,
      "credentials": {
        "wordpressApi": {
          "id": "GjqU4oaqFsD4KT0i",
          "name": "Wordpress account"
        }
      }
    },
    {
      "parameters": {
        "method": "OPTIONS",
        "url": "https://yourweb.site>/wp-json/wp/v2/posts",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "99420440-ae87-48d1-922a-6389020950fb",
      "name": "Get Posts Schema",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -336,
        656
      ],
      "typeVersion": 4.2,
      "credentials": {
        "wordpressApi": {
          "id": "GjqU4oaqFsD4KT0i",
          "name": "Wordpress account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://<yourweb.site>/wp-json",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "options": {}
      },
      "id": "b448d1a1-7edd-4fbf-a17e-8e1c65e4390b",
      "name": "Get API Routes",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -336,
        816
      ],
      "typeVersion": 4.2,
      "credentials": {
        "wordpressApi": {
          "id": "GjqU4oaqFsD4KT0i",
          "name": "Wordpress account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://yourweb.site>/wp-json/wp/v2/posts/{{ $json.id }}?_embed",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "options": {}
      },
      "id": "da21f34d-bf01-4166-a38d-e1d5a36c26a3",
      "name": "Get Single Post Details",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -144,
        336
      ],
      "typeVersion": 4.2,
      "credentials": {
        "wordpressApi": {
          "id": "GjqU4oaqFsD4KT0i",
          "name": "Wordpress account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://yourweb.site>/wp-json/wp/v2/language",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "1c9e8ad4-1eab-4ba9-a60d-ba06afcb3ae9",
      "name": "Check Language Endpoint",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -144,
        496
      ],
      "typeVersion": 4.2,
      "credentials": {
        "wordpressApi": {
          "id": "GjqU4oaqFsD4KT0i",
          "name": "Wordpress account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://<yourweb.site>/wp-json/pll/v1",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "8b839a1e-76c4-4001-a38b-f00a09e80390",
      "name": "Check PLL Endpoint",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -144,
        656
      ],
      "typeVersion": 4.2,
      "credentials": {
        "wordpressApi": {
          "id": "GjqU4oaqFsD4KT0i",
          "name": "Wordpress account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://<yourweb.site>/wp-json/wp/v2/terms",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "88b7a03c-04ea-4f91-8fa7-71ae8da2f2c1",
      "name": "Get Terms",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -144,
        816
      ],
      "typeVersion": 4.2,
      "credentials": {
        "wordpressApi": {
          "id": "GjqU4oaqFsD4KT0i",
          "name": "Wordpress account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Analyze a single post to understand Polylang structure\nconst results = {\n  discovery: [],\n  polylangFields: [],\n  languageHandling: '',\n  recommendations: [],\n  rawData: {}\n};\n\n// Get the post data\nconst items = $input.all();\nif (items.length === 0) {\n  return {\n    error: 'No input data received',\n    recommendation: 'Check if the previous nodes executed successfully'\n  };\n}\n\nconst postData = items[0].json;\nresults.rawData.sample = postData;\n\n// Look for language fields in the post\nif (postData) {\n  for (const key in postData) {\n    if (key.toLowerCase().includes('lang') || \n        key.toLowerCase().includes('locale') ||\n        key.toLowerCase().includes('translation')) {\n      results.polylangFields.push({\n        field: key,\n        value: postData[key],\n        type: typeof postData[key]\n      });\n    }\n  }\n  \n  // Check _links for language info\n  if (postData._links) {\n    for (const rel in postData._links) {\n      if (rel.includes('translation') || \n          rel.includes('language') ||\n          rel.includes('pll')) {\n        results.polylangFields.push({\n          field: `_links.${rel}`,\n          value: postData._links[rel],\n          type: 'link relation'\n        });\n      }\n    }\n  }\n  \n  // Check _embedded for language data\n  if (postData._embedded) {\n    for (const embed in postData._embedded) {\n      if (embed.includes('term') || embed.includes('language')) {\n        results.discovery.push({\n          type: 'embedded',\n          field: embed,\n          data: postData._embedded[embed]\n        });\n      }\n    }\n  }\n  \n  // Check meta fields\n  if (postData.meta) {\n    for (const metaKey in postData.meta) {\n      if (metaKey.toLowerCase().includes('lang') || \n          metaKey.toLowerCase().includes('locale')) {\n        results.polylangFields.push({\n          field: `meta.${metaKey}`,\n          value: postData.meta[metaKey],\n          type: 'meta field'\n        });\n      }\n    }\n  }\n}\n\n// Generate recommendations\nif (results.polylangFields.length > 0) {\n  results.languageHandling = 'Polylang fields detected in REST API';\n  results.recommendations.push('Language fields found: ' + results.polylangFields.map(f => f.field).join(', '));\n  results.recommendations.push('Use these fields when creating posts');\n} else {\n  results.languageHandling = 'No obvious Polylang fields in post data';\n  results.recommendations.push('Language might be handled through custom taxonomies or separate API calls');\n  results.recommendations.push('Check the taxonomies and routes endpoints for more information');\n}\n\nreturn results;"
      },
      "id": "80f1d23e-6473-4561-b333-3f5847cb283e",
      "name": "Analyze Post Structure",
      "type": "n8n-nodes-base.code",
      "position": [
        64,
        336
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "// Analyze taxonomies for language handling\nconst results = {\n  languageTaxonomies: [],\n  allTaxonomies: [],\n  recommendations: []\n};\n\nconst items = $input.all();\nif (items.length === 0 || !items[0].json) {\n  return { error: 'No taxonomy data received' };\n}\n\nconst taxonomies = items[0].json;\n\n// List all taxonomies\nfor (const taxSlug in taxonomies) {\n  const tax = taxonomies[taxSlug];\n  results.allTaxonomies.push({\n    slug: taxSlug,\n    name: tax.name,\n    restBase: tax.rest_base\n  });\n  \n  // Check for language-related taxonomies\n  if (taxSlug.includes('language') || \n      taxSlug.includes('translation') ||\n      taxSlug === 'lang' ||\n      tax.name?.toLowerCase().includes('language')) {\n    results.languageTaxonomies.push({\n      slug: taxSlug,\n      details: tax\n    });\n  }\n}\n\n// Generate recommendations\nif (results.languageTaxonomies.length > 0) {\n  results.recommendations.push('Language taxonomy found: ' + results.languageTaxonomies[0].slug);\n  results.recommendations.push('Use this taxonomy when creating posts by adding it to the taxonomies parameter');\n} else {\n  results.recommendations.push('No dedicated language taxonomy found');\n  results.recommendations.push('Language might be handled through post meta or custom fields');\n}\n\nreturn results;"
      },
      "id": "7879490b-9e0f-4c28-ad84-48d8236fada7",
      "name": "Analyze Taxonomies",
      "type": "n8n-nodes-base.code",
      "position": [
        64,
        496
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "// Check API routes for Polylang endpoints\nconst results = {\n  polylangRoutes: [],\n  allNamespaces: [],\n  recommendations: []\n};\n\nconst items = $input.all();\nif (items.length === 0 || !items[0].json) {\n  return { error: 'No route data received' };\n}\n\nconst apiData = items[0].json;\n\n// Check namespaces\nif (apiData.namespaces) {\n  results.allNamespaces = apiData.namespaces;\n  \n  // Look for Polylang namespace\n  const pllNamespaces = apiData.namespaces.filter(ns => \n    ns.includes('pll') || \n    ns.includes('polylang') || \n    ns.includes('language')\n  );\n  \n  if (pllNamespaces.length > 0) {\n    results.polylangRoutes = pllNamespaces;\n    results.recommendations.push('Polylang API namespace found: ' + pllNamespaces.join(', '));\n    results.recommendations.push('Explore these endpoints for language management');\n  }\n}\n\n// Check routes\nif (apiData.routes) {\n  for (const route in apiData.routes) {\n    if (route.includes('pll') || \n        route.includes('language') || \n        route.includes('translation')) {\n      results.polylangRoutes.push({\n        route: route,\n        methods: apiData.routes[route].methods\n      });\n    }\n  }\n}\n\nif (results.polylangRoutes.length === 0) {\n  results.recommendations.push('No dedicated Polylang routes found');\n  results.recommendations.push('Language handling is likely integrated into standard WP endpoints');\n}\n\nreturn results;"
      },
      "id": "7575bd07-1732-4074-9eef-92cdd9fa3003",
      "name": "Analyze API Routes",
      "type": "n8n-nodes-base.code",
      "position": [
        64,
        816
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "content": "## Polylang Debugging ",
        "height": 720,
        "width": 980
      },
      "id": "f5769a19-7414-49e7-b652-497ac45d1917",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -656,
        288
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {
          "maxTokens": 2500,
          "temperature": 0.8
        }
      },
      "id": "38d5b9f5-9fa0-4028-8fed-e06dd2a27e53",
      "name": "OpenAI Model - Article1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        1008,
        512
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "IVfkaQOIs6jCRdyu",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"category\": \"F-1 Visa\",\n  \"categoryId\": 4794,\n  \"language\": \"en\",\n  \"topic\": \"F-1 visa interview preparation\",\n  \"title\": \"Essential F-1 Visa Interview Tips for International Students\",\n  \"slug\": \"f1-visa-interview-tips-international-students\",\n  \"metaDescription\": \"Master your F-1 visa interview with proven tips and common questions. Get expert guidance for international students applying to US universities.\",\n  \"focusKeyphrase\": \"F-1 visa interview tips\"\n}"
      },
      "id": "9fc96b39-77a9-4133-ab3e-86e9b923a20c",
      "name": "Parse Topic JSON1",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "position": [
        832,
        512
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {
          "temperature": 0.7
        }
      },
      "id": "305b0046-75ec-4099-9428-e16de27ef345",
      "name": "OpenAI Model - Topic1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        672,
        512
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "IVfkaQOIs6jCRdyu",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Article Generator",
        "height": 720,
        "width": 1200
      },
      "id": "446db01b-8a96-4bba-a57c-4e5bbc3ac846",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        384,
        288
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                3
              ],
              "triggerAtHour": 10
            }
          ]
        }
      },
      "id": "c319fe35-90fc-4de1-b4fd-1bf67b2814d0",
      "name": "Weekly Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        496,
        368
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an expert content strategist for <yourweb.site> specializing in visa and education content. Generate ONE blog post topic.\n\n1. Select ONE category from these available WordPress categories:\n   - \n2. Select a target language from: en (English), tr (Turkish), fa (Farsi)\n\n3. Create an engaging topic and metadata for a blog post.\n\n4. Format your response EXACTLY like this:\n{\n  \"category\": \"[WordPress category name]\",\n  \"categoryId\": [category ID number],\n  \"language\": \"[language code: en, tr, or fa]\",\n  \"topic\": \"[specific topic]\",\n  \"title\": \"[engaging SEO-friendly title]\",\n  \"slug\": \"[url-friendly-slug-lowercase-with-hyphens]\",\n  \"metaDescription\": \"[meta description under 160 characters]\",\n  \"focusKeyphrase\": \"[main keyword phrase]\"\n}\n\nIMPORTANT:\n- Topics should be practical and helpful\n- Keep titles clear and engaging\n- Meta descriptions should be compelling and under 160 characters\n- Slug should be lowercase with hyphens, no special characters\n- Randomly select different languages to ensure content diversity\n- If selecting tr or fa, still generate the content in English (it will be translated later)",
        "hasOutputParser": true
      },
      "id": "631ce542-1da0-4eb5-9b9c-cb3b1e9873da",
      "name": "Generate Topic & Metadata",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        672,
        368
      ],
      "typeVersion": 1.6
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an expert content writer for<yourweb.site>, a visa consultation company. Write a comprehensive article based on:\n\nTopic: {{ $json.output.topic }}\nTitle: {{ $json.output.title }}\nCategory: {{ $json.output.category }}\nFocus Keyphrase: {{ $json.output.focusKeyphrase }}\n\nCRITICAL Requirements:\n\nWrite between 1000-1500 words\nUse a clear, simple, helpful tone \u2013 avoid technical jargon\nDo NOT provide legal advice or interpret immigration law\nFocus on practical guidance and general information\nInclude useful tips especially for international students\n\nStructure with one <h1> (for the title, handled by WordPress), then use <h2> for main sections and <p> or <strong>/<ul> for subpoints \u2014 avoid excessive use of <h3> unless necessary\nMake content SEO-friendly by using the focus keyphrase naturally\nEnd with EXACTLY this CTA in a separate paragraph: \"Reach out to us for personalized consultation based on your specific requirements.\"\n\nStructure:\nIntroduction (engage the reader)\n3\u20134 main content sections with <h2> headings\nSubpoints within sections should be in <p>, <ul>, <strong> or similar semantic tags \u2014 use <h3> only if really needed\nTips or checklist for practical action\n\nConclusion\nCTA paragraph\nOutput a complete article in valid HTML format, without wrapping the result in code blocks or using markdown. Do NOT include the <h1> tag for the title, as it will be handled by WordPress. Output only the HTML content, not instructions or explanations.",
        "options": {}
      },
      "id": "dd57a406-3df9-44b7-b6fe-b1c650dafea4",
      "name": "Generate Article Content",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        1008,
        368
      ],
      "typeVersion": 1.9
    },
    {
      "parameters": {
        "title": "={{ $('Generate Topic & Metadata').item.json.output.title }}",
        "additionalFields": {
          "authorId": 2,
          "content": "={{ $json.output }}",
          "slug": "={{ $('Generate Topic & Metadata').item.json.output.slug }}",
          "status": "draft",
          "format": "standard",
          "categories": "={{ $('Generate Topic & Metadata').item.json.output.categoryId }}"
        }
      },
      "id": "144bb69b-541f-4d2e-8985-4988b668dee6",
      "name": "Create WordPress Draft",
      "type": "n8n-nodes-base.wordpress",
      "position": [
        1344,
        368
      ],
      "typeVersion": 1,
      "credentials": {
        "wordpressApi": {
          "id": "GjqU4oaqFsD4KT0i",
          "name": "Wordpress account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://<yourweb.site>/wp-json/wp/v2/posts/{{ $json.id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"meta\": {\n    \"_yoast_wpseo_focuskw\": \"{{ $('Generate Topic & Metadata').item.json.output.focusKeyphrase }}\",\n    \"_yoast_wpseo_metadesc\": \"{{ $('Generate Topic & Metadata').item.json.output.metaDescription }}\",\n    \"_yoast_wpseo_title\": \"{{ $('Generate Topic & Metadata').item.json.output.title }}\"\n  }\n}",
        "options": {}
      },
      "id": "c77cce86-344f-47bf-a6d4-95809d383a49",
      "name": "Set Yoast SEO Data",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        656,
        768
      ],
      "typeVersion": 4.2,
      "credentials": {
        "wordpressApi": {
          "id": "GjqU4oaqFsD4KT0i",
          "name": "Wordpress account"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "prompt": "=Create a cinematic, modern image for a blog about: {{ $('Generate Topic & Metadata').item.json.output.title }}\n\nVisual Style Requirements:\n\t\u2022\tCinematic, realistic photography with shallow depth of field\n\t\u2022\tShows people (young adults or professionals) traveling, studying, or working internationally\n\t\u2022\tScenes like airports, train stations, city streets, campuses, or iconic landmarks\n\t\u2022\tGlobal lifestyle and international mobility vibe\n\t\u2022\tBright or golden-hour lighting, energetic or inspirational tone\n\t\u2022\tNatural, candid facial expressions and interactions\n\t\u2022\tModern outfits and diverse representation\n\t\u2022\tNO text, flags, logos, or brand names in the image\n\t\u2022\tClean, high-quality composition suitable for a professional blog",
        "options": {
          "size": "1792x1024",
          "style": "natural"
        }
      },
      "id": "194e0109-af85-41e7-ad0a-0aa38238429b",
      "name": "Generate Featured Image",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        864,
        768
      ],
      "typeVersion": 1.8,
      "credentials": {
        "openAiApi": {
          "id": "IVfkaQOIs6jCRdyu",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://<yourweb.site>/wp-json/wp/v2/media",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "image/png"
            },
            {
              "name": "Content-Disposition",
              "value": "=attachment; filename={{ $('Generate Topic & Metadata').item.json.output.slug }}.png"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "id": "a393923e-5ff5-47fd-9342-210d24f3ea06",
      "name": "Upload Image to WordPress",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1072,
        768
      ],
      "typeVersion": 4.2,
      "credentials": {
        "wordpressApi": {
          "id": "GjqU4oaqFsD4KT0i",
          "name": "Wordpress account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://<yourweb.site>/wp-json/wp/v2/posts/{{ $('Create WordPress Draft').item.json.id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "featured_media",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e9068852-3cda-4d89-8e6b-87fa2ace03d0",
      "name": "Attach Featured Image",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1264,
        768
      ],
      "typeVersion": 4.2,
      "credentials": {
        "wordpressApi": {
          "id": "GjqU4oaqFsD4KT0i",
          "name": "Wordpress account"
        }
      }
    }
  ],
  "connections": {
    "Get API Routes": {
      "main": [
        [
          {
            "node": "Analyze API Routes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Get Recent Posts",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get All Taxonomies",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Posts Schema",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get API Routes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Weekly Schedule": {
      "main": [
        [
          {
            "node": "Generate Topic & Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Posts Schema": {
      "main": [
        [
          {
            "node": "Check PLL Endpoint",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Recent Posts": {
      "main": [
        [
          {
            "node": "Get Single Post Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Topic JSON1": {
      "ai_outputParser": [
        [
          {
            "node": "Generate Topic & Metadata",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Get All Taxonomies": {
      "main": [
        [
          {
            "node": "Analyze Taxonomies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Yoast SEO Data": {
      "main": [
        [
          {
            "node": "Generate Featured Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Model - Topic1": {
      "ai_languageModel": [
        [
          {
            "node": "Generate Topic & Metadata",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Create WordPress Draft": {
      "main": [
        [
          {
            "node": "Set Yoast SEO Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Featured Image": {
      "main": [
        [
          {
            "node": "Upload Image to WordPress",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Single Post Details": {
      "main": [
        [
          {
            "node": "Analyze Post Structure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Model - Article1": {
      "ai_languageModel": [
        [
          {
            "node": "Generate Article Content",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Generate Article Content": {
      "main": [
        [
          {
            "node": "Create WordPress Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Topic & Metadata": {
      "main": [
        [
          {
            "node": "Generate Article Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Image to WordPress": {
      "main": [
        [
          {
            "node": "Attach Featured Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "447111e3-0fc1-42ae-ba9f-f2cdbe3ce4e4",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-09-01T06:33:18.248Z",
      "updatedAt": "2025-09-01T06:33:18.248Z",
      "role": "workflow:owner",
      "workflowId": "TpIYm1OWD9PyVZu8",
      "projectId": "Rs5Pee22xfDdJV5k",
      "project": {
        "createdAt": "2025-08-05T21:39:55.834Z",
        "updatedAt": "2025-08-05T21:39:58.285Z",
        "id": "Rs5Pee22xfDdJV5k",
        "name": "Tax4US LLC <info@tax4us.co.il>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "createdAt": "2025-08-05T21:39:55.834Z",
            "updatedAt": "2025-08-05T21:39:55.834Z",
            "userId": "7b60f61d-7d1d-4980-ad53-b9c952e613a1",
            "projectId": "Rs5Pee22xfDdJV5k",
            "user": {
              "createdAt": "2025-08-05T21:39:54.392Z",
              "updatedAt": "2025-10-08T17:49:15.000Z",
              "id": "7b60f61d-7d1d-4980-ad53-b9c952e613a1",
              "email": "info@tax4us.co.il",
              "firstName": "Tax4US",
              "lastName": "LLC",
              "personalizationAnswers": null,
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "mMqcQdZH16A9OQ2I",
                "userActivatedAt": 1754437746263,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1756111474246
                },
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-10-08",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}