Customers/tax4us/workflow-backups/2025-10-08_14-23-22/wAg6x1HaQcXfl78f_WordPress Blog  Posts Manager Agent v2.json
{
  "createdAt": "2025-09-01T07:20:53.140Z",
  "updatedAt": "2025-09-01T07:20:53.140Z",
  "id": "wAg6x1HaQcXfl78f",
  "name": "WordPress Blog & Posts Manager Agent v2",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "id": "trigger-node",
      "name": "Airtable Trigger",
      "type": "n8n-nodes-base.airtableTrigger",
      "typeVersion": 1,
      "position": [
        200,
        400
      ],
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "authentication": "airtableTokenApi",
        "baseId": {
          "__rl": true,
          "value": "appkZD1ew4aKoBqDM",
          "mode": "id"
        },
        "tableId": {
          "__rl": true,
          "value": "tbloWUmXIuBQXa1YQ",
          "mode": "id"
        },
        "triggerField": "Status"
      },
      "credentials": {
        "airtableTokenApi": {
          "id": "XLvXlq3ygEbknytQ",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "id": "preprocess-node",
      "name": "Preprocess Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        400
      ],
      "parameters": {
        "jsCode": "const execId = `blog_${Date.now()}_${Math.random().toString(36).substr(2, 9)}`;\nconst data = $input.item.json;\n\nconst title = data.fields?.['Title EN'] || data.fields?.['Title'] || '';\nconst topic = data.fields?.['Topic'] || data.fields?.['Outline'] || '';\nconst keywords = data.fields?.['Keywords'] || '';\nconst contentType = data.fields?.['Type'] || 'blog';\nconst status = data.fields?.['Status'] || 'pending';\nconst language = data.fields?.['Language'] || 'en';\nconst wordCount = parseInt(data.fields?.['Word Count'] || 2500);\n\nconst isValid = title.length > 5 && topic.length > 20;\nconst shouldProcess = isValid && (status === 'Approved' || status === 'pending');\n\nreturn {\n  json: {\n    execId,\n    recordId: data.id,\n    shouldProcess,\n    title,\n    topic,\n    keywords,\n    contentType,\n    language,\n    wordCount,\n    originalData: data\n  }\n};"
      }
    },
    {
      "id": "router-node",
      "name": "Should Process",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        600,
        400
      ],
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json.shouldProcess }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        }
      }
    },
    {
      "id": "research-node",
      "name": "Research Topic",
      "type": "@mendable/n8n-nodes-firecrawl.firecrawl",
      "typeVersion": 1,
      "position": [
        800,
        300
      ],
      "parameters": {
        "operation": "search",
        "query": "={{ $json.keywords + ' ' + $json.topic }}",
        "requestOptions": {
          "limit": 5
        }
      },
      "credentials": {
        "firecrawlApi": {
          "id": "uDRaxyTyX1P90Eit",
          "name": "Firecrawl API"
        }
      }
    },
    {
      "id": "generate-content-node",
      "name": "Generate Content",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        1000,
        300
      ],
      "parameters": {
        "resource": "chat",
        "operation": "completion",
        "model": "gpt-4o",
        "messages": {
          "messageValues": [
            {
              "role": "system",
              "content": "You are an expert blog writer. Create a comprehensive, SEO-optimized blog post with proper structure, engaging content, and actionable insights."
            },
            {
              "role": "user",
              "content": "Write a complete blog post about: {{ $json.topic }}\\nKeywords: {{ $json.keywords }}\\nWord Count: {{ $json.wordCount }}\\n\\nInclude: introduction, main sections with H2/H3 headings, key takeaways, conclusion, and 3 FAQs. Format in Markdown."
            }
          ]
        },
        "options": {
          "temperature": 0.7,
          "maxTokens": 4000
        }
      },
      "credentials": {
        "openAiApi": {
          "id": "IVfkaQOIs6jCRdyu",
          "name": "OpenAi account"
        }
      }
    },
    {
      "id": "format-content-node",
      "name": "Format for WordPress",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        300
      ],
      "parameters": {
        "jsCode": "const d = $input.item.json;\nconst content = d.choices?.[0]?.message?.content || d.content || '';\n\n// Convert Markdown to Gutenberg blocks\nfunction convertToGutenberg(markdown) {\n  let blocks = [];\n  const lines = markdown.split('\\n');\n  \n  lines.forEach(line => {\n    if (line.startsWith('# ')) {\n      blocks.push(`<!-- wp:heading {\\\"level\\\":1} -->\\n<h1>${line.replace('# ', '')}</h1>\\n<!-- /wp:heading -->`);\n    } else if (line.startsWith('## ')) {\n      blocks.push(`<!-- wp:heading {\\\"level\\\":2} -->\\n<h2>${line.replace('## ', '')}</h2>\\n<!-- /wp:heading -->`);\n    } else if (line.startsWith('### ')) {\n      blocks.push(`<!-- wp:heading {\\\"level\\\":3} -->\\n<h3>${line.replace('### ', '')}</h3>\\n<!-- /wp:heading -->`);\n    } else if (line.startsWith('- ')) {\n      blocks.push(`<!-- wp:list -->\\n<ul><li>${line.replace('- ', '')}</li></ul>\\n<!-- /wp:list -->`);\n    } else if (line.trim()) {\n      blocks.push(`<!-- wp:paragraph -->\\n<p>${line}</p>\\n<!-- /wp:paragraph -->`);\n    }\n  });\n  \n  return blocks.join('\\n\\n');\n}\n\nconst gutenbergContent = convertToGutenberg(content);\nconst slug = d.title.toLowerCase().replace(/[^a-z0-9]+/g, '-').replace(/^-+|-+$/g, '');\n\nreturn {\n  json: {\n    ...d,\n    wpContent: gutenbergContent,\n    wpTitle: d.title,\n    wpSlug: slug,\n    wpExcerpt: content.substring(0, 155) + '...'\n  }\n};"
      }
    },
    {
      "id": "create-post-node",
      "name": "Create WordPress Post",
      "type": "n8n-nodes-base.wordpress",
      "typeVersion": 1,
      "position": [
        1400,
        300
      ],
      "parameters": {
        "resource": "post",
        "operation": "create",
        "title": "={{ $json.wpTitle }}",
        "additionalFields": {
          "content": "={{ $json.wpContent }}",
          "slug": "={{ $json.wpSlug }}",
          "excerpt": "={{ $json.wpExcerpt }}",
          "status": "draft"
        }
      },
      "credentials": {
        "wordpressApi": {
          "id": "GjqU4oaqFsD4KT0i",
          "name": "Wordpress account"
        }
      }
    },
    {
      "id": "update-airtable-node",
      "name": "Update Airtable",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        1600,
        300
      ],
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appkZD1ew4aKoBqDM",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "tbloWUmXIuBQXa1YQ",
          "mode": "list"
        },
        "id": "={{ $json.recordId }}",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "Published",
            "WP_Post_ID": "={{ $json.id }}",
            "WP_URL": "={{ $json.link }}",
            "Updated": "={{ new Date().toISOString() }}"
          }
        }
      },
      "credentials": {
        "airtableTokenApi": {
          "id": "XLvXlq3ygEbknytQ",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "id": "notify-email-node",
      "name": "Send Email Notification",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1800,
        300
      ],
      "parameters": {
        "sendTo": "ai@tax4us.co.il",
        "subject": "Blog Post Created: {{ $json.wpTitle }}",
        "message": "<h2>Blog Post Successfully Created</h2><p><strong>Title:</strong> {{ $json.wpTitle }}</p><p><strong>URL:</strong> <a href='{{ $json.link }}'>{{ $json.link }}</a></p><p><strong>Status:</strong> Draft</p>",
        "options": {
          "replyTo": "system@tax4us.co.il"
        }
      },
      "credentials": {
        "gmailOAuth2": {
          "id": "IcCnuN7tSKdtbOGM",
          "name": "Gmail account"
        }
      }
    },
    {
      "id": "error-update-node",
      "name": "Update Error Status",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        800,
        500
      ],
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appkZD1ew4aKoBqDM",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "tbloWUmXIuBQXa1YQ",
          "mode": "list"
        },
        "id": "={{ $json.recordId }}",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "Failed",
            "Reason": "Validation failed or not approved",
            "Updated": "={{ new Date().toISOString() }}"
          }
        }
      },
      "credentials": {
        "airtableTokenApi": {
          "id": "XLvXlq3ygEbknytQ",
          "name": "Airtable Personal Access Token account"
        }
      }
    }
  ],
  "connections": {
    "Airtable Trigger": {
      "main": [
        [
          {
            "node": "Preprocess Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preprocess Data": {
      "main": [
        [
          {
            "node": "Should Process",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Process": {
      "main": [
        [
          {
            "node": "Research Topic",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Error Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Research Topic": {
      "main": [
        [
          {
            "node": "Generate Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Content": {
      "main": [
        [
          {
            "node": "Format for WordPress",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format for WordPress": {
      "main": [
        [
          {
            "node": "Create WordPress Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create WordPress Post": {
      "main": [
        [
          {
            "node": "Update Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Airtable": {
      "main": [
        [
          {
            "node": "Send Email Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "saveExecutionProgress": true
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "1cba46fb-5c26-4e60-b9ec-6d0516b96d4b",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-09-01T07:20:53.142Z",
      "updatedAt": "2025-09-01T07:20:53.142Z",
      "role": "workflow:owner",
      "workflowId": "wAg6x1HaQcXfl78f",
      "projectId": "Rs5Pee22xfDdJV5k",
      "project": {
        "createdAt": "2025-08-05T21:39:55.834Z",
        "updatedAt": "2025-08-05T21:39:58.285Z",
        "id": "Rs5Pee22xfDdJV5k",
        "name": "Tax4US LLC <info@tax4us.co.il>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "createdAt": "2025-08-05T21:39:55.834Z",
            "updatedAt": "2025-08-05T21:39:55.834Z",
            "userId": "7b60f61d-7d1d-4980-ad53-b9c952e613a1",
            "projectId": "Rs5Pee22xfDdJV5k",
            "user": {
              "createdAt": "2025-08-05T21:39:54.392Z",
              "updatedAt": "2025-10-08T17:49:15.000Z",
              "id": "7b60f61d-7d1d-4980-ad53-b9c952e613a1",
              "email": "info@tax4us.co.il",
              "firstName": "Tax4US",
              "lastName": "LLC",
              "personalizationAnswers": null,
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "mMqcQdZH16A9OQ2I",
                "userActivatedAt": 1754437746263,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1756111474246
                },
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-10-08",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}