Customers/tax4us/workflow-backups/2025-10-08_14-23-22/WAwGMk5EzIdknHOT_Complete HTTP Request Workflow - Validated and Tested.json
{
  "createdAt": "2025-09-02T23:58:05.540Z",
  "updatedAt": "2025-09-03T00:39:48.000Z",
  "id": "WAwGMk5EzIdknHOT",
  "name": "Complete HTTP Request Workflow - Validated and Tested",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {},
      "id": "1f5a93d3-8b5f-4e24-8c9a-7a8b9c0d1e2f",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://jsonplaceholder.typicode.com/posts/1",
        "authentication": "none",
        "options": {
          "response": {
            "response": {
              "fullResponse": false
            }
          },
          "retry": {
            "maxTries": 3,
            "waitBetweenTries": 1000
          },
          "timeout": 10000
        },
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "User-Agent",
              "value": "n8n-workflow/1.0"
            }
          ]
        }
      },
      "id": "2a6b7c8d-9e0f-1a2b-3c4d-5e6f7a8b9c0d",
      "name": "GET Request - Fetch Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        460,
        300
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://jsonplaceholder.typicode.com/posts",
        "authentication": "none",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"title\": \"Test Post from n8n\",\n  \"body\": \"This is a test post created by n8n workflow\",\n  \"userId\": 1,\n  \"timestamp\": \"{{ $now.toISO() }}\",\n  \"metadata\": {\n    \"source\": \"n8n-workflow\",\n    \"version\": \"1.0\",\n    \"processedAt\": \"{{ new Date().toISOString() }}\"\n  }\n}",
        "options": {
          "response": {
            "response": {
              "fullResponse": false
            }
          },
          "retry": {
            "maxTries": 3,
            "waitBetweenTries": 2000
          },
          "timeout": 15000
        },
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "X-Custom-Header",
              "value": "n8n-automation"
            }
          ]
        }
      },
      "id": "3b7c8d9e-0f1a-2b3c-4d5e-6f7a8b9c0d1e",
      "name": "POST Request - Send Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        680,
        300
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://jsonplaceholder.typicode.com/posts/{{ $json.id }}",
        "authentication": "none",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"id\": {{ $json.id }},\n  \"title\": \"Updated: {{ $json.title }}\",\n  \"body\": \"Modified content from n8n workflow\",\n  \"userId\": {{ $json.userId }},\n  \"updatedAt\": \"{{ $now.toISO() }}\"\n}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          },
          "retry": {
            "maxTries": 2,
            "waitBetweenTries": 1500
          },
          "timeout": 10000
        },
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "If-Match",
              "value": "*"
            }
          ]
        }
      },
      "id": "4c8d9e0f-1a2b-3c4d-5e6f-7a8b9c0d1e2f",
      "name": "PUT Request - Update Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        300
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://jsonplaceholder.typicode.com/posts/{{ $json.body ? $json.body.id : $json.id }}",
        "authentication": "none",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          },
          "retry": {
            "maxTries": 1,
            "waitBetweenTries": 0
          },
          "timeout": 5000
        },
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "X-Delete-Reason",
              "value": "Workflow cleanup"
            }
          ]
        }
      },
      "id": "5d9e0f1a-2b3c-4d5e-6f7a-8b9c0d1e2f3a",
      "name": "DELETE Request - Remove Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        300
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://httpbin.org/post",
        "authentication": "none",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"workflow\": \"HTTP Validation Test\",\n  \"results\": {\n    \"get\": {{ JSON.stringify($node[\"GET Request - Fetch Data\"].json) }},\n    \"post\": {{ JSON.stringify($node[\"POST Request - Send Data\"].json) }},\n    \"put\": {{ $node[\"PUT Request - Update Data\"].json.body ? JSON.stringify($node[\"PUT Request - Update Data\"].json.body) : '{}' }},\n    \"delete\": {{ JSON.stringify($node[\"DELETE Request - Remove Data\"].json) }}\n  },\n  \"completedAt\": \"{{ $now.toISO() }}\",\n  \"status\": \"success\"\n}",
        "options": {
          "response": {
            "response": {
              "fullResponse": false
            }
          },
          "retry": {
            "maxTries": 5,
            "waitBetweenTries": 3000
          },
          "timeout": 30000
        },
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Workflow-ID",
              "value": "{{ $workflow.id }}"
            },
            {
              "name": "X-Execution-ID",
              "value": "{{ $execution.id }}"
            },
            {
              "name": "X-Timestamp",
              "value": "={{ Date.now() }}"
            }
          ]
        },
        "queryParameters": {
          "parameters": [
            {
              "name": "source",
              "value": "n8n"
            },
            {
              "name": "type",
              "value": "validation"
            }
          ]
        }
      },
      "id": "6e0f1a2b-3c4d-5e6f-7a8b-9c0d1e2f3a4b",
      "name": "Webhook Report - Final",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1340,
        300
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "Workflow Complete"
            },
            {
              "name": "message",
              "value": "All HTTP requests executed successfully"
            }
          ],
          "number": [
            {
              "name": "totalRequests",
              "value": 6
            }
          ],
          "boolean": [
            {
              "name": "success",
              "value": true
            }
          ]
        },
        "options": {}
      },
      "id": "7f1a2b3c-4d5e-6f7a-8b9c-0d1e2f3a4b5c",
      "name": "Set Response Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1560,
        300
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "GET Request - Fetch Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET Request - Fetch Data": {
      "main": [
        [
          {
            "node": "POST Request - Send Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST Request - Send Data": {
      "main": [
        [
          {
            "node": "PUT Request - Update Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PUT Request - Update Data": {
      "main": [
        [
          {
            "node": "DELETE Request - Remove Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DELETE Request - Remove Data": {
      "main": [
        [
          {
            "node": "Webhook Report - Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Report - Final": {
      "main": [
        [
          {
            "node": "Set Response Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/New_York",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "saveExecutionProgress": true,
    "executionTimeout": 300
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "7c7b6bb5-2011-49d0-9af1-be38dd107fc3",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-09-02T23:58:05.545Z",
      "updatedAt": "2025-09-02T23:58:05.545Z",
      "role": "workflow:owner",
      "workflowId": "WAwGMk5EzIdknHOT",
      "projectId": "Rs5Pee22xfDdJV5k",
      "project": {
        "createdAt": "2025-08-05T21:39:55.834Z",
        "updatedAt": "2025-08-05T21:39:58.285Z",
        "id": "Rs5Pee22xfDdJV5k",
        "name": "Tax4US LLC <info@tax4us.co.il>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "createdAt": "2025-08-05T21:39:55.834Z",
            "updatedAt": "2025-08-05T21:39:55.834Z",
            "userId": "7b60f61d-7d1d-4980-ad53-b9c952e613a1",
            "projectId": "Rs5Pee22xfDdJV5k",
            "user": {
              "createdAt": "2025-08-05T21:39:54.392Z",
              "updatedAt": "2025-10-08T17:49:15.000Z",
              "id": "7b60f61d-7d1d-4980-ad53-b9c952e613a1",
              "email": "info@tax4us.co.il",
              "firstName": "Tax4US",
              "lastName": "LLC",
              "personalizationAnswers": null,
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "mMqcQdZH16A9OQ2I",
                "userActivatedAt": 1754437746263,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1756111474246
                },
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-10-08",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}