Customers/tax4us/workflow-backups/2025-10-08_14-23-22/Xm9O0MW4huVjJDOd_Tax4US WordPress Posts Workflow Ultra-Optimized v2 - Fixed.json
{
  "createdAt": "2025-09-05T04:43:20.667Z",
  "updatedAt": "2025-09-05T04:43:20.667Z",
  "id": "Xm9O0MW4huVjJDOd",
  "name": "Tax4US WordPress Posts Workflow (Ultra-Optimized v2 - Fixed)",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "id": "airtable-trigger",
      "name": "Airtable: Monitor Content_Specs",
      "type": "n8n-nodes-base.airtableTrigger",
      "typeVersion": 1,
      "position": [
        112,
        576
      ],
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "authentication": "airtableTokenApi",
        "baseId": {
          "__rl": true,
          "value": "appkZD1ew4aKoBqDM",
          "mode": "id"
        },
        "tableId": {
          "__rl": true,
          "value": "tbloWUmXIuBQXa1YQ",
          "mode": "id"
        },
        "triggerField": "Status",
        "additionalFields": {}
      },
      "credentials": {
        "airtableTokenApi": "[object Object]"
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "smart-prefilter",
      "name": "Code: Smart Prefilter with Caching",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        336,
        576
      ],
      "parameters": {
        "jsCode": "const execId = `exec_${Date.now()}_${Math.random().toString(36).substr(2, 9)}`;const data = $input.item.json;const title = data.fields['Title EN'] || data.fields['Title HE'] || '';const outline = data.fields['Outline'] || '';const postType = data.fields['Type'] || '';const status = data.fields['Status'] || '';const language = data.fields['Language'] || 'en';const keywords = data.fields['Keywords'] || '';const chapters = data.fields['Chapters'] || 4;const wordCount = data.fields['Word Count'] || 1500;const slugRaw = data.fields['Slug EN'] || data.fields['Slug HE'] || title;const slug = (slugRaw || '').toLowerCase().replace(/[^a-z0-9]+/g, '-').replace(/^-+|-+$/g, '');// Smart validation with caching logicconst tooShort = outline.trim().length < 100 || title.trim().length < 10;const missingType = !postType || postType === '';const notApproved = status !== 'Approved';const notPostType = postType !== 'post' && postType !== 'blog' && postType !== 'article' && postType !== 'service' && postTy"
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "should-process",
      "name": "IF: Should Process Post?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        560,
        576
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "check",
              "leftValue": "={{ $json.shouldProcess }}",
              "rightValue": "={{ true }}",
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "parallel-split",
      "name": "Split: Parallel Processing",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        784,
        480
      ],
      "parameters": {
        "options": {}
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "content-generation",
      "name": "Claude: Generate Content Structure",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1008,
        384
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "anthropicApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "={{ $json.selectedModel }}"
            },
            {
              "name": "max_tokens",
              "value": 4000
            },
            {
              "name": "messages",
              "value": "={{ [{\"role\": \"user\", \"content\": \"Create a comprehensive article structure for: \" + $json.outline + \". Include title, introduction, chapters with content, and conclusions. Format as JSON with title, subtitle, introduction, chapters array, conclusions, and imagePrompt fields.\"}] }}"
            }
          ]
        },
        "options": {}
      },
      "credentials": {
        "anthropicApi": "[object Object]"
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "image-generation",
      "name": "OpenAI: Generate Featured Image",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        1008,
        576
      ],
      "parameters": {
        "resource": "image",
        "prompt": "={{ $json.outline + \" professional business office setting with tax documents and calculator, modern corporate style\" }}",
        "options": {
          "size": "1024x1024"
        },
        "requestOptions": {}
      },
      "credentials": {
        "openAiApi": "[object Object]"
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "merge-parallel",
      "name": "Merge: Combine Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        1232,
        480
      ],
      "parameters": {
        "mode": "combine",
        "mergeByFields": {
          "values": [
            {}
          ]
        },
        "options": {}
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "ai-validation",
      "name": "Claude: Content Quality Validation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1456,
        480
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "anthropicApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "claude-3-5-sonnet-20241022"
            },
            {
              "name": "max_tokens",
              "value": 1000
            },
            {
              "name": "messages",
              "value": "={{ [{\"role\": \"user\", \"content\": \"Rate the quality of this content structure (1-10) and provide SEO optimization suggestions: \" + JSON.stringify($json.content)}] }}"
            }
          ]
        },
        "options": {}
      },
      "credentials": {
        "anthropicApi": {
          "id": null,
          "name": "[object Object]"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "wordpress-publish",
      "name": "HTTP: Create WordPress Post",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1680,
        480
      ],
      "parameters": {
        "method": "POST",
        "url": "https://tax4us.co.il/wp-json/wp/v2/posts",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-WP-Polylang-Lang",
              "value": "={{ $json.language }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "title",
              "value": "={{ $json.content.title }}"
            },
            {
              "name": "content",
              "value": "={{ $json.content.content }}"
            },
            {
              "name": "slug",
              "value": "={{ $json.slug }}"
            },
            {
              "name": "status",
              "value": "draft"
            }
          ]
        },
        "options": {}
      },
      "credentials": {
        "wordpressApi": "[object Object]"
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "final-validation",
      "name": "Code: Final Validation & Logging",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1904,
        480
      ],
      "parameters": {
        "jsCode": "const data = $input.item.json;const validations = {  contentGenerated: !!data.content,  imageGenerated: !!data.image,  postCreated: !!data.postId,  validationPassed: data.qualityScore > 7};const allValid = Object.values(validations).every(Boolean);const summary = {  success: allValid,  execId: data.execId,  postId: data.postId,  qualityScore: data.qualityScore,  costEstimate: data.costEstimate,  executionTime: Date.now() - parseInt(data.execId.split('_')[1]),  validations,  timestamp: new Date().toISOString()};return { json: { ...data, ...summary } };"
      },
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Airtable: Monitor Content_Specs": {
      "main": [
        [
          {
            "node": "Code: Smart Prefilter with Caching",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Smart Prefilter with Caching": {
      "main": [
        [
          {
            "node": "IF: Should Process Post?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: Should Process Post?": {
      "main": [
        [
          {
            "node": "Split: Parallel Processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split: Parallel Processing": {
      "main": [
        [
          {
            "node": "Claude: Generate Content Structure",
            "type": "main",
            "index": 0
          },
          {
            "node": "OpenAI: Generate Featured Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude: Generate Content Structure": {
      "main": [
        [
          {
            "node": "Merge: Combine Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI: Generate Featured Image": {
      "main": [
        [
          {
            "node": "Merge: Combine Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge: Combine Results": {
      "main": [
        [
          {
            "node": "Claude: Content Quality Validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude: Content Quality Validation": {
      "main": [
        [
          {
            "node": "HTTP: Create WordPress Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Create WordPress Post": {
      "main": [
        [
          {
            "node": "Code: Final Validation & Logging",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": false,
    "timezone": "America/New_York",
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "3d56a951-a52e-4e32-b505-d4af3ae95b3e",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-09-05T04:43:20.669Z",
      "updatedAt": "2025-09-05T04:43:20.669Z",
      "role": "workflow:owner",
      "workflowId": "Xm9O0MW4huVjJDOd",
      "projectId": "Rs5Pee22xfDdJV5k",
      "project": {
        "createdAt": "2025-08-05T21:39:55.834Z",
        "updatedAt": "2025-08-05T21:39:58.285Z",
        "id": "Rs5Pee22xfDdJV5k",
        "name": "Tax4US LLC <info@tax4us.co.il>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "createdAt": "2025-08-05T21:39:55.834Z",
            "updatedAt": "2025-08-05T21:39:55.834Z",
            "userId": "7b60f61d-7d1d-4980-ad53-b9c952e613a1",
            "projectId": "Rs5Pee22xfDdJV5k",
            "user": {
              "createdAt": "2025-08-05T21:39:54.392Z",
              "updatedAt": "2025-10-08T17:49:15.000Z",
              "id": "7b60f61d-7d1d-4980-ad53-b9c952e613a1",
              "email": "info@tax4us.co.il",
              "firstName": "Tax4US",
              "lastName": "LLC",
              "personalizationAnswers": null,
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "mMqcQdZH16A9OQ2I",
                "userActivatedAt": 1754437746263,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1756111474246
                },
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-10-08",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}