workflows/n8n-references/02-rensto-n8n-references/workflows/production-ready-webhook-security-workflow.json
{
  "name": "Production-Ready Webhook Security & Validation Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "secure-webhook",
        "responseMode": "responseNode",
        "options": {
          "noResponseBody": false
        }
      },
      "id": "webhook-trigger",
      "name": "Webhook - Secure Entry Point",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "secure-webhook"
    },
    {
      "parameters": {
        "functionCode": "// Production-ready HMAC signature validation\nconst crypto = require('crypto');\n\n// Get the raw body and signature from headers\nconst rawBody = JSON.stringify($input.first().json);\nconst receivedSignature = $input.first().json.headers['x-signature'];\nconst timestamp = $input.first().json.headers['x-timestamp'];\n\n// Validate timestamp (prevent replay attacks)\nconst currentTime = Math.floor(Date.now() / 1000);\nconst requestTime = parseInt(timestamp);\nconst timeDiff = Math.abs(currentTime - requestTime);\n\nif (timeDiff > 300) { // 5 minutes tolerance\n  throw new Error('Request timestamp too old. Possible replay attack.');\n}\n\n// Create expected signature\nconst secret = 'your-webhook-secret-key'; // Should be from environment\nconst expectedSignature = crypto\n  .createHmac('sha256', secret)\n  .update(timestamp + rawBody)\n  .digest('hex');\n\n// Compare signatures\nconst isValid = crypto.timingSafeEqual(\n  Buffer.from(receivedSignature, 'hex'),\n  Buffer.from(expectedSignature, 'hex')\n);\n\nif (!isValid) {\n  throw new Error('Invalid HMAC signature. Request rejected.');\n}\n\n// Log successful validation\nconsole.log('✅ HMAC validation successful');\n\nreturn {\n  json: {\n    ...$input.first().json,\n    validation: {\n      hmacValid: true,\n      timestamp: requestTime,\n      timeDiff: timeDiff\n    }\n  }\n};"
      },
      "id": "hmac-validation",
      "name": "HMAC Signature Validation",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "functionCode": "// Comprehensive payload validation\nconst payload = $input.first().json.body;\n\n// Required fields validation\nconst requiredFields = ['event_type', 'data', 'timestamp', 'source'];\nconst missingFields = requiredFields.filter(field => !payload[field]);\n\nif (missingFields.length > 0) {\n  throw new Error(`Missing required fields: ${missingFields.join(', ')}`);\n}\n\n// Event type validation\nconst validEventTypes = ['user.created', 'user.updated', 'user.deleted', 'payment.completed', 'payment.failed'];\nif (!validEventTypes.includes(payload.event_type)) {\n  throw new Error(`Invalid event type: ${payload.event_type}`);\n}\n\n// Data structure validation\nif (!payload.data || typeof payload.data !== 'object') {\n  throw new Error('Data field must be an object');\n}\n\n// Email validation if present\nif (payload.data.email) {\n  const emailRegex = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/;\n  if (!emailRegex.test(payload.data.email)) {\n    throw new Error('Invalid email format');\n  }\n}\n\n// Log validation success\nconsole.log('✅ Payload validation successful');\n\nreturn {\n  json: {\n    ...$input.first().json,\n    validation: {\n      ...$input.first().json.validation,\n      payloadValid: true,\n      eventType: payload.event_type,\n      dataIntegrity: true\n    },\n    payload: payload\n  }\n};"
      },
      "id": "payload-validation",
      "name": "Payload Structure Validation",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "functionCode": "// Production-ready comprehensive logging\nconst logEntry = {\n  timestamp: new Date().toISOString(),\n  workflowId: 'webhook-security-validation',\n  executionId: $execution.id,\n  eventType: $input.first().json.payload.event_type,\n  source: $input.first().json.payload.source,\n  validation: $input.first().json.validation,\n  payload: {\n    size: JSON.stringify($input.first().json.payload).length,\n    hasEmail: !!$input.first().json.payload.data?.email,\n    hasUserId: !!$input.first().json.payload.data?.user_id\n  },\n  performance: {\n    startTime: $execution.startedAt,\n    currentTime: new Date().toISOString(),\n    duration: Date.now() - new Date($execution.startedAt).getTime()\n  },\n  environment: 'production',\n  version: '1.0.0'\n};\n\n// Log to console (in production, this would go to structured logging system)\nconsole.log('📊 COMPREHENSIVE LOG ENTRY:', JSON.stringify(logEntry, null, 2));\n\n// Store in execution data for database logging\nreturn {\n  json: {\n    ...$input.first().json,\n    logEntry: logEntry\n  }\n};"
      },
      "id": "comprehensive-logging",
      "name": "Comprehensive Logging",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": "public",
        "table": "webhook_executions",
        "columns": "timestamp, workflow_id, execution_id, event_type, source, validation_data, payload_data, performance_data, environment, version",
        "values": "={{ $json.logEntry.timestamp }}, '{{ $json.logEntry.workflowId }}', '{{ $json.logEntry.executionId }}', '{{ $json.logEntry.eventType }}', '{{ $json.logEntry.source }}', '{{ JSON.stringify($json.logEntry.validation) }}', '{{ JSON.stringify($json.logEntry.payload) }}', '{{ JSON.stringify($json.logEntry.performance) }}', '{{ $json.logEntry.environment }}', '{{ $json.logEntry.version }}'"
      },
      "id": "database-logging",
      "name": "Database Logging",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "functionCode": "// Production-ready error handling with recovery strategies\nconst error = $input.first().json.error || $input.first().json;\n\n// Categorize error type\nlet errorCategory = 'unknown';\nlet recoveryStrategy = 'none';\nlet retryable = false;\n\nif (error.message?.includes('HMAC')) {\n  errorCategory = 'authentication';\n  recoveryStrategy = 'reject_request';\n  retryable = false;\n} else if (error.message?.includes('timestamp')) {\n  errorCategory = 'replay_attack';\n  recoveryStrategy = 'reject_request';\n  retryable = false;\n} else if (error.message?.includes('validation')) {\n  errorCategory = 'data_validation';\n  recoveryStrategy = 'return_error_response';\n  retryable = false;\n} else if (error.message?.includes('database')) {\n  errorCategory = 'database_error';\n  recoveryStrategy = 'retry_with_backoff';\n  retryable = true;\n} else if (error.message?.includes('timeout')) {\n  errorCategory = 'timeout';\n  recoveryStrategy = 'retry_with_backoff';\n  retryable = true;\n}\n\n// Create error log entry\nconst errorLog = {\n  timestamp: new Date().toISOString(),\n  workflowId: 'webhook-security-validation',\n  executionId: $execution.id,\n  errorCategory: errorCategory,\n  errorMessage: error.message,\n  errorStack: error.stack,\n  recoveryStrategy: recoveryStrategy,\n  retryable: retryable,\n  environment: 'production'\n};\n\nconsole.log('❌ ERROR HANDLED:', JSON.stringify(errorLog, null, 2));\n\nreturn {\n  json: {\n    error: error,\n    errorLog: errorLog,\n    recoveryStrategy: recoveryStrategy,\n    retryable: retryable\n  }\n};"
      },
      "id": "error-handling",
      "name": "Error Handling & Recovery",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [900, 500]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"success\", \"message\": \"Webhook processed successfully\", \"executionId\": $json.logEntry.executionId, \"timestamp\": $json.logEntry.timestamp, \"validation\": $json.validation } }}",
        "responseCode": 200
      },
      "id": "success-response",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1340, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"error\", \"message\": $json.error.message, \"errorCategory\": $json.errorLog.errorCategory, \"executionId\": $execution.id, \"timestamp\": $json.errorLog.timestamp } }}",
        "responseCode": 400
      },
      "id": "error-response",
      "name": "Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1340, 400]
    }
  ],
  "connections": {
    "Webhook - Secure Entry Point": {
      "main": [
        [
          {
            "node": "HMAC Signature Validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HMAC Signature Validation": {
      "main": [
        [
          {
            "node": "Payload Structure Validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Payload Structure Validation": {
      "main": [
        [
          {
            "node": "Comprehensive Logging",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Comprehensive Logging": {
      "main": [
        [
          {
            "node": "Database Logging",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Database Logging": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-01-22T06:51:17.145Z",
      "updatedAt": "2025-01-22T06:51:17.145Z",
      "id": "production-ready",
      "name": "Production-Ready"
    },
    {
      "createdAt": "2025-01-22T06:51:17.145Z",
      "updatedAt": "2025-01-22T06:51:17.145Z",
      "id": "webhook-security",
      "name": "Webhook Security"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-01-22T06:51:17.145Z",
  "versionId": "1"
}
