docs/n8n/celebrity_selfie_workflow_FIXED.json
{
    "name": "🎬 Celebrity Selfie Movie Sets Generator",
    "nodes": [
        {
            "parameters": {
                "content": "## 🎬 Celebrity Selfie Movie Sets Generator\n\n**✅ SEAMLESS TRANSITIONS WITH VEO 3.1!**\n\n**How to use:**\n1. Upload your photo directly\n2. Choose generation mode (AI, Custom, Presets)\n3. Submit and wait ~5-10 min per scene\n4. Get ONE merged video with seamless transitions!\n\n**Models (Kie.ai):**\n- Nano Banana Pro (images)\n- Veo 3.1 First-Last Frame (seamless transitions)\n\n**Photo Hosting:** ImgBB (free)\n\n**Video Generation:**\nUses Veo 3.1 FIRST_AND_LAST_FRAMES_2_VIDEO mode\nfor seamless walking transitions between movie sets!\n\n**Auto-Merge:**\n- FFmpeg API on RackNerd VPS\n- All transitions merged automatically\n- Single download link!\n\n**Note:** Merged video URL active for 1 hour.",
                "height": 720
            },
            "id": "1f149167-b73b-4bb9-82a7-58b4c01f96ae",
            "name": "Instructions",
            "type": "n8n-nodes-base.stickyNote",
            "typeVersion": 1,
            "position": [
                23232,
                15152
            ]
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "user_photo",
                            "name": "user_photo_path",
                            "type": "string",
                            "value": "={{ $json.user_photo_path }}"
                        },
                        {
                            "id": "user_name",
                            "name": "user_name",
                            "type": "string",
                            "value": "={{ $json['Your Name'] || 'Friend' }}"
                        },
                        {
                            "id": "generation_mode",
                            "name": "generation_mode",
                            "type": "string",
                            "value": "={{ $json['Generation Mode'] }}"
                        },
                        {
                            "id": "num_scenes",
                            "name": "num_scenes",
                            "type": "number",
                            "value": "={{ parseInt($json['Number of Scenes']) || 5 }}"
                        },
                        {
                            "id": "ai_prompt",
                            "name": "ai_prompt",
                            "type": "string",
                            "value": "={{ $json['🧠 AI Mode: Describe Your Dream Scenes'] || '' }}"
                        },
                        {
                            "id": "custom_scenes",
                            "name": "custom_scenes",
                            "type": "string",
                            "value": "={{ $json['✍️ Custom Mode: Scene Details (one per line)'] || '' }}"
                        },
                        {
                            "id": "preset_collection",
                            "name": "preset_collection",
                            "type": "string",
                            "value": "={{ $json['🎯 Preset Collection'] || '' }}"
                        },
                        {
                            "id": "aspect_ratio",
                            "name": "aspect_ratio",
                            "type": "string",
                            "value": "={{ $json['Video Aspect Ratio'].split(' ')[0] }}"
                        },
                        {
                            "id": "visual_style",
                            "name": "visual_style",
                            "type": "string",
                            "value": "={{ $json['Visual Style'] || 'Ultra-realistic (default)' }}"
                        },
                        {
                            "id": "user_photo_url",
                            "name": "user_photo_url",
                            "type": "string",
                            "value": "={{ $json.user_photo_url }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "d7bb080f-9d94-4493-8b70-a7a2da74363d",
            "name": "Set Configuration1",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                23808,
                16336
            ]
        },
        {
            "parameters": {
                "jsCode": "const config = $('Set Configuration1').first().json;\nconst mode = config.generation_mode || '';\nconst numScenes = config.num_scenes || 5;\nconst customScenes = config.custom_scenes || '';\nconst presetCollection = config.preset_collection || '';\nconst aiPrompt = config.ai_prompt || '';\n\n// PRESET COLLECTIONS\nconst presets = {\n  '80s Action Legends': [\n    { celebrity: 'Arnold Schwarzenegger as the T-800', movie: 'Terminator 2', costume: 'black leather biker jacket, battle damage showing chrome', location: 'the industrial steel mill with molten sparks', gesture: 'thumbs-up', era: '1991 sci-fi action' },\n    { celebrity: 'Sylvester Stallone as Rocky Balboa', movie: 'Rocky IV', costume: 'boxing shorts and gloves, sweaty', location: 'the boxing ring in Moscow', gesture: 'fist pump', era: '1985 sports drama' },\n    { celebrity: 'Bruce Willis as John McClane', movie: 'Die Hard', costume: 'dirty white tank top, barefoot', location: 'the Nakatomi Plaza lobby with shattered glass', gesture: 'smirking', era: '1988 action thriller' },\n    { celebrity: 'Harrison Ford as Indiana Jones', movie: 'Raiders of the Lost Ark', costume: 'iconic fedora hat, leather jacket, whip', location: 'ancient temple with golden idol', gesture: 'tipping hat', era: '1981 adventure' }\n  ],\n  '90s Blockbusters': [\n    { celebrity: 'Leonardo DiCaprio as Jack Dawson', movie: 'Titanic', costume: 'suspenders, white shirt', location: 'the bow of the Titanic ship', gesture: 'arms spread wide', era: '1997 romance drama' },\n    { celebrity: 'Keanu Reeves as Neo', movie: 'The Matrix', costume: 'long black trench coat, sunglasses', location: 'the lobby with marble columns', gesture: 'come here hand motion', era: '1999 cyberpunk' },\n    { celebrity: 'Tom Hanks as Forrest Gump', movie: 'Forrest Gump', costume: 'checkered shirt, khaki pants', location: 'park bench with box of chocolates', gesture: 'friendly wave', era: '1994 drama' },\n    { celebrity: 'Will Smith as Agent J', movie: 'Men in Black', costume: 'black suit, sunglasses, neuralyzer', location: 'MIB headquarters with alien screens', gesture: 'pointing neuralyzer', era: '1997 sci-fi comedy' }\n  ],\n  'Marvel Cinematic Universe Heroes': [\n    { celebrity: 'Robert Downey Jr. as Tony Stark/Iron Man', movie: 'The Avengers', costume: 'Iron Man Mark VII armor, faceplate up', location: 'Stark Tower with New York skyline', gesture: 'peace sign', era: '2012 superhero' },\n    { celebrity: 'Chris Evans as Steve Rogers/Captain America', movie: 'Avengers: Endgame', costume: 'classic Cap suit with shield', location: 'Avengers compound', gesture: 'salute', era: '2019 superhero' },\n    { celebrity: 'Scarlett Johansson as Natasha Romanoff/Black Widow', movie: 'Black Widow', costume: 'white tactical suit', location: 'Red Room training facility', gesture: 'confident stance', era: '2021 action' },\n    { celebrity: 'Chris Hemsworth as Thor', movie: 'Thor: Ragnarok', costume: 'gladiator armor, short hair', location: 'Sakaar arena with neon lights', gesture: 'hammer raised', era: '2017 sci-fi comedy' }\n  ],\n  'Star Wars Saga Characters': [\n    { celebrity: 'Harrison Ford as Han Solo', movie: 'Star Wars: A New Hope', costume: 'white shirt, black vest, blaster holster', location: 'Millennium Falcon cockpit', gesture: 'cocky grin', era: '1977 space opera' },\n    { celebrity: 'Carrie Fisher as Princess Leia', movie: 'Star Wars: A New Hope', costume: 'iconic white gown, hair buns', location: 'Death Star detention block', gesture: 'crossed arms', era: '1977 space opera' },\n    { celebrity: 'Mark Hamill as Luke Skywalker', movie: 'Return of the Jedi', costume: 'black Jedi robes', location: 'Endor forest with Ewoks', gesture: 'lightsaber pose', era: '1983 space opera' },\n    { celebrity: 'Daisy Ridley as Rey', movie: 'The Force Awakens', costume: 'desert scavenger outfit, staff', location: 'Jakku desert with fallen Star Destroyer', gesture: 'determined look', era: '2015 space opera' }\n  ]\n};\n\nfunction parseCustomScenes(customText) {\n  if (!customText || !customText.trim()) return [];\n  const lines = customText.split('\\n').filter(line => line.trim() && line.includes('|'));\n  return lines.map((line, index) => {\n    const parts = line.split('|').map(p => p.trim());\n    return {\n      scene_id: index + 1,\n      celebrity: parts[0] || 'Celebrity',\n      movie: parts[1] || 'Movie',\n      era: parts[2] || 'Unknown era',\n      location: parts[3] || 'iconic movie set',\n      costume: parts[4] || 'their iconic costume',\n      gesture: parts[5] || 'friendly pose'\n    };\n  });\n}\n\nlet scenes = [];\n\nif (mode.includes('Custom')) {\n  scenes = parseCustomScenes(customScenes);\n} else if (mode.includes('Presets')) {\n  for (const [key, value] of Object.entries(presets)) {\n    if (presetCollection.includes(key) || key.includes(presetCollection.split('(')[0].trim())) {\n      scenes = value.map((s, i) => ({ ...s, scene_id: i + 1 }));\n      break;\n    }\n  }\n  if (scenes.length === 0) {\n    scenes = presets['80s Action Legends'].map((s, i) => ({ ...s, scene_id: i + 1 }));\n  }\n} else {\n  const prompt = (aiPrompt || '').toLowerCase();\n  if (prompt.includes('80s') || prompt.includes('action')) {\n    scenes = presets['80s Action Legends'];\n  } else if (prompt.includes('marvel') || prompt.includes('superhero')) {\n    scenes = presets['Marvel Cinematic Universe Heroes'];\n  } else if (prompt.includes('star wars') || prompt.includes('jedi')) {\n    scenes = presets['Star Wars Saga Characters'];\n  } else {\n    scenes = presets['90s Blockbusters'];\n  }\n  scenes = scenes.map((s, i) => ({ ...s, scene_id: i + 1 }));\n}\n\nscenes = scenes.slice(0, numScenes);\nscenes = scenes.map((s, i) => ({ ...s, scene_id: i + 1 }));\n\nconsole.log('Generated ' + scenes.length + ' scenes');\n\nreturn scenes.map(scene => ({ json: scene }));"
            },
            "id": "d4ebcd32-1f21-435d-9758-f892cee8b999",
            "name": "Movie Scenes Data1",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                24032,
                16336
            ]
        },
        {
            "parameters": {
                "options": {}
            },
            "id": "58e992df-6b95-4b35-9aba-0e310eb3e0c4",
            "name": "Loop Over Scenes1",
            "type": "n8n-nodes-base.splitInBatches",
            "typeVersion": 3,
            "position": [
                24256,
                16336
            ]
        },
        {
            "parameters": {
                "mode": "runOnceForEachItem",
                "jsCode": "const scene = $input.item.json;\nconst config = $('Set Configuration1').first().json;\nconst userPhotoUrl = config.user_photo_url || '';\nconst aspectRatio = config.aspect_ratio || '9:16';\nconst visualStyle = config.visual_style || 'Ultra-realistic (default)';\n\nconst styleModifiers = {\n  'Ultra-realistic (default)': 'High-resolution photorealistic style, natural lighting, shallow depth of field, realistic skin tones.',\n  'Cinematic film look': 'Cinematic film grain, dramatic lighting, anamorphic lens flare, movie poster quality.',\n  'Vintage retro style': 'VHS aesthetic, warm color grading, nostalgic vintage photography style.',\n  'Modern Instagram aesthetic': 'Instagram filtered look, vibrant colors, polished.'\n};\n\nconst styleText = styleModifiers[visualStyle] || styleModifiers['Ultra-realistic (default)'];\n\n// First frame prompt for this scene (Easy-Peasy.AI template)\nconst masterPrompt = `Ultra-realistic selfie captured strictly from a front-phone-camera perspective, with the framing and angle matching a real handheld selfie. The mobile phone itself is never visible, but the posture and composition clearly imply that I am holding it just outside the frame at arm's length. The angle remains consistent with a true selfie: slightly wide field of view, eye-level orientation, and natural arm-extension distance. The person taking the selfie looks exactly like the reference image provided. I am standing next to ${scene.celebrity}, who appears with the exact age, facial features, and look they had in '${scene.movie}'. ${scene.celebrity} is wearing ${scene.costume}. The background shows the authentic film set from '${scene.movie}', specifically ${scene.location}, including recognizable scenery, props, lighting setup, and atmosphere that match the ${scene.era}. Subtle blurred crew members and equipment may appear far behind to suggest a scene break. We both look relaxed and naturally posing between takes, with ${scene.celebrity} giving a casual ${scene.gesture}. The shot preserves a candid and natural vibe, with accurate selfie-camera distortion, cinematic lighting, shallow depth of field, and realistic skin tones. ${styleText} No phone visible in photo.`;\n\nreturn {\n  json: {\n    ...scene,\n    user_photo_url: userPhotoUrl,\n    image_prompt: masterPrompt,\n    aspect_ratio: aspectRatio,\n    image_aspect_ratio: aspectRatio,\n    visual_style: visualStyle\n  }\n};"
            },
            "id": "5652abc4-85d9-4914-95ae-d4b6c8f47485",
            "name": "Generate Image Prompt1",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                24480,
                16064
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "=https://api.imgbb.com/1/upload?key=099b332802a42e7703e7104bb6b2b2a5",
                "sendBody": true,
                "contentType": "multipart-form-data",
                "bodyParameters": {
                    "parameters": [
                        {
                            "parameterType": "formBinaryData",
                            "name": "image",
                            "inputDataFieldName": "={{ Object.keys($binary)[0] }}"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                23360,
                16336
            ],
            "id": "3884c5a8-aba0-424a-93d3-d909731308ba",
            "name": "Upload to ImgBB1",
            "onError": "continueRegularOutput"
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "img_url",
                            "name": "image_url",
                            "type": "string",
                            "value": "={{ $json.image_url }}"
                        },
                        {
                            "id": "scene_id",
                            "name": "scene_id",
                            "type": "number",
                            "value": "={{ $('Generate Image Prompt1').item.json.scene_id }}"
                        },
                        {
                            "id": "movie",
                            "name": "movie",
                            "type": "string",
                            "value": "={{ $('Generate Image Prompt1').item.json.movie }}"
                        },
                        {
                            "id": "location",
                            "name": "location",
                            "type": "string",
                            "value": "={{ $('Generate Image Prompt1').item.json.location }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "04fe3908-8b0d-4f43-b17c-041c15c7f6f9",
            "name": "Store Image URL1",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                25824,
                15808
            ]
        },
        {
            "parameters": {},
            "id": "back-to-image-loop",
            "name": "Back to Image Loop",
            "type": "n8n-nodes-base.noOp",
            "typeVersion": 1,
            "position": [
                26048,
                15808
            ]
        },
        {
            "parameters": {
                "aggregate": "aggregateAllItemData",
                "options": {}
            },
            "id": "4578ddd8-3831-4e1c-a763-0a43d37f3be8",
            "name": "Aggregate All Images",
            "type": "n8n-nodes-base.aggregate",
            "typeVersion": 1,
            "position": [
                24480,
                16336
            ]
        },
        {
            "parameters": {
                "jsCode": "// Create image pairs for Veo 3.1 FIRST_AND_LAST_FRAMES_2_VIDEO mode\nconst allData = $input.first().json.data || [];\nconst validImages = allData.filter(item => item.image_url && item.image_url.startsWith('http'));\n\nconsole.log('Total images collected: ' + validImages.length);\n\nif (validImages.length < 2) {\n  throw new Error('Need at least 2 images to create seamless transitions! Got: ' + validImages.length);\n}\n\n// Sort by scene_id to ensure correct order\nvalidImages.sort((a, b) => (a.scene_id || 0) - (b.scene_id || 0));\n\n// Create pairs for seamless transitions:\n// Pair 1: Scene 1 image → Scene 2 image (walking from set 1 to set 2)\n// Pair 2: Scene 2 image → Scene 3 image (walking from set 2 to set 3)\n// etc.\nconst pairs = [];\nfor (let i = 0; i < validImages.length - 1; i++) {\n  pairs.push({\n    pair_id: i + 1,\n    first_frame_url: validImages[i].image_url,\n    last_frame_url: validImages[i + 1].image_url,\n    from_scene: validImages[i].scene_id,\n    to_scene: validImages[i + 1].scene_id,\n    from_movie: validImages[i].movie || 'Movie Set A',\n    to_movie: validImages[i + 1].movie || 'Movie Set B',\n    from_location: validImages[i].location || 'location A',\n    to_location: validImages[i + 1].location || 'location B'\n  });\n}\n\nconsole.log('Created ' + pairs.length + ' image pairs for Veo 3.1 transitions');\nconsole.log('Example pair:', JSON.stringify(pairs[0], null, 2));\n\nreturn pairs.map(p => ({ json: p }));"
            },
            "id": "pair-images-node",
            "name": "Pair Images for Transitions",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                24704,
                16336
            ]
        },
        {
            "parameters": {
                "options": {}
            },
            "id": "loop-over-pairs",
            "name": "Loop Over Image Pairs",
            "type": "n8n-nodes-base.splitInBatches",
            "typeVersion": 3,
            "position": [
                24928,
                16336
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.kie.ai/api/v1/veo/generate",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({ prompt: 'Selfie POV. A man walks forward from one movie set to another. Smooth cinematic transition, natural movement.', imageUrls: [$json.first_frame_url, $json.last_frame_url], model: 'veo3_fast', generationType: 'FIRST_AND_LAST_FRAMES_2_VIDEO', aspectRatio: $('Set Configuration1').first().json.aspect_ratio || '9:16' }) }}",
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                25376,
                16336
            ],
            "id": "create-transition-video",
            "name": "Create Transition Video (Veo 3.1)",
            "credentials": {
                "httpHeaderAuth": {
                    "id": "kRI7Q7bdV9tEVPNp",
                    "name": "Kie.ai"
                }
            },
            "onError": "continueRegularOutput"
        },
        {
            "parameters": {
                "url": "=https://api.kie.ai/api/v1/veo/record-info?taskId={{ $json.data.taskId }}",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                25600,
                16336
            ],
            "id": "poll-video-status",
            "name": "Poll Video Status (Veo 3.1)",
            "credentials": {
                "httpHeaderAuth": {
                    "id": "kRI7Q7bdV9tEVPNp",
                    "name": "Kie.ai"
                }
            },
            "onError": "continueRegularOutput"
        },
        {
            "parameters": {
                "mode": "runOnceForEachItem",
                "jsCode": "// Check Veo 3.1 Video Generation Status\n// API: /api/v1/veo/record-info\n// successFlag: 0=generating, 1=success, 2=failed, 3=generation failed\n\nconst videoData = $input.item.json;\nconst pairData = $('Loop Over Image Pairs').first().json;\nconst MAX_RETRIES = 120; // 120 * 3s = 6 minutes max\nconst retryCount = videoData.retryCount || 0;\n\nconsole.log(`Veo 3.1 polling attempt: ${retryCount + 1}/${MAX_RETRIES}`);\nconsole.log(`Pair ${pairData.pair_id}: ${pairData.from_movie} → ${pairData.to_movie}`);\n\nif (retryCount >= MAX_RETRIES) {\n  console.log('⚠️ Max retries reached, video generation timeout');\n  return { \n    json: { \n      videoReady: true,\n      video_url: null,\n      status: 'timeout',\n      reason: 'Video generation timeout after 6 minutes',\n      pair_id: pairData.pair_id\n    } \n  };\n}\n\nconst successFlag = videoData.data?.successFlag;\nconst code = videoData.code;\nconst response = videoData.data?.response;\n\nconsole.log(`API Code: ${code}, successFlag: ${successFlag}`);\n\n// SUCCESS (successFlag = 1)\nif (successFlag === 1) {\n  console.log('✅ Veo 3.1 video generation complete!');\n  \n  const resultUrls = response?.resultUrls || [];\n  const videoUrl = resultUrls[0] || null;\n  \n  console.log('Video URL:', videoUrl);\n  \n  return { \n    json: { \n      videoReady: true,\n      video_url: videoUrl,\n      status: 'success',\n      pair_id: pairData.pair_id,\n      from_movie: pairData.from_movie,\n      to_movie: pairData.to_movie\n    } \n  };\n}\n\n// FAILED (successFlag = 2 or 3)\nif (successFlag === 2 || successFlag === 3) {\n  console.log('❌ Veo 3.1 video generation failed');\n  const errorMsg = videoData.data?.errorMessage || 'Unknown error';\n  return { \n    json: { \n      videoReady: true,\n      video_url: null,\n      status: 'failed',\n      reason: errorMsg,\n      pair_id: pairData.pair_id\n    } \n  };\n}\n\n// API Error\nif (code && code !== 200) {\n  console.log('❌ API error: code ' + code);\n  return { \n    json: { \n      videoReady: true,\n      video_url: null,\n      status: 'api_error',\n      reason: videoData.msg || 'Unknown API error',\n      pair_id: pairData.pair_id\n    } \n  };\n}\n\n// STILL GENERATING (successFlag = 0 or undefined)\nconsole.log('⏳ Video still generating, will retry...');\nreturn { \n  json: { \n    ...videoData,\n    videoReady: false,\n    continuePolling: true,\n    retryCount: retryCount + 1,\n    pair_id: pairData.pair_id\n  } \n};"
            },
            "id": "check-video-status",
            "name": "Check Video Status (Veo 3.1)",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                25824,
                16336
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "version": 2,
                        "leftValue": "",
                        "caseSensitive": true,
                        "typeValidation": "loose"
                    },
                    "conditions": [
                        {
                            "id": "condition-video-ready",
                            "leftValue": "={{ $json.videoReady }}",
                            "rightValue": true,
                            "operator": {
                                "type": "boolean",
                                "operation": "equals"
                            }
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.2,
            "position": [
                26048,
                16336
            ],
            "id": "is-video-ready",
            "name": "Is Video Ready?"
        },
        {
            "parameters": {
                "amount": 3
            },
            "type": "n8n-nodes-base.wait",
            "typeVersion": 1.1,
            "position": [
                26272,
                16544
            ],
            "id": "wait-for-video",
            "name": "Wait For Video",
            "webhookId": "veo31-wait-video"
        },
        {
            "parameters": {
                "mode": "runOnceForEachItem",
                "jsCode": "const videoUrl = $json.video_url;\nconst pairId = $json.pair_id;\n\nif (!videoUrl || !videoUrl.startsWith('http')) {\n  console.log(`Pair ${pairId}: Invalid or missing video URL, skipping`);\n  return { json: { video_url: null, skipped: true, pair_id: pairId, reason: 'Invalid or missing video URL' } };\n}\n\nconsole.log(`Pair ${pairId}: Video ready - ${videoUrl}`);\nreturn { json: { video_url: videoUrl, skipped: false, pair_id: pairId } };"
            },
            "id": "process-video-result",
            "name": "Process Video Result",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                26272,
                16240
            ]
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "vid_url",
                            "name": "video_url",
                            "type": "string",
                            "value": "={{ $json.video_url }}"
                        },
                        {
                            "id": "pair_id",
                            "name": "pair_id",
                            "type": "number",
                            "value": "={{ $json.pair_id }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "store-video-result",
            "name": "Store Video Result",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                26496,
                16240
            ]
        },
        {
            "parameters": {},
            "id": "back-to-video-loop",
            "name": "Back to Video Loop",
            "type": "n8n-nodes-base.noOp",
            "typeVersion": 1,
            "position": [
                26720,
                16240
            ]
        },
        {
            "parameters": {
                "aggregate": "aggregateAllItemData",
                "options": {}
            },
            "id": "aggregate-all-videos",
            "name": "Aggregate All Videos",
            "type": "n8n-nodes-base.aggregate",
            "typeVersion": 1,
            "position": [
                25152,
                16528
            ]
        },
        {
            "parameters": {
                "jsCode": "const allData = $input.first().json.data || [];\nconst videoUrls = allData\n  .sort((a, b) => (a.pair_id || 0) - (b.pair_id || 0))\n  .map(item => item.video_url)\n  .filter(url => url && typeof url === 'string' && url.startsWith('http'));\n\nconst skippedCount = allData.filter(item => item.skipped === true).length;\n\nconsole.log('Total videos ready: ' + videoUrls.length);\nconsole.log('Skipped: ' + skippedCount);\n\nreturn [{\n  json: {\n    video_urls: videoUrls,\n    count: videoUrls.length,\n    skipped_count: skippedCount,\n    total_transitions: allData.length\n  }\n}];"
            },
            "id": "prepare-video-urls",
            "name": "Prepare Video URLs",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                25376,
                16528
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://172.245.56.50:3456/merge",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({ video_urls: $json.video_urls }) }}",
                "options": {
                    "timeout": 600000
                }
            },
            "id": "merge-videos-ffmpeg",
            "name": "Merge All Videos (FFmpeg)",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                25600,
                16528
            ]
        },
        {
            "parameters": {
                "jsCode": "const mergeResult = $input.first().json;\nconst config = $('Set Configuration1').first().json;\nconst timestamp = Date.now();\n\nif (mergeResult.success && mergeResult.video_url) {\n  const fileSizeMB = mergeResult.size_bytes ? (mergeResult.size_bytes / (1024 * 1024)).toFixed(2) : 'unknown';\n  \n  return [{\n    json: {\n      session_id: `session_${timestamp}`,\n      status: '🎬 Your Celebrity Selfie Movie is Ready!',\n      merged_video_url: mergeResult.video_url,\n      file_size_mb: parseFloat(fileSizeMB),\n      transitions_merged: mergeResult.video_count,\n      job_id: mergeResult.job_id,\n      user_name: config.user_name,\n      created_at: new Date().toISOString(),\n      instructions: 'Download your seamless movie journey now! Link expires in 1 hour.'\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    session_id: `session_${timestamp}`,\n    status: 'Merge failed',\n    error: mergeResult.error || 'Unknown merge error',\n    user_name: config.user_name,\n    created_at: new Date().toISOString()\n  }\n}];"
            },
            "id": "prepare-final-output",
            "name": "Prepare Final Output",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                25824,
                16528
            ]
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "status",
                            "name": "status",
                            "type": "string",
                            "value": "={{ $json.status }}"
                        },
                        {
                            "id": "merged_video",
                            "name": "merged_video_url",
                            "type": "string",
                            "value": "={{ $json.merged_video_url }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "final-output",
            "name": "Final Output",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                26048,
                16528
            ]
        },
        {
            "parameters": {
                "formTitle": "🎬 Celebrity Selfie Movie Sets Generator",
                "formDescription": "Create your personalized journey through movie history with SEAMLESS transitions!",
                "formFields": {
                    "values": [
                        {
                            "fieldLabel": "Your Photo",
                            "fieldType": "file",
                            "multipleFiles": false,
                            "acceptFileTypes": ".jpg,.jpeg,.png,.webp",
                            "requiredField": true
                        },
                        {
                            "fieldLabel": "Your Name",
                            "placeholder": "John"
                        },
                        {
                            "fieldLabel": "Generation Mode",
                            "fieldType": "dropdown",
                            "fieldOptions": {
                                "values": [
                                    {
                                        "option": "🧠 AI Generate (describe what you want)"
                                    },
                                    {
                                        "option": "✍️ Custom (specify each scene)"
                                    },
                                    {
                                        "option": "🎯 Presets (popular movie collections)"
                                    }
                                ]
                            },
                            "requiredField": true
                        },
                        {
                            "fieldLabel": "Number of Scenes",
                            "fieldType": "dropdown",
                            "fieldOptions": {
                                "values": [
                                    {
                                        "option": "2 scenes (1 transition)"
                                    },
                                    {
                                        "option": "3 scenes (2 transitions)"
                                    },
                                    {
                                        "option": "4 scenes (3 transitions)"
                                    },
                                    {
                                        "option": "5 scenes (4 transitions)"
                                    },
                                    {
                                        "option": "6 scenes (5 transitions)"
                                    },
                                    {
                                        "option": "8 scenes (7 transitions)"
                                    }
                                ]
                            },
                            "requiredField": true
                        },
                        {
                            "fieldLabel": "🧠 AI Mode: Describe Your Dream Scenes",
                            "fieldType": "textarea",
                            "placeholder": "Examples:\n- 5 scenes with 80s action heroes\n- Marvel superheroes from the MCU"
                        },
                        {
                            "fieldLabel": "✍️ Custom Mode: Scene Details (one per line)",
                            "fieldType": "textarea",
                            "placeholder": "Format: Celebrity | Movie | Era | Location | Costume | Gesture"
                        },
                        {
                            "fieldLabel": "🎯 Preset Collection",
                            "fieldType": "dropdown",
                            "fieldOptions": {
                                "values": [
                                    {
                                        "option": "80s Action Legends (Arnold, Stallone, Willis)"
                                    },
                                    {
                                        "option": "90s Blockbusters (Titanic, Matrix, MIB)"
                                    },
                                    {
                                        "option": "Marvel Cinematic Universe Heroes"
                                    },
                                    {
                                        "option": "Star Wars Saga Characters"
                                    }
                                ]
                            }
                        },
                        {
                            "fieldLabel": "Video Aspect Ratio",
                            "fieldType": "dropdown",
                            "fieldOptions": {
                                "values": [
                                    {
                                        "option": "9:16 (TikTok/Reels - Vertical)"
                                    },
                                    {
                                        "option": "16:9 (YouTube - Horizontal)"
                                    }
                                ]
                            },
                            "requiredField": true
                        },
                        {
                            "fieldLabel": "Visual Style",
                            "fieldType": "dropdown",
                            "fieldOptions": {
                                "values": [
                                    {
                                        "option": "Ultra-realistic (default)"
                                    },
                                    {
                                        "option": "Cinematic film look"
                                    },
                                    {
                                        "option": "Vintage retro style"
                                    },
                                    {
                                        "option": "Modern Instagram aesthetic"
                                    }
                                ]
                            }
                        }
                    ]
                },
                "options": {
                    "respondWithOptions": {
                        "values": {
                            "formSubmittedText": "🎬 Your celebrity selfie video is being generated with SEAMLESS transitions! Processing time: ~5-10 min per scene."
                        }
                    }
                }
            },
            "id": "b893d36a-e4d3-49a9-b557-3a5d921df2d2",
            "name": "Upload Your Photo1",
            "type": "n8n-nodes-base.formTrigger",
            "typeVersion": 2.3,
            "position": [
                23136,
                16336
            ],
            "webhookId": "210fa7f0-d119-4a58-8715-a93ab38c28a5"
        },
        {
            "parameters": {
                "mode": "runOnceForEachItem",
                "jsCode": "const imgbbResponse = $json;\nconst prevData = $('Upload Your Photo1').first().json;\n\nconst imageUrl = imgbbResponse.data?.image?.url || imgbbResponse.data?.url || imgbbResponse.data?.display_url || '';\n\nconsole.log('ImgBB Upload Result:', imageUrl ? 'SUCCESS' : 'FAILED');\n\nreturn {\n  json: {\n    ...prevData,\n    user_photo_url: imageUrl,\n    imgbb_success: !!imageUrl\n  }\n};"
            },
            "id": "b260d487-fb79-4956-94c0-59ded30cff6d",
            "name": "Process Uploaded Photo1",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                23584,
                16336
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.kie.ai/api/v1/jobs/createTask",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({ model: 'nano-banana-pro', input: { prompt: $json.image_prompt, image_input: [$json.user_photo_url], aspect_ratio: $json.image_aspect_ratio || '9:16', resolution: '2K', output_format: 'png' } }) }}",
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                24704,
                16064
            ],
            "id": "f6a884e8-ef7a-4554-99e4-ff36d9b38331",
            "name": "Create Task2",
            "credentials": {
                "httpHeaderAuth": {
                    "id": "kRI7Q7bdV9tEVPNp",
                    "name": "Kie.ai"
                }
            },
            "onError": "continueRegularOutput"
        },
        {
            "parameters": {
                "url": "=https://api.kie.ai/api/v1/jobs/recordInfo?taskId={{ $json.data.taskId }}",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                24928,
                16064
            ],
            "id": "05bb5306-67f0-4391-b992-b4e8750fbaa9",
            "name": "Poll Status2",
            "credentials": {
                "httpHeaderAuth": {
                    "id": "kRI7Q7bdV9tEVPNp",
                    "name": "Kie.ai"
                }
            },
            "onError": "continueRegularOutput"
        },
        {
            "parameters": {
                "mode": "runOnceForEachItem",
                "jsCode": "const imageData = $input.item.json;\nconst MAX_RETRIES = 120;\nconst retryCount = imageData.retryCount || 0;\n\nconsole.log(`Image polling attempt: ${retryCount + 1}/${MAX_RETRIES}`);\n\nif (retryCount >= MAX_RETRIES) {\n  console.log('⚠️ Max retries reached, image generation timeout');\n  return { json: { skipImage: true, imageReady: false, retryCount: 0, reason: 'Image generation timeout' } };\n}\n\nconst state = imageData.data?.state;\n\nif (state === 'success') {\n  console.log('✅ Image generation complete!');\n  let resultUrls = [];\n  try {\n    if (imageData.data.resultJson) {\n      const parsed = JSON.parse(imageData.data.resultJson);\n      resultUrls = parsed.resultUrls || [];\n    }\n  } catch (e) {\n    console.log('Error parsing resultJson:', e.message);\n  }\n  \n  const imageUrl = resultUrls[0] || null;\n  return { json: { ...imageData, skipImage: false, imageReady: true, retryCount: 0, image_url: imageUrl } };\n} else if (state === 'fail') {\n  console.log('❌ Image generation failed');\n  return { json: { ...imageData, skipImage: true, imageReady: false, retryCount: 0, reason: 'Image generation failed' } };\n}\n\nconsole.log('⏳ Image still generating, will retry...');\nreturn { json: { ...imageData, skipImage: false, imageReady: false, continuePolling: true, retryCount: retryCount + 1 } };"
            },
            "id": "c17ae8e3-c359-444e-a654-33d863763de3",
            "name": "Check Status & Retry2",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                25152,
                15904
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "version": 2,
                        "leftValue": "",
                        "caseSensitive": true,
                        "typeValidation": "loose"
                    },
                    "conditions": [
                        {
                            "id": "ready",
                            "leftValue": "={{ $json.imageReady }}",
                            "rightValue": true,
                            "operator": {
                                "type": "boolean",
                                "operation": "equals"
                            }
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.2,
            "position": [
                25376,
                15888
            ],
            "id": "e7f2c48c-9f6e-4515-8e06-bdebc08c961c",
            "name": "Is Ready?2"
        },
        {
            "parameters": {
                "amount": 3
            },
            "type": "n8n-nodes-base.wait",
            "typeVersion": 1.1,
            "position": [
                25600,
                16064
            ],
            "id": "a0597993-2b70-4341-a68b-8990ded5c1a6",
            "name": "Wait2",
            "webhookId": "celebrity-selfie-wait-image"
        },
        {
            "parameters": {
                "mode": "runOnceForEachItem",
                "jsCode": "const sceneData = $('Generate Image Prompt1').first().json;\nconst imageData = $input.item.json;\nconst imageUrl = imageData.image_url;\n\nconsole.log('=== IMAGE GENERATION COMPLETE ===');\nconsole.log(`Scene ID: ${sceneData.scene_id}`);\nconsole.log(`Movie: ${sceneData.movie}`);\nconsole.log(`Image URL: ${imageUrl}`);\n\nreturn {\n  json: {\n    success: true,\n    image_url: imageUrl,\n    scene_id: sceneData.scene_id,\n    movie: sceneData.movie,\n    location: sceneData.location || 'movie set',\n    generatedAt: new Date().toISOString()\n  }\n};"
            },
            "id": "ba7c7348-5f88-480b-9a26-10610320f6ec",
            "name": "Process Response2",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                25600,
                15808
            ]
        }
    ],
    "pinData": {},
    "connections": {
        "Set Configuration1": {
            "main": [
                [
                    {
                        "node": "Movie Scenes Data1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Movie Scenes Data1": {
            "main": [
                [
                    {
                        "node": "Loop Over Scenes1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Loop Over Scenes1": {
            "main": [
                [
                    {
                        "node": "Aggregate All Images",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Generate Image Prompt1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Generate Image Prompt1": {
            "main": [
                [
                    {
                        "node": "Create Task2",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Upload to ImgBB1": {
            "main": [
                [
                    {
                        "node": "Process Uploaded Photo1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Store Image URL1": {
            "main": [
                [
                    {
                        "node": "Back to Image Loop",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Back to Image Loop": {
            "main": [
                [
                    {
                        "node": "Loop Over Scenes1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Upload Your Photo1": {
            "main": [
                [
                    {
                        "node": "Upload to ImgBB1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Process Uploaded Photo1": {
            "main": [
                [
                    {
                        "node": "Set Configuration1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Create Task2": {
            "main": [
                [
                    {
                        "node": "Poll Status2",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Poll Status2": {
            "main": [
                [
                    {
                        "node": "Check Status & Retry2",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Check Status & Retry2": {
            "main": [
                [
                    {
                        "node": "Is Ready?2",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Is Ready?2": {
            "main": [
                [
                    {
                        "node": "Process Response2",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Wait2",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Wait2": {
            "main": [
                [
                    {
                        "node": "Poll Status2",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Process Response2": {
            "main": [
                [
                    {
                        "node": "Store Image URL1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Aggregate All Images": {
            "main": [
                [
                    {
                        "node": "Pair Images for Transitions",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Pair Images for Transitions": {
            "main": [
                [
                    {
                        "node": "Loop Over Image Pairs",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Loop Over Image Pairs": {
            "main": [
                [
                    {
                        "node": "Aggregate All Videos",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Create Transition Video (Veo 3.1)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Create Transition Video (Veo 3.1)": {
            "main": [
                [
                    {
                        "node": "Poll Video Status (Veo 3.1)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Poll Video Status (Veo 3.1)": {
            "main": [
                [
                    {
                        "node": "Check Video Status (Veo 3.1)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Check Video Status (Veo 3.1)": {
            "main": [
                [
                    {
                        "node": "Is Video Ready?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Is Video Ready?": {
            "main": [
                [
                    {
                        "node": "Process Video Result",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Wait For Video",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Wait For Video": {
            "main": [
                [
                    {
                        "node": "Poll Video Status (Veo 3.1)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Process Video Result": {
            "main": [
                [
                    {
                        "node": "Store Video Result",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Store Video Result": {
            "main": [
                [
                    {
                        "node": "Back to Video Loop",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Back to Video Loop": {
            "main": [
                [
                    {
                        "node": "Loop Over Image Pairs",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Aggregate All Videos": {
            "main": [
                [
                    {
                        "node": "Prepare Video URLs",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Prepare Video URLs": {
            "main": [
                [
                    {
                        "node": "Merge All Videos (FFmpeg)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Merge All Videos (FFmpeg)": {
            "main": [
                [
                    {
                        "node": "Prepare Final Output",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Prepare Final Output": {
            "main": [
                [
                    {
                        "node": "Final Output",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": true,
    "settings": {
        "executionOrder": "v1",
        "callerPolicy": "workflowsFromSameOwner",
        "availableInMCP": false,
        "timeSavedMode": "fixed"
    },
    "versionId": "veo31-first-last-frame-v1",
    "meta": {
        "instanceId": "d6d5e33115a32f19742462b1f375a2ffde1364323928b1b4e33055d1a9c6e595"
    },
    "id": "axDLqKuo8mQo40w8",
    "tags": []
}