workflows/exec_pdf_fail_20119.json
{"id":"20119","finished":false,"mode":"webhook","retryOf":null,"retrySuccessId":null,"status":"error","createdAt":"2025-11-23T19:28:17.387Z","startedAt":"2025-11-23T19:28:17.409Z","stoppedAt":"2025-11-23T19:28:20.230Z","deletedAt":null,"workflowId":"eQSCUFw91oXLxtvn","waitTill":null,"data":{"startData":{},"resultData":{"runData":{"WAHA Trigger":[{"startTime":1763926097417,"executionIndex":0,"source":[],"hints":[],"executionTime":1,"executionStatus":"success","data":{"main":[[],[{"json":{"id":"evt_01kas30fdfqmakkwnvfq21wngh","timestamp":1763926097327,"event":"message","session":"rensto-whatsapp","metadata":{},"me":{"id":"12144362102@c.us","pushName":"Rensto","lid":"271661580427508@lid"},"payload":{"id":"false_14695885133@c.us_3BBFB1821469633A1F2E","timestamp":1763926097,"from":"14695885133@c.us","fromMe":false,"source":"app","body":null,"hasMedia":true,"media":{"url":"http://localhost:3000/api/files/rensto-whatsapp/3BBFB1821469633A1F2E.pdf","filename":"Invoice-633F2A51-0023.pdf","mimetype":"application/pdf"},"ack":2,"ackName":"DEVICE","location":null,"vCards":null,"replyTo":null,"_data":{"key":{"remoteJid":"14695885133@s.whatsapp.net","remoteJidAlt":"199501700681931@lid","fromMe":false,"id":"3BBFB1821469633A1F2E","participant":"","addressingMode":"pn"},"messageTimestamp":1763926097,"pushName":"Shai Friedman","broadcast":false,"message":{"documentMessage":{"url":"https://mmg.whatsapp.net/v/t62.7119-24/589842062_1653818318671455_7374581884227913801_n.enc?ccb=11-4&oh=01_Q5Aa3AGQFcE85oATIK2hv6gMRN01Qtn2QBSqYbqPvJbAIBrmYA&oe=694AD31F&_nc_sid=5e03e0&mms3=true","mimetype":"application/pdf","title":"Invoice-633F2A51-0023","fileSha256":"jmoatSITPMVQlOTVIhpDjVUOn/Uic9EssnC6c8rvl80=","fileLength":"26778","pageCount":2,"mediaKey":"27aMeP4yDhMNvXHQt0ag1RH7aOC0PUW2RWrrc9A8Ti8=","fileName":"Invoice-633F2A51-0023.pdf","fileEncSha256":"cRuAUIZrbYdErNzuf/VQzgi9QLMillRAuOFCIUJgJc4=","directPath":"/v/t62.7119-24/589842062_1653818318671455_7374581884227913801_n.enc?ccb=11-4&oh=01_Q5Aa3AGQFcE85oATIK2hv6gMRN01Qtn2QBSqYbqPvJbAIBrmYA&oe=694AD31F&_nc_sid=5e03e0","mediaKeyTimestamp":"1763918653","contactVcard":false,"jpegThumbnail":"/9j/4AAQSkZJRgABAQAAAQABAAD/2wBDABsSFBcUERsXFhceHBsgKEIrKCUlKFE6PTBCYFVlZF9VXVtqeJmBanGQc1tdhbWGkJ6jq62rZ4C8ybqmx5moq6T/2wBDARweHigjKE4rK06kbl1upKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKT/wgARCABIADgDASIAAhEBAxEB/8QAGQABAQEBAQEAAAAAAAAAAAAAAAEDAgQF/8QAFAEBAAAAAAAAAAAAAAAAAAAAAP/aAAwDAQACEAMQAAAA+1dacNuTN6B5npGM6yPTnpSUAMstoaXPsoAM52KvAoEHYEBQgP/EABQRAQAAAAAAAAAAAAAAAAAAAED/2gAIAQIBAT8AJ//EABQRAQAAAAAAAAAAAAAAAAAAAED/2gAIAQMBAT8AJ//EACsQAAEDAwIDBwUAAAAAAAAAAAEAAhEDBCESICIxkRQjMkFRU2EQM0Nxgf/aAAgBAQABPwCpaW7TAoU/6ELWzjNFk/pCytT+BnRdhtfYZ0XYbX2GdF2G19hnRCytpPcM6Kr4xwygxjskZR4GY8k2qDg89lUaqgCY86tMSiJEJtItMg7H/dCaYqTO6oJqBNAL8+u5+rUNMLQ/nwrvfUITGeeypOrBAQLyY1BR8qPlEZHEvPnlDxHKLQeYQa0GQPo9+kjEppDswg2HSmul5ER87xMr//4AAwD/2Q=="},"messageContextInfo":{"deviceListMetadata":{"senderKeyHash":"nPCwjAaH25F+wQ==","senderTimestamp":"1763914766","recipientKeyHash":"/s4TzptXMIu37g==","recipientTimestamp":"1763345311"},"deviceListMetadataVersion":2,"messageSecret":"GDRn/GzDr7DkvneLOkhqhCZPdafot0FzqRuiRvPBkNg="}},"status":3}},"engine":"NOWEB","environment":{"version":"2025.11.2","engine":"NOWEB","tier":"PLUS","browser":null}},"pairedItem":{"item":0,"input":1}}],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[]]}}],"Smart Message Router":[{"startTime":1763926097419,"executionIndex":1,"source":[{"previousNode":"WAHA Trigger","previousNodeOutput":1}],"hints":[],"executionTime":58,"executionStatus":"success","data":{"main":[[{"json":{"messageId":"3BBFB1821469633A1F2E","messageType":"document","source":"waha","userId":"14695885133@c.us","timestamp":1763926097,"textContent":"","mediaUrl":"http://173.254.201.134:3000/api/files/rensto-whatsapp/3BBFB1821469633A1F2E.pdf","mediaInfo":{"mimetype":"application/pdf"},"originalPayload":{"id":"false_14695885133@c.us_3BBFB1821469633A1F2E","timestamp":1763926097,"from":"14695885133@c.us","fromMe":false,"source":"app","body":null,"hasMedia":true,"media":{"url":"http://localhost:3000/api/files/rensto-whatsapp/3BBFB1821469633A1F2E.pdf","filename":"Invoice-633F2A51-0023.pdf","mimetype":"application/pdf"},"ack":2,"ackName":"DEVICE","location":null,"vCards":null,"replyTo":null,"_data":{"key":{"remoteJid":"14695885133@s.whatsapp.net","remoteJidAlt":"199501700681931@lid","fromMe":false,"id":"3BBFB1821469633A1F2E","participant":"","addressingMode":"pn"},"messageTimestamp":1763926097,"pushName":"Shai Friedman","broadcast":false,"message":{"documentMessage":{"url":"https://mmg.whatsapp.net/v/t62.7119-24/589842062_1653818318671455_7374581884227913801_n.enc?ccb=11-4&oh=01_Q5Aa3AGQFcE85oATIK2hv6gMRN01Qtn2QBSqYbqPvJbAIBrmYA&oe=694AD31F&_nc_sid=5e03e0&mms3=true","mimetype":"application/pdf","title":"Invoice-633F2A51-0023","fileSha256":"jmoatSITPMVQlOTVIhpDjVUOn/Uic9EssnC6c8rvl80=","fileLength":"26778","pageCount":2,"mediaKey":"27aMeP4yDhMNvXHQt0ag1RH7aOC0PUW2RWrrc9A8Ti8=","fileName":"Invoice-633F2A51-0023.pdf","fileEncSha256":"cRuAUIZrbYdErNzuf/VQzgi9QLMillRAuOFCIUJgJc4=","directPath":"/v/t62.7119-24/589842062_1653818318671455_7374581884227913801_n.enc?ccb=11-4&oh=01_Q5Aa3AGQFcE85oATIK2hv6gMRN01Qtn2QBSqYbqPvJbAIBrmYA&oe=694AD31F&_nc_sid=5e03e0","mediaKeyTimestamp":"1763918653","contactVcard":false,"jpegThumbnail":"/9j/4AAQSkZJRgABAQAAAQABAAD/2wBDABsSFBcUERsXFhceHBsgKEIrKCUlKFE6PTBCYFVlZF9VXVtqeJmBanGQc1tdhbWGkJ6jq62rZ4C8ybqmx5moq6T/2wBDARweHigjKE4rK06kbl1upKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKT/wgARCABIADgDASIAAhEBAxEB/8QAGQABAQEBAQEAAAAAAAAAAAAAAAEDAgQF/8QAFAEBAAAAAAAAAAAAAAAAAAAAAP/aAAwDAQACEAMQAAAA+1dacNuTN6B5npGM6yPTnpSUAMstoaXPsoAM52KvAoEHYEBQgP/EABQRAQAAAAAAAAAAAAAAAAAAAED/2gAIAQIBAT8AJ//EABQRAQAAAAAAAAAAAAAAAAAAAED/2gAIAQMBAT8AJ//EACsQAAEDAwIDBwUAAAAAAAAAAAEAAhEDBCESICIxkRQjMkFRU2EQM0Nxgf/aAAgBAQABPwCpaW7TAoU/6ELWzjNFk/pCytT+BnRdhtfYZ0XYbX2GdF2G19hnRCytpPcM6Kr4xwygxjskZR4GY8k2qDg89lUaqgCY86tMSiJEJtItMg7H/dCaYqTO6oJqBNAL8+u5+rUNMLQ/nwrvfUITGeeypOrBAQLyY1BR8qPlEZHEvPnlDxHKLQeYQa0GQPo9+kjEppDswg2HSmul5ER87xMr//4AAwD/2Q=="},"messageContextInfo":{"deviceListMetadata":{"senderKeyHash":"nPCwjAaH25F+wQ==","senderTimestamp":"1763914766","recipientKeyHash":"/s4TzptXMIu37g==","recipientTimestamp":"1763345311"},"deviceListMetadataVersion":2,"messageSecret":"GDRn/GzDr7DkvneLOkhqhCZPdafot0FzqRuiRvPBkNg="}},"status":3}},"requiresVoiceResponse":false,"sessionId":"14695885133@c.us"},"pairedItem":{"item":0}}]]}}],"Message Type Router":[{"startTime":1763926097477,"executionIndex":2,"source":[{"previousNode":"Smart Message Router"}],"hints":[],"executionTime":9,"executionStatus":"success","data":{"main":[[],[],[{"json":{"messageId":"3BBFB1821469633A1F2E","messageType":"document","source":"waha","userId":"14695885133@c.us","timestamp":1763926097,"textContent":"","mediaUrl":"http://173.254.201.134:3000/api/files/rensto-whatsapp/3BBFB1821469633A1F2E.pdf","mediaInfo":{"mimetype":"application/pdf"},"originalPayload":{"id":"false_14695885133@c.us_3BBFB1821469633A1F2E","timestamp":1763926097,"from":"14695885133@c.us","fromMe":false,"source":"app","body":null,"hasMedia":true,"media":{"url":"http://localhost:3000/api/files/rensto-whatsapp/3BBFB1821469633A1F2E.pdf","filename":"Invoice-633F2A51-0023.pdf","mimetype":"application/pdf"},"ack":2,"ackName":"DEVICE","location":null,"vCards":null,"replyTo":null,"_data":{"key":{"remoteJid":"14695885133@s.whatsapp.net","remoteJidAlt":"199501700681931@lid","fromMe":false,"id":"3BBFB1821469633A1F2E","participant":"","addressingMode":"pn"},"messageTimestamp":1763926097,"pushName":"Shai Friedman","broadcast":false,"message":{"documentMessage":{"url":"https://mmg.whatsapp.net/v/t62.7119-24/589842062_1653818318671455_7374581884227913801_n.enc?ccb=11-4&oh=01_Q5Aa3AGQFcE85oATIK2hv6gMRN01Qtn2QBSqYbqPvJbAIBrmYA&oe=694AD31F&_nc_sid=5e03e0&mms3=true","mimetype":"application/pdf","title":"Invoice-633F2A51-0023","fileSha256":"jmoatSITPMVQlOTVIhpDjVUOn/Uic9EssnC6c8rvl80=","fileLength":"26778","pageCount":2,"mediaKey":"27aMeP4yDhMNvXHQt0ag1RH7aOC0PUW2RWrrc9A8Ti8=","fileName":"Invoice-633F2A51-0023.pdf","fileEncSha256":"cRuAUIZrbYdErNzuf/VQzgi9QLMillRAuOFCIUJgJc4=","directPath":"/v/t62.7119-24/589842062_1653818318671455_7374581884227913801_n.enc?ccb=11-4&oh=01_Q5Aa3AGQFcE85oATIK2hv6gMRN01Qtn2QBSqYbqPvJbAIBrmYA&oe=694AD31F&_nc_sid=5e03e0","mediaKeyTimestamp":"1763918653","contactVcard":false,"jpegThumbnail":"/9j/4AAQSkZJRgABAQAAAQABAAD/2wBDABsSFBcUERsXFhceHBsgKEIrKCUlKFE6PTBCYFVlZF9VXVtqeJmBanGQc1tdhbWGkJ6jq62rZ4C8ybqmx5moq6T/2wBDARweHigjKE4rK06kbl1upKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKT/wgARCABIADgDASIAAhEBAxEB/8QAGQABAQEBAQEAAAAAAAAAAAAAAAEDAgQF/8QAFAEBAAAAAAAAAAAAAAAAAAAAAP/aAAwDAQACEAMQAAAA+1dacNuTN6B5npGM6yPTnpSUAMstoaXPsoAM52KvAoEHYEBQgP/EABQRAQAAAAAAAAAAAAAAAAAAAED/2gAIAQIBAT8AJ//EABQRAQAAAAAAAAAAAAAAAAAAAED/2gAIAQMBAT8AJ//EACsQAAEDAwIDBwUAAAAAAAAAAAEAAhEDBCESICIxkRQjMkFRU2EQM0Nxgf/aAAgBAQABPwCpaW7TAoU/6ELWzjNFk/pCytT+BnRdhtfYZ0XYbX2GdF2G19hnRCytpPcM6Kr4xwygxjskZR4GY8k2qDg89lUaqgCY86tMSiJEJtItMg7H/dCaYqTO6oJqBNAL8+u5+rUNMLQ/nwrvfUITGeeypOrBAQLyY1BR8qPlEZHEvPnlDxHKLQeYQa0GQPo9+kjEppDswg2HSmul5ER87xMr//4AAwD/2Q=="},"messageContextInfo":{"deviceListMetadata":{"senderKeyHash":"nPCwjAaH25F+wQ==","senderTimestamp":"1763914766","recipientKeyHash":"/s4TzptXMIu37g==","recipientTimestamp":"1763345311"},"deviceListMetadataVersion":2,"messageSecret":"GDRn/GzDr7DkvneLOkhqhCZPdafot0FzqRuiRvPBkNg="}},"status":3}},"requiresVoiceResponse":false,"sessionId":"14695885133@c.us"},"pairedItem":{"item":0}}],[],[]]}}],"Guardrails: Doc Size":[{"startTime":1763926097486,"executionIndex":3,"source":[{"previousNode":"Message Type Router","previousNodeOutput":2}],"hints":[],"executionTime":21,"executionStatus":"success","data":{"main":[[{"json":{"messageId":"3BBFB1821469633A1F2E","messageType":"document","source":"waha","userId":"14695885133@c.us","timestamp":1763926097,"textContent":"","mediaUrl":"http://173.254.201.134:3000/api/files/rensto-whatsapp/3BBFB1821469633A1F2E.pdf","mediaInfo":{"mimetype":"application/pdf"},"originalPayload":{"id":"false_14695885133@c.us_3BBFB1821469633A1F2E","timestamp":1763926097,"from":"14695885133@c.us","fromMe":false,"source":"app","body":null,"hasMedia":true,"media":{"url":"http://localhost:3000/api/files/rensto-whatsapp/3BBFB1821469633A1F2E.pdf","filename":"Invoice-633F2A51-0023.pdf","mimetype":"application/pdf"},"ack":2,"ackName":"DEVICE","location":null,"vCards":null,"replyTo":null,"_data":{"key":{"remoteJid":"14695885133@s.whatsapp.net","remoteJidAlt":"199501700681931@lid","fromMe":false,"id":"3BBFB1821469633A1F2E","participant":"","addressingMode":"pn"},"messageTimestamp":1763926097,"pushName":"Shai Friedman","broadcast":false,"message":{"documentMessage":{"url":"https://mmg.whatsapp.net/v/t62.7119-24/589842062_1653818318671455_7374581884227913801_n.enc?ccb=11-4&oh=01_Q5Aa3AGQFcE85oATIK2hv6gMRN01Qtn2QBSqYbqPvJbAIBrmYA&oe=694AD31F&_nc_sid=5e03e0&mms3=true","mimetype":"application/pdf","title":"Invoice-633F2A51-0023","fileSha256":"jmoatSITPMVQlOTVIhpDjVUOn/Uic9EssnC6c8rvl80=","fileLength":"26778","pageCount":2,"mediaKey":"27aMeP4yDhMNvXHQt0ag1RH7aOC0PUW2RWrrc9A8Ti8=","fileName":"Invoice-633F2A51-0023.pdf","fileEncSha256":"cRuAUIZrbYdErNzuf/VQzgi9QLMillRAuOFCIUJgJc4=","directPath":"/v/t62.7119-24/589842062_1653818318671455_7374581884227913801_n.enc?ccb=11-4&oh=01_Q5Aa3AGQFcE85oATIK2hv6gMRN01Qtn2QBSqYbqPvJbAIBrmYA&oe=694AD31F&_nc_sid=5e03e0","mediaKeyTimestamp":"1763918653","contactVcard":false,"jpegThumbnail":"/9j/4AAQSkZJRgABAQAAAQABAAD/2wBDABsSFBcUERsXFhceHBsgKEIrKCUlKFE6PTBCYFVlZF9VXVtqeJmBanGQc1tdhbWGkJ6jq62rZ4C8ybqmx5moq6T/2wBDARweHigjKE4rK06kbl1upKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKT/wgARCABIADgDASIAAhEBAxEB/8QAGQABAQEBAQEAAAAAAAAAAAAAAAEDAgQF/8QAFAEBAAAAAAAAAAAAAAAAAAAAAP/aAAwDAQACEAMQAAAA+1dacNuTN6B5npGM6yPTnpSUAMstoaXPsoAM52KvAoEHYEBQgP/EABQRAQAAAAAAAAAAAAAAAAAAAED/2gAIAQIBAT8AJ//EABQRAQAAAAAAAAAAAAAAAAAAAED/2gAIAQMBAT8AJ//EACsQAAEDAwIDBwUAAAAAAAAAAAEAAhEDBCESICIxkRQjMkFRU2EQM0Nxgf/aAAgBAQABPwCpaW7TAoU/6ELWzjNFk/pCytT+BnRdhtfYZ0XYbX2GdF2G19hnRCytpPcM6Kr4xwygxjskZR4GY8k2qDg89lUaqgCY86tMSiJEJtItMg7H/dCaYqTO6oJqBNAL8+u5+rUNMLQ/nwrvfUITGeeypOrBAQLyY1BR8qPlEZHEvPnlDxHKLQeYQa0GQPo9+kjEppDswg2HSmul5ER87xMr//4AAwD/2Q=="},"messageContextInfo":{"deviceListMetadata":{"senderKeyHash":"nPCwjAaH25F+wQ==","senderTimestamp":"1763914766","recipientKeyHash":"/s4TzptXMIu37g==","recipientTimestamp":"1763345311"},"deviceListMetadataVersion":2,"messageSecret":"GDRn/GzDr7DkvneLOkhqhCZPdafot0FzqRuiRvPBkNg="}},"status":3}},"requiresVoiceResponse":false,"sessionId":"14695885133@c.us"},"pairedItem":{"item":0}}]]}}],"Download Document":[{"startTime":1763926097507,"executionIndex":4,"source":[{"previousNode":"Guardrails: Doc Size"}],"hints":[],"executionTime":13,"executionStatus":"success","data":{"main":[[{"json":{"messageId":"3BBFB1821469633A1F2E","messageType":"document","source":"waha","userId":"14695885133@c.us","timestamp":1763926097,"textContent":"","mediaUrl":"http://173.254.201.134:3000/api/files/rensto-whatsapp/3BBFB1821469633A1F2E.pdf","mediaInfo":{"mimetype":"application/pdf"},"originalPayload":{"id":"false_14695885133@c.us_3BBFB1821469633A1F2E","timestamp":1763926097,"from":"14695885133@c.us","fromMe":false,"source":"app","body":null,"hasMedia":true,"media":{"url":"http://localhost:3000/api/files/rensto-whatsapp/3BBFB1821469633A1F2E.pdf","filename":"Invoice-633F2A51-0023.pdf","mimetype":"application/pdf"},"ack":2,"ackName":"DEVICE","location":null,"vCards":null,"replyTo":null,"_data":{"key":{"remoteJid":"14695885133@s.whatsapp.net","remoteJidAlt":"199501700681931@lid","fromMe":false,"id":"3BBFB1821469633A1F2E","participant":"","addressingMode":"pn"},"messageTimestamp":1763926097,"pushName":"Shai Friedman","broadcast":false,"message":{"documentMessage":{"url":"https://mmg.whatsapp.net/v/t62.7119-24/589842062_1653818318671455_7374581884227913801_n.enc?ccb=11-4&oh=01_Q5Aa3AGQFcE85oATIK2hv6gMRN01Qtn2QBSqYbqPvJbAIBrmYA&oe=694AD31F&_nc_sid=5e03e0&mms3=true","mimetype":"application/pdf","title":"Invoice-633F2A51-0023","fileSha256":"jmoatSITPMVQlOTVIhpDjVUOn/Uic9EssnC6c8rvl80=","fileLength":"26778","pageCount":2,"mediaKey":"27aMeP4yDhMNvXHQt0ag1RH7aOC0PUW2RWrrc9A8Ti8=","fileName":"Invoice-633F2A51-0023.pdf","fileEncSha256":"cRuAUIZrbYdErNzuf/VQzgi9QLMillRAuOFCIUJgJc4=","directPath":"/v/t62.7119-24/589842062_1653818318671455_7374581884227913801_n.enc?ccb=11-4&oh=01_Q5Aa3AGQFcE85oATIK2hv6gMRN01Qtn2QBSqYbqPvJbAIBrmYA&oe=694AD31F&_nc_sid=5e03e0","mediaKeyTimestamp":"1763918653","contactVcard":false,"jpegThumbnail":"/9j/4AAQSkZJRgABAQAAAQABAAD/2wBDABsSFBcUERsXFhceHBsgKEIrKCUlKFE6PTBCYFVlZF9VXVtqeJmBanGQc1tdhbWGkJ6jq62rZ4C8ybqmx5moq6T/2wBDARweHigjKE4rK06kbl1upKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKT/wgARCABIADgDASIAAhEBAxEB/8QAGQABAQEBAQEAAAAAAAAAAAAAAAEDAgQF/8QAFAEBAAAAAAAAAAAAAAAAAAAAAP/aAAwDAQACEAMQAAAA+1dacNuTN6B5npGM6yPTnpSUAMstoaXPsoAM52KvAoEHYEBQgP/EABQRAQAAAAAAAAAAAAAAAAAAAED/2gAIAQIBAT8AJ//EABQRAQAAAAAAAAAAAAAAAAAAAED/2gAIAQMBAT8AJ//EACsQAAEDAwIDBwUAAAAAAAAAAAEAAhEDBCESICIxkRQjMkFRU2EQM0Nxgf/aAAgBAQABPwCpaW7TAoU/6ELWzjNFk/pCytT+BnRdhtfYZ0XYbX2GdF2G19hnRCytpPcM6Kr4xwygxjskZR4GY8k2qDg89lUaqgCY86tMSiJEJtItMg7H/dCaYqTO6oJqBNAL8+u5+rUNMLQ/nwrvfUITGeeypOrBAQLyY1BR8qPlEZHEvPnlDxHKLQeYQa0GQPo9+kjEppDswg2HSmul5ER87xMr//4AAwD/2Q=="},"messageContextInfo":{"deviceListMetadata":{"senderKeyHash":"nPCwjAaH25F+wQ==","senderTimestamp":"1763914766","recipientKeyHash":"/s4TzptXMIu37g==","recipientTimestamp":"1763345311"},"deviceListMetadataVersion":2,"messageSecret":"GDRn/GzDr7DkvneLOkhqhCZPdafot0FzqRuiRvPBkNg="}},"status":3}},"requiresVoiceResponse":false,"sessionId":"14695885133@c.us"},"binary":{"data":{"mimeType":"application/pdf","fileType":"pdf","fileExtension":"pdf","data":"JVBERi0xLjQKJfbk/N8KMSAwIG9iago8PAovVHlwZSAvQ2F0YWxvZwovUGFnZXMgMiAwIFIKPj4KZW5kb2JqCjMgMCBvYmoKPDwKL0NyZWF0b3IgKCkKL1Byb2R1Y2VyICgpCi9DcmVhdGlvbkRhdGUgKEQ6MjAyNTExMTgwODM5NDYrMDAnMDAnKQovTW9kRGF0ZSAoRDoyMDI1MTExODA4Mzk0NiswMCcwMCcpCj4+CmVuZG9iagoyIDAgb2JqCjw8Ci9UeXBlIC9QYWdlcwovQ291bnQgMgovS2lkcyBbNCAwIFIgNSAwIFJdCj4+CmVuZG9iago0IDAgb2JqCjw8Ci9UeXBlIC9QYWdlCi9SZXNvdXJjZXMgPDwKL1Byb2NTZXQgWy9QREYgL1RleHQgL0ltYWdlQiAvSW1hZ2VDIC9JbWFnZUldCi9FeHRHU3RhdGUgPDwKL0czIDYgMCBSCj4+Ci9YT2JqZWN0IDw8Ci9YNyA3IDAgUgo+PgovRm9udCA8PAovRjQgOCAwIFIKL0Y1IDkgMCBSCi9GNiAxMCAwIFIKPj4KPj4KL01lZGlhQm94IFswIDAgNjEyIDc5Ml0KL0Fubm90cyBbMTEgMCBSXQovQ29udGVudHMgMTIgMCBSCi9TdHJ1Y3RQYXJlbnRzIDAKL1BhcmVudCAyIDAgUgo+PgplbmRvYmoKNSAwIG9iago8PAovVHlwZSAvUGFnZQovUmVzb3VyY2VzIDw8Ci9Qcm9jU2V0IFsvUERGIC9UZXh0IC9JbWFnZUIgL0ltYWdlQyAvSW1hZ2VJXQovRXh0R1N0YXRlIDw8Ci9HMyA2IDAgUgo+PgovRm9udCA8PAovRjQgOCAwIFIKL0Y1IDkgMCBSCj4+Cj4+Ci9NZWRpYUJveCBbMCAwIDYxMiA3OTJdCi9Db250ZW50cyAxMyAwIFIKL1N0cnVjdFBhcmVudHMgMQovUGFyZW50IDIgMCBSCj4+CmVuZG9iago2IDAgb2JqCjw8Ci9jYSAxCi9CTSAvTm9ybWFsCj4+CmVuZG9iago3IDAgb2JqCjw8Ci9MZW5ndGggMTczNgovVHlwZSAvWE9iamVjdAovU3VidHlwZSAvSW1hZ2UKL1dpZHRoIDUxMgovSGVpZ2h0IDUxMgovQ29sb3JTcGFjZSAvRGV2aWNlUkdCCi9CaXRzUGVyQ29tcG9uZW50IDgKL0ZpbHRlciAvRmxhdGVEZWNvZGUKPj4Kc3RyZWFtDQp4nO3XsYlQWQCF4U00twRB3cTUYExtwmxcMDOeEuxFGzB3Qq3AVGXASZQBxUBxhW3g3+ANu4fvK+C+e5Kf+379AgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAID/ou/fv3/8+PH9+/cfjvH75IuLix8/fhw34evXr/986LgJnz59+vnz53ETAK7f27dvHzx4cO/evT+Pcffu3UePHl1eXh434dWrV/fv3z/o/r/duXPn8ePHV1dXx00AuH7n5+e3bt3640i3b9/+/Qtw3ISXL1/evHnz0AknJydfvnw5bgLA9dP/4uHDh/oPjNH/Qv+BPfpf6D+wR/8L/Qf26H+h/8Ae/S/0H9ij/4X+A3v0v9B/YI/+F/oP7NH/Qv+BPfpf6D+wR/8L/Qf26H+h/8Ae/S/0H9ij/4X+A3v0v9B/YI/+F/oP7NH/Qv+BPfpf6D+wR/8L/Qf26H+h/8Ae/S/0H9ij/4X+A3v0v9B/YI/+F/oP7NH/Qv+BPfpf6D+wR/8L/Qf26H+h/8Ae/S/0H9ij/4X+A3v0v9B/YI/+F/oP7NH/Qv+BPfpf6D+wR/8L/Qf26H+h/8Ae/S/0H9ij/4X+A3v0v9B/YI/+F/oP7NH/Qv+BPfpf6D+wR/8L/Qf26H+h/8Ae/S/0H9ij/4X+A3v0v9B/YI/+F/oP7NH/Qv+BPfpf6D+wR/8L/Qf26H+h/8Ae/S/0H9ij/4X+A3v0v9B/YI/+F/oP7NH/Qv+BPfpf6D+wR/8L/Qf26H+h/8Ae/S/0H9ij/4X+A3v0v9B/YI/+F/oP7NH/Qv+BPfpf6D+wR/8L/Qf26H+h/8Ae/S/0H9ij/4X+A3v0v9B/YI/+F/oP7NH/Qv+BPfpf6D+wR/8L/Qf26H+h/8Ae/S/0H9ij/4X+A3v0v9B/YI/+F/oP7NH/Qv+BPfpf6D+wR/8L/Qf26H+h/8Ae/S/0H9ij/4X+A3v0v9B/YI/+F/oP7NH/Qv+BPfpf6D+wR/8L/Qf26H+h/8Ae/S/0H9ij/4X+A3v0v9B/YI/+F/oP7NH/Qv+BPfpf6D+wR/8L/Qf26H+h/8Ae/S/0H9ij/4X+A3v0v9B/YI/+F/oP7NH/Qv+BPfpf6D+wR/8L/Qf26H+h/8Ae/S/0H9ij/4X+A3v0v9B/YI/+F/oP7NH/Qv+BPfpf6D+wR/8L/Qf26H+h/8Ae/S/0H9ij/4X+A3v0v9B/YI/+F/oP7NH/Qv+BPfpf6D+wR/8L/Qf26H+h/8Ae/S/0H9ij/4X+A3v0v9B/YI/+F/oP7NH/Qv+BPfpf6D+wR/8L/Qf26H+h/8Ae/S/0H9ij/4X+A3v0v9B/YI/+F/oP7NH/Qv+BPfpf6D+wR/8L/Qf26H+h/8Ae/S/0H9ij/4X+A3v0v9B/YI/+F/oP7NH/Qv+BPfpf6D+wR/8L/Qf26H+h/8Ae/S/0H9ij/4X+A3v0v9B/YI/+F/oP7NH/Qv+BPfpf6D+wR/8L/Qf26H+h/8Ae/S/0H9ij/4X+A3v0v9B/YI/+F/oP7NH/Qv+BPfpf6D+wR/8L/Qf26H+h/8Ae/S/0H9ij/4X+A3v0v9B/YI/+F/oP7NH/Qv+BPa9fv/6/9//Fixc3btw4dMLJycnnz5+PmwBw/d69e/fs2bMnT578dYzT09Ozs7NDH89v3rx5+vTpoROeP3/+7du34yYAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD8W38D+U5cvg0KZW5kc3RyZWFtCmVuZG9iago4IDAgb2JqCjw8Ci9UeXBlIC9Gb250Ci9TdWJ0eXBlIC9UeXBlMAovQmFzZUZvbnQgL0ludGVyLVJlZ3VsYXIKL0VuY29kaW5nIC9JZGVudGl0eS1ICi9EZXNjZW5kYW50Rm9udHMgWzE0IDAgUl0KL1RvVW5pY29kZSAxNSAwIFIKPj4KZW5kb2JqCjkgMCBvYmoKPDwKL1R5cGUgL0ZvbnQKL1N1YnR5cGUgL1R5cGUwCi9CYXNlRm9udCAvSW50ZXItU2VtaUJvbGQKL0VuY29kaW5nIC9JZGVudGl0eS1ICi9EZXNjZW5kYW50Rm9udHMgWzE2IDAgUl0KL1RvVW5pY29kZSAxNyAwIFIKPj4KZW5kb2JqCjEwIDAgb2JqCjw8Ci9UeXBlIC9Gb250Ci9TdWJ0eXBlIC9UeXBlMAovQmFzZUZvbnQgL0ludGVyLU1lZGl1bQovRW5jb2RpbmcgL0lkZW50aXR5LUgKL0Rlc2NlbmRhbnRGb250cyBbMTggMCBSXQovVG9Vbmljb2RlIDE5IDAgUgo+PgplbmRvYmoKMTEgMCBvYmoKPDwKL1R5cGUgL0Fubm90Ci9TdWJ0eXBlIC9MaW5rCi9GIDQKL0JvcmRlciBbMCAwIDBdCi9SZWN0IFszMCAyODAuNSA3NC4yNSAyOTEuNzVdCi9BIDw8Ci9UeXBlIC9BY3Rpb24KL1MgL1VSSQovVVJJIChodHRwczovL2ludm9pY2Uuc3RyaXBlLmNvbS9pL2FjY3RfMU0wN2hTTG1kT2RpTVhCcy9saXZlX1lXTmpkRjh4VFRBM2FGTk1iV1JQWkdsTldFSnpMRjlVVW1OdFpubzBVMDlXU1RsNWRVaHRWV2t6VjJ4VFRFOVBhbVZXVFdGYUxERTFNems1TlRrNE5BMDIwMElYUWgwbjhBP3M9cGQpCj4+Cj4+CmVuZG9iagoxMiAwIG9iago8PAovTGVuZ3RoIDM5MDUKL0ZpbHRlciAvRmxhdGVEZWNvZGUKPj4Kc3RyZWFtDQp4nO1dSY8dtxG+z6945wBpcSsWCQgCZvXJhyQDJFfD8YJAUmLHAfLzU+zHrZtdzeabRZIjDaCZ6X7cav2qWORMSvv530nQ1x+n6lf06vT9h6tfrsIbBSBPWgt5+vWHq7/+4fSRnptJ2vAP5rbL36ihPIWvP39zOv/w609Xb77Rp5/+PffnpD1JATZ09+P8RISPnn+gj4ZvVqqTOX/g5vHqzYM50YPHH6njea7hm9Snxw9Xb4X16t3p8R9X949Xf6KvX66kMtO8EHXSQvkwNzgpLWglKCantYLjK4nzjpPACRazAKMmkGD1CcGcpyPRztMxE1olJYSeHv9+ohcPLr5QyhtN64kvlLuOLwCFNjo/tyY+1xa9htzAeplWzM3L0ryMda7MC8RDt5GdxHIxaSQ1SeG1F3luWmCcm0FjsFoLxAYowHuNA3NGnIywxJwyZymWrCWuF+aSXBJLvXKTXHBUz7+HXtNPVaODwinOspcEiuRHGTs5jILkhJ2GxowjGFItQWJp3UmeRzDCzY9ITtKTwAB6IjE/cedm1Do+ARWf5H7AutVnbOq5PIHmM/78BHM/k1dEgfp/IlT7kIgW1mLNySi9mDk9Ws08fGg58/BkOfPFZ+aZ05PVzJef8ecnuKCkM2ZNXEeTWj9yDQs8WbfqUeF7LW+zCRmXt9qEkPyYhdTTilSUdnF71h07gbeWLEFWqoezskmyTqTZTmSboq/PJkLqSaOSXpm1glIb8MKb8kZdYxyGFIjUMndGEp46c4DeWVhboqS8sLbGtAq7WoWelHdKEn9Wq8BJIPkXa9eLsJN14HxpkdaA1BUoVG69hEBvRCvdegmWpNQ5oZoV4CSlKmas2Dca1irVkBwnLS2gkXlOTuc5eSi2+uFsqaSYEGkWwuc3+iE2IMuKSmBnStrAPq2ldpnYIG3sg8iA3uT5g1TxhZNkuLH3XDifmKOsE3UDEV8YQOl9JoQQ554ccc0YrUuDtCzipaqnFB3Qm7/867uPb9++uf7+t/989/7xh//+dnr7cP/wQB3evTu9e3e6ubu9AvKenjxLJiPA/Zks34aXJNKIBkrX93Eu1InV3vVfcMtKBErktxuiTubjLOpgEgnAuWo+ydWTxyAZrsREY3bpXmsjZSsMwjhZnicBJUlH53yj3iSGBGp8UabkgMkxK6JfmRPXU9IlUgGHMtjANITVcRGGYNShF1k3pKbVVZNa2Y+GqEGmE1WluolU9VYaBY05IOX2JByuvMgGhCAM1GtjqFppqxVKFHtaKasgoCgbLLbuKWmrmawUFhuItqZ2UgKYLErUWOmZywaHHI3MtAO8iT0Z0nZZ9IkdIou2Bi/pa60MZCxIyitLxLeQHb4Ff0xO8VNrgwK1zbanSWRe2leR/BxFcoZo1lHTyLTzz0rBDM6V1+HXAsDe/A1Pd/+cm41Btg2hJ+mIQp+4ozyJiyh8vtMMRLFJMrwiwcU+DGKAAgtRWFAjZVJEwl9Gm0ztSkO9wYqhLHgpPgAcegr1uoMfwIWrdbBgDvB2FUtucAjsMu4l0EDCLUsUXbCTcQorRoD02y+KeJPl8sIVwiqdlReFdEVJC2XRWoe2BMrZZBnjrN3yx85YkHLD7RIUBlv0tGABSXJTWY4CuEknQG1AgdU6EqY7A+4Q2TWySVBPVC3WdnSTFZjQqrnJ0oTe64oVSdsFEp4wlRlI9hsFCSxs2SaPoFGtW+xOyK+ghp+E1g58Y1tJ9ByxoSiEvnaxBVEOoZX7VjbuIK2NXIEUsse2Yr+J/+gKZlW3N0nnlFMVsM7mWNPn7ZY5buT197Budmhe5bO7Md47aTf8UPOiYz325EzJhB+uIeIHsutATrmrorwVyJiJVJQwje+yjrU0POtc0lMLWkkN7eBkjGi2pQVn5sanm8zcLmFVdL/j3fMGuQAwoyWYKiQ00brLSWllWxDZkjw6/4Z7pQU67ds8Dmtf2yFYyeHG5leenfxKQFiPkxwwSQ4Js1aqL7ZR6Xe5CnINqiSCrzjB6hEvykZEu0WhLaE235Vx9gU/xm2ydEQwQwa1dafCU3OXySS936dGoNwTyFGyPJZWbWsgnuIVB6pOGxQPrCwNXnlg1jLy8Gm4qycZWernTKackJJyyQaOfjxHfUKAK9ghMS2BcF4N3pNH3edomuoFDooHQuOMS+HEKqu6IzXDg3MQ+hIPPPxilcLblBqHHakZtzV8V0+TmjRVnj/PT7uNMZ4tjNoRQPYFJ4BxHXus1uRm99G+vL/bpgbPancXWe2lARCF1axbOWLy81R3qJ0oAQ6EUmv2HEyur3tdJNeV8aTKGz7DEm2MqPjYicEOTabl6WIyQZXQH3AuPeO1KyIq1hKwfBVGxu6dsLZCvq+NCp4w1R0zzupdYj2BPFy8YHWb5Q/rp8YNSx8VaBPBk8yWzildg1vWKPNKzxH2afY9T3WHDSwl3IiirdV0uaVGYYTT657bRpGeB4dcu5e9IXmfxMpUhy4blqmjYkF0IKI01pazqvfq/iJPlU1AXoDE+sFDYw1YwU2DK2NklQMaNyzCHOAcJlAXP+wmVChq23gtE6hzwlh1ILX7Qmb88qmmcOagBq5inn0NZE1xxxrQMF4tMro5Q0Bxt6qSDRWasAbqCJSXxzS4VMYttqHOYyiyC9ZXKZCL0VPTgFfovJshUegKoHTlZVeAfYKqwwHoeCzLL+GQ10pT3TEX46HEOLgbb5HkT5LBVW4jxtiWjT2+mVSLyrsMLjZ8bcOTp/qc7OFbcI6Bb4Flcbhgz3gUMp6HetUchNGy5wOGpeZyoGHnnR1nixyYc1dmUugoMi2VX5xnehqYyeQ4IANs9vL4/iErmeMolH3BTJePFzhbvRNvXfpiVzJNyqn2fESTS3ltCJynegklRqWGzQmO2/3nTJ3yvo4R8vFdkRT77kqN7WLacS+IKcSz0ss65u5JzSF4TKop0SMeClDZ+L8bm8yCmqjzOS3pAFI+XnhhR8KStXBflvTLKhFebKI8a1azPOCXHfyu5ZgfspdNn+XYwdJN78Twx6P+bgJyFPXtMRiEfgEG3w2a1EPuLU/1OYOm8TB/NG6+JFTgwFLGRNpYXZUFsRR/gfKfXWlSKdV8C9tCMw6WXihoz1P9tPuzF9QBjELsQ4zTvrcxyOGk147a81R3VHQ4DcPLwDgoGB+c4ehOKe1TMmsACX2JFO6CLEdwWff82iUiZZ58KNj3lUczqxco4nDYfIFOj+8tHtwpbEr5tQ5nT4TVVUV/QfkOwbmmJLOt6GdL/bkXbJF8qWc0nnyIa85bs8JTrSRVvrPIQ/l8cmSZYOFLBLm6vp1wP+mZRzKjB6p8uSHGC1v5Us6d6s/j9MXV6fQdr3Qc5zJdde1Pk7a7oPKVqa8uNd/0XFb7K2wFN3cQYbwCuZxUMd5VBaZdBrb1sL0TChVn87kAzh1cUFzLzYsj1gXV/H1RcNLVVcX6RsYXBlEeWQZbCswX4Y8rQT+aZ7o6wNuvtfhPr8XnMxE3OROxz4RUtw9xCyGkJ3Ci9TpXH9oe3Y3dAaad4sTnyFatK2dYG89C95er4hnff+sg+SOqZiIAYY3GMwIQ9nAGf1zOpRcBmdQ3L+ikauG8a4Vhef3gwAy/8vEjI/2zJMys9EScrWfFHtvgyR6vJjpOEt6K5tOcFP0WZtw0CN01N4sk023u7xOvrTPgoAkN6I10ljC8XcstvUHltTKVcmTJmQ91Y0MnmASCqs6lJ32iJtoZCaD7E0hGK8gIOeFypjI5IqknJcChbPZR23WmM/bURmhvnWvOMjTDJJcT5kx9Ce/XikAw2Rv60g1wCEG4dWRRGnffriZGt+EmGq2xukEk30QTTrabmgP59hpBwuLJPzWgrZ1AxvZ2xk1VfiAdY2oXyveWVCXcD+ApEuuTM1nOcMuBQeubMqXZEKFU7XF5ICUKB+yZQWQb6W6Ic8RIUk0hUnWi2Z/eUoHqyPyBW7ROHzdvPtLxfH38iDLLz3xYN3o/P9ACzkfs359brH9fNPj5imKfCckCEV5TmqI3Gu/D+ZC/CLfQlafvF0+1CAZqflo62HxY2v989P4m0nWnTgTHyfzN94YtH5T7w+ZbkMQJ/HmIl7hL6vBc+HuactazBDnktZXe8AYW6FUx+slYk9EnQQbXoNc2n8He4MQe+meTKWz6he3KruT++e5xSxBINNRNIWSy1GRZHIZ7ddazgolibaGhASwQrvQxurLg0XMSWCPj1WRSyM0riVJsYCWCiUqXVHMCOHYKl/lpXY5kx8hAB9RnsJgOvqvIWJjCVWW+uXOggokrGlkdKAKFUmkfJwTbmpS0uR6mmdUaNDSDEAqetAq+gSRzGfYRlpfGe91cowFhC8EY3Aj71mvn5lXUwJHs+OIBeMIP85ARho0sx5Ik1pBfCtOqCB/zBkAoQwlhGxROL2i2WDLtKW/AjoLa51FScVvMzgdsKcG2B67JkxL0gOLJONlKeIU4JbxTvoncGxYmTu3tDGDaE6uuQNO+zp8fQOBH8yt8kpM7gz0O/3fOrzC73SWMUTbc9NNI1UDqtZ8rWaUr+MwHl6hhg6tnDGP4VENUZRO2o00FP58xemQHZ2KoV2UfKZgim91lBuj+JT3Y3YGtLtjib0sit3/gQpIDZQ/NAYPRVOwlp7HZTQQmd8MPDsk+ElqpT3CO3wPz/0z23uFCzFc+52qKXt0UKIpw51gkt0m5jCav2z1So2Y4uqDw65WtEzCd76D9RCup5tXYkrRzXt0Hzhse16sAGzeq43n34ZuQPk+vNJ5pHb9xpuf5jm4ms/Rg8Un3SpvD164d8YhkB796xK8e8fMie9cjmnPCK1vVbvVdcIihnFeXNrwbueBKgZd0PMuVWKVpeKhX0j2w2uy/XCDy0LElFLlPFDyHe5WTSSlOQkkh663kjiXjBxEhBRvupHXSd9FAt/J3XbeWN2/D+Rwwz8DGnS1Wv3NrQbqS/dvbHWSk3Bcr0o0X0sexFAkYuE7B2QVAYBgzDZdDpMzKAY7mFX4xHN3gEq4qS5tyoecn7fFywQOpNCXIydgmEbpEhOzIvAgO50L4LW4uzcRD5/EinjYFy0pt4viXLLW+V8w6LoTdcqfjRW5Fl1bnr7r8a1LDOyBWJse5KO75LOoBeTHUOGGoUCgsvAQalD+2sriPeud6kU6F7dP+lNR5RzvuIIbt2MN/Lan6E1MEZuq94f8BiBQsGg0KZW5kc3RyZWFtCmVuZG9iagoxMyAwIG9iago8PAovTGVuZ3RoIDYyOQovRmlsdGVyIC9GbGF0ZURlY29kZQo+PgpzdHJlYW0NCnicrVXbahwxDH2fr/BzIY7usqEUkjbJc8tCP6BtAoUUkv4/VJ6LZ3ZnQ9LSMbvjsSzpSEeyM3EdnwQxLvLm0yulb4/D09AkpIqJGTA9/xi+vku/Yl0yWnt01D3+CkVMbXy5S9Pk+WG4vOP08Hu0V9ASglozdz+uQNs6TWJrexlSkmnD9WG4vJUUC4f7MDxibS/kdHgc3oNV+pAOP4ebw/A5xtOAJHkMhBID1YZNEzFEJA65MJO+PZIZ9wzCsx6hUMEsygHFVSY46DbCkexGiNosHb6nENyWWUBUhSOeWUDlahaoAwv3dZN5nc0ra1ewikvEL+GywFWEy4pLEV5Vsgyotglm8UQZoXKFjo3BZ2ziIr6JRWcFB62V/S8wu2cBC3LOYZ6oDdZDHgUZXFYqGY+o5PG7mVtmF1Rgmr+xKGGquaWQdPLXaieozPY37nKlsLn9D9f7xRWGQEk16oWtJHypOc53w6QKcwXWOmbNskv1YnJKmmfUUqFXJvtaaFFmKqclG5bMStRzp/kTn7B5AsiDHAkVXWHJzc3s3ZQJubtfWPZMhljEVwEtGmxoVVYBLxpVSaiXpfrHURAksNEGsKJsNALdqfMlEj2bWqtTDAATopKtiPDaqreTFYTsTmJQ9zk/ccxljaHqxtKyn9HUBfckqcb+2g2tPdrIJupZIl3SFz3tBP6a6/m8eTEVVkv0bE/GSqiXqgV5T6ioRzXintCCcZz4nk8Xss3+TmdAljg293RGIcdpKq+6Xm6JXZbwSmdKo3ddrYPCcn0+PNCep/9wKh1fMPtbDqIf9vfc3mz7MYjl1nT/cvw0U862HD0ttD/aHaxVDQplbmRzdHJlYW0KZW5kb2JqCjE0IDAgb2JqCjw8Ci9UeXBlIC9Gb250Ci9Gb250RGVzY3JpcHRvciAyMCAwIFIKL0Jhc2VGb250IC9JbnRlci1SZWd1bGFyCi9TdWJ0eXBlIC9DSURGb250VHlwZTIKL0NJRFRvR0lETWFwIC9JZGVudGl0eQovQ0lEU3lzdGVtSW5mbyA8PAovUmVnaXN0cnkgKEFkb2JlKQovT3JkZXJpbmcgKElkZW50aXR5KQovU3VwcGxlbWVudCAwCj4+Ci9XIFswIFs5OTQuMzE4MTggMCA2NzYuMTM2MzVdCiA2NSBbNjUwLjU2ODE4XQogNzMgWzcyNy4yNzI3MV0KIDg0IFs3MTguNzVdCiA5NSBbNTk4LjAxMTM1XQoxMzcgWzU4Ni42NDc3MSAwIDAgMCA3NDIuODk3NzFdCiAxNjEgWzc0MC4wNTY4Ml0KIDE5NyBbMjY0LjIwNDU2XQogMjY1IFs1NDIuNjEzNjVdCiAyNzAgWzY1MS45ODg2NV0KMjgwIFs1NjIuNV0KIDI5MSBbODg5LjIwNDUzXQogMjk5IFs3NTIuODQwODhdCiAzMjAgWzc2MS4zNjM2NV0KIDM3NCBbNjM0Ljk0MzE4XQozODEgWzc2MS4zNjM2NSA2MzkuMjA0NTNdCiAzOTUgWzYzNy43ODQxMl0KIDQwOSBbNjQyLjA0NTQ3XQogNDIxIFs3NDEuNDc3MjldCiA0NTMgWzY3Ni4xMzYzNV0KNDY5IFs2NjQuNzcyNzFdCiA0OTMgWzYyNV0KIDUwNCBbNTYzLjkyMDQ3XQogNTc1IFs2MjAuNzM4NjVdCiA1ODIgWzU1OC4yMzg2NV0KNTk0IFs2MjAuNzM4NjVdCiA2MTIgWzU4Mi4zODYzNV0KIDY0NSBbMzYwLjc5NTQ0XQogNjUwIFs2MDkuMzc1XQogNjYwIFs1OTAuOTA5MTJdCjY3OSBbMjM3LjIxNTkxXQogNzE1IFs1NDQuMDM0MTJdCiA3MjMgWzIzNy4yMTU5MV0KIDc1MiBbODY5LjMxODE4XQogNzU5IFs1ODUuMjI3MjldCjc3NSBbNTk2LjU5MDg4XQogODI3IFs2MDkuMzc1XQogODM3IFszNzIuMTU5MDldCiA4NjcgWzUyMi43MjcyOV0KIDg4NCBbMzYzLjYzNjM1XQo4OTkgWzU4MC45NjU4OF0KIDkzMiBbNTU2LjgxODE4IDAgMCAwIDgxMi41XQogOTQ1IFs1MzkuNzcyNzFdCiA5NTAgWzU1Ni44MTgxOF0KIDEyNjIgWzYzNy43ODQxMl0KMTI5NCBbNjI1IDQ2NC40ODg2NSA2MDUuMTEzNjUgMCA2MzYuMzYzNjUgNjQyLjA0NTQ3IDYwNy45NTQ1MyAwIDYyMy41Nzk1MyA1NzEuMDIyNzEKNjE2LjQ3NzI5IDYyMy41Nzk1M10KIDEzMzkgMTM0MCAzNjIuMjE1OTEgMTM0NyBbOTM2LjA3OTUzIDAgMzYyLjIxNTkxXQogMTM1NSBbNjMwLjY4MTgyIDAgMzU2LjUzNDA5IDAgMCAwIDQ2MC4yMjcyNiAwIDUwMF0KIDEzNzQKWzQ2MC4yMjcyNl0KIDE0MDMgWzI3OS44Mjk1NiAyNzUuNTY4MThdCiAxNDQxIFs2NTkuMDkwODhdCiAxNjI4IFs4MTIuNV0KIDE2ODEgMTY4MiAyODEuMjVdCi9EVyAwCj4+CmVuZG9iagoxNSAwIG9iago8PAovTGVuZ3RoIDU2MQovRmlsdGVyIC9GbGF0ZURlY29kZQo+PgpzdHJlYW0NCnicXZRLj5swFIX3/Aovp4tR/MA2SFEkAomURR9q2h9AwEmRGkCEWeTfF87xTKsiJejD1/eee/zYlKfq1Hez2HybhuYcZnHt+nYKj+FtaoK4hFvXJ0qLtmvmSPhv7vWYbJbJ5+djDvdTfx2S7VaIzfdl9DFPT/FStMMlfEo2X6c2TF1/Ey8/y/PC57dx/B3uoZ+FTHY70YbrkulzPX6p70FsMO311C7j3fx8Xeb8jfjxHIPQYEU1zdCGx1g3Yar7W0i2cnl2Yntcnl0S+va/cZtz2uXa/KonhOslXMpU7RK+QJqUkwzIpqSUdCRZUBYjHakieVARc2ag0pLylZSM8wrSgbQHqYxUgrQhVaQ96QBKJekI8g5kJShjpEUPKmc9ix5UQS0WPaiozKIHVUWizgM7stR5pDIHz7ShEw6e6ZTVHeppS3cd6mlHBx3q6YwVnCMVJHim8xgJz3ThSdCiS3bk4JKu6IuDS/pIJ1xFivPgkpGR4JIxzOLhkkmpxaMH45jTowfjqcWjB5PFMfRgijjmSPTFowez57r7jERfPHpID1xpjZw2jWsrSdQiI1GnNiSug0YP1rKCrkhrFi0VI+3h3yw+ZilJJQm+2Lg/GelsHEN/Lo8VOJZzNQuJoxXPkH0/Ue8nUHmIVJ4KLHaJ5d62igtkKEtpfqSLhsqV40duVQNrLZfLmqguiwpYcz3n6330cYk0b9O03B+4tHBxrFdG14ePe20cxnXW+vsDYWMtCQ0KZW5kc3RyZWFtCmVuZG9iagoxNiAwIG9iago8PAovVHlwZSAvRm9udAovRm9udERlc2NyaXB0b3IgMjEgMCBSCi9CYXNlRm9udCAvSW50ZXItU2VtaUJvbGQKL1N1YnR5cGUgL0NJREZvbnRUeXBlMgovQ0lEVG9HSURNYXAgL0lkZW50aXR5Ci9DSURTeXN0ZW1JbmZvIDw8Ci9SZWdpc3RyeSAoQWRvYmUpCi9PcmRlcmluZyAoSWRlbnRpdHkpCi9TdXBwbGVtZW50IDAKPj4KL1cgWzAgWzEwMzEuMjUgMCA3MjMuNzIxNjJdCiA2NSBbNjU3LjMxNTM3XQogODQgWzcyNC40MzE4Ml0KIDk1IFs2MDcuNTk5NDNdCiAxMzcgWzU4NS41ODI0XQoxOTcgWzI3NC44NTc5NF0KIDI4MCBbNTY2LjA1MTE1XQogMjk5IFs3NDAuNzY3MDNdCiAzNzQgWzY0My40NjU4OF0KIDM5NSBbNjQ5LjE0NzcxXQo0MjEgWzczMy42NjQ3OV0KIDUwNCBbNTc0LjU3Mzg1XQogNTc1IFs2MzAuMzI2NzJdCiA1ODIgWzU3Ny40MTQ3OV0KIDU5NCBbNjMwLjMyNjcyXQo2MTIgWzU5Mi42ODQ2M10KIDY3OSA3MjMgMjYwLjY1MzQxIDc1MiBbODk3LjcyNzI5XQogNzU5IFs2MDkuNzMwMV0KIDc3NQpbNjA3Ljk1NDUzXQogODM3IFszOTYuNjYxOTNdCiA4NjcgWzU0OS4wMDU2OF0KIDg4NCBbMzc5Ljk3MTU5XQogODk5IFs2MDguMzA5NjNdCiA5MzIKOTUwIDU3NS45OTQzMiAxMjYyIFs2NDkuMTQ3NzFdCiAxMjk0IFs2NjYuOTAzMzggNDgwLjgyMzg1IDYyMS40NDg4NSAwIDY1MS42MzM1NCA2NjUuODM4MDcgNjMyLjQ1NzQgMCA2NDguMDgyNCAwCjY0NS45NTE3Ml0KIDEzNzQgWzQ2NS45MDkwOV0KIDE0MDMgWzI5NS4wOTk0MyAyOTAuNDgyOTRdCjE2ODEgMTY4MiAyNDguMjI0NDNdCi9EVyAwCj4+CmVuZG9iagoxNyAwIG9iago8PAovTGVuZ3RoIDQyOQovRmlsdGVyIC9GbGF0ZURlY29kZQo+PgpzdHJlYW0NCnicXZPNbqMwFIX3PIWX7aLC2NgQKUKiJEhZzEw1aR+AgJNBmgByyCJvP+Yc2kpjCdDH/Tu+vo6rw+4w9LOI3/zYHt0szv3QeXcb77514uQu/RAlSnR9O6+Ed3ttpigOwcfHbXbXw3Aeo+1WiPh3sN5m/xBPZTee3HMU//Kd8/1wEU8f1THw8T5Nf93VDbOQUVGIzp1Dph/N9LO5OhEj7OXQBXs/P15CzLfH+2NyQoETqmnHzt2mpnW+GS4u2sqwCrGtwyoiN3T/2bVh2Onc/mk83FVwlzJNiogfkAKZlJSSapIB5RuSBVWGtFkoSXJSBVKvpD0osyAjQTltRoNKZjGokNTMYqFMaVa3UKZSZrGIU4Z7sNCpLFVbZFFlRoIytdMkKFO1JO1Iqyd0arlSDUqpLEN1bZklQ3WdsV6G6jpfbaiuy9WGLulXqs6gJd3vQQpxJqFNWxL3rnOQoadEz0zGnqmKVJGg2m54fkqS2JdSYhTWM1efE/A5MUYivUnYDc0qieJPbkDrNQWDlsFaLsDX1LZ378PA4pZgUpcZ7Qf3dZGmcVqilucf80veTA0KZW5kc3RyZWFtCmVuZG9iagoxOCAwIG9iago8PAovVHlwZSAvRm9udAovRm9udERlc2NyaXB0b3IgMjIgMCBSCi9CYXNlRm9udCAvSW50ZXItTWVkaXVtCi9TdWJ0eXBlIC9DSURGb250VHlwZTIKL0NJRFRvR0lETWFwIC9JZGVudGl0eQovQ0lEU3lzdGVtSW5mbyA8PAovUmVnaXN0cnkgKEFkb2JlKQovT3JkZXJpbmcgKElkZW50aXR5KQovU3VwcGxlbWVudCAwCj4+Ci9XIFswIFsxMDEyLjc4NDEyXQogODQgWzcyMS41OTA4OF0KIDI5OSBbNzQ2LjgwMzk2XQogNTA0IFs1NjkuMjQ3MTNdCiA1NzUgNTk0CjYyNS43MTAyMSA2MTIgWzU4Ny4zNTc5N10KIDY0NSBbMzY4Ljk2MzA3XQogNjc5IFsyNDguOTM0NjZdCiA3NTIgWzg4My41MjI3MV0KIDc3NQpbNjAyLjI3MjcxXQogODM3IFszODQuMjMyOTRdCiA4NjcgWzUzNS44NjY0Nl0KIDg4NCBbMzcxLjgwMzk5XQogODk5IFs1OTQuNDYwMjFdCiA5MzIKWzU2Ni40MDYyNV0KIDEyOTQgWzY0NS45NTE3MiA0NzIuNjU2MjUgNjEzLjI4MTI1IDAgMCAwIDYyMC4wMjgzOCAwIDAgMAo2MzEuMzkyMDNdCiAxNDAzIFsyODcuNjQyMDZdCiAxNjgxIFsyNjQuOTE0NzZdCl0KL0RXIDAKPj4KZW5kb2JqCjE5IDAgb2JqCjw8Ci9MZW5ndGggMzQ0Ci9GaWx0ZXIgL0ZsYXRlRGVjb2RlCj4+CnN0cmVhbQ0KeJxdks9ugzAMxu88RY7doSIhBFoJIXVtkTjsj8b2ABRMhzRCFOiBt19i005apET66fMXJ7bDY3kqdT+z8N2OTQUz63rdWpjGm22AXeDa60BErO2beSU8m6E2QejM1TLNMJS6G4MsYyz8cOo024VtDu14gacgfLMt2F5f2ebrWDmubsb8wAB6ZjzIc9ZC5256qc1rPQAL0bYtW6f387J1nr+Iz8UAi5AFvaYZW5hM3YCt9RWCjLuVs6xwKw9At/90sSfbpWu+a+vDVezCOY/j3JGInonOSMUOKRGeIlkQRUgqIkJflNAtiULaKaIE6ZAS7ZEKTnTyJPmqFUgx+VLMIBNJJJFSypBiPrlbNcwnD6uG+ZQgkoqI/iB3SCn9Lzp6SvaCiGOp1pqIe4XuFVX87MOUoJfLezTpvsZ+Fh4NbG7Wut7hwGDTfLt6DY+ZMqPxLr9/ASb4rjANCmVuZHN0cmVhbQplbmRvYmoKMjAgMCBvYmoKPDwKL1R5cGUgL0ZvbnREZXNjcmlwdG9yCi9Gb250TmFtZSAvSW50ZXItUmVndWxhcgovRmxhZ3MgNAovQXNjZW50IDk2OC43NQovRGVzY2VudCAtMjQxLjQ3NzI4Ci9TdGVtViAzOC43MDczODYKL0NhcEhlaWdodCA3MjcuMjcyNzEKL0l0YWxpY0FuZ2xlIDAKL0ZvbnRCQm94IFstNzM4LjYzNjM1IC0zMTkuNjAyMjYgMjU4My4wOTY3IDEwOTAuOTA5MDZdCi9Gb250RmlsZTIgMjMgMCBSCj4+CmVuZG9iagoyMSAwIG9iago8PAovVHlwZSAvRm9udERlc2NyaXB0b3IKL0ZvbnROYW1lIC9JbnRlci1TZW1pQm9sZAovRmxhZ3MgNAovQXNjZW50IDk2OC43NQovRGVzY2VudCAtMjQxLjQ3NzI4Ci9TdGVtViA1NS4zOTc3MjgKL0NhcEhlaWdodCA3MjcuMjcyNzEKL0l0YWxpY0FuZ2xlIDAKL0ZvbnRCQm94IFstNzM4LjYzNjM1IC0zMTkuNjAyMjYgMjU4My4wOTY3IDEwOTAuOTA5MDZdCi9Gb250RmlsZTIgMjQgMCBSCj4+CmVuZG9iagoyMiAwIG9iago8PAovVHlwZSAvRm9udERlc2NyaXB0b3IKL0ZvbnROYW1lIC9JbnRlci1NZWRpdW0KL0ZsYWdzIDQKL0FzY2VudCA5NjguNzUKL0Rlc2NlbnQgLTI0MS40NzcyOAovU3RlbVYgNDQuMzg5MjA2Ci9DYXBIZWlnaHQgNzI3LjI3MjcxCi9JdGFsaWNBbmdsZSAwCi9Gb250QkJveCBbLTczOC42MzYzNSAtMzE5LjYwMjI2IDI1ODMuMDk2NyAxMDkwLjkwOTA2XQovRm9udEZpbGUyIDI1IDAgUgo+PgplbmRvYmoKMjMgMCBvYmoKPDwKL0xlbmd0aCA2MDEyCi9MZW5ndGgxIDE3NzUyCi9GaWx0ZXIgL0ZsYXRlRGVjb2RlCj4+CnN0cmVhbQ0KeJztPAtYlFXa53y3GXDCAWaAjGwQAjRSEhDa/BNL9yejloqMNVSQq4g44GgkXmYRk8oLKREh3ickb1zENMUiBaREY4PfyJ1atoftd91Zmwx1gJkz/3u+GRRNE8uyf9fz+n3f+c4533ve+3nPGR4RRgjdhbSIRVF/eG7U6EUlnvMRwi3QGvdc9Pjo7zK/mAjv+fAekTA7Xj331PKDCDGB0CakxM9VQ7scrk64pCnpLyevYWuVCLmEIeTRlpoUn/jgkXj6fRT0j0mFhqHn3abDewC8+6TO1mSfTH/oKEIPyBAaMil9TkL8t/97HubmAedd/rPjs9XCTizAWANcqoz42Um+T//31wixgB+fVM+ZqyFBqA7qMtqvzkpSpworlkFdD5dkP7Yuq+RWQjfCVisaDE8krEWFSIbUSELf+hUe3llblQRSnNco8IVjuSUGoXu1Fzu6ujzTrsKBhDViC8t9OcF9ozB98Njz6J5BYo/+3MF76PPL56NOXuwwL/RMk4kfIOYSboyk4ptCvPsg5qWUVA0ejNDc9AwNlkM/B32URga74wJ41NK5oB3eKQrrBbhxkpHQxwP7vkIJvLfanuwpVMfCk0G8iAFxWtTHr608+9xTzwHfKpWrjUfHcqYcyNpoI1NKHyokE7+1fakQ56ZPDp2DpwdYAgsDVeh+NBw9jCajKWgmSPpltEnlCvKn33sjfxSAwtEfUTyahbJsPUImiN/1CmWc+3u4iNtNxDsaTUNxgGmBvfdJ7qwQy+fwz/AL+ad4J34wL+ddeFdewbvx7rwHfzf/OFA5Hj2BotF09CpaiTajBuyAnbAH9sYP4HA8Hy/Ci/Hr+G38Dm7A/4P/hU3MOOb3zLNMIrOMeY0pZLYxx5hWxshcZCXsI+xENoHVsEtZHVvOVrHviWQ4osVUApwD1AtQk72Oof0De51BTqjSXmdRoOhltM6hISjZXufRGOix1QVod7PVQe8ywGSry6GG7HV3EedzKB0kmIE06AWUBFJOQalQf0JsSQK5PoiehWcKmieOywJd0Na5MHIOjFGhIDQSZn0ItPQIjJoJXz0I7/EoBNoCgaIkuM/oh091Fb7+3z8L1DwF1yM/Mv+Vb5fHPQ70UAvJusSDCrQdKF4q0F4qjFJdQUcU3OegNHhLEEePB6waGDdH5E8F9kWxaADrXPQ7NArAxl8qjJsBVCfAyNnQSkfPhmsU9PZhH37JAO+9rfDiVVB6TWi6Jvz1F4AuG+DfDRCeuUUw/TcCuZdg0zWg4prQchWcGSgwAb8iRF8BZUz79YAd/iPwyHUg/mfCyzeANTcJ5deEC78l4IKvgFnXgXcHAH//ucA7XoLYa0DugGDDLYIjV8GffyoIDlfAqBtAyq8EZdeAxp8OEukNYeSPQvTPhll2WP0DqLoEp+7AHfj1QDr6Z8IsqVZaI61xwA5eDtMAKhyOOA53XHALYIPj4f4waDJAXD/IByi2wzsA1deED38ynBp07laBTHIHbgOk/ZoAe9sIhCT+UrihQQjFe2EK3thL6YUjiZkxYsQYidlSKreYOY/e01JkQkKtOVEP+1gTQkI+fOkKex0/hOY6e43m3JQKQZAohzLw5Lzv9xo9JiTY19fbKwRqtOrtZWKaT2K3/KlvxUz7QLuCfHaOKLDh++Np9a8QKW5W751V20wCpGjtxaK8nYkeCiG7Y0vJhQL9oeWpVbPaYzalLz9ET1nKrZ2SVKknuh+h8d4jWe9hHOMsd+GCRj/KhAY5MZy3CtEGRElyk6Sa3Gavq00+QFqrqvCDB5Jr1812M3kW6sm360gPST1zBhdjYR121hfy2llb5oTVkjXkAsCa2rA5W9PWm3ZNwQi34wkA7RhN2XUR5AbcS8Kl9PxASeXm7KXiXJzlDAc8+7iEBDM+3l6s2pLPFOIRuPzrThJpicBqgp/WbSEfGIlGis6TUHKY1JGgi/p6nNZjwikfUc4AL68HvINEiSq97JeJazP7sKXmRNYgRXpLpN4SobeProfRDv1Hm7hmcwCbbc63jTSn90lsIUjMHyTWX2BArDuoR6mwCy3YxcUniErNXVB7zVp7YM575GRlNQ78oBLf9VakpZiVfU6WdxEjSfr7UiOOaNiC7/6y0JPXJm3OGntZbm9hZa1cr7eQ147bRPc9XoZd1sRXnX/TRrUkoI/HIGcvuLzhbjJxE0ym3lopMqvZAhNiC4F0cTQ2SsXTqvEwDhtN1Aql4mmbxtrJI9EG0fggZ8rDMB/fkCCFm1sQNThOaiogPdXlpKeo64Xi+FlFf5Cinoh6cnZVTuf6F/4UMaViiV3mQidgkdnoCQIXoP+AIA+2GE8w69hY0mYJs8JMZilrMif2lrL7SYcl1a6Bcik9ebTxojSZ2P1AoF5vxyxtgd7BCD3nhQExMOAN/gV3E/Zn9nsw+7H/aYVF22HRKsC7umMFHXiYottALzsGSZRNVuOdxQ+BviBnSZSxV6cwGbk4heiTEd0waXeNEElP9qiu94OuB6P74Cs5g7z63EGFXFg52GY/9Uv2nyGp4AaXHAGg+IyxirQe6HOYA/jBKg6RWuJvRf09wYqIP6nFjjij9rLqa3FGn0wTgW53e2RwES3sUiCASOBsYmq+w0GFa8mJb4kcn36n6cUXP9lGIqVoFzm1dy9pr9BnHcnJOTzHRKNNuTVc5EkCGCHajPdydcderB++AXdsB5Z3jsXRxNgRxiwcEKeMlrRFkbE4IJKNuBmexZgg1Ig833N9rqlpAedGHFxYSE6ctbQw/rqPX4z9pIxEMs3YRDqIXIq2kk6QwOmNHXFVOTn7k0x6tticyhYDJZusepCrJwoCGfgCq4KgVAxl3N2Hskq7+ft5DWWC7PP5+fmikGCbR7vzMS5WdCD/WOYfFuY/3BLVsHf+LrLXoCcf7pNh5Phq64JVX+dlHUg3G8npg/i/6htx8F5eQMXlMSUznp331EODw5STljQWlJGuDatIueatJ6ZuUydro4ZGTMTo050Yr17ZtY5qPt++LkjA5kNoPPJ2zheQZaFJ4qPXm/QSH2odVr0kEMYo+/ktEwL+0+e5QpipgZR89x0paTDlnd+x48JS8Nyaz8i+Q4fwE5/xkT1NRf9YtuwfRYDr8gqGxlMXo64bycR5MHGYs8ityALy7J4g1PbFDDpeaouZNp/EQGEE9mTCPJgw7GnxhPhinsDW9kaaa9hIMXYCR2H2KBuCabSEBbKGi+rV8Xm9lVxsjaDW13QX6KkNFFj1fKyggJVpDEITh/n6hgTDmvQoE0JXv2GCxO9RUA6sj87eId5OjB/lNcSJlTjBiunGlK45uyJ1d+usFRXPbN76bp1fx9iPv9VM+mhvtkHmoT4wY8VHCYOTlub4xm6M3+czp7Uo751po5xcXEc+LC3UFUZHrVg/zjv91D6zrGV0VlRbxu64dpd7lYN5WcjMKTmLRPu0dggTpPQ83tce6SgxdiMFUv28la4KF6oAuoJRchmTQTFkakXRYexfVkZO1RVWxw3x5JLrVxUeTUo4WlRQDy5ukfkvSjhMSs91kXVHEpaMMLBoN7n45no8SLcF82+/QSxUhgXWDl4HclFRqYCu+4zS21ecR2mbd0xokCBwbEQ7aSrfhUNbtmCuTGG45/3S1z6dm/npitiiVDeDYj2xqppx8jdncMqx7PaCmVtXE8vuamJaE54dnf/FEpsWOsRVVOT08nywqgXRxcYu+ktc0tlZzzpyqqwM+x8uqpg6RGHo9BwSV61ZVZ+cWF9QdDQh6ajqCE7qOocTDycs8me6TMgwYklC25vYYfdOzL7xNundoiPn19s5bQdOr5rZRakEywkW2RWUSruhh7o7MWzsV+TDXZTd7DN1Wb1xbGXKIe3K4xkvt6+e+lbG0E6f7T2qBpxgMOCZx6L2kFOfJzbnNs9//asl+bu/WxQyKypcUxFvy+TYFmkcxEoFeAJM5uocPGYMTO0uESdVOrN55nrTwsaMFzLumeAyLmheioCamnqQ0JZXGeMpaxZc5md1J1LpWTbxetGGQwATNYxQMaSEOIPcvK+QZgi4LCisL7yJsnRzYyfsuLA1sFY1Y8frB84phkyvKjpAvtghyrZq+hCPzj2kta6fZC2bXlgZlTdi9jM1dThsRM70ShxlNODpH4Ggu7rbGrvnsZG5XdvLSEGxFZVuOv86tad2+7rrZssKQK0iry7gWM6ipwm43mBQjPli73rDUsOhbZp9M2n6BOYqf2nlImJtNAeydfs+nlFL10tAaJKGg+QG2/yCHQZuS9FBGttu0ExMSJgIl4B6IMhMe+yxafSC0ZSGNin9Yc0ROQEdbJCYPNM0AIdiXMMFMpuwjyVYQRQGptNSXs7omUDsw+y0BJjb6LLNmHTmRDs3uL5fjlNvuJzjQJ90v6gNSpvSxqe7+EDOfdxeZlvp3N6pCDxZVHzsYfkjhndOYMFwYPGWauP2VyBsCMiY8+qrOS+tJFbyXa+Z47avOfKm2YPzXLp5xq5Mc3ifZIthvj7JKq8l2U7FGP3u0jO5hlpdZlUylSygnrd6CbHWU8HuPQaCtfmhAOmMLRPp5/diyPmBB0a0kKMVFfjhlhb8cEUFOdqyoXnGjOYN4l3ViBPPGnFyYyMpMZ4lpY1tW7C0pAQ76nTkQkkJMW2h87Vb6gQfkXbwvuco7VdHOGf2qgjXDo5+VYRTXBHhLHXS8K4rQ5y5jQ+/RowDybHtggfNRvtpSul7SS/yEfrXhjytkD0/Sl2RJKDTWasYxsjeNXVrqjkYvi+EyBEM1I8AyUtGMlStCjd3dzc3cTc1zMcvVAwa4Gl+99OFheLneI82xVN5KSsPavM7T3zyFjm355+keXiHas8b7xxRa6yotWGtdUsn5rnysSFJj/0pISZ5WNjo45vzWrKb68MWLlyZEDX7nrGjWzfmNmU1gQRjrAa2QKIGS1Tao0jfohzqLghUhiGsxtx52vDI1GC/0YMDPSY/lvjhIhpIsLonIjHBy4Ftc3CdXPkKlYfVwK8Q7D5Kc3xvEYN9oafhj9tkMMjHdO4u6NAaDq2N2beI0bArehDm5m1dgnE922IOL2+acgBwxYFV1gn2VR42qLBw83WWJqOlCbKzcjkup94poN4wrsk2WlogiHl3PIzsA5p6M8EkwIQj5TjCjCfIcaSJBJwmlR6kEj5O5Yp707nCHsSV9op+mQ2zZgu27BvbtwXwD+djNYAc0lYjbIUKAIz4NPGANGcFo7EgC2KiLTtZ6s5Ai6VOpNxVjKWgQ4j6odiWeTgxWD12msvYyXkpDwRcYgUjiyYgd4elztWhxU02c162IKV8dateWi/m95uskFs70GgRapMsvslMkA3U4bybTwatEOcugAZuLiUU9yOQP9H9yL22KADZuRgF6IbZbzR9gIvQVjdW/TU5XP4uHtfRgce9W04Of91hymwt/KpH3ep5EX+On8aR+PPubjKc1JBqMvyiHlfiAsjG59eTJ0kmJOMrDlOZ7wTh6Ow5objlCsGsziQjMgaJ2yUzqTHjaDqyDTTcAbTdJ+Z2kKf1rdDelyKVwEiw0kvZxuheKnkypXrO/IrphjJ8354a7LbhmaOVJJjdX8N05n60Y1r6hsnxu+fVYHlxMSEbMj8n3YeIQi7uBFtABmNteftEqpqgy6rx9g4JuryAChLvMWNENcHMEqWbGLvY/EZybK/ULM0+PD+vWaNuL9XpFrw/M3ZbZtrB+bxReA/7VX2A5Wv2rjt8ai9p8sz/fnPC6qdjdemZu2boYzalp5ZMfuqN5M3f57/d88aurlFyFbl4ZBu5WEytSQcLWLqY3dJdaghsLr0pu9iZuqmOzStMtMRwtRazAeua+QJS39ss15NY/PV0/kOTGPVgDw4pM/Lp48yewlOj84WE1xX2AKwYC21xmI2uJN9slxqd/rZ+cUPmvOal0xrDTy/k/M3lEbJxH6TUYr93K8gJzxVdpa/vnf/p0ldaF2D8yEhP1qi36EY/tod8crSeHK+ilNdYvxb8QaZeaDTMPZKhFtQ/rURsv/Dvd0nETrYcZeFic8vi5MPYdddOfNf2u7uG1W85S77F8rB1tTMrsU/ldnL808Ufz8tsWDxdl/P7uR97MrF/wS9hTyzH72Cvole7Nr72HplBXnv+5ccqyPHGD0jD+18tbstd8ueFT+Zui13QlmvbC4lZioTGoRBx54AVbGFvB68yqyVgGqdNp6kf7wDr8BStcBQaZ/ORUF+IEyG+vvC0sWQ7WHMXbKyEiuuD4C64uble+comniANlRin7lWv3Y3xJnx3TTX22IxxRcGc6jSMq8jR469/koHx/GO5S4/Pw3h284qMHTMwjtueOXfnNIzjd3quxWxZ7pdvKmS+1q2lF1atulC61eorU7z5ZW4ZsazVT9FlaKqTk6s1GbopbHPMhrTUdc8/vy41bUOMqJVO0Mp9Nq2MH8pQ97bHI9E0UP8s0l0MW7TZ5npsHNVKykfkX7t2ku93eHR5NWz5F3aVh5XUplWSv1S8i4Na+itF6omnfUFeI9+Qb8kfyVdFr57fsnIf3oAXRC94rAIHNdbihw/8dVGrVvvnnCeXbnsx+zPQCg4gcWw2ZMpyejri4hokONL8w8Xdm2FwQMO+lohF00JiS+Na9jWwcXgBk4MHJZC/km2kYM9Z4kZi8/AgJodafh6JY1r68DCs95ghwAPD+AW5uDAtV+Ehr1iWkfMJEPP/iDOrz+IzWJdHzluWUTvOt3Q61Etq0NNoGmBS+diOM3y8VByipmtbdv3onmUkK24nx/Sl3pcyGboAcIiygTivvn1Fv6BCZcxryAkygtTptuFx+GOg5G68Dd+72nPKwY2/L8+VyTwSNmblNi57PGr1R+pEXZqTrG3alOTZw59Y20FaP/wnWUksy5djB1j7UMZJnU/Yo0f/duqVsshoXXbW5ucnlFg6t+EJ+CQehe/HJ/Dj2/eRj8nCE2+Qk93FAcmTf5f6KMfPev/8quUd5Ukyx/ufCFCbs6O1K7BP5yuY79yd8Ab5J5nXayUaYlw5YrRs/5DgYaxn+qmy8trIlxo02r+9brWiPCtiWhyQIOHHQma8if6dHAqE6FUnZs70BNu+3uNQLwm2P9k2HNVEKnsLVbxJ1aMXX4ievogZeFhTk6WJ1nhIYUCn4aSZ3SnuosQ8g91pSW9nCqVxF9IdCqnOm1jERbB6sR+yIy7CrGX1enoWC0289nIPr+3p62li13ARXEb/b7gMsacWVqQw7CHmFxKBEWO/S2goEyZ3njjJo+auEQ84ybBHehYxfzMh/DPMLlfb1hIjfBVDzysn9tupCDhvUlrapElpDz0jp4+0SQ89+xD9O0MZThWChQJRRrZ8AQIRG9hhNvP+OJX372lnfDo66Bmmwdop5SAOOUMkeggi0eMw3pZnQhJKp6CWGKoU7c5+ooFv0M+CHrjTU/docyunvFilza2ObY5Jn/lCdPrMF3vDrtms5bWdPVqsTVcfzMw8qLY99OlT166dSm/sset0dHtTPToa6TkchFw13RH/ZxaJv00G1yvgL+UDxnX6x3H1L0LhwMfeziJorqRTGjBweQykSH1+W3JgbkKH/wmFNyHN1W2SgIHJSAgcuCwdmm7ghxG3Xi+wdt1SW/6tFMF8fVlRniXSm5elhBOziJsuEjnN7AdepDeIx790+blroSTql11LhY6B26wQjAp+SVr+Pxeh7fp2JvjcnNwA1y2Rs5B6+/XFmn5ov0LNwOgStPRc99YUpvS3FZt584/zBvTeMt4HWhwKrj+noP559MAe6Lbb4q0sYMMDkgfn8evrkRa+DhX+XBwcQjE/9Vsh8fbwfQUNKvprxOUiNV75fq3CG+kvDz+O5065U+6UO+XfpfzUvditKnQPwnuinUI5/U1Q/MmmBfZ5OqHStoYIelQjRKB8oQntoPXbSWtfYc04gDWjvOv1O0ba9qnXGyMY6fk59BtQeP92Xo6axKd24LT0ffNrFlaBalkpavm1571RkYSL/5fBnXKn/NsXyGcNt5uGW11YD9vz/wAQviKoDQplbmRzdHJlYW0KZW5kb2JqCjI0IDAgb2JqCjw8Ci9MZW5ndGggNDAwMAovTGVuZ3RoMSAxNTA2NAovRmlsdGVyIC9GbGF0ZURlY29kZQo+PgpzdHJlYW0NCnic7RkHWBRn9n8zO7MrQZqwEEXcBVzUxEY3njFY8OQswKJiAaUjStFdFRUUC2JURCWgIIoaRFQ0NgzBeCHBEonljCWeQSK5GBMTNfHssP/em9mF6F1yZ9SoufDeN/OXef/rf5kZAoSQliSNsMR/qLqr66ywVJYQOIq949RBPkHXp/+9P7YXYrtfRHxYkg8zQEII8yr2kZgwTRL2W+D1FV6ymInTo1Oc/3qSEKt+hJj5xkaFRXauChPG++Nzz1jscLglH4ttHE+cY+O1yew3L3cgRLGEkNZ+ExMjwvSd2AWEcPaoVIf4sOQkvhR4pP0eL0VCWHxUx46DthPCCvKvJSVqtNSNVGLdVHieNDkqKZZfko71Gryk5aBP3yHJFFQFvZ6YY0n4bPIWMSVJRCq0HgAO26yhSrsJPH8GcIRJiS6YkLZpdy7evGkf9288CL9C7GElF4LLZtqNNf/TLdLmJfFJzY19bYTywjD/s3cuNqTYx5mKAwjTxBuITGxZi3dnwkyLidWCOSGaiQlasMDnEmJhkAhtmGBBDrYYsBV69LfxJpF2wX4OTVfx+dg+ZSjZ86SSxZIhnGAhg3xIo60GCFQPVqPNCrLOYJ9JCVOCUgoNKsqEQkFMxbGGkdaibKGUiLHphM8lxATvzuRV0oV4Em/Sh/iSgWQQGUL8iZoMI1FkPEkkU8l0sg6jQZpouyGtD+n3EG0Y0k4kkw20/CRJNTeUG4IGXhTVTSFHyQVQgbeQV8zrQhfbi7vxQDQc8RJ4Pwgqsc/VGG4zzpyz4Ky4Vpw1J0e7fEgQGUvehLtMb8aXCWQimVPMD8wdVsr2ZyNYLTuPLcJhL5FFguWSFlhfRk4b60DsSbmxzhAzssVYZ1FasrEueYCGQ//0MdZ57FcZ6hhrU9LaWLdAb1oY67Y/8YQ24nxTozfj0Ud90KMTSSS2J6LPEoiWjBD9HENisT5Q7IlCP3b+jxHDxX6NGJMEjIWbGInupAfpiaPH47jO2A4jHtjXDfWNwnv4Q1SByHMwXj3/q5xAbMeQKaJ+kx+gVPwHZV8skzDik5v0V6D/uomXAqMTi/SKhzj44z2RxGErQqT2QTlapEsULVOQDiIXLXLVkNdIV0SDZbFIF46WRCBlPPYK1PF4dcWnjdw7NuWNw3PFkEfCN38WN/wGWP6c8NDvAs8+Ev74IiK0fmSc+BiY/bvAf7xIyCgewhG/gDmPgKdeCPzhN0L6uMh6P4Tj/gfmPkcsf3yUkP+Jnf4rBj4xxj0CZjdjMz5DvPpkyLlwvbjJiAe5y7wKMQWx7gXC64+LUhOpUzM246MivvP2J0S6S4Y3fEMmYUoQ0AmUlko4SbXMSahmPqVa3QUL3XcS7/qPZeQu4cc0HKZnha8J1YTwH+HYVqQtcSFEY6l0lchtrHleauPAYClBRq6eHu4qlRMydPUUqk7KataiFlyyx22IjD+Slk+rv6OekFW9e1SxhsZA4rj8kZuK6JsysviHVak7E+ys+ek1BYW6FeC5esbo7GHw0oB5o6aJn0RQujQcpZsQG0FzS6VCYmVpwUhQprOVhzvj7KRk03R+zAHoDu9+f5X21aVD97PgsGwZvfw3ekBGblFP+iGtpO63wWcN9PjuO/BaTUC0ipcJXwwEi5qwmnNv6M2mNMxnj8gIPaI7jddJeoQYRnBXcESLB0dUc4oGNatu2NZI3ZBvpGV6ycRvMT5IxfSimYJTZY18qmTCFy0jn2rQsAtk5J5XkxxpiEEzHAtOAg24WUpD6N6GnpY0EwaxB6wEbpzmPnK9v4TTGu0pwFG2xghZ2Vgzkp8CIsSmmiXfg8/GYvr+VcrCJ4t2DBu2czEtlZEd9FjVQXr8Heg+riQ+vjjknqegR5q+ji+S2RM31APHO2LArR0YW1sHVmTt6My4KB0YN+Tv1YVxcVERD3crZzeUbMs5mZ3YqC0Ohp7RKb0rtZ9tjSynG29fp+sPyiBept2nnf5uLMCYjQnf6ujnByHos/Mw8H2WOzZvhW/y4DdCfV4179ZmzJJD6Xvo9by3wP7ohKW+A+cF+48fYP8nH2hRUwYWK1fSW9sEq/V10j+j1ZgbPkpLo1oe6DFruVzQzIM7A5oTdNH9erroOGgmHc/MPJGEPjtUQ3ft2wdDarjX7l9K+3jSpI/TMNcm6+u4Qt6atCfogP6OKpWH++uM1+uMh5DRjry0vacnGohJb6n0cDJjWEGAhxkrNcNpIGe0K77NGFd8MimjZPCCWemr29DtHcrBZH1izd5EWmSqnLa7dfy6EZYBkeHOAWl+K9qNP75y7pZoD1Mz2+7u/KQU7dBuS/aPdZ92NK++4dQbiX3BZMSyYWVmdlZm3EuuI30jo4W5oL/Ea9FaufCtTMgdt9cZweEGw1UqFycbttFwd0PIqiHO3D56e8YuaLe5mH5ZNn/7+LY2MGy9JnmDOnDDdO0GtYzoGO/Zo8tooZ7o6NqK4FTvGyzJuZg6p25ZVu2sGTVCLiTrv+SuoGcUgl/Qw4ZIy22VBik2RqleSp6XsMFf03d37oGBdftAWWpKi23WzEssCRmzaZL/7OEWMKol6uFQDVHfXoGYI2/eK07MmVa7ek3d9F5a9dv1mcKcn4l2qhrtFOVZCPLkcls3YTI0+d79J+nMzTL6ZfFmUOzM2B5tbw4TaIHcPm57O82GIPX6KdM3BKrfblMB4TogEFY2erY3Q++SG96pwdAx9WJOTs2MWbVZy+rmGCzlW6KlqgctlcutbGyUHsoujDgNmszlBHPDL9Ode8rAt2apriqp3oZdBsFrYtFgCN8xdWhaqB0EKnbTKw4fQsSPV9Hi0X+ln1cn3ox9O3TCtpgzCz6I6hzso1pwOB7tXovG95FF4Kphbogv64gp6InycZmtgLg9w1NSho+YOZMn9wl/XhMQqNEEBmiE+FTgSOcH1htnmtu03uCzFp3ErDbkjKfA0FYsiCV2iLlt01jBWgWMsupWm1/w2asWbv/cdBpMac6qhHnZdE2WZkjaIJ7Q+vk5K+em5dGbVF9/jz2Rlf723IY+bO20pUOzxjaMMsrk9ChTbtCnUaqVtEmMoCLK8fi2tPDqPKC5hUvGZqvZ+Q0pAv85qxZSWt7Qhc3P364uQM8IUfFGfuak3UMZKK5y/54LbHAd3VtWBn51deBXVkb3fjGjKCCgaEbqxoCAjQ6HIPLaNYg+dIjmX7tGCw6BY8ZXSzIvLVx4KXPJVxkG3SUqXo773YP+slQ1eWesRadj8x3+8rJtRJeINaN4oifpyzmO7pa1HJYb3jBdsH8qzpc81LcT2s+JWWPLy205zGDMGCeFs0t7MYNQa5f2KpWXCtcVhYRLpnvN+muDJuUBRE0B/vwZgE30XCX9mpYoIcyuIHXOmqg4ev/CaYA18HI5mIGXJM7ZNdgzfEjfoDbeXY9uXH4h5eppx9i4uCF9htt6dfm8ZOlJzdfoP1/9ZfaMNAnzw8YQkVaNS6RXK0xoHnVg32vIPA9xnf06O/Yw79V2wuCF52cDBuMbsIOk+6EDB9ubSOglEztGMrpymRhj/ffcHZ78FGMnnsdVyLj8CvNDkglxdL2F+9VtKy/Phbh1c/1zw5gF7Iz7BCznFGUAvvx+2hC9onTIaoHfG7iDyXnhjEJ8xAOKG/By3QWapLsAcyHMAsLFvCf1iyVTRHpdpUiPcfJxVLm0kuOE9BKHKcGMgdV+qe2DhqaMVbbTnYI0CLeACJijy3tl6TFdpa05tLZl/jJCzSvqkyUL7/nOeCcEvZSmJ3xRC2EWeQk2uVnCr9v3WL8i8HicrU+Px5vbhP/VGyDqnKv/O1+Ju7Q5ns7EmWFpZdBGOCSxrlaW7gzawLC8lZzdeocW7of9EHb7NoTv308L71R+EV0x+4NazLcKl3r4HIYifnb3Lu1Ad9EdtP196AEzYdJNGLSZptMVt+iuzYLn89BFd2SGSAlxB0tg79BMU6oEnXh2XEmPQxAMEGi3YFRdUb92wmwC3EsbJ6qyaQbzjBRslJZ7mcPRC/sF54dHrVLTwl3Q45Pj4L0t+MJhWsimgCnzXsy63GFhiwepV42vAsXafHqzVFNLb1TSPDNajZKK9V/xiwznlf4PBMnFEwU6WTZVhXgqPY2y5biY46okLCI55+jOj3hI5iKLYxK2jAMIf29uWdmE9WMAhmaNC10XztLVkg/gjcPHoGsxHCs+dxmq6Fb7t0C2TT2z3+BFo0KW+oODX8bIEXP+3C91eClw2XmUFmy74mzhQHWVpfRH8Ty7HP1RLZ4icY1XW+LBzkkwHiy90JPL2ajbubp3Jft1qyQQCingwoXQMQ1hFvQEnQ9n53PFdwWf7kNLhROic6Olhu1INE+FxxSc3EpWXLeMC+Ssj+mB93iINTm0OH5LOEDk9kljdrnTnRMkRQ1ZPU17/C2lApxL9tEy+5Ug2zKrMHLXZO2eGPDt4SVR0GpdXd+R79DjBz+hVWVoQY7+H3wG+lkp/Kvrr3JWMa0sjDlnOA8wrPFcIpUbFmeD380YqQPDFmXTby7Oh6RPoWP5h/BKuZxm22+bf+YSmHUvOJiwB9qVAFTQPV/El0YChG2JD1gS2xNjUWoPUZcgFVqDFAqgbe4qem/j1Ey6lO4PntW/lJ76qJp+UA6d4/YkJeyKfT0+K2DCnok4j7PRUxli9nUlvQ3ewsXW08vDuOga3mQMLzIGXb0Mezwu1/JWDzfZpV/QTVUAk6uS12KxCzwPHwSP3QdXJ3+oOUA312q2hAJEbI1PKI0ACN2qDV0eBBC4YmxYdgCAOts+F7jiOeeWW5s56YrX3s3Kuru2WOdkZr383JxiWp8LDkOXhYavHD58ZXholj+7cdDCkcHpAwemB4/MGCzEvIqdIAmR5DTu8JKQhmhJDj0LnfDZJmrKRICd+MYg5Rle6uTpaeXlxUS0NBswxO6mWfcuMinYJcyi9TW9e30KfEaSwPF9/RVmCqwT/hvjWRfdIWxzuHDmjZ4LMHd08DyAXhHytDGj0tJG9YrsiS8kwWAj/HCT3hbeJ/+YIO0pvGk9JV53H50X/87Tk/tbAj/p96Hn0wKW/2PZ+1sC/9rT86VM1RyXRwWp9dP3ldSZpD1tnj8HMqvmOD8t4APJ5Oetw4sK/PVfzjN+FEn+lbxmPrlGyCf918n9fwamVvh69vsB1LfiWctscfGXZfJlT6YPv+OPmYuSkGcfRwF4EzL1SXlIuhDfx5a/8/nY/ZAOw4Vvhi8On2ZohmZohhcNntW72C/KH05yOT+Sx58V/gZg+xVSLFWT5fwtsk9sK0mOWLYh2c9TzxcVOAWpetYy2d5kE+tK3n/WcpuhGZrh/xeYfYbyX0fdPk4NCmVuZHN0cmVhbQplbmRvYmoKMjUgMCBvYmoKPDwKL0xlbmd0aCAyNzQ3Ci9MZW5ndGgxIDEzMzgwCi9GaWx0ZXIgL0ZsYXRlRGVjb2RlCj4+CnN0cmVhbQ0KeJztWgtUVNUa/vc5Z86MMMoMMIMGCsOzFJXXDKUtS8sb2uItKj6Q90sGEIirKfhANJVChUxJxaVo5NWSIa+88pGlZVaKz0y99Fqt1IK8KPLac/9zBk261a2rXbyt+f61Z//79b/2v/c5iwMQAOgPi4CFkODwkT55nQs+BSDHsTc6fNLYSc2qT5/C9gvYfjpOH5PplufCADCe2K5MisnOxFqB5SsssqS0eYmOa1bpALi3sOmUnBATP/xwzHhcH4LjumTsGHJDPQvbwnrXZH3O3JeOD3gMYFAXwEMBaRlxMcu3LOsPID+NRrnrY+Zm8n8jPM69hsUpPUaf4JHx7BjUj+PkcmZGdg71hYPIy4XxzKyEzGS+qBD5i1ikNcRYuId7EYeBGI1ghTXwa6EU5JAJUqF1FyTYZk0s9RJk/gxwhUVl91SAwYvamlpbHVJ/IkOQLvSw3CWP0aG7Zlk9fgPsLcWRi9fr7YX6UkTI2bamrgUOqXJxATB3ZBOQiS1b8dcVmL8mJecQK4DstPQcosBxDhQmjWQQaRX0YIshdkKP8Sb+cNIR2C9B1935MmyfMtXsBTjIYs2ARPCQQTnQ2/Kw8MBw9NkJck3+WVQylTil3GSiTKicQC6uBTFKtqJuoeYwngAOaBmLM5zAE3xAC4/C0xAEsZAIKaCHDMjF+IM46nVnNAbie0azjEZ+jiSYu8z9g2tCSZcEhcwYpoBZ/1NLEQPEjDNxQG4xTzBhTDxTyI5n49gctoCtwBFLWClYyPVDfjW828MTGAi7engGV2/u4VkYgRlh4rm75khAB6N6eB77nU087okc1D28AiywZeLtfpRJBonxCoQE0cvn0M9wSEOf0yEHpmBvCiRBMvITxJ4EyILhvWZPFvuysZWBM5zAF230Am94DEbjyhRcMxzbMRhNb6x1ONsL4333rDDUGIhl9C/qCEM+CTnBrqy7Zjn1mvUUWpAJ87D/ts1OuMdeYnGCSdiTgPXdq0PwNwNSsRUnzh6LcnJwXobokRM8LErJQanZGN+RSCaPknFeLHoQhzP12CvM1mMZiaO3pT8iZuHnmOOhmJcWoAKI0Sg1Tpy1UsFwROPjaq31Y1xdNOzc7hRmFxlO9nzzLQ3oTiShV4iubANtbKIbZXCD+tND9CD1ayMDqkjoP38gIW9gfghyJ8uE/IGxSg1xUaJo4quUTqZfdTbb0A/JEM7aRga3QHK5w1kGHU6SJrRmsfGyJJ+3BTfcBxjv7O6u9RvD+I9htFo/dxdnXuo2hvH1GcKolBqtywDGw0en02oHsNIBjMpWzbyw9tqK+J2N+pW7gkrWvLJbQ7/xOdS1asYne3PoRfngnL+PWVA1UzE9J91tSnFEhbP+xCtLKmN9+itUXjppwerC0CeLdgcPyzpV2cU1jsqc2BJbPv2Iwt7GSmLpFxOSMUeMlfELfgb6pAZ3vEvQI1/BHM5aZctwLmish4vKxlat9hXM8nMXDOY/J8OsH4p9o7iOuL62g16uK6qKtx9EogyLl701c/re5UuqUV631Ct/VgPd3N5ONx2IyvduZmFr64rim2Xrrxcta0G9y1Avua13vLMro/WzdvX1UavtfIWw3glFj06MhZqV1dFL218jrrXFb8bYW5Nh9OIg+4Q9ExdXz5xhKFj+1vQZe4ccIHHt7SS2YVa+F9N+C5q986OMK1q3bmlZVnR9fdnNYtzFpcbPJddxP36i11ql0mg1t9Wpenz2l/A8x876ktZWVZEnzi5pfSezczS7JXp3Tn59gv7dgoiiRHti7/wmbXc8TOKar5HkY5Nr6GcnU5ty96XOfy/7zbLzc7xjA3zz6pOEaD+JF2SzLBpvAVvMIVRoo/TT6VC9nVRUrFKyFV0bv88/8fy0RY5/UY0bqZ/JQ0tLB/CG1QdmDZZf55Vpie25KGkbihssC0NJVqZ9Y50xsQRRKlv+AzKsNCgjIwgLD7j4u5QJE1NSJk5IEe7LD/Dp+4OYj8I6la9Jv1iBEgX5mQzpYZD7gDjaeF1YX3bSR+HfsuMk6UfP7Mxdu5We3ZgXUTwFFSwsXp0/v4R20FudHeyVjUXVRV3D2e689ZGbk7sC0VaMOO+AGq3A8e6Ym5Ls33Y55DzdbzCQcefPk3EGA91/rqgmMrKm6MXayMhaxyMk/vtmknjkCC1r/p5uPNJZerO0pG3durYSZHq8Y428Hdj08k7pfscXjWLomeUOgWrrGSNSt0fz0LqgmGPpF5L+kZviuyajhELMj0S0dijukGQEIwTDVm1npxYCy7k4uXq4iamBNnu4CYdZJ7giCaA/KCcsmLlwZ9bC1tMnyunXdZTSOjeisa9cXrJndjrtOvfReiLf3Y6XxAovv6jH50QGRg151Pv4tpXnnr903HNO9vzIgNhBj3mfrXjhePY5jFqw8QprkApPHlVPrmiUpqz0t+N5KY+62XVdtXga/cK9XXVWuoeiA3KP5wv5QjI7wqdMcbRg2yxUhJlas0qMjPGa5B1eOHHC7YXkwvN4whmtUpArJDu3jnjSCwrtt7tLv1xMhr2xatJrGUweW9ABxGL+tgLC7GdPdoVvqpu0U5CHb22SqyhPivKIBsmXSK52n6IHuxvJWFKoIEvF3IPOWG6zkPvlxsv8ApkDZsFgzAJ3V0apMGWBcDWzPtZKPwY3iWEV1mr2pe/oHkM1Cb16lYRUG+ieayeuzj664pNrZPYRZ3KLXCBBJJCcv9VOH6HVtIp6tBNLso4sMpKYfTSZLjYCLd8r2LgVs+FjmclGwWOiJOzH9JicqolRuKj5Y/QgeZgECXMP49tMP7QPczRbS/B+vp2UmjvZyjNSotIo32P2ZqwJiN6RnF4xlX66i3geOEQ8dkQ01tMUtqyJ+fi5qi3TEl8OnVaRXk8GvrqBtm/PukBv7KeTrWiboOmY8St+mEx4ixNOg7uH5sf71UN4IOBGa1gxczlrqRqDk9JAzxh44ml5ujR3X0ra28/PbBhFv87mErteHSt//GhWPXF7nZC99JDDGrpt6U79wfl572aSJ/2GcjLa1n14VJCBfnT0KH2/Wng/K0ftYaKfI+EJ03n0d8ebTuvujrXgqVrIL9UQxo43HU9/8RTwdrxabdO7yc47R/fVEaJvyNlQQ8jr5OG364nHTkLqXs6uzcCK7juzsC4RJ9TNndeQRkhCw6LEzdMJwashtXwqIdPKHUoJt2PJZyW2cje6fVPbS8VtG7dTN7ltyWdLdtCu0u6IDUmzK6KiKmYnbYhga8PWxkavDg5eHR27NgwjaaByJogMFJ/IUp7hpS46nbW/PxNkZfXMswNP9x/haWlBBurn0s6mcWNOEW555s++uj+g8DTT/xE9Y6YHlNY9UNT4W4hY/QYKvGfKug9U/MDR+7+LaN8R43gPFPcfadWvUvU904dmMtOfi1gJa8+G9FBxD934MxCnMJOZfisBWLqK31bMuE+Qtgh/PzbDDDPuN2T+5rNlhhm/B/xTsLivbXhQwX9x/+4TlLXsvsjJhaX3Q869gLMSvmD2PZi3he+fZvwa+tUI30L/GPBb+j4X+wLcqD8upr8GyddQeK8yODsI/m/X8iv7xu9eNowWvjibYYYZZpjxoEJqD+USX9jKHxD+o+ZH8I1wrFf7OpT/by0z45fADgVDX9tghhlm/LnAXAH4F2l/eGsNCmVuZHN0cmVhbQplbmRvYmoKeHJlZgowIDI2CjAwMDAwMDAwMDAgNjU1MzUgZg0KMDAwMDAwMDAxNSAwMDAwMCBuDQowMDAwMDAwMTg1IDAwMDAwIG4NCjAwMDAwMDAwNjQgMDAwMDAgbg0KMDAwMDAwMDI0OCAwMDAwMCBuDQowMDAwMDAwNTI4IDAwMDAwIG4NCjAwMDAwMDA3NTUgMDAwMDAgbg0KMDAwMDAwMDc5NCAwMDAwMCBuDQowMDAwMDAyNzAyIDAwMDAwIG4NCjAwMDAwMDI4NDIgMDAwMDAgbg0KMDAwMDAwMjk4MyAwMDAwMCBuDQowMDAwMDAzMTIzIDAwMDAwIG4NCjAwMDAwMDM0MjIgMDAwMDAgbg0KMDAwMDAwNzQwMyAwMDAwMCBuDQowMDAwMDA4MTA3IDAwMDAwIG4NCjAwMDAwMDk0MDcgMDAwMDAgbg0KMDAwMDAxMDA0MyAwMDAwMCBuDQowMDAwMDEwODU5IDAwMDAwIG4NCjAwMDAwMTEzNjMgMDAwMDAgbg0KMDAwMDAxMTkzNSAwMDAwMCBuDQowMDAwMDEyMzU0IDAwMDAwIG4NCjAwMDAwMTI1OTMgMDAwMDAgbg0KMDAwMDAxMjgzMyAwMDAwMCBuDQowMDAwMDEzMDcxIDAwMDAwIG4NCjAwMDAwMTkxNzQgMDAwMDAgbg0KMDAwMDAyMzI2NSAwMDAwMCBuDQp0cmFpbGVyCjw8Ci9TaXplIDI2Ci9Sb290IDEgMCBSCi9JbmZvIDMgMCBSCi9JRCBbPEQyREQzOUU2OTdBMEU5M0U1MUFBNzdGRTMzOEQzNzQ2PiA8RDJERDM5RTY5N0EwRTkzRTUxQUE3N0ZFMzM4RDM3NDY+XQo+PgpzdGFydHhyZWYKMjYxMDMKJSVFT0YK","directory":"api/files/rensto-whatsapp","fileName":"3BBFB1821469633A1F2E.pdf","fileSize":"26.8 kB"}},"pairedItem":{"item":0}}]]}}],"OpenAI Chat Model2":[{"startTime":1763926097550,"executionTime":2491,"executionIndex":6,"executionStatus":"success","source":[{"previousNode":"Document Analysis Agent","previousNodeRun":0}],"data":{"ai_languageModel":[[{"json":{"response":{"generations":[[{"text":"Sure, please upload or provide the document you'd like me to analyze. Once I have the document, I will extract all text, preserve the structure, and identify key information as requested."}]]},"tokenUsageEstimate":{"completionTokens":37,"promptTokens":128,"totalTokens":165}}}]]},"inputOverride":{"ai_languageModel":[[{"json":{"messages":["System: You are an expert document analysis AI. Your task is to analyze documents and extract:\n1. All text content (OCR)\n2. Document structure and formatting\n3. Key information and data points\n4. Relevant details for business automation support\n\n**CRITICAL RULES:**\n- Extract ALL text verbatim\n- Preserve document structure (headings, lists, tables)\n- Identify key information (dates, names, amounts, etc.)\n- Respond in the same language as the document\n- Provide detailed, actionable extraction\n- Never add branding or disclaimers\nHuman: Analyze this document and extract all text and key information."],"estimatedTokens":128,"options":{"openai_api_key":{"lc":1,"type":"secret","id":["OPENAI_API_KEY"]},"model":"chatgpt-4o-latest","max_tokens":4096,"temperature":0.2,"timeout":60000,"max_retries":2,"configuration":{},"model_kwargs":{},"use_responses_api":true}}}]]},"metadata":{"subRun":[{"node":"OpenAI Chat Model2","runIndex":0}]}}],"Document Analysis Agent":[{"startTime":1763926097520,"executionIndex":5,"source":[{"previousNode":"Download Document"}],"hints":[],"executionTime":2524,"executionStatus":"success","data":{"main":[[{"json":{"output":"Sure, please upload or provide the document you'd like me to analyze. Once I have the document, I will extract all text, preserve the structure, and identify key information as requested."},"pairedItem":{"item":0}}]]}}],"Merge Document Analysis":[{"startTime":1763926100044,"executionIndex":7,"source":[{"previousNode":"Document Analysis Agent"}],"hints":[],"executionTime":30,"executionStatus":"success","data":{"main":[[{"json":{"userId":"14695885133@c.us","messageId":"3BBFB1821469633A1F2E","messageType":"document","textContent":"","caption":"","mediaUrl":"http://173.254.201.134:3000/api/files/rensto-whatsapp/3BBFB1821469633A1F2E.pdf","source":"waha","timestamp":1763926097,"output":"Sure, please upload or provide the document you'd like me to analyze. Once I have the document, I will extract all text, preserve the structure, and identify key information as requested.","analysis":"Sure, please upload or provide the document you'd like me to analyze. Once I have the document, I will extract all text, preserve the structure, and identify key information as requested.","processedText":"Sure, please upload or provide the document you'd like me to analyze. Once I have the document, I will extract all text, preserve the structure, and identify key information as requested."},"pairedItem":{"item":0}}]]}}],"Process Media Context":[{"startTime":1763926100074,"executionIndex":8,"source":[{"previousNode":"Merge Document Analysis"}],"hints":[],"executionTime":32,"executionStatus":"success","data":{"main":[[{"json":{"userId":"14695885133@c.us","messageId":"3BBFB1821469633A1F2E","sessionId":"14695885133@c.us","timestamp":1763926097,"source":"waha","messageType":"document","mediaUrl":"http://173.254.201.134:3000/api/files/rensto-whatsapp/3BBFB1821469633A1F2E.pdf","mediaInfo":{"mimetype":"application/pdf"},"originalPayload":{"id":"false_14695885133@c.us_3BBFB1821469633A1F2E","timestamp":1763926097,"from":"14695885133@c.us","fromMe":false,"source":"app","body":null,"hasMedia":true,"media":{"url":"http://localhost:3000/api/files/rensto-whatsapp/3BBFB1821469633A1F2E.pdf","filename":"Invoice-633F2A51-0023.pdf","mimetype":"application/pdf"},"ack":2,"ackName":"DEVICE","location":null,"vCards":null,"replyTo":null,"_data":{"key":{"remoteJid":"14695885133@s.whatsapp.net","remoteJidAlt":"199501700681931@lid","fromMe":false,"id":"3BBFB1821469633A1F2E","participant":"","addressingMode":"pn"},"messageTimestamp":1763926097,"pushName":"Shai Friedman","broadcast":false,"message":{"documentMessage":{"url":"https://mmg.whatsapp.net/v/t62.7119-24/589842062_1653818318671455_7374581884227913801_n.enc?ccb=11-4&oh=01_Q5Aa3AGQFcE85oATIK2hv6gMRN01Qtn2QBSqYbqPvJbAIBrmYA&oe=694AD31F&_nc_sid=5e03e0&mms3=true","mimetype":"application/pdf","title":"Invoice-633F2A51-0023","fileSha256":"jmoatSITPMVQlOTVIhpDjVUOn/Uic9EssnC6c8rvl80=","fileLength":"26778","pageCount":2,"mediaKey":"27aMeP4yDhMNvXHQt0ag1RH7aOC0PUW2RWrrc9A8Ti8=","fileName":"Invoice-633F2A51-0023.pdf","fileEncSha256":"cRuAUIZrbYdErNzuf/VQzgi9QLMillRAuOFCIUJgJc4=","directPath":"/v/t62.7119-24/589842062_1653818318671455_7374581884227913801_n.enc?ccb=11-4&oh=01_Q5Aa3AGQFcE85oATIK2hv6gMRN01Qtn2QBSqYbqPvJbAIBrmYA&oe=694AD31F&_nc_sid=5e03e0","mediaKeyTimestamp":"1763918653","contactVcard":false,"jpegThumbnail":"/9j/4AAQSkZJRgABAQAAAQABAAD/2wBDABsSFBcUERsXFhceHBsgKEIrKCUlKFE6PTBCYFVlZF9VXVtqeJmBanGQc1tdhbWGkJ6jq62rZ4C8ybqmx5moq6T/2wBDARweHigjKE4rK06kbl1upKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKT/wgARCABIADgDASIAAhEBAxEB/8QAGQABAQEBAQEAAAAAAAAAAAAAAAEDAgQF/8QAFAEBAAAAAAAAAAAAAAAAAAAAAP/aAAwDAQACEAMQAAAA+1dacNuTN6B5npGM6yPTnpSUAMstoaXPsoAM52KvAoEHYEBQgP/EABQRAQAAAAAAAAAAAAAAAAAAAED/2gAIAQIBAT8AJ//EABQRAQAAAAAAAAAAAAAAAAAAAED/2gAIAQMBAT8AJ//EACsQAAEDAwIDBwUAAAAAAAAAAAEAAhEDBCESICIxkRQjMkFRU2EQM0Nxgf/aAAgBAQABPwCpaW7TAoU/6ELWzjNFk/pCytT+BnRdhtfYZ0XYbX2GdF2G19hnRCytpPcM6Kr4xwygxjskZR4GY8k2qDg89lUaqgCY86tMSiJEJtItMg7H/dCaYqTO6oJqBNAL8+u5+rUNMLQ/nwrvfUITGeeypOrBAQLyY1BR8qPlEZHEvPnlDxHKLQeYQa0GQPo9+kjEppDswg2HSmul5ER87xMr//4AAwD/2Q=="},"messageContextInfo":{"deviceListMetadata":{"senderKeyHash":"nPCwjAaH25F+wQ==","senderTimestamp":"1763914766","recipientKeyHash":"/s4TzptXMIu37g==","recipientTimestamp":"1763345311"},"deviceListMetadataVersion":2,"messageSecret":"GDRn/GzDr7DkvneLOkhqhCZPdafot0FzqRuiRvPBkNg="}},"status":3}},"originalQuestion":"","originalCaption":"","geminiAnalysis":"Sure, please upload or provide the document you'd like me to analyze. Once I have the document, I will extract all text, preserve the structure, and identify key information as requested.","imageAnalysis":"Sure, please upload or provide the document you'd like me to analyze. Once I have the document, I will extract all text, preserve the structure, and identify key information as requested.","processedText":"Sure, please upload or provide the document you'd like me to analyze. Once I have the document, I will extract all text, preserve the structure, and identify key information as requested.","textContent":"Sure, please upload or provide the document you'd like me to analyze. Once I have the document, I will extract all text, preserve the structure, and identify key information as requested.","text":"Sure, please upload or provide the document you'd like me to analyze. Once I have the document, I will extract all text, preserve the structure, and identify key information as requested.","body":"Sure, please upload or provide the document you'd like me to analyze. Once I have the document, I will extract all text, preserve the structure, and identify key information as requested.","question":"Sure, please upload or provide the document you'd like me to analyze. Once I have the document, I will extract all text, preserve the structure, and identify key information as requested."},"pairedItem":{"item":0}}]]}}],"Prepare AI Input":[{"startTime":1763926100106,"executionIndex":9,"source":[{"previousNode":"Process Media Context"}],"hints":[],"executionTime":72,"executionStatus":"success","data":{"main":[[{"json":{"question":"Sure, please upload or provide the document you'd like me to analyze. Once I have the document, I will extract all text, preserve the structure, and identify key information as requested.","promptText":"Question: Sure, please upload or provide the document you'd like me to analyze. Once I have the document, I will extract all text, preserve the structure, and identify key information as requested.\n\nImage Analysis:\nSure, please upload or provide the document you'd like me to analyze. Once I have the document, I will extract all text, preserve the structure, and identify key information as requested.\n\nPlease answer the question based on the image analysis above.","sessionId":"14695885133@c.us","messageId":"3BBFB1821469633A1F2E","requiresVoiceResponse":false,"userId":"14695885133@c.us","source":"waha","store_name":"fileSearchStores/rensto-knowledge-base-ndf9fmymwb2p","text":"Sure, please upload or provide the document you'd like me to analyze. Once I have the document, I will extract all text, preserve the structure, and identify key information as requested.","transcript":"Sure, please upload or provide the document you'd like me to analyze. Once I have the document, I will extract all text, preserve the structure, and identify key information as requested.","transcription":"Sure, please upload or provide the document you'd like me to analyze. Once I have the document, I will extract all text, preserve the structure, and identify key information as requested.","imageAnalysis":"Sure, please upload or provide the document you'd like me to analyze. Once I have the document, I will extract all text, preserve the structure, and identify key information as requested.","hasImageAnalysis":true},"pairedItem":{"item":0}}]]}}],"Set Store Name and Extract Text1":[{"startTime":1763926100178,"executionIndex":10,"source":[{"previousNode":"Prepare AI Input"}],"hints":[],"executionTime":3,"executionStatus":"success","data":{"main":[[{"json":{"store_name":"fileSearchStores/rensto-knowledge-base-ndf9fmymwb2p","question":"Sure, please upload or provide the document you'd like me to analyze. Once I have the document, I will extract all text, preserve the structure, and identify key information as requested.","message_type":"text","message_text":"Sure, please upload or provide the document you'd like me to analyze. Once I have the document, I will extract all text, preserve the structure, and identify key information as requested.","voice_url":"","media_url":"","media_type":"","caption":"","designer_phone":"14695885133@c.us","original_message_id":"3BBFB1821469633A1F2E"},"pairedItem":{"item":0}}]]}}],"Merge Transcription Metadata":[{"startTime":1763926100182,"executionIndex":11,"source":[{"previousNode":"Set Store Name and Extract Text1"}],"hints":[],"executionTime":19,"executionStatus":"success","data":{"main":[[{"json":{"store_name":"fileSearchStores/rensto-knowledge-base-ndf9fmymwb2p","question":"Sure, please upload or provide the document you'd like me to analyze. Once I have the document, I will extract all text, preserve the structure, and identify key information as requested.","message_type":"text","message_text":"Sure, please upload or provide the document you'd like me to analyze. Once I have the document, I will extract all text, preserve the structure, and identify key information as requested.","voice_url":"","media_url":"","media_type":"","caption":"","designer_phone":"14695885133@c.us","original_message_id":"3BBFB1821469633A1F2E","userId":"14695885133@c.us","messageId":"3BBFB1821469633A1F2E"},"pairedItem":{"item":0}}]]}}],"Guardrails1":[{"startTime":1763926100201,"executionIndex":12,"source":[{"previousNode":"Merge Transcription Metadata"}],"hints":[],"executionTime":1,"executionStatus":"success","data":{"main":[[{"json":{"guardrailsInput":"Sure, please upload or provide the document you'd like me to analyze. Once I have the document, I will extract all text, preserve the structure, and identify key information as requested.","checks":[]},"pairedItem":{"item":0}}]]}}],"Image Analysis Switch":[{"startTime":1763926100202,"executionIndex":13,"source":[{"previousNode":"Guardrails1"}],"hints":[],"executionTime":1,"executionStatus":"success","data":{"main":[[{"json":{"guardrailsInput":"Sure, please upload or provide the document you'd like me to analyze. Once I have the document, I will extract all text, preserve the structure, and identify key information as requested.","checks":[]},"pairedItem":{"item":0}}],[]]}}],"Image Analysis Responder":[{"startTime":1763926100204,"executionIndex":14,"source":[{"previousNode":"Image Analysis Switch"}],"hints":[],"executionTime":25,"executionStatus":"error","error":{"level":"error","tags":{},"message":"Cannot assign to read only property 'name' of object 'Error: Node 'Merge Image Analysis' hasn't been executed'","stack":"TypeError: Cannot assign to read only property 'name' of object 'Error: Node 'Merge Image Analysis' hasn't been executed'\n    at new ExecutionBaseError (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-workflow@file+packages+workflow/node_modules/n8n-workflow/dist/cjs/errors/abstract/execution-base.error.js:24:23)\n    at new ExpressionError (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-workflow@file+packages+workflow/node_modules/n8n-workflow/dist/cjs/errors/expression.error.js:19:13)\n    at WorkflowDataProxy.getNodeExecutionData (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-workflow@file+packages+workflow/node_modules/n8n-workflow/dist/cjs/workflow-data-proxy.js:340:27)\n    at WorkflowDataProxy.getNodeExecutionOrPinnedData (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-workflow@file+packages+workflow/node_modules/n8n-workflow/dist/cjs/workflow-data-proxy.js:300:29)\n    at Object.get (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-workflow@file+packages+workflow/node_modules/n8n-workflow/dist/cjs/workflow-data-proxy.js:430:52)\n    at VmCodeWrapper (evalmachine.<anonymous>:4:49)\n    at evalmachine.<anonymous>:51:2\n    at Script.runInContext (node:vm:149:12)\n    at runInContext (node:vm:301:6)\n    at result (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/@n8n+task-runner@file+packages+@n8n+task-runner_@opentelemetry+api@1.9.0_@opentelemetry_5147392a3f2dab4b87aa45b14b25796a/node_modules/@n8n/task-runner/dist/js-task-runner/js-task-runner.js:176:61)"}}]},"lastNodeExecuted":"Image Analysis Responder","error":{"level":"error","tags":{},"message":"Cannot assign to read only property 'name' of object 'Error: Node 'Merge Image Analysis' hasn't been executed'","stack":"TypeError: Cannot assign to read only property 'name' of object 'Error: Node 'Merge Image Analysis' hasn't been executed'\n    at new ExecutionBaseError (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-workflow@file+packages+workflow/node_modules/n8n-workflow/dist/cjs/errors/abstract/execution-base.error.js:24:23)\n    at new ExpressionError (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-workflow@file+packages+workflow/node_modules/n8n-workflow/dist/cjs/errors/expression.error.js:19:13)\n    at WorkflowDataProxy.getNodeExecutionData (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-workflow@file+packages+workflow/node_modules/n8n-workflow/dist/cjs/workflow-data-proxy.js:340:27)\n    at WorkflowDataProxy.getNodeExecutionOrPinnedData (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-workflow@file+packages+workflow/node_modules/n8n-workflow/dist/cjs/workflow-data-proxy.js:300:29)\n    at Object.get (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-workflow@file+packages+workflow/node_modules/n8n-workflow/dist/cjs/workflow-data-proxy.js:430:52)\n    at VmCodeWrapper (evalmachine.<anonymous>:4:49)\n    at evalmachine.<anonymous>:51:2\n    at Script.runInContext (node:vm:149:12)\n    at runInContext (node:vm:301:6)\n    at result (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/@n8n+task-runner@file+packages+@n8n+task-runner_@opentelemetry+api@1.9.0_@opentelemetry_5147392a3f2dab4b87aa45b14b25796a/node_modules/@n8n/task-runner/dist/js-task-runner/js-task-runner.js:176:61)"}},"executionData":{"contextData":{},"nodeExecutionStack":[{"node":{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"// Generate deterministic response directly from stored image analysis.\nconst prepareData = $node['Prepare AI Input'].json || {};\nconst processData = $node['Process Media Context'].json || {};\nconst mergeData = $node['Merge Image Analysis'].json || {};\n\nconst getText = (value) => {\n  if (value === undefined || value === null) return '';\n  return String(value).trim();\n};\n\nconst question = getText(\n  processData.originalQuestion ||\n  processData.originalCaption ||\n  prepareData.question ||\n  prepareData.caption ||\n  mergeData.caption ||\n  'this image'\n);\n\nconst analysis = getText(\n  processData.imageAnalysis ||\n  processData.geminiAnalysis ||\n  prepareData.imageAnalysis ||\n  mergeData.analysis ||\n  ''\n);\n\nconst containsHebrew = (text) => /[\\u0590-\\u05FF]/.test(text || '');\nconst useHebrew = containsHebrew(question) || containsHebrew(analysis);\n\nlet response;\nif (analysis) {\n  response = useHebrew\n    ? `✅ כן, אני רואה את התמונה ושמתי לב לבאים:\\n${analysis}`\n    : `✅ Yes, I can see the image. Here is what I observe:\\n${analysis}`;\n} else {\n  response = useHebrew\n    ? '✅ כן, קיבלתי את התמונה אך לא נמצא טקסט ניתוח. אנא שלח שוב או הסבר מה תרצה שנבדוק.'\n    : '✅ I received your image but the analysis data was empty. Please resend it or tell me what you need help with.';\n}\n\nreturn [{\n  json: {\n    ...processData,\n    ...prepareData,\n    output: response,\n    responseText: response,\n    answeredFromImageAnalysis: analysis.length > 0\n  }\n}];","notice":""},"id":"0c40ab50-3afb-4136-8608-a2913d7b1c02","name":"Image Analysis Responder","type":"n8n-nodes-base.code","typeVersion":2,"position":[1456,-976]},"data":{"main":[[{"json":{"guardrailsInput":"Sure, please upload or provide the document you'd like me to analyze. Once I have the document, I will extract all text, preserve the structure, and identify key information as requested.","checks":[]},"pairedItem":{"item":0}}]]},"source":{"main":[{"previousNode":"Image Analysis Switch"}]}}],"waitingExecution":{},"metadata":{"OpenAI Chat Model2":[{"subRun":[{"node":"OpenAI Chat Model2","runIndex":0}]}]}}},"workflowData":{"id":"eQSCUFw91oXLxtvn","name":"INT-WHATSAPP-SUPPORT-001: Rensto Support Agent (Final)","active":true,"isArchived":false,"createdAt":"2025-11-17T00:01:48.622Z","updatedAt":"2025-11-23T19:26:52.272Z","nodes":[{"parameters":{"operation":""},"id":"50e910bc-9c49-4600-8637-14ef6c5ffa72","name":"WAHA Trigger","type":"@devlikeapro/n8n-nodes-waha.wahaTrigger","typeVersion":202502,"position":[-1872,-656],"webhookId":"976a4187-04c0-458b-b9ba-c7af75ed5de0"},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"// Universal Smart Message Router - Accept ALL WAHA events with fallback\nconst self = this;\nconst items = $input.all();\nconst results = [];\n\nconsole.log('[Router] ===== STARTING ROUTER (V3 ACCEPT ALL) =====');\nconsole.log('[Router] Input items count:', items.length);\n\n// Log FIRST item to see what we're getting\nif (items.length > 0) {\n  const first = items[0].json || {};\n  console.log('[Router] First item event type:', first.event || 'NO EVENT TYPE');\n  console.log('[Router] First item keys:', Object.keys(first).join(', '));\n  console.log('[Router] First item JSON:', JSON.stringify(first).substring(0, 500));\n}\n\nlet staticData;\ntry {\n  staticData = self.getWorkflowStaticData('global');\n} catch (error) {\n  staticData = {};\n}\n\nstaticData.processedMessageIds = staticData.processedMessageIds || [];\nstaticData.processedMessageTimestamps = staticData.processedMessageTimestamps || {};\nstaticData.rateLimitTracker = staticData.rateLimitTracker || {};\n\nconst findTextContent = (obj, depth = 0) => {\n  if (!obj || typeof obj !== 'object' || depth > 5) return null;\n  if (obj.caption) return obj.caption;\n  if (obj.conversation) return obj.conversation;\n  if (obj.text && typeof obj.text === 'string') return obj.text;\n  if (obj.body && typeof obj.body === 'string') return obj.body;\n  \n  for (const key in obj) {\n    if (key === 'contextInfo' || key === 'quotedMessage') continue;\n    const res = findTextContent(obj[key], depth + 1);\n    if (res) return res;\n  }\n  return null;\n};\n\nconst tryMarkAsProcessed = (keys) => {\n  if (!Array.isArray(keys) || keys.length === 0) return false;\n  const processed = staticData.processedMessageIds;\n  const now = Date.now();\n  \n  for (let i = 0; i < keys.length; i++) {\n    const key = keys[i];\n    if (key && processed.includes(key)) {\n      console.log('[Router] ⏭️ Skipping duplicate message:', key);\n      return false;\n    }\n  }\n  \n  for (let i = 0; i < keys.length; i++) {\n    const key = keys[i];\n    if (key && !processed.includes(key)) {\n      processed.push(key);\n    }\n  }\n  \n  if (processed.length > 1000) {\n    processed.splice(0, processed.length - 1000);\n  }\n  return true;\n};\n\nconst checkRateLimit = (userId) => {\n  const now = Date.now();\n  const tracker = staticData.rateLimitTracker;\n  \n  if (!tracker[userId]) tracker[userId] = [];\n  \n  const recentMessages = tracker[userId].filter(t => now - t < 60000);\n  tracker[userId] = recentMessages;\n  \n  if (recentMessages.length >= 10) return false;\n  \n  tracker[userId].push(now);\n  return true;\n};\n\n// FIXED: Accept ALL events, not just specific types\nconst extractMessageData = (item) => {\n  const msg = item.json || {};\n  const eventType = msg.event || 'unknown';\n  const payload = msg.payload || msg; // Fallback to msg itself\n  \n  console.log('[Router] Processing event type:', eventType);\n  \n  // Try standard WAHA events first\n  if (eventType === 'message' || eventType === 'message.any') {\n    return {\n      payload: payload,\n      _data: payload._data || {},\n      fromMe: payload.fromMe || false\n    };\n  }\n  \n  if (eventType === 'engine.event') {\n    let messageData;\n    if (payload.event === 'messages.upsert') {\n      messageData = payload.data?.messages?.[0];\n    } else if (payload.event === 'chats.update') {\n      messageData = payload.data?.[0]?.messages?.[0]?.message;\n    }\n    \n    if (messageData) {\n      const key = messageData.key || {};\n      const message = messageData.message || {};\n      const body = findTextContent(message) || '';\n      \n      return {\n        payload: {\n          id: key.id || '',\n          from: key.remoteJid || '',\n          fromMe: key.fromMe || false,\n          timestamp: messageData.messageTimestamp || Date.now(),\n          body: body,\n          hasMedia: !!(message.imageMessage || message.videoMessage || message.documentMessage || message.audioMessage),\n          _data: { key, messageTimestamp: messageData.messageTimestamp, message }\n        },\n        _data: { key, messageTimestamp: messageData.messageTimestamp, message },\n        fromMe: key.fromMe || false\n      };\n    }\n  }\n  \n  // FALLBACK: Try to extract from ANY structure\n  console.log('[Router] ⚠️ Unknown event type, trying fallback extraction');\n  \n  // Check if payload has message-like structure\n  const textContent = payload.body || payload.text || payload.conversation || \n                     findTextContent(payload) || '';\n  const messageId = payload.id || payload.messageId || '';\n  const from = payload.from || payload.remoteJid || '';\n  const fromMe = payload.fromMe || false;\n  \n  if (textContent || messageId || from) {\n    console.log('[Router] ✅ Fallback extraction successful');\n    return {\n      payload: payload,\n      _data: payload._data || payload,\n      fromMe: fromMe\n    };\n  }\n  \n  console.log('[Router] ❌ Could not extract message data');\n  return null;\n};\n\nfor (let itemIndex = 0; itemIndex < items.length; itemIndex++) {\n  const item = items[itemIndex];\n  const messageData = extractMessageData(item);\n  \n  if (!messageData) {\n    console.log('[Router] ⏭️ Skipping item', itemIndex, '- no message data');\n    continue;\n  }\n  \n  const payload = messageData.payload || {};\n  const _data = messageData._data || {};\n  \n  if (messageData.fromMe === true) {\n    console.log('[Router] ⏭️ Skipping own message');\n    continue;\n  }\n  \n  const _dataKey = _data.key || {};\n  const actualMessageId = _dataKey.id || payload.id || '';\n  const remoteJid = payload.from || _dataKey.remoteJid || '';\n  const userId = remoteJid ? String(remoteJid).replace('@s.whatsapp.net', '@c.us') : '';\n  const timestamp = payload.timestamp || _data.messageTimestamp || Date.now();\n  \n  const dedupKeys = [actualMessageId].filter(k => k);\n  \n  try { self.setWorkflowStaticData('global', staticData); } catch (e) {}\n  if (!tryMarkAsProcessed(dedupKeys)) continue;\n  try { self.setWorkflowStaticData('global', staticData); } catch (e) {}\n  \n  if (userId && !checkRateLimit(userId)) {\n    console.log('[Router] ⏭️ Rate limit exceeded for', userId);\n    continue;\n  }\n  \n  let messageType = 'text';\n  let textContent = payload.body || findTextContent(_data.message) || '';\n  let mediaUrl = (payload.media && payload.media.url) ? payload.media.url : '';\n  let mediaInfo = {};\n  \n  const _dataMessage = _data.message || {};\n  \n  if (_dataMessage.audioMessage) {\n    messageType = 'voice';\n    if (!mediaUrl) mediaUrl = _dataMessage.audioMessage.url || '';\n    mediaInfo = { isPTT: true, mimetype: 'audio/ogg' };\n  } else if (_dataMessage.imageMessage) {\n    messageType = 'image';\n    if (!mediaUrl) mediaUrl = _dataMessage.imageMessage.url || '';\n    mediaInfo = { mimetype: 'image/jpeg' };\n  } else if (_dataMessage.videoMessage) {\n    messageType = 'video';\n    if (!mediaUrl) mediaUrl = _dataMessage.videoMessage.url || '';\n    mediaInfo = { mimetype: 'video/mp4' };\n  } else if (_dataMessage.documentMessage) {\n    messageType = 'document';\n    if (!mediaUrl) mediaUrl = _dataMessage.documentMessage.url || '';\n    mediaInfo = { mimetype: 'application/pdf' };\n  }\n  \n  if (mediaUrl && mediaUrl.includes('localhost')) {\n    mediaUrl = mediaUrl.replace('localhost', '173.254.201.134');\n  }\n  \n  staticData.lastMessageMetadata = {\n    userId: userId,\n    messageId: actualMessageId,\n    sessionId: userId,\n    requiresVoiceResponse: messageType === 'voice',\n    source: 'waha',\n    store_name: 'fileSearchStores/rensto-knowledge-base-ndf9fmymwb2p'\n  };\n  \n  try { self.setWorkflowStaticData('global', staticData); } catch (e) {}\n  \n  console.log('[Router] ✅ Processed:', messageType, 'ID:', actualMessageId, 'Text:', textContent.substring(0, 50));\n  \n  results.push({\n    json: {\n      messageId: actualMessageId,\n      messageType: messageType,\n      source: 'waha',\n      userId: userId,\n      timestamp: timestamp,\n      textContent: textContent,\n      mediaUrl: mediaUrl,\n      mediaInfo: mediaInfo,\n      originalPayload: payload,\n      requiresVoiceResponse: messageType === 'voice',\n      sessionId: userId\n    }\n  });\n}\n\nconsole.log('[Router] ===== COMPLETED - Returning', results.length, 'items =====');\nreturn results;","notice":""},"id":"d5232e4d-0280-4125-b681-ba1e8281c1db","name":"Smart Message Router","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1648,-608]},{"parameters":{"preBuiltAgentsCalloutHttpRequest":"","curlImport":"","method":"POST","url":"https://api.openai.com/v1/audio/transcriptions","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","provideSslCertificates":false,"sendQuery":false,"sendHeaders":false,"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formData","name":"model","value":"whisper-1"},{"parameterType":"formData","name":"temperature","value":"0.2"},{"parameterType":"formData","name":"prompt","value":"Transcribe this audio message accurately."},{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"}]},"options":{"timeout":60000},"infoMessage":""},"id":"b4ecd898-61b8-46c5-bc50-2851786ed6f5","name":"Transcribe Voice","type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-48,-1200],"credentials":{"openAiApi":{"id":"0sXFXYfqiDEKuDcN","name":"service@rensto.com"}},"onError":"continueErrorOutput"},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"// Process Media Context - FIXED: Robust fallback for failed analysis\nconst inputData = $json || {};\n\nlet routerData = {};\ntry {\n  routerData = $node['Merge Image Analysis'].json || {};\n} catch (e) {\n  try { routerData = $node['Message Type Router'].json || {}; } catch (e2) { routerData = {}; }\n}\n\nconst messageType = inputData.messageType || routerData.messageType || 'text';\nconst originalTextContent = String(routerData.textContent || routerData.caption || inputData.textContent || inputData.caption || '').trim();\n\nconst geminiFields = ['guardrailsInput', 'output', 'text', 'response', 'analysis', 'extractedText'];\nconst extractField = (data, fields) => {\n  for (const field of fields) {\n    if (data[field]) return String(data[field]).trim();\n  }\n  return '';\n};\n\nlet processedText = '';\nlet userQuestion = '';\nlet imageAnalysisText = '';\nconst geminiOutput = extractField(inputData, geminiFields);\n\nif (messageType === 'text') {\n  processedText = originalTextContent || inputData.body || inputData.text || inputData.processedText || '';\n  userQuestion = processedText;\n} else {\n  userQuestion = originalTextContent || inputData.body || '';\n  \n  if (geminiOutput) {\n    imageAnalysisText = geminiOutput;\n    processedText = geminiOutput;\n  } else if (originalTextContent) {\n    processedText = originalTextContent;\n    userQuestion = originalTextContent;\n  } else {\n    // Default question if empty\n    processedText = `I received your ${messageType}. How can I help you with it?`;\n    userQuestion = `Analyze this ${messageType}`;\n  }\n}\n\nprocessedText = String(processedText || '').trim();\nuserQuestion = String(userQuestion || '').trim();\nimageAnalysisText = String(imageAnalysisText || '').trim();\n\n// CRITICAL FIX: If we are using the default \"Analyze this...\" question BUT have no analysis,\n// we must change the question to avoid AI hallucinating \"message didn't come through\".\nif (userQuestion.includes('Analyze this') && !imageAnalysisText && !originalTextContent) {\n  console.log('[Process Media] ⚠️ Analysis missing for default prompt - switching to fallback prompt');\n  userQuestion = \"I sent an image but the system could not analyze it. Please ask me to describe what is in the image.\";\n  processedText = userQuestion;\n}\n\nif (!processedText && messageType !== 'text') {\n  processedText = `I received your ${messageType} but need more context. Could you please describe what you need help with?`;\n  userQuestion = \"I sent an image but the system could not analyze it. Please ask me to describe what is in the image.\";\n}\n\nconsole.log('[Process Media] Final User Question:', userQuestion);\nconsole.log('[Process Media] Image Analysis Length:', imageAnalysisText.length);\n\nreturn {\n  json: {\n    userId: routerData.userId || inputData.userId,\n    messageId: routerData.messageId || inputData.messageId,\n    sessionId: routerData.sessionId || inputData.sessionId,\n    timestamp: routerData.timestamp || inputData.timestamp,\n    source: routerData.source || inputData.source || 'waha',\n    messageType: messageType,\n    mediaUrl: routerData.mediaUrl || inputData.mediaUrl,\n    mediaInfo: routerData.mediaInfo || inputData.mediaInfo,\n    originalPayload: routerData.originalPayload || inputData.originalPayload,\n    requiresVoiceResponse: routerData.requiresVoiceResponse || inputData.requiresVoiceResponse,\n    originalQuestion: userQuestion,\n    originalCaption: originalTextContent,\n    geminiAnalysis: imageAnalysisText || null,\n    imageAnalysis: imageAnalysisText || null,\n    processedText: processedText,\n    textContent: processedText,\n    text: processedText,\n    body: processedText,\n    question: userQuestion || processedText\n  }\n};","notice":""},"id":"1d15c5cf-8b8f-4677-8887-63b112641f52","name":"Process Media Context","type":"n8n-nodes-base.code","typeVersion":2,"position":[-48,-800]},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"// ULTIMATE BULLETPROOF Prepare AI Input - FIXED: Set hasImageAnalysis flag in static data\nconsole.log('\\n=== PREPARE AI INPUT - ULTIMATE DEBUG ===');\n\n// Get ALL inputs\nconst allInputs = $input.all();\nconsole.log('Total inputs received:', allInputs.length);\n\nif (!allInputs || allInputs.length === 0) {\n  throw new Error('No input data received! Check upstream nodes.');\n}\n\n// Get static data FIRST (most reliable source)\nlet staticData = {};\ntry {\n  staticData = this.getWorkflowStaticData('global');\n  console.log('Static data keys:', Object.keys(staticData).join(', '));\n  if (staticData.lastMessageMetadata) {\n    console.log('Static metadata userId:', staticData.lastMessageMetadata.userId);\n  }\n} catch (error) {\n  console.log('Static data error:', error.message);\n  staticData = {};\n}\n\n// AGGRESSIVE userId EXTRACTION - Try EVERY possible source\nlet userId = '';\nlet extractionMethod = '';\n\n// PRIORITY 1: Static data (most reliable - set by Smart Message Router)\nif (staticData.lastMessageMetadata && staticData.lastMessageMetadata.userId) {\n  userId = String(staticData.lastMessageMetadata.userId);\n  extractionMethod = 'static data (lastMessageMetadata)';\n  console.log('✅ Found userId in static data:', userId);\n}\n\n// PRIORITY 2: Try upstream nodes using $node (if available)\nif (!userId) {\n  const upstreamNodeNames = ['Smart Message Router', 'Message Type Router', 'Process Media Context', 'Download Voice', 'Transcribe Voice'];\n  for (let i = 0; i < upstreamNodeNames.length; i++) {\n    const nodeName = upstreamNodeNames[i];\n    try {\n      const nodeData = $node[nodeName];\n      if (nodeData && nodeData.json) {\n        const nodeUserId = nodeData.json.userId || nodeData.json.from || nodeData.json.designer_phone || '';\n        if (nodeUserId) {\n          userId = String(nodeUserId);\n          extractionMethod = '$node[' + nodeName + ']';\n          console.log('✅ Found userId in upstream node', nodeName, ':', userId);\n          break;\n        }\n        \n        // Check nested payload\n        if (!userId && nodeData.json.payload) {\n          const payloadUserId = nodeData.json.payload.userId || nodeData.json.payload.from || '';\n          if (payloadUserId) {\n            userId = String(payloadUserId);\n            extractionMethod = '$node[' + nodeName + '].payload';\n            console.log('✅ Found userId in upstream node', nodeName, 'payload:', userId);\n            break;\n          }\n        }\n        \n        // Check originalPayload\n        if (!userId && nodeData.json.originalPayload) {\n          const opUserId = nodeData.json.originalPayload.userId || nodeData.json.originalPayload.from || '';\n          if (opUserId) {\n            userId = String(opUserId);\n            extractionMethod = '$node[' + nodeName + '].originalPayload';\n            console.log('✅ Found userId in upstream node', nodeName, 'originalPayload:', userId);\n            break;\n          }\n        }\n      }\n    } catch (error) {\n      // Node might not exist or not accessible - continue\n      console.log('Could not access node', nodeName, ':', error.message);\n    }\n  }\n}\n\n// PRIORITY 3: Check ALL input items\nif (!userId) {\n  for (let i = 0; i < allInputs.length; i++) {\n    const item = allInputs[i];\n    if (!item || !item.json) continue;\n    \n    const inputData = item.json;\n    console.log(`Input ${i} keys:`, Object.keys(inputData).join(', '));\n    \n    // Direct fields\n    const directFields = ['userId', 'from', 'designer_phone', 'chatId', 'sender', 'user'];\n    for (let j = 0; j < directFields.length; j++) {\n      const field = directFields[j];\n      if (inputData[field]) {\n        userId = String(inputData[field]);\n        extractionMethod = `input ${i} direct field: ${field}`;\n        console.log('✅ Found userId in input', i, 'field', field, ':', userId);\n        break;\n      }\n    }\n    \n    if (userId) break;\n    \n    // Nested in payload\n    if (inputData.payload) {\n      const payload = inputData.payload;\n      const payloadFields = ['userId', 'from', 'sender', 'chatId'];\n      for (let j = 0; j < payloadFields.length; j++) {\n        const field = payloadFields[j];\n        if (payload[field]) {\n          userId = String(payload[field]);\n          extractionMethod = `input ${i} payload.${field}`;\n          console.log('✅ Found userId in input', i, 'payload', field, ':', userId);\n          break;\n        }\n      }\n      \n      // Check payload._data.key.remoteJid\n      if (!userId && payload._data && payload._data.key) {\n        const remoteJid = payload._data.key.remoteJid;\n        if (remoteJid) {\n          userId = String(remoteJid);\n          extractionMethod = `input ${i} payload._data.key.remoteJid`;\n          console.log('✅ Found userId in input', i, 'payload._data.key.remoteJid:', userId);\n        }\n      }\n    }\n    \n    if (userId) break;\n    \n    // Nested in originalPayload\n    if (inputData.originalPayload) {\n      const op = inputData.originalPayload;\n      const opFields = ['userId', 'from', 'sender', 'chatId'];\n      for (let j = 0; j < opFields.length; j++) {\n        const field = opFields[j];\n        if (op[field]) {\n          userId = String(op[field]);\n          extractionMethod = `input ${i} originalPayload.${field}`;\n          console.log('✅ Found userId in input', i, 'originalPayload', field, ':', userId);\n          break;\n        }\n      }\n      \n      // Check originalPayload._data.key.remoteJid\n      if (!userId && op._data && op._data.key) {\n        const remoteJid = op._data.key.remoteJid;\n        if (remoteJid) {\n          userId = String(remoteJid);\n          extractionMethod = `input ${i} originalPayload._data.key.remoteJid`;\n          console.log('✅ Found userId in input', i, 'originalPayload._data.key.remoteJid:', userId);\n        }\n      }\n    }\n    \n    if (userId) break;\n    \n    // Check _data at root level\n    if (inputData._data && inputData._data.key) {\n      const remoteJid = inputData._data.key.remoteJid;\n      if (remoteJid) {\n        userId = String(remoteJid);\n        extractionMethod = `input ${i} _data.key.remoteJid`;\n        console.log('✅ Found userId in input', i, '_data.key.remoteJid:', userId);\n        break;\n      }\n    }\n  }\n}\n\n// Clean up userId (remove @s.whatsapp.net if present, replace with @c.us)\nif (userId) {\n  userId = String(userId).replace('@s.whatsapp.net', '@c.us');\n}\n\nconsole.log('Final userId:', userId || 'NONE');\nconsole.log('Extraction method:', extractionMethod || 'FAILED');\n\n// AGGRESSIVE QUESTION EXTRACTION - FIXED: Prioritize Process Media Context\nlet question = '';\nlet questionMethod = '';\nlet imageAnalysis = null;\n\n// FIRST: Try to get from Process Media Context node (upstream) - CRITICAL for images\nlet processMediaData = null;\ntry {\n  processMediaData = $node['Process Media Context'];\n  if (processMediaData && processMediaData.json) {\n    console.log('✅ Found Process Media Context node');\n    // FIXED: Check ALL possible question fields from Process Media Context\n      const questionFields = ['question', 'processedText', 'originalQuestion', 'originalCaption'];\n      for (let i = 0; i < questionFields.length; i++) {\n        const field = questionFields[i];\n        const value = processMediaData.json[field];\n        if (value && String(value).trim()) {\n          question = String(value).trim();\n          questionMethod = 'Process Media Context.' + field;\n          console.log('✅ Found question from Process Media Context.' + field + ':', question.substring(0, 100) + '...');\n          \n          // CRITICAL: Also extract imageAnalysis and set hasImageAnalysis flag\n          imageAnalysis = processMediaData.json.geminiAnalysis || processMediaData.json.imageAnalysis || processMediaData.json.question || processMediaData.json.processedText || null;\n          hasImageAnalysis = imageAnalysis ? true : false;\n          console.log('✅ Set hasImageAnalysis =', hasImageAnalysis, '(imageAnalysis length:', imageAnalysis ? imageAnalysis.length : 0, ')');\n          break;\n        }\n      }\n  }\n} catch (error) {\n  console.log('Could not access Process Media Context node:', error.message);\n}\n\n// SECOND: Check input items for originalQuestion/originalCaption (if Process Media Context not available)\nif (!question) {\n  for (let i = 0; i < allInputs.length; i++) {\n    const item = allInputs[i];\n    if (!item || !item.json) continue;\n    \n    const inputData = item.json;\n    \n    // CRITICAL: Check for originalQuestion first (from Process Media Context)\n    if (inputData.originalQuestion) {\n      const value = String(inputData.originalQuestion).trim();\n      // Skip if it's clearly analysis text\n      if (!value.includes('Visual Content Description') && !value.includes('OCR') && \n          !value.includes('תיאור תוכן חזותי') && !value.includes('טקסט מזוהה') &&\n          !value.includes('Yes, I can see the test image you uploaded')) {\n        question = value;\n        questionMethod = `input ${i} originalQuestion`;\n        imageAnalysis = inputData.geminiAnalysis || inputData.imageAnalysis || null;\n        console.log('✅ Found originalQuestion:', question);\n        break;\n      }\n    }\n    \n    // Check for originalCaption\n    if (!question && inputData.originalCaption) {\n      const value = String(inputData.originalCaption).trim();\n      if (!value.includes('Visual Content Description') && !value.includes('OCR')) {\n        question = value;\n        questionMethod = `input ${i} originalCaption`;\n        imageAnalysis = inputData.geminiAnalysis || inputData.imageAnalysis || null;\n        console.log('✅ Found originalCaption:', question);\n        break;\n      }\n    }\n    \n    // Store imageAnalysis if available\n    if (!imageAnalysis && (inputData.geminiAnalysis || inputData.imageAnalysis)) {\n      imageAnalysis = inputData.geminiAnalysis || inputData.imageAnalysis;\n    }\n  }\n}\n\n// THIRD: If no originalQuestion found, check standard fields (but skip analysis text)\nif (!question) {\n  const textFields = [\n    'originalQuestion', 'originalCaption', 'question', 'text', 'processedText', \n    'textContent', 'body', 'message', 'content', 'transcript', 'transcription'\n  ];\n  \n  for (let i = 0; i < allInputs.length; i++) {\n    const item = allInputs[i];\n    if (!item || !item.json) continue;\n    \n    const inputData = item.json;\n    \n    // Check direct fields\n    for (let j = 0; j < textFields.length; j++) {\n      const field = textFields[j];\n      if (inputData[field]) {\n        const value = String(inputData[field]).trim();\n        // Skip if it's clearly image analysis text (contains analysis markers)\n        if (value.includes('Visual Content Description') || value.includes('תיאור תוכן חזותי') ||\n            value.includes('OCR') || value.includes('Extracted Text') || value.includes('טקסט מזוהה') ||\n            value.includes('Yes, I can see the test image you uploaded') ||\n            value.includes('Here\\'s the analysis:')) {\n          // This is analysis text, not the question - skip it\n          console.log('⚠️ Skipping analysis text from field', field);\n          continue;\n        }\n        question = value;\n        questionMethod = `input ${i} direct field: ${field}`;\n        console.log('✅ Found question in input', i, 'field', field);\n        break;\n      }\n    }\n    \n    if (question) break;\n    \n    // Try nested payload\n    if (inputData.payload && inputData.payload.body) {\n      const value = String(inputData.payload.body).trim();\n      if (!value.includes('Visual Content Description') && !value.includes('OCR') &&\n          !value.includes('Yes, I can see the test image')) {\n        question = value;\n        questionMethod = `input ${i} payload.body`;\n        console.log('✅ Found question in input', i, 'payload.body');\n        break;\n      }\n    }\n    \n    // Try originalPayload\n    if (inputData.originalPayload && inputData.originalPayload.body) {\n      const value = String(inputData.originalPayload.body).trim();\n      if (!value.includes('Visual Content Description') && !value.includes('OCR') &&\n          !value.includes('Yes, I can see the test image')) {\n        question = value;\n        questionMethod = `input ${i} originalPayload.body`;\n        console.log('✅ Found question in input', i, 'originalPayload.body');\n        break;\n      }\n    }\n  }\n}\n\nconsole.log('Final question:', question ? question.substring(0, 50) + '...' : 'NONE');\nconsole.log('Question method:', questionMethod || 'FAILED');\nconsole.log('Has image analysis:', !!imageAnalysis);\n\n// Get other fields with fallbacks\nconst messageId = staticData.lastMessageMetadata && staticData.lastMessageMetadata.messageId \n  ? staticData.lastMessageMetadata.messageId \n  : (allInputs[0] && allInputs[0].json ? (allInputs[0].json.messageId || allInputs[0].json.id || '') : '');\nconst sessionId = userId || 'default';\nconst requiresVoiceResponse = staticData.lastMessageMetadata && staticData.lastMessageMetadata.requiresVoiceResponse \n  ? staticData.lastMessageMetadata.requiresVoiceResponse \n  : (allInputs[0] && allInputs[0].json ? (allInputs[0].json.requiresVoiceResponse || allInputs[0].json.messageType === 'voice' || false) : false);\nconst source = staticData.lastMessageMetadata && staticData.lastMessageMetadata.source \n  ? staticData.lastMessageMetadata.source \n  : (allInputs[0] && allInputs[0].json ? (allInputs[0].json.source || 'waha') : 'waha');\nconst store_name = staticData.lastMessageMetadata && staticData.lastMessageMetadata.store_name \n  ? staticData.lastMessageMetadata.store_name \n  : (allInputs[0] && allInputs[0].json ? (allInputs[0].json.store_name || 'fileSearchStores/rensto-knowledge-base-ndf9fmymwb2p') : 'fileSearchStores/rensto-knowledge-base-ndf9fmymwb2p');\n\n// CRITICAL: Build promptText with imageAnalysis if available\nlet promptText = question;\nconst hasImageAnalysis = !!imageAnalysis;\n\nif (imageAnalysis) {\n  promptText = `Question: ${question}\\n\\nImage Analysis:\\n${imageAnalysis}\\n\\nPlease answer the question based on the image analysis above.`;\n  console.log('✅ Built promptText with imageAnalysis (length:', promptText.length, ')');\n  \n  // CRITICAL: Set flag in static data so Search Knowledge Base can check it\n  staticData.hasImageAnalysis = true;\n  staticData.imageAnalysisTimestamp = Date.now();\n  try {\n    this.setWorkflowStaticData('global', staticData);\n    console.log('✅ Set hasImageAnalysis flag in static data');\n  } catch (error) {\n    console.log('⚠️ Could not set static data flag:', error.message);\n  }\n} else {\n  console.log('✅ Built promptText without imageAnalysis');\n  // Clear flag if no image analysis\n  staticData.hasImageAnalysis = false;\n  try {\n    this.setWorkflowStaticData('global', staticData);\n  } catch (error) {\n    console.log('⚠️ Could not clear static data flag:', error.message);\n  }\n}\n\n// Final validation\nif (!question) {\n  console.log('\\n❌ NO QUESTION FOUND');\n  console.log('Total inputs:', allInputs.length);\n  for (let i = 0; i < allInputs.length; i++) {\n    console.log(`Input ${i} keys:`, Object.keys(allInputs[i].json || {}).join(', '));\n  }\n  throw new Error('Missing question/text. Check execution log for input data.');\n}\n\nif (!userId) {\n  console.log('\\n❌ NO USERID FOUND AFTER ALL ATTEMPTS');\n  console.log('Static data:', JSON.stringify(staticData, null, 2));\n  console.log('Total inputs:', allInputs.length);\n  for (let i = 0; i < allInputs.length; i++) {\n    console.log(`Input ${i} full data:`, JSON.stringify(allInputs[i].json || {}, null, 2).substring(0, 500));\n  }\n  \n  // LAST RESORT: Try to get from WAHA Trigger node\n  try {\n    const wahaNode = $node['WAHA Trigger'];\n    if (wahaNode && wahaNode.json && wahaNode.json.payload) {\n      const wahaPayload = wahaNode.json.payload;\n      const wahaUserId = wahaPayload.from || (wahaPayload._data && wahaPayload._data.key && wahaPayload._data.key.remoteJid) || '';\n      if (wahaUserId) {\n        userId = String(wahaUserId).replace('@s.whatsapp.net', '@c.us');\n        extractionMethod = 'WAHA Trigger node (last resort)';\n        console.log('✅ Found userId in WAHA Trigger node:', userId);\n      }\n    }\n  } catch (error) {\n    console.log('Could not access WAHA Trigger node:', error.message);\n  }\n  \n  // If still no userId, throw error with full context\n  if (!userId) {\n    throw new Error('Missing userId. Check execution log for input data.');\n  }\n}\n\nconsole.log('\\n✅ SUCCESS - All fields extracted:');\nconsole.log('  userId:', userId);\nconsole.log('  question:', question.substring(0, 50));\nconsole.log('  messageId:', messageId);\nconsole.log('  sessionId:', sessionId);\nconsole.log('  hasImageAnalysis:', hasImageAnalysis);\nconsole.log('  promptText length:', promptText.length);\nconsole.log('=== END PREPARE AI INPUT ===\\n');\n\nreturn [{\n  json: {\n    question: question,\n    promptText: promptText, // CRITICAL: Pre-built prompt with imageAnalysis\n    sessionId: sessionId,\n    messageId: messageId,\n    requiresVoiceResponse: requiresVoiceResponse,\n    userId: userId,\n    source: source,\n    store_name: store_name,\n    text: question,\n    transcript: question,\n    transcription: question,\n    imageAnalysis: imageAnalysis, // Keep for backward compatibility\n    hasImageAnalysis: hasImageAnalysis // Flag for Search Knowledge Base\n  }\n}];","notice":""},"id":"281d5e47-e0fd-4372-94ce-b462f324f2a2","name":"Prepare AI Input","type":"n8n-nodes-base.code","typeVersion":2,"position":[176,-880]},{"parameters":{"aiAgentStarterCallout":"","promptType":"define","text":"={{ $json.promptText || $json.question || $json.message_text || $json.text || $json.transcript || $json.transcription || \"\" }}","hasOutputParser":false,"needsFallback":false,"options":{"systemMessage":"You are Rensto Support Agent. You help users with business automation. \n\nIMPORTANT: ONLY if the user explicitly says 'I sent an image but the system could not analyze it' (or similar failure message), then say: 'I see you sent an image, but I'm having trouble analyzing it right now. Could you please describe what's in the image so I can help you?'\n\nFor all other messages (including 'test', 'hello', etc.), respond normally as a helpful assistant."}},"id":"db35c441-a323-468c-b0ce-695bbb280330","name":"Rensto AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[1264,-880]},{"parameters":{"notice":"","sessionIdType":"customKey","sessionKey":"={{ $json.sessionId || $json.userId || 'default' }}","contextWindowLength":5},"id":"27611000-91df-4e0d-8290-f141bbfc5b55","name":"Conversation Memory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[1328,-656]},{"parameters":{"notice":"","noticeTemplateExample":"","description":"Search the Rensto knowledge base for information about products, services, pricing, installation, warranties, and company policies. **🚨 CRITICAL: DO NOT CALL THIS TOOL if your prompt contains \"Image Analysis:\" section. If you see \"Image Analysis:\" in your prompt, that means an image was already analyzed - answer directly using that analysis, do NOT search knowledge base. If the query is about \"can you see this\" or \"test image\", DO NOT CALL THIS TOOL - the image was already analyzed.**","language":"javaScript","jsCode":"// Fetch answers from Google AI Studio file search (Gemini)\n// CRITICAL: Check query FIRST for image test patterns (before static data)\nlet query = $input.params?.query || $json?.question || $json?.message_text || '';\nquery = String(query || '').trim();\n\n// PRIORITY 1: Check if query is about image visibility/test (common image test questions)\n// This check happens FIRST because it's the most reliable indicator\nconst imageTestPatterns = [\n  'can you see this',\n  'can you see this test image',\n  'do you see this image',\n  'can you see the image',\n  'test image'\n];\n\nconst lowerQuery = query.toLowerCase();\nif (imageTestPatterns.some(pattern => lowerQuery.includes(pattern))) {\n  console.log('[Search KB] ⚠️ BLOCKED - query is about image visibility/test');\n  // Return explicit answer that tells agent to use Image Analysis\n  const answer = '✅ YES, I can see the test image! The image has already been analyzed and the analysis is provided in your prompt under \"Image Analysis:\" section. Look at your prompt - you will see \"Question:\" followed by \"Image Analysis:\" - use that analysis to answer. The Image Analysis section contains the answer: \"Yes, I can see this test image.\" Use that answer directly.';\n  console.log('[Search KB] Returning image test answer:', answer.substring(0, 100));\n  return answer;\n}\n\n// PRIORITY 2: Check static data flag (set by Prepare AI Input)\nlet staticData;\ntry {\n  staticData = this.getWorkflowStaticData('global');\n  console.log('[Search KB] Static data keys:', Object.keys(staticData).join(', '));\n  console.log('[Search KB] hasImageAnalysis flag:', staticData.hasImageAnalysis);\n} catch (error) {\n  console.log('[Search KB] Static data error:', error.message);\n  staticData = {};\n}\n\nif (staticData.hasImageAnalysis === true) {\n  console.log('[Search KB] ⚠️ BLOCKED - hasImageAnalysis flag is true in static data');\n  // Return explicit answer that tells agent to use Image Analysis\n  const answer = '✅ The image has already been analyzed and the analysis is provided in your prompt under \"Image Analysis:\" section. Look at your prompt - you will see \"Question:\" followed by \"Image Analysis:\" - use that analysis to answer the question directly. Do NOT search knowledge base.';\n  console.log('[Search KB] Returning STOP message:', answer.substring(0, 100));\n  return answer;\n}\n\n// PRIORITY 3: Check if imageAnalysis field exists in input\nconst inputData = $input.params || $json || {};\nif (inputData.imageAnalysis || $json?.imageAnalysis) {\n  console.log('[Search KB] ⚠️ Skipping - imageAnalysis present, image already analyzed');\n  return '✅ The image has already been analyzed. Use the Image Analysis provided in your prompt to answer directly. Do NOT search knowledge base.';\n}\n\nif (!query) {\n  return 'I could not find any details about that yet.';\n}\n\nconst defaultStore = 'fileSearchStores/rensto-knowledge-base-ndf9fmymwb2p';\nconst normalizeStore = (store) => {\n  if (!store) return defaultStore;\n  const cleaned = store.replace(/^fileSearchStores\\//, '');\n  return `fileSearchStores/${cleaned}`;\n};\n\n// Get store_name from workflow static data, metadata, or use default\nconst storeName = normalizeStore(\n  staticData.googleStoreName ||\n  $json?.store_name ||\n  defaultStore\n);\n\nconst translations = {\n  'איך קוראים לכם': 'What is the company name?',\n  'מה השם שלכם': 'What is the company name?',\n  'מי אתם': 'What is Rensto?',\n  'מה אתם עושים': 'What does Rensto do?'\n};\n\nfor (const [hebrew, english] of Object.entries(translations)) {\n  if (query.includes(hebrew)) {\n    query = english;\n    break;\n  }\n}\n\nconst apiKey = 'AIzaSyB1nQdOOSeYdGv_R53dcyYDsIwenRU5ziE';\nconst url = `https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent?key=${apiKey}`;\n\nconst body = {\n  contents: [{ parts: [{ text: query }]}],\n  tools: [\n    {\n      file_search: {\n        file_search_store_names: [storeName]\n      }\n    }\n  ],\n  generationConfig: {\n    temperature: 0.4,\n    topK: 32,\n    topP: 0.95,\n    maxOutputTokens: 512\n  }\n};\n\nconsole.log('[Search KB] Querying Google project:', storeName);\nconsole.log('[Search KB] Query:', query);\n\nconst maxRetries = 3;\nlet lastError;\n\nfor (let attempt = 1; attempt <= maxRetries; attempt++) {\n  try {\n    const response = await this.helpers.httpRequest({\n      method: 'POST',\n      url,\n      headers: {\n        'Content-Type': 'application/json'\n      },\n      body: JSON.stringify(body),\n      json: false,\n      timeout: 60000\n    });\n\n    const data = typeof response === 'string' ? JSON.parse(response) : response;\n    const parts = data?.candidates?.[0]?.content?.parts || [];\n    const answer = parts.map(part => part.text || '').join('\\n\\n').trim();\n\n    if (answer) {\n      console.log('[Search KB] ✅ Found answer from Google project');\n      return answer;\n    }\n\n    lastError = new Error('Knowledge base returned no content');\n  } catch (error) {\n    lastError = error;\n    const status = error.statusCode || 0;\n    const retriable = status >= 500 || status === 429 || error.code === 'ETIMEDOUT' || error.code === 'ECONNRESET';\n    if (attempt < maxRetries && retriable) {\n      await new Promise(resolve => setTimeout(resolve, attempt * 1000));\n      continue;\n    }\n    break;\n  }\n}\n\nconsole.log('[Search KB] ❌ No answer from Google project');\nreturn lastError\n  ? `I could not find that info yet (Google KB error: ${lastError.message}).`\n  : 'I could not find information about that topic.';","specifyInputSchema":false},"id":"b03c30dc-d6df-4fbe-afcb-ba54756667de","name":"Search Knowledge Base","type":"@n8n/n8n-nodes-langchain.toolCode","typeVersion":1.3,"position":[1456,-656]},{"parameters":{"notice":"","model":{"__rl":true,"value":"gpt-4o-mini","mode":"list"},"responsesApiEnabled":true,"builtInTools":{},"options":{"maxTokens":500,"temperature":0.7}},"id":"e8303bed-90d3-449a-ba28-3c082288ac4b","name":"OpenAI Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[1200,-656],"credentials":{"openAiApi":{"id":"0sXFXYfqiDEKuDcN","name":"service@rensto.com"}}},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"// Extract and clean AI response - Get userId and requiresVoice from static data (PRIMARY)\n// CRITICAL: Rensto AI Agent only outputs { output: '...' }, so get metadata from static data\n\nconst currentInput = $json || {};\n\n// PRIMARY: Get metadata from global static data (stored by Smart Message Router)\nlet userId = '';\nlet messageId = '';\nlet requiresVoice = false;\nlet source = 'waha';\n\nlet staticData = {};\ntry {\n  staticData = this.getWorkflowStaticData('global');\n  console.log('[Process AI Response] Static data keys:', Object.keys(staticData).join(', '));\n  \n  if (staticData.lastMessageMetadata) {\n    userId = staticData.lastMessageMetadata.userId || '';\n    messageId = staticData.lastMessageMetadata.messageId || '';\n    // CRITICAL: Explicitly check if requiresVoiceResponse is true (for voice) or false/undefined (for text)\n    requiresVoice = Boolean(staticData.lastMessageMetadata.requiresVoiceResponse === true);\n    source = staticData.lastMessageMetadata.source || 'waha';\n    console.log('[Process AI Response] ✅ Got metadata from static data:');\n    console.log('  userId:', userId);\n    console.log('  messageId:', messageId);\n    console.log('  requiresVoiceResponse (raw):', staticData.lastMessageMetadata.requiresVoiceResponse);\n    console.log('  requiresVoice (boolean):', requiresVoice, '(type:', typeof requiresVoice, ')');\n    console.log('  source:', source);\n  } else {\n    console.log('[Process AI Response] ⚠️ Static data exists but no lastMessageMetadata');\n    console.log('[Process AI Response] Static data:', JSON.stringify(staticData, null, 2));\n  }\n} catch (error) {\n  console.log('[Process AI Response] Static data error:', error.message);\n}\n\n// FALLBACK: Try to get from $node (if available)\nif (!userId) {\n  try {\n    const mergeNode = $node[\"Merge Transcription Metadata\"];\n    if (mergeNode && mergeNode.json) {\n      const mergeData = mergeNode.json;\n      if (mergeData.designer_phone || mergeData.userId) {\n        userId = mergeData.designer_phone || mergeData.userId;\n        messageId = mergeData.original_message_id || mergeData.messageId || '';\n        requiresVoice = Boolean(mergeData.message_type === 'ptt' || mergeData.requiresVoiceResponse === true);\n        source = mergeData.source || 'waha';\n        console.log('[Process AI Response] ✅ Got metadata from $node, userId:', userId, 'requiresVoice:', requiresVoice);\n      }\n    }\n  } catch (error) {\n    console.log('[Process AI Response] $node access error:', error.message);\n  }\n}\n\n// Extract AI response text\nconst output = currentInput.output || currentInput.response || '';\n\nlet responseText = '';\nif (typeof output === 'string') {\n  try {\n    const parsed = JSON.parse(output);\n    responseText = parsed.answer || parsed.text || parsed.output || output;\n  } catch (e) {\n    responseText = output;\n  }\n} else if (typeof output === 'object') {\n  responseText = output.answer || output.text || output.output || String(output);\n} else {\n  responseText = String(output || 'I apologize, but I encountered an issue. Please try again.');\n}\n\n// CRITICAL: Remove leading/trailing JSON array brackets and other artifacts\n// This handles cases where AI Agent returns JSON arrays like \"] text\" or \"[text]\"\nresponseText = String(responseText).trim();\n\n// Remove leading \"]\" or \"[\" characters\nif (responseText.charAt(0) === ']' || responseText.charAt(0) === '[') {\n  responseText = responseText.substring(1).trim();\n}\n\n// Remove trailing \"]\" or \"[\" characters\nif (responseText.charAt(responseText.length - 1) === ']' || responseText.charAt(responseText.length - 1) === '[') {\n  responseText = responseText.substring(0, responseText.length - 1).trim();\n}\n\n// Clean response - AGGRESSIVE branding removal\nresponseText = responseText\n  .replace(/\\[Used tools:.*?\\]/g, '')\n  .replace(/\\[Tool:.*?\\]/g, '')\n  .replace(/\\*\\*(.*?)\\*\\*/g, '*$1*')\n  .replace(/__(.*?)__/g, '_$1_')\n  .replace(/Powered by Rensto\\.com/gi, '')\n  .replace(/_Powered by Rensto\\.com_/gi, '')\n  .replace(/\\n\\n_Powered by Rensto\\.com_/g, '')\n  .replace(/\\nPowered by Rensto\\.com/gi, '')\n  .replace(/Powered by Rensto/gi, '')\n  .replace(/rensto\\.com/gi, '')\n  .trim();\n\nif (!responseText) {\n  responseText = 'I apologize, but I need more information to help you. Could you please provide more details?';\n}\n\n// CRITICAL: DO NOT ADD BRANDING - Removed the line that was adding it\n\n// Final check - if still no userId, use default and log warning\nif (!userId) {\n  console.log('[Process AI Response] ⚠️⚠️⚠️ CRITICAL: userId missing after all fallbacks!');\n  userId = 'unknown';\n}\n\n// CRITICAL: Ensure requiresVoice is explicitly boolean false for text messages\n// If requiresVoiceResponse was not true, it must be false\nif (requiresVoice !== true) {\n  requiresVoice = false;\n}\n\nconsole.log('[Process AI Response] ===== FINAL OUTPUT =====');\nconsole.log('  userId:', userId);\nconsole.log('  messageId:', messageId);\nconsole.log('  requiresVoice:', requiresVoice, '(type:', typeof requiresVoice, ')');\nconsole.log('  source:', source);\nconsole.log('  responseText length:', responseText.length);\nconsole.log('  responseText preview:', responseText.substring(0, 100));\nconsole.log('==========================================');\n\nreturn [{\n  json: {\n    responseText: responseText,\n    userId: userId,\n    messageId: messageId,\n    requiresVoice: requiresVoice, // CRITICAL: Must be boolean false for text messages\n    source: source,\n    timestamp: new Date().toISOString()\n  }\n}];","notice":""},"id":"0bd9c716-8312-49b4-9d11-8574c438e2ad","name":"Process AI Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[1664,-880]},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"// Send Voice Message - Get userId from Process AI Response or static data\nconst wahaUrl = 'http://173.254.201.134:3000';\nconst apiKey = '4fc7e008d7d24fc995475029effc8fa8';\nconst sessionId = 'rensto-whatsapp';\n\n// Get from Process AI Response (primary source)\nconst aiResponse = $items('Process AI Response', 0, 0)?.json || $json || {};\n\n// Get from global static data (fallback)\nlet staticData;\ntry {\n  staticData = this.getWorkflowStaticData('global');\n} catch (error) {\n  staticData = {};\n}\n\nconst chatId = aiResponse.userId || (staticData?.lastMessageMetadata?.userId) || '';\nconst replyTo = aiResponse.messageId || (staticData?.lastMessageMetadata?.messageId) || '';\n\n// Get binary audio from ElevenLabs TTS node\nlet base64Audio = $binary?.data?.data;\nif (!base64Audio) {\n  const ttsItem = $items('Convert text to speech', 0, 0);\n  if (ttsItem?.binary?.data?.data) {\n    base64Audio = ttsItem.binary.data.data;\n  }\n}\n\nif (!chatId) {\n  throw new Error(`Missing userId. AI Response: ${JSON.stringify(aiResponse)}, StaticData: ${JSON.stringify(staticData?.lastMessageMetadata || {})}`);\n}\n\nif (!base64Audio) {\n  throw new Error('Voice audio payload not found from Convert text to speech node');\n}\n\ntry {\n  const response = await this.helpers.httpRequest({\n    method: 'POST',\n    url: `${wahaUrl}/api/sendVoice`,\n    headers: {\n      'x-api-key': apiKey,\n      'Content-Type': 'application/json'\n    },\n    body: {\n      session: sessionId,\n      chatId,\n      file: {\n        mimetype: 'audio/opus',\n        filename: 'response.opus',\n        data: base64Audio,\n      },\n      reply_to: replyTo,\n    },\n    timeout: 60000,\n    json: true,\n  });\n  \n  return [{ json: { success: true, messageType: 'voice', sentAt: new Date().toISOString(), response } }];\n} catch (error) {\n  console.error('[Send Voice] Error:', error.message);\n  return [{ json: { success: false, error: error.message, messageType: 'voice', sentAt: new Date().toISOString() } }];\n}","notice":""},"id":"e4a63886-2ef7-402f-9b37-c98802f8144f","name":"Send Voice Message","type":"n8n-nodes-base.code","typeVersion":2,"position":[2784,-880]},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"// Send text message via WAHA - Enhanced error handling and logging\nconst wahaUrl = 'http://173.254.201.134:3000';\nconst apiKey = '4fc7e008d7d24fc995475029effc8fa8';\nconst sessionId = 'rensto-whatsapp';\n\nconst chatId = $json.userId;\nconst text = $json.responseText;\nconst replyTo = $json.messageId;\n\nconsole.log('[Send Text] ===== STARTING TEXT MESSAGE SEND =====');\nconsole.log('[Send Text] chatId:', chatId);\nconsole.log('[Send Text] text length:', text ? text.length : 0);\nconsole.log('[Send Text] replyTo:', replyTo);\nconsole.log('[Send Text] Full input:', JSON.stringify($json, null, 2));\n\nif (!chatId || !text) {\n  const errorMsg = 'Missing required data for text message. chatId: ' + (chatId || 'MISSING') + ', text: ' + (text ? 'EXISTS' : 'MISSING');\n  console.error('[Send Text] ❌', errorMsg);\n  // CRITICAL: Don't throw - return error so workflow can continue and we can see the issue\n  return [{\n    json: {\n      success: false,\n      error: errorMsg,\n      messageType: 'text',\n      sentAt: new Date().toISOString()\n    }\n  }];\n}\n\n// Build request body - only include reply_to if it exists\nconst requestBody = {\n  session: sessionId,\n  chatId: chatId,\n  text: text\n};\n\nif (replyTo) {\n  requestBody.reply_to = replyTo;\n}\n\nconsole.log('[Send Text] Request body:', JSON.stringify(requestBody, null, 2));\nconsole.log('[Send Text] Calling WAHA API:', wahaUrl + '/api/sendText');\n\ntry {\n  const response = await this.helpers.httpRequest({\n    method: 'POST',\n    url: wahaUrl + '/api/sendText',\n    headers: {\n      'x-api-key': apiKey,\n      'Content-Type': 'application/json'\n    },\n    body: requestBody,\n    timeout: 30000,\n    json: true\n  });\n  \n  console.log('[Send Text] ✅ SUCCESS - Response:', JSON.stringify(response, null, 2));\n  \n  return [{\n    json: {\n      success: true,\n      messageType: 'text',\n      sentAt: new Date().toISOString(),\n      response: response\n    }\n  }];\n} catch (error) {\n  console.error('[Send Text] ❌ ERROR DETAILS:');\n  console.error('  Error message:', error.message);\n  console.error('  Status code:', error.statusCode);\n  console.error('  Response:', error.response ? JSON.stringify(error.response.data || error.response, null, 2) : 'No response');\n  console.error('  Request URL:', wahaUrl + '/api/sendText');\n  console.error('  Request body:', JSON.stringify(requestBody, null, 2));\n  \n  // CRITICAL: Don't throw - return error info so workflow can continue\n  return [{\n    json: {\n      success: false,\n      error: error.message,\n      statusCode: error.statusCode,\n      messageType: 'text',\n      sentAt: new Date().toISOString(),\n      errorDetails: error.response ? error.response.data : null\n    }\n  }];\n}","notice":""},"id":"78bd4a8d-88b5-43c4-bbe9-23b6dba0835b","name":"Send Text Message","type":"n8n-nodes-base.code","typeVersion":2,"position":[2784,-688]},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"// Log conversation for analytics\nconst messageData = $input.all().map(item => item.json);\n\nconst logEntry = {\n  timestamp: new Date().toISOString(),\n  conversations: messageData.map(msg => ({\n    userId: msg.userId || 'unknown',\n    messageType: msg.messageType || 'text',\n    responseTime: msg.timestamp || new Date().toISOString(),\n    success: msg.success || false\n  }))\n};\n\nconsole.log('[Analytics] Logged:', logEntry);\n\nreturn [{ json: logEntry }];","notice":""},"id":"78c6282f-f253-477d-98b3-ce2ecd42441c","name":"Log Analytics","type":"n8n-nodes-base.code","typeVersion":2,"position":[3008,-784]},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"// Normalize HTTP webhook input to match WAHA format\nconst httpInput = $input.item.json;\n\nconst question = httpInput.body?.question || \n                 httpInput.body?.text || \n                 httpInput.body?.message || \n                 httpInput.question || \n                 httpInput.text || \n                 httpInput.message || '';\n\nconst sessionId = httpInput.body?.sessionId || \n                  httpInput.body?.session_id || \n                  httpInput.body?.from || \n                  httpInput.sessionId || \n                  httpInput.session_id || \n                  'webhook-user';\n\nreturn {\n  json: {\n    event: 'message',\n    payload: {\n      from: sessionId,\n      body: question,\n      conversation: question,\n      id: `webhook-${Date.now()}-${Math.random().toString(36).substr(2, 9)}`,\n      hasMedia: false,\n      timestamp: Date.now(),\n      _data: { message: {} }\n    },\n    source: 'http-webhook'\n  }\n};","notice":""},"id":"a7acb85c-3e08-4115-929d-ff3746ba3d92","name":"Normalize HTTP Input","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1872,-848]},{"parameters":{"multipleMethods":false,"httpMethod":"POST","path":"rensto-support-api","authentication":"none","responseMode":"onReceived","contentTypeNotice":"","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-2096,-848],"id":"e18ca186-9c52-4e8a-97b6-9503a55cd2e8","name":"Webhook","webhookId":"70828a52-f4f8-46c4-a69d-dea1be0bc8bc"},{"parameters":{"mode":"rules","rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"leftValue":"={{ $json.messageType }}","rightValue":"voice","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"voice"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"leftValue":"={{ $json.messageType }}","rightValue":"image","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"image"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"leftValue":"={{ $json.messageType }}","rightValue":"document","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"document"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"leftValue":"={{ $json.messageType }}","rightValue":"video","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"video"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"leftValue":"={{ $json.messageType }}","rightValue":"text","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"text"}]},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[-1424,-656],"id":"247edf5f-958b-4a49-9cf5-78e4499f6386","name":"Message Type Router"},{"parameters":{"preBuiltAgentsCalloutHttpRequest":"","curlImport":"","method":"GET","url":"={{ $json.mediaUrl }}","authentication":"none","provideSslCertificates":false,"sendQuery":false,"sendHeaders":true,"specifyHeaders":"keypair","headerParameters":{"parameters":[{"name":"x-api-key","value":"4fc7e008d7d24fc995475029effc8fa8"}]},"sendBody":false,"options":{"response":{"response":{"fullResponse":false,"neverError":false,"responseFormat":"file","outputPropertyName":"data"}},"timeout":15000},"infoMessage":""},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-272,-1136],"id":"da1ea947-cc3e-408f-8dde-6e250f4b5f22","name":"Download Voice","onError":"continueErrorOutput"},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"48e5d108-a6e6-4517-b0a6-33f95d454054","leftValue":"={{ $json.source }}","rightValue":"http-webhook","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"looseTypeValidation":false,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2112,-880],"id":"9bf5d527-3d1b-45d6-862a-d97357d97d77","name":"Check Response Source"},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"48e5d108-a6e6-4517-b0a6-33f95d454054","leftValue":"={{ $json.requiresVoice }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"looseTypeValidation":false,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2336,-784],"id":"7fa56e8e-a010-45e7-885c-d2d1008f3f06","name":"Voice Response Check"},{"parameters":{"enableResponseOutput":false,"generalNotice":"","respondWith":"json","webhookNotice":"","responseBody":"={{ JSON.stringify({ success: true, response: $json.responseText, messageId: $json.messageId, timestamp: $json.timestamp }) }}","options":{"responseCode":200,"responseHeaders":{"entries":[{"name":"Content-Type","value":"application/json"}]}}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[2336,-976],"id":"e9e1bede-5030-4cdd-93ab-39b43629669f","name":"Respond to Webhook"},{"parameters":{"resource":"speech","operation":"textToSpeech","voice":{"__rl":true,"value":"fkQDt886xMbusUJ9weAC","mode":"id"},"text":"={{ $json.responseText }}","additionalOptions":{"model":{"__rl":true,"value":"eleven_v3","mode":"list","cachedResultName":"Eleven v3 (alpha)"},"outputFormat":"opus_48000_192"},"requestOptions":{}},"type":"@elevenlabs/n8n-nodes-elevenlabs.elevenLabs","typeVersion":1,"position":[2560,-880],"id":"5469fc85-18c3-4415-bbd5-bd1baca414b7","name":"Convert text to speech","credentials":{"elevenLabsApi":{"id":"yEEqLVMzOlo1L0xI","name":"ElevenLabs account"}}},{"parameters":{"mode":"manual","duplicateItem":false,"assignments":{"assignments":[{"id":"store_name","name":"store_name","value":"={{ $json.store_name ? ($json.store_name.startsWith('fileSearchStores/') ? $json.store_name : 'fileSearchStores/' + $json.store_name.replace('fileSearchStores/', '')) : 'fileSearchStores/rensto-knowledge-base-ndf9fmymwb2p' }}","type":"string"},{"id":"question","name":"question","value":"={{ $json.question || $json.output || $json.message_text || $json.text || $json.transcript || $json.transcription || ($json.payload && ($json.payload.body || $json.payload.conversation || $json.payload.caption)) || '' }}","type":"string"},{"id":"message_type","name":"message_type","value":"={{ $json.message_type || ($json.payload && $json.payload.message_type) || 'text' }}","type":"string"},{"id":"message_text","name":"message_text","value":"={{ $json.question || $json.output || $json.message_text || $json.text || ($json.payload && ($json.payload.body || $json.payload.conversation || $json.payload.caption)) || '' }}","type":"string"},{"id":"voice_url","name":"voice_url","value":"={{ ($json.message_type === 'ptt' && $json.payload && $json.payload.media && $json.payload.media.url) ? $json.payload.media.url.replace('localhost:3000', '173.254.201.134:3000') : '' }}","type":"string"},{"id":"media_url","name":"media_url","value":"={{ ($json.message_type !== 'text' && $json.payload && $json.payload.hasMedia === true && $json.payload.media && $json.payload.media.url) ? $json.payload.media.url.replace('localhost:3000', '173.254.201.134:3000') : '' }}","type":"string"},{"id":"media_type","name":"media_type","value":"={{ $json.payload && $json.payload.hasMedia === true && $json.payload.media && $json.payload.media.mimetype ? $json.payload.media.mimetype : '' }}","type":"string"},{"id":"caption","name":"caption","value":"={{ $json.caption || ($json.payload && ($json.payload.caption || $json.payload.body || '')) || '' }}","type":"string"},{"id":"designer_phone","name":"designer_phone","value":"={{ $json.userId || $json.designer_phone || ($json.payload && $json.payload.from) || '' }}","type":"string"},{"id":"original_message_id","name":"original_message_id","value":"={{ $json.messageId || $json.original_message_id || ($json.payload && $json.payload.id) || '' }}","type":"string"}]},"includeOtherFields":false,"options":{}},"id":"44805e33-92a4-470b-a377-1cfe7892559c","name":"Set Store Name and Extract Text1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[400,-880]},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"// Merge Transcription Metadata - Store userId in static data (CRITICAL for Process AI Response)\nlet staticData;\ntry {\n  staticData = this.getWorkflowStaticData('global');\n} catch (error) {\n  staticData = {};\n}\n\nconst data = { ...(typeof $json === 'object' ? $json : {}) };\n\n// Normalize store name\nconst normalizeStore = (store) => {\n  if (!store) return 'fileSearchStores/rensto-knowledge-base-ndf9fmymwb2p';\n  const cleaned = store.replace(/^fileSearchStores\\//, '');\n  return `fileSearchStores/${cleaned}`;\n};\n\nconst normalizedStore = normalizeStore(data.store_name);\n\n// Store in workflow static data so Search Knowledge Base tool can access it\nstaticData.googleStoreName = normalizedStore;\n\n// CRITICAL: Store userId in static data (AI Agent will lose it)\nif (data.designer_phone || data.userId) {\n  const userId = data.designer_phone || data.userId;\n  const messageId = data.original_message_id || data.messageId || '';\n  const requiresVoice = data.message_type === 'ptt' || data.requiresVoiceResponse || false;\n  const source = data.source || 'waha';\n  \n  // Store in static data for Process AI Response to access\n  if (!staticData.lastMessageMetadata) {\n    staticData.lastMessageMetadata = {};\n  }\n  staticData.lastMessageMetadata.userId = userId;\n  staticData.lastMessageMetadata.messageId = messageId;\n  staticData.lastMessageMetadata.requiresVoiceResponse = requiresVoice;\n  staticData.lastMessageMetadata.source = source;\n  staticData.lastMessageMetadata.sessionId = data.sessionId || userId;\n  \n  console.log('[Merge Transcription] ✅ Stored userId in static data:', userId);\n  console.log('[Merge Transcription] Static data keys:', Object.keys(staticData).join(', '));\n} else {\n  console.log('[Merge Transcription] ⚠️ No userId found in data:', Object.keys(data).join(', '));\n}\n\n// CRITICAL: Extract question from ALL possible sources\nconst question = (\n  data.question ||\n  data.text ||\n  data.transcript ||\n  data.transcription ||\n  data.output ||\n  data.message_text ||\n  data.processedText ||\n  data.textContent ||\n  ''\n).trim();\n\nif (!question) {\n  throw new Error('Missing question/text in Merge Transcription Metadata');\n}\n\nreturn {\n  json: {\n    ...data,\n    store_name: normalizedStore,\n    message_text: question,\n    question: question, // CRITICAL: Ensure question is set\n    message_type: data.message_type || (data.requiresVoiceResponse ? 'ptt' : 'text'),\n    userId: data.designer_phone || data.userId || '',\n    messageId: data.original_message_id || data.messageId || ''\n  }\n};","notice":""},"id":"14b03ea7-e581-4a7a-8615-1b8eab620c55","name":"Merge Transcription Metadata","type":"n8n-nodes-base.code","typeVersion":2,"position":[624,-880]},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"// Debug Voice Routing - Log routing decision and ensure boolean\nconst input = $json || {};\n\nconsole.log('\\n[Debug Voice Routing] ===== ROUTING DECISION =====');\nconsole.log('  requiresVoice (raw):', input.requiresVoice, '(type:', typeof input.requiresVoice, ')');\nconsole.log('  userId:', input.userId);\nconsole.log('  messageId:', input.messageId);\nconsole.log('  responseText length:', input.responseText ? input.responseText.length : 0);\nconsole.log('  responseText preview:', input.responseText ? input.responseText.substring(0, 100) : 'NONE');\nconsole.log('  source:', input.source);\nconsole.log('  Full input keys:', Object.keys(input).join(', '));\n\n// CRITICAL: Ensure requiresVoice is explicitly boolean\n// Convert any truthy/falsy value to explicit boolean\nlet requiresVoice = false;\nif (input.requiresVoice === true || input.requiresVoice === 'true' || input.requiresVoice === 1) {\n  requiresVoice = true;\n} else {\n  requiresVoice = false; // Explicitly set to false for text messages\n}\n\nconsole.log('  Final requiresVoice (boolean):', requiresVoice, '(type:', typeof requiresVoice, ')');\nconsole.log('  Will route to:', requiresVoice ? 'VOICE (Convert text to speech)' : 'TEXT (Send Text Message)');\nconsole.log('==========================================\\n');\n\n// CRITICAL: Return all input fields plus explicit boolean requiresVoice\nreturn [{\n  json: {\n    responseText: input.responseText || '',\n    userId: input.userId || '',\n    messageId: input.messageId || '',\n    requiresVoice: requiresVoice, // CRITICAL: Explicit boolean (false for text, true for voice)\n    source: input.source || 'waha',\n    timestamp: input.timestamp || new Date().toISOString()\n  }\n}];","notice":""},"id":"4a7ce5f1-8542-496a-8d99-da92bb5475c8","name":"Debug Voice Routing","type":"n8n-nodes-base.code","typeVersion":1,"position":[1888,-880]},{"parameters":{"preBuiltAgentsCalloutHttpRequest":"","curlImport":"","method":"GET","url":"={{ $json.mediaUrl }}","authentication":"none","provideSslCertificates":false,"sendQuery":false,"sendHeaders":true,"specifyHeaders":"keypair","headerParameters":{"parameters":[{"name":"x-api-key","value":"4fc7e008d7d24fc995475029effc8fa8"}]},"sendBody":false,"options":{"response":{"response":{"fullResponse":false,"neverError":false,"responseFormat":"file","outputPropertyName":"data"}},"timeout":60000},"infoMessage":""},"id":"5bc1e135-c412-4509-b844-54d8854dfee3","name":"Download Video","type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-912,-384],"onError":"continueRegularOutput"},{"parameters":{"preBuiltAgentsCalloutHttpRequest":"","curlImport":"","method":"GET","url":"={{ $json.mediaUrl }}","authentication":"none","provideSslCertificates":false,"sendQuery":false,"sendHeaders":true,"specifyHeaders":"keypair","headerParameters":{"parameters":[{"name":"x-api-key","value":"4fc7e008d7d24fc995475029effc8fa8"}]},"sendBody":false,"options":{"response":{"response":{"fullResponse":false,"neverError":false,"responseFormat":"file","outputPropertyName":"data"}},"timeout":60000},"infoMessage":""},"id":"9cbc15a4-117d-4926-9aba-be3dbd0d16e5","name":"Download Document","type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-912,32],"onError":"continueRegularOutput"},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"// Merge Gemini analysis with metadata from Message Type Router\n// CRITICAL: Preserve ALL metadata for Process Media Context (after Guardrails)\nconst geminiOutput = $json.output || $json.text || $json.response || '';\nconst routerData = $node['Message Type Router'].json || {};\n\nreturn {\n  json: {\n    // Preserve ALL metadata from Message Type Router\n    userId: routerData.userId,\n    messageId: routerData.messageId,\n    messageType: 'image',\n    textContent: routerData.textContent || '',\n    caption: routerData.textContent || '',\n    mediaUrl: routerData.mediaUrl,\n    source: routerData.source,\n    timestamp: routerData.timestamp,\n    \n    // Gemini analysis output (will be sanitized by Guardrails)\n    output: geminiOutput,\n    analysis: geminiOutput,\n    text: geminiOutput,\n    \n    // For Process Media Context to extract original question\n    processedText: routerData.textContent || geminiOutput || 'What can you help me with this image?'\n  }\n};","notice":""},"id":"9b88be15-a06d-4a67-916b-f86cdd02f3d5","name":"Merge Image Analysis","type":"n8n-nodes-base.code","typeVersion":2,"position":[-560,-880]},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"// Merge Gemini analysis with metadata from Message Type Router\nconst geminiOutput = $json.output || $json.text || $json.response || '';\nconst routerData = $node['Message Type Router'].json || {};\n\nreturn {\n  json: {\n    userId: routerData.userId,\n    messageId: routerData.messageId,\n    messageType: 'video',\n    textContent: routerData.textContent || '',\n    caption: routerData.textContent || '',\n    mediaUrl: routerData.mediaUrl,\n    source: routerData.source,\n    timestamp: routerData.timestamp,\n    output: geminiOutput,\n    analysis: geminiOutput,\n    processedText: routerData.textContent || geminiOutput || 'What can you help me with this video?'\n  }\n};","notice":""},"id":"509f0a7b-d177-4558-b536-87460db6b54d","name":"Merge Video Analysis","type":"n8n-nodes-base.code","typeVersion":2,"position":[-272,-384]},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"// Merge Gemini analysis with metadata from Message Type Router\nconst geminiOutput = $json.output || $json.text || $json.response || '';\nconst routerData = $node['Message Type Router'].json || {};\n\nreturn {\n  json: {\n    userId: routerData.userId,\n    messageId: routerData.messageId,\n    messageType: 'document',\n    textContent: routerData.textContent || '',\n    caption: routerData.textContent || '',\n    mediaUrl: routerData.mediaUrl,\n    source: routerData.source,\n    timestamp: routerData.timestamp,\n    output: geminiOutput,\n    analysis: geminiOutput,\n    processedText: routerData.textContent || geminiOutput || 'What can you help me with this document?'\n  }\n};","notice":""},"id":"9d90f94d-b8d5-496a-a85d-5f5ec4082fd0","name":"Merge Document Analysis","type":"n8n-nodes-base.code","typeVersion":2,"position":[-272,32]},{"parameters":{"preBuiltAgentsCalloutHttpRequest":"","curlImport":"","method":"GET","url":"={{ $json.mediaUrl }}","authentication":"none","provideSslCertificates":false,"sendQuery":false,"sendHeaders":true,"specifyHeaders":"keypair","headerParameters":{"parameters":[{"name":"x-api-key","value":"4fc7e008d7d24fc995475029effc8fa8"}]},"sendBody":false,"options":{"response":{"response":{"fullResponse":false,"neverError":false,"responseFormat":"file","outputPropertyName":"data"}},"timeout":60000},"infoMessage":""},"id":"cdd6a334-c44e-4f20-b10a-61c8cd2ecf1f","name":"Download Image1","type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-1200,-880],"onError":"continueRegularOutput"},{"parameters":{"aiAgentStarterCallout":"","promptType":"define","text":"={{ $node['Message Type Router'].json.textContent || $node['Message Type Router'].json.caption || 'Analyze this image in detail. Extract any text visible (OCR) and describe what you see.' }}","hasOutputParser":false,"needsFallback":false,"options":{"systemMessage":"You are an expert image analysis AI. Your task is to analyze images and extract:\n1. Visual content description\n2. Any text visible in the image (OCR)\n3. Objects, people, scenes, and context\n4. Relevant details for business automation support\n\n**CRITICAL RULES:**\n- Always respond in the same language as any text found in the image\n- If the image contains text, extract it verbatim\n- Provide detailed, actionable descriptions\n- Focus on information relevant to business automation and support\n- Never add branding or disclaimers","maxIterations":5,"returnIntermediateSteps":false,"passthroughBinaryImages":true}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[-976,-880],"id":"864a5ed8-bf0f-4165-9024-41e5134bb530","name":"Image Analysis Agent"},{"parameters":{"notice":"","model":{"__rl":true,"value":"chatgpt-4o-latest","mode":"list","cachedResultName":"chatgpt-4o-latest"},"responsesApiEnabled":true,"builtInTools":{},"options":{"maxTokens":1024,"temperature":0.3}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-960,-656],"id":"a2ba2dd7-aa3d-42f2-b683-93393bf56067","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"0sXFXYfqiDEKuDcN","name":"service@rensto.com"}}},{"parameters":{"aiAgentStarterCallout":"","promptType":"define","text":"={{ $json.textContent || $json.caption || 'Analyze this video frame and describe what you see.' }}","hasOutputParser":false,"needsFallback":false,"options":{"systemMessage":"You are an expert video frame analysis AI. Your task is to analyze video frames and extract:\n1. Visual content in the frame\n2. Any text visible (OCR)\n3. Motion indicators, scenes, and context\n4. Key information for business automation support\n\n**IMPORTANT NOTES:**\n- You are analyzing a SINGLE FRAME from a video\n- Describe what you see in this specific frame\n- If text is visible, extract it verbatim\n- Respond in the same language as any text found\n- Note that this is frame-based analysis, not full video understanding","maxIterations":5,"returnIntermediateSteps":false,"passthroughBinaryImages":true}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[-624,-480],"id":"a9fe6059-bd54-4eb7-adb8-ddb3c3c4c6f0","name":"Video Analysis Agent"},{"parameters":{"notice":"","model":{"__rl":true,"value":"chatgpt-4o-latest","mode":"list","cachedResultName":"chatgpt-4o-latest"},"responsesApiEnabled":true,"builtInTools":{},"options":{"maxTokens":2048,"temperature":0.3}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-608,-256],"id":"f5da3df3-4c6a-4017-badc-46962f8795f9","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"0sXFXYfqiDEKuDcN","name":"service@rensto.com"}}},{"parameters":{"aiAgentStarterCallout":"","promptType":"define","text":"={{ $json.textContent || $json.caption || 'Analyze this document and extract all text and key information.' }}","hasOutputParser":false,"needsFallback":false,"options":{"systemMessage":"You are an expert document analysis AI. Your task is to analyze documents and extract:\n1. All text content (OCR)\n2. Document structure and formatting\n3. Key information and data points\n4. Relevant details for business automation support\n\n**CRITICAL RULES:**\n- Extract ALL text verbatim\n- Preserve document structure (headings, lists, tables)\n- Identify key information (dates, names, amounts, etc.)\n- Respond in the same language as the document\n- Provide detailed, actionable extraction\n- Never add branding or disclaimers","maxIterations":8,"returnIntermediateSteps":false,"passthroughBinaryImages":true}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[-624,32],"id":"dfd0eb3c-255e-44be-b682-08e290e9f245","name":"Document Analysis Agent"},{"parameters":{"notice":"","model":{"__rl":true,"value":"chatgpt-4o-latest","mode":"list","cachedResultName":"chatgpt-4o-latest"},"responsesApiEnabled":true,"builtInTools":{},"options":{"maxTokens":4096,"temperature":0.2}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-608,256],"id":"16f192b5-be7b-4039-835d-2246b6bfeb67","name":"OpenAI Chat Model2","credentials":{"openAiApi":{"id":"0sXFXYfqiDEKuDcN","name":"service@rensto.com"}}},{"parameters":{"guardrailsUsage":"","operation":"sanitize","text":"={{ $json.output || $json.analysis || $json.text || \"\" }}","guardrails":{"pii":{"value":{"type":"all"}},"secretKeys":{"value":{"permissiveness":"balanced"}},"urls":{"value":{"allowedUrls":"","allowedSchemes":["https","http"],"blockUserinfo":true,"allowSubdomains":true}}}},"type":"@n8n/n8n-nodes-langchain.guardrails","typeVersion":1,"position":[-272,-880],"id":"26c5a8b4-e282-4dde-9806-67c14a06a275","name":"Guardrails"},{"parameters":{"guardrailsUsage":"","operation":"checkTextForViolations","text":"={{ $json.question || \"\" }}","guardrails":{}},"type":"@n8n/n8n-nodes-langchain.guardrails","typeVersion":1,"position":[848,-880],"id":"ea6375ff-3ae7-4646-895a-5aeaa48eef01","name":"Guardrails1"},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $node['Prepare AI Input'].json.hasImageAnalysis === true }}","operation":"equal","value2":true}]},"combineOperation":"all"},"id":"7b5431e1-7a13-4398-997a-9907e19b45e7","name":"Image Analysis Switch","type":"n8n-nodes-base.if","typeVersion":1,"position":[1152,-880]},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"// Generate deterministic response directly from stored image analysis.\nconst prepareData = $node['Prepare AI Input'].json || {};\nconst processData = $node['Process Media Context'].json || {};\nconst mergeData = $node['Merge Image Analysis'].json || {};\n\nconst getText = (value) => {\n  if (value === undefined || value === null) return '';\n  return String(value).trim();\n};\n\nconst question = getText(\n  processData.originalQuestion ||\n  processData.originalCaption ||\n  prepareData.question ||\n  prepareData.caption ||\n  mergeData.caption ||\n  'this image'\n);\n\nconst analysis = getText(\n  processData.imageAnalysis ||\n  processData.geminiAnalysis ||\n  prepareData.imageAnalysis ||\n  mergeData.analysis ||\n  ''\n);\n\nconst containsHebrew = (text) => /[\\u0590-\\u05FF]/.test(text || '');\nconst useHebrew = containsHebrew(question) || containsHebrew(analysis);\n\nlet response;\nif (analysis) {\n  response = useHebrew\n    ? `✅ כן, אני רואה את התמונה ושמתי לב לבאים:\\n${analysis}`\n    : `✅ Yes, I can see the image. Here is what I observe:\\n${analysis}`;\n} else {\n  response = useHebrew\n    ? '✅ כן, קיבלתי את התמונה אך לא נמצא טקסט ניתוח. אנא שלח שוב או הסבר מה תרצה שנבדוק.'\n    : '✅ I received your image but the analysis data was empty. Please resend it or tell me what you need help with.';\n}\n\nreturn [{\n  json: {\n    ...processData,\n    ...prepareData,\n    output: response,\n    responseText: response,\n    answeredFromImageAnalysis: analysis.length > 0\n  }\n}];","notice":""},"id":"0c40ab50-3afb-4136-8608-a2913d7b1c02","name":"Image Analysis Responder","type":"n8n-nodes-base.code","typeVersion":2,"position":[1456,-976]},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"// Guardrails: Check video file size\nconst maxSizeMB = 15;\nconst payload = $json.payload || {};\nconst data = payload._data || {};\nconst videoMsg = data.message ? data.message.videoMessage : null;\nconst fileSize = videoMsg ? Number(videoMsg.fileLength) : 0;\nconst fileSizeMB = fileSize / (1024 * 1024);\n\nif (fileSizeMB > maxSizeMB) {\n  // Stop execution for this branch\n  return [];\n}\n\nreturn [$input.item];","notice":""},"name":"Guardrails: Video Size","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1150,-384],"id":"guardrails-video-size"},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"// Guardrails: Check document file size\nconst maxSizeMB = 10;\nconst payload = $json.payload || {};\nconst data = payload._data || {};\nconst docMsg = data.message ? data.message.documentMessage : null;\nconst fileSize = docMsg ? Number(docMsg.fileLength) : 0;\nconst fileSizeMB = fileSize / (1024 * 1024);\n\nif (fileSizeMB > maxSizeMB) {\n  // Stop execution for this branch\n  return [];\n}\n\nreturn [$input.item];","notice":""},"name":"Guardrails: Doc Size","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1150,32],"id":"guardrails-doc-size"},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"// Fix Video MIME Type - Preserve correct MIME type from Message Type Router\nconst videoData = $binary.data;\nconst routerData = $node['Message Type Router'].json || {};\nconst correctMimeType = routerData?.mediaInfo?.mimetype || 'video/mp4';\n\nconsole.log('[Fix MIME] Original mimeType:', videoData?.mimeType);\nconsole.log('[Fix MIME] Correct mimeType from router:', correctMimeType);\n\n// Update binary data with correct MIME type\nconst result = {\n  json: $json,\n  binary: {\n    data: {\n      ...videoData,\n      mimeType: correctMimeType,\n      fileName: videoData?.fileName || 'video.mp4'\n    }\n  }\n};\n\nconsole.log('[Fix MIME] Updated mimeType:', result.binary.data.mimeType);\nreturn result;","notice":""},"id":"fix-video-mime-001","name":"Fix Video MIME Type","type":"n8n-nodes-base.code","typeVersion":2,"position":[-740,-384]},{"parameters":{"preBuiltAgentsCalloutHttpRequest":"","curlImport":"","method":"GET","url":"={{ $json.mediaUrl }}","authentication":"none","provideSslCertificates":false,"sendQuery":false,"sendHeaders":true,"specifyHeaders":"keypair","headerParameters":{"parameters":[{"name":"x-api-key","value":"4fc7e008d7d24fc995475029effc8fa8"}]},"sendBody":false,"options":{"response":{"response":{"fullResponse":false,"neverError":false,"responseFormat":"file","outputPropertyName":"data"}},"timeout":60000},"infoMessage":""},"id":"2214e0ae-4d2a-40a0-9d8c-adcaabcaee13","name":"Download Image","type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-1176,-880],"onError":"continueRegularOutput"}],"connections":{"Smart Message Router":{"main":[[{"node":"Message Type Router","type":"main","index":0}]]},"Transcribe Voice":{"main":[[{"node":"Prepare AI Input","type":"main","index":0}],[{"node":"Prepare AI Input","type":"main","index":0}]]},"Process Media Context":{"main":[[{"node":"Prepare AI Input","type":"main","index":0}]]},"Prepare AI Input":{"main":[[{"node":"Set Store Name and Extract Text1","type":"main","index":0}]]},"Rensto AI Agent":{"main":[[{"node":"Process AI Response","type":"main","index":0}]]},"Conversation Memory":{"ai_memory":[[{"node":"Rensto AI Agent","type":"ai_memory","index":0}]]},"Search Knowledge Base":{"ai_tool":[[{"node":"Rensto AI Agent","type":"ai_tool","index":0}]]},"OpenAI Model":{"ai_languageModel":[[{"node":"Rensto AI Agent","type":"ai_languageModel","index":0}]]},"Process AI Response":{"main":[[{"node":"Debug Voice Routing","type":"main","index":0}]]},"Send Voice Message":{"main":[[{"node":"Log Analytics","type":"main","index":0}]]},"Send Text Message":{"main":[[{"node":"Log Analytics","type":"main","index":0}]]},"Normalize HTTP Input":{"main":[[{"node":"Smart Message Router","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Normalize HTTP Input","type":"main","index":0}]]},"Message Type Router":{"main":[[{"node":"Download Voice","type":"main","index":0}],[{"node":"Download Image","type":"main","index":0}],[{"node":"Guardrails: Doc Size","type":"main","index":0}],[{"node":"Guardrails: Video Size","type":"main","index":0}],[{"node":"Prepare AI Input","type":"main","index":0}]]},"Download Voice":{"main":[[{"node":"Transcribe Voice","type":"main","index":0}],[{"node":"Prepare AI Input","type":"main","index":0}]]},"Check Response Source":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}],[{"node":"Voice Response Check","type":"main","index":0}]]},"Voice Response Check":{"main":[[{"node":"Convert text to speech","type":"main","index":0}],[{"node":"Send Text Message","type":"main","index":0}]]},"Convert text to speech":{"main":[[{"node":"Send Voice Message","type":"main","index":0}]]},"Set Store Name and Extract Text1":{"main":[[{"node":"Merge Transcription Metadata","type":"main","index":0}]]},"Merge Transcription Metadata":{"main":[[{"node":"Guardrails1","type":"main","index":0}]]},"Debug Voice Routing":{"main":[[{"node":"Check Response Source","type":"main","index":0}]]},"Download Video":{"main":[[{"node":"Fix Video MIME Type","type":"main","index":0}]]},"Download Document":{"main":[[{"node":"Document Analysis Agent","type":"main","index":0}]]},"Merge Image Analysis":{"main":[[{"node":"Guardrails","type":"main","index":0}]]},"Merge Video Analysis":{"main":[[{"node":"Process Media Context","type":"main","index":0}]]},"Merge Document Analysis":{"main":[[{"node":"Process Media Context","type":"main","index":0}]]},"WAHA Trigger":{"main":[[{"node":"Smart Message Router","type":"main","index":0}],[{"node":"Smart Message Router","type":"main","index":0}],[{"node":"Smart Message Router","type":"main","index":0}],[{"node":"Smart Message Router","type":"main","index":0}]]},"Image Analysis Agent":{"main":[[{"node":"Merge Image Analysis","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Image Analysis Agent","type":"ai_languageModel","index":0},{"node":"Guardrails1","type":"ai_languageModel","index":0}]]},"Video Analysis Agent":{"main":[[{"node":"Merge Video Analysis","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Video Analysis Agent","type":"ai_languageModel","index":0}]]},"Document Analysis Agent":{"main":[[{"node":"Merge Document Analysis","type":"main","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"Document Analysis Agent","type":"ai_languageModel","index":0}]]},"Guardrails":{"main":[[{"node":"Process Media Context","type":"main","index":0}]]},"Guardrails1":{"main":[[{"node":"Image Analysis Switch","type":"main","index":0}]]},"Image Analysis Switch":{"main":[[{"node":"Image Analysis Responder","type":"main","index":0}],[{"node":"Rensto AI Agent","type":"main","index":0}]]},"Image Analysis Responder":{"main":[[{"node":"Process AI Response","type":"main","index":0}]]},"Guardrails: Video Size":{"main":[[{"node":"Download Video","type":"main","index":0}]]},"Guardrails: Doc Size":{"main":[[{"node":"Download Document","type":"main","index":0}]]},"Fix Video MIME Type":{"main":[[{"node":"Video Analysis Agent","type":"main","index":0}]]},"Download Image":{"main":[[{"node":"Image Analysis Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{"googleApiKey":"AIzaSyB1nQdOOSeYdGv_R53dcyYDsIwenRU5ziE"},"pinData":{}},"customData":{}}