workflows/exec_voice_generic_20105.json
{"id":"20105","finished":true,"mode":"webhook","retryOf":null,"retrySuccessId":null,"status":"success","createdAt":"2025-11-23T19:16:18.785Z","startedAt":"2025-11-23T19:16:18.805Z","stoppedAt":"2025-11-23T19:16:21.871Z","deletedAt":null,"workflowId":"eQSCUFw91oXLxtvn","waitTill":null,"data":{"startData":{},"resultData":{"runData":{"WAHA Trigger":[{"startTime":1763925378814,"executionIndex":0,"source":[],"hints":[],"executionTime":0,"executionStatus":"success","data":{"main":[[],[{"json":{"id":"evt_01kas2ahmr348xy0e59qb3say9","timestamp":1763925378713,"event":"message","session":"rensto-whatsapp","metadata":{},"me":{"id":"12144362102@c.us","pushName":"Rensto","lid":"271661580427508@lid"},"payload":{"id":"false_14695885133@c.us_3B93489CD7705F252AF1","timestamp":1763925378,"from":"14695885133@c.us","fromMe":false,"source":"app","body":null,"hasMedia":true,"media":{"url":"http://localhost:3000/api/files/rensto-whatsapp/3B93489CD7705F252AF1.oga","filename":null,"mimetype":"audio/ogg; codecs=opus"},"ack":2,"ackName":"DEVICE","location":null,"vCards":null,"replyTo":null,"_data":{"key":{"remoteJid":"14695885133@s.whatsapp.net","remoteJidAlt":"199501700681931@lid","fromMe":false,"id":"3B93489CD7705F252AF1","participant":"","addressingMode":"pn"},"messageTimestamp":1763925378,"pushName":"Shai Friedman","broadcast":false,"message":{"audioMessage":{"url":"https://mmg.whatsapp.net/v/t62.7117-24/26884403_1601746884592774_6176532681772318817_n.enc?ccb=11-4&oh=01_Q5Aa3AH9jPR-HfHQWjPi7kEG2Rx85TF62PojLH2xgtrESCUnYg&oe=694AB40B&_nc_sid=5e03e0&mms3=true","mimetype":"audio/ogg; codecs=opus","fileSha256":"bJzT8jHlCC0uixPc2isADo1sBg9gBCJPsi5tI4IdhI0=","fileLength":"6201","seconds":2,"ptt":true,"mediaKey":"rdGsPxhKpd+LHUc5VThyd9tLqtQO4Idz6fGyuQVxCX0=","fileEncSha256":"ky3NdDVJLkGwgyj1LGSLFt0NEaXdMQB3+ewi7DGmt1c=","directPath":"/v/t62.7117-24/26884403_1601746884592774_6176532681772318817_n.enc?ccb=11-4&oh=01_Q5Aa3AH9jPR-HfHQWjPi7kEG2Rx85TF62PojLH2xgtrESCUnYg&oe=694AB40B&_nc_sid=5e03e0","mediaKeyTimestamp":"1763925374","streamingSidecar":"iTbTStn6SElKuA==","waveform":"AAABAQICAgMDAwMCAgEBAQEBCBYlNDY4OTk4NjQyMTAvLSsqJB4YFxsfJCIgHhwZFhMREA8ODAoJBwYFBAMCAg=="},"messageContextInfo":{"deviceListMetadata":{"senderKeyHash":"nPCwjAaH25F+wQ==","senderTimestamp":"1763914766","recipientKeyHash":"/s4TzptXMIu37g==","recipientTimestamp":"1763345311"},"deviceListMetadataVersion":2,"messageSecret":"BhfFKDd+0UcebCFg3EtyKJy31b7ptsDF9h0CEx6DS30="}},"status":3}},"engine":"NOWEB","environment":{"version":"2025.11.2","engine":"NOWEB","tier":"PLUS","browser":null}},"pairedItem":{"item":0,"input":1}}],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[]]}}],"Smart Message Router":[{"startTime":1763925378815,"executionIndex":1,"source":[{"previousNode":"WAHA Trigger","previousNodeOutput":1}],"hints":[],"executionTime":35,"executionStatus":"success","data":{"main":[[{"json":{"messageId":"3B93489CD7705F252AF1","messageType":"voice","source":"waha","userId":"14695885133@c.us","timestamp":1763925378,"textContent":"","mediaUrl":"http://173.254.201.134:3000/api/files/rensto-whatsapp/3B93489CD7705F252AF1.oga","mediaInfo":{"isPTT":true,"mimetype":"audio/ogg"},"originalPayload":{"id":"false_14695885133@c.us_3B93489CD7705F252AF1","timestamp":1763925378,"from":"14695885133@c.us","fromMe":false,"source":"app","body":null,"hasMedia":true,"media":{"url":"http://localhost:3000/api/files/rensto-whatsapp/3B93489CD7705F252AF1.oga","filename":null,"mimetype":"audio/ogg; codecs=opus"},"ack":2,"ackName":"DEVICE","location":null,"vCards":null,"replyTo":null,"_data":{"key":{"remoteJid":"14695885133@s.whatsapp.net","remoteJidAlt":"199501700681931@lid","fromMe":false,"id":"3B93489CD7705F252AF1","participant":"","addressingMode":"pn"},"messageTimestamp":1763925378,"pushName":"Shai Friedman","broadcast":false,"message":{"audioMessage":{"url":"https://mmg.whatsapp.net/v/t62.7117-24/26884403_1601746884592774_6176532681772318817_n.enc?ccb=11-4&oh=01_Q5Aa3AH9jPR-HfHQWjPi7kEG2Rx85TF62PojLH2xgtrESCUnYg&oe=694AB40B&_nc_sid=5e03e0&mms3=true","mimetype":"audio/ogg; codecs=opus","fileSha256":"bJzT8jHlCC0uixPc2isADo1sBg9gBCJPsi5tI4IdhI0=","fileLength":"6201","seconds":2,"ptt":true,"mediaKey":"rdGsPxhKpd+LHUc5VThyd9tLqtQO4Idz6fGyuQVxCX0=","fileEncSha256":"ky3NdDVJLkGwgyj1LGSLFt0NEaXdMQB3+ewi7DGmt1c=","directPath":"/v/t62.7117-24/26884403_1601746884592774_6176532681772318817_n.enc?ccb=11-4&oh=01_Q5Aa3AH9jPR-HfHQWjPi7kEG2Rx85TF62PojLH2xgtrESCUnYg&oe=694AB40B&_nc_sid=5e03e0","mediaKeyTimestamp":"1763925374","streamingSidecar":"iTbTStn6SElKuA==","waveform":"AAABAQICAgMDAwMCAgEBAQEBCBYlNDY4OTk4NjQyMTAvLSsqJB4YFxsfJCIgHhwZFhMREA8ODAoJBwYFBAMCAg=="},"messageContextInfo":{"deviceListMetadata":{"senderKeyHash":"nPCwjAaH25F+wQ==","senderTimestamp":"1763914766","recipientKeyHash":"/s4TzptXMIu37g==","recipientTimestamp":"1763345311"},"deviceListMetadataVersion":2,"messageSecret":"BhfFKDd+0UcebCFg3EtyKJy31b7ptsDF9h0CEx6DS30="}},"status":3}},"requiresVoiceResponse":true,"sessionId":"14695885133@c.us"},"pairedItem":{"item":0}}]]}}],"Message Type Router":[{"startTime":1763925378850,"executionIndex":2,"source":[{"previousNode":"Smart Message Router"}],"hints":[],"executionTime":3,"executionStatus":"success","data":{"main":[[{"json":{"messageId":"3B93489CD7705F252AF1","messageType":"voice","source":"waha","userId":"14695885133@c.us","timestamp":1763925378,"textContent":"","mediaUrl":"http://173.254.201.134:3000/api/files/rensto-whatsapp/3B93489CD7705F252AF1.oga","mediaInfo":{"isPTT":true,"mimetype":"audio/ogg"},"originalPayload":{"id":"false_14695885133@c.us_3B93489CD7705F252AF1","timestamp":1763925378,"from":"14695885133@c.us","fromMe":false,"source":"app","body":null,"hasMedia":true,"media":{"url":"http://localhost:3000/api/files/rensto-whatsapp/3B93489CD7705F252AF1.oga","filename":null,"mimetype":"audio/ogg; codecs=opus"},"ack":2,"ackName":"DEVICE","location":null,"vCards":null,"replyTo":null,"_data":{"key":{"remoteJid":"14695885133@s.whatsapp.net","remoteJidAlt":"199501700681931@lid","fromMe":false,"id":"3B93489CD7705F252AF1","participant":"","addressingMode":"pn"},"messageTimestamp":1763925378,"pushName":"Shai Friedman","broadcast":false,"message":{"audioMessage":{"url":"https://mmg.whatsapp.net/v/t62.7117-24/26884403_1601746884592774_6176532681772318817_n.enc?ccb=11-4&oh=01_Q5Aa3AH9jPR-HfHQWjPi7kEG2Rx85TF62PojLH2xgtrESCUnYg&oe=694AB40B&_nc_sid=5e03e0&mms3=true","mimetype":"audio/ogg; codecs=opus","fileSha256":"bJzT8jHlCC0uixPc2isADo1sBg9gBCJPsi5tI4IdhI0=","fileLength":"6201","seconds":2,"ptt":true,"mediaKey":"rdGsPxhKpd+LHUc5VThyd9tLqtQO4Idz6fGyuQVxCX0=","fileEncSha256":"ky3NdDVJLkGwgyj1LGSLFt0NEaXdMQB3+ewi7DGmt1c=","directPath":"/v/t62.7117-24/26884403_1601746884592774_6176532681772318817_n.enc?ccb=11-4&oh=01_Q5Aa3AH9jPR-HfHQWjPi7kEG2Rx85TF62PojLH2xgtrESCUnYg&oe=694AB40B&_nc_sid=5e03e0","mediaKeyTimestamp":"1763925374","streamingSidecar":"iTbTStn6SElKuA==","waveform":"AAABAQICAgMDAwMCAgEBAQEBCBYlNDY4OTk4NjQyMTAvLSsqJB4YFxsfJCIgHhwZFhMREA8ODAoJBwYFBAMCAg=="},"messageContextInfo":{"deviceListMetadata":{"senderKeyHash":"nPCwjAaH25F+wQ==","senderTimestamp":"1763914766","recipientKeyHash":"/s4TzptXMIu37g==","recipientTimestamp":"1763345311"},"deviceListMetadataVersion":2,"messageSecret":"BhfFKDd+0UcebCFg3EtyKJy31b7ptsDF9h0CEx6DS30="}},"status":3}},"requiresVoiceResponse":true,"sessionId":"14695885133@c.us"},"pairedItem":{"item":0}}],[],[],[],[]]}}],"Download Voice":[{"startTime":1763925378853,"executionIndex":3,"source":[{"previousNode":"Message Type Router"}],"hints":[],"executionTime":9,"executionStatus":"success","data":{"main":[[{"json":{"messageId":"3B93489CD7705F252AF1","messageType":"voice","source":"waha","userId":"14695885133@c.us","timestamp":1763925378,"textContent":"","mediaUrl":"http://173.254.201.134:3000/api/files/rensto-whatsapp/3B93489CD7705F252AF1.oga","mediaInfo":{"isPTT":true,"mimetype":"audio/ogg"},"originalPayload":{"id":"false_14695885133@c.us_3B93489CD7705F252AF1","timestamp":1763925378,"from":"14695885133@c.us","fromMe":false,"source":"app","body":null,"hasMedia":true,"media":{"url":"http://localhost:3000/api/files/rensto-whatsapp/3B93489CD7705F252AF1.oga","filename":null,"mimetype":"audio/ogg; codecs=opus"},"ack":2,"ackName":"DEVICE","location":null,"vCards":null,"replyTo":null,"_data":{"key":{"remoteJid":"14695885133@s.whatsapp.net","remoteJidAlt":"199501700681931@lid","fromMe":false,"id":"3B93489CD7705F252AF1","participant":"","addressingMode":"pn"},"messageTimestamp":1763925378,"pushName":"Shai Friedman","broadcast":false,"message":{"audioMessage":{"url":"https://mmg.whatsapp.net/v/t62.7117-24/26884403_1601746884592774_6176532681772318817_n.enc?ccb=11-4&oh=01_Q5Aa3AH9jPR-HfHQWjPi7kEG2Rx85TF62PojLH2xgtrESCUnYg&oe=694AB40B&_nc_sid=5e03e0&mms3=true","mimetype":"audio/ogg; codecs=opus","fileSha256":"bJzT8jHlCC0uixPc2isADo1sBg9gBCJPsi5tI4IdhI0=","fileLength":"6201","seconds":2,"ptt":true,"mediaKey":"rdGsPxhKpd+LHUc5VThyd9tLqtQO4Idz6fGyuQVxCX0=","fileEncSha256":"ky3NdDVJLkGwgyj1LGSLFt0NEaXdMQB3+ewi7DGmt1c=","directPath":"/v/t62.7117-24/26884403_1601746884592774_6176532681772318817_n.enc?ccb=11-4&oh=01_Q5Aa3AH9jPR-HfHQWjPi7kEG2Rx85TF62PojLH2xgtrESCUnYg&oe=694AB40B&_nc_sid=5e03e0","mediaKeyTimestamp":"1763925374","streamingSidecar":"iTbTStn6SElKuA==","waveform":"AAABAQICAgMDAwMCAgEBAQEBCBYlNDY4OTk4NjQyMTAvLSsqJB4YFxsfJCIgHhwZFhMREA8ODAoJBwYFBAMCAg=="},"messageContextInfo":{"deviceListMetadata":{"senderKeyHash":"nPCwjAaH25F+wQ==","senderTimestamp":"1763914766","recipientKeyHash":"/s4TzptXMIu37g==","recipientTimestamp":"1763345311"},"deviceListMetadataVersion":2,"messageSecret":"BhfFKDd+0UcebCFg3EtyKJy31b7ptsDF9h0CEx6DS30="}},"status":3}},"requiresVoiceResponse":true,"sessionId":"14695885133@c.us"},"binary":{"data":{"mimeType":"audio/ogg","fileType":"audio","fileExtension":"oga","data":"T2dnUwACAAAAAAAAAABkAAAAAAAAADI5MFABE09wdXNIZWFkAQE4AYA+AAAAAABPZ2dTAAAAAAAAAAAAAGQAAAABAAAAWxHrFgEYT3B1c1RhZ3MIAAAAV2hhdHNBcHAAAAAAT2dnUwAAOGkBAAAAAABkAAAAAgAAANQ/RHIcyP8T9/8W5cr/B/86/zT/Iv8s/x3/DP8Q/yL/CUuGBw0jMC4L5ME27MWAB9poCE6QG8U7Vyp2MIYRt3r1zHVk1xYLUB0IxI+mtkzlMfdcWsJt/wMmQlaFyY6ggEmWPyo+2wAVd/Qeku0FGC6kj50uqzJviI3H14Wbjp+kkHxuGCFFHTx57OOJJoZQiH0vMl2cMg8OGmAaqDcmGLbJTKZcnXGYANhYPsnJUFL2MIptIvoeciiCzdP5QIg8X9wCJDWEKSQU3Raw5VE9PK0+EUdQHiL7EhYyzH7DGegwdM9cYuflp5NGS4YqMS0yKYeOFD2ra36Fr6o6+vo4q03VLXBkA7haJkZ05LF7lxd3i7XeWxPZzy4KcIeI9PNDer6mfKn4yDhPToCvL0nkzSAaop2z4QDi7nY/cTGfpmQkKWGmlud46C6R8jCHrd/k9f6riDXoZmNnkfCAsXqZEtVBgb5OBvR0qKlGM8Ab83WdOcQa1Uj7GJSIbVh3HPsM6O+1yf7BIQKyJG4iRUqc1FBep8O2fvflvuzZTjtLye2IhkzoqRntTdGoHIjXRC3M65J5mU/odnuWRgLXs1ZSS5BOO23JKemkdyD48MASn0rV8qygiZFE33RIIe37LpVBbIWO5844/2tnl9mINYWdk0AOmY8AUHATC/M0gEuGKSwuIiGJdY14/pd9vFo1uGn6FmsxCw/CsVQezP7uNfUTMhC+Lrz1iDdW4P2nwIlN6xIczTqY9xjVpkPwxEH+CSDwAn5cB15W2o8+JnEERT3ba85Du3ICJ5qAgSiFYZTDENq5v6txUcliHaRwJmQFzP0L+b+Xq0X9ZydF75zp0/E3wzyYZWrHPi6X0OnR3lLjGBAhBaj/7tWaSxYh1WGCre3ZKnJ+mMJEh1AEHl/HhYVRldrTB8jeTIf6yzVcKO5qUMhM0EDCnsql8MApuDKVCT+dusbGw9yyzlhi/ylLPWzTF1AaXMwnI+0WGM+RK0X+T+thNLxLhjEuMSctiVYt4BHmTYl2aGQ7AVdKga9hGUv4kNUwGE/igMuBTTSqNw7RCf5qOwSsI17zoiMLgItxXhegkCCWlkMsOrNL88TlKqwa/rck5rL0kl0pOG2LhK7lf0nwPoDUEW12fViL7RTqGYcQ7XWrgC/pGJRE1/3qOWPFgLv8rf0TY9WItKuyy5mkaF5KH4V5Opa7rEeAi+jsdl+dNKce2dV/XeejD4gkhvzteYTkI+fqG1RN0Ooq3jMqmUVgi8de4VOsxPDga5yITHrZGgZcnS/vb/VkeAyOuUv4l2T2OUfZqdQKVqwrSNEYi16zJoEt2x68g3oY7QiZDdUToBqq+kDRhU/AHcyhUF58Q4TUguDgyg4IS4YnKSUiI4tPnWmQpXhniakpp10KwQXc4MV/D9Su5qOjUttKk70TR5DWyQ+PaIrXcgw+jn7ExYTSh0pPJU7rKSXVbRqo/PwG+Je49MzWgNV9diu2H3GANjZURV82T8TFFT5EFrwAXzu7ArlPZmftGgVAADP+D/BBP3diEDEnIEwjnEBdZAN6Ac4kqQz0xQr7H73tFObtIzq8QlnDVjAuuxrmayfS2z1m4DIXbueMgoKeo7NNu7ZozzKGNW94co+P0CzCsTOOgFniOqJn1G3gef9KDYpzd7+b38xPdYdT3FZ9GUibMEuGHyEbISMnYjjTwm8IdqWZ0f/XaenmIgBeaNZXcEyFmhfmMKqXIavoArF3E0rHa42q2y/5obKFjfGyBthFioYP57mGQkZwHdKGC+x5o1lt+fdmC2MG0ZK6jaAa5XCFvUi+G4VXHn3G52p+h8KEHzaBuxPhO/qDebhP0WOObcDXVA48G/XW5dMkwp6sm/Bm1OOWOSarYrhqCluWbGDHphyuE4XGmsCAtxuWPaxD7YYAHAATSpQpkigIM7Y16QOldo9RqUSHX2DtCzBLhishIzIwgG6EXWOJj1cxnSfVPShOmrMlVD4YABHhtwh26fLWaVvLhherwJmBpTunkAK/y4v1+OfB+Z4LnSMucvS5wFDA2/aJZyCQqIUbSbAc0B5QKgv5n3cl9z6Vne8Z5ANT2wuSC3TKnfzAZFk2ap0v6JOAgGQYWdl7z5HJguVsHJsgUwJtsnn4MxGoHuXmfRD9qPNgVRO9Vugyes3WAnuF5Xd0536PYeMPjhVDLxibRQOa072t2vpDargB/HOtfWaGHMnBBeLkWAo8AHVAKxxt9CwyOcCCvhXyx0ju7WCkqLOzNqsVuD2Kg9tqBKZlPC+NQMgTJ4sfS9zWveNUI3GtHbbjS4Y0PzMwMoM5kaZCCSJuySfNjMZ83wnoxlc2ikDM+0GH0h/kPxPFdwmJXgiDaCry+kAlNLD/5Al0C4CsfioLLNIOy8KeS2W4U1Mf9mdzR4a8hrHFnpBiznOG490ru3pVZz8vA1VHeXkm9Hf0ix6fGEc3jb3tV1fUzsCpkBPBzjnfGF9J8LGIjBt7HntIG4j3Rgwm4VsRyMYk4ZjkvZ1px31mQ5ABLtShhgTVnUepGCSxBXzw1Kyzt5vTwnLwahMR6OHQL1snUaRqF66JflfAVT3+6/KdPHA8t4ynDICrLb8f0vOtcYI3/MMVpbSXaVCWiW3J+1CWhU8uyIy3IF2Twue6JRaOEl8H/gm0pXHp/qs+oxaBRD258UHWNvIXqclRYywEBWnk9kFzGQq4RNTAmBOFuXowg+3DgEuGMDE1Mi6petOj/5H4FkNP9wQSVPqeTW83iU1BATps0xIUiY5opn8qjPK+rBS58ewB4/1s0eCo/XcSUNFcuZYQPDazBUdvGceI5CC9GYHZFVboBNnYyFOmWvmjOfJNv7VUW7gdvmnApJ3DH0QGYNcvl9QCIg3o7pP+/kurHEdQSKBaJwfomU234rXL9HawPqJThlMnjlOSN0DzdhCiUMTeoBcrMryw61oVu43CBE2Ix6dHUiS6HmGB9N2IgtZD1Xa1ElTrlWgD0cGDfV4wfqG9ybuO5q9axVbqkwvVOjHvd3UtnNY0RODTz/Vup14TpIGnmXCaabkFEvOP2ECmkMu5DtSsUvUhiBJSQJpKxZA3gQ01sFZjNVj+yutNz3gpU43x8Opq4oLavOnvEWr1FIoFM+BLhi4rKzI0qCnDHjUiNg1BV65TRLyJ2fGIAkwiOPiqCoN2pNALGCHyWJdZitzuJdjWnPnAl6yYHVuNJDLWwAhMlWbeh8LZH6heWcqXHwKcPUuWRrppHL9TMUSQlIZiDSCqE3c/5rAKh/ZCe3rbEG7xvrCQTT3fJ/dY6CyVwGQcoyn4fnbtHRH3aFIQq426XxeRt0LlYJcacudrRByXpViqiv1H4y7UGJWZI7ArwgGH7NT9UOaUW0zmQbfqSSCtFSqvxsdNOZzJGsepoWVvyhs+yo0O52w++WIS8vqp5ap45R7s8+oLIpD093/rcnLBoviArPYnSt40g9tYbGS8WrNq9AuDShRN3yRmpQGG6oyULwNZED4vsCb1iarLHQqb32OAS4YyMDExNKqTk8V4mfoEW11gNEmm6WUuj0tSpMxkKHV2I4WtAP7AWV+VNhS1FBWIgcnXqi7TKguwo2cGtVEUBq7wLrRWicEF2M7kLg6pgm1rRCLLX6ru7qStG2Gh3pTT4LptRDw73ib1oQ6gvvNN0iRNkvgQOQRh+uSshi2fWa0BfnQiRpcTH+rHRIM3e2bONxan/sG4rIUmQJ+Mamh+cQxOmXUWt9Q0y4wnfeJD2IWPUEDbEB9CKtYC5/TCqiEf4KdgwFm5SA8HrKC9xzfslAm+CgkkRYJ+v5HIUwuYdh3G5Voc93uBuXLq2UGHcrQ5ZUufc0o1Gy0p8yQtMTLAvlU9Oyf7E+LKkuUlQKEXXb0TQOH2cAA9/JCU66m7MusQ0toGtAuIM/slcIBLhjg1KigmoYGI8cHUfaWo5xsO9SKq2lPg0uZIYlVHAzAwCXuJ4XGF52KPOwE4ahneWQQoQG73RDe6z74iQsCm2auZvB9mkHNzAiOFqti9z4uLYQpoVZYTUCXdoKatGh7oDNhzy1yiS018i/ukq9R4zKrTgKkXblvtDUqbnZCKS44739lPmgCKQuF/WqLmPcdtPavWTrOMeTTOM/sQ7Kmtg8QzBKGxAu7ThISDz3efkJhMHyxMtaRTEzlxCb+WWajkFav/BDioW5fDI7nK+VrFv87I47pk6iCQmn5ZZOm8Q5WxeUikzN7fgswesKc6yOaCIlUKaWKYF4+775SxdXXLfRXYHMKQ67XL19poXm5sZcdyUzeMxCkmSyLOwEuGLDErKyymIaRiwU2hN3q8Iv0o5mkJjNUx5rNSdEP4eYJAR1d3cUh4tpuNzqkcHMvnaKT1TjZe03IGI182K/p+LtN8c8eNfO3Gdyfr1A5+OlRJl+d6gwcXxIDWz5H8aCPaVhiM60PPJ1v0Nt+e5VZ1Sw5Uri7psnT+ozL8Ncc6MWO4MUuvf1tj60R0xWfUgY7peghzPvHGc+GoLY/69amU5IgGqFghZkJDtuSQYw4fA21QPImqbXo5aIntL1+W+mu1glMTi51wFkcRb//LYX56nnqTEjRHDMK/Cw4p3kt/CCVAMFZAiYLzj7r616vyzPdwQg8TgukV9msEyRxDRKYwXFSOEeccu/FuNkuGJycvLzCIvXJufD0xkfEDpq671SkCA+f6Eq8DMlp8SKTjudbpb6nvNeE0KzgrbXEaQc9ppY9gcNT3LweoiuRhn7+9cN0a5pekYgZZhsvMQpBPasOCAdeGpskPb+ut7uSTsPQb7PN7ZYvDUi7EFZzsgMOl23T64IJMUBTH7l/voeWz5ZF6ub5NblinzWjFOa0ste7kF9J6/0KcLFGTX+ic5ob+ZoEfqqB7uw80ZiRDM6jgkXcmMjf7+hOq12BhxQqSQkwOwRHqPEidMI1/y29t17StlPm7OgRlSFFYel6nYb4ikUDGZZF2pctsP9vxU3YJ6xi9+YvqDNK5NxGzWi2V8PpPS9/hmFjR4X9yCUhLhiorKTI0jwkdJ/ePzuDx6pwTj355vWbZwkR3jj5P0CAXD9NG8vKUuB/1QhylboqQgu6SLmg0Kn8bsbeV6Tpdxy6rd8Q51vGgMoAU3ipwKZi3cHdLp765Op0CIY4bBeycJvp7h+ZdepuS+4+YjsaqL2RIk08s7mBzr9D+QFyggxXYS5DApLOrwnBCsgjDmS2WUEw5QYWWPv9s1o8XN16HeMaogNSGhER+NmKX+/r/faX8COElO1CiaMNBOpV+P2hIskCmP/J/ZPrxQOW2LqS2Mhe7QNiqB52Y25EC1mUDUj6dC7eEe8m5nAOgollBk/qDkicnz7CxJLBAJoIw/+gTBT49j5qh9bvMSTfxLiqsRW5XRN+lS33iGVPup/68s3eAS4YuLCstJqIeVYcY3RYATTU1PJf+TxDMbe4grULgW/VrW8+HDxa6eisY9TCHO1/b+gG/t5qfwXjrf+DIdcR+g0hx/uXNUuKQZNVUgQUH1L4/BX64CAtIwIyZfIYCGyyraoq2C6kZZg6U8Veec0df0hb9sGLEP6+DJ030vpUj03UcLxcrb598SOh+SICBgtY3IVWbuN++LOG4dEEW23H85FBPDewE2q7dOD0r2WpOLw81lPcN0LY05x2BP+17T9SEQej38kCizxyzNUiXXQ0Xyd3kk94HzNKdGOoYina9gIJOKMBTNNQQjlCSeaDDu6yixjKvuEJNSDU4e4S/oqzA9OHf1NT+m9mAT2dnUwAAuBUCAAAAAABkAAAAAwAAAPnr1XoN/zb/DP8Z/xT/DtZ1AkuGKTQxNzWBpVxB27wnfb3G5FykODMrkaLIAmHHIAkTRMlbnR8tB/YWSVrT9DAvgKTrb6grjXbU1DYj8+w49oeizWL2NP8kFyU5056nr+RMovHJ/UUxilZwk6ZBkbEoCntKO42lAIqeOs5tKm+Ky/05Gosff/mP7thmHdt4KdlpO5p7c+Fz7Fzuy/ZjDNTW2sj8k+jWpTAmf+4lSHXk6vmJBOwQmqGAYyHWyF+oAyr9ny8OBR3LFravogIhwzmbjtaP/60uPR0d0LICMr5iY16e3E6jeNQ45mPj5du/lcYI9E8hhI/iRrRpqTGsAL7Sk9/ZlCdqhNdMvYjegFVoa+4IkUrMexAiKSpLKA6OR3+MUQ7lYhY1T0+U4PL/LRlBqKzNvBzJPQpUusMyT4/AhCY38UGbKEuGLDAvKSaDshYJWEoDlUjp8xj+hDt+B1pB1u38IasguoysOjKusmTTrwZ11bx/wvdmwIODlWr/INQS+tYUU9cVjiXIjxoxhje3Wh8VqTTxiRZSt0lkn9ytnfXQPUUHCF9yWJA5awHRmOx7fobUuRb3wgZF9O/I0ZfvWrg0TlcWPLDcVTQf1Io0tspB1Yr+Ac+ggnNiwbMuXFRO274oNOn0lFa/+/tDnWA3EnGxwdVma1viYSgTv3snq/CNaEM12cc4bOyiLB/rUoJfcUA7SeohHfTV0MsNUAtYtzt5LV/+Tox5AxOx8V96apGp4tqc0GcLqrx4hhqGAAOs3iH2E92DcZMOK3l64+4iEEuGLjUmMS6CKCCZ3JuOnelC7XAR9J74MJj1JIZ0zpwNZMtSdSLUJF+Z+LT0QrVGCL9Lsm8wvjEX33Xjbj2+mP0pk69Lzdvftu7aInrVKPW2SoNmapx3HzBu3fAR6zKR2mHFwgVXNaY+66CCZv711DNZT+5tbmWkOFhQm6mjRGfeY2nSDLnbgU2Q7kF/Z5hKXI7dd2xO61xkmuhTpZptD7RFUNV6830CDpOcV+nIVAX1X85sxxewPThNrWe6/2SFosCREW47aKvZASNluTA00G9GxrhMlODIhGn6U7Qyhrse5LnvUrzc/iH18SDCw06AkXT79HZh9AmBHfuuPSc4ar9WrTAgJ2XucM//pgJkoK39nZZz7/CA/elLhiktLSstkXT7889F4lvbCkAPpCmwOdbxtcjJ6yEVLisE+8v3VAsqlfA+B0ED6oCRdP28DbfAG3ryRo+UIsq0XnBCFl0Za+6AlaMdFvURyNyNBqRZ/hu6sKeiUICRSD1nonUE7YRSEIo+32NDJThyNO0CoX5ddwpUL4CFduH4St8JXgZDf09QvuSQ105ZRWv9S4osJUwRjOdCzhYOj3muSutmbrjxEkt6evv7t+tLUTD3D+7AkFYMxbmeEMTA2TAR/kNEFz/pPkhogJR3Gw7opWs9WXS8vY/S5gh740uV8nqwkFZXar+oCvy/12mTcqVZqxnXsNRXCvjCVH2i9T313yO3taP9TVZN6Hqsw5eeGFNUwEuGKy4rLiqQVh584OcY27m1zruZ8r8oxERMAiC1qcgZlPpsrt8i7agFrIsk/N3EGQjQkD2QiSsRCzWqADkHTDjV9N4g84jhtmX2zB4AYxMagjdf6/9loO0w3t89qsLaMI/GunbB47hpoVppMRznpnNnj/tsuqgg8i1G3YEI9RAldNTyquXkY+Nv/daPqt2fT4sFPxI7vw792ejOTG3YaV36paLW0rocGIM2Pyi9pa676AOO+MGQuFonjk1/f64PRN3gLaJ8tF8dF26hq16rQyT3orQqCzkbzzyGGQQ/C/1rmxzPPMjzWzqO4Uzq0V1Z8M4R/noobW/bzFXT76rchT4d+hDLi/qcE8G8mz6AS4YkKCYeIDyqkF8+fbrgWrhlkqUtjU0SgKiksozII+OaPoFE1oM/f9TFYzp6sIfrvU2ch8YI6r0RcxcYJZukZRtSXbVLxGaEKFgB790uNue+6T85p+2ur6GoA2AIytmNpT9JgcMCBybS9xKZyY6QatA8IJwIEX9CgDcniZB/cTzG5vgyaHYeXU68iOIqi75P9l8H/io3uTTefosloS0/xjgrl5/NV4Ix21pdaGkay45AWoiw9zcUBQOe0gSzzet3s0WblPQNwx0viQI+TetWNB9DV37LgEuGJSQlAAAwl4TEXPHAJHGzBKtQaQZMYXZ8D1fdoOoOihAICrlL4gnAdoCQLX/BPU9tzk+vorq6APHtqajS7kRaipon01KtbJQfKSHQ8EsgKysUOPdnUaOxA+5dHTL+nyi7WSPsasakK2C9ZZuL7amPL8yjEEsE","directory":"api/files/rensto-whatsapp","fileName":"3B93489CD7705F252AF1.oga","fileSize":"6.2 kB"}},"pairedItem":{"item":0}}],[]]}}],"Transcribe Voice":[{"startTime":1763925378862,"executionIndex":4,"source":[{"previousNode":"Download Voice"}],"hints":[],"executionTime":559,"executionStatus":"success","data":{"main":[[{"json":{"text":"Tell me about your business.","usage":{"type":"duration","seconds":3}},"pairedItem":{"item":0}}],[]]}}],"Prepare AI Input":[{"startTime":1763925379421,"executionIndex":5,"source":[{"previousNode":"Transcribe Voice"}],"hints":[],"executionTime":33,"executionStatus":"success","data":{"main":[[{"json":{"question":"Tell me about your business.","promptText":"Tell me about your business.","sessionId":"14695885133@c.us","messageId":"","requiresVoiceResponse":false,"userId":"14695885133@c.us","source":"waha","store_name":"fileSearchStores/rensto-knowledge-base-ndf9fmymwb2p","text":"Tell me about your business.","transcript":"Tell me about your business.","transcription":"Tell me about your business.","imageAnalysis":null,"hasImageAnalysis":false},"pairedItem":{"item":0}}]]}}],"Set Store Name and Extract Text1":[{"startTime":1763925379454,"executionIndex":6,"source":[{"previousNode":"Prepare AI Input"}],"hints":[],"executionTime":4,"executionStatus":"success","data":{"main":[[{"json":{"store_name":"fileSearchStores/rensto-knowledge-base-ndf9fmymwb2p","question":"Tell me about your business.","message_type":"text","message_text":"Tell me about your business.","voice_url":"","media_url":"","media_type":"","caption":"","designer_phone":"14695885133@c.us","original_message_id":""},"pairedItem":{"item":0}}]]}}],"Merge Transcription Metadata":[{"startTime":1763925379458,"executionIndex":7,"source":[{"previousNode":"Set Store Name and Extract Text1"}],"hints":[],"executionTime":23,"executionStatus":"success","data":{"main":[[{"json":{"store_name":"fileSearchStores/rensto-knowledge-base-ndf9fmymwb2p","question":"Tell me about your business.","message_type":"text","message_text":"Tell me about your business.","voice_url":"","media_url":"","media_type":"","caption":"","designer_phone":"14695885133@c.us","original_message_id":"","userId":"14695885133@c.us","messageId":""},"pairedItem":{"item":0}}]]}}],"Guardrails1":[{"startTime":1763925379482,"executionIndex":8,"source":[{"previousNode":"Merge Transcription Metadata"}],"hints":[],"executionTime":1,"executionStatus":"success","data":{"main":[[{"json":{"guardrailsInput":"Tell me about your business.","checks":[]},"pairedItem":{"item":0}}]]}}],"Image Analysis Switch":[{"startTime":1763925379483,"executionIndex":9,"source":[{"previousNode":"Guardrails1"}],"hints":[],"executionTime":0,"executionStatus":"success","data":{"main":[[],[{"json":{"guardrailsInput":"Tell me about your business.","checks":[]},"pairedItem":{"item":0}}]]}}],"Conversation Memory":[{"startTime":1763925379491,"executionTime":1,"executionIndex":11,"executionStatus":"success","source":[{"previousNode":"Rensto AI Agent","previousNodeRun":0}],"data":{"ai_memory":[[{"json":{"action":"loadMemoryVariables","chatHistory":[]}}]]},"inputOverride":{"ai_memory":[[{"json":{"action":"loadMemoryVariables","values":{}}}]]},"metadata":{"subRun":[{"node":"Conversation Memory","runIndex":0}]}}],"OpenAI Model":[{"startTime":1763925379493,"executionTime":2238,"executionIndex":12,"executionStatus":"success","source":[{"previousNode":"Rensto AI Agent","previousNodeRun":0}],"data":{"ai_languageModel":[[{"json":{"response":{"generations":[[{"text":"Hello! How can I assist you today?"}]]},"tokenUsageEstimate":{"completionTokens":9,"promptTokens":103,"totalTokens":112}}}]]},"inputOverride":{"ai_languageModel":[[{"json":{"messages":["System: You are Rensto Support Agent. You help users with business automation. \n\nIMPORTANT: ONLY if the user explicitly says 'I sent an image but the system could not analyze it' (or similar failure message), then say: 'I see you sent an image, but I'm having trouble analyzing it right now. Could you please describe what's in the image so I can help you?'\n\nFor all other messages (including 'test', 'hello', etc.), respond normally as a helpful assistant.\nHuman: "],"estimatedTokens":103,"options":{"openai_api_key":{"lc":1,"type":"secret","id":["OPENAI_API_KEY"]},"model":"gpt-4o-mini","max_tokens":500,"temperature":0.7,"timeout":60000,"max_retries":2,"configuration":{},"model_kwargs":{},"use_responses_api":true}}}]]},"metadata":{"subRun":[{"node":"OpenAI Model","runIndex":0}]}}],"Rensto AI Agent":[{"startTime":1763925379484,"executionIndex":10,"source":[{"previousNode":"Image Analysis Switch","previousNodeOutput":1}],"hints":[],"executionTime":2248,"executionStatus":"success","data":{"main":[[{"json":{"output":"Hello! How can I assist you today?"},"pairedItem":{"item":0}}]]}}],"Process AI Response":[{"startTime":1763925381733,"executionIndex":13,"source":[{"previousNode":"Rensto AI Agent"}],"hints":[],"executionTime":46,"executionStatus":"success","data":{"main":[[{"json":{"responseText":"Hello! How can I assist you today?","userId":"14695885133@c.us","messageId":"","requiresVoice":false,"source":"waha","timestamp":"2025-11-23T19:16:21.777Z"},"pairedItem":{"item":0}}]]}}],"Debug Voice Routing":[{"startTime":1763925381779,"executionIndex":14,"source":[{"previousNode":"Process AI Response"}],"hints":[],"executionTime":16,"executionStatus":"success","data":{"main":[[{"json":{"responseText":"Hello! How can I assist you today?","userId":"14695885133@c.us","messageId":"","requiresVoice":false,"source":"waha","timestamp":"2025-11-23T19:16:21.777Z"},"pairedItem":{"item":0}}]]}}],"Check Response Source":[{"startTime":1763925381795,"executionIndex":15,"source":[{"previousNode":"Debug Voice Routing"}],"hints":[],"executionTime":1,"executionStatus":"success","data":{"main":[[],[{"json":{"responseText":"Hello! How can I assist you today?","userId":"14695885133@c.us","messageId":"","requiresVoice":false,"source":"waha","timestamp":"2025-11-23T19:16:21.777Z"},"pairedItem":{"item":0}}]]}}],"Voice Response Check":[{"startTime":1763925381796,"executionIndex":16,"source":[{"previousNode":"Check Response Source","previousNodeOutput":1}],"hints":[],"executionTime":1,"executionStatus":"success","data":{"main":[[],[{"json":{"responseText":"Hello! How can I assist you today?","userId":"14695885133@c.us","messageId":"","requiresVoice":false,"source":"waha","timestamp":"2025-11-23T19:16:21.777Z"},"pairedItem":{"item":0}}]]}}],"Send Text Message":[{"startTime":1763925381797,"executionIndex":17,"source":[{"previousNode":"Voice Response Check","previousNodeOutput":1}],"hints":[],"executionTime":58,"executionStatus":"success","data":{"main":[[{"json":{"success":true,"messageType":"text","sentAt":"2025-11-23T19:16:21.854Z","response":{"key":{"remoteJid":"14695885133@s.whatsapp.net","fromMe":true,"id":"3EB04AEB03182E80F0DD2A"},"message":{"extendedTextMessage":{"text":"Hello! How can I assist you today?"}},"messageTimestamp":"1763925381","status":"PENDING"}},"pairedItem":{"item":0}}]]}}],"Log Analytics":[{"startTime":1763925381855,"executionIndex":18,"source":[{"previousNode":"Send Text Message"}],"hints":[],"executionTime":16,"executionStatus":"success","data":{"main":[[{"json":{"timestamp":"2025-11-23T19:16:21.870Z","conversations":[{"userId":"unknown","messageType":"text","responseTime":"2025-11-23T19:16:21.870Z","success":true}]},"pairedItem":{"item":0}}]]}}]},"lastNodeExecuted":"Log Analytics"},"executionData":{"contextData":{},"nodeExecutionStack":[],"waitingExecution":{},"metadata":{"Conversation Memory":[{"subRun":[{"node":"Conversation Memory","runIndex":0}]}],"OpenAI Model":[{"subRun":[{"node":"OpenAI Model","runIndex":0}]}]}}},"workflowData":{"id":"eQSCUFw91oXLxtvn","name":"INT-WHATSAPP-SUPPORT-001: Rensto Support Agent (Final)","active":true,"isArchived":false,"createdAt":"2025-11-17T00:01:48.622Z","updatedAt":"2025-11-23T17:37:12.293Z","nodes":[{"parameters":{"operation":""},"id":"50e910bc-9c49-4600-8637-14ef6c5ffa72","name":"WAHA Trigger","type":"@devlikeapro/n8n-nodes-waha.wahaTrigger","typeVersion":202502,"position":[-1872,-656],"webhookId":"976a4187-04c0-458b-b9ba-c7af75ed5de0"},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"// Universal Smart Message Router - Accept ALL WAHA events with fallback\nconst self = this;\nconst items = $input.all();\nconst results = [];\n\nconsole.log('[Router] ===== STARTING ROUTER (V3 ACCEPT ALL) =====');\nconsole.log('[Router] Input items count:', items.length);\n\n// Log FIRST item to see what we're getting\nif (items.length > 0) {\n  const first = items[0].json || {};\n  console.log('[Router] First item event type:', first.event || 'NO EVENT TYPE');\n  console.log('[Router] First item keys:', Object.keys(first).join(', '));\n  console.log('[Router] First item JSON:', JSON.stringify(first).substring(0, 500));\n}\n\nlet staticData;\ntry {\n  staticData = self.getWorkflowStaticData('global');\n} catch (error) {\n  staticData = {};\n}\n\nstaticData.processedMessageIds = staticData.processedMessageIds || [];\nstaticData.processedMessageTimestamps = staticData.processedMessageTimestamps || {};\nstaticData.rateLimitTracker = staticData.rateLimitTracker || {};\n\nconst findTextContent = (obj, depth = 0) => {\n  if (!obj || typeof obj !== 'object' || depth > 5) return null;\n  if (obj.caption) return obj.caption;\n  if (obj.conversation) return obj.conversation;\n  if (obj.text && typeof obj.text === 'string') return obj.text;\n  if (obj.body && typeof obj.body === 'string') return obj.body;\n  \n  for (const key in obj) {\n    if (key === 'contextInfo' || key === 'quotedMessage') continue;\n    const res = findTextContent(obj[key], depth + 1);\n    if (res) return res;\n  }\n  return null;\n};\n\nconst tryMarkAsProcessed = (keys) => {\n  if (!Array.isArray(keys) || keys.length === 0) return false;\n  const processed = staticData.processedMessageIds;\n  const now = Date.now();\n  \n  for (let i = 0; i < keys.length; i++) {\n    const key = keys[i];\n    if (key && processed.includes(key)) {\n      console.log('[Router] ⏭️ Skipping duplicate message:', key);\n      return false;\n    }\n  }\n  \n  for (let i = 0; i < keys.length; i++) {\n    const key = keys[i];\n    if (key && !processed.includes(key)) {\n      processed.push(key);\n    }\n  }\n  \n  if (processed.length > 1000) {\n    processed.splice(0, processed.length - 1000);\n  }\n  return true;\n};\n\nconst checkRateLimit = (userId) => {\n  const now = Date.now();\n  const tracker = staticData.rateLimitTracker;\n  \n  if (!tracker[userId]) tracker[userId] = [];\n  \n  const recentMessages = tracker[userId].filter(t => now - t < 60000);\n  tracker[userId] = recentMessages;\n  \n  if (recentMessages.length >= 10) return false;\n  \n  tracker[userId].push(now);\n  return true;\n};\n\n// FIXED: Accept ALL events, not just specific types\nconst extractMessageData = (item) => {\n  const msg = item.json || {};\n  const eventType = msg.event || 'unknown';\n  const payload = msg.payload || msg; // Fallback to msg itself\n  \n  console.log('[Router] Processing event type:', eventType);\n  \n  // Try standard WAHA events first\n  if (eventType === 'message' || eventType === 'message.any') {\n    return {\n      payload: payload,\n      _data: payload._data || {},\n      fromMe: payload.fromMe || false\n    };\n  }\n  \n  if (eventType === 'engine.event') {\n    let messageData;\n    if (payload.event === 'messages.upsert') {\n      messageData = payload.data?.messages?.[0];\n    } else if (payload.event === 'chats.update') {\n      messageData = payload.data?.[0]?.messages?.[0]?.message;\n    }\n    \n    if (messageData) {\n      const key = messageData.key || {};\n      const message = messageData.message || {};\n      const body = findTextContent(message) || '';\n      \n      return {\n        payload: {\n          id: key.id || '',\n          from: key.remoteJid || '',\n          fromMe: key.fromMe || false,\n          timestamp: messageData.messageTimestamp || Date.now(),\n          body: body,\n          hasMedia: !!(message.imageMessage || message.videoMessage || message.documentMessage || message.audioMessage),\n          _data: { key, messageTimestamp: messageData.messageTimestamp, message }\n        },\n        _data: { key, messageTimestamp: messageData.messageTimestamp, message },\n        fromMe: key.fromMe || false\n      };\n    }\n  }\n  \n  // FALLBACK: Try to extract from ANY structure\n  console.log('[Router] ⚠️ Unknown event type, trying fallback extraction');\n  \n  // Check if payload has message-like structure\n  const textContent = payload.body || payload.text || payload.conversation || \n                     findTextContent(payload) || '';\n  const messageId = payload.id || payload.messageId || '';\n  const from = payload.from || payload.remoteJid || '';\n  const fromMe = payload.fromMe || false;\n  \n  if (textContent || messageId || from) {\n    console.log('[Router] ✅ Fallback extraction successful');\n    return {\n      payload: payload,\n      _data: payload._data || payload,\n      fromMe: fromMe\n    };\n  }\n  \n  console.log('[Router] ❌ Could not extract message data');\n  return null;\n};\n\nfor (let itemIndex = 0; itemIndex < items.length; itemIndex++) {\n  const item = items[itemIndex];\n  const messageData = extractMessageData(item);\n  \n  if (!messageData) {\n    console.log('[Router] ⏭️ Skipping item', itemIndex, '- no message data');\n    continue;\n  }\n  \n  const payload = messageData.payload || {};\n  const _data = messageData._data || {};\n  \n  if (messageData.fromMe === true) {\n    console.log('[Router] ⏭️ Skipping own message');\n    continue;\n  }\n  \n  const _dataKey = _data.key || {};\n  const actualMessageId = _dataKey.id || payload.id || '';\n  const remoteJid = payload.from || _dataKey.remoteJid || '';\n  const userId = remoteJid ? String(remoteJid).replace('@s.whatsapp.net', '@c.us') : '';\n  const timestamp = payload.timestamp || _data.messageTimestamp || Date.now();\n  \n  const dedupKeys = [actualMessageId].filter(k => k);\n  \n  try { self.setWorkflowStaticData('global', staticData); } catch (e) {}\n  if (!tryMarkAsProcessed(dedupKeys)) continue;\n  try { self.setWorkflowStaticData('global', staticData); } catch (e) {}\n  \n  if (userId && !checkRateLimit(userId)) {\n    console.log('[Router] ⏭️ Rate limit exceeded for', userId);\n    continue;\n  }\n  \n  let messageType = 'text';\n  let textContent = payload.body || findTextContent(_data.message) || '';\n  let mediaUrl = (payload.media && payload.media.url) ? payload.media.url : '';\n  let mediaInfo = {};\n  \n  const _dataMessage = _data.message || {};\n  \n  if (_dataMessage.audioMessage) {\n    messageType = 'voice';\n    if (!mediaUrl) mediaUrl = _dataMessage.audioMessage.url || '';\n    mediaInfo = { isPTT: true, mimetype: 'audio/ogg' };\n  } else if (_dataMessage.imageMessage) {\n    messageType = 'image';\n    if (!mediaUrl) mediaUrl = _dataMessage.imageMessage.url || '';\n    mediaInfo = { mimetype: 'image/jpeg' };\n  } else if (_dataMessage.videoMessage) {\n    messageType = 'video';\n    if (!mediaUrl) mediaUrl = _dataMessage.videoMessage.url || '';\n    mediaInfo = { mimetype: 'video/mp4' };\n  } else if (_dataMessage.documentMessage) {\n    messageType = 'document';\n    if (!mediaUrl) mediaUrl = _dataMessage.documentMessage.url || '';\n    mediaInfo = { mimetype: 'application/pdf' };\n  }\n  \n  if (mediaUrl && mediaUrl.includes('localhost')) {\n    mediaUrl = mediaUrl.replace('localhost', '173.254.201.134');\n  }\n  \n  staticData.lastMessageMetadata = {\n    userId: userId,\n    messageId: actualMessageId,\n    sessionId: userId,\n    requiresVoiceResponse: messageType === 'voice',\n    source: 'waha',\n    store_name: 'fileSearchStores/rensto-knowledge-base-ndf9fmymwb2p'\n  };\n  \n  try { self.setWorkflowStaticData('global', staticData); } catch (e) {}\n  \n  console.log('[Router] ✅ Processed:', messageType, 'ID:', actualMessageId, 'Text:', textContent.substring(0, 50));\n  \n  results.push({\n    json: {\n      messageId: actualMessageId,\n      messageType: messageType,\n      source: 'waha',\n      userId: userId,\n      timestamp: timestamp,\n      textContent: textContent,\n      mediaUrl: mediaUrl,\n      mediaInfo: mediaInfo,\n      originalPayload: payload,\n      requiresVoiceResponse: messageType === 'voice',\n      sessionId: userId\n    }\n  });\n}\n\nconsole.log('[Router] ===== COMPLETED - Returning', results.length, 'items =====');\nreturn results;","notice":""},"id":"d5232e4d-0280-4125-b681-ba1e8281c1db","name":"Smart Message Router","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1648,-608]},{"parameters":{"preBuiltAgentsCalloutHttpRequest":"","curlImport":"","method":"POST","url":"https://api.openai.com/v1/audio/transcriptions","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","provideSslCertificates":false,"sendQuery":false,"sendHeaders":false,"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formData","name":"model","value":"whisper-1"},{"parameterType":"formData","name":"temperature","value":"0.2"},{"parameterType":"formData","name":"prompt","value":"Transcribe this audio message accurately."},{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"}]},"options":{"timeout":60000},"infoMessage":""},"id":"b4ecd898-61b8-46c5-bc50-2851786ed6f5","name":"Transcribe Voice","type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-48,-1200],"credentials":{"openAiApi":{"id":"0sXFXYfqiDEKuDcN","name":"service@rensto.com"}},"onError":"continueErrorOutput"},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"// Process Media Context - FIXED: Robust fallback for failed analysis\nconst inputData = $json || {};\n\nlet routerData = {};\ntry {\n  routerData = $node['Merge Image Analysis'].json || {};\n} catch (e) {\n  try { routerData = $node['Message Type Router'].json || {}; } catch (e2) { routerData = {}; }\n}\n\nconst messageType = inputData.messageType || routerData.messageType || 'text';\nconst originalTextContent = String(routerData.textContent || routerData.caption || inputData.textContent || inputData.caption || '').trim();\n\nconst geminiFields = ['guardrailsInput', 'output', 'text', 'response', 'analysis', 'extractedText'];\nconst extractField = (data, fields) => {\n  for (const field of fields) {\n    if (data[field]) return String(data[field]).trim();\n  }\n  return '';\n};\n\nlet processedText = '';\nlet userQuestion = '';\nlet imageAnalysisText = '';\nconst geminiOutput = extractField(inputData, geminiFields);\n\nif (messageType === 'text') {\n  processedText = originalTextContent || inputData.body || inputData.text || inputData.processedText || '';\n  userQuestion = processedText;\n} else {\n  userQuestion = originalTextContent || inputData.body || '';\n  \n  if (geminiOutput) {\n    imageAnalysisText = geminiOutput;\n    processedText = geminiOutput;\n  } else if (originalTextContent) {\n    processedText = originalTextContent;\n    userQuestion = originalTextContent;\n  } else {\n    // Default question if empty\n    processedText = `I received your ${messageType}. How can I help you with it?`;\n    userQuestion = `Analyze this ${messageType}`;\n  }\n}\n\nprocessedText = String(processedText || '').trim();\nuserQuestion = String(userQuestion || '').trim();\nimageAnalysisText = String(imageAnalysisText || '').trim();\n\n// CRITICAL FIX: If we are using the default \"Analyze this...\" question BUT have no analysis,\n// we must change the question to avoid AI hallucinating \"message didn't come through\".\nif (userQuestion.includes('Analyze this') && !imageAnalysisText && !originalTextContent) {\n  console.log('[Process Media] ⚠️ Analysis missing for default prompt - switching to fallback prompt');\n  userQuestion = \"I sent an image but the system could not analyze it. Please ask me to describe what is in the image.\";\n  processedText = userQuestion;\n}\n\nif (!processedText && messageType !== 'text') {\n  processedText = `I received your ${messageType} but need more context. Could you please describe what you need help with?`;\n  userQuestion = \"I sent an image but the system could not analyze it. Please ask me to describe what is in the image.\";\n}\n\nconsole.log('[Process Media] Final User Question:', userQuestion);\nconsole.log('[Process Media] Image Analysis Length:', imageAnalysisText.length);\n\nreturn {\n  json: {\n    userId: routerData.userId || inputData.userId,\n    messageId: routerData.messageId || inputData.messageId,\n    sessionId: routerData.sessionId || inputData.sessionId,\n    timestamp: routerData.timestamp || inputData.timestamp,\n    source: routerData.source || inputData.source || 'waha',\n    messageType: messageType,\n    mediaUrl: routerData.mediaUrl || inputData.mediaUrl,\n    mediaInfo: routerData.mediaInfo || inputData.mediaInfo,\n    originalPayload: routerData.originalPayload || inputData.originalPayload,\n    requiresVoiceResponse: routerData.requiresVoiceResponse || inputData.requiresVoiceResponse,\n    originalQuestion: userQuestion,\n    originalCaption: originalTextContent,\n    geminiAnalysis: imageAnalysisText || null,\n    imageAnalysis: imageAnalysisText || null,\n    processedText: processedText,\n    textContent: processedText,\n    text: processedText,\n    body: processedText,\n    question: userQuestion || processedText\n  }\n};","notice":""},"id":"1d15c5cf-8b8f-4677-8887-63b112641f52","name":"Process Media Context","type":"n8n-nodes-base.code","typeVersion":2,"position":[-48,-800]},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"// ULTIMATE BULLETPROOF Prepare AI Input - FIXED: Set hasImageAnalysis flag in static data\nconsole.log('\\n=== PREPARE AI INPUT - ULTIMATE DEBUG ===');\n\n// Get ALL inputs\nconst allInputs = $input.all();\nconsole.log('Total inputs received:', allInputs.length);\n\nif (!allInputs || allInputs.length === 0) {\n  throw new Error('No input data received! Check upstream nodes.');\n}\n\n// Get static data FIRST (most reliable source)\nlet staticData = {};\ntry {\n  staticData = this.getWorkflowStaticData('global');\n  console.log('Static data keys:', Object.keys(staticData).join(', '));\n  if (staticData.lastMessageMetadata) {\n    console.log('Static metadata userId:', staticData.lastMessageMetadata.userId);\n  }\n} catch (error) {\n  console.log('Static data error:', error.message);\n  staticData = {};\n}\n\n// AGGRESSIVE userId EXTRACTION - Try EVERY possible source\nlet userId = '';\nlet extractionMethod = '';\n\n// PRIORITY 1: Static data (most reliable - set by Smart Message Router)\nif (staticData.lastMessageMetadata && staticData.lastMessageMetadata.userId) {\n  userId = String(staticData.lastMessageMetadata.userId);\n  extractionMethod = 'static data (lastMessageMetadata)';\n  console.log('✅ Found userId in static data:', userId);\n}\n\n// PRIORITY 2: Try upstream nodes using $node (if available)\nif (!userId) {\n  const upstreamNodeNames = ['Smart Message Router', 'Message Type Router', 'Process Media Context', 'Download Voice', 'Transcribe Voice'];\n  for (let i = 0; i < upstreamNodeNames.length; i++) {\n    const nodeName = upstreamNodeNames[i];\n    try {\n      const nodeData = $node[nodeName];\n      if (nodeData && nodeData.json) {\n        const nodeUserId = nodeData.json.userId || nodeData.json.from || nodeData.json.designer_phone || '';\n        if (nodeUserId) {\n          userId = String(nodeUserId);\n          extractionMethod = '$node[' + nodeName + ']';\n          console.log('✅ Found userId in upstream node', nodeName, ':', userId);\n          break;\n        }\n        \n        // Check nested payload\n        if (!userId && nodeData.json.payload) {\n          const payloadUserId = nodeData.json.payload.userId || nodeData.json.payload.from || '';\n          if (payloadUserId) {\n            userId = String(payloadUserId);\n            extractionMethod = '$node[' + nodeName + '].payload';\n            console.log('✅ Found userId in upstream node', nodeName, 'payload:', userId);\n            break;\n          }\n        }\n        \n        // Check originalPayload\n        if (!userId && nodeData.json.originalPayload) {\n          const opUserId = nodeData.json.originalPayload.userId || nodeData.json.originalPayload.from || '';\n          if (opUserId) {\n            userId = String(opUserId);\n            extractionMethod = '$node[' + nodeName + '].originalPayload';\n            console.log('✅ Found userId in upstream node', nodeName, 'originalPayload:', userId);\n            break;\n          }\n        }\n      }\n    } catch (error) {\n      // Node might not exist or not accessible - continue\n      console.log('Could not access node', nodeName, ':', error.message);\n    }\n  }\n}\n\n// PRIORITY 3: Check ALL input items\nif (!userId) {\n  for (let i = 0; i < allInputs.length; i++) {\n    const item = allInputs[i];\n    if (!item || !item.json) continue;\n    \n    const inputData = item.json;\n    console.log(`Input ${i} keys:`, Object.keys(inputData).join(', '));\n    \n    // Direct fields\n    const directFields = ['userId', 'from', 'designer_phone', 'chatId', 'sender', 'user'];\n    for (let j = 0; j < directFields.length; j++) {\n      const field = directFields[j];\n      if (inputData[field]) {\n        userId = String(inputData[field]);\n        extractionMethod = `input ${i} direct field: ${field}`;\n        console.log('✅ Found userId in input', i, 'field', field, ':', userId);\n        break;\n      }\n    }\n    \n    if (userId) break;\n    \n    // Nested in payload\n    if (inputData.payload) {\n      const payload = inputData.payload;\n      const payloadFields = ['userId', 'from', 'sender', 'chatId'];\n      for (let j = 0; j < payloadFields.length; j++) {\n        const field = payloadFields[j];\n        if (payload[field]) {\n          userId = String(payload[field]);\n          extractionMethod = `input ${i} payload.${field}`;\n          console.log('✅ Found userId in input', i, 'payload', field, ':', userId);\n          break;\n        }\n      }\n      \n      // Check payload._data.key.remoteJid\n      if (!userId && payload._data && payload._data.key) {\n        const remoteJid = payload._data.key.remoteJid;\n        if (remoteJid) {\n          userId = String(remoteJid);\n          extractionMethod = `input ${i} payload._data.key.remoteJid`;\n          console.log('✅ Found userId in input', i, 'payload._data.key.remoteJid:', userId);\n        }\n      }\n    }\n    \n    if (userId) break;\n    \n    // Nested in originalPayload\n    if (inputData.originalPayload) {\n      const op = inputData.originalPayload;\n      const opFields = ['userId', 'from', 'sender', 'chatId'];\n      for (let j = 0; j < opFields.length; j++) {\n        const field = opFields[j];\n        if (op[field]) {\n          userId = String(op[field]);\n          extractionMethod = `input ${i} originalPayload.${field}`;\n          console.log('✅ Found userId in input', i, 'originalPayload', field, ':', userId);\n          break;\n        }\n      }\n      \n      // Check originalPayload._data.key.remoteJid\n      if (!userId && op._data && op._data.key) {\n        const remoteJid = op._data.key.remoteJid;\n        if (remoteJid) {\n          userId = String(remoteJid);\n          extractionMethod = `input ${i} originalPayload._data.key.remoteJid`;\n          console.log('✅ Found userId in input', i, 'originalPayload._data.key.remoteJid:', userId);\n        }\n      }\n    }\n    \n    if (userId) break;\n    \n    // Check _data at root level\n    if (inputData._data && inputData._data.key) {\n      const remoteJid = inputData._data.key.remoteJid;\n      if (remoteJid) {\n        userId = String(remoteJid);\n        extractionMethod = `input ${i} _data.key.remoteJid`;\n        console.log('✅ Found userId in input', i, '_data.key.remoteJid:', userId);\n        break;\n      }\n    }\n  }\n}\n\n// Clean up userId (remove @s.whatsapp.net if present, replace with @c.us)\nif (userId) {\n  userId = String(userId).replace('@s.whatsapp.net', '@c.us');\n}\n\nconsole.log('Final userId:', userId || 'NONE');\nconsole.log('Extraction method:', extractionMethod || 'FAILED');\n\n// AGGRESSIVE QUESTION EXTRACTION - FIXED: Prioritize Process Media Context\nlet question = '';\nlet questionMethod = '';\nlet imageAnalysis = null;\n\n// FIRST: Try to get from Process Media Context node (upstream) - CRITICAL for images\nlet processMediaData = null;\ntry {\n  processMediaData = $node['Process Media Context'];\n  if (processMediaData && processMediaData.json) {\n    console.log('✅ Found Process Media Context node');\n    if (processMediaData.json.originalQuestion) {\n      question = String(processMediaData.json.originalQuestion).trim();\n      questionMethod = 'Process Media Context.originalQuestion';\n      imageAnalysis = processMediaData.json.geminiAnalysis || processMediaData.json.imageAnalysis || null;\n      console.log('✅ Found originalQuestion from Process Media Context:', question);\n    } else if (processMediaData.json.originalCaption) {\n      question = String(processMediaData.json.originalCaption).trim();\n      questionMethod = 'Process Media Context.originalCaption';\n      imageAnalysis = processMediaData.json.geminiAnalysis || processMediaData.json.imageAnalysis || null;\n      console.log('✅ Found originalCaption from Process Media Context:', question);\n    }\n  }\n} catch (error) {\n  console.log('Could not access Process Media Context node:', error.message);\n}\n\n// SECOND: Check input items for originalQuestion/originalCaption (if Process Media Context not available)\nif (!question) {\n  for (let i = 0; i < allInputs.length; i++) {\n    const item = allInputs[i];\n    if (!item || !item.json) continue;\n    \n    const inputData = item.json;\n    \n    // CRITICAL: Check for originalQuestion first (from Process Media Context)\n    if (inputData.originalQuestion) {\n      const value = String(inputData.originalQuestion).trim();\n      // Skip if it's clearly analysis text\n      if (!value.includes('Visual Content Description') && !value.includes('OCR') && \n          !value.includes('תיאור תוכן חזותי') && !value.includes('טקסט מזוהה') &&\n          !value.includes('Yes, I can see the test image you uploaded')) {\n        question = value;\n        questionMethod = `input ${i} originalQuestion`;\n        imageAnalysis = inputData.geminiAnalysis || inputData.imageAnalysis || null;\n        console.log('✅ Found originalQuestion:', question);\n        break;\n      }\n    }\n    \n    // Check for originalCaption\n    if (!question && inputData.originalCaption) {\n      const value = String(inputData.originalCaption).trim();\n      if (!value.includes('Visual Content Description') && !value.includes('OCR')) {\n        question = value;\n        questionMethod = `input ${i} originalCaption`;\n        imageAnalysis = inputData.geminiAnalysis || inputData.imageAnalysis || null;\n        console.log('✅ Found originalCaption:', question);\n        break;\n      }\n    }\n    \n    // Store imageAnalysis if available\n    if (!imageAnalysis && (inputData.geminiAnalysis || inputData.imageAnalysis)) {\n      imageAnalysis = inputData.geminiAnalysis || inputData.imageAnalysis;\n    }\n  }\n}\n\n// THIRD: If no originalQuestion found, check standard fields (but skip analysis text)\nif (!question) {\n  const textFields = [\n    'originalQuestion', 'originalCaption', 'question', 'text', 'processedText', \n    'textContent', 'body', 'message', 'content', 'transcript', 'transcription'\n  ];\n  \n  for (let i = 0; i < allInputs.length; i++) {\n    const item = allInputs[i];\n    if (!item || !item.json) continue;\n    \n    const inputData = item.json;\n    \n    // Check direct fields\n    for (let j = 0; j < textFields.length; j++) {\n      const field = textFields[j];\n      if (inputData[field]) {\n        const value = String(inputData[field]).trim();\n        // Skip if it's clearly image analysis text (contains analysis markers)\n        if (value.includes('Visual Content Description') || value.includes('תיאור תוכן חזותי') ||\n            value.includes('OCR') || value.includes('Extracted Text') || value.includes('טקסט מזוהה') ||\n            value.includes('Yes, I can see the test image you uploaded') ||\n            value.includes('Here\\'s the analysis:')) {\n          // This is analysis text, not the question - skip it\n          console.log('⚠️ Skipping analysis text from field', field);\n          continue;\n        }\n        question = value;\n        questionMethod = `input ${i} direct field: ${field}`;\n        console.log('✅ Found question in input', i, 'field', field);\n        break;\n      }\n    }\n    \n    if (question) break;\n    \n    // Try nested payload\n    if (inputData.payload && inputData.payload.body) {\n      const value = String(inputData.payload.body).trim();\n      if (!value.includes('Visual Content Description') && !value.includes('OCR') &&\n          !value.includes('Yes, I can see the test image')) {\n        question = value;\n        questionMethod = `input ${i} payload.body`;\n        console.log('✅ Found question in input', i, 'payload.body');\n        break;\n      }\n    }\n    \n    // Try originalPayload\n    if (inputData.originalPayload && inputData.originalPayload.body) {\n      const value = String(inputData.originalPayload.body).trim();\n      if (!value.includes('Visual Content Description') && !value.includes('OCR') &&\n          !value.includes('Yes, I can see the test image')) {\n        question = value;\n        questionMethod = `input ${i} originalPayload.body`;\n        console.log('✅ Found question in input', i, 'originalPayload.body');\n        break;\n      }\n    }\n  }\n}\n\nconsole.log('Final question:', question ? question.substring(0, 50) + '...' : 'NONE');\nconsole.log('Question method:', questionMethod || 'FAILED');\nconsole.log('Has image analysis:', !!imageAnalysis);\n\n// Get other fields with fallbacks\nconst messageId = staticData.lastMessageMetadata && staticData.lastMessageMetadata.messageId \n  ? staticData.lastMessageMetadata.messageId \n  : (allInputs[0] && allInputs[0].json ? (allInputs[0].json.messageId || allInputs[0].json.id || '') : '');\nconst sessionId = userId || 'default';\nconst requiresVoiceResponse = staticData.lastMessageMetadata && staticData.lastMessageMetadata.requiresVoiceResponse \n  ? staticData.lastMessageMetadata.requiresVoiceResponse \n  : (allInputs[0] && allInputs[0].json ? (allInputs[0].json.requiresVoiceResponse || allInputs[0].json.messageType === 'voice' || false) : false);\nconst source = staticData.lastMessageMetadata && staticData.lastMessageMetadata.source \n  ? staticData.lastMessageMetadata.source \n  : (allInputs[0] && allInputs[0].json ? (allInputs[0].json.source || 'waha') : 'waha');\nconst store_name = staticData.lastMessageMetadata && staticData.lastMessageMetadata.store_name \n  ? staticData.lastMessageMetadata.store_name \n  : (allInputs[0] && allInputs[0].json ? (allInputs[0].json.store_name || 'fileSearchStores/rensto-knowledge-base-ndf9fmymwb2p') : 'fileSearchStores/rensto-knowledge-base-ndf9fmymwb2p');\n\n// CRITICAL: Build promptText with imageAnalysis if available\nlet promptText = question;\nconst hasImageAnalysis = !!imageAnalysis;\n\nif (imageAnalysis) {\n  promptText = `Question: ${question}\\n\\nImage Analysis:\\n${imageAnalysis}\\n\\nPlease answer the question based on the image analysis above.`;\n  console.log('✅ Built promptText with imageAnalysis (length:', promptText.length, ')');\n  \n  // CRITICAL: Set flag in static data so Search Knowledge Base can check it\n  staticData.hasImageAnalysis = true;\n  staticData.imageAnalysisTimestamp = Date.now();\n  try {\n    this.setWorkflowStaticData('global', staticData);\n    console.log('✅ Set hasImageAnalysis flag in static data');\n  } catch (error) {\n    console.log('⚠️ Could not set static data flag:', error.message);\n  }\n} else {\n  console.log('✅ Built promptText without imageAnalysis');\n  // Clear flag if no image analysis\n  staticData.hasImageAnalysis = false;\n  try {\n    this.setWorkflowStaticData('global', staticData);\n  } catch (error) {\n    console.log('⚠️ Could not clear static data flag:', error.message);\n  }\n}\n\n// Final validation\nif (!question) {\n  console.log('\\n❌ NO QUESTION FOUND');\n  console.log('Total inputs:', allInputs.length);\n  for (let i = 0; i < allInputs.length; i++) {\n    console.log(`Input ${i} keys:`, Object.keys(allInputs[i].json || {}).join(', '));\n  }\n  throw new Error('Missing question/text. Check execution log for input data.');\n}\n\nif (!userId) {\n  console.log('\\n❌ NO USERID FOUND AFTER ALL ATTEMPTS');\n  console.log('Static data:', JSON.stringify(staticData, null, 2));\n  console.log('Total inputs:', allInputs.length);\n  for (let i = 0; i < allInputs.length; i++) {\n    console.log(`Input ${i} full data:`, JSON.stringify(allInputs[i].json || {}, null, 2).substring(0, 500));\n  }\n  \n  // LAST RESORT: Try to get from WAHA Trigger node\n  try {\n    const wahaNode = $node['WAHA Trigger'];\n    if (wahaNode && wahaNode.json && wahaNode.json.payload) {\n      const wahaPayload = wahaNode.json.payload;\n      const wahaUserId = wahaPayload.from || (wahaPayload._data && wahaPayload._data.key && wahaPayload._data.key.remoteJid) || '';\n      if (wahaUserId) {\n        userId = String(wahaUserId).replace('@s.whatsapp.net', '@c.us');\n        extractionMethod = 'WAHA Trigger node (last resort)';\n        console.log('✅ Found userId in WAHA Trigger node:', userId);\n      }\n    }\n  } catch (error) {\n    console.log('Could not access WAHA Trigger node:', error.message);\n  }\n  \n  // If still no userId, throw error with full context\n  if (!userId) {\n    throw new Error('Missing userId. Check execution log for input data.');\n  }\n}\n\nconsole.log('\\n✅ SUCCESS - All fields extracted:');\nconsole.log('  userId:', userId);\nconsole.log('  question:', question.substring(0, 50));\nconsole.log('  messageId:', messageId);\nconsole.log('  sessionId:', sessionId);\nconsole.log('  hasImageAnalysis:', hasImageAnalysis);\nconsole.log('  promptText length:', promptText.length);\nconsole.log('=== END PREPARE AI INPUT ===\\n');\n\nreturn [{\n  json: {\n    question: question,\n    promptText: promptText, // CRITICAL: Pre-built prompt with imageAnalysis\n    sessionId: sessionId,\n    messageId: messageId,\n    requiresVoiceResponse: requiresVoiceResponse,\n    userId: userId,\n    source: source,\n    store_name: store_name,\n    text: question,\n    transcript: question,\n    transcription: question,\n    imageAnalysis: imageAnalysis, // Keep for backward compatibility\n    hasImageAnalysis: hasImageAnalysis // Flag for Search Knowledge Base\n  }\n}];","notice":""},"id":"281d5e47-e0fd-4372-94ce-b462f324f2a2","name":"Prepare AI Input","type":"n8n-nodes-base.code","typeVersion":2,"position":[176,-880]},{"parameters":{"aiAgentStarterCallout":"","promptType":"define","text":"={{ $json.promptText || $json.question || $json.message_text || $json.text || $json.transcript || $json.transcription || \"\" }}","hasOutputParser":false,"needsFallback":false,"options":{"systemMessage":"You are Rensto Support Agent. You help users with business automation. \n\nIMPORTANT: ONLY if the user explicitly says 'I sent an image but the system could not analyze it' (or similar failure message), then say: 'I see you sent an image, but I'm having trouble analyzing it right now. Could you please describe what's in the image so I can help you?'\n\nFor all other messages (including 'test', 'hello', etc.), respond normally as a helpful assistant."}},"id":"db35c441-a323-468c-b0ce-695bbb280330","name":"Rensto AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[1264,-880]},{"parameters":{"notice":"","sessionIdType":"customKey","sessionKey":"={{ $json.sessionId || $json.userId || 'default' }}","contextWindowLength":5},"id":"27611000-91df-4e0d-8290-f141bbfc5b55","name":"Conversation Memory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[1328,-656]},{"parameters":{"notice":"","noticeTemplateExample":"","description":"Search the Rensto knowledge base for information about products, services, pricing, installation, warranties, and company policies. **🚨 CRITICAL: DO NOT CALL THIS TOOL if your prompt contains \"Image Analysis:\" section. If you see \"Image Analysis:\" in your prompt, that means an image was already analyzed - answer directly using that analysis, do NOT search knowledge base. If the query is about \"can you see this\" or \"test image\", DO NOT CALL THIS TOOL - the image was already analyzed.**","language":"javaScript","jsCode":"// Fetch answers from Google AI Studio file search (Gemini)\n// CRITICAL: Check query FIRST for image test patterns (before static data)\nlet query = $input.params?.query || $json?.question || $json?.message_text || '';\nquery = String(query || '').trim();\n\n// PRIORITY 1: Check if query is about image visibility/test (common image test questions)\n// This check happens FIRST because it's the most reliable indicator\nconst imageTestPatterns = [\n  'can you see this',\n  'can you see this test image',\n  'do you see this image',\n  'can you see the image',\n  'test image'\n];\n\nconst lowerQuery = query.toLowerCase();\nif (imageTestPatterns.some(pattern => lowerQuery.includes(pattern))) {\n  console.log('[Search KB] ⚠️ BLOCKED - query is about image visibility/test');\n  // Return explicit answer that tells agent to use Image Analysis\n  const answer = '✅ YES, I can see the test image! The image has already been analyzed and the analysis is provided in your prompt under \"Image Analysis:\" section. Look at your prompt - you will see \"Question:\" followed by \"Image Analysis:\" - use that analysis to answer. The Image Analysis section contains the answer: \"Yes, I can see this test image.\" Use that answer directly.';\n  console.log('[Search KB] Returning image test answer:', answer.substring(0, 100));\n  return answer;\n}\n\n// PRIORITY 2: Check static data flag (set by Prepare AI Input)\nlet staticData;\ntry {\n  staticData = this.getWorkflowStaticData('global');\n  console.log('[Search KB] Static data keys:', Object.keys(staticData).join(', '));\n  console.log('[Search KB] hasImageAnalysis flag:', staticData.hasImageAnalysis);\n} catch (error) {\n  console.log('[Search KB] Static data error:', error.message);\n  staticData = {};\n}\n\nif (staticData.hasImageAnalysis === true) {\n  console.log('[Search KB] ⚠️ BLOCKED - hasImageAnalysis flag is true in static data');\n  // Return explicit answer that tells agent to use Image Analysis\n  const answer = '✅ The image has already been analyzed and the analysis is provided in your prompt under \"Image Analysis:\" section. Look at your prompt - you will see \"Question:\" followed by \"Image Analysis:\" - use that analysis to answer the question directly. Do NOT search knowledge base.';\n  console.log('[Search KB] Returning STOP message:', answer.substring(0, 100));\n  return answer;\n}\n\n// PRIORITY 3: Check if imageAnalysis field exists in input\nconst inputData = $input.params || $json || {};\nif (inputData.imageAnalysis || $json?.imageAnalysis) {\n  console.log('[Search KB] ⚠️ Skipping - imageAnalysis present, image already analyzed');\n  return '✅ The image has already been analyzed. Use the Image Analysis provided in your prompt to answer directly. Do NOT search knowledge base.';\n}\n\nif (!query) {\n  return 'I could not find any details about that yet.';\n}\n\nconst defaultStore = 'fileSearchStores/rensto-knowledge-base-ndf9fmymwb2p';\nconst normalizeStore = (store) => {\n  if (!store) return defaultStore;\n  const cleaned = store.replace(/^fileSearchStores\\//, '');\n  return `fileSearchStores/${cleaned}`;\n};\n\n// Get store_name from workflow static data, metadata, or use default\nconst storeName = normalizeStore(\n  staticData.googleStoreName ||\n  $json?.store_name ||\n  defaultStore\n);\n\nconst translations = {\n  'איך קוראים לכם': 'What is the company name?',\n  'מה השם שלכם': 'What is the company name?',\n  'מי אתם': 'What is Rensto?',\n  'מה אתם עושים': 'What does Rensto do?'\n};\n\nfor (const [hebrew, english] of Object.entries(translations)) {\n  if (query.includes(hebrew)) {\n    query = english;\n    break;\n  }\n}\n\nconst apiKey = 'AIzaSyB1nQdOOSeYdGv_R53dcyYDsIwenRU5ziE';\nconst url = `https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent?key=${apiKey}`;\n\nconst body = {\n  contents: [{ parts: [{ text: query }]}],\n  tools: [\n    {\n      file_search: {\n        file_search_store_names: [storeName]\n      }\n    }\n  ],\n  generationConfig: {\n    temperature: 0.4,\n    topK: 32,\n    topP: 0.95,\n    maxOutputTokens: 512\n  }\n};\n\nconsole.log('[Search KB] Querying Google project:', storeName);\nconsole.log('[Search KB] Query:', query);\n\nconst maxRetries = 3;\nlet lastError;\n\nfor (let attempt = 1; attempt <= maxRetries; attempt++) {\n  try {\n    const response = await this.helpers.httpRequest({\n      method: 'POST',\n      url,\n      headers: {\n        'Content-Type': 'application/json'\n      },\n      body: JSON.stringify(body),\n      json: false,\n      timeout: 60000\n    });\n\n    const data = typeof response === 'string' ? JSON.parse(response) : response;\n    const parts = data?.candidates?.[0]?.content?.parts || [];\n    const answer = parts.map(part => part.text || '').join('\\n\\n').trim();\n\n    if (answer) {\n      console.log('[Search KB] ✅ Found answer from Google project');\n      return answer;\n    }\n\n    lastError = new Error('Knowledge base returned no content');\n  } catch (error) {\n    lastError = error;\n    const status = error.statusCode || 0;\n    const retriable = status >= 500 || status === 429 || error.code === 'ETIMEDOUT' || error.code === 'ECONNRESET';\n    if (attempt < maxRetries && retriable) {\n      await new Promise(resolve => setTimeout(resolve, attempt * 1000));\n      continue;\n    }\n    break;\n  }\n}\n\nconsole.log('[Search KB] ❌ No answer from Google project');\nreturn lastError\n  ? `I could not find that info yet (Google KB error: ${lastError.message}).`\n  : 'I could not find information about that topic.';","specifyInputSchema":false},"id":"b03c30dc-d6df-4fbe-afcb-ba54756667de","name":"Search Knowledge Base","type":"@n8n/n8n-nodes-langchain.toolCode","typeVersion":1.3,"position":[1456,-656]},{"parameters":{"notice":"","model":{"__rl":true,"value":"gpt-4o-mini","mode":"list"},"responsesApiEnabled":true,"builtInTools":{},"options":{"maxTokens":500,"temperature":0.7}},"id":"e8303bed-90d3-449a-ba28-3c082288ac4b","name":"OpenAI Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[1200,-656],"credentials":{"openAiApi":{"id":"0sXFXYfqiDEKuDcN","name":"service@rensto.com"}}},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"// Extract and clean AI response - Get userId and requiresVoice from static data (PRIMARY)\n// CRITICAL: Rensto AI Agent only outputs { output: '...' }, so get metadata from static data\n\nconst currentInput = $json || {};\n\n// PRIMARY: Get metadata from global static data (stored by Smart Message Router)\nlet userId = '';\nlet messageId = '';\nlet requiresVoice = false;\nlet source = 'waha';\n\nlet staticData = {};\ntry {\n  staticData = this.getWorkflowStaticData('global');\n  console.log('[Process AI Response] Static data keys:', Object.keys(staticData).join(', '));\n  \n  if (staticData.lastMessageMetadata) {\n    userId = staticData.lastMessageMetadata.userId || '';\n    messageId = staticData.lastMessageMetadata.messageId || '';\n    // CRITICAL: Explicitly check if requiresVoiceResponse is true (for voice) or false/undefined (for text)\n    requiresVoice = Boolean(staticData.lastMessageMetadata.requiresVoiceResponse === true);\n    source = staticData.lastMessageMetadata.source || 'waha';\n    console.log('[Process AI Response] ✅ Got metadata from static data:');\n    console.log('  userId:', userId);\n    console.log('  messageId:', messageId);\n    console.log('  requiresVoiceResponse (raw):', staticData.lastMessageMetadata.requiresVoiceResponse);\n    console.log('  requiresVoice (boolean):', requiresVoice, '(type:', typeof requiresVoice, ')');\n    console.log('  source:', source);\n  } else {\n    console.log('[Process AI Response] ⚠️ Static data exists but no lastMessageMetadata');\n    console.log('[Process AI Response] Static data:', JSON.stringify(staticData, null, 2));\n  }\n} catch (error) {\n  console.log('[Process AI Response] Static data error:', error.message);\n}\n\n// FALLBACK: Try to get from $node (if available)\nif (!userId) {\n  try {\n    const mergeNode = $node[\"Merge Transcription Metadata\"];\n    if (mergeNode && mergeNode.json) {\n      const mergeData = mergeNode.json;\n      if (mergeData.designer_phone || mergeData.userId) {\n        userId = mergeData.designer_phone || mergeData.userId;\n        messageId = mergeData.original_message_id || mergeData.messageId || '';\n        requiresVoice = Boolean(mergeData.message_type === 'ptt' || mergeData.requiresVoiceResponse === true);\n        source = mergeData.source || 'waha';\n        console.log('[Process AI Response] ✅ Got metadata from $node, userId:', userId, 'requiresVoice:', requiresVoice);\n      }\n    }\n  } catch (error) {\n    console.log('[Process AI Response] $node access error:', error.message);\n  }\n}\n\n// Extract AI response text\nconst output = currentInput.output || currentInput.response || '';\n\nlet responseText = '';\nif (typeof output === 'string') {\n  try {\n    const parsed = JSON.parse(output);\n    responseText = parsed.answer || parsed.text || parsed.output || output;\n  } catch (e) {\n    responseText = output;\n  }\n} else if (typeof output === 'object') {\n  responseText = output.answer || output.text || output.output || String(output);\n} else {\n  responseText = String(output || 'I apologize, but I encountered an issue. Please try again.');\n}\n\n// CRITICAL: Remove leading/trailing JSON array brackets and other artifacts\n// This handles cases where AI Agent returns JSON arrays like \"] text\" or \"[text]\"\nresponseText = String(responseText).trim();\n\n// Remove leading \"]\" or \"[\" characters\nif (responseText.charAt(0) === ']' || responseText.charAt(0) === '[') {\n  responseText = responseText.substring(1).trim();\n}\n\n// Remove trailing \"]\" or \"[\" characters\nif (responseText.charAt(responseText.length - 1) === ']' || responseText.charAt(responseText.length - 1) === '[') {\n  responseText = responseText.substring(0, responseText.length - 1).trim();\n}\n\n// Clean response - AGGRESSIVE branding removal\nresponseText = responseText\n  .replace(/\\[Used tools:.*?\\]/g, '')\n  .replace(/\\[Tool:.*?\\]/g, '')\n  .replace(/\\*\\*(.*?)\\*\\*/g, '*$1*')\n  .replace(/__(.*?)__/g, '_$1_')\n  .replace(/Powered by Rensto\\.com/gi, '')\n  .replace(/_Powered by Rensto\\.com_/gi, '')\n  .replace(/\\n\\n_Powered by Rensto\\.com_/g, '')\n  .replace(/\\nPowered by Rensto\\.com/gi, '')\n  .replace(/Powered by Rensto/gi, '')\n  .replace(/rensto\\.com/gi, '')\n  .trim();\n\nif (!responseText) {\n  responseText = 'I apologize, but I need more information to help you. Could you please provide more details?';\n}\n\n// CRITICAL: DO NOT ADD BRANDING - Removed the line that was adding it\n\n// Final check - if still no userId, use default and log warning\nif (!userId) {\n  console.log('[Process AI Response] ⚠️⚠️⚠️ CRITICAL: userId missing after all fallbacks!');\n  userId = 'unknown';\n}\n\n// CRITICAL: Ensure requiresVoice is explicitly boolean false for text messages\n// If requiresVoiceResponse was not true, it must be false\nif (requiresVoice !== true) {\n  requiresVoice = false;\n}\n\nconsole.log('[Process AI Response] ===== FINAL OUTPUT =====');\nconsole.log('  userId:', userId);\nconsole.log('  messageId:', messageId);\nconsole.log('  requiresVoice:', requiresVoice, '(type:', typeof requiresVoice, ')');\nconsole.log('  source:', source);\nconsole.log('  responseText length:', responseText.length);\nconsole.log('  responseText preview:', responseText.substring(0, 100));\nconsole.log('==========================================');\n\nreturn [{\n  json: {\n    responseText: responseText,\n    userId: userId,\n    messageId: messageId,\n    requiresVoice: requiresVoice, // CRITICAL: Must be boolean false for text messages\n    source: source,\n    timestamp: new Date().toISOString()\n  }\n}];","notice":""},"id":"0bd9c716-8312-49b4-9d11-8574c438e2ad","name":"Process AI Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[1664,-880]},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"// Send Voice Message - Get userId from Process AI Response or static data\nconst wahaUrl = 'http://173.254.201.134:3000';\nconst apiKey = '4fc7e008d7d24fc995475029effc8fa8';\nconst sessionId = 'rensto-whatsapp';\n\n// Get from Process AI Response (primary source)\nconst aiResponse = $items('Process AI Response', 0, 0)?.json || $json || {};\n\n// Get from global static data (fallback)\nlet staticData;\ntry {\n  staticData = this.getWorkflowStaticData('global');\n} catch (error) {\n  staticData = {};\n}\n\nconst chatId = aiResponse.userId || (staticData?.lastMessageMetadata?.userId) || '';\nconst replyTo = aiResponse.messageId || (staticData?.lastMessageMetadata?.messageId) || '';\n\n// Get binary audio from ElevenLabs TTS node\nlet base64Audio = $binary?.data?.data;\nif (!base64Audio) {\n  const ttsItem = $items('Convert text to speech', 0, 0);\n  if (ttsItem?.binary?.data?.data) {\n    base64Audio = ttsItem.binary.data.data;\n  }\n}\n\nif (!chatId) {\n  throw new Error(`Missing userId. AI Response: ${JSON.stringify(aiResponse)}, StaticData: ${JSON.stringify(staticData?.lastMessageMetadata || {})}`);\n}\n\nif (!base64Audio) {\n  throw new Error('Voice audio payload not found from Convert text to speech node');\n}\n\ntry {\n  const response = await this.helpers.httpRequest({\n    method: 'POST',\n    url: `${wahaUrl}/api/sendVoice`,\n    headers: {\n      'x-api-key': apiKey,\n      'Content-Type': 'application/json'\n    },\n    body: {\n      session: sessionId,\n      chatId,\n      file: {\n        mimetype: 'audio/opus',\n        filename: 'response.opus',\n        data: base64Audio,\n      },\n      reply_to: replyTo,\n    },\n    timeout: 60000,\n    json: true,\n  });\n  \n  return [{ json: { success: true, messageType: 'voice', sentAt: new Date().toISOString(), response } }];\n} catch (error) {\n  console.error('[Send Voice] Error:', error.message);\n  return [{ json: { success: false, error: error.message, messageType: 'voice', sentAt: new Date().toISOString() } }];\n}","notice":""},"id":"e4a63886-2ef7-402f-9b37-c98802f8144f","name":"Send Voice Message","type":"n8n-nodes-base.code","typeVersion":2,"position":[2784,-880]},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"// Send text message via WAHA - Enhanced error handling and logging\nconst wahaUrl = 'http://173.254.201.134:3000';\nconst apiKey = '4fc7e008d7d24fc995475029effc8fa8';\nconst sessionId = 'rensto-whatsapp';\n\nconst chatId = $json.userId;\nconst text = $json.responseText;\nconst replyTo = $json.messageId;\n\nconsole.log('[Send Text] ===== STARTING TEXT MESSAGE SEND =====');\nconsole.log('[Send Text] chatId:', chatId);\nconsole.log('[Send Text] text length:', text ? text.length : 0);\nconsole.log('[Send Text] replyTo:', replyTo);\nconsole.log('[Send Text] Full input:', JSON.stringify($json, null, 2));\n\nif (!chatId || !text) {\n  const errorMsg = 'Missing required data for text message. chatId: ' + (chatId || 'MISSING') + ', text: ' + (text ? 'EXISTS' : 'MISSING');\n  console.error('[Send Text] ❌', errorMsg);\n  // CRITICAL: Don't throw - return error so workflow can continue and we can see the issue\n  return [{\n    json: {\n      success: false,\n      error: errorMsg,\n      messageType: 'text',\n      sentAt: new Date().toISOString()\n    }\n  }];\n}\n\n// Build request body - only include reply_to if it exists\nconst requestBody = {\n  session: sessionId,\n  chatId: chatId,\n  text: text\n};\n\nif (replyTo) {\n  requestBody.reply_to = replyTo;\n}\n\nconsole.log('[Send Text] Request body:', JSON.stringify(requestBody, null, 2));\nconsole.log('[Send Text] Calling WAHA API:', wahaUrl + '/api/sendText');\n\ntry {\n  const response = await this.helpers.httpRequest({\n    method: 'POST',\n    url: wahaUrl + '/api/sendText',\n    headers: {\n      'x-api-key': apiKey,\n      'Content-Type': 'application/json'\n    },\n    body: requestBody,\n    timeout: 30000,\n    json: true\n  });\n  \n  console.log('[Send Text] ✅ SUCCESS - Response:', JSON.stringify(response, null, 2));\n  \n  return [{\n    json: {\n      success: true,\n      messageType: 'text',\n      sentAt: new Date().toISOString(),\n      response: response\n    }\n  }];\n} catch (error) {\n  console.error('[Send Text] ❌ ERROR DETAILS:');\n  console.error('  Error message:', error.message);\n  console.error('  Status code:', error.statusCode);\n  console.error('  Response:', error.response ? JSON.stringify(error.response.data || error.response, null, 2) : 'No response');\n  console.error('  Request URL:', wahaUrl + '/api/sendText');\n  console.error('  Request body:', JSON.stringify(requestBody, null, 2));\n  \n  // CRITICAL: Don't throw - return error info so workflow can continue\n  return [{\n    json: {\n      success: false,\n      error: error.message,\n      statusCode: error.statusCode,\n      messageType: 'text',\n      sentAt: new Date().toISOString(),\n      errorDetails: error.response ? error.response.data : null\n    }\n  }];\n}","notice":""},"id":"78bd4a8d-88b5-43c4-bbe9-23b6dba0835b","name":"Send Text Message","type":"n8n-nodes-base.code","typeVersion":2,"position":[2784,-688]},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"// Log conversation for analytics\nconst messageData = $input.all().map(item => item.json);\n\nconst logEntry = {\n  timestamp: new Date().toISOString(),\n  conversations: messageData.map(msg => ({\n    userId: msg.userId || 'unknown',\n    messageType: msg.messageType || 'text',\n    responseTime: msg.timestamp || new Date().toISOString(),\n    success: msg.success || false\n  }))\n};\n\nconsole.log('[Analytics] Logged:', logEntry);\n\nreturn [{ json: logEntry }];","notice":""},"id":"78c6282f-f253-477d-98b3-ce2ecd42441c","name":"Log Analytics","type":"n8n-nodes-base.code","typeVersion":2,"position":[3008,-784]},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"// Normalize HTTP webhook input to match WAHA format\nconst httpInput = $input.item.json;\n\nconst question = httpInput.body?.question || \n                 httpInput.body?.text || \n                 httpInput.body?.message || \n                 httpInput.question || \n                 httpInput.text || \n                 httpInput.message || '';\n\nconst sessionId = httpInput.body?.sessionId || \n                  httpInput.body?.session_id || \n                  httpInput.body?.from || \n                  httpInput.sessionId || \n                  httpInput.session_id || \n                  'webhook-user';\n\nreturn {\n  json: {\n    event: 'message',\n    payload: {\n      from: sessionId,\n      body: question,\n      conversation: question,\n      id: `webhook-${Date.now()}-${Math.random().toString(36).substr(2, 9)}`,\n      hasMedia: false,\n      timestamp: Date.now(),\n      _data: { message: {} }\n    },\n    source: 'http-webhook'\n  }\n};","notice":""},"id":"a7acb85c-3e08-4115-929d-ff3746ba3d92","name":"Normalize HTTP Input","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1872,-848]},{"parameters":{"multipleMethods":false,"httpMethod":"POST","path":"rensto-support-api","authentication":"none","responseMode":"onReceived","contentTypeNotice":"","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-2096,-848],"id":"e18ca186-9c52-4e8a-97b6-9503a55cd2e8","name":"Webhook","webhookId":"70828a52-f4f8-46c4-a69d-dea1be0bc8bc"},{"parameters":{"mode":"rules","rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"leftValue":"={{ $json.messageType }}","rightValue":"voice","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"voice"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"leftValue":"={{ $json.messageType }}","rightValue":"image","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"image"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"leftValue":"={{ $json.messageType }}","rightValue":"document","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"document"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"leftValue":"={{ $json.messageType }}","rightValue":"video","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"video"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"leftValue":"={{ $json.messageType }}","rightValue":"text","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"text"}]},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[-1424,-656],"id":"247edf5f-958b-4a49-9cf5-78e4499f6386","name":"Message Type Router"},{"parameters":{"preBuiltAgentsCalloutHttpRequest":"","curlImport":"","method":"GET","url":"={{ $json.mediaUrl }}","authentication":"none","provideSslCertificates":false,"sendQuery":false,"sendHeaders":true,"specifyHeaders":"keypair","headerParameters":{"parameters":[{"name":"x-api-key","value":"4fc7e008d7d24fc995475029effc8fa8"}]},"sendBody":false,"options":{"response":{"response":{"fullResponse":false,"neverError":false,"responseFormat":"file","outputPropertyName":"data"}},"timeout":15000},"infoMessage":""},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-272,-1136],"id":"da1ea947-cc3e-408f-8dde-6e250f4b5f22","name":"Download Voice","onError":"continueErrorOutput"},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"48e5d108-a6e6-4517-b0a6-33f95d454054","leftValue":"={{ $json.source }}","rightValue":"http-webhook","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"looseTypeValidation":false,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2112,-880],"id":"9bf5d527-3d1b-45d6-862a-d97357d97d77","name":"Check Response Source"},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"48e5d108-a6e6-4517-b0a6-33f95d454054","leftValue":"={{ $json.requiresVoice }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"looseTypeValidation":false,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2336,-784],"id":"7fa56e8e-a010-45e7-885c-d2d1008f3f06","name":"Voice Response Check"},{"parameters":{"enableResponseOutput":false,"generalNotice":"","respondWith":"json","webhookNotice":"","responseBody":"={{ JSON.stringify({ success: true, response: $json.responseText, messageId: $json.messageId, timestamp: $json.timestamp }) }}","options":{"responseCode":200,"responseHeaders":{"entries":[{"name":"Content-Type","value":"application/json"}]}}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[2336,-976],"id":"e9e1bede-5030-4cdd-93ab-39b43629669f","name":"Respond to Webhook"},{"parameters":{"resource":"speech","operation":"textToSpeech","voice":{"__rl":true,"value":"fkQDt886xMbusUJ9weAC","mode":"id"},"text":"={{ $json.responseText }}","additionalOptions":{"model":{"__rl":true,"value":"eleven_v3","mode":"list","cachedResultName":"Eleven v3 (alpha)"},"outputFormat":"opus_48000_192"},"requestOptions":{}},"type":"@elevenlabs/n8n-nodes-elevenlabs.elevenLabs","typeVersion":1,"position":[2560,-880],"id":"5469fc85-18c3-4415-bbd5-bd1baca414b7","name":"Convert text to speech","credentials":{"elevenLabsApi":{"id":"yEEqLVMzOlo1L0xI","name":"ElevenLabs account"}}},{"parameters":{"mode":"manual","duplicateItem":false,"assignments":{"assignments":[{"id":"store_name","name":"store_name","value":"={{ $json.store_name ? ($json.store_name.startsWith('fileSearchStores/') ? $json.store_name : 'fileSearchStores/' + $json.store_name.replace('fileSearchStores/', '')) : 'fileSearchStores/rensto-knowledge-base-ndf9fmymwb2p' }}","type":"string"},{"id":"question","name":"question","value":"={{ $json.question || $json.output || $json.message_text || $json.text || $json.transcript || $json.transcription || ($json.payload && ($json.payload.body || $json.payload.conversation || $json.payload.caption)) || '' }}","type":"string"},{"id":"message_type","name":"message_type","value":"={{ $json.message_type || ($json.payload && $json.payload.message_type) || 'text' }}","type":"string"},{"id":"message_text","name":"message_text","value":"={{ $json.question || $json.output || $json.message_text || $json.text || ($json.payload && ($json.payload.body || $json.payload.conversation || $json.payload.caption)) || '' }}","type":"string"},{"id":"voice_url","name":"voice_url","value":"={{ ($json.message_type === 'ptt' && $json.payload && $json.payload.media && $json.payload.media.url) ? $json.payload.media.url.replace('localhost:3000', '173.254.201.134:3000') : '' }}","type":"string"},{"id":"media_url","name":"media_url","value":"={{ ($json.message_type !== 'text' && $json.payload && $json.payload.hasMedia === true && $json.payload.media && $json.payload.media.url) ? $json.payload.media.url.replace('localhost:3000', '173.254.201.134:3000') : '' }}","type":"string"},{"id":"media_type","name":"media_type","value":"={{ $json.payload && $json.payload.hasMedia === true && $json.payload.media && $json.payload.media.mimetype ? $json.payload.media.mimetype : '' }}","type":"string"},{"id":"caption","name":"caption","value":"={{ $json.caption || ($json.payload && ($json.payload.caption || $json.payload.body || '')) || '' }}","type":"string"},{"id":"designer_phone","name":"designer_phone","value":"={{ $json.userId || $json.designer_phone || ($json.payload && $json.payload.from) || '' }}","type":"string"},{"id":"original_message_id","name":"original_message_id","value":"={{ $json.messageId || $json.original_message_id || ($json.payload && $json.payload.id) || '' }}","type":"string"}]},"includeOtherFields":false,"options":{}},"id":"44805e33-92a4-470b-a377-1cfe7892559c","name":"Set Store Name and Extract Text1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[400,-880]},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"// Merge Transcription Metadata - Store userId in static data (CRITICAL for Process AI Response)\nlet staticData;\ntry {\n  staticData = this.getWorkflowStaticData('global');\n} catch (error) {\n  staticData = {};\n}\n\nconst data = { ...(typeof $json === 'object' ? $json : {}) };\n\n// Normalize store name\nconst normalizeStore = (store) => {\n  if (!store) return 'fileSearchStores/rensto-knowledge-base-ndf9fmymwb2p';\n  const cleaned = store.replace(/^fileSearchStores\\//, '');\n  return `fileSearchStores/${cleaned}`;\n};\n\nconst normalizedStore = normalizeStore(data.store_name);\n\n// Store in workflow static data so Search Knowledge Base tool can access it\nstaticData.googleStoreName = normalizedStore;\n\n// CRITICAL: Store userId in static data (AI Agent will lose it)\nif (data.designer_phone || data.userId) {\n  const userId = data.designer_phone || data.userId;\n  const messageId = data.original_message_id || data.messageId || '';\n  const requiresVoice = data.message_type === 'ptt' || data.requiresVoiceResponse || false;\n  const source = data.source || 'waha';\n  \n  // Store in static data for Process AI Response to access\n  if (!staticData.lastMessageMetadata) {\n    staticData.lastMessageMetadata = {};\n  }\n  staticData.lastMessageMetadata.userId = userId;\n  staticData.lastMessageMetadata.messageId = messageId;\n  staticData.lastMessageMetadata.requiresVoiceResponse = requiresVoice;\n  staticData.lastMessageMetadata.source = source;\n  staticData.lastMessageMetadata.sessionId = data.sessionId || userId;\n  \n  console.log('[Merge Transcription] ✅ Stored userId in static data:', userId);\n  console.log('[Merge Transcription] Static data keys:', Object.keys(staticData).join(', '));\n} else {\n  console.log('[Merge Transcription] ⚠️ No userId found in data:', Object.keys(data).join(', '));\n}\n\n// CRITICAL: Extract question from ALL possible sources\nconst question = (\n  data.question ||\n  data.text ||\n  data.transcript ||\n  data.transcription ||\n  data.output ||\n  data.message_text ||\n  data.processedText ||\n  data.textContent ||\n  ''\n).trim();\n\nif (!question) {\n  throw new Error('Missing question/text in Merge Transcription Metadata');\n}\n\nreturn {\n  json: {\n    ...data,\n    store_name: normalizedStore,\n    message_text: question,\n    question: question, // CRITICAL: Ensure question is set\n    message_type: data.message_type || (data.requiresVoiceResponse ? 'ptt' : 'text'),\n    userId: data.designer_phone || data.userId || '',\n    messageId: data.original_message_id || data.messageId || ''\n  }\n};","notice":""},"id":"14b03ea7-e581-4a7a-8615-1b8eab620c55","name":"Merge Transcription Metadata","type":"n8n-nodes-base.code","typeVersion":2,"position":[624,-880]},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"// Debug Voice Routing - Log routing decision and ensure boolean\nconst input = $json || {};\n\nconsole.log('\\n[Debug Voice Routing] ===== ROUTING DECISION =====');\nconsole.log('  requiresVoice (raw):', input.requiresVoice, '(type:', typeof input.requiresVoice, ')');\nconsole.log('  userId:', input.userId);\nconsole.log('  messageId:', input.messageId);\nconsole.log('  responseText length:', input.responseText ? input.responseText.length : 0);\nconsole.log('  responseText preview:', input.responseText ? input.responseText.substring(0, 100) : 'NONE');\nconsole.log('  source:', input.source);\nconsole.log('  Full input keys:', Object.keys(input).join(', '));\n\n// CRITICAL: Ensure requiresVoice is explicitly boolean\n// Convert any truthy/falsy value to explicit boolean\nlet requiresVoice = false;\nif (input.requiresVoice === true || input.requiresVoice === 'true' || input.requiresVoice === 1) {\n  requiresVoice = true;\n} else {\n  requiresVoice = false; // Explicitly set to false for text messages\n}\n\nconsole.log('  Final requiresVoice (boolean):', requiresVoice, '(type:', typeof requiresVoice, ')');\nconsole.log('  Will route to:', requiresVoice ? 'VOICE (Convert text to speech)' : 'TEXT (Send Text Message)');\nconsole.log('==========================================\\n');\n\n// CRITICAL: Return all input fields plus explicit boolean requiresVoice\nreturn [{\n  json: {\n    responseText: input.responseText || '',\n    userId: input.userId || '',\n    messageId: input.messageId || '',\n    requiresVoice: requiresVoice, // CRITICAL: Explicit boolean (false for text, true for voice)\n    source: input.source || 'waha',\n    timestamp: input.timestamp || new Date().toISOString()\n  }\n}];","notice":""},"id":"4a7ce5f1-8542-496a-8d99-da92bb5475c8","name":"Debug Voice Routing","type":"n8n-nodes-base.code","typeVersion":1,"position":[1888,-880]},{"parameters":{"preBuiltAgentsCalloutHttpRequest":"","curlImport":"","method":"GET","url":"={{ $json.mediaUrl }}","authentication":"none","provideSslCertificates":false,"sendQuery":false,"sendHeaders":true,"specifyHeaders":"keypair","headerParameters":{"parameters":[{"name":"x-api-key","value":"4fc7e008d7d24fc995475029effc8fa8"}]},"sendBody":false,"options":{"response":{"response":{"fullResponse":false,"neverError":false,"responseFormat":"file","outputPropertyName":"data"}},"timeout":60000},"infoMessage":""},"id":"5bc1e135-c412-4509-b844-54d8854dfee3","name":"Download Video","type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-912,-384],"onError":"continueRegularOutput"},{"parameters":{"preBuiltAgentsCalloutHttpRequest":"","curlImport":"","method":"GET","url":"={{ $json.mediaUrl }}","authentication":"none","provideSslCertificates":false,"sendQuery":false,"sendHeaders":true,"specifyHeaders":"keypair","headerParameters":{"parameters":[{"name":"x-api-key","value":"4fc7e008d7d24fc995475029effc8fa8"}]},"sendBody":false,"options":{"response":{"response":{"fullResponse":false,"neverError":false,"responseFormat":"file","outputPropertyName":"data"}},"timeout":60000},"infoMessage":""},"id":"9cbc15a4-117d-4926-9aba-be3dbd0d16e5","name":"Download Document","type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-912,32],"onError":"continueRegularOutput"},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"// Merge Gemini analysis with metadata from Message Type Router\n// CRITICAL: Preserve ALL metadata for Process Media Context (after Guardrails)\nconst geminiOutput = $json.output || $json.text || $json.response || '';\nconst routerData = $node['Message Type Router'].json || {};\n\nreturn {\n  json: {\n    // Preserve ALL metadata from Message Type Router\n    userId: routerData.userId,\n    messageId: routerData.messageId,\n    messageType: 'image',\n    textContent: routerData.textContent || '',\n    caption: routerData.textContent || '',\n    mediaUrl: routerData.mediaUrl,\n    source: routerData.source,\n    timestamp: routerData.timestamp,\n    \n    // Gemini analysis output (will be sanitized by Guardrails)\n    output: geminiOutput,\n    analysis: geminiOutput,\n    text: geminiOutput,\n    \n    // For Process Media Context to extract original question\n    processedText: routerData.textContent || geminiOutput || 'What can you help me with this image?'\n  }\n};","notice":""},"id":"9b88be15-a06d-4a67-916b-f86cdd02f3d5","name":"Merge Image Analysis","type":"n8n-nodes-base.code","typeVersion":2,"position":[-560,-880]},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"// Merge Gemini analysis with metadata from Message Type Router\nconst geminiOutput = $json.output || $json.text || $json.response || '';\nconst routerData = $node['Message Type Router'].json || {};\n\nreturn {\n  json: {\n    userId: routerData.userId,\n    messageId: routerData.messageId,\n    messageType: 'video',\n    textContent: routerData.textContent || '',\n    caption: routerData.textContent || '',\n    mediaUrl: routerData.mediaUrl,\n    source: routerData.source,\n    timestamp: routerData.timestamp,\n    output: geminiOutput,\n    analysis: geminiOutput,\n    processedText: routerData.textContent || geminiOutput || 'What can you help me with this video?'\n  }\n};","notice":""},"id":"509f0a7b-d177-4558-b536-87460db6b54d","name":"Merge Video Analysis","type":"n8n-nodes-base.code","typeVersion":2,"position":[-272,-384]},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"// Merge Gemini analysis with metadata from Message Type Router\nconst geminiOutput = $json.output || $json.text || $json.response || '';\nconst routerData = $node['Message Type Router'].json || {};\n\nreturn {\n  json: {\n    userId: routerData.userId,\n    messageId: routerData.messageId,\n    messageType: 'document',\n    textContent: routerData.textContent || '',\n    caption: routerData.textContent || '',\n    mediaUrl: routerData.mediaUrl,\n    source: routerData.source,\n    timestamp: routerData.timestamp,\n    output: geminiOutput,\n    analysis: geminiOutput,\n    processedText: routerData.textContent || geminiOutput || 'What can you help me with this document?'\n  }\n};","notice":""},"id":"9d90f94d-b8d5-496a-a85d-5f5ec4082fd0","name":"Merge Document Analysis","type":"n8n-nodes-base.code","typeVersion":2,"position":[-272,32]},{"parameters":{"preBuiltAgentsCalloutHttpRequest":"","curlImport":"","method":"GET","url":"={{ $json.mediaUrl }}","authentication":"none","provideSslCertificates":false,"sendQuery":false,"sendHeaders":true,"specifyHeaders":"keypair","headerParameters":{"parameters":[{"name":"x-api-key","value":"4fc7e008d7d24fc995475029effc8fa8"}]},"sendBody":false,"options":{"response":{"response":{"fullResponse":false,"neverError":false,"responseFormat":"file","outputPropertyName":"data"}},"timeout":60000},"infoMessage":""},"id":"cdd6a334-c44e-4f20-b10a-61c8cd2ecf1f","name":"Download Image1","type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-1200,-880],"onError":"continueRegularOutput"},{"parameters":{"aiAgentStarterCallout":"","promptType":"define","text":"={{ $node['Message Type Router'].json.textContent || $node['Message Type Router'].json.caption || 'Analyze this image in detail. Extract any text visible (OCR) and describe what you see.' }}","hasOutputParser":false,"needsFallback":false,"options":{"systemMessage":"You are an expert image analysis AI. Your task is to analyze images and extract:\n1. Visual content description\n2. Any text visible in the image (OCR)\n3. Objects, people, scenes, and context\n4. Relevant details for business automation support\n\n**CRITICAL RULES:**\n- Always respond in the same language as any text found in the image\n- If the image contains text, extract it verbatim\n- Provide detailed, actionable descriptions\n- Focus on information relevant to business automation and support\n- Never add branding or disclaimers","maxIterations":5,"returnIntermediateSteps":false,"passthroughBinaryImages":true}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[-976,-880],"id":"864a5ed8-bf0f-4165-9024-41e5134bb530","name":"Image Analysis Agent"},{"parameters":{"notice":"","model":{"__rl":true,"value":"chatgpt-4o-latest","mode":"list","cachedResultName":"chatgpt-4o-latest"},"responsesApiEnabled":true,"builtInTools":{},"options":{"maxTokens":1024,"temperature":0.3}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-960,-656],"id":"a2ba2dd7-aa3d-42f2-b683-93393bf56067","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"0sXFXYfqiDEKuDcN","name":"service@rensto.com"}}},{"parameters":{"aiAgentStarterCallout":"","promptType":"define","text":"={{ $json.textContent || $json.caption || 'Analyze this video frame and describe what you see.' }}","hasOutputParser":false,"needsFallback":false,"options":{"systemMessage":"You are an expert video frame analysis AI. Your task is to analyze video frames and extract:\n1. Visual content in the frame\n2. Any text visible (OCR)\n3. Motion indicators, scenes, and context\n4. Key information for business automation support\n\n**IMPORTANT NOTES:**\n- You are analyzing a SINGLE FRAME from a video\n- Describe what you see in this specific frame\n- If text is visible, extract it verbatim\n- Respond in the same language as any text found\n- Note that this is frame-based analysis, not full video understanding","maxIterations":5,"returnIntermediateSteps":false,"passthroughBinaryImages":true}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[-624,-480],"id":"a9fe6059-bd54-4eb7-adb8-ddb3c3c4c6f0","name":"Video Analysis Agent"},{"parameters":{"notice":"","model":{"__rl":true,"value":"chatgpt-4o-latest","mode":"list","cachedResultName":"chatgpt-4o-latest"},"responsesApiEnabled":true,"builtInTools":{},"options":{"maxTokens":2048,"temperature":0.3}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-608,-256],"id":"f5da3df3-4c6a-4017-badc-46962f8795f9","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"0sXFXYfqiDEKuDcN","name":"service@rensto.com"}}},{"parameters":{"aiAgentStarterCallout":"","promptType":"define","text":"={{ $json.textContent || $json.caption || 'Analyze this document and extract all text and key information.' }}","hasOutputParser":false,"needsFallback":false,"options":{"systemMessage":"You are an expert document analysis AI. Your task is to analyze documents and extract:\n1. All text content (OCR)\n2. Document structure and formatting\n3. Key information and data points\n4. Relevant details for business automation support\n\n**CRITICAL RULES:**\n- Extract ALL text verbatim\n- Preserve document structure (headings, lists, tables)\n- Identify key information (dates, names, amounts, etc.)\n- Respond in the same language as the document\n- Provide detailed, actionable extraction\n- Never add branding or disclaimers","maxIterations":8,"returnIntermediateSteps":false,"passthroughBinaryImages":true}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[-624,32],"id":"dfd0eb3c-255e-44be-b682-08e290e9f245","name":"Document Analysis Agent"},{"parameters":{"notice":"","model":{"__rl":true,"value":"chatgpt-4o-latest","mode":"list","cachedResultName":"chatgpt-4o-latest"},"responsesApiEnabled":true,"builtInTools":{},"options":{"maxTokens":4096,"temperature":0.2}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-608,256],"id":"16f192b5-be7b-4039-835d-2246b6bfeb67","name":"OpenAI Chat Model2","credentials":{"openAiApi":{"id":"0sXFXYfqiDEKuDcN","name":"service@rensto.com"}}},{"parameters":{"guardrailsUsage":"","operation":"sanitize","text":"={{ $json.output || $json.analysis || $json.text || \"\" }}","guardrails":{"pii":{"value":{"type":"all"}},"secretKeys":{"value":{"permissiveness":"balanced"}},"urls":{"value":{"allowedUrls":"","allowedSchemes":["https","http"],"blockUserinfo":true,"allowSubdomains":true}}}},"type":"@n8n/n8n-nodes-langchain.guardrails","typeVersion":1,"position":[-272,-880],"id":"26c5a8b4-e282-4dde-9806-67c14a06a275","name":"Guardrails"},{"parameters":{"guardrailsUsage":"","operation":"checkTextForViolations","text":"={{ $json.question || \"\" }}","guardrails":{}},"type":"@n8n/n8n-nodes-langchain.guardrails","typeVersion":1,"position":[848,-880],"id":"ea6375ff-3ae7-4646-895a-5aeaa48eef01","name":"Guardrails1"},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $node['Prepare AI Input'].json.hasImageAnalysis === true }}","operation":"equal","value2":true}]},"combineOperation":"all"},"id":"7b5431e1-7a13-4398-997a-9907e19b45e7","name":"Image Analysis Switch","type":"n8n-nodes-base.if","typeVersion":1,"position":[1152,-880]},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"// Generate deterministic response directly from stored image analysis.\nconst prepareData = $node['Prepare AI Input'].json || {};\nconst processData = $node['Process Media Context'].json || {};\nconst mergeData = $node['Merge Image Analysis'].json || {};\n\nconst getText = (value) => {\n  if (value === undefined || value === null) return '';\n  return String(value).trim();\n};\n\nconst question = getText(\n  processData.originalQuestion ||\n  processData.originalCaption ||\n  prepareData.question ||\n  prepareData.caption ||\n  mergeData.caption ||\n  'this image'\n);\n\nconst analysis = getText(\n  processData.imageAnalysis ||\n  processData.geminiAnalysis ||\n  prepareData.imageAnalysis ||\n  mergeData.analysis ||\n  ''\n);\n\nconst containsHebrew = (text) => /[\\u0590-\\u05FF]/.test(text || '');\nconst useHebrew = containsHebrew(question) || containsHebrew(analysis);\n\nlet response;\nif (analysis) {\n  response = useHebrew\n    ? `✅ כן, אני רואה את התמונה ושמתי לב לבאים:\\n${analysis}`\n    : `✅ Yes, I can see the image. Here is what I observe:\\n${analysis}`;\n} else {\n  response = useHebrew\n    ? '✅ כן, קיבלתי את התמונה אך לא נמצא טקסט ניתוח. אנא שלח שוב או הסבר מה תרצה שנבדוק.'\n    : '✅ I received your image but the analysis data was empty. Please resend it or tell me what you need help with.';\n}\n\nreturn [{\n  json: {\n    ...processData,\n    ...prepareData,\n    output: response,\n    responseText: response,\n    answeredFromImageAnalysis: analysis.length > 0\n  }\n}];","notice":""},"id":"0c40ab50-3afb-4136-8608-a2913d7b1c02","name":"Image Analysis Responder","type":"n8n-nodes-base.code","typeVersion":2,"position":[1456,-976]},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"// Guardrails: Check video file size\nconst maxSizeMB = 15;\nconst payload = $json.payload || {};\nconst data = payload._data || {};\nconst videoMsg = data.message ? data.message.videoMessage : null;\nconst fileSize = videoMsg ? Number(videoMsg.fileLength) : 0;\nconst fileSizeMB = fileSize / (1024 * 1024);\n\nif (fileSizeMB > maxSizeMB) {\n  // Stop execution for this branch\n  return [];\n}\n\nreturn [$input.item];","notice":""},"name":"Guardrails: Video Size","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1150,-384],"id":"guardrails-video-size"},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"// Guardrails: Check document file size\nconst maxSizeMB = 10;\nconst payload = $json.payload || {};\nconst data = payload._data || {};\nconst docMsg = data.message ? data.message.documentMessage : null;\nconst fileSize = docMsg ? Number(docMsg.fileLength) : 0;\nconst fileSizeMB = fileSize / (1024 * 1024);\n\nif (fileSizeMB > maxSizeMB) {\n  // Stop execution for this branch\n  return [];\n}\n\nreturn [$input.item];","notice":""},"name":"Guardrails: Doc Size","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1150,32],"id":"guardrails-doc-size"},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"// Fix Video MIME Type - Preserve correct MIME type from Message Type Router\nconst videoData = $binary.data;\nconst routerData = $node['Message Type Router'].json || {};\nconst correctMimeType = routerData?.mediaInfo?.mimetype || 'video/mp4';\n\nconsole.log('[Fix MIME] Original mimeType:', videoData?.mimeType);\nconsole.log('[Fix MIME] Correct mimeType from router:', correctMimeType);\n\n// Update binary data with correct MIME type\nconst result = {\n  json: $json,\n  binary: {\n    data: {\n      ...videoData,\n      mimeType: correctMimeType,\n      fileName: videoData?.fileName || 'video.mp4'\n    }\n  }\n};\n\nconsole.log('[Fix MIME] Updated mimeType:', result.binary.data.mimeType);\nreturn result;","notice":""},"id":"fix-video-mime-001","name":"Fix Video MIME Type","type":"n8n-nodes-base.code","typeVersion":2,"position":[-740,-384]},{"parameters":{"preBuiltAgentsCalloutHttpRequest":"","curlImport":"","method":"GET","url":"={{ $json.mediaUrl }}","authentication":"none","provideSslCertificates":false,"sendQuery":false,"sendHeaders":true,"specifyHeaders":"keypair","headerParameters":{"parameters":[{"name":"x-api-key","value":"4fc7e008d7d24fc995475029effc8fa8"}]},"sendBody":false,"options":{"response":{"response":{"fullResponse":false,"neverError":false,"responseFormat":"file","outputPropertyName":"data"}},"timeout":60000},"infoMessage":""},"id":"2214e0ae-4d2a-40a0-9d8c-adcaabcaee13","name":"Download Image","type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-1176,-880],"onError":"continueRegularOutput"}],"connections":{"Smart Message Router":{"main":[[{"node":"Message Type Router","type":"main","index":0}]]},"Transcribe Voice":{"main":[[{"node":"Prepare AI Input","type":"main","index":0}],[{"node":"Prepare AI Input","type":"main","index":0}]]},"Process Media Context":{"main":[[{"node":"Prepare AI Input","type":"main","index":0}]]},"Prepare AI Input":{"main":[[{"node":"Set Store Name and Extract Text1","type":"main","index":0}]]},"Rensto AI Agent":{"main":[[{"node":"Process AI Response","type":"main","index":0}]]},"Conversation Memory":{"ai_memory":[[{"node":"Rensto AI Agent","type":"ai_memory","index":0}]]},"Search Knowledge Base":{"ai_tool":[[{"node":"Rensto AI Agent","type":"ai_tool","index":0}]]},"OpenAI Model":{"ai_languageModel":[[{"node":"Rensto AI Agent","type":"ai_languageModel","index":0}]]},"Process AI Response":{"main":[[{"node":"Debug Voice Routing","type":"main","index":0}]]},"Send Voice Message":{"main":[[{"node":"Log Analytics","type":"main","index":0}]]},"Send Text Message":{"main":[[{"node":"Log Analytics","type":"main","index":0}]]},"Normalize HTTP Input":{"main":[[{"node":"Smart Message Router","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Normalize HTTP Input","type":"main","index":0}]]},"Message Type Router":{"main":[[{"node":"Download Voice","type":"main","index":0}],[{"node":"Download Image","type":"main","index":0}],[{"node":"Guardrails: Doc Size","type":"main","index":0}],[{"node":"Guardrails: Video Size","type":"main","index":0}],[{"node":"Prepare AI Input","type":"main","index":0}]]},"Download Voice":{"main":[[{"node":"Transcribe Voice","type":"main","index":0}],[{"node":"Prepare AI Input","type":"main","index":0}]]},"Check Response Source":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}],[{"node":"Voice Response Check","type":"main","index":0}]]},"Voice Response Check":{"main":[[{"node":"Convert text to speech","type":"main","index":0}],[{"node":"Send Text Message","type":"main","index":0}]]},"Convert text to speech":{"main":[[{"node":"Send Voice Message","type":"main","index":0}]]},"Set Store Name and Extract Text1":{"main":[[{"node":"Merge Transcription Metadata","type":"main","index":0}]]},"Merge Transcription Metadata":{"main":[[{"node":"Guardrails1","type":"main","index":0}]]},"Debug Voice Routing":{"main":[[{"node":"Check Response Source","type":"main","index":0}]]},"Download Video":{"main":[[{"node":"Fix Video MIME Type","type":"main","index":0}]]},"Download Document":{"main":[[{"node":"Document Analysis Agent","type":"main","index":0}]]},"Merge Image Analysis":{"main":[[{"node":"Guardrails","type":"main","index":0}]]},"Merge Video Analysis":{"main":[[{"node":"Process Media Context","type":"main","index":0}]]},"Merge Document Analysis":{"main":[[{"node":"Process Media Context","type":"main","index":0}]]},"WAHA Trigger":{"main":[[{"node":"Smart Message Router","type":"main","index":0}],[{"node":"Smart Message Router","type":"main","index":0}],[{"node":"Smart Message Router","type":"main","index":0}],[{"node":"Smart Message Router","type":"main","index":0}]]},"Image Analysis Agent":{"main":[[{"node":"Merge Image Analysis","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Image Analysis Agent","type":"ai_languageModel","index":0},{"node":"Guardrails1","type":"ai_languageModel","index":0}]]},"Video Analysis Agent":{"main":[[{"node":"Merge Video Analysis","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Video Analysis Agent","type":"ai_languageModel","index":0}]]},"Document Analysis Agent":{"main":[[{"node":"Merge Document Analysis","type":"main","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"Document Analysis Agent","type":"ai_languageModel","index":0}]]},"Guardrails":{"main":[[{"node":"Process Media Context","type":"main","index":0}]]},"Guardrails1":{"main":[[{"node":"Image Analysis Switch","type":"main","index":0}]]},"Image Analysis Switch":{"main":[[{"node":"Image Analysis Responder","type":"main","index":0}],[{"node":"Rensto AI Agent","type":"main","index":0}]]},"Image Analysis Responder":{"main":[[{"node":"Process AI Response","type":"main","index":0}]]},"Guardrails: Video Size":{"main":[[{"node":"Download Video","type":"main","index":0}]]},"Guardrails: Doc Size":{"main":[[{"node":"Download Document","type":"main","index":0}]]},"Fix Video MIME Type":{"main":[[{"node":"Video Analysis Agent","type":"main","index":0}]]},"Download Image":{"main":[[{"node":"Image Analysis Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{"googleApiKey":"AIzaSyB1nQdOOSeYdGv_R53dcyYDsIwenRU5ziE"},"pinData":{}},"customData":{}}