workflows/execution_18805_full.json
{"id":"18805","finished":true,"mode":"webhook","retryOf":null,"retrySuccessId":null,"status":"success","createdAt":"2025-11-23T01:38:21.220Z","startedAt":"2025-11-23T01:38:21.246Z","stoppedAt":"2025-11-23T01:38:21.254Z","deletedAt":null,"workflowId":"eQSCUFw91oXLxtvn","waitTill":null,"data":{"startData":{},"resultData":{"runData":{"WAHA Trigger":[{"startTime":1763861901253,"executionIndex":0,"source":[],"hints":[],"executionTime":0,"executionStatus":"success","data":{"main":[[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[{"json":{"id":"evt_01kaq5sbtjbbcb1s7aazd8jhwy","timestamp":1763861901138,"event":"engine.event","session":"rensto-support","metadata":{},"me":{"id":"12144362102@c.us","pushName":"Rensto","lid":"271661580427508@lid"},"payload":{"event":"creds.update","data":{"noiseKey":{"private":{"type":"Buffer","data":[80,227,187,23,66,204,244,22,169,124,199,253,242,99,56,248,57,247,195,6,247,172,183,183,123,89,76,9,66,12,250,70]},"public":{"type":"Buffer","data":[137,11,64,250,173,191,192,67,129,140,136,95,5,66,27,141,42,90,179,148,218,216,79,101,125,100,165,18,34,63,177,40]}},"pairingEphemeralKeyPair":{"private":{"type":"Buffer","data":[88,219,29,38,188,68,110,167,87,114,40,32,4,68,219,94,78,80,203,121,192,223,29,1,172,148,184,172,6,43,202,117]},"public":{"type":"Buffer","data":[250,191,249,39,28,116,11,26,177,241,124,0,182,249,188,203,210,164,189,139,121,69,208,127,229,241,78,132,135,201,192,68]}},"signedIdentityKey":{"private":{"type":"Buffer","data":[0,87,76,193,157,161,99,244,205,89,64,237,70,156,206,44,197,95,239,106,69,59,204,79,75,162,189,96,89,36,163,106]},"public":{"type":"Buffer","data":[49,64,3,201,128,155,167,78,18,184,237,205,85,56,153,32,203,107,22,154,46,116,154,73,145,146,176,227,53,111,196,57]}},"signedPreKey":{"keyPair":{"private":{"type":"Buffer","data":[96,29,36,165,17,2,153,159,180,234,36,121,69,34,225,27,96,137,129,175,104,167,216,88,147,173,194,51,176,102,227,111]},"public":{"type":"Buffer","data":[121,163,34,98,162,12,27,128,13,202,59,102,184,31,186,94,208,26,161,106,216,4,34,41,152,57,221,138,72,110,3,114]}},"signature":{"type":"Buffer","data":[130,209,219,43,243,149,77,106,188,144,208,139,75,8,243,147,130,198,67,18,27,219,79,141,78,153,230,121,54,43,175,142,129,186,1,219,152,184,37,117,106,193,104,37,106,254,21,254,175,67,155,118,55,49,154,120,110,203,159,127,254,56,4,139]},"keyId":1},"registrationId":134,"advSecretKey":"jn8059LgTKrxUES7rr/SHLNN1ThZ41XmT/Qm2KeBCzk=","processedHistoryMessages":[],"nextPreKeyId":818,"firstUnuploadedPreKeyId":818,"accountSyncCounter":0,"accountSettings":{"unarchiveChats":false},"registered":false,"lastPropHash":"PWk5B","routingInfo":{"type":"Buffer","data":[8,13,8,2,8,18]},"account":{"details":"COXonbANEJeG6sgGGA8gACgA","accountSignatureKey":"KR99QZIUWhceYPD6xzJrdhq6VMyN5ot1nWgnEZyVQTY=","accountSignature":"S3QtyKU7ZpmA+ozqJaCmsN1Nc/UqTwIxl/Q4JoM6qbADcwTVjCDdvvj0c/UxpQ0dy+DJaUhXQ5JHPyQcnrimiw==","deviceSignature":"23yVEN8aNdDZgbaVf+6ronRLNLR64iNLu9+apoU0/7q9jCXtQOXNmK9onrnMv4ZDf2uQoAw1I9yTtkEYSNGNhA=="},"me":{"id":"12144362102:9@s.whatsapp.net","name":"Rensto","lid":"271661580427508:9@lid"},"signalIdentities":[{"identifier":{"name":"271661580427508:9@lid","deviceId":0},"identifierKey":{"type":"Buffer","data":[5,41,31,125,65,146,20,90,23,30,96,240,250,199,50,107,118,26,186,84,204,141,230,139,117,157,104,39,17,156,149,65,54]}}],"platform":"smbi","lastAccountSyncTimestamp":1763660823,"myAppStateKeyId":"AAAAAGiY"}},"engine":"NOWEB","environment":{"version":"2025.11.2","engine":"NOWEB","tier":"PLUS","browser":null}},"pairedItem":{"item":0,"input":25}}]]}}]},"lastNodeExecuted":"WAHA Trigger"},"executionData":{"contextData":{},"nodeExecutionStack":[],"waitingExecution":{}}},"workflowData":{"id":"eQSCUFw91oXLxtvn","name":"INT-WHATSAPP-SUPPORT-001: Rensto Support Agent (Final)","active":true,"isArchived":false,"createdAt":"2025-11-17T00:01:48.622Z","updatedAt":"2025-11-23T01:30:07.174Z","nodes":[{"parameters":{"operation":""},"id":"50e910bc-9c49-4600-8637-14ef6c5ffa72","name":"WAHA Trigger","type":"@devlikeapro/n8n-nodes-waha.wahaTrigger","typeVersion":202502,"position":[-2144,-880],"webhookId":"976a4187-04c0-458b-b9ba-c7af75ed5de0"},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"// Universal Smart Message Router - Handle ONLY 'message' events\n// CRITICAL FIX V5: Filter to ONLY process 'message' events from WAHA Trigger\n// CRITICAL FIX: Strict message type detection - ONLY set to image/video/document if ACTUAL media exists\n// CRITICAL FIX: Explicit caption extraction for all media types (WITH and WITHOUT captions)\nconst self = this;\nconst items = $input.all();\nconst results = [];\n\nconsole.log('[Router] ===== STARTING ROUTER (V5 - MESSAGE ONLY FILTER) =====');\nconsole.log('[Router] Input items count:', items.length);\n\n// Use 'global' scope so other nodes can access this data\nlet staticData;\ntry {\n  staticData = self.getWorkflowStaticData('global');\n} catch (error) {\n  staticData = {};\n}\n\n// Use arrays instead of Sets to avoid serialization issues\nstaticData.processedMessageIds = staticData.processedMessageIds || [];\nstaticData.processedMessageTimestamps = staticData.processedMessageTimestamps || {};\nstaticData.rateLimitTracker = staticData.rateLimitTracker || {};\n\n// Helper: Recursively find text content in object\nconst findTextContent = (obj, depth = 0) => {\n  if (!obj || typeof obj !== 'object' || depth > 5) return null;\n  \n  // Direct checks\n  if (obj.caption) return obj.caption;\n  if (obj.conversation) return obj.conversation;\n  if (obj.text && typeof obj.text === 'string') return obj.text;\n  \n  // Recursive search\n  for (const key in obj) {\n    if (key === 'contextInfo' || key === 'quotedMessage') continue; // Skip quoted messages\n    const res = findTextContent(obj[key], depth + 1);\n    if (res) return res;\n  }\n  return null;\n};\n\n// STRICT check-and-mark function\nconst tryMarkAsProcessed = (keys) => {\n  if (!Array.isArray(keys) || keys.length === 0) return false;\n  const processed = staticData.processedMessageIds;\n  const timestamps = staticData.processedMessageTimestamps;\n  const now = Date.now();\n  \n  for (let i = 0; i < keys.length; i++) {\n    const key = keys[i];\n    if (key && processed.includes(key)) {\n      console.log('[Router] ⏭️ Skipping duplicate message:', key);\n      return false;\n    }\n  }\n  \n  for (let i = 0; i < keys.length; i++) {\n    const key = keys[i];\n    if (key && !processed.includes(key)) {\n      processed.push(key);\n      timestamps[key] = now;\n    }\n  }\n  \n  // Cleanup\n  if (processed.length > 1000) {\n    const oldKeys = processed.slice(0, processed.length - 1000);\n    processed.splice(0, processed.length - 1000);\n    for (let i = 0; i < oldKeys.length; i++) {\n      delete timestamps[oldKeys[i]];\n    }\n  }\n  return true;\n};\n\nconst checkRateLimit = (userId, maxMessages, windowMs) => {\n  maxMessages = maxMessages || 10;\n  windowMs = windowMs || 60000;\n  const now = Date.now();\n  const tracker = staticData.rateLimitTracker;\n  \n  if (!tracker[userId]) tracker[userId] = [];\n  \n  const recentMessages = tracker[userId].filter(t => now - t < windowMs);\n  tracker[userId] = recentMessages;\n  \n  if (recentMessages.length >= maxMessages) return false;\n  \n  tracker[userId].push(now);\n  return true;\n};\n\nfor (let itemIndex = 0; itemIndex < items.length; itemIndex++) {\n  const item = items[itemIndex];\n  const msg = item.json || {};\n  const eventType = msg.event || '';\n  \n  // CRITICAL FIX: Filter to ONLY process 'message' events (skip creds.update, connection.update, etc.)\n  if (eventType !== 'message' && eventType !== 'message.any') {\n    console.log('[Router] ⏭️ Skipping non-message event:', eventType);\n    continue;\n  }\n  \n  const payload = msg.payload || {};\n  const _data = payload._data || {};\n  \n  // CRITICAL: Skip messages from ourselves\n  if (payload.fromMe === true) {\n    console.log('[Router] ⏭️ Skipping message from self');\n    continue;\n  }\n  \n  const _dataKey = _data.key || {};\n  const actualMessageId = _dataKey.id || payload.id || '';\n  const compositeId = payload.id || '';\n  const remoteJid = payload.from || _dataKey.remoteJid || '';\n  const userId = remoteJid ? String(remoteJid).replace('@s.whatsapp.net', '@c.us') : '';\n  const timestamp = payload.timestamp || _data.messageTimestamp || Date.now();\n  \n  const dedupKeys = [actualMessageId, compositeId].filter(k => k);\n  \n  try { self.setWorkflowStaticData('global', staticData); } catch (e) {}\n  if (!tryMarkAsProcessed(dedupKeys)) {\n    console.log('[Router] ⏭️ Duplicate detected, skipping');\n    continue;\n  }\n  try { self.setWorkflowStaticData('global', staticData); } catch (e) {}\n  \n  if (userId && !checkRateLimit(userId)) continue;\n  \n  let messageType = 'text'; // DEFAULT to text\n  \n  // ROBUST: Extract text content FIRST (for text messages)\n  let textContent = payload.body || '';\n  if (!textContent && _data.message) {\n    textContent = findTextContent(_data.message) || '';\n  }\n  \n  let mediaUrl = '';\n  let mediaInfo = {};\n  \n  const _dataMessage = _data.message || {};\n  const audioMsg = _dataMessage.audioMessage || null;\n  \n  // CRITICAL FIX: STRICT media detection - ONLY set to media type if ACTUAL media exists with URL\n  // Check for ACTUAL media objects with URLs (not just existence of empty objects)\n  const hasImage = _dataMessage.imageMessage && _dataMessage.imageMessage.url && String(_dataMessage.imageMessage.url).trim() !== '';\n  const hasVideo = _dataMessage.videoMessage && _dataMessage.videoMessage.url && String(_dataMessage.videoMessage.url).trim() !== '';\n  const hasDocument = _dataMessage.documentMessage && _dataMessage.documentMessage.url && String(_dataMessage.documentMessage.url).trim() !== '';\n  const hasAudio = (audioMsg || _dataMessage.audioMessage) && ((audioMsg || _dataMessage.audioMessage).url || (audioMsg || _dataMessage.audioMessage).ptt === true);\n  \n  console.log('[Router] Media detection:', { hasImage, hasVideo, hasDocument, hasAudio, hasMedia: payload.hasMedia });\n  \n  // CRITICAL: Only check media if we have actual media objects\n  if (hasAudio) {\n    const audio = audioMsg || _dataMessage.audioMessage;\n    messageType = 'voice';\n    mediaUrl = (payload.media && payload.media.url) || audio.url || '';\n    mediaInfo = { isPTT: audio.ptt === true, mimetype: audio.mimetype || 'audio/ogg' };\n    console.log('[Router] ✅ Detected VOICE message');\n  } else if (hasImage) {\n    // CRITICAL: Only set to image if imageMessage has actual URL\n    messageType = 'image';\n    mediaUrl = _dataMessage.imageMessage.url || '';\n    mediaInfo = { mimetype: _dataMessage.imageMessage.mimetype || 'image/jpeg' };\n    // CRITICAL FIX: Explicitly extract caption from imageMessage (WITH or WITHOUT caption)\n    if (!textContent && _dataMessage.imageMessage.caption) {\n      textContent = String(_dataMessage.imageMessage.caption).trim();\n      console.log('[Router] 📷 Extracted image caption:', textContent ? textContent.substring(0, 50) : 'NONE');\n    } else if (!textContent) {\n      console.log('[Router] 📷 Image has NO caption');\n    }\n    console.log('[Router] ✅ Detected IMAGE message with URL:', mediaUrl ? 'YES' : 'NO');\n  } else if (hasVideo) {\n    // CRITICAL: Only set to video if videoMessage has actual URL\n    messageType = 'video';\n    mediaUrl = _dataMessage.videoMessage.url || '';\n    mediaInfo = { mimetype: _dataMessage.videoMessage.mimetype || 'video/mp4' };\n    // CRITICAL FIX: Explicitly extract caption from videoMessage (WITH or WITHOUT caption)\n    if (!textContent && _dataMessage.videoMessage.caption) {\n      textContent = String(_dataMessage.videoMessage.caption).trim();\n      console.log('[Router] 🎥 Extracted video caption:', textContent ? textContent.substring(0, 50) : 'NONE');\n    } else if (!textContent) {\n      console.log('[Router] 🎥 Video has NO caption');\n    }\n    console.log('[Router] ✅ Detected VIDEO message with URL:', mediaUrl ? 'YES' : 'NO');\n  } else if (hasDocument) {\n    // CRITICAL: Only set to document if documentMessage has actual URL\n    messageType = 'document';\n    mediaUrl = _dataMessage.documentMessage.url || '';\n    mediaInfo = { mimetype: _dataMessage.documentMessage.mimetype || 'application/pdf' };\n    // CRITICAL FIX: Explicitly extract caption from documentMessage (WITH or WITHOUT caption)\n    if (!textContent && _dataMessage.documentMessage.caption) {\n      textContent = String(_dataMessage.documentMessage.caption).trim();\n      console.log('[Router] 📄 Extracted document caption:', textContent ? textContent.substring(0, 50) : 'NONE');\n    } else if (!textContent) {\n      console.log('[Router] 📄 Document has NO caption');\n    }\n    console.log('[Router] ✅ Detected DOCUMENT message with URL:', mediaUrl ? 'YES' : 'NO');\n  } else if (_dataMessage.ptt === true) {\n    messageType = 'voice';\n    if (audioMsg && audioMsg.url) mediaUrl = audioMsg.url;\n    mediaInfo = { isPTT: true, mimetype: audioMsg ? audioMsg.mimetype : 'audio/ogg' };\n    console.log('[Router] ✅ Detected VOICE (PTT) message');\n  } else {\n    // CRITICAL: If no actual media detected, it's a TEXT message\n    messageType = 'text';\n    console.log('[Router] ✅ Detected TEXT message, textContent:', textContent ? textContent.substring(0, 50) : 'EMPTY');\n  }\n  \n  // Fix localhost URLs\n  if (mediaUrl && mediaUrl.includes('localhost')) {\n    mediaUrl = mediaUrl.replace('localhost', '173.254.201.134');\n  }\n  \n  const messageId = actualMessageId || compositeId;\n  \n  staticData.lastMessageMetadata = {\n    userId: userId,\n    messageId: messageId,\n    sessionId: userId,\n    requiresVoiceResponse: messageType === 'voice',\n    source: 'waha',\n    store_name: 'fileSearchStores/rensto-knowledge-base-ndf9fmymwb2p'\n  };\n  \n  try { self.setWorkflowStaticData('global', staticData); } catch (e) {}\n  \n  // CRITICAL: Log message type and content for debugging\n  const captionStatus = textContent ? `WITH text/caption: \"${textContent.substring(0, 30)}...\"` : 'WITHOUT text/caption';\n  console.log('[Router] ✅ FINAL: messageType =', messageType, '|', captionStatus);\n  \n  results.push({\n    json: {\n      messageId: messageId,\n      messageType: messageType,\n      source: 'waha',\n      userId: userId,\n      timestamp: timestamp,\n      textContent: textContent || '', // CRITICAL: Empty string if no text (not null)\n      caption: textContent || '', // CRITICAL: Alias for caption (empty if no caption)\n      mediaUrl: mediaUrl,\n      mediaInfo: mediaInfo,\n      originalPayload: payload,\n      requiresVoiceResponse: messageType === 'voice',\n      sessionId: userId\n    }\n  });\n}\n\nconsole.log('[Router] ===== ROUTER COMPLETE =====');\nconsole.log('[Router] Output count:', results.length);\n\nreturn results;","notice":""},"id":"d5232e4d-0280-4125-b681-ba1e8281c1db","name":"Smart Message Router","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1664,-764]},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"// Process Media Context - FIXED: Handle ALL media types (image, video, document) consistently\nconst inputData = $json || {};\n\n// CRITICAL FIX: Check ALL merge nodes (not just Merge Image Analysis)\nlet routerData = {};\nlet mergeData = {};\n\n// PRIORITY 1: Try to get from ALL merge nodes (image, video, document)\ntry {\n  mergeData = $node['Merge Image Analysis'].json || {};\n  routerData = mergeData;\n  console.log('[Process Media] ✅ Found Merge Image Analysis');\n} catch (e) {\n  try {\n    mergeData = $node['Merge Video Analysis'].json || {};\n    routerData = mergeData;\n    console.log('[Process Media] ✅ Found Merge Video Analysis');\n  } catch (e2) {\n    try {\n      mergeData = $node['Merge Document Analysis'].json || {};\n      routerData = mergeData;\n      console.log('[Process Media] ✅ Found Merge Document Analysis');\n    } catch (e3) {\n      try {\n        routerData = $node['Message Type Router'].json || {};\n        console.log('[Process Media] ✅ Found Message Type Router');\n      } catch (e4) {\n        routerData = {};\n        console.log('[Process Media] ⚠️ No merge node found, using inputData only');\n      }\n    }\n  }\n}\n\nconst messageType = inputData.messageType || routerData.messageType || 'text';\n\n// CRITICAL FIX: Extract textContent/caption with priority order\n// PRIORITY 1: From routerData (Message Type Router - has caption from Smart Message Router)\nlet originalTextContent = String(routerData.textContent || routerData.caption || '').trim();\n\n// PRIORITY 2: From inputData (if routerData doesn't have it)\nif (!originalTextContent) {\n  originalTextContent = String(inputData.textContent || inputData.caption || '').trim();\n}\n\n// PRIORITY 3: From Smart Message Router directly (fallback)\nif (!originalTextContent) {\n  try {\n    const smartRouter = $node['Smart Message Router'];\n    if (smartRouter && smartRouter.json) {\n      originalTextContent = String(smartRouter.json.textContent || smartRouter.json.caption || '').trim();\n    }\n  } catch (e) {\n    // Node not accessible\n  }\n}\n\nconsole.log('[Process Media] Original textContent/caption:', originalTextContent ? originalTextContent.substring(0, 50) : 'EMPTY');\n\n// CRITICAL FIX: Extract analysis from ALL possible fields (consistent across all media types)\nconst geminiFields = ['guardrailsInput', 'output', 'text', 'response', 'analysis', 'extractedText', 'geminiAnalysis', 'imageAnalysis', 'videoAnalysis', 'documentAnalysis'];\nconst extractField = (data, fields) => {\n  for (const field of fields) {\n    if (data[field]) return String(data[field]).trim();\n  }\n  return '';\n};\n\nlet processedText = '';\nlet userQuestion = '';\nlet imageAnalysisText = '';\n\n// CRITICAL FIX: Check mergeData FIRST (has analysis), then inputData\nconst geminiOutput = extractField(mergeData, geminiFields) || extractField(inputData, geminiFields);\n\nif (messageType === 'text') {\n  // For text messages, use the text content directly\n  processedText = originalTextContent || inputData.body || inputData.text || inputData.processedText || '';\n  userQuestion = processedText;\n} else {\n  // For media messages, prioritize caption over analysis\n  // CRITICAL: If we have a caption, use it as the question\n  if (originalTextContent) {\n    userQuestion = originalTextContent;\n    processedText = originalTextContent;\n  } else {\n    // No caption, use analysis or default\n    userQuestion = geminiOutput || `Analyze this ${messageType}`;\n    processedText = geminiOutput || `I received your ${messageType}. How can I help you with it?`;\n  }\n  \n  // Store analysis separately (for AI prompt)\n  if (geminiOutput) {\n    imageAnalysisText = geminiOutput;\n  }\n}\n\nprocessedText = String(processedText || '').trim();\nuserQuestion = String(userQuestion || '').trim();\nimageAnalysisText = String(imageAnalysisText || '').trim();\n\n// CRITICAL FIX: If we have caption but no analysis, don't use default prompts\n// The caption IS the question - use it directly\nif (originalTextContent && !imageAnalysisText && messageType !== 'text') {\n  console.log('[Process Media] ✅ Using caption as question:', userQuestion.substring(0, 50));\n  // Caption is already set as userQuestion above\n}\n\n// CRITICAL FIX: Don't use default prompts if we have ANY text (caption or analysis)\nif (!processedText && messageType !== 'text') {\n  processedText = `I received your ${messageType} but need more context. Could you please describe what you need help with?`;\n  userQuestion = `I sent a ${messageType} but the system could not analyze it. Please ask me to describe what is in the ${messageType}.`;\n}\n\nconsole.log('[Process Media] Final User Question:', userQuestion ? userQuestion.substring(0, 50) : 'EMPTY');\nconsole.log('[Process Media] Image Analysis Length:', imageAnalysisText.length);\nconsole.log('[Process Media] Processed Text Length:', processedText.length);\n\nreturn {\n  json: {\n    userId: routerData.userId || inputData.userId,\n    messageId: routerData.messageId || inputData.messageId,\n    sessionId: routerData.sessionId || inputData.sessionId,\n    timestamp: routerData.timestamp || inputData.timestamp,\n    source: routerData.source || inputData.source || 'waha',\n    messageType: messageType,\n    mediaUrl: routerData.mediaUrl || inputData.mediaUrl,\n    mediaInfo: routerData.mediaInfo || inputData.mediaInfo,\n    originalPayload: routerData.originalPayload || inputData.originalPayload,\n    requiresVoiceResponse: routerData.requiresVoiceResponse || inputData.requiresVoiceResponse,\n    originalQuestion: userQuestion, // CRITICAL: Always set this (caption or analysis question)\n    originalCaption: originalTextContent, // CRITICAL: Preserve caption\n    geminiAnalysis: imageAnalysisText || null, // CRITICAL: Consistent field name for all media types\n    imageAnalysis: imageAnalysisText || null, // Alias for backward compatibility\n    videoAnalysis: imageAnalysisText || null, // Alias for video\n    documentAnalysis: imageAnalysisText || null, // Alias for document\n    processedText: processedText,\n    textContent: processedText,\n    text: processedText,\n    body: processedText,\n    question: userQuestion || processedText\n  }\n};","notice":""},"id":"1d15c5cf-8b8f-4677-8887-63b112641f52","name":"Process Media Context","type":"n8n-nodes-base.code","typeVersion":2,"position":[-320,-1052]},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"// ULTIMATE BULLETPROOF Prepare AI Input - FIXED: Set hasImageAnalysis flag in static data\nconsole.log('\\n=== PREPARE AI INPUT - ULTIMATE DEBUG ===');\n\n// Get ALL inputs\nconst allInputs = $input.all();\nconsole.log('Total inputs received:', allInputs.length);\n\nif (!allInputs || allInputs.length === 0) {\n  throw new Error('No input data received! Check upstream nodes.');\n}\n\n// Get static data FIRST (most reliable source)\nlet staticData = {};\ntry {\n  staticData = this.getWorkflowStaticData('global');\n  console.log('Static data keys:', Object.keys(staticData).join(', '));\n  if (staticData.lastMessageMetadata) {\n    console.log('Static metadata userId:', staticData.lastMessageMetadata.userId);\n  }\n} catch (error) {\n  console.log('Static data error:', error.message);\n  staticData = {};\n}\n\n// AGGRESSIVE userId EXTRACTION - Try EVERY possible source\nlet userId = '';\nlet extractionMethod = '';\n\n// PRIORITY 1: Static data (most reliable - set by Smart Message Router)\nif (staticData.lastMessageMetadata && staticData.lastMessageMetadata.userId) {\n  userId = String(staticData.lastMessageMetadata.userId);\n  extractionMethod = 'static data (lastMessageMetadata)';\n  console.log('✅ Found userId in static data:', userId);\n}\n\n// PRIORITY 2: Try upstream nodes using $node (if available)\nif (!userId) {\n  const upstreamNodeNames = ['Smart Message Router', 'Message Type Router', 'Process Media Context', 'Download Voice', 'Transcribe Voice'];\n  for (let i = 0; i < upstreamNodeNames.length; i++) {\n    const nodeName = upstreamNodeNames[i];\n    try {\n      const nodeData = $node[nodeName];\n      if (nodeData && nodeData.json) {\n        const nodeUserId = nodeData.json.userId || nodeData.json.from || nodeData.json.designer_phone || '';\n        if (nodeUserId) {\n          userId = String(nodeUserId);\n          extractionMethod = '$node[' + nodeName + ']';\n          console.log('✅ Found userId in upstream node', nodeName, ':', userId);\n          break;\n        }\n        \n        // Check nested payload\n        if (!userId && nodeData.json.payload) {\n          const payloadUserId = nodeData.json.payload.userId || nodeData.json.payload.from || '';\n          if (payloadUserId) {\n            userId = String(payloadUserId);\n            extractionMethod = '$node[' + nodeName + '].payload';\n            console.log('✅ Found userId in upstream node', nodeName, 'payload:', userId);\n            break;\n          }\n        }\n        \n        // Check originalPayload\n        if (!userId && nodeData.json.originalPayload) {\n          const opUserId = nodeData.json.originalPayload.userId || nodeData.json.originalPayload.from || '';\n          if (opUserId) {\n            userId = String(opUserId);\n            extractionMethod = '$node[' + nodeName + '].originalPayload';\n            console.log('✅ Found userId in upstream node', nodeName, 'originalPayload:', userId);\n            break;\n          }\n        }\n      }\n    } catch (error) {\n      // Node might not exist or not accessible - continue\n      console.log('Could not access node', nodeName, ':', error.message);\n    }\n  }\n}\n\n// PRIORITY 3: Check ALL input items\nif (!userId) {\n  for (let i = 0; i < allInputs.length; i++) {\n    const item = allInputs[i];\n    if (!item || !item.json) continue;\n    \n    const inputData = item.json;\n    console.log(`Input ${i} keys:`, Object.keys(inputData).join(', '));\n    \n    // Direct fields\n    const directFields = ['userId', 'from', 'designer_phone', 'chatId', 'sender', 'user'];\n    for (let j = 0; j < directFields.length; j++) {\n      const field = directFields[j];\n      if (inputData[field]) {\n        userId = String(inputData[field]);\n        extractionMethod = `input ${i} direct field: ${field}`;\n        console.log('✅ Found userId in input', i, 'field', field, ':', userId);\n        break;\n      }\n    }\n    \n    if (userId) break;\n    \n    // Nested in payload\n    if (inputData.payload) {\n      const payload = inputData.payload;\n      const payloadFields = ['userId', 'from', 'sender', 'chatId'];\n      for (let j = 0; j < payloadFields.length; j++) {\n        const field = payloadFields[j];\n        if (payload[field]) {\n          userId = String(payload[field]);\n          extractionMethod = `input ${i} payload.${field}`;\n          console.log('✅ Found userId in input', i, 'payload', field, ':', userId);\n          break;\n        }\n      }\n      \n      // Check payload._data.key.remoteJid\n      if (!userId && payload._data && payload._data.key) {\n        const remoteJid = payload._data.key.remoteJid;\n        if (remoteJid) {\n          userId = String(remoteJid);\n          extractionMethod = `input ${i} payload._data.key.remoteJid`;\n          console.log('✅ Found userId in input', i, 'payload._data.key.remoteJid:', userId);\n        }\n      }\n    }\n    \n    if (userId) break;\n    \n    // Nested in originalPayload\n    if (inputData.originalPayload) {\n      const op = inputData.originalPayload;\n      const opFields = ['userId', 'from', 'sender', 'chatId'];\n      for (let j = 0; j < opFields.length; j++) {\n        const field = opFields[j];\n        if (op[field]) {\n          userId = String(op[field]);\n          extractionMethod = `input ${i} originalPayload.${field}`;\n          console.log('✅ Found userId in input', i, 'originalPayload', field, ':', userId);\n          break;\n        }\n      }\n      \n      // Check originalPayload._data.key.remoteJid\n      if (!userId && op._data && op._data.key) {\n        const remoteJid = op._data.key.remoteJid;\n        if (remoteJid) {\n          userId = String(remoteJid);\n          extractionMethod = `input ${i} originalPayload._data.key.remoteJid`;\n          console.log('✅ Found userId in input', i, 'originalPayload._data.key.remoteJid:', userId);\n        }\n      }\n    }\n    \n    if (userId) break;\n    \n    // Check _data at root level\n    if (inputData._data && inputData._data.key) {\n      const remoteJid = inputData._data.key.remoteJid;\n      if (remoteJid) {\n        userId = String(remoteJid);\n        extractionMethod = `input ${i} _data.key.remoteJid`;\n        console.log('✅ Found userId in input', i, '_data.key.remoteJid:', userId);\n        break;\n      }\n    }\n  }\n}\n\n// Clean up userId (remove @s.whatsapp.net if present, replace with @c.us)\nif (userId) {\n  userId = String(userId).replace('@s.whatsapp.net', '@c.us');\n}\n\nconsole.log('Final userId:', userId || 'NONE');\nconsole.log('Extraction method:', extractionMethod || 'FAILED');\n\n// AGGRESSIVE QUESTION EXTRACTION - FIXED: Prioritize Process Media Context\nlet question = '';\nlet questionMethod = '';\nlet imageAnalysis = null;\n\n// FIRST: Try to get from Process Media Context node (upstream) - CRITICAL for images\nlet processMediaData = null;\ntry {\n  processMediaData = $node['Process Media Context'];\n  if (processMediaData && processMediaData.json) {\n    console.log('✅ Found Process Media Context node');\n    if (processMediaData.json.originalQuestion) {\n      question = String(processMediaData.json.originalQuestion).trim();\n      questionMethod = 'Process Media Context.originalQuestion';\n      imageAnalysis = processMediaData.json.geminiAnalysis || processMediaData.json.imageAnalysis || null;\n      console.log('✅ Found originalQuestion from Process Media Context:', question);\n    } else if (processMediaData.json.originalCaption) {\n      question = String(processMediaData.json.originalCaption).trim();\n      questionMethod = 'Process Media Context.originalCaption';\n      imageAnalysis = processMediaData.json.geminiAnalysis || processMediaData.json.imageAnalysis || null;\n      console.log('✅ Found originalCaption from Process Media Context:', question);\n    }\n  }\n} catch (error) {\n  console.log('Could not access Process Media Context node:', error.message);\n}\n\n// SECOND: Check input items for originalQuestion/originalCaption (if Process Media Context not available)\nif (!question) {\n  for (let i = 0; i < allInputs.length; i++) {\n    const item = allInputs[i];\n    if (!item || !item.json) continue;\n    \n    const inputData = item.json;\n    \n    // CRITICAL: Check for originalQuestion first (from Process Media Context)\n    if (inputData.originalQuestion) {\n      const value = String(inputData.originalQuestion).trim();\n      // Skip if it's clearly analysis text\n      if (!value.includes('Visual Content Description') && !value.includes('OCR') && \n          !value.includes('תיאור תוכן חזותי') && !value.includes('טקסט מזוהה') &&\n          !value.includes('Yes, I can see the test image you uploaded')) {\n        question = value;\n        questionMethod = `input ${i} originalQuestion`;\n        imageAnalysis = inputData.geminiAnalysis || inputData.imageAnalysis || null;\n        console.log('✅ Found originalQuestion:', question);\n        break;\n      }\n    }\n    \n    // Check for originalCaption\n    if (!question && inputData.originalCaption) {\n      const value = String(inputData.originalCaption).trim();\n      if (!value.includes('Visual Content Description') && !value.includes('OCR')) {\n        question = value;\n        questionMethod = `input ${i} originalCaption`;\n        imageAnalysis = inputData.geminiAnalysis || inputData.imageAnalysis || null;\n        console.log('✅ Found originalCaption:', question);\n        break;\n      }\n    }\n    \n    // Store imageAnalysis if available\n    if (!imageAnalysis && (inputData.geminiAnalysis || inputData.imageAnalysis)) {\n      imageAnalysis = inputData.geminiAnalysis || inputData.imageAnalysis;\n    }\n  }\n}\n\n// THIRD: If no originalQuestion found, check standard fields (but skip analysis text)\nif (!question) {\n  const textFields = [\n    'originalQuestion', 'originalCaption', 'question', 'text', 'processedText', \n    'textContent', 'body', 'message', 'content', 'transcript', 'transcription'\n  ];\n  \n  for (let i = 0; i < allInputs.length; i++) {\n    const item = allInputs[i];\n    if (!item || !item.json) continue;\n    \n    const inputData = item.json;\n    \n    // Check direct fields\n    for (let j = 0; j < textFields.length; j++) {\n      const field = textFields[j];\n      if (inputData[field]) {\n        const value = String(inputData[field]).trim();\n        // Skip if it's clearly image analysis text (contains analysis markers)\n        if (value.includes('Visual Content Description') || value.includes('תיאור תוכן חזותי') ||\n            value.includes('OCR') || value.includes('Extracted Text') || value.includes('טקסט מזוהה') ||\n            value.includes('Yes, I can see the test image you uploaded') ||\n            value.includes('Here\\'s the analysis:')) {\n          // This is analysis text, not the question - skip it\n          console.log('⚠️ Skipping analysis text from field', field);\n          continue;\n        }\n        question = value;\n        questionMethod = `input ${i} direct field: ${field}`;\n        console.log('✅ Found question in input', i, 'field', field);\n        break;\n      }\n    }\n    \n    if (question) break;\n    \n    // Try nested payload\n    if (inputData.payload && inputData.payload.body) {\n      const value = String(inputData.payload.body).trim();\n      if (!value.includes('Visual Content Description') && !value.includes('OCR') &&\n          !value.includes('Yes, I can see the test image')) {\n        question = value;\n        questionMethod = `input ${i} payload.body`;\n        console.log('✅ Found question in input', i, 'payload.body');\n        break;\n      }\n    }\n    \n    // Try originalPayload\n    if (inputData.originalPayload && inputData.originalPayload.body) {\n      const value = String(inputData.originalPayload.body).trim();\n      if (!value.includes('Visual Content Description') && !value.includes('OCR') &&\n          !value.includes('Yes, I can see the test image')) {\n        question = value;\n        questionMethod = `input ${i} originalPayload.body`;\n        console.log('✅ Found question in input', i, 'originalPayload.body');\n        break;\n      }\n    }\n  }\n}\n\nconsole.log('Final question:', question ? question.substring(0, 50) + '...' : 'NONE');\nconsole.log('Question method:', questionMethod || 'FAILED');\nconsole.log('Has image analysis:', !!imageAnalysis);\n\n// Get other fields with fallbacks\nconst messageId = staticData.lastMessageMetadata && staticData.lastMessageMetadata.messageId \n  ? staticData.lastMessageMetadata.messageId \n  : (allInputs[0] && allInputs[0].json ? (allInputs[0].json.messageId || allInputs[0].json.id || '') : '');\nconst sessionId = userId || 'default';\nconst requiresVoiceResponse = staticData.lastMessageMetadata && staticData.lastMessageMetadata.requiresVoiceResponse \n  ? staticData.lastMessageMetadata.requiresVoiceResponse \n  : (allInputs[0] && allInputs[0].json ? (allInputs[0].json.requiresVoiceResponse || allInputs[0].json.messageType === 'voice' || false) : false);\nconst source = staticData.lastMessageMetadata && staticData.lastMessageMetadata.source \n  ? staticData.lastMessageMetadata.source \n  : (allInputs[0] && allInputs[0].json ? (allInputs[0].json.source || 'waha') : 'waha');\nconst store_name = staticData.lastMessageMetadata && staticData.lastMessageMetadata.store_name \n  ? staticData.lastMessageMetadata.store_name \n  : (allInputs[0] && allInputs[0].json ? (allInputs[0].json.store_name || 'fileSearchStores/rensto-knowledge-base-ndf9fmymwb2p') : 'fileSearchStores/rensto-knowledge-base-ndf9fmymwb2p');\n\n// CRITICAL: Build promptText with imageAnalysis if available\nlet promptText = question;\nconst hasImageAnalysis = !!imageAnalysis;\n\nif (imageAnalysis) {\n  promptText = `Question: ${question}\\n\\nImage Analysis:\\n${imageAnalysis}\\n\\nPlease answer the question based on the image analysis above.`;\n  console.log('✅ Built promptText with imageAnalysis (length:', promptText.length, ')');\n  \n  // CRITICAL: Set flag in static data so Search Knowledge Base can check it\n  staticData.hasImageAnalysis = true;\n  staticData.imageAnalysisTimestamp = Date.now();\n  try {\n    this.setWorkflowStaticData('global', staticData);\n    console.log('✅ Set hasImageAnalysis flag in static data');\n  } catch (error) {\n    console.log('⚠️ Could not set static data flag:', error.message);\n  }\n} else {\n  console.log('✅ Built promptText without imageAnalysis');\n  // Clear flag if no image analysis\n  staticData.hasImageAnalysis = false;\n  try {\n    this.setWorkflowStaticData('global', staticData);\n  } catch (error) {\n    console.log('⚠️ Could not clear static data flag:', error.message);\n  }\n}\n\n// Final validation\nif (!question) {\n  console.log('\\n❌ NO QUESTION FOUND');\n  console.log('Total inputs:', allInputs.length);\n  for (let i = 0; i < allInputs.length; i++) {\n    console.log(`Input ${i} keys:`, Object.keys(allInputs[i].json || {}).join(', '));\n  }\n  throw new Error('Missing question/text. Check execution log for input data.');\n}\n\nif (!userId) {\n  console.log('\\n❌ NO USERID FOUND AFTER ALL ATTEMPTS');\n  console.log('Static data:', JSON.stringify(staticData, null, 2));\n  console.log('Total inputs:', allInputs.length);\n  for (let i = 0; i < allInputs.length; i++) {\n    console.log(`Input ${i} full data:`, JSON.stringify(allInputs[i].json || {}, null, 2).substring(0, 500));\n  }\n  \n  // LAST RESORT: Try to get from WAHA Trigger node\n  try {\n    const wahaNode = $node['WAHA Trigger'];\n    if (wahaNode && wahaNode.json && wahaNode.json.payload) {\n      const wahaPayload = wahaNode.json.payload;\n      const wahaUserId = wahaPayload.from || (wahaPayload._data && wahaPayload._data.key && wahaPayload._data.key.remoteJid) || '';\n      if (wahaUserId) {\n        userId = String(wahaUserId).replace('@s.whatsapp.net', '@c.us');\n        extractionMethod = 'WAHA Trigger node (last resort)';\n        console.log('✅ Found userId in WAHA Trigger node:', userId);\n      }\n    }\n  } catch (error) {\n    console.log('Could not access WAHA Trigger node:', error.message);\n  }\n  \n  // If still no userId, throw error with full context\n  if (!userId) {\n    throw new Error('Missing userId. Check execution log for input data.');\n  }\n}\n\nconsole.log('\\n✅ SUCCESS - All fields extracted:');\nconsole.log('  userId:', userId);\nconsole.log('  question:', question.substring(0, 50));\nconsole.log('  messageId:', messageId);\nconsole.log('  sessionId:', sessionId);\nconsole.log('  hasImageAnalysis:', hasImageAnalysis);\nconsole.log('  promptText length:', promptText.length);\nconsole.log('=== END PREPARE AI INPUT ===\\n');\n\nreturn [{\n  json: {\n    question: question,\n    promptText: promptText, // CRITICAL: Pre-built prompt with imageAnalysis\n    sessionId: sessionId,\n    messageId: messageId,\n    requiresVoiceResponse: requiresVoiceResponse,\n    userId: userId,\n    source: source,\n    store_name: store_name,\n    text: question,\n    transcript: question,\n    transcription: question,\n    imageAnalysis: imageAnalysis, // Keep for backward compatibility\n    hasImageAnalysis: hasImageAnalysis // Flag for Search Knowledge Base\n  }\n}];","notice":""},"id":"281d5e47-e0fd-4372-94ce-b462f324f2a2","name":"Prepare AI Input","type":"n8n-nodes-base.code","typeVersion":2,"position":[-96,-908]},{"parameters":{"aiAgentStarterCallout":"","promptType":"define","text":"={{ $json.promptText || $json.question || $json.message_text || $json.text || $json.transcript || $json.transcription || $json.guardrailsInput || '' }}","hasOutputParser":false,"needsFallback":false,"options":{"systemMessage":"You are Rensto Support Agent, an expert in business automation. You help users with:\n- Automation workflows and processes\n- Business process optimization\n- Technical support for Rensto services\n- Answering questions about products and services\n\n**IMPORTANT RULES:**\n- Always provide helpful, specific answers based on the user's question\n- Use the knowledge base to find accurate information\n- If you don't know something, say so honestly and offer to help find the answer\n- Never give generic responses like 'testing the system' - always address the actual question\n- Be conversational and friendly, but professional\n- If the user sent media (image/video/document), acknowledge it and provide relevant analysis"}},"id":"db35c441-a323-468c-b0ce-695bbb280330","name":"Rensto AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[1208,-760]},{"parameters":{"notice":"","sessionIdType":"customKey","sessionKey":"={{ $json.sessionId || $json.userId || 'default' }}","contextWindowLength":5},"id":"27611000-91df-4e0d-8290-f141bbfc5b55","name":"Conversation Memory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[1280,-536]},{"parameters":{"notice":"","noticeTemplateExample":"","description":"Search the Rensto knowledge base for information about products, services, pricing, installation, warranties, and company policies. **🚨 CRITICAL: DO NOT CALL THIS TOOL if your prompt contains \"Image Analysis:\" section. If you see \"Image Analysis:\" in your prompt, that means an image was already analyzed - answer directly using that analysis, do NOT search knowledge base. If the query is about \"can you see this\" or \"test image\", DO NOT CALL THIS TOOL - the image was already analyzed.**","language":"javaScript","jsCode":"// Fetch answers from Google AI Studio file search (Gemini)\n// CRITICAL: Check query FIRST for image test patterns (before static data)\nlet query = $input.params?.query || $json?.question || $json?.message_text || '';\nquery = String(query || '').trim();\n\n// PRIORITY 1: Check if query is about image visibility/test (common image test questions)\n// This check happens FIRST because it's the most reliable indicator\nconst imageTestPatterns = [\n  'can you see this',\n  'can you see this test image',\n  'do you see this image',\n  'can you see the image',\n  'test image'\n];\n\nconst lowerQuery = query.toLowerCase();\nif (imageTestPatterns.some(pattern => lowerQuery.includes(pattern))) {\n  console.log('[Search KB] ⚠️ BLOCKED - query is about image visibility/test');\n  // Return explicit answer that tells agent to use Image Analysis\n  const answer = '✅ YES, I can see the test image! The image has already been analyzed and the analysis is provided in your prompt under \"Image Analysis:\" section. Look at your prompt - you will see \"Question:\" followed by \"Image Analysis:\" - use that analysis to answer. The Image Analysis section contains the answer: \"Yes, I can see this test image.\" Use that answer directly.';\n  console.log('[Search KB] Returning image test answer:', answer.substring(0, 100));\n  return answer;\n}\n\n// PRIORITY 2: Check static data flag (set by Prepare AI Input)\nlet staticData;\ntry {\n  staticData = this.getWorkflowStaticData('global');\n  console.log('[Search KB] Static data keys:', Object.keys(staticData).join(', '));\n  console.log('[Search KB] hasImageAnalysis flag:', staticData.hasImageAnalysis);\n} catch (error) {\n  console.log('[Search KB] Static data error:', error.message);\n  staticData = {};\n}\n\nif (staticData.hasImageAnalysis === true) {\n  console.log('[Search KB] ⚠️ BLOCKED - hasImageAnalysis flag is true in static data');\n  // Return explicit answer that tells agent to use Image Analysis\n  const answer = '✅ The image has already been analyzed and the analysis is provided in your prompt under \"Image Analysis:\" section. Look at your prompt - you will see \"Question:\" followed by \"Image Analysis:\" - use that analysis to answer the question directly. Do NOT search knowledge base.';\n  console.log('[Search KB] Returning STOP message:', answer.substring(0, 100));\n  return answer;\n}\n\n// PRIORITY 3: Check if imageAnalysis field exists in input\nconst inputData = $input.params || $json || {};\nif (inputData.imageAnalysis || $json?.imageAnalysis) {\n  console.log('[Search KB] ⚠️ Skipping - imageAnalysis present, image already analyzed');\n  return '✅ The image has already been analyzed. Use the Image Analysis provided in your prompt to answer directly. Do NOT search knowledge base.';\n}\n\nif (!query) {\n  return 'I could not find any details about that yet.';\n}\n\nconst defaultStore = 'fileSearchStores/rensto-knowledge-base-ndf9fmymwb2p';\nconst normalizeStore = (store) => {\n  if (!store) return defaultStore;\n  const cleaned = store.replace(/^fileSearchStores\\//, '');\n  return `fileSearchStores/${cleaned}`;\n};\n\n// Get store_name from workflow static data, metadata, or use default\nconst storeName = normalizeStore(\n  staticData.googleStoreName ||\n  $json?.store_name ||\n  defaultStore\n);\n\nconst translations = {\n  'איך קוראים לכם': 'What is the company name?',\n  'מה השם שלכם': 'What is the company name?',\n  'מי אתם': 'What is Rensto?',\n  'מה אתם עושים': 'What does Rensto do?'\n};\n\nfor (const [hebrew, english] of Object.entries(translations)) {\n  if (query.includes(hebrew)) {\n    query = english;\n    break;\n  }\n}\n\nconst apiKey = 'AIzaSyB1nQdOOSeYdGv_R53dcyYDsIwenRU5ziE';\nconst url = `https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent?key=${apiKey}`;\n\nconst body = {\n  contents: [{ parts: [{ text: query }]}],\n  tools: [\n    {\n      file_search: {\n        file_search_store_names: [storeName]\n      }\n    }\n  ],\n  generationConfig: {\n    temperature: 0.4,\n    topK: 32,\n    topP: 0.95,\n    maxOutputTokens: 512\n  }\n};\n\nconsole.log('[Search KB] Querying Google project:', storeName);\nconsole.log('[Search KB] Query:', query);\n\nconst maxRetries = 3;\nlet lastError;\n\nfor (let attempt = 1; attempt <= maxRetries; attempt++) {\n  try {\n    const response = await this.helpers.httpRequest({\n      method: 'POST',\n      url,\n      headers: {\n        'Content-Type': 'application/json'\n      },\n      body: JSON.stringify(body),\n      json: false,\n      timeout: 60000\n    });\n\n    const data = typeof response === 'string' ? JSON.parse(response) : response;\n    const parts = data?.candidates?.[0]?.content?.parts || [];\n    const answer = parts.map(part => part.text || '').join('\\n\\n').trim();\n\n    if (answer) {\n      console.log('[Search KB] ✅ Found answer from Google project');\n      return answer;\n    }\n\n    lastError = new Error('Knowledge base returned no content');\n  } catch (error) {\n    lastError = error;\n    const status = error.statusCode || 0;\n    const retriable = status >= 500 || status === 429 || error.code === 'ETIMEDOUT' || error.code === 'ECONNRESET';\n    if (attempt < maxRetries && retriable) {\n      await new Promise(resolve => setTimeout(resolve, attempt * 1000));\n      continue;\n    }\n    break;\n  }\n}\n\nconsole.log('[Search KB] ❌ No answer from Google project');\nreturn lastError\n  ? `I could not find that info yet (Google KB error: ${lastError.message}).`\n  : 'I could not find information about that topic.';","specifyInputSchema":false},"id":"b03c30dc-d6df-4fbe-afcb-ba54756667de","name":"Search Knowledge Base","type":"@n8n/n8n-nodes-langchain.toolCode","typeVersion":1.3,"position":[1408,-536]},{"parameters":{"notice":"","model":{"__rl":true,"value":"gpt-4o-mini","mode":"list"},"responsesApiEnabled":true,"builtInTools":{},"options":{"maxTokens":500,"temperature":0.7}},"id":"e8303bed-90d3-449a-ba28-3c082288ac4b","name":"OpenAI Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[1152,-536],"credentials":{"openAiApi":{"id":"0sXFXYfqiDEKuDcN","name":"service@rensto.com"}}},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"// Extract and clean AI response - Get userId and requiresVoice from static data (PRIMARY)\n// CRITICAL: Rensto AI Agent only outputs { output: '...' }, so get metadata from static data\n\nconst currentInput = $json || {};\n\n// PRIMARY: Get metadata from global static data (stored by Smart Message Router)\nlet userId = '';\nlet messageId = '';\nlet requiresVoice = false;\nlet source = 'waha';\n\nlet staticData = {};\ntry {\n  staticData = this.getWorkflowStaticData('global');\n  console.log('[Process AI Response] Static data keys:', Object.keys(staticData).join(', '));\n  \n  if (staticData.lastMessageMetadata) {\n    userId = staticData.lastMessageMetadata.userId || '';\n    messageId = staticData.lastMessageMetadata.messageId || '';\n    // CRITICAL: Explicitly check if requiresVoiceResponse is true (for voice) or false/undefined (for text)\n    requiresVoice = Boolean(staticData.lastMessageMetadata.requiresVoiceResponse === true);\n    source = staticData.lastMessageMetadata.source || 'waha';\n    console.log('[Process AI Response] ✅ Got metadata from static data:');\n    console.log('  userId:', userId);\n    console.log('  messageId:', messageId);\n    console.log('  requiresVoiceResponse (raw):', staticData.lastMessageMetadata.requiresVoiceResponse);\n    console.log('  requiresVoice (boolean):', requiresVoice, '(type:', typeof requiresVoice, ')');\n    console.log('  source:', source);\n  } else {\n    console.log('[Process AI Response] ⚠️ Static data exists but no lastMessageMetadata');\n    console.log('[Process AI Response] Static data:', JSON.stringify(staticData, null, 2));\n  }\n} catch (error) {\n  console.log('[Process AI Response] Static data error:', error.message);\n}\n\n// FALLBACK: Try to get from $node (if available)\nif (!userId) {\n  try {\n    const mergeNode = $node[\"Merge Transcription Metadata\"];\n    if (mergeNode && mergeNode.json) {\n      const mergeData = mergeNode.json;\n      if (mergeData.designer_phone || mergeData.userId) {\n        userId = mergeData.designer_phone || mergeData.userId;\n        messageId = mergeData.original_message_id || mergeData.messageId || '';\n        requiresVoice = Boolean(mergeData.message_type === 'ptt' || mergeData.requiresVoiceResponse === true);\n        source = mergeData.source || 'waha';\n        console.log('[Process AI Response] ✅ Got metadata from $node, userId:', userId, 'requiresVoice:', requiresVoice);\n      }\n    }\n  } catch (error) {\n    console.log('[Process AI Response] $node access error:', error.message);\n  }\n}\n\n// Extract AI response text\nconst output = currentInput.output || currentInput.response || '';\n\nlet responseText = '';\nif (typeof output === 'string') {\n  try {\n    const parsed = JSON.parse(output);\n    responseText = parsed.answer || parsed.text || parsed.output || output;\n  } catch (e) {\n    responseText = output;\n  }\n} else if (typeof output === 'object') {\n  responseText = output.answer || output.text || output.output || String(output);\n} else {\n  responseText = String(output || 'I apologize, but I encountered an issue. Please try again.');\n}\n\n// CRITICAL: Remove leading/trailing JSON array brackets and other artifacts\n// This handles cases where AI Agent returns JSON arrays like \"] text\" or \"[text]\"\nresponseText = String(responseText).trim();\n\n// Remove leading \"]\" or \"[\" characters\nif (responseText.charAt(0) === ']' || responseText.charAt(0) === '[') {\n  responseText = responseText.substring(1).trim();\n}\n\n// Remove trailing \"]\" or \"[\" characters\nif (responseText.charAt(responseText.length - 1) === ']' || responseText.charAt(responseText.length - 1) === '[') {\n  responseText = responseText.substring(0, responseText.length - 1).trim();\n}\n\n// Clean response - AGGRESSIVE branding removal\nresponseText = responseText\n  .replace(/\\[Used tools:.*?\\]/g, '')\n  .replace(/\\[Tool:.*?\\]/g, '')\n  .replace(/\\*\\*(.*?)\\*\\*/g, '*$1*')\n  .replace(/__(.*?)__/g, '_$1_')\n  .replace(/Powered by Rensto\\.com/gi, '')\n  .replace(/_Powered by Rensto\\.com_/gi, '')\n  .replace(/\\n\\n_Powered by Rensto\\.com_/g, '')\n  .replace(/\\nPowered by Rensto\\.com/gi, '')\n  .replace(/Powered by Rensto/gi, '')\n  .replace(/rensto\\.com/gi, '')\n  .trim();\n\nif (!responseText) {\n  responseText = 'I apologize, but I need more information to help you. Could you please provide more details?';\n}\n\n// CRITICAL: DO NOT ADD BRANDING - Removed the line that was adding it\n\n// Final check - if still no userId, use default and log warning\nif (!userId) {\n  console.log('[Process AI Response] ⚠️⚠️⚠️ CRITICAL: userId missing after all fallbacks!');\n  userId = 'unknown';\n}\n\n// CRITICAL: Ensure requiresVoice is explicitly boolean false for text messages\n// If requiresVoiceResponse was not true, it must be false\nif (requiresVoice !== true) {\n  requiresVoice = false;\n}\n\nconsole.log('[Process AI Response] ===== FINAL OUTPUT =====');\nconsole.log('  userId:', userId);\nconsole.log('  messageId:', messageId);\nconsole.log('  requiresVoice:', requiresVoice, '(type:', typeof requiresVoice, ')');\nconsole.log('  source:', source);\nconsole.log('  responseText length:', responseText.length);\nconsole.log('  responseText preview:', responseText.substring(0, 100));\nconsole.log('==========================================');\n\nreturn [{\n  json: {\n    responseText: responseText,\n    userId: userId,\n    messageId: messageId,\n    requiresVoice: requiresVoice, // CRITICAL: Must be boolean false for text messages\n    source: source,\n    timestamp: new Date().toISOString()\n  }\n}];","notice":""},"id":"0bd9c716-8312-49b4-9d11-8574c438e2ad","name":"Process AI Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[1616,-908]},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"// Send Voice Message - Get userId from Process AI Response or static data\nconst wahaUrl = 'http://173.254.201.134:3000';\nconst apiKey = '4fc7e008d7d24fc995475029effc8fa8';\nconst sessionId = 'rensto-support';\n\n// Get from Process AI Response (primary source)\nconst aiResponse = $items('Process AI Response', 0, 0)?.json || $json || {};\n\n// Get from global static data (fallback)\nlet staticData;\ntry {\n  staticData = this.getWorkflowStaticData('global');\n} catch (error) {\n  staticData = {};\n}\n\nconst chatId = aiResponse.userId || (staticData?.lastMessageMetadata?.userId) || '';\nconst replyTo = aiResponse.messageId || (staticData?.lastMessageMetadata?.messageId) || '';\n\n// Get binary audio from ElevenLabs TTS node\nlet base64Audio = $binary?.data?.data;\nif (!base64Audio) {\n  const ttsItem = $items('Convert text to speech', 0, 0);\n  if (ttsItem?.binary?.data?.data) {\n    base64Audio = ttsItem.binary.data.data;\n  }\n}\n\nif (!chatId) {\n  throw new Error(`Missing userId. AI Response: ${JSON.stringify(aiResponse)}, StaticData: ${JSON.stringify(staticData?.lastMessageMetadata || {})}`);\n}\n\nif (!base64Audio) {\n  throw new Error('Voice audio payload not found from Convert text to speech node');\n}\n\ntry {\n  const response = await this.helpers.httpRequest({\n    method: 'POST',\n    url: `${wahaUrl}/api/sendVoice`,\n    headers: {\n      'x-api-key': apiKey,\n      'Content-Type': 'application/json'\n    },\n    body: {\n      session: sessionId,\n      chatId,\n      file: {\n        mimetype: 'audio/opus',\n        filename: 'response.opus',\n        data: base64Audio,\n      },\n      reply_to: replyTo,\n    },\n    timeout: 60000,\n    json: true,\n  });\n  \n  return [{ json: { success: true, messageType: 'voice', sentAt: new Date().toISOString(), response } }];\n} catch (error) {\n  console.error('[Send Voice] Error:', error.message);\n  return [{ json: { success: false, error: error.message, messageType: 'voice', sentAt: new Date().toISOString() } }];\n}","notice":""},"id":"e4a63886-2ef7-402f-9b37-c98802f8144f","name":"Send Voice Message","type":"n8n-nodes-base.code","typeVersion":2,"position":[2736,-908]},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"// Send text message via WAHA - Enhanced error handling and logging\nconst wahaUrl = 'http://173.254.201.134:3000';\nconst apiKey = '4fc7e008d7d24fc995475029effc8fa8';\nconst sessionId = 'rensto-support';\n\nconst chatId = $json.userId;\nconst text = $json.responseText;\nconst replyTo = $json.messageId;\n\nconsole.log('[Send Text] ===== STARTING TEXT MESSAGE SEND =====');\nconsole.log('[Send Text] chatId:', chatId);\nconsole.log('[Send Text] text length:', text ? text.length : 0);\nconsole.log('[Send Text] replyTo:', replyTo);\nconsole.log('[Send Text] Full input:', JSON.stringify($json, null, 2));\n\nif (!chatId || !text) {\n  const errorMsg = 'Missing required data for text message. chatId: ' + (chatId || 'MISSING') + ', text: ' + (text ? 'EXISTS' : 'MISSING');\n  console.error('[Send Text] ❌', errorMsg);\n  // CRITICAL: Don't throw - return error so workflow can continue and we can see the issue\n  return [{\n    json: {\n      success: false,\n      error: errorMsg,\n      messageType: 'text',\n      sentAt: new Date().toISOString()\n    }\n  }];\n}\n\n// Build request body - only include reply_to if it exists\nconst requestBody = {\n  session: sessionId,\n  chatId: chatId,\n  text: text\n};\n\nif (replyTo) {\n  requestBody.reply_to = replyTo;\n}\n\nconsole.log('[Send Text] Request body:', JSON.stringify(requestBody, null, 2));\nconsole.log('[Send Text] Calling WAHA API:', wahaUrl + '/api/sendText');\n\ntry {\n  const response = await this.helpers.httpRequest({\n    method: 'POST',\n    url: wahaUrl + '/api/sendText',\n    headers: {\n      'x-api-key': apiKey,\n      'Content-Type': 'application/json'\n    },\n    body: requestBody,\n    timeout: 30000,\n    json: true\n  });\n  \n  console.log('[Send Text] ✅ SUCCESS - Response:', JSON.stringify(response, null, 2));\n  \n  return [{\n    json: {\n      success: true,\n      messageType: 'text',\n      sentAt: new Date().toISOString(),\n      response: response\n    }\n  }];\n} catch (error) {\n  console.error('[Send Text] ❌ ERROR DETAILS:');\n  console.error('  Error message:', error.message);\n  console.error('  Status code:', error.statusCode);\n  console.error('  Response:', error.response ? JSON.stringify(error.response.data || error.response, null, 2) : 'No response');\n  console.error('  Request URL:', wahaUrl + '/api/sendText');\n  console.error('  Request body:', JSON.stringify(requestBody, null, 2));\n  \n  // CRITICAL: Don't throw - return error info so workflow can continue\n  return [{\n    json: {\n      success: false,\n      error: error.message,\n      statusCode: error.statusCode,\n      messageType: 'text',\n      sentAt: new Date().toISOString(),\n      errorDetails: error.response ? error.response.data : null\n    }\n  }];\n}","notice":""},"id":"78bd4a8d-88b5-43c4-bbe9-23b6dba0835b","name":"Send Text Message","type":"n8n-nodes-base.code","typeVersion":2,"position":[2736,-716]},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"// Log conversation for analytics\nconst messageData = $input.all().map(item => item.json);\n\nconst logEntry = {\n  timestamp: new Date().toISOString(),\n  conversations: messageData.map(msg => ({\n    userId: msg.userId || 'unknown',\n    messageType: msg.messageType || 'text',\n    responseTime: msg.timestamp || new Date().toISOString(),\n    success: msg.success || false\n  }))\n};\n\nconsole.log('[Analytics] Logged:', logEntry);\n\nreturn [{ json: logEntry }];","notice":""},"id":"78c6282f-f253-477d-98b3-ce2ecd42441c","name":"Log Analytics","type":"n8n-nodes-base.code","typeVersion":2,"position":[2960,-812]},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"// Normalize HTTP webhook input to match WAHA format\nconst httpInput = $input.item.json;\n\nconst question = httpInput.body?.question || \n                 httpInput.body?.text || \n                 httpInput.body?.message || \n                 httpInput.question || \n                 httpInput.text || \n                 httpInput.message || '';\n\nconst sessionId = httpInput.body?.sessionId || \n                  httpInput.body?.session_id || \n                  httpInput.body?.from || \n                  httpInput.sessionId || \n                  httpInput.session_id || \n                  'webhook-user';\n\nreturn {\n  json: {\n    event: 'message',\n    payload: {\n      from: sessionId,\n      body: question,\n      conversation: question,\n      id: `webhook-${Date.now()}-${Math.random().toString(36).substr(2, 9)}`,\n      hasMedia: false,\n      timestamp: Date.now(),\n      _data: { message: {} }\n    },\n    source: 'http-webhook'\n  }\n};","notice":""},"id":"a7acb85c-3e08-4115-929d-ff3746ba3d92","name":"Normalize HTTP Input","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1888,-1052]},{"parameters":{"multipleMethods":false,"httpMethod":"POST","path":"rensto-support-api","authentication":"none","responseMode":"onReceived","contentTypeNotice":"","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-2112,-1052],"id":"e18ca186-9c52-4e8a-97b6-9503a55cd2e8","name":"Webhook","webhookId":"70828a52-f4f8-46c4-a69d-dea1be0bc8bc"},{"parameters":{"mode":"rules","rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"leftValue":"={{ $json.messageType }}","rightValue":"voice","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"voice"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"leftValue":"={{ $json.messageType }}","rightValue":"image","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"image"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"leftValue":"={{ $json.messageType }}","rightValue":"document","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"document"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"leftValue":"={{ $json.messageType }}","rightValue":"video","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"video"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"leftValue":"={{ $json.messageType }}","rightValue":"text","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"text"}]},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[-1440,-812],"id":"247edf5f-958b-4a49-9cf5-78e4499f6386","name":"Message Type Router"},{"parameters":{"preBuiltAgentsCalloutHttpRequest":"","curlImport":"","method":"GET","url":"={{ $json.mediaUrl }}","authentication":"none","provideSslCertificates":false,"sendQuery":false,"sendHeaders":true,"specifyHeaders":"keypair","headerParameters":{"parameters":[{"name":"x-api-key","value":"4fc7e008d7d24fc995475029effc8fa8"}]},"sendBody":false,"options":{"response":{"response":{"fullResponse":false,"neverError":false,"responseFormat":"file","outputPropertyName":"data"}},"timeout":15000},"infoMessage":""},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-768,-764],"id":"da1ea947-cc3e-408f-8dde-6e250f4b5f22","name":"Download Voice","onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"48e5d108-a6e6-4517-b0a6-33f95d454054","leftValue":"={{ $json.source }}","rightValue":"http-webhook","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"looseTypeValidation":false,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2064,-908],"id":"9bf5d527-3d1b-45d6-862a-d97357d97d77","name":"Check Response Source"},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"48e5d108-a6e6-4517-b0a6-33f95d454054","leftValue":"={{ $json.requiresVoice }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"looseTypeValidation":false,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2288,-812],"id":"7fa56e8e-a010-45e7-885c-d2d1008f3f06","name":"Voice Response Check"},{"parameters":{"enableResponseOutput":false,"generalNotice":"","respondWith":"json","webhookNotice":"","responseBody":"={{ JSON.stringify({ success: true, response: $json.responseText, messageId: $json.messageId, timestamp: $json.timestamp }) }}","options":{"responseCode":200,"responseHeaders":{"entries":[{"name":"Content-Type","value":"application/json"}]}}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[2288,-1004],"id":"e9e1bede-5030-4cdd-93ab-39b43629669f","name":"Respond to Webhook"},{"parameters":{"resource":"speech","operation":"textToSpeech","voice":{"__rl":true,"value":"fkQDt886xMbusUJ9weAC","mode":"id"},"text":"={{ $json.responseText }}","additionalOptions":{"model":{"__rl":true,"value":"eleven_v3","mode":"list","cachedResultName":"Eleven v3 (alpha)"},"outputFormat":"opus_48000_192"},"requestOptions":{}},"type":"@elevenlabs/n8n-nodes-elevenlabs.elevenLabs","typeVersion":1,"position":[2512,-908],"id":"5469fc85-18c3-4415-bbd5-bd1baca414b7","name":"Convert text to speech","credentials":{"elevenLabsApi":{"id":"yEEqLVMzOlo1L0xI","name":"ElevenLabs account"}}},{"parameters":{"mode":"manual","duplicateItem":false,"assignments":{"assignments":[{"id":"store_name","name":"store_name","value":"={{ $json.store_name ? ($json.store_name.startsWith('fileSearchStores/') ? $json.store_name : 'fileSearchStores/' + $json.store_name.replace('fileSearchStores/', '')) : 'fileSearchStores/rensto-knowledge-base-ndf9fmymwb2p' }}","type":"string"},{"id":"question","name":"question","value":"={{ $json.question || $json.output || $json.message_text || $json.text || $json.transcript || $json.transcription || ($json.payload && ($json.payload.body || $json.payload.conversation || $json.payload.caption)) || '' }}","type":"string"},{"id":"message_type","name":"message_type","value":"={{ $json.message_type || ($json.payload && $json.payload.message_type) || 'text' }}","type":"string"},{"id":"message_text","name":"message_text","value":"={{ $json.question || $json.output || $json.message_text || $json.text || ($json.payload && ($json.payload.body || $json.payload.conversation || $json.payload.caption)) || '' }}","type":"string"},{"id":"voice_url","name":"voice_url","value":"={{ ($json.message_type === 'ptt' && $json.payload && $json.payload.media && $json.payload.media.url) ? $json.payload.media.url.replace('localhost:3000', '173.254.201.134:3000') : '' }}","type":"string"},{"id":"media_url","name":"media_url","value":"={{ ($json.message_type !== 'text' && $json.payload && $json.payload.hasMedia === true && $json.payload.media && $json.payload.media.url) ? $json.payload.media.url.replace('localhost:3000', '173.254.201.134:3000') : '' }}","type":"string"},{"id":"media_type","name":"media_type","value":"={{ $json.payload && $json.payload.hasMedia === true && $json.payload.media && $json.payload.media.mimetype ? $json.payload.media.mimetype : '' }}","type":"string"},{"id":"caption","name":"caption","value":"={{ $json.caption || ($json.payload && ($json.payload.caption || $json.payload.body || '')) || '' }}","type":"string"},{"id":"designer_phone","name":"designer_phone","value":"={{ $json.userId || $json.designer_phone || ($json.payload && $json.payload.from) || '' }}","type":"string"},{"id":"original_message_id","name":"original_message_id","value":"={{ $json.messageId || $json.original_message_id || ($json.payload && $json.payload.id) || '' }}","type":"string"}]},"includeOtherFields":false,"options":{}},"id":"44805e33-92a4-470b-a377-1cfe7892559c","name":"Set Store Name and Extract Text1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[128,-908]},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"// Merge Transcription Metadata - Store userId in static data (CRITICAL for Process AI Response)\nlet staticData;\ntry {\n  staticData = this.getWorkflowStaticData('global');\n} catch (error) {\n  staticData = {};\n}\n\nconst data = { ...(typeof $json === 'object' ? $json : {}) };\n\n// Normalize store name\nconst normalizeStore = (store) => {\n  if (!store) return 'fileSearchStores/rensto-knowledge-base-ndf9fmymwb2p';\n  const cleaned = store.replace(/^fileSearchStores\\//, '');\n  return `fileSearchStores/${cleaned}`;\n};\n\nconst normalizedStore = normalizeStore(data.store_name);\n\n// Store in workflow static data so Search Knowledge Base tool can access it\nstaticData.googleStoreName = normalizedStore;\n\n// CRITICAL: Store userId in static data (AI Agent will lose it)\nif (data.designer_phone || data.userId) {\n  const userId = data.designer_phone || data.userId;\n  const messageId = data.original_message_id || data.messageId || '';\n  const requiresVoice = data.message_type === 'ptt' || data.requiresVoiceResponse || false;\n  const source = data.source || 'waha';\n  \n  // Store in static data for Process AI Response to access\n  if (!staticData.lastMessageMetadata) {\n    staticData.lastMessageMetadata = {};\n  }\n  staticData.lastMessageMetadata.userId = userId;\n  staticData.lastMessageMetadata.messageId = messageId;\n  staticData.lastMessageMetadata.requiresVoiceResponse = requiresVoice;\n  staticData.lastMessageMetadata.source = source;\n  staticData.lastMessageMetadata.sessionId = data.sessionId || userId;\n  \n  console.log('[Merge Transcription] ✅ Stored userId in static data:', userId);\n  console.log('[Merge Transcription] Static data keys:', Object.keys(staticData).join(', '));\n} else {\n  console.log('[Merge Transcription] ⚠️ No userId found in data:', Object.keys(data).join(', '));\n}\n\n// CRITICAL: Extract question from ALL possible sources\nconst question = (\n  data.question ||\n  data.text ||\n  data.transcript ||\n  data.transcription ||\n  data.output ||\n  data.message_text ||\n  data.processedText ||\n  data.textContent ||\n  ''\n).trim();\n\nif (!question) {\n  throw new Error('Missing question/text in Merge Transcription Metadata');\n}\n\nreturn {\n  json: {\n    ...data,\n    store_name: normalizedStore,\n    message_text: question,\n    question: question, // CRITICAL: Ensure question is set\n    message_type: data.message_type || (data.requiresVoiceResponse ? 'ptt' : 'text'),\n    userId: data.designer_phone || data.userId || '',\n    messageId: data.original_message_id || data.messageId || ''\n  }\n};","notice":""},"id":"14b03ea7-e581-4a7a-8615-1b8eab620c55","name":"Merge Transcription Metadata","type":"n8n-nodes-base.code","typeVersion":2,"position":[352,-908]},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"// Debug Voice Routing - Log routing decision and ensure boolean\nconst input = $json || {};\n\nconsole.log('\\n[Debug Voice Routing] ===== ROUTING DECISION =====');\nconsole.log('  requiresVoice (raw):', input.requiresVoice, '(type:', typeof input.requiresVoice, ')');\nconsole.log('  userId:', input.userId);\nconsole.log('  messageId:', input.messageId);\nconsole.log('  responseText length:', input.responseText ? input.responseText.length : 0);\nconsole.log('  responseText preview:', input.responseText ? input.responseText.substring(0, 100) : 'NONE');\nconsole.log('  source:', input.source);\nconsole.log('  Full input keys:', Object.keys(input).join(', '));\n\n// CRITICAL: Ensure requiresVoice is explicitly boolean\n// Convert any truthy/falsy value to explicit boolean\nlet requiresVoice = false;\nif (input.requiresVoice === true || input.requiresVoice === 'true' || input.requiresVoice === 1) {\n  requiresVoice = true;\n} else {\n  requiresVoice = false; // Explicitly set to false for text messages\n}\n\nconsole.log('  Final requiresVoice (boolean):', requiresVoice, '(type:', typeof requiresVoice, ')');\nconsole.log('  Will route to:', requiresVoice ? 'VOICE (Convert text to speech)' : 'TEXT (Send Text Message)');\nconsole.log('==========================================\\n');\n\n// CRITICAL: Return all input fields plus explicit boolean requiresVoice\nreturn [{\n  json: {\n    responseText: input.responseText || '',\n    userId: input.userId || '',\n    messageId: input.messageId || '',\n    requiresVoice: requiresVoice, // CRITICAL: Explicit boolean (false for text, true for voice)\n    source: input.source || 'waha',\n    timestamp: input.timestamp || new Date().toISOString()\n  }\n}];","notice":""},"id":"4a7ce5f1-8542-496a-8d99-da92bb5475c8","name":"Debug Voice Routing","type":"n8n-nodes-base.code","typeVersion":1,"position":[1840,-908]},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"// Merge Gemini analysis with metadata from Message Type Router\n// CRITICAL: Preserve ALL metadata for Process Media Context (after Guardrails)\nconst geminiOutput = $json.output || $json.text || $json.response || '';\nconst routerData = $node['Message Type Router'].json || {};\n\nreturn {\n  json: {\n    // Preserve ALL metadata from Message Type Router\n    userId: routerData.userId,\n    messageId: routerData.messageId,\n    messageType: 'image',\n    textContent: routerData.textContent || '',\n    caption: routerData.textContent || '',\n    mediaUrl: routerData.mediaUrl,\n    source: routerData.source,\n    timestamp: routerData.timestamp,\n    \n    // Gemini analysis output (will be sanitized by Guardrails)\n    output: geminiOutput,\n    analysis: geminiOutput,\n    text: geminiOutput,\n    \n    // For Process Media Context to extract original question\n    processedText: routerData.textContent || geminiOutput || 'What can you help me with this image?'\n  }\n};","notice":""},"id":"9b88be15-a06d-4a67-916b-f86cdd02f3d5","name":"Merge Image Analysis","type":"n8n-nodes-base.code","typeVersion":2,"position":[-768,-1052]},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"// Merge Gemini analysis with metadata from Message Type Router\n// CRITICAL FIX: Add consistent fields (geminiAnalysis) for Process Media Context\nconst geminiOutput = $json.output || $json.text || $json.response || '';\nconst routerData = $node['Message Type Router'].json || {};\n\nreturn {\n  json: {\n    userId: routerData.userId,\n    messageId: routerData.messageId,\n    messageType: 'video',\n    textContent: routerData.textContent || '',\n    caption: routerData.textContent || '',\n    mediaUrl: routerData.mediaUrl,\n    source: routerData.source,\n    timestamp: routerData.timestamp,\n    // CRITICAL: Add geminiAnalysis field for Process Media Context consistency\n    output: geminiOutput,\n    analysis: geminiOutput,\n    geminiAnalysis: geminiOutput, // CRITICAL: Consistent field name\n    videoAnalysis: geminiOutput, // Alias for video\n    text: geminiOutput,\n    processedText: routerData.textContent || geminiOutput || 'What can you help me with this video?'\n  }\n};","notice":""},"id":"509f0a7b-d177-4558-b536-87460db6b54d","name":"Merge Video Analysis","type":"n8n-nodes-base.code","typeVersion":2,"position":[-544,-572]},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"// Merge Gemini analysis with metadata from Message Type Router\n// CRITICAL FIX: Add consistent fields (geminiAnalysis) for Process Media Context\nconst geminiOutput = $json.output || $json.text || $json.response || '';\nconst routerData = $node['Message Type Router'].json || {};\n\nreturn {\n  json: {\n    userId: routerData.userId,\n    messageId: routerData.messageId,\n    messageType: 'document',\n    textContent: routerData.textContent || '',\n    caption: routerData.textContent || '',\n    mediaUrl: routerData.mediaUrl,\n    source: routerData.source,\n    timestamp: routerData.timestamp,\n    // CRITICAL: Add geminiAnalysis field for Process Media Context consistency\n    output: geminiOutput,\n    analysis: geminiOutput,\n    geminiAnalysis: geminiOutput, // CRITICAL: Consistent field name\n    documentAnalysis: geminiOutput, // Alias for document\n    text: geminiOutput,\n    processedText: routerData.textContent || geminiOutput || 'What can you help me with this document?'\n  }\n};","notice":""},"id":"9d90f94d-b8d5-496a-a85d-5f5ec4082fd0","name":"Merge Document Analysis","type":"n8n-nodes-base.code","typeVersion":2,"position":[-544,-380]},{"parameters":{"preBuiltAgentsCalloutHttpRequest":"","curlImport":"","method":"GET","url":"={{ $json.mediaUrl }}","authentication":"none","provideSslCertificates":false,"sendQuery":false,"sendHeaders":true,"specifyHeaders":"keypair","headerParameters":{"parameters":[{"name":"x-api-key","value":"4fc7e008d7d24fc995475029effc8fa8"}]},"sendBody":false,"options":{"response":{"response":{"fullResponse":false,"neverError":false,"responseFormat":"file","outputPropertyName":"data"}},"timeout":60000},"infoMessage":""},"id":"cdd6a334-c44e-4f20-b10a-61c8cd2ecf1f","name":"Download Image1","type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-1216,-1052],"onError":"continueRegularOutput"},{"parameters":{"guardrailsUsage":"","operation":"sanitize","text":"={{ $json.output || $json.analysis || $json.text || \"\" }}","guardrails":{"pii":{"value":{"type":"all"}},"secretKeys":{"value":{"permissiveness":"balanced"}},"urls":{"value":{"allowedUrls":"","allowedSchemes":["https","http"],"blockUserinfo":true,"allowSubdomains":true}}}},"type":"@n8n/n8n-nodes-langchain.guardrails","typeVersion":1,"position":[-544,-1052],"id":"26c5a8b4-e282-4dde-9806-67c14a06a275","name":"Guardrails"},{"parameters":{"guardrailsUsage":"","operation":"checkTextForViolations","text":"={{ $json.question || \"\" }}","guardrails":{}},"type":"@n8n/n8n-nodes-langchain.guardrails","typeVersion":1,"position":[576,-908],"id":"ea6375ff-3ae7-4646-895a-5aeaa48eef01","name":"Guardrails1"},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $node['Prepare AI Input'].json.hasImageAnalysis === true }}","operation":"equal","value2":true}]},"combineOperation":"all"},"id":"7b5431e1-7a13-4398-997a-9907e19b45e7","name":"Image Analysis Switch","type":"n8n-nodes-base.if","typeVersion":1,"position":[928,-908]},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"// Generate deterministic response directly from stored image analysis.\nconst prepareData = $node['Prepare AI Input'].json || {};\nconst processData = $node['Process Media Context'].json || {};\nconst mergeData = $node['Merge Image Analysis'].json || {};\n\nconst getText = (value) => {\n  if (value === undefined || value === null) return '';\n  return String(value).trim();\n};\n\nconst question = getText(\n  processData.originalQuestion ||\n  processData.originalCaption ||\n  prepareData.question ||\n  prepareData.caption ||\n  mergeData.caption ||\n  'this image'\n);\n\nconst analysis = getText(\n  processData.imageAnalysis ||\n  processData.geminiAnalysis ||\n  prepareData.imageAnalysis ||\n  mergeData.analysis ||\n  ''\n);\n\nconst containsHebrew = (text) => /[\\u0590-\\u05FF]/.test(text || '');\nconst useHebrew = containsHebrew(question) || containsHebrew(analysis);\n\nlet response;\nif (analysis) {\n  response = useHebrew\n    ? `✅ כן, אני רואה את התמונה ושמתי לב לבאים:\\n${analysis}`\n    : `✅ Yes, I can see the image. Here is what I observe:\\n${analysis}`;\n} else {\n  response = useHebrew\n    ? '✅ כן, קיבלתי את התמונה אך לא נמצא טקסט ניתוח. אנא שלח שוב או הסבר מה תרצה שנבדוק.'\n    : '✅ I received your image but the analysis data was empty. Please resend it or tell me what you need help with.';\n}\n\nreturn [{\n  json: {\n    ...processData,\n    ...prepareData,\n    output: response,\n    responseText: response,\n    answeredFromImageAnalysis: analysis.length > 0\n  }\n}];","notice":""},"id":"0c40ab50-3afb-4136-8608-a2913d7b1c02","name":"Image Analysis Responder","type":"n8n-nodes-base.code","typeVersion":2,"position":[1272,-1056]},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"// Guardrails: Check video file size\nconst maxSizeMB = 15;\nconst payload = $json.payload || {};\nconst data = payload._data || {};\nconst videoMsg = data.message ? data.message.videoMessage : null;\nconst fileSize = videoMsg ? Number(videoMsg.fileLength) : 0;\nconst fileSizeMB = fileSize / (1024 * 1024);\n\nif (fileSizeMB > maxSizeMB) {\n  // Stop execution for this branch\n  return [];\n}\n\nreturn [$input.item];","notice":""},"name":"Guardrails: Video Size","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1216,-572],"id":"guardrails-video-size"},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"// Guardrails: Check document file size\nconst maxSizeMB = 10;\nconst payload = $json.payload || {};\nconst data = payload._data || {};\nconst docMsg = data.message ? data.message.documentMessage : null;\nconst fileSize = docMsg ? Number(docMsg.fileLength) : 0;\nconst fileSizeMB = fileSize / (1024 * 1024);\n\nif (fileSizeMB > maxSizeMB) {\n  // Stop execution for this branch\n  return [];\n}\n\nreturn [$input.item];","notice":""},"name":"Guardrails: Doc Size","type":"n8n-nodes-base.code","typeVersion":2,"position":[-992,-380],"id":"guardrails-doc-size"},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"chatgpt-4o-latest","mode":"list","cachedResultName":"CHATGPT-4O-LATEST"},"text":"={{ $node['Message Type Router'].json.textContent || $node['Message Type Router'].json.caption || 'Analyze this image in detail. Extract any text visible (OCR) and describe what you see.' }}","inputType":"base64","binaryPropertyName":"data","simplify":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2,"position":[-992,-1052],"id":"32b69359-4e08-4f52-8835-2baf45520084","name":"Analyze image","credentials":{"openAiApi":{"id":"0sXFXYfqiDEKuDcN","name":"service@rensto.com"}}},{"parameters":{"notice":"","model":{"__rl":true,"value":"chatgpt-4o-latest","mode":"list","cachedResultName":"chatgpt-4o-latest"},"responsesApiEnabled":true,"builtInTools":{},"options":{"maxTokens":1024,"temperature":0.3}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[648,-684],"id":"a2ba2dd7-aa3d-42f2-b683-93393bf56067","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"0sXFXYfqiDEKuDcN","name":"service@rensto.com"}}},{"parameters":{"resource":"audio","operation":"transcribe","fileSizeLimitNotice":" ","binaryPropertyName":"data","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2,"position":[-320,-764],"id":"2262d5da-7bff-429c-a563-4b12c8672862","name":"Transcribe a recording","credentials":{"openAiApi":{"id":"0sXFXYfqiDEKuDcN","name":"service@rensto.com"}},"onError":"continueRegularOutput"},{"parameters":{"resource":"video","operation":"analyze","modelId":{"__rl":true,"value":"models/gemini-2.5-pro","mode":"list","cachedResultName":"models/gemini-2.5-pro"},"text":"={{ $json.textContent || $json.caption || 'Analyze this video frame and describe what you see.' }}","inputType":"binary","binaryPropertyName":"data","simplify":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1,"position":[-768,-572],"id":"7ad34c3c-6bc0-4a1b-81c5-ab10b5f9b653","name":"Analyze video","credentials":{"googlePalmApi":{"id":"6UgFlgar0aCiXKdm","name":"Google Gemini(PaLM) Api superseller"}}},{"parameters":{"resource":"audio","operation":"analyze","modelId":{"__rl":true,"value":"models/gemini-2.5-flash-native-audio-latest","mode":"list"},"text":"={{ $json.textContent || $json.caption || 'Transcribe this audio message accurately. Extract all spoken words and any important details mentioned.' }}","inputType":"url","audioUrls":"","simplify":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1,"position":[-544,-764],"id":"865de611-90e4-4774-ab67-5fd040aa3b58","name":"Analyze audio","credentials":{"googlePalmApi":{"id":"6UgFlgar0aCiXKdm","name":"Google Gemini(PaLM) Api superseller"}}},{"parameters":{"resource":"document","operation":"analyze","modelId":{"__rl":true,"value":"models/gemini-2.5-pro","mode":"list"},"text":"={{ $json.textContent || $json.caption || 'Analyze this document in detail. Extract all text content, identify key information, and summarize the main points.' }}","inputType":"url","documentUrls":"={{ $json.mediaUrl }}","simplify":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1,"position":[-768,-380],"id":"6afa51a8-6d6e-4fcc-a34c-fc0ad659d798","name":"Analyze document","credentials":{"googlePalmApi":{"id":"6UgFlgar0aCiXKdm","name":"Google Gemini(PaLM) Api superseller"}}},{"id":"download-document-http","name":"Download Document","type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-768,-380],"parameters":{"preBuiltAgentsCalloutHttpRequest":"","curlImport":"","method":"GET","url":"={{ $json.mediaUrl }}","authentication":"none","provideSslCertificates":false,"sendQuery":false,"sendHeaders":true,"specifyHeaders":"keypair","headerParameters":{"parameters":[{"name":"x-api-key","value":"4fc7e008d7d24fc995475029effc8fa8"}]},"sendBody":false,"options":{"response":{"response":{"fullResponse":false,"neverError":false,"responseFormat":"file","outputPropertyName":"data"}},"timeout":60000},"infoMessage":""},"onError":"continueErrorOutput"},{"id":"download-video-http","name":"Download Video","type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-992,-572],"parameters":{"preBuiltAgentsCalloutHttpRequest":"","curlImport":"","method":"GET","url":"={{ $json.mediaUrl }}","authentication":"none","provideSslCertificates":false,"sendQuery":false,"sendHeaders":true,"specifyHeaders":"keypair","headerParameters":{"parameters":[{"name":"x-api-key","value":"4fc7e008d7d24fc995475029effc8fa8"}]},"sendBody":false,"options":{"response":{"response":{"fullResponse":false,"neverError":false,"responseFormat":"file","outputPropertyName":"data"}},"timeout":60000},"infoMessage":""},"onError":"continueErrorOutput"}],"connections":{"Smart Message Router":{"main":[[{"node":"Message Type Router","type":"main","index":0}]]},"Process Media Context":{"main":[[{"node":"Prepare AI Input","type":"main","index":0}]]},"Prepare AI Input":{"main":[[{"node":"Set Store Name and Extract Text1","type":"main","index":0}]]},"Rensto AI Agent":{"main":[[{"node":"Process AI Response","type":"main","index":0}]]},"Conversation Memory":{"ai_memory":[[{"node":"Rensto AI Agent","type":"ai_memory","index":0}]]},"Search Knowledge Base":{"ai_tool":[[{"node":"Rensto AI Agent","type":"ai_tool","index":0}]]},"OpenAI Model":{"ai_languageModel":[[{"node":"Rensto AI Agent","type":"ai_languageModel","index":0}]]},"Process AI Response":{"main":[[{"node":"Debug Voice Routing","type":"main","index":0}]]},"Send Voice Message":{"main":[[{"node":"Log Analytics","type":"main","index":0}]]},"Send Text Message":{"main":[[{"node":"Log Analytics","type":"main","index":0}]]},"Normalize HTTP Input":{"main":[[{"node":"Smart Message Router","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Normalize HTTP Input","type":"main","index":0}]]},"Message Type Router":{"main":[[{"node":"Download Voice","type":"main","index":0}],[{"node":"Download Image1","type":"main","index":0}],[{"node":"Guardrails: Doc Size","type":"main","index":0}],[{"node":"Guardrails: Video Size","type":"main","index":0}],[{"node":"Prepare AI Input","type":"main","index":0}]]},"Download Voice":{"main":[[{"node":"Analyze audio","type":"main","index":0}]]},"Check Response Source":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}],[{"node":"Voice Response Check","type":"main","index":0}]]},"Voice Response Check":{"main":[[{"node":"Convert text to speech","type":"main","index":0}],[{"node":"Send Text Message","type":"main","index":0}]]},"Convert text to speech":{"main":[[{"node":"Send Voice Message","type":"main","index":0}]]},"Set Store Name and Extract Text1":{"main":[[{"node":"Merge Transcription Metadata","type":"main","index":0}]]},"Merge Transcription Metadata":{"main":[[{"node":"Guardrails1","type":"main","index":0}]]},"Debug Voice Routing":{"main":[[{"node":"Check Response Source","type":"main","index":0}]]},"Merge Image Analysis":{"main":[[{"node":"Guardrails","type":"main","index":0}]]},"Merge Video Analysis":{"main":[[{"node":"Process Media Context","type":"main","index":0}]]},"Merge Document Analysis":{"main":[[{"node":"Process Media Context","type":"main","index":0}]]},"WAHA Trigger":{"main":[[{"node":"Smart Message Router","type":"main","index":0}]]},"Guardrails":{"main":[[{"node":"Process Media Context","type":"main","index":0}]]},"Guardrails1":{"main":[[{"node":"Image Analysis Switch","type":"main","index":0}]]},"Image Analysis Switch":{"main":[[{"node":"Image Analysis Responder","type":"main","index":0}],[{"node":"Rensto AI Agent","type":"main","index":0}]]},"Image Analysis Responder":{"main":[[{"node":"Process AI Response","type":"main","index":0}]]},"Guardrails: Doc Size":{"main":[[{"node":"Download Document","type":"main","index":0}]]},"Download Image1":{"main":[[{"node":"Analyze image","type":"main","index":0}]]},"Analyze image":{"main":[[{"node":"Merge Image Analysis","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Guardrails1","type":"ai_languageModel","index":0}]]},"Transcribe a recording":{"main":[[{"node":"Prepare AI Input","type":"main","index":0}]]},"Analyze video":{"main":[[{"node":"Merge Video Analysis","type":"main","index":0}]]},"Analyze audio":{"main":[[{"node":"Transcribe a recording","type":"main","index":0}]]},"Analyze document":{"main":[[{"node":"Merge Document Analysis","type":"main","index":0}]]},"Download Document":{"main":[[{"node":"Analyze document","type":"main","index":0}]]},"Guardrails: Video Size":{"main":[[{"node":"Download Video","type":"main","index":0}]]},"Download Video":{"main":[[{"node":"Analyze video","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{"googleApiKey":"AIzaSyB1nQdOOSeYdGv_R53dcyYDsIwenRU5ziE"},"pinData":{}},"customData":{}}