workflows/execution_16709_full_formatted.json
{
    "id": "16709",
    "finished": true,
    "mode": "webhook",
    "retryOf": null,
    "retrySuccessId": null,
    "status": "success",
    "createdAt": "2025-11-21T20:37:47.063Z",
    "startedAt": "2025-11-21T20:37:47.914Z",
    "stoppedAt": "2025-11-21T20:37:47.956Z",
    "deletedAt": null,
    "workflowId": "eQSCUFw91oXLxtvn",
    "waitTill": null,
    "data": {
        "startData": {},
        "resultData": {
            "runData": {
                "WAHA Trigger": [
                    {
                        "startTime": 1763757467951,
                        "executionIndex": 0,
                        "source": [],
                        "hints": [],
                        "executionTime": 0,
                        "executionStatus": "success",
                        "data": {
                            "main": [
                                [],
                                [
                                    {
                                        "json": {
                                            "id": "evt_01kam2697pjvv4ds020qrsbr6e",
                                            "timestamp": 1763757466871,
                                            "event": "message",
                                            "session": "rensto-support",
                                            "metadata": {},
                                            "me": {
                                                "id": "12144362102@c.us",
                                                "pushName": "Rensto",
                                                "lid": "271661580427508@lid"
                                            },
                                            "payload": {
                                                "id": "false_14695885133@c.us_3A608066F7CC53B5E259",
                                                "timestamp": 1763757466,
                                                "from": "14695885133@c.us",
                                                "fromMe": false,
                                                "source": "app",
                                                "body": "test",
                                                "hasMedia": false,
                                                "media": null,
                                                "ack": 2,
                                                "ackName": "DEVICE",
                                                "location": null,
                                                "vCards": null,
                                                "replyTo": null,
                                                "_data": {
                                                    "key": {
                                                        "remoteJid": "14695885133@s.whatsapp.net",
                                                        "remoteJidAlt": "199501700681931@lid",
                                                        "fromMe": false,
                                                        "id": "3A608066F7CC53B5E259",
                                                        "participant": "",
                                                        "addressingMode": "pn"
                                                    },
                                                    "messageTimestamp": 1763757466,
                                                    "pushName": "Shai Friedman",
                                                    "broadcast": false,
                                                    "message": {
                                                        "conversation": "test",
                                                        "messageContextInfo": {
                                                            "deviceListMetadata": {
                                                                "senderKeyHash": "/CX2Llq1ELJqhg==",
                                                                "senderTimestamp": "1763571217",
                                                                "recipientKeyHash": "N3mU7SLOqHfzZw==",
                                                                "recipientTimestamp": "1763345311"
                                                            },
                                                            "deviceListMetadataVersion": 2,
                                                            "messageSecret": "BUQpYNXhZLyV4D4jRWo2z6WcTXEFdLSCSNC5BLx6iXQ="
                                                        }
                                                    },
                                                    "status": 3
                                                }
                                            },
                                            "engine": "NOWEB",
                                            "environment": {
                                                "version": "2025.11.2",
                                                "engine": "NOWEB",
                                                "tier": "PLUS",
                                                "browser": null
                                            }
                                        },
                                        "pairedItem": {
                                            "item": 0,
                                            "input": 1
                                        }
                                    }
                                ],
                                [],
                                [],
                                [],
                                [],
                                [],
                                [],
                                [],
                                [],
                                [],
                                [],
                                [],
                                [],
                                [],
                                [],
                                [],
                                [],
                                [],
                                [],
                                [],
                                [],
                                [],
                                [],
                                [],
                                []
                            ]
                        }
                    }
                ],
                "Message Type Router": [
                    {
                        "startTime": 1763757467951,
                        "executionIndex": 1,
                        "source": [
                            {
                                "previousNode": "WAHA Trigger",
                                "previousNodeOutput": 1
                            }
                        ],
                        "hints": [],
                        "executionTime": 4,
                        "executionStatus": "success",
                        "data": {
                            "main": [
                                [],
                                [],
                                [],
                                [],
                                []
                            ]
                        }
                    }
                ]
            },
            "lastNodeExecuted": "Message Type Router"
        },
        "executionData": {
            "contextData": {},
            "nodeExecutionStack": [],
            "waitingExecution": {}
        }
    },
    "workflowData": {
        "id": "eQSCUFw91oXLxtvn",
        "name": "INT-WHATSAPP-SUPPORT-001: Rensto Support Agent (Final)",
        "active": true,
        "isArchived": false,
        "createdAt": "2025-11-17T00:01:48.622Z",
        "updatedAt": "2025-11-21T20:37:08.761Z",
        "nodes": [
            {
                "parameters": {
                    "operation": ""
                },
                "id": "50e910bc-9c49-4600-8637-14ef6c5ffa72",
                "name": "WAHA Trigger",
                "type": "@devlikeapro/n8n-nodes-waha.wahaTrigger",
                "typeVersion": 202502,
                "position": [
                    -1872,
                    -920
                ],
                "webhookId": "976a4187-04c0-458b-b9ba-c7af75ed5de0"
            },
            {
                "parameters": {
                    "mode": "runOnceForAllItems",
                    "language": "javaScript",
                    "jsCode": "// Process Media Context - FIXED: Preserve captions and handle all message types\nconst inputData = $json || {};\n\nlet routerData = {};\ntry {\n  routerData = $node['Merge Image Analysis'].json || {};\n} catch (e) {\n  try { routerData = $node['Message Type Router'].json || {}; } catch (e2) { routerData = {}; }\n}\n\nconst messageType = inputData.messageType || routerData.messageType || 'text';\n\n// CRITICAL FIX: Extract textContent/caption with priority order\n// PRIORITY 1: From routerData (Message Type Router - has caption from Smart Message Router)\nlet originalTextContent = String(routerData.textContent || routerData.caption || '').trim();\n\n// PRIORITY 2: From inputData (if routerData doesn't have it)\nif (!originalTextContent) {\n  originalTextContent = String(inputData.textContent || inputData.caption || '').trim();\n}\n\n// PRIORITY 3: From Smart Message Router directly (fallback)\nif (!originalTextContent) {\n  try {\n    const smartRouter = $node['Smart Message Router'];\n    if (smartRouter && smartRouter.json) {\n      originalTextContent = String(smartRouter.json.textContent || smartRouter.json.caption || '').trim();\n    }\n  } catch (e) {\n    // Node not accessible\n  }\n}\n\nconsole.log('[Process Media] Original textContent/caption:', originalTextContent ? originalTextContent.substring(0, 50) : 'EMPTY');\n\nconst geminiFields = ['guardrailsInput', 'output', 'text', 'response', 'analysis', 'extractedText'];\nconst extractField = (data, fields) => {\n  for (const field of fields) {\n    if (data[field]) return String(data[field]).trim();\n  }\n  return '';\n};\n\nlet processedText = '';\nlet userQuestion = '';\nlet imageAnalysisText = '';\nconst geminiOutput = extractField(inputData, geminiFields);\n\nif (messageType === 'text') {\n  // For text messages, use the text content directly\n  processedText = originalTextContent || inputData.body || inputData.text || inputData.processedText || '';\n  userQuestion = processedText;\n} else {\n  // For media messages, prioritize caption over analysis\n  // CRITICAL: If we have a caption, use it as the question\n  if (originalTextContent) {\n    userQuestion = originalTextContent;\n    processedText = originalTextContent;\n  } else {\n    // No caption, use analysis or default\n    userQuestion = geminiOutput || `Analyze this ${messageType}`;\n    processedText = geminiOutput || `I received your ${messageType}. How can I help you with it?`;\n  }\n  \n  // Store analysis separately (for AI prompt)\n  if (geminiOutput) {\n    imageAnalysisText = geminiOutput;\n  }\n}\n\nprocessedText = String(processedText || '').trim();\nuserQuestion = String(userQuestion || '').trim();\nimageAnalysisText = String(imageAnalysisText || '').trim();\n\n// CRITICAL FIX: If we have caption but no analysis, don't use default prompts\n// The caption IS the question - use it directly\nif (originalTextContent && !imageAnalysisText && messageType !== 'text') {\n  console.log('[Process Media] \u2705 Using caption as question:', userQuestion.substring(0, 50));\n  // Caption is already set as userQuestion above\n}\n\n// CRITICAL FIX: Don't use default prompts if we have ANY text (caption or analysis)\nif (!processedText && messageType !== 'text') {\n  processedText = `I received your ${messageType} but need more context. Could you please describe what you need help with?`;\n  userQuestion = `I sent a ${messageType} but the system could not analyze it. Please ask me to describe what is in the ${messageType}.`;\n}\n\nconsole.log('[Process Media] Final User Question:', userQuestion ? userQuestion.substring(0, 50) : 'EMPTY');\nconsole.log('[Process Media] Image Analysis Length:', imageAnalysisText.length);\nconsole.log('[Process Media] Processed Text Length:', processedText.length);\n\nreturn {\n  json: {\n    userId: routerData.userId || inputData.userId,\n    messageId: routerData.messageId || inputData.messageId,\n    sessionId: routerData.sessionId || inputData.sessionId,\n    timestamp: routerData.timestamp || inputData.timestamp,\n    source: routerData.source || inputData.source || 'waha',\n    messageType: messageType,\n    mediaUrl: routerData.mediaUrl || inputData.mediaUrl,\n    mediaInfo: routerData.mediaInfo || inputData.mediaInfo,\n    originalPayload: routerData.originalPayload || inputData.originalPayload,\n    requiresVoiceResponse: routerData.requiresVoiceResponse || inputData.requiresVoiceResponse,\n    originalQuestion: userQuestion, // CRITICAL: Always set this (caption or analysis question)\n    originalCaption: originalTextContent, // CRITICAL: Preserve caption\n    geminiAnalysis: imageAnalysisText || null,\n    imageAnalysis: imageAnalysisText || null,\n    processedText: processedText,\n    textContent: processedText,\n    text: processedText,\n    body: processedText,\n    question: userQuestion || processedText\n  }\n};",
                    "notice": ""
                },
                "id": "1d15c5cf-8b8f-4677-8887-63b112641f52",
                "name": "Process Media Context",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    -528,
                    -1232
                ]
            },
            {
                "parameters": {
                    "mode": "runOnceForAllItems",
                    "language": "javaScript",
                    "jsCode": "// ULTIMATE BULLETPROOF Prepare AI Input - FIXED: Prioritize transcriptions and captions\nconsole.log('\\n=== PREPARE AI INPUT - V3 FIXED ===');\n\n// Get ALL inputs\nconst allInputs = $input.all();\nconsole.log('Total inputs received:', allInputs.length);\n\nif (!allInputs || allInputs.length === 0) {\n  throw new Error('No input data received! Check upstream nodes.');\n}\n\n// Get static data FIRST (most reliable source)\nlet staticData = {};\ntry {\n  staticData = this.getWorkflowStaticData('global');\n  console.log('Static data keys:', Object.keys(staticData).join(', '));\n  if (staticData.lastMessageMetadata) {\n    console.log('Static metadata userId:', staticData.lastMessageMetadata.userId);\n  }\n} catch (error) {\n  console.log('Static data error:', error.message);\n  staticData = {};\n}\n\n// AGGRESSIVE userId EXTRACTION - Try EVERY possible source\nlet userId = '';\nlet extractionMethod = '';\n\n// PRIORITY 1: Static data (most reliable - set by Smart Message Router)\nif (staticData.lastMessageMetadata && staticData.lastMessageMetadata.userId) {\n  userId = String(staticData.lastMessageMetadata.userId);\n  extractionMethod = 'static data (lastMessageMetadata)';\n  console.log('\u2705 Found userId in static data:', userId);\n}\n\n// PRIORITY 2: Try upstream nodes using $node (if available)\nif (!userId) {\n  const upstreamNodeNames = ['Smart Message Router', 'Message Type Router', 'Process Media Context', 'Download Voice', 'Transcribe Voice', 'Set Store Name and Extract Text1', 'Merge Transcription Metadata'];\n  for (let i = 0; i < upstreamNodeNames.length; i++) {\n    const nodeName = upstreamNodeNames[i];\n    try {\n      const nodeData = $node[nodeName];\n      if (nodeData && nodeData.json) {\n        const nodeUserId = nodeData.json.userId || nodeData.json.from || nodeData.json.designer_phone || '';\n        if (nodeUserId) {\n          userId = String(nodeUserId);\n          extractionMethod = '$node[' + nodeName + ']';\n          console.log('\u2705 Found userId in upstream node', nodeName, ':', userId);\n          break;\n        }\n        \n        // Check nested payload\n        if (!userId && nodeData.json.payload) {\n          const payloadUserId = nodeData.json.payload.userId || nodeData.json.payload.from || '';\n          if (payloadUserId) {\n            userId = String(payloadUserId);\n            extractionMethod = '$node[' + nodeName + '].payload';\n            console.log('\u2705 Found userId in upstream node', nodeName, 'payload:', userId);\n            break;\n          }\n        }\n        \n        // Check originalPayload\n        if (!userId && nodeData.json.originalPayload) {\n          const opUserId = nodeData.json.originalPayload.userId || nodeData.json.originalPayload.from || '';\n          if (opUserId) {\n            userId = String(opUserId);\n            extractionMethod = '$node[' + nodeName + '].originalPayload';\n            console.log('\u2705 Found userId in upstream node', nodeName, 'originalPayload:', userId);\n            break;\n          }\n        }\n      }\n    } catch (error) {\n      // Node might not exist or not accessible - continue\n      console.log('Could not access node', nodeName, ':', error.message);\n    }\n  }\n}\n\n// PRIORITY 3: Check ALL input items\nif (!userId) {\n  for (let i = 0; i < allInputs.length; i++) {\n    const item = allInputs[i];\n    if (!item || !item.json) continue;\n    \n    const inputData = item.json;\n    console.log(`Input ${i} keys:`, Object.keys(inputData).join(', '));\n    \n    // Direct fields\n    const directFields = ['userId', 'from', 'designer_phone', 'chatId', 'sender', 'user'];\n    for (let j = 0; j < directFields.length; j++) {\n      const field = directFields[j];\n      if (inputData[field]) {\n        userId = String(inputData[field]);\n        extractionMethod = `input ${i} direct field: ${field}`;\n        console.log('\u2705 Found userId in input', i, 'field', field, ':', userId);\n        break;\n      }\n    }\n    \n    if (userId) break;\n    \n    // Nested in payload\n    if (inputData.payload) {\n      const payload = inputData.payload;\n      const payloadFields = ['userId', 'from', 'sender', 'chatId'];\n      for (let j = 0; j < payloadFields.length; j++) {\n        const field = payloadFields[j];\n        if (payload[field]) {\n          userId = String(payload[field]);\n          extractionMethod = `input ${i} payload.${field}`;\n          console.log('\u2705 Found userId in input', i, 'payload', field, ':', userId);\n          break;\n        }\n      }\n      \n      // Check payload._data.key.remoteJid\n      if (!userId && payload._data && payload._data.key) {\n        const remoteJid = payload._data.key.remoteJid;\n        if (remoteJid) {\n          userId = String(remoteJid);\n          extractionMethod = `input ${i} payload._data.key.remoteJid`;\n          console.log('\u2705 Found userId in input', i, 'payload._data.key.remoteJid:', userId);\n        }\n      }\n    }\n    \n    if (userId) break;\n    \n    // Nested in originalPayload\n    if (inputData.originalPayload) {\n      const op = inputData.originalPayload;\n      const opFields = ['userId', 'from', 'sender', 'chatId'];\n      for (let j = 0; j < opFields.length; j++) {\n        const field = opFields[j];\n        if (op[field]) {\n          userId = String(op[field]);\n          extractionMethod = `input ${i} originalPayload.${field}`;\n          console.log('\u2705 Found userId in input', i, 'originalPayload', field, ':', userId);\n          break;\n        }\n      }\n      \n      // Check originalPayload._data.key.remoteJid\n      if (!userId && op._data && op._data.key) {\n        const remoteJid = op._data.key.remoteJid;\n        if (remoteJid) {\n          userId = String(remoteJid);\n          extractionMethod = `input ${i} originalPayload._data.key.remoteJid`;\n          console.log('\u2705 Found userId in input', i, 'originalPayload._data.key.remoteJid:', userId);\n        }\n      }\n    }\n    \n    if (userId) break;\n    \n    // Check _data at root level\n    if (inputData._data && inputData._data.key) {\n      const remoteJid = inputData._data.key.remoteJid;\n      if (remoteJid) {\n        userId = String(remoteJid);\n        extractionMethod = `input ${i} _data.key.remoteJid`;\n        console.log('\u2705 Found userId in input', i, '_data.key.remoteJid:', userId);\n        break;\n      }\n    }\n  }\n}\n\n// Clean up userId (remove @s.whatsapp.net if present, replace with @c.us)\nif (userId) {\n  userId = String(userId).replace('@s.whatsapp.net', '@c.us');\n}\n\nconsole.log('Final userId:', userId || 'NONE');\nconsole.log('Extraction method:', extractionMethod || 'FAILED');\n\n// CRITICAL FIX: AGGRESSIVE QUESTION EXTRACTION - Prioritize transcriptions and captions\nlet question = '';\nlet questionMethod = '';\nlet imageAnalysis = null;\n\n// PRIORITY 1: Get transcription from Transcribe Voice node (for voice messages)\nlet transcription = null;\ntry {\n  const transcribeNode = $node['Transcribe Recording'];\n  if (transcribeNode && transcribeNode.json) {\n    transcription = transcribeNode.json.text || transcribeNode.json.transcript || transcribeNode.json.transcription || '';\n    if (transcription) {\n      transcription = String(transcription).trim();\n      console.log('\u2705 Found transcription from Transcribe Voice node:', transcription.substring(0, 50));\n    }\n  }\n} catch (error) {\n  console.log('Could not access Transcribe Voice node:', error.message);\n}\n\n// PRIORITY 2: Get from Process Media Context node (upstream) - CRITICAL for images/documents\nlet processMediaData = null;\ntry {\n  processMediaData = $node['Process Media Context'];\n  if (processMediaData && processMediaData.json) {\n    console.log('\u2705 Found Process Media Context node');\n    // CRITICAL: Prioritize originalCaption (user's caption) over originalQuestion\n    if (processMediaData.json.originalCaption) {\n      const caption = String(processMediaData.json.originalCaption).trim();\n      // Skip if it's clearly analysis text\n      if (caption && !caption.includes('Visual Content Description') && !caption.includes('OCR') && \n          !caption.includes('\u05ea\u05d9\u05d0\u05d5\u05e8 \u05ea\u05d5\u05db\u05df \u05d7\u05d6\u05d5\u05ea\u05d9') && !caption.includes('\u05d8\u05e7\u05e1\u05d8 \u05de\u05d6\u05d5\u05d4\u05d4') &&\n          !caption.includes('Yes, I can see the test image you uploaded')) {\n        question = caption;\n        questionMethod = 'Process Media Context.originalCaption';\n        imageAnalysis = processMediaData.json.geminiAnalysis || processMediaData.json.imageAnalysis || null;\n        console.log('\u2705 Found originalCaption from Process Media Context:', question.substring(0, 50));\n      }\n    }\n    // Fallback to originalQuestion if no caption\n    if (!question && processMediaData.json.originalQuestion) {\n      const origQ = String(processMediaData.json.originalQuestion).trim();\n      if (!origQ.includes('Visual Content Description') && !origQ.includes('OCR')) {\n        question = origQ;\n        questionMethod = 'Process Media Context.originalQuestion';\n        imageAnalysis = processMediaData.json.geminiAnalysis || processMediaData.json.imageAnalysis || null;\n        console.log('\u2705 Found originalQuestion from Process Media Context:', question.substring(0, 50));\n      }\n    }\n    // Store imageAnalysis if available\n    if (!imageAnalysis && (processMediaData.json.geminiAnalysis || processMediaData.json.imageAnalysis)) {\n      imageAnalysis = processMediaData.json.geminiAnalysis || processMediaData.json.imageAnalysis;\n    }\n  }\n} catch (error) {\n  console.log('Could not access Process Media Context node:', error.message);\n}\n\n// PRIORITY 3: Use transcription if available (for voice messages)\nif (!question && transcription) {\n  question = transcription;\n  questionMethod = 'Transcribe Voice node';\n  console.log('\u2705 Using transcription as question:', question.substring(0, 50));\n}\n\n// PRIORITY 4: Check input items for originalQuestion/originalCaption (if Process Media Context not available)\nif (!question) {\n  for (let i = 0; i < allInputs.length; i++) {\n    const item = allInputs[i];\n    if (!item || !item.json) continue;\n    \n    const inputData = item.json;\n    \n    // CRITICAL: Check for originalCaption first (user's caption)\n    if (inputData.originalCaption) {\n      const value = String(inputData.originalCaption).trim();\n      // Skip if it's clearly analysis text\n      if (value && !value.includes('Visual Content Description') && !value.includes('OCR') && \n          !value.includes('\u05ea\u05d9\u05d0\u05d5\u05e8 \u05ea\u05d5\u05db\u05df \u05d7\u05d6\u05d5\u05ea\u05d9') && !value.includes('\u05d8\u05e7\u05e1\u05d8 \u05de\u05d6\u05d5\u05d4\u05d4') &&\n          !value.includes('Yes, I can see the test image you uploaded')) {\n        question = value;\n        questionMethod = `input ${i} originalCaption`;\n        imageAnalysis = inputData.geminiAnalysis || inputData.imageAnalysis || null;\n        console.log('\u2705 Found originalCaption:', question.substring(0, 50));\n        break;\n      }\n    }\n    \n    // Check for originalQuestion\n    if (!question && inputData.originalQuestion) {\n      const value = String(inputData.originalQuestion).trim();\n      if (!value.includes('Visual Content Description') && !value.includes('OCR') &&\n          !value.includes('Yes, I can see the test image')) {\n        question = value;\n        questionMethod = `input ${i} originalQuestion`;\n        imageAnalysis = inputData.geminiAnalysis || inputData.imageAnalysis || null;\n        console.log('\u2705 Found originalQuestion:', question.substring(0, 50));\n        break;\n      }\n    }\n    \n    // Store imageAnalysis if available\n    if (!imageAnalysis && (inputData.geminiAnalysis || inputData.imageAnalysis)) {\n      imageAnalysis = inputData.geminiAnalysis || inputData.imageAnalysis;\n    }\n  }\n}\n\n// PRIORITY 5: If no originalQuestion/originalCaption found, check standard fields (but skip analysis text)\nif (!question) {\n  const textFields = [\n    'text', 'transcript', 'transcription', 'question', 'processedText', \n    'textContent', 'body', 'message', 'content', 'caption'\n  ];\n  \n  for (let i = 0; i < allInputs.length; i++) {\n    const item = allInputs[i];\n    if (!item || !item.json) continue;\n    \n    const inputData = item.json;\n    \n    // Check direct fields\n    for (let j = 0; j < textFields.length; j++) {\n      const field = textFields[j];\n      if (inputData[field]) {\n        const value = String(inputData[field]).trim();\n        // Skip if it's clearly image analysis text (contains analysis markers)\n        if (value && (value.includes('Visual Content Description') || value.includes('\u05ea\u05d9\u05d0\u05d5\u05e8 \u05ea\u05d5\u05db\u05df \u05d7\u05d6\u05d5\u05ea\u05d9') ||\n            value.includes('OCR') || value.includes('Extracted Text') || value.includes('\u05d8\u05e7\u05e1\u05d8 \u05de\u05d6\u05d5\u05d4\u05d4') ||\n            value.includes('Yes, I can see the test image you uploaded') ||\n            value.includes('Here\\'s the analysis:'))) {\n          // This is analysis text, not the question - skip it\n          console.log('\u26a0\ufe0f Skipping analysis text from field', field);\n          continue;\n        }\n        if (value) {\n          question = value;\n          questionMethod = `input ${i} direct field: ${field}`;\n          console.log('\u2705 Found question in input', i, 'field', field);\n          break;\n        }\n      }\n    }\n    \n    if (question) break;\n    \n    // Try nested payload\n    if (inputData.payload && inputData.payload.body) {\n      const value = String(inputData.payload.body).trim();\n      if (value && !value.includes('Visual Content Description') && !value.includes('OCR') &&\n          !value.includes('Yes, I can see the test image')) {\n        question = value;\n        questionMethod = `input ${i} payload.body`;\n        console.log('\u2705 Found question in input', i, 'payload.body');\n        break;\n      }\n    }\n    \n    // Try originalPayload\n    if (inputData.originalPayload && inputData.originalPayload.body) {\n      const value = String(inputData.originalPayload.body).trim();\n      if (value && !value.includes('Visual Content Description') && !value.includes('OCR') &&\n          !value.includes('Yes, I can see the test image')) {\n        question = value;\n        questionMethod = `input ${i} originalPayload.body`;\n        console.log('\u2705 Found question in input', i, 'originalPayload.body');\n        break;\n      }\n    }\n  }\n}\n\nconsole.log('Final question:', question ? question.substring(0, 50) + '...' : 'NONE');\nconsole.log('Question method:', questionMethod || 'FAILED');\nconsole.log('Has image analysis:', !!imageAnalysis);\n\n// Get other fields with fallbacks\nconst messageId = staticData.lastMessageMetadata && staticData.lastMessageMetadata.messageId \n  ? staticData.lastMessageMetadata.messageId \n  : (allInputs[0] && allInputs[0].json ? (allInputs[0].json.messageId || allInputs[0].json.id || '') : '');\nconst sessionId = userId || 'default';\nconst requiresVoiceResponse = staticData.lastMessageMetadata && staticData.lastMessageMetadata.requiresVoiceResponse \n  ? staticData.lastMessageMetadata.requiresVoiceResponse \n  : (allInputs[0] && allInputs[0].json ? (allInputs[0].json.requiresVoiceResponse || allInputs[0].json.messageType === 'voice' || false) : false);\nconst source = staticData.lastMessageMetadata && staticData.lastMessageMetadata.source \n  ? staticData.lastMessageMetadata.source \n  : (allInputs[0] && allInputs[0].json ? (allInputs[0].json.source || 'waha') : 'waha');\nconst store_name = staticData.lastMessageMetadata && staticData.lastMessageMetadata.store_name \n  ? staticData.lastMessageMetadata.store_name \n  : (allInputs[0] && allInputs[0].json ? (allInputs[0].json.store_name || 'fileSearchStores/rensto-knowledge-base-ndf9fmymwb2p') : 'fileSearchStores/rensto-knowledge-base-ndf9fmymwb2p';\n\n// CRITICAL: Build promptText with imageAnalysis if available\nlet promptText = question;\nconst hasImageAnalysis = !!imageAnalysis;\n\nif (imageAnalysis) {\n  promptText = `Question: ${question}\\n\\nImage Analysis:\\n${imageAnalysis}\\n\\nPlease answer the question based on the image analysis above.`;\n  console.log('\u2705 Built promptText with imageAnalysis (length:', promptText.length, ')');\n  \n  // CRITICAL: Set flag in static data so Search Knowledge Base can check it\n  staticData.hasImageAnalysis = true;\n  staticData.imageAnalysisTimestamp = Date.now();\n  try {\n    this.setWorkflowStaticData('global', staticData);\n    console.log('\u2705 Set hasImageAnalysis flag in static data');\n  } catch (error) {\n    console.log('\u26a0\ufe0f Could not set static data flag:', error.message);\n  }\n} else {\n  console.log('\u2705 Built promptText without imageAnalysis');\n  // Clear flag if no image analysis\n  staticData.hasImageAnalysis = false;\n  try {\n    this.setWorkflowStaticData('global', staticData);\n  } catch (error) {\n    console.log('\u26a0\ufe0f Could not clear static data flag:', error.message);\n  }\n}\n\n// Final validation\nif (!question) {\n  console.log('\\n\u274c NO QUESTION FOUND');\n  console.log('Total inputs:', allInputs.length);\n  for (let i = 0; i < allInputs.length; i++) {\n    console.log(`Input ${i} keys:`, Object.keys(allInputs[i].json || {}).join(', '));\n  }\n  throw new Error('Missing question/text. Check execution log for input data.');\n}\n\nif (!userId) {\n  console.log('\\n\u274c NO USERID FOUND AFTER ALL ATTEMPTS');\n  console.log('Static data:', JSON.stringify(staticData, null, 2));\n  console.log('Total inputs:', allInputs.length);\n  for (let i = 0; i < allInputs.length; i++) {\n    console.log(`Input ${i} full data:`, JSON.stringify(allInputs[i].json || {}, null, 2).substring(0, 500));\n  }\n  \n  // LAST RESORT: Try to get from WAHA Trigger node\n  try {\n    const wahaNode = $node['WAHA Trigger'];\n    if (wahaNode && wahaNode.json && wahaNode.json.payload) {\n      const wahaPayload = wahaNode.json.payload;\n      const wahaUserId = wahaPayload.from || (wahaPayload._data && wahaPayload._data.key && wahaPayload._data.key.remoteJid) || '';\n      if (wahaUserId) {\n        userId = String(wahaUserId).replace('@s.whatsapp.net', '@c.us');\n        extractionMethod = 'WAHA Trigger node (last resort)';\n        console.log('\u2705 Found userId in WAHA Trigger node:', userId);\n      }\n    }\n  } catch (error) {\n    console.log('Could not access WAHA Trigger node:', error.message);\n  }\n  \n  // If still no userId, throw error with full context\n  if (!userId) {\n    throw new Error('Missing userId. Check execution log for input data.');\n  }\n}\n\nconsole.log('\\n\u2705 SUCCESS - All fields extracted:');\nconsole.log('  userId:', userId);\nconsole.log('  question:', question.substring(0, 50));\nconsole.log('  messageId:', messageId);\nconsole.log('  sessionId:', sessionId);\nconsole.log('  hasImageAnalysis:', hasImageAnalysis);\nconsole.log('  promptText length:', promptText.length);\nconsole.log('=== END PREPARE AI INPUT ===\\n');\n\nreturn [{\n  json: {\n    question: question,\n    promptText: promptText, // CRITICAL: Pre-built prompt with imageAnalysis\n    sessionId: sessionId,\n    messageId: messageId,\n    requiresVoiceResponse: requiresVoiceResponse,\n    userId: userId,\n    source: source,\n    store_name: store_name,\n    text: question,\n    transcript: question,\n    transcription: question,\n    imageAnalysis: imageAnalysis, // Keep for backward compatibility\n    hasImageAnalysis: hasImageAnalysis // Flag for Search Knowledge Base\n  }\n}];",
                    "notice": ""
                },
                "id": "281d5e47-e0fd-4372-94ce-b462f324f2a2",
                "name": "Prepare AI Input",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    -304,
                    -968
                ]
            },
            {
                "parameters": {
                    "aiAgentStarterCallout": "",
                    "promptType": "define",
                    "text": "={{ $json.promptText || $json.question || $json.message_text || $json.text || $json.transcript || $json.transcription || \"\" }}",
                    "hasOutputParser": false,
                    "needsFallback": false,
                    "options": {
                        "systemMessage": "You are Rensto Support Agent. You help users with business automation. \n\nIMPORTANT: If the user says 'I sent an image but the system could not analyze it', do NOT say 'message didn't come through'. Instead, say: 'I see you sent an image, but I'm having trouble analyzing it right now. Could you please describe what's in the image so I can help you?'"
                    }
                },
                "id": "db35c441-a323-468c-b0ce-695bbb280330",
                "name": "Rensto AI Agent",
                "type": "@n8n/n8n-nodes-langchain.agent",
                "typeVersion": 3,
                "position": [
                    1000,
                    -820
                ]
            },
            {
                "parameters": {
                    "notice": "",
                    "sessionIdType": "customKey",
                    "sessionKey": "={{ $json.sessionId || $json.userId || 'default' }}",
                    "contextWindowLength": 5
                },
                "id": "27611000-91df-4e0d-8290-f141bbfc5b55",
                "name": "Conversation Memory",
                "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
                "typeVersion": 1.3,
                "position": [
                    1072,
                    -596
                ]
            },
            {
                "parameters": {
                    "notice": "",
                    "noticeTemplateExample": "",
                    "description": "Search the Rensto knowledge base for information about products, services, pricing, installation, warranties, and company policies. **\ud83d\udea8 CRITICAL: DO NOT CALL THIS TOOL if your prompt contains \"Image Analysis:\" section. If you see \"Image Analysis:\" in your prompt, that means an image was already analyzed - answer directly using that analysis, do NOT search knowledge base. If the query is about \"can you see this\" or \"test image\", DO NOT CALL THIS TOOL - the image was already analyzed.**",
                    "language": "javaScript",
                    "jsCode": "// Fetch answers from Google AI Studio file search (Gemini)\n// CRITICAL: Check query FIRST for image test patterns (before static data)\nlet query = $input.params?.query || $json?.question || $json?.message_text || '';\nquery = String(query || '').trim();\n\n// PRIORITY 1: Check if query is about image visibility/test (common image test questions)\n// This check happens FIRST because it's the most reliable indicator\nconst imageTestPatterns = [\n  'can you see this',\n  'can you see this test image',\n  'do you see this image',\n  'can you see the image',\n  'test image'\n];\n\nconst lowerQuery = query.toLowerCase();\nif (imageTestPatterns.some(pattern => lowerQuery.includes(pattern))) {\n  console.log('[Search KB] \u26a0\ufe0f BLOCKED - query is about image visibility/test');\n  // Return explicit answer that tells agent to use Image Analysis\n  const answer = '\u2705 YES, I can see the test image! The image has already been analyzed and the analysis is provided in your prompt under \"Image Analysis:\" section. Look at your prompt - you will see \"Question:\" followed by \"Image Analysis:\" - use that analysis to answer. The Image Analysis section contains the answer: \"Yes, I can see this test image.\" Use that answer directly.';\n  console.log('[Search KB] Returning image test answer:', answer.substring(0, 100));\n  return answer;\n}\n\n// PRIORITY 2: Check static data flag (set by Prepare AI Input)\nlet staticData;\ntry {\n  staticData = this.getWorkflowStaticData('global');\n  console.log('[Search KB] Static data keys:', Object.keys(staticData).join(', '));\n  console.log('[Search KB] hasImageAnalysis flag:', staticData.hasImageAnalysis);\n} catch (error) {\n  console.log('[Search KB] Static data error:', error.message);\n  staticData = {};\n}\n\nif (staticData.hasImageAnalysis === true) {\n  console.log('[Search KB] \u26a0\ufe0f BLOCKED - hasImageAnalysis flag is true in static data');\n  // Return explicit answer that tells agent to use Image Analysis\n  const answer = '\u2705 The image has already been analyzed and the analysis is provided in your prompt under \"Image Analysis:\" section. Look at your prompt - you will see \"Question:\" followed by \"Image Analysis:\" - use that analysis to answer the question directly. Do NOT search knowledge base.';\n  console.log('[Search KB] Returning STOP message:', answer.substring(0, 100));\n  return answer;\n}\n\n// PRIORITY 3: Check if imageAnalysis field exists in input\nconst inputData = $input.params || $json || {};\nif (inputData.imageAnalysis || $json?.imageAnalysis) {\n  console.log('[Search KB] \u26a0\ufe0f Skipping - imageAnalysis present, image already analyzed');\n  return '\u2705 The image has already been analyzed. Use the Image Analysis provided in your prompt to answer directly. Do NOT search knowledge base.';\n}\n\nif (!query) {\n  return 'I could not find any details about that yet.';\n}\n\nconst defaultStore = 'fileSearchStores/rensto-knowledge-base-ndf9fmymwb2p';\nconst normalizeStore = (store) => {\n  if (!store) return defaultStore;\n  const cleaned = store.replace(/^fileSearchStores\\//, '');\n  return `fileSearchStores/${cleaned}`;\n};\n\n// Get store_name from workflow static data, metadata, or use default\nconst storeName = normalizeStore(\n  staticData.googleStoreName ||\n  $json?.store_name ||\n  defaultStore\n);\n\nconst translations = {\n  '\u05d0\u05d9\u05da \u05e7\u05d5\u05e8\u05d0\u05d9\u05dd \u05dc\u05db\u05dd': 'What is the company name?',\n  '\u05de\u05d4 \u05d4\u05e9\u05dd \u05e9\u05dc\u05db\u05dd': 'What is the company name?',\n  '\u05de\u05d9 \u05d0\u05ea\u05dd': 'What is Rensto?',\n  '\u05de\u05d4 \u05d0\u05ea\u05dd \u05e2\u05d5\u05e9\u05d9\u05dd': 'What does Rensto do?'\n};\n\nfor (const [hebrew, english] of Object.entries(translations)) {\n  if (query.includes(hebrew)) {\n    query = english;\n    break;\n  }\n}\n\nconst apiKey = 'AIzaSyB1nQdOOSeYdGv_R53dcyYDsIwenRU5ziE';\nconst url = `https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent?key=${apiKey}`;\n\nconst body = {\n  contents: [{ parts: [{ text: query }]}],\n  tools: [\n    {\n      file_search: {\n        file_search_store_names: [storeName]\n      }\n    }\n  ],\n  generationConfig: {\n    temperature: 0.4,\n    topK: 32,\n    topP: 0.95,\n    maxOutputTokens: 512\n  }\n};\n\nconsole.log('[Search KB] Querying Google project:', storeName);\nconsole.log('[Search KB] Query:', query);\n\nconst maxRetries = 3;\nlet lastError;\n\nfor (let attempt = 1; attempt <= maxRetries; attempt++) {\n  try {\n    const response = await this.helpers.httpRequest({\n      method: 'POST',\n      url,\n      headers: {\n        'Content-Type': 'application/json'\n      },\n      body: JSON.stringify(body),\n      json: false,\n      timeout: 60000\n    });\n\n    const data = typeof response === 'string' ? JSON.parse(response) : response;\n    const parts = data?.candidates?.[0]?.content?.parts || [];\n    const answer = parts.map(part => part.text || '').join('\\n\\n').trim();\n\n    if (answer) {\n      console.log('[Search KB] \u2705 Found answer from Google project');\n      return answer;\n    }\n\n    lastError = new Error('Knowledge base returned no content');\n  } catch (error) {\n    lastError = error;\n    const status = error.statusCode || 0;\n    const retriable = status >= 500 || status === 429 || error.code === 'ETIMEDOUT' || error.code === 'ECONNRESET';\n    if (attempt < maxRetries && retriable) {\n      await new Promise(resolve => setTimeout(resolve, attempt * 1000));\n      continue;\n    }\n    break;\n  }\n}\n\nconsole.log('[Search KB] \u274c No answer from Google project');\nreturn lastError\n  ? `I could not find that info yet (Google KB error: ${lastError.message}).`\n  : 'I could not find information about that topic.';",
                    "specifyInputSchema": false
                },
                "id": "b03c30dc-d6df-4fbe-afcb-ba54756667de",
                "name": "Search Knowledge Base",
                "type": "@n8n/n8n-nodes-langchain.toolCode",
                "typeVersion": 1.3,
                "position": [
                    1200,
                    -596
                ]
            },
            {
                "parameters": {
                    "notice": "",
                    "model": {
                        "__rl": true,
                        "value": "gpt-4o-mini",
                        "mode": "list"
                    },
                    "responsesApiEnabled": true,
                    "builtInTools": {},
                    "options": {
                        "maxTokens": 500,
                        "temperature": 0.7
                    }
                },
                "id": "e8303bed-90d3-449a-ba28-3c082288ac4b",
                "name": "OpenAI Model",
                "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
                "typeVersion": 1.3,
                "position": [
                    944,
                    -596
                ],
                "credentials": {
                    "openAiApi": {
                        "id": "0sXFXYfqiDEKuDcN",
                        "name": "service@rensto.com"
                    }
                }
            },
            {
                "parameters": {
                    "mode": "runOnceForAllItems",
                    "language": "javaScript",
                    "jsCode": "// Extract and clean AI response - Get userId and requiresVoice from static data (PRIMARY)\n// CRITICAL: Rensto AI Agent only outputs { output: '...' }, so get metadata from static data\n\nconst currentInput = $json || {};\n\n// PRIMARY: Get metadata from global static data (stored by Smart Message Router)\nlet userId = '';\nlet messageId = '';\nlet requiresVoice = false;\nlet source = 'waha';\n\nlet staticData = {};\ntry {\n  staticData = this.getWorkflowStaticData('global');\n  console.log('[Process AI Response] Static data keys:', Object.keys(staticData).join(', '));\n  \n  if (staticData.lastMessageMetadata) {\n    userId = staticData.lastMessageMetadata.userId || '';\n    messageId = staticData.lastMessageMetadata.messageId || '';\n    // CRITICAL: Explicitly check if requiresVoiceResponse is true (for voice) or false/undefined (for text)\n    requiresVoice = Boolean(staticData.lastMessageMetadata.requiresVoiceResponse === true);\n    source = staticData.lastMessageMetadata.source || 'waha';\n    console.log('[Process AI Response] \u2705 Got metadata from static data:');\n    console.log('  userId:', userId);\n    console.log('  messageId:', messageId);\n    console.log('  requiresVoiceResponse (raw):', staticData.lastMessageMetadata.requiresVoiceResponse);\n    console.log('  requiresVoice (boolean):', requiresVoice, '(type:', typeof requiresVoice, ')');\n    console.log('  source:', source);\n  } else {\n    console.log('[Process AI Response] \u26a0\ufe0f Static data exists but no lastMessageMetadata');\n    console.log('[Process AI Response] Static data:', JSON.stringify(staticData, null, 2));\n  }\n} catch (error) {\n  console.log('[Process AI Response] Static data error:', error.message);\n}\n\n// FALLBACK: Try to get from $node (if available)\nif (!userId) {\n  try {\n    const mergeNode = $node[\"Merge Transcription Metadata\"];\n    if (mergeNode && mergeNode.json) {\n      const mergeData = mergeNode.json;\n      if (mergeData.designer_phone || mergeData.userId) {\n        userId = mergeData.designer_phone || mergeData.userId;\n        messageId = mergeData.original_message_id || mergeData.messageId || '';\n        requiresVoice = Boolean(mergeData.message_type === 'ptt' || mergeData.requiresVoiceResponse === true);\n        source = mergeData.source || 'waha';\n        console.log('[Process AI Response] \u2705 Got metadata from $node, userId:', userId, 'requiresVoice:', requiresVoice);\n      }\n    }\n  } catch (error) {\n    console.log('[Process AI Response] $node access error:', error.message);\n  }\n}\n\n// Extract AI response text\nconst output = currentInput.output || currentInput.response || '';\n\nlet responseText = '';\nif (typeof output === 'string') {\n  try {\n    const parsed = JSON.parse(output);\n    responseText = parsed.answer || parsed.text || parsed.output || output;\n  } catch (e) {\n    responseText = output;\n  }\n} else if (typeof output === 'object') {\n  responseText = output.answer || output.text || output.output || String(output);\n} else {\n  responseText = String(output || 'I apologize, but I encountered an issue. Please try again.');\n}\n\n// CRITICAL: Remove leading/trailing JSON array brackets and other artifacts\n// This handles cases where AI Agent returns JSON arrays like \"] text\" or \"[text]\"\nresponseText = String(responseText).trim();\n\n// Remove leading \"]\" or \"[\" characters\nif (responseText.charAt(0) === ']' || responseText.charAt(0) === '[') {\n  responseText = responseText.substring(1).trim();\n}\n\n// Remove trailing \"]\" or \"[\" characters\nif (responseText.charAt(responseText.length - 1) === ']' || responseText.charAt(responseText.length - 1) === '[') {\n  responseText = responseText.substring(0, responseText.length - 1).trim();\n}\n\n// Clean response - AGGRESSIVE branding removal\nresponseText = responseText\n  .replace(/\\[Used tools:.*?\\]/g, '')\n  .replace(/\\[Tool:.*?\\]/g, '')\n  .replace(/\\*\\*(.*?)\\*\\*/g, '*$1*')\n  .replace(/__(.*?)__/g, '_$1_')\n  .replace(/Powered by Rensto\\.com/gi, '')\n  .replace(/_Powered by Rensto\\.com_/gi, '')\n  .replace(/\\n\\n_Powered by Rensto\\.com_/g, '')\n  .replace(/\\nPowered by Rensto\\.com/gi, '')\n  .replace(/Powered by Rensto/gi, '')\n  .replace(/rensto\\.com/gi, '')\n  .trim();\n\nif (!responseText) {\n  responseText = 'I apologize, but I need more information to help you. Could you please provide more details?';\n}\n\n// CRITICAL: DO NOT ADD BRANDING - Removed the line that was adding it\n\n// Final check - if still no userId, use default and log warning\nif (!userId) {\n  console.log('[Process AI Response] \u26a0\ufe0f\u26a0\ufe0f\u26a0\ufe0f CRITICAL: userId missing after all fallbacks!');\n  userId = 'unknown';\n}\n\n// CRITICAL: Ensure requiresVoice is explicitly boolean false for text messages\n// If requiresVoiceResponse was not true, it must be false\nif (requiresVoice !== true) {\n  requiresVoice = false;\n}\n\nconsole.log('[Process AI Response] ===== FINAL OUTPUT =====');\nconsole.log('  userId:', userId);\nconsole.log('  messageId:', messageId);\nconsole.log('  requiresVoice:', requiresVoice, '(type:', typeof requiresVoice, ')');\nconsole.log('  source:', source);\nconsole.log('  responseText length:', responseText.length);\nconsole.log('  responseText preview:', responseText.substring(0, 100));\nconsole.log('==========================================');\n\nreturn [{\n  json: {\n    responseText: responseText,\n    userId: userId,\n    messageId: messageId,\n    requiresVoice: requiresVoice, // CRITICAL: Must be boolean false for text messages\n    source: source,\n    timestamp: new Date().toISOString()\n  }\n}];",
                    "notice": ""
                },
                "id": "0bd9c716-8312-49b4-9d11-8574c438e2ad",
                "name": "Process AI Response",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    1408,
                    -968
                ]
            },
            {
                "parameters": {
                    "mode": "runOnceForAllItems",
                    "language": "javaScript",
                    "jsCode": "// Send text message via WAHA - Enhanced error handling and logging\nconst wahaUrl = 'http://173.254.201.134:3000';\nconst apiKey = '4fc7e008d7d24fc995475029effc8fa8';\nconst sessionId = 'rensto-support';\n\nconst chatId = $json.userId;\nconst text = $json.responseText;\nconst replyTo = $json.messageId;\n\nconsole.log('[Send Text] ===== STARTING TEXT MESSAGE SEND =====');\nconsole.log('[Send Text] chatId:', chatId);\nconsole.log('[Send Text] text length:', text ? text.length : 0);\nconsole.log('[Send Text] replyTo:', replyTo);\nconsole.log('[Send Text] Full input:', JSON.stringify($json, null, 2));\n\nif (!chatId || !text) {\n  const errorMsg = 'Missing required data for text message. chatId: ' + (chatId || 'MISSING') + ', text: ' + (text ? 'EXISTS' : 'MISSING');\n  console.error('[Send Text] \u274c', errorMsg);\n  // CRITICAL: Don't throw - return error so workflow can continue and we can see the issue\n  return [{\n    json: {\n      success: false,\n      error: errorMsg,\n      messageType: 'text',\n      sentAt: new Date().toISOString()\n    }\n  }];\n}\n\n// Build request body - only include reply_to if it exists\nconst requestBody = {\n  session: sessionId,\n  chatId: chatId,\n  text: text\n};\n\nif (replyTo) {\n  requestBody.reply_to = replyTo;\n}\n\nconsole.log('[Send Text] Request body:', JSON.stringify(requestBody, null, 2));\nconsole.log('[Send Text] Calling WAHA API:', wahaUrl + '/api/sendText');\n\ntry {\n  const response = await this.helpers.httpRequest({\n    method: 'POST',\n    url: wahaUrl + '/api/sendText',\n    headers: {\n      'x-api-key': apiKey,\n      'Content-Type': 'application/json'\n    },\n    body: requestBody,\n    timeout: 30000,\n    json: true\n  });\n  \n  console.log('[Send Text] \u2705 SUCCESS - Response:', JSON.stringify(response, null, 2));\n  \n  return [{\n    json: {\n      success: true,\n      messageType: 'text',\n      sentAt: new Date().toISOString(),\n      response: response\n    }\n  }];\n} catch (error) {\n  console.error('[Send Text] \u274c ERROR DETAILS:');\n  console.error('  Error message:', error.message);\n  console.error('  Status code:', error.statusCode);\n  console.error('  Response:', error.response ? JSON.stringify(error.response.data || error.response, null, 2) : 'No response');\n  console.error('  Request URL:', wahaUrl + '/api/sendText');\n  console.error('  Request body:', JSON.stringify(requestBody, null, 2));\n  \n  // CRITICAL: Don't throw - return error info so workflow can continue\n  return [{\n    json: {\n      success: false,\n      error: error.message,\n      statusCode: error.statusCode,\n      messageType: 'text',\n      sentAt: new Date().toISOString(),\n      errorDetails: error.response ? error.response.data : null\n    }\n  }];\n}",
                    "notice": ""
                },
                "id": "78bd4a8d-88b5-43c4-bbe9-23b6dba0835b",
                "name": "Send Text Message",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    2752,
                    -776
                ]
            },
            {
                "parameters": {
                    "mode": "runOnceForAllItems",
                    "language": "javaScript",
                    "jsCode": "// Log conversation for analytics\nconst messageData = $input.all().map(item => item.json);\n\nconst logEntry = {\n  timestamp: new Date().toISOString(),\n  conversations: messageData.map(msg => ({\n    userId: msg.userId || 'unknown',\n    messageType: msg.messageType || 'text',\n    responseTime: msg.timestamp || new Date().toISOString(),\n    success: msg.success || false\n  }))\n};\n\nconsole.log('[Analytics] Logged:', logEntry);\n\nreturn [{ json: logEntry }];",
                    "notice": ""
                },
                "id": "78c6282f-f253-477d-98b3-ce2ecd42441c",
                "name": "Log Analytics",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    2976,
                    -872
                ]
            },
            {
                "parameters": {
                    "mode": "runOnceForAllItems",
                    "language": "javaScript",
                    "jsCode": "// Normalize HTTP webhook input to match WAHA format\nconst httpInput = $input.item.json;\n\nconst question = httpInput.body?.question || \n                 httpInput.body?.text || \n                 httpInput.body?.message || \n                 httpInput.question || \n                 httpInput.text || \n                 httpInput.message || '';\n\nconst sessionId = httpInput.body?.sessionId || \n                  httpInput.body?.session_id || \n                  httpInput.body?.from || \n                  httpInput.sessionId || \n                  httpInput.session_id || \n                  'webhook-user';\n\nreturn {\n  json: {\n    event: 'message',\n    payload: {\n      from: sessionId,\n      body: question,\n      conversation: question,\n      id: `webhook-${Date.now()}-${Math.random().toString(36).substr(2, 9)}`,\n      hasMedia: false,\n      timestamp: Date.now(),\n      _data: { message: {} }\n    },\n    source: 'http-webhook'\n  }\n};",
                    "notice": ""
                },
                "id": "a7acb85c-3e08-4115-929d-ff3746ba3d92",
                "name": "Normalize HTTP Input",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    -1872,
                    -1112
                ]
            },
            {
                "parameters": {
                    "multipleMethods": false,
                    "httpMethod": "POST",
                    "path": "rensto-support-api",
                    "authentication": "none",
                    "responseMode": "onReceived",
                    "contentTypeNotice": "",
                    "options": {}
                },
                "type": "n8n-nodes-base.webhook",
                "typeVersion": 2.1,
                "position": [
                    -2096,
                    -1112
                ],
                "id": "e18ca186-9c52-4e8a-97b6-9503a55cd2e8",
                "name": "Webhook",
                "webhookId": "70828a52-f4f8-46c4-a69d-dea1be0bc8bc"
            },
            {
                "parameters": {
                    "mode": "rules",
                    "rules": {
                        "values": [
                            {
                                "conditions": {
                                    "options": {
                                        "caseSensitive": true,
                                        "leftValue": "",
                                        "typeValidation": "loose",
                                        "version": 2
                                    },
                                    "conditions": [
                                        {
                                            "leftValue": "={{ $json.messageType }}",
                                            "rightValue": "voice",
                                            "operator": {
                                                "type": "string",
                                                "operation": "equals"
                                            }
                                        }
                                    ],
                                    "combinator": "and"
                                },
                                "renameOutput": true,
                                "outputKey": "voice"
                            },
                            {
                                "conditions": {
                                    "options": {
                                        "caseSensitive": true,
                                        "leftValue": "",
                                        "typeValidation": "loose",
                                        "version": 2
                                    },
                                    "conditions": [
                                        {
                                            "leftValue": "={{ $json.messageType }}",
                                            "rightValue": "image",
                                            "operator": {
                                                "type": "string",
                                                "operation": "equals"
                                            }
                                        }
                                    ],
                                    "combinator": "and"
                                },
                                "renameOutput": true,
                                "outputKey": "image"
                            },
                            {
                                "conditions": {
                                    "options": {
                                        "caseSensitive": true,
                                        "leftValue": "",
                                        "typeValidation": "loose",
                                        "version": 2
                                    },
                                    "conditions": [
                                        {
                                            "leftValue": "={{ $json.messageType }}",
                                            "rightValue": "document",
                                            "operator": {
                                                "type": "string",
                                                "operation": "equals"
                                            }
                                        }
                                    ],
                                    "combinator": "and"
                                },
                                "renameOutput": true,
                                "outputKey": "document"
                            },
                            {
                                "conditions": {
                                    "options": {
                                        "caseSensitive": true,
                                        "leftValue": "",
                                        "typeValidation": "loose",
                                        "version": 2
                                    },
                                    "conditions": [
                                        {
                                            "leftValue": "={{ $json.messageType }}",
                                            "rightValue": "video",
                                            "operator": {
                                                "type": "string",
                                                "operation": "equals"
                                            }
                                        }
                                    ],
                                    "combinator": "and"
                                },
                                "renameOutput": true,
                                "outputKey": "video"
                            },
                            {
                                "conditions": {
                                    "options": {
                                        "caseSensitive": true,
                                        "leftValue": "",
                                        "typeValidation": "loose",
                                        "version": 2
                                    },
                                    "conditions": [
                                        {
                                            "leftValue": "={{ $json.messageType }}",
                                            "rightValue": "text",
                                            "operator": {
                                                "type": "string",
                                                "operation": "equals"
                                            }
                                        }
                                    ],
                                    "combinator": "and"
                                },
                                "renameOutput": true,
                                "outputKey": "text"
                            }
                        ]
                    },
                    "looseTypeValidation": true,
                    "options": {}
                },
                "type": "n8n-nodes-base.switch",
                "typeVersion": 3.3,
                "position": [
                    -1648,
                    -824
                ],
                "id": "247edf5f-958b-4a49-9cf5-78e4499f6386",
                "name": "Message Type Router"
            },
            {
                "parameters": {
                    "preBuiltAgentsCalloutHttpRequest": "",
                    "curlImport": "",
                    "method": "GET",
                    "url": "={{ $json.mediaUrl }}",
                    "authentication": "none",
                    "provideSslCertificates": false,
                    "sendQuery": false,
                    "sendHeaders": true,
                    "specifyHeaders": "keypair",
                    "headerParameters": {
                        "parameters": [
                            {
                                "name": "x-api-key",
                                "value": "4fc7e008d7d24fc995475029effc8fa8"
                            }
                        ]
                    },
                    "sendBody": false,
                    "options": {
                        "response": {
                            "response": {
                                "fullResponse": false,
                                "neverError": false,
                                "responseFormat": "file",
                                "outputPropertyName": "data"
                            }
                        },
                        "timeout": 15000
                    },
                    "infoMessage": ""
                },
                "type": "n8n-nodes-base.httpRequest",
                "typeVersion": 4.3,
                "position": [
                    -1216,
                    -976
                ],
                "id": "da1ea947-cc3e-408f-8dde-6e250f4b5f22",
                "name": "Download Voice",
                "onError": "continueErrorOutput"
            },
            {
                "parameters": {
                    "conditions": {
                        "options": {
                            "version": 2,
                            "leftValue": "",
                            "caseSensitive": true,
                            "typeValidation": "strict"
                        },
                        "conditions": [
                            {
                                "id": "48e5d108-a6e6-4517-b0a6-33f95d454054",
                                "leftValue": "={{ $json.source }}",
                                "rightValue": "http-webhook",
                                "operator": {
                                    "type": "string",
                                    "operation": "equals",
                                    "name": "filter.operator.equals"
                                }
                            }
                        ],
                        "combinator": "and"
                    },
                    "looseTypeValidation": false,
                    "options": {}
                },
                "type": "n8n-nodes-base.if",
                "typeVersion": 2.2,
                "position": [
                    1856,
                    -968
                ],
                "id": "9bf5d527-3d1b-45d6-862a-d97357d97d77",
                "name": "Check Response Source"
            },
            {
                "parameters": {
                    "conditions": {
                        "options": {
                            "version": 2,
                            "leftValue": "",
                            "caseSensitive": true,
                            "typeValidation": "strict"
                        },
                        "conditions": [
                            {
                                "id": "48e5d108-a6e6-4517-b0a6-33f95d454054",
                                "leftValue": "={{ $json.requiresVoice }}",
                                "rightValue": "",
                                "operator": {
                                    "type": "boolean",
                                    "operation": "true",
                                    "singleValue": true
                                }
                            }
                        ],
                        "combinator": "and"
                    },
                    "looseTypeValidation": false,
                    "options": {}
                },
                "type": "n8n-nodes-base.if",
                "typeVersion": 2.2,
                "position": [
                    2080,
                    -872
                ],
                "id": "7fa56e8e-a010-45e7-885c-d2d1008f3f06",
                "name": "Voice Response Check"
            },
            {
                "parameters": {
                    "enableResponseOutput": false,
                    "generalNotice": "",
                    "respondWith": "json",
                    "webhookNotice": "",
                    "responseBody": "={{ JSON.stringify({ success: true, response: $json.responseText, messageId: $json.messageId, timestamp: $json.timestamp }) }}",
                    "options": {
                        "responseCode": 200,
                        "responseHeaders": {
                            "entries": [
                                {
                                    "name": "Content-Type",
                                    "value": "application/json"
                                }
                            ]
                        }
                    }
                },
                "type": "n8n-nodes-base.respondToWebhook",
                "typeVersion": 1.4,
                "position": [
                    2080,
                    -1064
                ],
                "id": "e9e1bede-5030-4cdd-93ab-39b43629669f",
                "name": "Respond to Webhook"
            },
            {
                "parameters": {
                    "resource": "speech",
                    "operation": "textToSpeech",
                    "voice": {
                        "__rl": true,
                        "value": "fkQDt886xMbusUJ9weAC",
                        "mode": "id"
                    },
                    "text": "={{ $json.responseText }}",
                    "additionalOptions": {
                        "model": {
                            "__rl": true,
                            "value": "eleven_v3",
                            "mode": "list",
                            "cachedResultName": "Eleven v3 (alpha)"
                        },
                        "outputFormat": "opus_48000_192"
                    },
                    "requestOptions": {}
                },
                "type": "@elevenlabs/n8n-nodes-elevenlabs.elevenLabs",
                "typeVersion": 1,
                "position": [
                    2304,
                    -968
                ],
                "id": "5469fc85-18c3-4415-bbd5-bd1baca414b7",
                "name": "Convert text to speech",
                "credentials": {
                    "elevenLabsApi": {
                        "id": "yEEqLVMzOlo1L0xI",
                        "name": "ElevenLabs account"
                    }
                }
            },
            {
                "parameters": {
                    "mode": "manual",
                    "duplicateItem": false,
                    "assignments": {},
                    "includeOtherFields": false,
                    "options": {}
                },
                "id": "44805e33-92a4-470b-a377-1cfe7892559c",
                "name": "Set Store Name and Extract Text1",
                "type": "n8n-nodes-base.set",
                "typeVersion": 3.4,
                "position": [
                    -80,
                    -968
                ]
            },
            {
                "parameters": {
                    "mode": "runOnceForAllItems",
                    "language": "javaScript",
                    "jsCode": "// Merge Transcription Metadata - Store userId in static data (CRITICAL for Process AI Response)\nlet staticData;\ntry {\n  staticData = this.getWorkflowStaticData('global');\n} catch (error) {\n  staticData = {};\n}\n\nconst data = { ...(typeof $json === 'object' ? $json : {}) };\n\n// Normalize store name\nconst normalizeStore = (store) => {\n  if (!store) return 'fileSearchStores/rensto-knowledge-base-ndf9fmymwb2p';\n  const cleaned = store.replace(/^fileSearchStores\\//, '');\n  return `fileSearchStores/${cleaned}`;\n};\n\nconst normalizedStore = normalizeStore(data.store_name);\n\n// Store in workflow static data so Search Knowledge Base tool can access it\nstaticData.googleStoreName = normalizedStore;\n\n// CRITICAL: Store userId in static data (AI Agent will lose it)\nif (data.designer_phone || data.userId) {\n  const userId = data.designer_phone || data.userId;\n  const messageId = data.original_message_id || data.messageId || '';\n  const requiresVoice = data.message_type === 'ptt' || data.requiresVoiceResponse || false;\n  const source = data.source || 'waha';\n  \n  // Store in static data for Process AI Response to access\n  if (!staticData.lastMessageMetadata) {\n    staticData.lastMessageMetadata = {};\n  }\n  staticData.lastMessageMetadata.userId = userId;\n  staticData.lastMessageMetadata.messageId = messageId;\n  staticData.lastMessageMetadata.requiresVoiceResponse = requiresVoice;\n  staticData.lastMessageMetadata.source = source;\n  staticData.lastMessageMetadata.sessionId = data.sessionId || userId;\n  \n  console.log('[Merge Transcription] \u2705 Stored userId in static data:', userId);\n  console.log('[Merge Transcription] Static data keys:', Object.keys(staticData).join(', '));\n} else {\n  console.log('[Merge Transcription] \u26a0\ufe0f No userId found in data:', Object.keys(data).join(', '));\n}\n\n// CRITICAL: Extract question from ALL possible sources\nconst question = (\n  data.question ||\n  data.text ||\n  data.transcript ||\n  data.transcription ||\n  data.output ||\n  data.message_text ||\n  data.processedText ||\n  data.textContent ||\n  ''\n).trim();\n\nif (!question) {\n  throw new Error('Missing question/text in Merge Transcription Metadata');\n}\n\nreturn {\n  json: {\n    ...data,\n    store_name: normalizedStore,\n    message_text: question,\n    question: question, // CRITICAL: Ensure question is set\n    message_type: data.message_type || (data.requiresVoiceResponse ? 'ptt' : 'text'),\n    userId: data.designer_phone || data.userId || '',\n    messageId: data.original_message_id || data.messageId || ''\n  }\n};",
                    "notice": ""
                },
                "id": "14b03ea7-e581-4a7a-8615-1b8eab620c55",
                "name": "Merge Transcription Metadata",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    144,
                    -968
                ]
            },
            {
                "parameters": {
                    "mode": "runOnceForAllItems",
                    "language": "javaScript",
                    "jsCode": "// Debug Voice Routing - Log routing decision and ensure boolean\nconst input = $json || {};\n\nconsole.log('\\n[Debug Voice Routing] ===== ROUTING DECISION =====');\nconsole.log('  requiresVoice (raw):', input.requiresVoice, '(type:', typeof input.requiresVoice, ')');\nconsole.log('  userId:', input.userId);\nconsole.log('  messageId:', input.messageId);\nconsole.log('  responseText length:', input.responseText ? input.responseText.length : 0);\nconsole.log('  responseText preview:', input.responseText ? input.responseText.substring(0, 100) : 'NONE');\nconsole.log('  source:', input.source);\nconsole.log('  Full input keys:', Object.keys(input).join(', '));\n\n// CRITICAL: Ensure requiresVoice is explicitly boolean\n// Convert any truthy/falsy value to explicit boolean\nlet requiresVoice = false;\nif (input.requiresVoice === true || input.requiresVoice === 'true' || input.requiresVoice === 1) {\n  requiresVoice = true;\n} else {\n  requiresVoice = false; // Explicitly set to false for text messages\n}\n\nconsole.log('  Final requiresVoice (boolean):', requiresVoice, '(type:', typeof requiresVoice, ')');\nconsole.log('  Will route to:', requiresVoice ? 'VOICE (Convert text to speech)' : 'TEXT (Send Text Message)');\nconsole.log('==========================================\\n');\n\n// CRITICAL: Return all input fields plus explicit boolean requiresVoice\nreturn [{\n  json: {\n    responseText: input.responseText || '',\n    userId: input.userId || '',\n    messageId: input.messageId || '',\n    requiresVoice: requiresVoice, // CRITICAL: Explicit boolean (false for text, true for voice)\n    source: input.source || 'waha',\n    timestamp: input.timestamp || new Date().toISOString()\n  }\n}];",
                    "notice": ""
                },
                "id": "4a7ce5f1-8542-496a-8d99-da92bb5475c8",
                "name": "Debug Voice Routing",
                "type": "n8n-nodes-base.code",
                "typeVersion": 1,
                "position": [
                    1632,
                    -968
                ]
            },
            {
                "parameters": {
                    "preBuiltAgentsCalloutHttpRequest": "",
                    "curlImport": "",
                    "method": "GET",
                    "url": "={{ $json.mediaUrl }}",
                    "authentication": "none",
                    "provideSslCertificates": false,
                    "sendQuery": false,
                    "sendHeaders": true,
                    "specifyHeaders": "keypair",
                    "headerParameters": {
                        "parameters": [
                            {
                                "name": "x-api-key",
                                "value": "4fc7e008d7d24fc995475029effc8fa8"
                            }
                        ]
                    },
                    "sendBody": false,
                    "options": {
                        "response": {
                            "response": {
                                "fullResponse": false,
                                "neverError": false,
                                "responseFormat": "file",
                                "outputPropertyName": "data"
                            }
                        },
                        "timeout": 60000
                    },
                    "infoMessage": ""
                },
                "id": "5bc1e135-c412-4509-b844-54d8854dfee3",
                "name": "Download Video",
                "type": "n8n-nodes-base.httpRequest",
                "typeVersion": 4.3,
                "position": [
                    -1200,
                    -632
                ],
                "onError": "continueRegularOutput"
            },
            {
                "parameters": {
                    "preBuiltAgentsCalloutHttpRequest": "",
                    "curlImport": "",
                    "method": "GET",
                    "url": "={{ $json.mediaUrl }}",
                    "authentication": "none",
                    "provideSslCertificates": false,
                    "sendQuery": false,
                    "sendHeaders": true,
                    "specifyHeaders": "keypair",
                    "headerParameters": {
                        "parameters": [
                            {
                                "name": "x-api-key",
                                "value": "4fc7e008d7d24fc995475029effc8fa8"
                            }
                        ]
                    },
                    "sendBody": false,
                    "options": {
                        "response": {
                            "response": {
                                "fullResponse": false,
                                "neverError": false,
                                "responseFormat": "file",
                                "outputPropertyName": "data"
                            }
                        },
                        "timeout": 60000
                    },
                    "infoMessage": ""
                },
                "id": "9cbc15a4-117d-4926-9aba-be3dbd0d16e5",
                "name": "Download Document",
                "type": "n8n-nodes-base.httpRequest",
                "typeVersion": 4.3,
                "position": [
                    -1200,
                    -440
                ],
                "onError": "continueRegularOutput"
            },
            {
                "parameters": {
                    "mode": "runOnceForAllItems",
                    "language": "javaScript",
                    "jsCode": "// Merge Gemini analysis with metadata from Message Type Router\n// CRITICAL: Preserve ALL metadata for Process Media Context (after Guardrails)\nconst geminiOutput = $json.output || $json.text || $json.response || '';\nconst routerData = $node['Message Type Router'].json || {};\n\nreturn {\n  json: {\n    // Preserve ALL metadata from Message Type Router\n    userId: routerData.userId,\n    messageId: routerData.messageId,\n    messageType: 'image',\n    textContent: routerData.textContent || '',\n    caption: routerData.textContent || '',\n    mediaUrl: routerData.mediaUrl,\n    source: routerData.source,\n    timestamp: routerData.timestamp,\n    \n    // Gemini analysis output (will be sanitized by Guardrails)\n    output: geminiOutput,\n    analysis: geminiOutput,\n    text: geminiOutput,\n    \n    // For Process Media Context to extract original question\n    processedText: routerData.textContent || geminiOutput || 'What can you help me with this image?'\n  }\n};",
                    "notice": ""
                },
                "id": "9b88be15-a06d-4a67-916b-f86cdd02f3d5",
                "name": "Merge Image Analysis",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    -976,
                    -1232
                ]
            },
            {
                "parameters": {
                    "mode": "runOnceForAllItems",
                    "language": "javaScript",
                    "jsCode": "// Merge Gemini analysis with metadata from Message Type Router\nconst geminiOutput = $json.output || $json.text || $json.response || '';\nconst routerData = $node['Message Type Router'].json || {};\n\nreturn {\n  json: {\n    userId: routerData.userId,\n    messageId: routerData.messageId,\n    messageType: 'video',\n    textContent: routerData.textContent || '',\n    caption: routerData.textContent || '',\n    mediaUrl: routerData.mediaUrl,\n    source: routerData.source,\n    timestamp: routerData.timestamp,\n    output: geminiOutput,\n    analysis: geminiOutput,\n    processedText: routerData.textContent || geminiOutput || 'What can you help me with this video?'\n  }\n};",
                    "notice": ""
                },
                "id": "509f0a7b-d177-4558-b536-87460db6b54d",
                "name": "Merge Video Analysis",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    -752,
                    -632
                ]
            },
            {
                "parameters": {
                    "mode": "runOnceForAllItems",
                    "language": "javaScript",
                    "jsCode": "// Merge Gemini analysis with metadata from Message Type Router\nconst geminiOutput = $json.output || $json.text || $json.response || '';\nconst routerData = $node['Message Type Router'].json || {};\n\nreturn {\n  json: {\n    userId: routerData.userId,\n    messageId: routerData.messageId,\n    messageType: 'document',\n    textContent: routerData.textContent || '',\n    caption: routerData.textContent || '',\n    mediaUrl: routerData.mediaUrl,\n    source: routerData.source,\n    timestamp: routerData.timestamp,\n    output: geminiOutput,\n    analysis: geminiOutput,\n    processedText: routerData.textContent || geminiOutput || 'What can you help me with this document?'\n  }\n};",
                    "notice": ""
                },
                "id": "9d90f94d-b8d5-496a-a85d-5f5ec4082fd0",
                "name": "Merge Document Analysis",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    -752,
                    -440
                ]
            },
            {
                "parameters": {
                    "notice": "",
                    "model": {
                        "__rl": true,
                        "value": "chatgpt-4o-latest",
                        "mode": "list",
                        "cachedResultName": "chatgpt-4o-latest"
                    },
                    "responsesApiEnabled": true,
                    "builtInTools": {},
                    "options": {
                        "maxTokens": 1024,
                        "temperature": 0.3
                    }
                },
                "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
                "typeVersion": 1.3,
                "position": [
                    440,
                    -744
                ],
                "id": "a2ba2dd7-aa3d-42f2-b683-93393bf56067",
                "name": "OpenAI Chat Model",
                "credentials": {
                    "openAiApi": {
                        "id": "0sXFXYfqiDEKuDcN",
                        "name": "service@rensto.com"
                    }
                }
            },
            {
                "parameters": {
                    "guardrailsUsage": "",
                    "operation": "sanitize",
                    "text": "={{ $json.output || $json.analysis || $json.text || \"\" }}",
                    "guardrails": {
                        "pii": {
                            "value": {
                                "type": "all"
                            }
                        },
                        "secretKeys": {
                            "value": {
                                "permissiveness": "balanced"
                            }
                        },
                        "urls": {
                            "value": {
                                "allowedUrls": "",
                                "allowedSchemes": [
                                    "https",
                                    "http"
                                ],
                                "blockUserinfo": true,
                                "allowSubdomains": true
                            }
                        }
                    }
                },
                "type": "@n8n/n8n-nodes-langchain.guardrails",
                "typeVersion": 1,
                "position": [
                    -752,
                    -1232
                ],
                "id": "26c5a8b4-e282-4dde-9806-67c14a06a275",
                "name": "Guardrails"
            },
            {
                "parameters": {
                    "guardrailsUsage": "",
                    "operation": "checkTextForViolations",
                    "text": "={{ $json.question || \"\" }}",
                    "guardrails": {}
                },
                "type": "@n8n/n8n-nodes-langchain.guardrails",
                "typeVersion": 1,
                "position": [
                    368,
                    -968
                ],
                "id": "ea6375ff-3ae7-4646-895a-5aeaa48eef01",
                "name": "Guardrails1"
            },
            {
                "parameters": {
                    "conditions": {
                        "boolean": [
                            {
                                "value1": "={{ $node['Prepare AI Input'].json.hasImageAnalysis === true }}",
                                "operation": "equal",
                                "value2": true
                            }
                        ]
                    },
                    "combineOperation": "all"
                },
                "id": "7b5431e1-7a13-4398-997a-9907e19b45e7",
                "name": "Image Analysis Switch",
                "type": "n8n-nodes-base.if",
                "typeVersion": 1,
                "position": [
                    720,
                    -968
                ]
            },
            {
                "parameters": {
                    "mode": "runOnceForAllItems",
                    "language": "javaScript",
                    "jsCode": "// Generate deterministic response directly from stored image analysis.\nconst prepareData = $node['Prepare AI Input'].json || {};\nconst processData = $node['Process Media Context'].json || {};\nconst mergeData = $node['Merge Image Analysis'].json || {};\n\nconst getText = (value) => {\n  if (value === undefined || value === null) return '';\n  return String(value).trim();\n};\n\nconst question = getText(\n  processData.originalQuestion ||\n  processData.originalCaption ||\n  prepareData.question ||\n  prepareData.caption ||\n  mergeData.caption ||\n  'this image'\n);\n\nconst analysis = getText(\n  processData.imageAnalysis ||\n  processData.geminiAnalysis ||\n  prepareData.imageAnalysis ||\n  mergeData.analysis ||\n  ''\n);\n\nconst containsHebrew = (text) => /[\\u0590-\\u05FF]/.test(text || '');\nconst useHebrew = containsHebrew(question) || containsHebrew(analysis);\n\nlet response;\nif (analysis) {\n  response = useHebrew\n    ? `\u2705 \u05db\u05df, \u05d0\u05e0\u05d9 \u05e8\u05d5\u05d0\u05d4 \u05d0\u05ea \u05d4\u05ea\u05de\u05d5\u05e0\u05d4 \u05d5\u05e9\u05de\u05ea\u05d9 \u05dc\u05d1 \u05dc\u05d1\u05d0\u05d9\u05dd:\\n${analysis}`\n    : `\u2705 Yes, I can see the image. Here is what I observe:\\n${analysis}`;\n} else {\n  response = useHebrew\n    ? '\u2705 \u05db\u05df, \u05e7\u05d9\u05d1\u05dc\u05ea\u05d9 \u05d0\u05ea \u05d4\u05ea\u05de\u05d5\u05e0\u05d4 \u05d0\u05da \u05dc\u05d0 \u05e0\u05de\u05e6\u05d0 \u05d8\u05e7\u05e1\u05d8 \u05e0\u05d9\u05ea\u05d5\u05d7. \u05d0\u05e0\u05d0 \u05e9\u05dc\u05d7 \u05e9\u05d5\u05d1 \u05d0\u05d5 \u05d4\u05e1\u05d1\u05e8 \u05de\u05d4 \u05ea\u05e8\u05e6\u05d4 \u05e9\u05e0\u05d1\u05d3\u05d5\u05e7.'\n    : '\u2705 I received your image but the analysis data was empty. Please resend it or tell me what you need help with.';\n}\n\nreturn [{\n  json: {\n    ...processData,\n    ...prepareData,\n    output: response,\n    responseText: response,\n    answeredFromImageAnalysis: analysis.length > 0\n  }\n}];",
                    "notice": ""
                },
                "id": "0c40ab50-3afb-4136-8608-a2913d7b1c02",
                "name": "Image Analysis Responder",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    1064,
                    -1116
                ]
            },
            {
                "parameters": {
                    "mode": "runOnceForAllItems",
                    "language": "javaScript",
                    "jsCode": "// Send Voice Message - Get userId from Process AI Response or static data\nconst wahaUrl = 'http://173.254.201.134:3000';\nconst apiKey = '4fc7e008d7d24fc995475029effc8fa8';\nconst sessionId = 'rensto-support';\n\n// Get from Process AI Response (primary source)\nconst aiResponse = $items('Process AI Response', 0, 0)?.json || $json || {};\n\n// Get from global static data (fallback)\nlet staticData;\ntry {\n  staticData = this.getWorkflowStaticData('global');\n} catch (error) {\n  staticData = {};\n}\n\nconst chatId = aiResponse.userId || (staticData?.lastMessageMetadata?.userId) || '';\nconst replyTo = aiResponse.messageId || (staticData?.lastMessageMetadata?.messageId) || '';\n\n// Get binary audio from ElevenLabs TTS node\nlet base64Audio = $binary?.data?.data;\nif (!base64Audio) {\n  const ttsItem = $items('Convert text to speech', 0, 0);\n  if (ttsItem?.binary?.data?.data) {\n    base64Audio = ttsItem.binary.data.data;\n  }\n}\n\nif (!chatId) {\n  throw new Error(`Missing userId. AI Response: ${JSON.stringify(aiResponse)}, StaticData: ${JSON.stringify(staticData?.lastMessageMetadata || {})}`);\n}\n\nif (!base64Audio) {\n  throw new Error('Voice audio payload not found from Convert text to speech node');\n}\n\ntry {\n  const response = await this.helpers.httpRequest({\n    method: 'POST',\n    url: `${wahaUrl}/api/sendVoice`,\n    headers: {\n      'x-api-key': apiKey,\n      'Content-Type': 'application/json'\n    },\n    body: {\n      session: sessionId,\n      chatId,\n      file: {\n        mimetype: 'audio/opus',\n        filename: 'response.opus',\n        data: base64Audio,\n      },\n      reply_to: replyTo,\n    },\n    timeout: 60000,\n    json: true,\n  });\n  \n  return [{ json: { success: true, messageType: 'voice', sentAt: new Date().toISOString(), response } }];\n} catch (error) {\n  console.error('[Send Voice] Error:', error.message);\n  return [{ json: { success: false, error: error.message, messageType: 'voice', sentAt: new Date().toISOString() } }];\n}",
                    "notice": ""
                },
                "id": "e4a63886-2ef7-402f-9b37-c98802f8144f",
                "name": "js",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    2752,
                    -968
                ]
            },
            {
                "parameters": {
                    "resource": "Chatting",
                    "operation": "Send Voice",
                    "session": "={{ $json.session }}",
                    "chatId": "={{ $json.payload.from }}",
                    "file": "{\n  \"mimetype\": \"audio/ogg; codecs=opus\",\n  \"url\": \"https://github.com/devlikeapro/waha/raw/core/examples/dev.likeapro.opus\"\n}",
                    "reply_to": "",
                    "requestOptions": {}
                },
                "type": "@devlikeapro/n8n-nodes-waha.WAHA",
                "typeVersion": 202502,
                "position": [
                    2528,
                    -968
                ],
                "id": "5d2edb25-69f5-4b8c-a5d5-020c72434591",
                "name": "Send Voice Message",
                "credentials": {
                    "wahaApi": {
                        "id": "px3TLR7BGl3MVW7Y",
                        "name": "WAHA account"
                    }
                }
            },
            {
                "parameters": {
                    "resource": "Chatting",
                    "operation": "Send Text",
                    "session": "={{ $json.session }}",
                    "chatId": "={{ $json.payload.from }}",
                    "reply_to": "",
                    "text": "Hi there!",
                    "linkPreview": true,
                    "requestOptions": {}
                },
                "type": "@devlikeapro/n8n-nodes-waha.WAHA",
                "typeVersion": 202502,
                "position": [
                    2528,
                    -776
                ],
                "id": "a98566ed-9f70-4d38-a825-18229a517c4d",
                "name": "Send a text message",
                "credentials": {
                    "wahaApi": {
                        "id": "px3TLR7BGl3MVW7Y",
                        "name": "WAHA account"
                    }
                }
            },
            {
                "parameters": {
                    "resource": "document",
                    "operation": "analyze",
                    "modelId": {
                        "__rl": true,
                        "value": "claude-3-5-sonnet-20241022",
                        "mode": "list",
                        "cachedResultName": "claude-3-5-sonnet-20241022"
                    },
                    "text": "Analyze this document in detail. Extract all visible text, identify the document type (e.g., invoice, contract, form), and summarize the key information (dates, names, amounts, specific clauses). If it is a form, list the filled-in fields.",
                    "inputType": "binary",
                    "binaryPropertyName": "data",
                    "simplify": true,
                    "options": {}
                },
                "type": "@n8n/n8n-nodes-langchain.anthropic",
                "typeVersion": 1,
                "position": [
                    -976,
                    -440
                ],
                "id": "e8f8c3ca-10a7-4eb8-8b4c-6d206f0f772d",
                "name": "Analyze document",
                "credentials": {
                    "anthropicApi": {
                        "id": "bOftv5dScq3IjYQQ",
                        "name": "Anthropic account"
                    }
                }
            },
            {
                "parameters": {
                    "resource": "video",
                    "operation": "analyze",
                    "modelId": {
                        "__rl": true,
                        "value": "models/gemini-1.5-pro",
                        "mode": "list",
                        "cachedResultName": "models/gemini-1.5-pro"
                    },
                    "text": "Analyze this video. Describe the visual content, the setting, and the main actions taking place. If there is audio, summarize the speech. If there is visible text, extract it.",
                    "inputType": "binary",
                    "binaryPropertyName": "data",
                    "simplify": true,
                    "options": {}
                },
                "type": "@n8n/n8n-nodes-langchain.googleGemini",
                "typeVersion": 1,
                "position": [
                    -976,
                    -632
                ],
                "id": "9f4f133e-03cb-4433-bb6c-c9ec89e1c217",
                "name": "Analyze video",
                "credentials": {
                    "googlePalmApi": {
                        "id": "6UgFlgar0aCiXKdm",
                        "name": "Google Gemini(PaLM) Api superseller"
                    }
                }
            },
            {
                "parameters": {
                    "resource": "audio",
                    "operation": "transcribe",
                    "fileSizeLimitNotice": " ",
                    "binaryPropertyName": "data",
                    "options": {}
                },
                "type": "@n8n/n8n-nodes-langchain.openAi",
                "typeVersion": 2,
                "position": [
                    -528,
                    -1040
                ],
                "id": "c39048c3-4d2f-4589-8750-4019a4b15be8",
                "name": "Transcribe Voice",
                "credentials": {
                    "openAiApi": {
                        "id": "0sXFXYfqiDEKuDcN",
                        "name": "service@rensto.com"
                    }
                }
            },
            {
                "parameters": {
                    "mode": "runOnceForAllItems",
                    "language": "javaScript",
                    "jsCode": "// Guardrails: Check video file size\nconst maxSizeMB = 15;\nconst payload = $json.payload || {};\nconst data = payload._data || {};\nconst videoMsg = data.message ? data.message.videoMessage : null;\nconst fileSize = videoMsg ? Number(videoMsg.fileLength) : 0;\nconst fileSizeMB = fileSize / (1024 * 1024);\n\nif (fileSizeMB > maxSizeMB) {\n  // Stop execution for this branch\n  return [];\n}\n\nreturn [$input.item];",
                    "notice": ""
                },
                "name": "Guardrails: Video Size",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    -1424,
                    -632
                ],
                "id": "guardrails-video-size"
            },
            {
                "parameters": {
                    "mode": "runOnceForAllItems",
                    "language": "javaScript",
                    "jsCode": "// Guardrails: Check document file size\nconst maxSizeMB = 10;\nconst payload = $json.payload || {};\nconst data = payload._data || {};\nconst docMsg = data.message ? data.message.documentMessage : null;\nconst fileSize = docMsg ? Number(docMsg.fileLength) : 0;\nconst fileSizeMB = fileSize / (1024 * 1024);\n\nif (fileSizeMB > maxSizeMB) {\n  // Stop execution for this branch\n  return [];\n}\n\nreturn [$input.item];",
                    "notice": ""
                },
                "name": "Guardrails: Doc Size",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    -1424,
                    -440
                ],
                "id": "guardrails-doc-size"
            },
            {
                "parameters": {
                    "resource": "image",
                    "operation": "analyze",
                    "modelId": {
                        "__rl": true,
                        "value": "chatgpt-4o-latest",
                        "mode": "list",
                        "cachedResultName": "CHATGPT-4O-LATEST"
                    },
                    "text": "Analyze this image in high detail. Describe the visual content, identifying main objects, people, and the setting. Extract any visible text verbatim. If there are specific details relevant to a support request (e.g., error messages, product damage), highlight them.",
                    "inputType": "base64",
                    "binaryPropertyName": "data",
                    "simplify": true,
                    "options": {
                        "detail": "high"
                    }
                },
                "type": "@n8n/n8n-nodes-langchain.openAi",
                "typeVersion": 2,
                "position": [
                    -1200,
                    -1232
                ],
                "id": "2874c6d6-0a60-4c18-b108-6c8cf0261d42",
                "name": "Analyze image",
                "credentials": {
                    "openAiApi": {
                        "id": "0sXFXYfqiDEKuDcN",
                        "name": "service@rensto.com"
                    }
                }
            }
        ],
        "connections": {
            "Process Media Context": {
                "main": [
                    [
                        {
                            "node": "Prepare AI Input",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Guardrails: Video Size": {
                "main": [
                    [
                        {
                            "node": "Download Video",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Guardrails: Doc Size": {
                "main": [
                    [
                        {
                            "node": "Download Document",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Prepare AI Input": {
                "main": [
                    [
                        {
                            "node": "Set Store Name and Extract Text1",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Rensto AI Agent": {
                "main": [
                    [
                        {
                            "node": "Process AI Response",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Conversation Memory": {
                "ai_memory": [
                    [
                        {
                            "node": "Rensto AI Agent",
                            "type": "ai_memory",
                            "index": 0
                        }
                    ]
                ]
            },
            "Search Knowledge Base": {
                "ai_tool": [
                    [
                        {
                            "node": "Rensto AI Agent",
                            "type": "ai_tool",
                            "index": 0
                        }
                    ]
                ]
            },
            "OpenAI Model": {
                "ai_languageModel": [
                    [
                        {
                            "node": "Rensto AI Agent",
                            "type": "ai_languageModel",
                            "index": 0
                        }
                    ]
                ]
            },
            "Process AI Response": {
                "main": [
                    [
                        {
                            "node": "Debug Voice Routing",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Send Text Message": {
                "main": [
                    [
                        {
                            "node": "Log Analytics",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Normalize HTTP Input": {
                "main": [
                    [
                        {
                            "node": "Message Type Router",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Webhook": {
                "main": [
                    [
                        {
                            "node": "Normalize HTTP Input",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Message Type Router": {
                "main": [
                    [
                        {
                            "node": "Download Voice",
                            "type": "main",
                            "index": 0
                        }
                    ],
                    [
                        {
                            "node": "Analyze image",
                            "type": "main",
                            "index": 0
                        }
                    ],
                    [
                        {
                            "node": "Guardrails: Doc Size",
                            "type": "main",
                            "index": 0
                        }
                    ],
                    [
                        {
                            "node": "Guardrails: Video Size",
                            "type": "main",
                            "index": 0
                        }
                    ],
                    [
                        {
                            "node": "Prepare AI Input",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Download Voice": {
                "main": [
                    [
                        {
                            "node": "Transcribe Voice",
                            "type": "main",
                            "index": 0
                        }
                    ],
                    [
                        {
                            "node": "Prepare AI Input",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Check Response Source": {
                "main": [
                    [
                        {
                            "node": "Respond to Webhook",
                            "type": "main",
                            "index": 0
                        }
                    ],
                    [
                        {
                            "node": "Voice Response Check",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Voice Response Check": {
                "main": [
                    [
                        {
                            "node": "Convert text to speech",
                            "type": "main",
                            "index": 0
                        }
                    ],
                    [
                        {
                            "node": "Send a text message",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Convert text to speech": {
                "main": [
                    [
                        {
                            "node": "Send Voice Message",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Set Store Name and Extract Text1": {
                "main": [
                    [
                        {
                            "node": "Merge Transcription Metadata",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Merge Transcription Metadata": {
                "main": [
                    [
                        {
                            "node": "Guardrails1",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Debug Voice Routing": {
                "main": [
                    [
                        {
                            "node": "Check Response Source",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Download Video": {
                "main": [
                    [
                        {
                            "node": "Analyze video",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Download Document": {
                "main": [
                    [
                        {
                            "node": "Analyze document",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Merge Image Analysis": {
                "main": [
                    [
                        {
                            "node": "Guardrails",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Merge Video Analysis": {
                "main": [
                    [
                        {
                            "node": "Process Media Context",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Merge Document Analysis": {
                "main": [
                    [
                        {
                            "node": "Process Media Context",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "WAHA Trigger": {
                "main": [
                    [
                        {
                            "node": "Message Type Router",
                            "type": "main",
                            "index": 0
                        }
                    ],
                    [
                        {
                            "node": "Message Type Router",
                            "type": "main",
                            "index": 0
                        }
                    ],
                    [
                        {
                            "node": "Message Type Router",
                            "type": "main",
                            "index": 0
                        }
                    ],
                    [
                        {
                            "node": "Message Type Router",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "OpenAI Chat Model": {
                "ai_languageModel": [
                    [
                        {
                            "node": "Guardrails1",
                            "type": "ai_languageModel",
                            "index": 0
                        }
                    ]
                ]
            },
            "Guardrails": {
                "main": [
                    [
                        {
                            "node": "Process Media Context",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Guardrails1": {
                "main": [
                    [
                        {
                            "node": "Image Analysis Switch",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Image Analysis Switch": {
                "main": [
                    [
                        {
                            "node": "Image Analysis Responder",
                            "type": "main",
                            "index": 0
                        }
                    ],
                    [
                        {
                            "node": "Rensto AI Agent",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Image Analysis Responder": {
                "main": [
                    [
                        {
                            "node": "Process AI Response",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "js": {
                "main": [
                    [
                        {
                            "node": "Log Analytics",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Send Voice Message": {
                "main": [
                    [
                        {
                            "node": "js",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Send a text message": {
                "main": [
                    [
                        {
                            "node": "Send Text Message",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Analyze document": {
                "main": [
                    [
                        {
                            "node": "Merge Document Analysis",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Analyze video": {
                "main": [
                    [
                        {
                            "node": "Merge Video Analysis",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Transcribe Voice": {
                "main": [
                    [
                        {
                            "node": "Prepare AI Input",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Analyze image": {
                "main": [
                    [
                        {
                            "node": "Merge Image Analysis",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            }
        },
        "settings": {
            "executionOrder": "v1",
            "callerPolicy": "workflowsFromSameOwner",
            "availableInMCP": false
        },
        "staticData": {
            "googleApiKey": "AIzaSyB1nQdOOSeYdGv_R53dcyYDsIwenRU5ziE"
        },
        "pinData": {}
    },
    "customData": {}
}
