workflows/hope-action-tools.json
{
    "name": "HOPE-ACTION-TOOLS: Rensto Knowledge Base",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "hope-action-tools",
                "options": {}
            },
            "id": "webhook-trigger",
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                400,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent",
                "sendQuery": true,
                "queryParameters": {
                    "parameters": [
                        {
                            "name": "key",
                            "value": "AIzaSyAzkVbq62x1nFlB9JEQVEI5ky6z8glshWY"
                        }
                    ]
                },
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"text\": \"You are a helpful assistant for Rensto. Answer the following user query using your knowledge about our services: {{ $json.body.query || $json.body.prompt }}\"\n        }\n      ]\n    }\n  ],\n  \"tools\": [\n    {\n      \"fileSearch\": {\n        \"fileSearchStoreNames\": [\"fileSearchStores/rensto-knowledge-base-ndf9fmymwb2p\"]\n      }\n    }\n  ]\n}",
                "options": {}
            },
            "id": "gemini-query",
            "name": "Gemini Search",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                600,
                300
            ]
        },
        {
            "parameters": {
                "options": {}
            },
            "id": "webhook-response",
            "name": "Respond to Webhook",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                800,
                300
            ]
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Gemini Search",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Gemini Search": {
            "main": [
                [
                    {
                        "node": "Respond to Webhook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    }
}