workflows/INT-CUSTOMER-002-CUSTOMER-PROJECT-SYNC.json
{
  "name": "INT-CUSTOMER-002: Customer-Project Data Sync v1",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "customer-project-sync",
        "responseMode": "responseNode",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "webhook-trigger",
      "name": "Customer-Project Sync Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "// Validate customer-project sync data\nconst input = $input.first().json;\n\n// Required fields\nconst requiredFields = ['customerEmail', 'projectName'];\nconst missingFields = [];\n\nfor (const field of requiredFields) {\n  if (!input[field]) {\n    missingFields.push(field);\n  }\n}\n\nif (missingFields.length > 0) {\n  throw new Error(`Missing required fields: ${missingFields.join(', ')}`);\n}\n\n// Add validation metadata\nconst validatedData = {\n  ...input,\n  validated_at: new Date().toISOString(),\n  validation_status: 'success'\n};\n\nreturn [{ json: validatedData }];"
      },
      "id": "validate-input",
      "name": "Validate Input Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://superseller.boost.space/api/contact",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 88c5ff57783912fcc05fec10a22d67b5806d48346ab9ef562f17e2188cc07dba"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "spaceId",
              "value": "53"
            },
            {
              "name": "email",
              "value": "={{ $json.customerEmail }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "find-customer",
      "name": "Find Customer in Boost.space",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ Array.isArray($json) && $json.length > 0 ? 'exists' : 'new' }}",
              "rightValue": "exists",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "check-customer",
      "name": "Check if Customer Exists",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://superseller.boost.space/api/contact",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 88c5ff57783912fcc05fec10a22d67b5806d48346ab9ef562f17e2188cc07dba"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "spaceId",
              "value": "53"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ $('Validate Input Data').item.json.customerName || $('Validate Input Data').item.json.customerEmail }}"
            },
            {
              "name": "email",
              "value": "={{ $('Validate Input Data').item.json.customerEmail }}"
            },
            {
              "name": "phone",
              "value": "={{ $('Validate Input Data').item.json.customerPhone || '' }}"
            },
            {
              "name": "company",
              "value": "={{ $('Validate Input Data').item.json.customerCompany || '' }}"
            },
            {
              "name": "status_system_id",
              "value": "1"
            },
            {
              "name": "metadata",
              "value": "={{ JSON.stringify({ source: 'customer-project-sync', validated_at: $('Validate Input Data').item.json.validated_at }) }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "create-customer",
      "name": "Create Customer in Boost.space",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 200]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ 'https://superseller.boost.space/api/contact/' + $json[0].id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 88c5ff57783912fcc05fec10a22d67b5806d48346ab9ef562f17e2188cc07dba"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "spaceId",
              "value": "53"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ $('Validate Input Data').item.json.customerName || $json[0].name }}"
            },
            {
              "name": "phone",
              "value": "={{ $('Validate Input Data').item.json.customerPhone || $json[0].phone || '' }}"
            },
            {
              "name": "company",
              "value": "={{ $('Validate Input Data').item.json.customerCompany || $json[0].company || '' }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "update-customer",
      "name": "Update Customer in Boost.space",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 400]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "id": "merge-customer",
      "name": "Merge Customer Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://superseller.boost.space/api/project",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 88c5ff57783912fcc05fec10a22d67b5806d48346ab9ef562f17e2188cc07dba"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "spaceId",
              "value": "53"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ $('Validate Input Data').item.json.projectName }}"
            },
            {
              "name": "customer",
              "value": "={{ $json.id }}"
            },
            {
              "name": "status_system_id",
              "value": "={{ $('Validate Input Data').item.json.projectStatus === 'active' ? 1 : 2 }}"
            },
            {
              "name": "metadata",
              "value": "={{ JSON.stringify({ budget: $('Validate Input Data').item.json.projectBudget || null, description: $('Validate Input Data').item.json.projectDescription || '', createdAt: new Date().toISOString() }) }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "create-project",
      "name": "Create Project in Boost.space",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 300]
    },
    {
      "parameters": {
        "jsCode": "// Prepare comprehensive sync response\nconst customerData = $('Merge Customer Results').first().json;\nconst projectData = $('Create Project in Boost.space').first().json;\nconst inputData = $('Validate Input Data').first().json;\nconst customerExists = $('Find Customer in Boost.space').first().json && Array.isArray($('Find Customer in Boost.space').first().json) && $('Find Customer in Boost.space').first().json.length > 0;\n\nconst response = {\n  success: true,\n  message: 'Customer-Project data synchronized successfully',\n  data: {\n    customer: {\n      id: customerData.id,\n      email: customerData.email || inputData.customerEmail,\n      name: customerData.name || inputData.customerName,\n      action: customerExists ? 'update' : 'create'\n    },\n    project: {\n      id: projectData.id,\n      name: projectData.name || inputData.projectName,\n      customerId: customerData.id,\n      status: projectData.status_system_id === 1 ? 'active' : 'inactive'\n    }\n  },\n  timestamp: new Date().toISOString(),\n  workflow: 'INT-CUSTOMER-002: Customer-Project Data Sync v1'\n};\n\nreturn [{ json: response }];"
      },
      "id": "prepare-response",
      "name": "Prepare Sync Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1780, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [2000, 300]
    },
    {
      "parameters": {
        "jsCode": "// Comprehensive error handling\nconst error = $input.first().json.error || 'Unknown error';\nconst nodeName = $input.first().json.nodeName || 'Unknown node';\n\nconst errorResponse = {\n  success: false,\n  error: 'workflow_error',\n  message: `Error in ${nodeName}: ${error}`,\n  timestamp: new Date().toISOString(),\n  nodeName: nodeName,\n  errorDetails: error,\n  workflow: 'INT-CUSTOMER-002: Customer-Project Data Sync v1'\n};\n\nreturn [{ json: errorResponse }];"
      },
      "id": "error-handler",
      "name": "Error Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 600]
    }
  ],
  "connections": {
    "Customer-Project Sync Webhook": {
      "main": [[{"node": "Validate Input Data", "type": "main", "index": 0}]],
      "error": [[{"node": "Error Handler", "type": "main", "index": 0}]]
    },
    "Validate Input Data": {
      "main": [[{"node": "Find Customer in Boost.space", "type": "main", "index": 0}]],
      "error": [[{"node": "Error Handler", "type": "main", "index": 0}]]
    },
    "Find Customer in Boost.space": {
      "main": [[{"node": "Check if Customer Exists", "type": "main", "index": 0}]],
      "error": [[{"node": "Error Handler", "type": "main", "index": 0}]]
    },
    "Check if Customer Exists": {
      "main": [
        [{"node": "Update Customer in Boost.space", "type": "main", "index": 0}],
        [{"node": "Create Customer in Boost.space", "type": "main", "index": 0}]
      ],
      "error": [[{"node": "Error Handler", "type": "main", "index": 0}]]
    },
    "Create Customer in Boost.space": {
      "main": [[{"node": "Merge Customer Results", "type": "main", "index": 0}]],
      "error": [[{"node": "Error Handler", "type": "main", "index": 0}]]
    },
    "Update Customer in Boost.space": {
      "main": [[{"node": "Merge Customer Results", "type": "main", "index": 0}]],
      "error": [[{"node": "Error Handler", "type": "main", "index": 0}]]
    },
    "Merge Customer Results": {
      "main": [[{"node": "Create Project in Boost.space", "type": "main", "index": 0}]],
      "error": [[{"node": "Error Handler", "type": "main", "index": 0}]]
    },
    "Create Project in Boost.space": {
      "main": [[{"node": "Prepare Sync Response", "type": "main", "index": 0}]],
      "error": [[{"node": "Error Handler", "type": "main", "index": 0}]]
    },
    "Prepare Sync Response": {
      "main": [[{"node": "Respond to Webhook", "type": "main", "index": 0}]],
      "error": [[{"node": "Error Handler", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "saveExecutionProgress": true
  }
}

