workflows/INT-VPS-002-UPDATE-N8N.json
{
  "name": "INT-VPS-002: Update n8n to 1.119.1",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger-1",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "fileName": "=/Users/shaifriedman/New Rensto/rensto/scripts/n8n-backup-and-update-1.119.1.sh",
        "options": {}
      },
      "id": "read-script-1",
      "name": "Read Update Script",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "// Convert binary data to base64 for SSH transfer\nconst binaryData = $input.first().binary.data;\nconst base64Data = binaryData.data.toString('base64');\n\nreturn [{\n  json: {\n    base64Data: base64Data,\n    fileName: 'n8n-backup-and-update-1.119.1.sh'\n  }\n}];"
      },
      "id": "convert-base64-1",
      "name": "Convert to Base64",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "host": "173.254.201.134",
        "port": 22,
        "username": "root",
        "password": "necmad-zYnfe4-fypwip",
        "command": "=mkdir -p /opt/n8n && echo '{{ $json.base64Data }}' | base64 -d > /opt/n8n/n8n-backup-and-update-1.119.1.sh && chmod +x /opt/n8n/n8n-backup-and-update-1.119.1.sh && ls -lh /opt/n8n/n8n-backup-and-update-1.119.1.sh"
      },
      "id": "upload-script-1",
      "name": "Upload Script to VPS",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1.1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "host": "173.254.201.134",
        "port": 22,
        "username": "root",
        "password": "necmad-zYnfe4-fypwip",
        "command": "cd /opt/n8n && chmod +x n8n-backup-and-update-1.119.1.sh && bash n8n-backup-and-update-1.119.1.sh --yes"
      },
      "id": "execute-update-1",
      "name": "Execute Update Script",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1.1,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "host": "173.254.201.134",
        "port": 22,
        "username": "root",
        "password": "necmad-zYnfe4-fypwip",
        "command": "docker exec n8n_rensto n8n --version"
      },
      "id": "verify-version-1",
      "name": "Verify Version",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1.1,
      "position": [1340, 300]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Read Update Script",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Update Script": {
      "main": [
        [
          {
            "node": "Convert to Base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to Base64": {
      "main": [
        [
          {
            "node": "Upload Script to VPS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Script to VPS": {
      "main": [
        [
          {
            "node": "Execute Update Script",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Update Script": {
      "main": [
        [
          {
            "node": "Verify Version",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}

