workflows/INT-SYNC-005-BOOST-SPACE-CUSTOMERS-IMPORT.json
{
  "name": "INT-SYNC-005: Boost.space Customers Import v1",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "execute-customers-import",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 300],
      "disabled": false
    },
    {
      "parameters": {
        "filePath": "/tmp/n8n-data/customers.csv",
        "dataPropertyName": "data",
        "options": {}
      },
      "id": "read-csv-1",
      "name": "Read Customers CSV",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [460, 300],
      "disabled": false
    },
    {
      "parameters": {
        "fileFormat": "csv",
        "binaryPropertyName": "data",
        "options": {
          "delimiter": ",",
          "headerRow": true
        }
      },
      "id": "parse-csv-1",
      "name": "Parse CSV",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [680, 300],
      "disabled": false
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://superseller.boost.space/api/contact",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 88c5ff57783912fcc05fec10a22d67b5806d48346ab9ef562f17e2188cc07dba"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "spaceId",
              "value": "53"
            },
            {
              "name": "email",
              "value": "={{ $json.Email || $json.email }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "check-existing-1",
      "name": "Check Existing Customers",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 300],
      "disabled": false
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "id": "merge-1",
      "name": "Merge Data",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [1120, 300],
      "disabled": false
    },
    {
      "parameters": {
        "jsCode": "// Filter new customers (not in Boost.space)\nconst items = $input.all();\nconst newCustomers = [];\n\nfor (const item of items) {\n  const csvData = item.json;\n  const existingData = Array.isArray(csvData) ? csvData.find(d => Array.isArray(d)) : null;\n  const existing = existingData && Array.isArray(existingData) && existingData.length > 0;\n  \n  if (!existing) {\n    // Extract CSV row data (first non-array property)\n    const csvRow = Object.keys(csvData).find(key => !Array.isArray(csvData[key]) && key !== 'data');\n    if (csvRow) {\n      newCustomers.push({ json: csvData });\n    } else {\n      // If structure is different, use the item as-is\n      const email = csvData.Email || csvData.email || csvData['Email Address'] || csvData['Email address'];\n      if (email) {\n        newCustomers.push({ json: csvData });\n      }\n    }\n  }\n}\n\nreturn newCustomers;"
      },
      "id": "filter-1",
      "name": "Filter New Customers",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 300],
      "disabled": false
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://superseller.boost.space/api/contact",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 88c5ff57783912fcc05fec10a22d67b5806d48346ab9ef562f17e2188cc07dba"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "spaceId",
              "value": "53"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ $json.Name || $json.name || $json['Customer Name'] || $json['Full Name'] || $json.Email || $json.email }}"
            },
            {
              "name": "email",
              "value": "={{ $json.Email || $json.email || $json['Email Address'] || $json['Email address'] }}"
            },
            {
              "name": "phone",
              "value": "={{ $json.Phone || $json.phone || $json['Phone Number'] || $json['Phone'] || '' }}"
            },
            {
              "name": "company",
              "value": "={{ $json.Company || $json.company || $json['Company Name'] || $json['Company'] || '' }}"
            },
            {
              "name": "status_system_id",
              "value": "1"
            },
            {
              "name": "metadata",
              "value": "={{ JSON.stringify({ source: 'airtable-migration', migrated_at: new Date().toISOString(), airtable_id: $json.id || $json.ID || null }) }}"
            }
          ]
        },
        "options": {
          "timeout": 30000,
          "retry": {
            "maxTries": 3,
            "waitBetweenTries": 1000
          }
        }
      },
      "id": "import-1",
      "name": "Import Customer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 300],
      "disabled": false
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, imported: $input.all().length, message: 'Customers imported successfully' } }}"
      },
      "id": "respond-1",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [1780, 300],
      "disabled": false
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Read Customers CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Customers CSV": {
      "main": [
        [
          {
            "node": "Parse CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse CSV": {
      "main": [
        [
          {
            "node": "Check Existing Customers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Existing Customers": {
      "main": [
        [
          {
            "node": "Merge Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse CSV": {
      "main": [
        [
          {
            "node": "Merge Data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Data": {
      "main": [
        [
          {
            "node": "Filter New Customers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter New Customers": {
      "main": [
        [
          {
            "node": "Import Customer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Import Customer": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-11-12T05:40:00.000Z",
  "versionId": "00000000-0000-0000-0000-000000000000"
}

