workflows/INT-SYNC-002-BOOST-SPACE-MARKETPLACE-IMPORT.json
{
  "name": "INT-SYNC-002: Boost.space Marketplace Import v1",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger-1",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "fileName": "/home/node/.n8n/data/products.csv",
        "options": {}
      },
      "id": "read-csv-1",
      "name": "Read Products CSV",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "binaryPropertyName": "data",
        "options": {
          "delimiter": ",",
          "headerRow": true
        }
      },
      "id": "parse-csv-1",
      "name": "Parse CSV",
      "type": "n8n-nodes-base.csv",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://superseller.boost.space/api/product",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 88c5ff57783912fcc05fec10a22d67b5806d48346ab9ef562f17e2188cc07dba"
            }
          ]
        },
        "options": {}
      },
      "id": "check-existing-1",
      "name": "Check Existing Products",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "jsCode": "// Get existing products from previous node\nconst existingProducts = $('Check Existing Products').first().json;\nconst existing = Array.isArray(existingProducts) ? existingProducts : (existingProducts.data || existingProducts.items || []);\nconst existingMap = {};\nexisting.forEach(p => {\n  if (p.sku) existingMap[p.sku] = true;\n  if (p.name) existingMap[p.name.toLowerCase()] = true;\n});\n\n// Filter items to only new ones\nconst items = $input.all();\nconst newItems = [];\n\nfor (const item of items) {\n  const workflowId = item.json['Workflow ID'] || '';\n  const productName = (item.json['Workflow Name'] || '').toLowerCase();\n  \n  if (!existingMap[workflowId] && !existingMap[productName]) {\n    newItems.push(item);\n  }\n}\n\nreturn newItems;"
      },
      "id": "filter-new-1",
      "name": "Filter New Products",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://superseller.boost.space/api/product",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 88c5ff57783912fcc05fec10a22d67b5806d48346ab9ef562f17e2188cc07dba"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ $json['Workflow Name'] }}"
            },
            {
              "name": "description",
              "value": "={{ $json.Description || '' }}"
            },
            {
              "name": "sku",
              "value": "={{ $json['Workflow ID'] || '' }}"
            },
            {
              "name": "unit_price",
              "value": "={{ Math.round(parseFloat(($json['Download Price'] || '0').replace(/[^0-9.]/g, '')) * 100) }}"
            },
            {
              "name": "unit_name",
              "value": "USD"
            },
            {
              "name": "status_system_id",
              "value": "1"
            },
            {
              "name": "spaceId",
              "value": "51"
            },
            {
              "name": "metadata",
              "value": "={{ JSON.stringify({\n  workflowId: $json['Workflow ID'] || '',\n  category: $json.Category || '',\n  complexity: $json.Complexity || 'Intermediate',\n  setupTime: $json['Setup Time'] || '2-4 hours',\n  installPrice: Math.round(parseFloat(($json['Install Price'] || '0').replace(/[^0-9.]/g, '')) * 100),\n  workflowJsonUrl: $json['Workflow JSON File URL'] || '',\n  status: ($json.Status || 'Active').replace(/✅ /g, ''),\n  n8nAffiliateLink: $json['n8n Affiliate Link'] || 'https://tinyurl.com/ym3awuke',\n  features: ($json.Features || '').split(/[,\\n]/).map(f => f.trim()).filter(Boolean),\n  targetMarket: $json['Target Market'] || ''\n}) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "import-product-1",
      "name": "Import Product",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 300]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Read Products CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Products CSV": {
      "main": [
        [
          {
            "node": "Parse CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse CSV": {
      "main": [
        [
          {
            "node": "Check Existing Products",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Existing Products": {
      "main": [
        [
          {
            "node": "Filter New Products",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter New Products": {
      "main": [
        [
          {
            "node": "Import Product",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "active": false
}
