workflows/INT-SYNC-003-BOOST-SPACE-AFFILIATE-LINKS-IMPORT.json
{
  "name": "INT-SYNC-003: Boost.space Affiliate Links Import v1",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "execute-affiliate-import",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [16, 0],
      "disabled": false
    },
    {
      "parameters": {
        "filePath": "/tmp/n8n-data/affiliate-links.csv",
        "dataPropertyName": "data",
        "options": {}
      },
      "id": "read-csv-1",
      "name": "Read Affiliate Links CSV",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [240, -96],
      "disabled": false
    },
    {
      "parameters": {
        "fileFormat": "csv",
        "binaryPropertyName": "data",
        "options": {
          "delimiter": ",",
          "headerRow": true
        }
      },
      "id": "parse-csv-1",
      "name": "Parse CSV",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [464, -96],
      "disabled": false
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://superseller.boost.space/api/note",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 88c5ff57783912fcc05fec10a22d67b5806d48346ab9ef562f17e2188cc07dba"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "check-existing-1",
      "name": "Check Existing Notes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [464, 96],
      "credentials": {
        "httpHeaderAuth": {
          "id": "V3yoK02N3hOAR93E",
          "name": "waha"
        }
      },
      "disabled": false
    },
    {
      "parameters": {
        "mode": "multiplex",
        "options": {}
      },
      "id": "merge-1",
      "name": "Merge Data",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [688, 0],
      "disabled": false
    },
    {
      "parameters": {
        "jsCode": "// Get existing notes from second input (index 1)\nconst allInputs = $input.all();\nconst existingData = allInputs.find(item => item.json.id || Array.isArray(item.json));\nconst csvData = allInputs.filter(item => item.json['Platform'] || item.json.Platform);\n\n// Parse existing notes\nconst existing = existingData ? (Array.isArray(existingData.json) ? existingData.json : (existingData.json.data || existingData.json.items || [existingData.json])) : [];\nconst existingTitles = new Set();\nexisting.forEach(note => {\n  if (note.title) existingTitles.add(note.title.toLowerCase());\n});\n\n// Filter CSV items - remove duplicates\nconst newItems = [];\nconst seenPlatforms = new Set();\nfor (const item of csvData) {\n  const platform = (item.json['Platform'] || '').toLowerCase();\n  if (!seenPlatforms.has(platform) && !existingTitles.has(platform)) {\n    seenPlatforms.add(platform);\n    newItems.push(item);\n  }\n}\n\nreturn newItems;"
      },
      "id": "filter-new-1",
      "name": "Filter New Links",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [912, 0],
      "disabled": false
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://superseller.boost.space/api/note",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 88c5ff57783912fcc05fec10a22d67b5806d48346ab9ef562f17e2188cc07dba"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "title",
              "value": "={{ $json['Platform'] }}"
            },
            {
              "name": "content",
              "value": "={{ `Affiliate Link: ${$json['Affiliate Link']}\nCommission Rate: ${$json['Commission Rate']}\nTracking Method: ${$json['Tracking Method']}\nRevenue to Date: ${$json['Revenue to Date']}\nClicks: ${$json['Clicks']}\nConversions: ${$json['Conversions']}\nStatus: ${$json['Status']}\nNotes: ${$json['Notes'] || ''}` }}"
            },
            {
              "name": "status_system_id",
              "value": "={{ $json['Status'] && $json['Status'].includes('✅') ? 1 : 2 }}"
            },
            {
              "name": "spaceId",
              "value": "39"
            }
          ]
        },
        "options": {
          "timeout": 30000,
          "retry": {
            "maxTries": 3,
            "waitBetweenTries": 1000
          }
        }
      },
      "id": "import-note-1",
      "name": "Import Affiliate Link Note",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1136, 0],
      "credentials": {
        "httpHeaderAuth": {
          "id": "V3yoK02N3hOAR93E",
          "name": "waha"
        }
      },
      "disabled": false
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Read Affiliate Links CSV",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check Existing Notes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Affiliate Links CSV": {
      "main": [
        [
          {
            "node": "Parse CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse CSV": {
      "main": [
        [
          {
            "node": "Merge Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Existing Notes": {
      "main": [
        [
          {
            "node": "Merge Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Data": {
      "main": [
        [
          {
            "node": "Filter New Links",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter New Links": {
      "main": [
        [
          {
            "node": "Import Affiliate Link Note",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": {},
  "meta": {},
  "pinData": {},
  "active": false
}

