workflows/marketing-agency-1-inbound-lead-intelligence-FIXED.json
{
    "name": "Marketing Agency #1: Inbound Lead Intelligence (Data Table)",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "lead-intake",
                "responseMode": "responseNode",
                "options": {}
            },
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2.1,
            "position": [
                -2224,
                2608
            ],
            "id": "7bb30c7e-e7bc-40a4-acc3-e958544e1e78",
            "name": "Webhook - Lead Intake",
            "webhookId": "08b6c04a-cc98-49ca-ae27-9fc4bf520fe9",
            "onError": "continueRegularOutput"
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "f1",
                            "name": "fullName",
                            "value": "={{ $json.body.fullName || '' }}",
                            "type": "string"
                        },
                        {
                            "id": "f2",
                            "name": "email",
                            "value": "={{ $json.body.email || '' }}",
                            "type": "string"
                        },
                        {
                            "id": "f3",
                            "name": "phone",
                            "value": "={{ $json.body.phone || '' }}",
                            "type": "string"
                        },
                        {
                            "id": "f4",
                            "name": "message",
                            "value": "={{ $json.body.message || '' }}",
                            "type": "string"
                        },
                        {
                            "id": "f5",
                            "name": "company",
                            "value": "={{ $json.body.company || '' }}",
                            "type": "string"
                        },
                        {
                            "id": "f6",
                            "name": "website",
                            "value": "={{ $json.body.website || '' }}",
                            "type": "string"
                        },
                        {
                            "id": "f7",
                            "name": "source",
                            "value": "={{ $json.body.source || 'web' }}",
                            "type": "string"
                        },
                        {
                            "id": "f8",
                            "name": "channel",
                            "value": "web",
                            "type": "string"
                        },
                        {
                            "id": "f9",
                            "name": "consent",
                            "value": "={{ $json.body.consent === true }}",
                            "type": "boolean"
                        },
                        {
                            "id": "f10",
                            "name": "receivedAt",
                            "value": "={{ $now }}",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                -2000,
                2608
            ],
            "id": "22a9ddda-bdf2-4e15-9360-0f8f15bd0aca",
            "name": "Set - Normalize Fields"
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "version": 2,
                        "leftValue": "",
                        "caseSensitive": true,
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "c1",
                            "leftValue": "={{ $json.email }}",
                            "rightValue": "",
                            "operator": {
                                "type": "string",
                                "operation": "notEmpty"
                            }
                        },
                        {
                            "id": "c2",
                            "leftValue": "={{ $json.phone }}",
                            "rightValue": "",
                            "operator": {
                                "type": "string",
                                "operation": "notEmpty"
                            }
                        }
                    ],
                    "combinator": "or"
                },
                "options": {}
            },
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.3,
            "position": [
                -1776,
                2608
            ],
            "id": "1a6ca7b6-3d5f-4d4e-89ed-e4411a3857bb",
            "name": "IF - Validate Gates"
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={ \"ok\": false, \"error\": \"Missing email or phone\" }",
                "options": {}
            },
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.5,
            "position": [
                -1552,
                2704
            ],
            "id": "71c1b97c-6d17-4208-920a-dd3ec593d57d",
            "name": "Respond - Reject"
        },
        {
            "parameters": {
                "operation": "get",
                "dataTableId": {
                    "__rl": true,
                    "value": "leads-ddf18921",
                    "mode": "list",
                    "cachedResultName": "Leads",
                    "cachedResultUrl": "/projects/6L20DLwgKEB5r0rn/datatables/leads-ddf18921"
                },
                "filters": {
                    "conditions": [
                        {
                            "keyName": "Email",
                            "keyValue": "={{ $('Set - Normalize Fields').item.json.email }}"
                        }
                    ]
                }
            },
            "type": "n8n-nodes-base.dataTable",
            "typeVersion": 1.1,
            "position": [
                -1552,
                2512
            ],
            "id": "9c6b4092-1077-4295-9513-9b5bf0bea03d",
            "name": "Data Table - Find Existing",
            "alwaysOutputData": true
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "version": 2,
                        "leftValue": "",
                        "caseSensitive": true,
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "exists-1",
                            "leftValue": "={{ $json.id }}",
                            "rightValue": "",
                            "operator": {
                                "type": "string",
                                "operation": "exists"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.3,
            "position": [
                -1328,
                2512
            ],
            "id": "9b4b26db-3c6c-4c36-82ab-a9f81ecf00e9",
            "name": "IF - Exists?"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.firecrawl.dev/v1/scrape",
                "authentication": "predefinedCredentialType",
                "nodeCredentialType": "fireCrawlApi",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={ \"url\": \"{{ $json.website }}\", \"formats\": [\"markdown\"] }",
                "options": {
                    "response": {
                        "response": {
                            "neverError": true
                        }
                    }
                }
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.3,
            "position": [
                -880,
                2512
            ],
            "id": "d01de482-0fd4-4d82-9381-6e5ae061f132",
            "name": "Firecrawl - Audit Site",
            "credentials": {
                "httpHeaderAuth": {
                    "id": "V3yoK02N3hOAR93E",
                    "name": "waha"
                },
                "fireCrawlApi": {
                    "id": "C7jG0WqI4lxcUkhL",
                    "name": "FireCrawl account"
                }
            }
        },
        {
            "parameters": {
                "modelId": {
                    "__rl": true,
                    "value": "chatgpt-4o-latest",
                    "mode": "list"
                },
                "responses": {
                    "values": [
                        {
                            "role": "system",
                            "content": "You are a senior marketing agency strategist. Analyze leads and generate personalized responses. Be professional but warm. Always include a clear next step. The replyEmailBody should be 2-3 sentences. The replyWhatsAppBody should be 1-2 sentences (shorter for mobile). The nextQuestion should probe their specific needs/timeline/budget."
                        },
                        {
                            "content": "=Lead Data:\nName: {{ $json.fullName }}\nEmail: {{ $json.email }}\nMessage: {{ $json.message }}\nCompany: {{ $json.company }}\nWebsite Audit: {{ $json.data?.markdown ?? 'No data' }}"
                        }
                    ]
                },
                "builtInTools": {},
                "options": {
                    "textFormat": {
                        "textOptions": {
                            "type": "json_schema",
                            "schema": "{\"type\":\"object\",\"properties\":{\"intent\":{\"type\":\"string\",\"enum\":[\"quote\",\"question\",\"partnership\",\"support\",\"other\"]},\"urgency\":{\"type\":\"string\",\"enum\":[\"low\",\"medium\",\"high\"]},\"summary\":{\"type\":\"string\"},\"replyEmailSubject\":{\"type\":\"string\"},\"replyEmailBody\":{\"type\":\"string\"},\"replyWhatsAppBody\":{\"type\":\"string\"},\"nextQuestion\":{\"type\":\"string\"}},\"additionalProperties\":false,\"required\":[\"intent\",\"urgency\",\"summary\",\"replyEmailSubject\",\"replyEmailBody\",\"replyWhatsAppBody\",\"nextQuestion\"]}",
                            "description": "Analyze inbound lead, classify intent/urgency, generate email and WhatsApp reply drafts with booking CTA.",
                            "strict": true
                        }
                    }
                }
            },
            "type": "@n8n/n8n-nodes-langchain.openAi",
            "typeVersion": 2.1,
            "position": [
                -656,
                2512
            ],
            "id": "96c9f657-c104-40d5-8372-bdfe1192e0db",
            "name": "OpenAI - Analysis",
            "credentials": {
                "openAiApi": {
                    "id": "0sXFXYfqiDEKuDcN",
                    "name": "service@rensto.com"
                }
            }
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "o1",
                            "name": "intent",
                            "value": "={{ $json.output[0].content[0].text.intent }}",
                            "type": "string"
                        },
                        {
                            "id": "o2",
                            "name": "urgency",
                            "value": "={{ $json.output[0].content[0].text.urgency }}",
                            "type": "string"
                        },
                        {
                            "id": "o3",
                            "name": "summary",
                            "value": "={{ $json.output[0].content[0].text.summary }}",
                            "type": "string"
                        },
                        {
                            "id": "o4",
                            "name": "replyEmailSubject",
                            "value": "={{ $json.output[0].content[0].text.replyEmailSubject }}",
                            "type": "string"
                        },
                        {
                            "id": "o5",
                            "name": "replyEmailBody",
                            "value": "={{ $json.output[0].content[0].text.replyEmailBody }}",
                            "type": "string"
                        },
                        {
                            "id": "o6",
                            "name": "replyWhatsAppBody",
                            "value": "={{ $json.output[0].content[0].text.replyWhatsAppBody }}",
                            "type": "string"
                        },
                        {
                            "id": "o7",
                            "name": "bookingLink",
                            "value": "https://tidycal.com/rensto/discovery",
                            "type": "string"
                        },
                        {
                            "id": "o8",
                            "name": "updatedAt",
                            "value": "={{ $now }}",
                            "type": "string"
                        },
                        {
                            "id": "o9",
                            "name": "enrichmentData",
                            "value": "={{ JSON.stringify({intent: $json.output[0].content[0].text.intent, urgency: $json.output[0].content[0].text.urgency, summary: $json.output[0].content[0].text.summary}) }}",
                            "type": "string"
                        },
                        {
                            "id": "o10",
                            "name": "fullName",
                            "value": "={{ $('Set - Normalize Fields').item.json.fullName }}",
                            "type": "string"
                        },
                        {
                            "id": "o11",
                            "name": "email",
                            "value": "={{ $('Set - Normalize Fields').item.json.email }}",
                            "type": "string"
                        },
                        {
                            "id": "o12",
                            "name": "phone",
                            "value": "={{ $('Set - Normalize Fields').item.json.phone }}",
                            "type": "string"
                        },
                        {
                            "id": "o13",
                            "name": "website",
                            "value": "={{ $('Set - Normalize Fields').item.json.website }}",
                            "type": "string"
                        },
                        {
                            "id": "o14",
                            "name": "company",
                            "value": "={{ $('Set - Normalize Fields').item.json.company }}",
                            "type": "string"
                        },
                        {
                            "id": "o15",
                            "name": "message",
                            "value": "={{ $('Set - Normalize Fields').item.json.message }}",
                            "type": "string"
                        },
                        {
                            "id": "o16",
                            "name": "source",
                            "value": "={{ $('Set - Normalize Fields').item.json.source }}",
                            "type": "string"
                        },
                        {
                            "id": "o17",
                            "name": "channel",
                            "value": "={{ $('Set - Normalize Fields').item.json.channel }}",
                            "type": "string"
                        },
                        {
                            "id": "o18",
                            "name": "isExisting",
                            "value": "={{ $if($('Mark Existing1').isExecuted, $('Mark Existing1').item.json.isExisting, $if($('Mark New1').isExecuted, $('Mark New1').item.json.isExisting, false)) }}",
                            "type": "boolean"
                        },
                        {
                            "id": "o19",
                            "name": "existingRecordId",
                            "value": "={{ $if($('Mark Existing1').isExecuted, $('Mark Existing1').item.json.existingRecordId, '') }}",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                -304,
                2512
            ],
            "id": "ad18d30b-9652-4366-8b89-e9f9ba225cad",
            "name": "Set - Normalize Output"
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "version": 3,
                        "leftValue": "",
                        "caseSensitive": true,
                        "typeValidation": "loose"
                    },
                    "conditions": [
                        {
                            "id": "has-id",
                            "leftValue": "={{ $json.isExisting }}",
                            "rightValue": "",
                            "operator": {
                                "type": "boolean",
                                "operation": "true",
                                "singleValue": true
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "looseTypeValidation": true,
                "options": {}
            },
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.3,
            "position": [
                -80,
                2512
            ],
            "id": "eaee82b4-bb8e-4c7f-8e0b-5ba55da9ecef",
            "name": "IF - Update vs Create"
        },
        {
            "parameters": {
                "operation": "update",
                "dataTableId": {
                    "__rl": true,
                    "value": "leads-ddf18921",
                    "mode": "list",
                    "cachedResultName": "Leads",
                    "cachedResultUrl": "/projects/6L20DLwgKEB5r0rn/datatables/leads-ddf18921"
                },
                "columns": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "FullName": "={{ $json.fullName }}",
                        "Email": "={{ $json.email }}",
                        "PhoneNumber": "={{ $json.phone }}",
                        "Source": "={{ $json.source }}",
                        "Status": "Qualified",
                        "Channel": "={{ $json.channel }}",
                        "Intent": "={{ $json.intent }}",
                        "Urgency": "={{ $json.urgency }}",
                        "Message": "={{ $json.message }}",
                        "Company": "={{ $json.company }}",
                        "Website": "={{ String($json.website || '').substring(0, 500) }}",
                        "EnrichmentDataJSON": "={{ typeof $json.enrichmentData === 'string' ? $json.enrichmentData : JSON.stringify($json.enrichmentData || {}) }}",
                        "ReplyEmailSubject": "={{ $json.replyEmailSubject }}",
                        "ReplyEmailBody": "={{ $json.replyEmailBody }}",
                        "ReplyWhatsApp": "={{ $json.replyWhatsAppBody }}",
                        "BookingLink": "={{ $json.bookingLink }}",
                        "UpdatedAt": "={{ $json.updatedAt }}"
                    },
                    "matchingColumns": [
                        "Email"
                    ],
                    "schema": [
                        {
                            "id": "FullName",
                            "displayName": "FullName",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "readOnly": false,
                            "removed": false
                        },
                        {
                            "id": "Email",
                            "displayName": "Email",
                            "required": false,
                            "defaultMatch": true,
                            "display": true,
                            "type": "string",
                            "readOnly": false,
                            "removed": false
                        },
                        {
                            "id": "PhoneNumber",
                            "displayName": "PhoneNumber",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "readOnly": false,
                            "removed": false
                        },
                        {
                            "id": "Source",
                            "displayName": "Source",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "readOnly": false,
                            "removed": false
                        },
                        {
                            "id": "Status",
                            "displayName": "Status",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "readOnly": false,
                            "removed": false
                        },
                        {
                            "id": "Channel",
                            "displayName": "Channel",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "readOnly": false,
                            "removed": false
                        },
                        {
                            "id": "Intent",
                            "displayName": "Intent",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "readOnly": false,
                            "removed": false
                        },
                        {
                            "id": "Urgency",
                            "displayName": "Urgency",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "readOnly": false,
                            "removed": false
                        },
                        {
                            "id": "Message",
                            "displayName": "Message",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "readOnly": false,
                            "removed": false
                        },
                        {
                            "id": "Company",
                            "displayName": "Company",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "readOnly": false,
                            "removed": false
                        },
                        {
                            "id": "Website",
                            "displayName": "Website",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "readOnly": false,
                            "removed": false
                        },
                        {
                            "id": "EnrichmentDataJSON",
                            "displayName": "EnrichmentDataJSON",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "readOnly": false,
                            "removed": false
                        },
                        {
                            "id": "ReplyEmailSubject",
                            "displayName": "ReplyEmailSubject",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "readOnly": false,
                            "removed": false
                        },
                        {
                            "id": "ReplyEmailBody",
                            "displayName": "ReplyEmailBody",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "readOnly": false,
                            "removed": false
                        },
                        {
                            "id": "ReplyWhatsApp",
                            "displayName": "ReplyWhatsApp",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "readOnly": false,
                            "removed": false
                        },
                        {
                            "id": "BookingLink",
                            "displayName": "BookingLink",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "readOnly": false,
                            "removed": false
                        },
                        {
                            "id": "Consent",
                            "displayName": "Consent",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "boolean",
                            "readOnly": false,
                            "removed": false
                        },
                        {
                            "id": "OptedOut",
                            "displayName": "OptedOut",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "boolean",
                            "readOnly": false,
                            "removed": false
                        },
                        {
                            "id": "Owner",
                            "displayName": "Owner",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "readOnly": false,
                            "removed": false
                        },
                        {
                            "id": "Notes",
                            "displayName": "Notes",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "readOnly": false,
                            "removed": false
                        },
                        {
                            "id": "CreatedAt",
                            "displayName": "CreatedAt",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "dateTime",
                            "readOnly": false,
                            "removed": false
                        },
                        {
                            "id": "UpdatedAt",
                            "displayName": "UpdatedAt",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "dateTime",
                            "readOnly": false,
                            "removed": false
                        }
                    ],
                    "attemptToConvertTypes": false,
                    "convertFieldsToString": false
                },
                "options": {}
            },
            "type": "n8n-nodes-base.dataTable",
            "typeVersion": 1.1,
            "position": [
                144,
                2416
            ],
            "id": "fdcaa393-acc9-488d-8623-ec5cb552f954",
            "name": "Data Table - Update"
        },
        {
            "parameters": {
                "operation": "insert",
                "dataTableId": {
                    "__rl": true,
                    "value": "leads-ddf18921",
                    "mode": "list",
                    "cachedResultName": "Leads",
                    "cachedResultUrl": "/projects/6L20DLwgKEB5r0rn/datatables/leads-ddf18921"
                },
                "columns": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "FullName": "={{ $json.fullName }}",
                        "Email": "={{ $json.email }}",
                        "PhoneNumber": "={{ $json.phone }}",
                        "Source": "={{ $json.source }}",
                        "Status": "New",
                        "Channel": "={{ $json.channel }}",
                        "Intent": "={{ $json.intent }}",
                        "Urgency": "={{ $json.urgency }}",
                        "Message": "={{ $json.message }}",
                        "Company": "={{ $json.company }}",
                        "Website": "={{ String($json.website || '').substring(0, 500) }}",
                        "EnrichmentDataJSON": "={{ typeof $json.enrichmentData === 'string' ? $json.enrichmentData : JSON.stringify($json.enrichmentData || {}) }}",
                        "ReplyEmailSubject": "={{ $json.replyEmailSubject }}",
                        "ReplyEmailBody": "={{ $json.replyEmailBody }}",
                        "ReplyWhatsApp": "={{ $json.replyWhatsAppBody }}",
                        "BookingLink": "={{ $json.bookingLink }}",
                        "Consent": false,
                        "OptedOut": false,
                        "CreatedAt": "={{ $now }}",
                        "UpdatedAt": "={{ $now }}"
                    },
                    "matchingColumns": [],
                    "schema": [
                        {
                            "id": "FullName",
                            "displayName": "FullName",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "readOnly": false,
                            "removed": false
                        },
                        {
                            "id": "Email",
                            "displayName": "Email",
                            "required": false,
                            "defaultMatch": true,
                            "display": true,
                            "type": "string",
                            "readOnly": false,
                            "removed": false
                        },
                        {
                            "id": "PhoneNumber",
                            "displayName": "PhoneNumber",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "readOnly": false,
                            "removed": false
                        },
                        {
                            "id": "Source",
                            "displayName": "Source",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "readOnly": false,
                            "removed": false
                        },
                        {
                            "id": "Status",
                            "displayName": "Status",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "readOnly": false,
                            "removed": false
                        },
                        {
                            "id": "Channel",
                            "displayName": "Channel",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "readOnly": false,
                            "removed": false
                        },
                        {
                            "id": "Intent",
                            "displayName": "Intent",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "readOnly": false,
                            "removed": false
                        },
                        {
                            "id": "Urgency",
                            "displayName": "Urgency",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "readOnly": false,
                            "removed": false
                        },
                        {
                            "id": "Message",
                            "displayName": "Message",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "readOnly": false,
                            "removed": false
                        },
                        {
                            "id": "Company",
                            "displayName": "Company",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "readOnly": false,
                            "removed": false
                        },
                        {
                            "id": "Website",
                            "displayName": "Website",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "readOnly": false,
                            "removed": false
                        },
                        {
                            "id": "EnrichmentDataJSON",
                            "displayName": "EnrichmentDataJSON",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "readOnly": false,
                            "removed": false
                        },
                        {
                            "id": "ReplyEmailSubject",
                            "displayName": "ReplyEmailSubject",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "readOnly": false,
                            "removed": false
                        },
                        {
                            "id": "ReplyEmailBody",
                            "displayName": "ReplyEmailBody",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "readOnly": false,
                            "removed": false
                        },
                        {
                            "id": "ReplyWhatsApp",
                            "displayName": "ReplyWhatsApp",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "readOnly": false,
                            "removed": false
                        },
                        {
                            "id": "BookingLink",
                            "displayName": "BookingLink",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "readOnly": false,
                            "removed": false
                        },
                        {
                            "id": "Consent",
                            "displayName": "Consent",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "boolean",
                            "readOnly": false,
                            "removed": false
                        },
                        {
                            "id": "OptedOut",
                            "displayName": "OptedOut",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "boolean",
                            "readOnly": false,
                            "removed": false
                        },
                        {
                            "id": "Owner",
                            "displayName": "Owner",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "readOnly": false,
                            "removed": false
                        },
                        {
                            "id": "Notes",
                            "displayName": "Notes",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "readOnly": false,
                            "removed": false
                        },
                        {
                            "id": "CreatedAt",
                            "displayName": "CreatedAt",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "dateTime",
                            "readOnly": false,
                            "removed": false
                        },
                        {
                            "id": "UpdatedAt",
                            "displayName": "UpdatedAt",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "dateTime",
                            "readOnly": false,
                            "removed": false
                        }
                    ],
                    "attemptToConvertTypes": false,
                    "convertFieldsToString": false
                },
                "options": {}
            },
            "type": "n8n-nodes-base.dataTable",
            "typeVersion": 1.1,
            "position": [
                144,
                2608
            ],
            "id": "5b42c82f-3ffb-4c62-b6fe-bd5dc289c72c",
            "name": "Data Table - Create"
        },
        {
            "parameters": {
                "chatId": "374214124",
                "text": "=🔔 New Lead\nName: {{ $('Webhook - Lead Intake').item.json.body.fullName }}\nIntent: {{ $('Set - Normalize Output').item.json.intent }}\nUrgency: {{ $('Set - Normalize Output').item.json.urgency }}\n\n✅ Auto-reply sent",
                "additionalFields": {
                    "appendAttribution": false
                }
            },
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1.2,
            "position": [
                816,
                2512
            ],
            "id": "c9c2bcaa-9e1c-4d07-a630-b47f230af293",
            "name": "Telegram - Alert",
            "webhookId": "f0efa615-eebb-4253-8814-018daca5f4be",
            "credentials": {
                "telegramApi": {
                    "id": "0WW3IfTfTah5WAnl",
                    "name": "rensto_bot"
                }
            }
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={ \"ok\": true, \"intent\": \"{{ $json.intent }}\", \"urgency\": \"{{ $json.urgency }}\" }",
                "options": {}
            },
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.5,
            "position": [
                1040,
                2512
            ],
            "id": "7730201a-7d57-4481-ba84-ed5aa6d5d8eb",
            "name": "Respond - Success"
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "35b53d02-b135-48e5-9807-5f1b8f34bcff",
                            "name": "isExisting",
                            "value": true,
                            "type": "boolean"
                        },
                        {
                            "id": "4f8c27cd-5e55-4ed0-aa42-4a5c79b121cc",
                            "name": "existingRecordId",
                            "value": "={{ $json.id }}",
                            "type": "string"
                        }
                    ]
                },
                "includeOtherFields": true,
                "options": {}
            },
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                -1104,
                2416
            ],
            "id": "35a5d084-c127-40bc-9cf5-0ada1cfef470",
            "name": "Mark Existing1"
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "5ddb1499-531b-4e87-b7e2-7662269b72ee",
                            "name": "isExisting",
                            "value": false,
                            "type": "boolean"
                        }
                    ]
                },
                "includeOtherFields": true,
                "options": {}
            },
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                -1104,
                2608
            ],
            "id": "3c5a0eaf-d249-4bc8-ae27-412a57b7f915",
            "name": "Mark New1"
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "email",
                            "name": "email",
                            "value": "={{ $json.Email || $json.email || $('Webhook - Lead Intake').item.json.body.email }}",
                            "type": "string"
                        },
                        {
                            "id": "emailBody",
                            "name": "emailBody",
                            "value": "={{ $('Set - Normalize Output').item.json.replyEmailBody || $json.ReplyEmailBody || $json.replyEmailBody }}",
                            "type": "string"
                        },
                        {
                            "id": "bookingLink",
                            "name": "bookingLink",
                            "value": "={{ $('Set - Normalize Output').item.json.bookingLink || $json.BookingLink || $json.bookingLink || 'https://tidycal.com/rensto/discovery' }}",
                            "type": "string"
                        },
                        {
                            "id": "emailSubject",
                            "name": "emailSubject",
                            "value": "={{ $('Set - Normalize Output').item.json.replyEmailSubject || $json.ReplyEmailSubject || $json.replyEmailSubject }}",
                            "type": "string"
                        },
                        {
                            "id": "emailHtml",
                            "name": "emailHtml",
                            "value": "={{ '<p style=\"font-family: Arial, sans-serif; font-size: 16px; line-height: 1.6; color: #333;\">' + ($('Set - Normalize Output').item.json.replyEmailBody || $json.ReplyEmailBody || $json.replyEmailBody || '') + '</p>\\n\\n<p style=\"margin-top: 24px; font-family: Arial, sans-serif; font-size: 16px;\"><strong>Book a call:</strong> <a href=\"' + ($('Set - Normalize Output').item.json.bookingLink || $json.BookingLink || $json.bookingLink || 'https://tidycal.com/rensto/discovery') + '\" style=\"color: #1eaef7; text-decoration: none; font-weight: 600;\">' + ($('Set - Normalize Output').item.json.bookingLink || $json.BookingLink || $json.bookingLink || 'https://tidycal.com/rensto/discovery') + '</a></p>' }}",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "id": "d3632875-6704-4131-ae94-0aa78ae98f1e",
            "name": "Set - Prepare Email HTML1",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                368,
                2512
            ]
        },
        {
            "parameters": {
                "toRecipients": "={{ $json.email }}",
                "subject": "={{ $json.emailSubject }}",
                "bodyContent": "={{ $json.emailHtml }}",
                "additionalFields": {
                    "bodyContentType": "html"
                }
            },
            "type": "n8n-nodes-base.microsoftOutlook",
            "typeVersion": 2,
            "position": [
                592,
                2512
            ],
            "id": "4dac4c05-b3e6-41b9-a4e8-6bf997dd02f6",
            "name": "Send a message1",
            "webhookId": "b69ce30f-57fe-4233-b6f8-d8bf87708ffe",
            "credentials": {
                "microsoftOutlookOAuth2Api": {
                    "id": "EA2Fl9QT5h2HZoo9",
                    "name": "rensto"
                }
            }
        }
    ],
    "pinData": {},
    "connections": {
        "Webhook - Lead Intake": {
            "main": [
                [
                    {
                        "node": "Set - Normalize Fields",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Set - Normalize Fields": {
            "main": [
                [
                    {
                        "node": "IF - Validate Gates",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "IF - Validate Gates": {
            "main": [
                [
                    {
                        "node": "Data Table - Find Existing",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Respond - Reject",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Data Table - Find Existing": {
            "main": [
                [
                    {
                        "node": "IF - Exists?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "IF - Exists?": {
            "main": [
                [
                    {
                        "node": "Mark Existing1",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Mark New1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Firecrawl - Audit Site": {
            "main": [
                [
                    {
                        "node": "OpenAI - Analysis",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "OpenAI - Analysis": {
            "main": [
                [
                    {
                        "node": "Set - Normalize Output",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Set - Normalize Output": {
            "main": [
                [
                    {
                        "node": "IF - Update vs Create",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "IF - Update vs Create": {
            "main": [
                [
                    {
                        "node": "Data Table - Update",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Data Table - Create",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Data Table - Update": {
            "main": [
                [
                    {
                        "node": "Set - Prepare Email HTML1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Data Table - Create": {
            "main": [
                [
                    {
                        "node": "Set - Prepare Email HTML1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Telegram - Alert": {
            "main": [
                [
                    {
                        "node": "Respond - Success",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Mark Existing1": {
            "main": [
                [
                    {
                        "node": "Firecrawl - Audit Site",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Mark New1": {
            "main": [
                [
                    {
                        "node": "Firecrawl - Audit Site",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Set - Prepare Email HTML1": {
            "main": [
                [
                    {
                        "node": "Send a message1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Send a message1": {
            "main": [
                [
                    {
                        "node": "Telegram - Alert",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": true,
    "settings": {
        "executionOrder": "v1",
        "availableInMCP": true,
        "timeSavedMode": "fixed",
        "callerPolicy": "workflowsFromSameOwner"
    },
    "versionId": "6a9af33d-0535-4f5f-9cd3-778853f35317",
    "meta": {
        "templateCredsSetupCompleted": true,
        "instanceId": "d6d5e33115a32f19742462b1f375a2ffde1364323928b1b4e33055d1a9c6e595"
    },
    "id": "tkvtDuXHe3RLhlex",
    "tags": []
}