workflows/rensto_engine_RESTORED_SOURCE.json
{
    "name": "Rensto Internal Content Engine (Official Patched)",
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "weeks",
                            "triggerAtDay": [
                                1,
                                4
                            ],
                            "triggerAtHour": 8,
                            "triggerAtMinute": 30
                        }
                    ]
                }
            },
            "id": "07851de2-e747-4400-b21e-a73bd56f2bdb",
            "name": "Mon & Thu 8:30am1",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.2,
            "position": [
                -11824,
                3552
            ]
        },
        {
            "parameters": {
                "jsCode": "// Rensto Content Engine - English Topic Rotation\nconst topics = [\n  \"Leveraging AI RAG for Instant Employee Training\",\n  \"Automating Outbound Lead Generation for SMBs\",\n  \"The Future of Autonomous Voice Secretaries in Customer Service\",\n  \"Building a Scalable AI Content Engine for SEO\",\n  \"Maximizing ROI with AI-Driven Data Enrichment\",\n  \"Reducing Churn with Predictive AI Analytics\",\n  \"Integrating AI Agents into Existing Slack Workflows\"\n];\n\nconst topicRejectionData = $('Workflow Configuration').first().json;\nconst rejectionCount = topicRejectionData.rejectionCount || 0;\nconst timestamp = Date.now();\nconst rotationSeed = Math.floor(timestamp / (1000 * 60 * 60 * 24)) + rejectionCount;\n\nconst selectedTopic = topics[rotationSeed % topics.length];\n\nreturn [{\n  json: {\n    topic: selectedTopic,\n    rejectionCount: rejectionCount,\n    status: 'pending_approval',\n    timestamp: new Date().toISOString()\n  }\n}];"
            },
            "id": "79d0ffb8-6e97-4acd-8a88-a4a51ff6acef",
            "name": "Topic Rotation",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -11376,
                3552
            ]
        },
        {
            "parameters": {
                "authentication": "oAuth2",
                "operation": "sendAndWait",
                "user": {
                    "__rl": true,
                    "value": "U09F6TB6Q7L",
                    "mode": "list"
                },
                "message": "=🎯 *RENSTO TOPIC SELECTION*\\n\\n*Selected Topic:*\\n{{ $json.topic }}\\n\\nReview this topic for the next blog post?",
                "approvalOptions": {
                    "values": {
                        "approveLabel": "✅ Approve Topic"
                    }
                },
                "options": {}
            },
            "id": "c577fc26-c19a-424b-9272-b829639e3fe5",
            "name": "Topic Approval Request",
            "type": "n8n-nodes-base.slack",
            "typeVersion": 2.3,
            "position": [
                -11152,
                3552
            ],
            "webhookId": "b0c65151-fa76-4ab6-91c1-6ff66a136fff",
            "credentials": {
                "slackOAuth2Api": {
                    "id": "SzzmIuZvYlH8PQ30",
                    "name": "rensto"
                }
            }
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "=You are the Lead Content Strategist for Rensto (rensto.com).\n\n**RENSTO BRAND GUIDELINES:**\n- **Mission**: Empowering SMBs with autonomous AI operations.\n- **Core Pillars**: AI Voice (Autonomous Secretaries), AI Knowledge (RAG), AI Sales (Outbound Lead Gen).\n- **Tone**: Professional, ROI-focused, cutting-edge.\n\n**SPECIFIC TOPIC:** {{ $json.topic }}\n\n**TASK:**\nCreate a COMPREHENSIVE blog post (2000+ words) with full CMS metadata for a Vercel/Next.js site.\n\n**OUTPUT FORMAT (JSON OBJECT ONLY):**\n{\n  \"title\": \"Catchy title with a number\",\n  \"slug\": \"url-sanitized-slug\",\n  \"content\": \"Full markdown content with H2/H3 headers\",\n  \"excerpt\": \"SEO summary (150 chars)\",\n  \"categories\": [\"List\", \"of\", \"pillars\"],\n  \"tags\": [\"Keywords\", \"for\", \"navigation\"],\n  \"focusKeyword\": \"Primary keyword\",\n  \"seoTitle\": \"Optimized title (50-60 chars)\",\n  \"seoDescription\": \"Meta description (160 chars)\",\n  \"image_prompt\": \"Cinematic tech scene reflecting the topic\",\n  \"video_prompt\": \"Cinematic video intro for the article\",\n  \"linkedin_post\": \"Professional LinkedIn post\",\n  \"facebook_post\": \"Engaging Facebook post\"\n}",
                "options": {}
            },
            "id": "8471044b-915f-491e-a9d8-eca7e4cb6985",
            "name": "Rensto Blog AI Agent",
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 3,
            "position": [
                -10808,
                3552
            ]
        },
        {
            "parameters": {
                "model": {
                    "__rl": true,
                    "mode": "list",
                    "value": "claude-sonnet-4-20250514"
                },
                "options": {
                    "maxTokensToSample": 10000,
                    "thinking": true
                }
            },
            "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
            "typeVersion": 1.3,
            "position": [
                -10928,
                3776
            ],
            "id": "0edef93e-491d-4cde-b3b6-683572f0bbad",
            "name": "Claude Agent Model",
            "credentials": {
                "anthropicApi": {
                    "id": "bOftv5dScq3IjYQQ",
                    "name": "Anthropic account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "const inputData = $input.first().json;\nlet parsed = {};\ntry {\n  const cleanJson = inputData.text.replace(/```json/g, '').replace(/```/g, '').trim();\n  parsed = JSON.parse(cleanJson);\n} catch (e) { throw new Error(\"AI failed to return valid JSON.\"); }\n\n// Add timestamps and default status\nreturn {\n  json: { \n    ...parsed, \n    status: 'draft', \n    publishedAt: new Date().toISOString(),\n    updatedAt: new Date().toISOString()\n  }\n};"
            },
            "id": "8ccd9e25-afe5-442c-91fb-a7bba947caba",
            "name": "Parse AI Blog Content",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -10336,
                3552
            ]
        },
        {
            "parameters": {
                "url": "=https://api.kie.ai/api/v1/veo/record-info?taskId={{ $json.data.taskId }}",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.3,
            "position": [
                -9888,
                3552
            ],
            "id": "01828854-cf7f-499b-a39e-f37e2ae8c3b9",
            "name": "Kie.ai: Get Video Status",
            "credentials": {
                "httpHeaderAuth": {
                    "id": "kRI7Q7bdV9tEVPNp",
                    "name": "Kie.ai"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "const videoData = $input.first().json;\nconst retryCount = videoData.retryCount || 0;\nconst success = videoData.data?.successFlag === 1;\nif (success || retryCount >= 10) return [{ json: { ...videoData, videoReady: success, retryCount: 0 } }];\nreturn [{ json: { ...videoData, videoReady: false, retryCount: retryCount + 1 } }];"
            },
            "id": "ce4c7a5f-3b56-4f10-b329-27172f627bea",
            "name": "Wait For Video Ready",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -9664,
                3480
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "version": 2,
                        "leftValue": "",
                        "caseSensitive": true,
                        "typeValidation": "loose"
                    },
                    "conditions": [
                        {
                            "id": "video-ready",
                            "leftValue": "={{ $json.videoReady }}",
                            "operator": {
                                "type": "boolean",
                                "operation": "true",
                                "singleValue": true
                            }
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.2,
            "position": [
                -9440,
                3480
            ],
            "id": "50bb2370-01e1-4165-8a57-b56f3e7f80be",
            "name": "If Video Done"
        },
        {
            "parameters": {
                "amount": 1,
                "unit": "minutes"
            },
            "type": "n8n-nodes-base.wait",
            "typeVersion": 1.1,
            "position": [
                -9216,
                3648
            ],
            "id": "55d2749c-6f7c-4c46-ba3b-fef3440732c4",
            "name": "Wait 1m",
            "webhookId": "5a90f17c-d3e7-4f7b-8f8a-5f82518949aa"
        },
        {
            "parameters": {
                "authentication": "serviceAccount",
                "operation": "update"
            },
            "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
            "typeVersion": 1.1,
            "position": [
                -7424,
                3120
            ],
            "id": "60a9c803-dbd3-426d-8797-3c70355ed745",
            "name": "Firestore: Set Published",
            "credentials": {
                "googleApi": {
                    "id": "HbI3P6PUIe8ATqzp",
                    "name": "Google Service Account account"
                }
            }
        },
        {
            "parameters": {
                "postAs": "organization",
                "organization": "urn:li:organization:17903965",
                "text": "={{ $('Parse AI Blog Content').first().json.linkedin_post }}",
                "additionalFields": {}
            },
            "type": "n8n-nodes-base.linkedIn",
            "typeVersion": 1,
            "position": [
                -7424,
                3312
            ],
            "id": "de596a95-bc0b-4f62-8757-1b746b5034e7",
            "name": "LinkedIn: Publish",
            "credentials": {
                "linkedInOAuth2Api": {
                    "id": "mf5N0cA0xL4c7tNH",
                    "name": "LinkedIn account"
                }
            }
        },
        {
            "parameters": {
                "options": {}
            },
            "type": "n8n-nodes-base.facebookGraphApi",
            "typeVersion": 1,
            "position": [
                -7424,
                3504
            ],
            "id": "d1180101-38e1-4f98-9033-01c41f459800",
            "name": "Facebook: Publish",
            "credentials": {
                "facebookGraphApi": {
                    "id": "QsWE2aL68JecATFj",
                    "name": "Facebook Graph account"
                }
            }
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "id-1",
                            "name": "firestoreProjectId",
                            "value": "rensto",
                            "type": "string"
                        },
                        {
                            "id": "id-2",
                            "name": "targetCollection",
                            "value": "content_posts",
                            "type": "string"
                        },
                        {
                            "id": "id-3",
                            "name": "rejectionCount",
                            "value": 0,
                            "type": "number"
                        },
                        {
                            "id": "id-4",
                            "name": "previouslyRejectedTopics",
                            "value": "[]",
                            "type": "string"
                        }
                    ]
                },
                "includeOtherFields": true,
                "options": {}
            },
            "id": "84611fa4-2dac-434a-adb6-432b8585e056",
            "name": "Workflow Configuration",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                -11600,
                3552
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.kie.ai/api/v1/veo/generate",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ { \"prompt\": $json.video_prompt, \"model\": \"veo3_fast\", \"aspectRatio\": \"16:9\" } }}",
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.3,
            "position": [
                -10112,
                3552
            ],
            "id": "654194d3-b9fb-48f8-a9b0-1c6ddc762612",
            "name": "Kie.ai: Create Video1",
            "credentials": {
                "httpHeaderAuth": {
                    "id": "kRI7Q7bdV9tEVPNp",
                    "name": "Kie.ai"
                }
            }
        },
        {
            "parameters": {
                "authentication": "oAuth2",
                "operation": "sendAndWait",
                "user": {
                    "__rl": true,
                    "value": "U09F6TB6Q7L",
                    "mode": "list"
                },
                "message": "=🚀 *ARTICLE READY FOR RENSTO*\\n\\n*Title:* {{ $('Parse AI Blog Content').first().json.title }}\\n*Slug:* {{ $('Parse AI Blog Content').first().json.slug }}\\n*Excerpt:* {{ $('Parse AI Blog Content').first().json.excerpt }}\\n*SEO Score:* High (AI Validated)\\n\\nReady to distribute to LinkedIn and Facebook?",
                "approvalOptions": {
                    "values": {
                        "approveLabel": "🚀 Publish Everywhere"
                    }
                },
                "options": {}
            },
            "id": "b348b455-5c33-4a32-842e-b9e0a4c88362",
            "name": "Final Slack Approval1",
            "type": "n8n-nodes-base.slack",
            "typeVersion": 2.3,
            "position": [
                -7648,
                3216
            ],
            "webhookId": "465b9f8e-2f43-42f1-a8e0-c5667914f958",
            "credentials": {
                "slackOAuth2Api": {
                    "id": "SzzmIuZvYlH8PQ30",
                    "name": "rensto"
                }
            }
        },
        {
            "parameters": {
                "authentication": "serviceAccount",
                "resource": "collection",
                "projectId": "rensto",
                "database": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Database', ``, 'string') }}",
                "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}"
            },
            "type": "n8n-nodes-base.googleFirebaseCloudFirestoreTool",
            "typeVersion": 1.1,
            "position": [
                -10800,
                3776
            ],
            "id": "8408d121-1c9f-4164-9e27-9638066a1b0d",
            "name": "Get many collections in Google Cloud Firestore1",
            "credentials": {
                "googleApi": {
                    "id": "HbI3P6PUIe8ATqzp",
                    "name": "Google Service Account account"
                }
            }
        },
        {
            "parameters": {
                "authentication": "serviceAccount",
                "operation": "getAll",
                "projectId": "rensto",
                "database": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Database', ``, 'string') }}",
                "collection": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Collection', ``, 'string') }}",
                "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
                "simple": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Simplify', ``, 'boolean') }}",
                "simple": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Simplify', ``, 'boolean') }}"
            },
            "type": "n8n-nodes-base.googleFirebaseCloudFirestoreTool",
            "typeVersion": 1.1,
            "position": [
                -10672,
                3776
            ],
            "id": "a08db1bc-1fde-4ec9-9ad6-c81f5ea79878",
            "name": "Get many documents in Google Cloud Firestore",
            "credentials": {
                "googleApi": {
                    "id": "HbI3P6PUIe8ATqzp",
                    "name": "Google Service Account account"
                }
            }
        },
        {
            "parameters": {
                "authentication": "serviceAccount",
                "operation": "upsert",
                "projectId": "rensto",
                "database": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Database', ``, 'string') }}",
                "collection": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Collection', ``, 'string') }}",
                "updateKey": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Update_Key', ``, 'string') }}",
                "columns": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Columns__Attributes', ``, 'string') }}"
            },
            "type": "n8n-nodes-base.googleFirebaseCloudFirestoreTool",
            "typeVersion": 1.1,
            "position": [
                -10544,
                3776
            ],
            "id": "65770cdc-c984-43ca-ace5-a245c82c2444",
            "name": "Create or update a document in Google Cloud Firestore",
            "credentials": {
                "googleApi": {
                    "id": "HbI3P6PUIe8ATqzp",
                    "name": "Google Service Account account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// Check Image Status - Complex polling logic\n// FIXED: Preserves taskId for loop iterations\n// KEPT: Complex multi-format response handling\n\nconst imageData = $input.first().json;\nconst MAX_RETRIES = 10;\nconst retryCount = imageData.retryCount || 0;\n\nif (retryCount >= MAX_RETRIES) {\n  return [{ json: { skipImage: true, imageReady: false, retryCount: 0, reason: 'Timeout after 50s' } }];\n}\n\nconst state = imageData.data?.state || imageData.state;\nconst status = imageData.data?.status || imageData.status;\nconst successFlag = imageData.data?.successFlag || imageData.successFlag;\nconst resultJson = imageData.data?.resultJson || imageData.resultJson;\n\n// Extract taskId from various possible locations for loop preservation\nconst taskId = imageData.data?.taskId || imageData.taskId || (imageData.data && imageData.data.recordId) || null;\n\nif (['failed', 'error', 'FAILED', 'ERROR'].includes(state) || [2, 3, '2', '3'].includes(successFlag)) {\n  return [{ json: { skipImage: true, imageReady: false, retryCount: 0, reason: 'Image generation failed' } }];\n}\n\nconst isReady = ['completed', 'COMPLETED', 'success', 'SUCCESS'].includes(state) ||\n  [1, '1'].includes(successFlag) ||\n  ['success', 'completed', 'done'].includes(status?.toLowerCase()) ||\n  imageData.data?.resultUrls?.length > 0 ||\n  imageData.data?.url || imageData.data?.imageUrl ||\n  (resultJson && resultJson.trim());\n\nif (!isReady) {\n  // Preserve taskId and data structure for next loop iteration\n  const preservedData = imageData.data || imageData;\n  return [{ json: { \n    skipImage: false, \n    imageReady: false, \n    continuePolling: true, \n    retryCount: retryCount + 1, \n    data: {\n      ...preservedData,\n      taskId: taskId || preservedData.taskId || preservedData.recordId || null\n    }\n  } }];\n}\n\n// Extract URL\nlet imageUrl = null;\nif (resultJson) try { imageUrl = JSON.parse(resultJson).resultUrls?.[0] || JSON.parse(resultJson).url; } catch(e) {}\nif (!imageUrl) imageUrl = imageData.data?.resultUrls?.[0] || imageData.data?.url || imageData.data?.imageUrl || imageData.url || imageData.imageUrl;\n\nif (!imageUrl) {\n  return [{ json: { skipImage: true, imageReady: false, retryCount: 0, reason: 'No URL in response' } }];\n}\n\nreturn [{ json: { skipImage: false, imageReady: true, imageUrl: imageUrl, retryCount: 0 } }];"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -8544,
                3312
            ],
            "id": "9f0951f2-fa66-435e-8ca9-2daa02fa383d",
            "name": "Check Image Status1",
            "notesInFlow": true,
            "notes": "KEPT: Complex polling logic"
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "1",
                            "name": "imageReady",
                            "value": "={{ $json.imageReady === true || $json.imageReady === 'true' || $json.imageReady === 1 }}",
                            "type": "boolean"
                        },
                        {
                            "id": "2",
                            "name": "imageUrl",
                            "value": "={{ $json.imageUrl }}",
                            "type": "string"
                        },
                        {
                            "id": "3",
                            "name": "skipImage",
                            "value": "={{ $json.skipImage ?? false }}",
                            "type": "boolean"
                        },
                        {
                            "id": "4",
                            "name": "retryCount",
                            "value": "={{ $json.retryCount ?? 0 }}",
                            "type": "number"
                        },
                        {
                            "id": "5",
                            "name": "data",
                            "value": "={{ $json.data }}",
                            "type": "object"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                -8320,
                3312
            ],
            "id": "7e3d8ff9-33ae-454f-bfd3-a3d48ef713f9",
            "name": "Normalize Image Status1",
            "notesInFlow": true,
            "notes": "OPTIMIZED: Replaced Code with Edit Fields"
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "version": 2,
                        "leftValue": "",
                        "caseSensitive": true,
                        "typeValidation": "loose"
                    },
                    "conditions": [
                        {
                            "id": "1",
                            "leftValue": "={{ $json.imageReady }}",
                            "operator": {
                                "type": "boolean",
                                "operation": "true",
                                "singleValue": true
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "looseTypeValidation": true,
                "options": {}
            },
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.2,
            "position": [
                -8096,
                3312
            ],
            "id": "c6ff6595-f9e4-42ba-bea0-2a3bed9cca9a",
            "name": "Image Ready?1"
        },
        {
            "parameters": {},
            "type": "n8n-nodes-base.wait",
            "typeVersion": 1.1,
            "position": [
                -7872,
                3456
            ],
            "id": "27b467c9-3abe-4fbc-b172-a211a46d7fff",
            "name": "Wait 5s1",
            "webhookId": "431d0084-006c-4bbf-a7c4-cf0485a2d0a4"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.kie.ai/api/v1/jobs/createTask",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "Bearer 3ca74c96d52beaef45650eb629876245"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ {\n  \"model\": \"google/nano-banana\",\n  \"input\": {\n    \"prompt\": $json.imagePrompt || \"\",\n    \"output_format\": \"png\",\n    \"image_size\": \"1:1\"\n  }\n} }}",
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                -9216,
                3432
            ],
            "id": "42c77c20-090a-4c0f-a016-06ba506e9e64",
            "name": "Create Image Request",
            "credentials": {
                "httpHeaderAuth": {
                    "id": "6A3gXrN7FfXT2tNh",
                    "name": "kie.ai tax4us"
                }
            },
            "onError": "continueRegularOutput"
        },
        {
            "parameters": {
                "url": "=https://api.kie.ai/api/v1/jobs/recordInfo?taskId={{ $json.data.taskId }}",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "options": {
                    "timeout": 30000
                }
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.3,
            "position": [
                -8992,
                3432
            ],
            "id": "6607705c-545c-4aa8-b778-1acc940e4a40",
            "name": "Get Image",
            "credentials": {
                "httpHeaderAuth": {
                    "id": "6A3gXrN7FfXT2tNh",
                    "name": "kie.ai tax4us"
                }
            },
            "onError": "continueRegularOutput"
        },
        {
            "parameters": {
                "url": "={{ $json.imageUrl }}",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "Bearer 3ca74c96d52beaef45650eb629876245"
                        }
                    ]
                },
                "options": {
                    "response": {
                        "response": {
                            "responseFormat": "file"
                        }
                    }
                }
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                -7872,
                3216
            ],
            "id": "44ee64c1-c40f-41a4-8965-d3b3f8b940c6",
            "name": "Download Image",
            "credentials": {
                "httpHeaderAuth": {
                    "id": "6A3gXrN7FfXT2tNh",
                    "name": "kie.ai tax4us"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// Merge Retry State with Image API Response\n// CRITICAL FIX: Preserves retryCount through HTTP Request node\n// Get Image1 outputs only API response, losing retryCount from Wait 5s\n// This node merges API response with preserved retryCount\n\nconst apiResponse = $input.first().json;\n\n// CRITICAL: Get retryCount from Check Image Status node (previous node in loop)\n// Check Image Status preserves retryCount and increments it, so we get it from there\n// This is more reliable than trying to access Wait 5s node\nlet retryCount = 0;\nlet taskId = null;\n\ntry {\n  // Get from Check Image Status (most reliable - it preserves retryCount from previous iteration)\n  const checkData = $('Check Image Status1').first()?.json || {};\n  retryCount = checkData.retryCount || 0;\n  taskId = checkData.data?.taskId || checkData.taskId || null;\n} catch (e) {\n  // Fallback: Try Wait 5s (from previous iteration)\n  try {\n    const waitData = $('Wait 5s1').first()?.json || {};\n    retryCount = waitData.retryCount || 0;\n    taskId = waitData.data?.taskId || waitData.taskId || null;\n  } catch (e2) {\n    console.log('⚠️ Could not access retryCount from upstream nodes, using defaults');\n  }\n}\n\n// Extract taskId from API response if not found\nif (!taskId) {\n  taskId = apiResponse.data?.taskId || apiResponse.taskId || null;\n}\n\n// Merge API response with preserved retry state\nreturn [{\n  json: {\n    ...apiResponse,\n    retryCount: retryCount,\n    data: {\n      ...(apiResponse.data || {}),\n      taskId: taskId || apiResponse.data?.taskId || null\n    }\n  }\n}];"
            },
            "id": "2dcbcc5b-f706-4290-85fb-b0ee2f2141e2",
            "name": "Merge Image Retry State1",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -8768,
                3312
            ]
        }
    ],
    "pinData": {},
    "connections": {
        "Mon & Thu 8:30am1": {
            "main": [
                [
                    {
                        "node": "Workflow Configuration",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Topic Rotation": {
            "main": [
                [
                    {
                        "node": "Topic Approval Request",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Topic Approval Request": {
            "main": [
                [
                    {
                        "node": "Rensto Blog AI Agent",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Rensto Blog AI Agent": {
            "main": [
                [
                    {
                        "node": "Parse AI Blog Content",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Claude Agent Model": {
            "ai_languageModel": [
                [
                    {
                        "node": "Rensto Blog AI Agent",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse AI Blog Content": {
            "main": [
                [
                    {
                        "node": "Kie.ai: Create Video1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Kie.ai: Get Video Status": {
            "main": [
                [
                    {
                        "node": "Wait For Video Ready",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Wait For Video Ready": {
            "main": [
                [
                    {
                        "node": "If Video Done",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "If Video Done": {
            "main": [
                [
                    {
                        "node": "Create Image Request",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Wait 1m",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Wait 1m": {
            "main": [
                [
                    {
                        "node": "Kie.ai: Get Video Status",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Workflow Configuration": {
            "main": [
                [
                    {
                        "node": "Topic Rotation",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Kie.ai: Create Video1": {
            "main": [
                [
                    {
                        "node": "Kie.ai: Get Video Status",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Final Slack Approval1": {
            "main": [
                [
                    {
                        "node": "Firestore: Set Published",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "LinkedIn: Publish",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Facebook: Publish",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get many collections in Google Cloud Firestore1": {
            "ai_tool": [
                [
                    {
                        "node": "Rensto Blog AI Agent",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "Get many documents in Google Cloud Firestore": {
            "ai_tool": [
                [
                    {
                        "node": "Rensto Blog AI Agent",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "Create or update a document in Google Cloud Firestore": {
            "ai_tool": [
                [
                    {
                        "node": "Rensto Blog AI Agent",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "Check Image Status1": {
            "main": [
                [
                    {
                        "node": "Normalize Image Status1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Normalize Image Status1": {
            "main": [
                [
                    {
                        "node": "Image Ready?1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Image Ready?1": {
            "main": [
                [
                    {
                        "node": "Download Image",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Wait 5s1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Wait 5s1": {
            "main": [
                [
                    {
                        "node": "Get Image",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Create Image Request": {
            "main": [
                [
                    {
                        "node": "Get Image",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Image": {
            "main": [
                [
                    {
                        "node": "Merge Image Retry State1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Merge Image Retry State1": {
            "main": [
                [
                    {
                        "node": "Check Image Status1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Download Image": {
            "main": [
                [
                    {
                        "node": "Final Slack Approval1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": true,
    "settings": {
        "saveDataErrorExecution": "all",
        "saveExecutionProgress": true,
        "saveManualExecutions": true,
        "callerPolicy": "workflowsFromSameOwner",
        "availableInMCP": true,
        "timeSavedMode": "fixed",
        "executionOrder": "v0"
    },
    "versionId": "d7cae8cc-2ef7-4ae3-b3e9-ad36fa498397",
    "meta": {
        "templateCredsSetupCompleted": true,
        "instanceId": "d6d5e33115a32f19742462b1f375a2ffde1364323928b1b4e33055d1a9c6e595"
    },
    "id": "dEnD7sb1XNbyp189",
    "tags": []
}