workflows/rensto_inbound_lead_processor.json
{
    "name": "Rensto Inbound Lead Processor",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "inbound-lead",
                "options": {}
            },
            "name": "ManyChat Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                250,
                300
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "number": [
                        {
                            "value1": "={{ $json.body.arr_millions }}",
                            "operation": "largerEqual",
                            "value2": 10
                        },
                        {
                            "value1": "={{ $json.body.arr_millions }}",
                            "operation": "largerEqual",
                            "value2": 2
                        }
                    ]
                }
            },
            "name": "Qualify by ARR",
            "type": "n8n-nodes-base.switch",
            "typeVersion": 1,
            "position": [
                450,
                300
            ]
        },
        {
            "parameters": {
                "operation": "upsert",
                "collection": "leads",
                "documentId": "={{ $json.body.user_id }}",
                "columns": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "name": "={{ $json.body.full_name }}",
                        "email": "={{ $json.body.email }}",
                        "arr": "={{ $json.body.arr_millions }}",
                        "source": "social_dm",
                        "status": "new",
                        "tier": "whale",
                        "timestamp": "={{ new Date().toISOString() }}"
                    }
                }
            },
            "name": "Save Whale Lead",
            "type": "n8n-nodes-base.firestore",
            "typeVersion": 1,
            "position": [
                700,
                100
            ]
        },
        {
            "parameters": {
                "operation": "upsert",
                "collection": "leads",
                "documentId": "={{ $json.body.user_id }}",
                "columns": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "name": "={{ $json.body.full_name }}",
                        "email": "={{ $json.body.email }}",
                        "arr": "={{ $json.body.arr_millions }}",
                        "source": "social_dm",
                        "status": "new",
                        "tier": "high_ticket",
                        "timestamp": "={{ new Date().toISOString() }}"
                    }
                }
            },
            "name": "Save High-Ticket Lead",
            "type": "n8n-nodes-base.firestore",
            "typeVersion": 1,
            "position": [
                700,
                300
            ]
        },
        {
            "parameters": {
                "operation": "upsert",
                "collection": "leads",
                "documentId": "={{ $json.body.user_id }}",
                "columns": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "name": "={{ $json.body.full_name }}",
                        "email": "={{ $json.body.email }}",
                        "arr": "={{ $json.body.arr_millions }}",
                        "source": "social_dm",
                        "status": "nurture",
                        "tier": "marketplace",
                        "timestamp": "={{ new Date().toISOString() }}"
                    }
                }
            },
            "name": "Save Marketplace Lead",
            "type": "n8n-nodes-base.firestore",
            "typeVersion": 1,
            "position": [
                700,
                500
            ]
        },
        {
            "parameters": {
                "channel": "C09BZAFD5U7",
                "text": "={{ '🚨 WHALE ALERT: ' + $json.body.full_name + ' ($' + $json.body.arr_millions + 'M ARR) just contacted us via Social!' }}",
                "otherOptions": {}
            },
            "name": "Alert Shai (Whale)",
            "type": "n8n-nodes-base.slack",
            "typeVersion": 1,
            "position": [
                900,
                100
            ]
        },
        {
            "parameters": {
                "channel": "C09BZAFD5U7",
                "text": "={{ '✨ New High-Ticket Prospect: ' + $json.body.full_name + ' ($' + $json.body.arr_millions + 'M ARR).' }}",
                "otherOptions": {}
            },
            "name": "Alert Shai (Opportunity)",
            "type": "n8n-nodes-base.slack",
            "typeVersion": 1,
            "position": [
                900,
                300
            ]
        }
    ],
    "connections": {
        "ManyChat Webhook": {
            "main": [
                [
                    {
                        "node": "Qualify by ARR",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Qualify by ARR": {
            "main": [
                [
                    {
                        "node": "Save Whale Lead",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Save High-Ticket Lead",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Save Marketplace Lead",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Save Whale Lead": {
            "main": [
                [
                    {
                        "node": "Alert Shai (Whale)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Save High-Ticket Lead": {
            "main": [
                [
                    {
                        "node": "Alert Shai (Opportunity)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}