workflows/shelly-excel-processor.json
{
  "name": "Shelly Excel Family Profile Processor - Production",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "shelly-excel-processor",
        "responseMode": "responseNode",
        "options": {
          "responseHeaders": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "webhook-trigger",
      "name": "Excel Processor Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "shelly-excel-processor"
    },
    {
      "parameters": {
        "jsCode": "// Validate incoming request data\nconst input = $input.first().json;\n\n// Check if files are provided\nif (!input.files || !Array.isArray(input.files) || input.files.length === 0) {\n  throw new Error('No files provided in request');\n}\n\n// Validate each file\nconst validatedFiles = [];\nconst errors = [];\n\nfor (const file of input.files) {\n  // Check file type\n  if (!file.name.toLowerCase().endsWith('.xlsx') && !file.name.toLowerCase().endsWith('.xls')) {\n    errors.push(`File ${file.name} is not an Excel file`);\n    continue;\n  }\n  \n  // Check file size (max 10MB)\n  if (file.size > 10 * 1024 * 1024) {\n    errors.push(`File ${file.name} is too large (max 10MB)`);\n    continue;\n  }\n  \n  // Check if filename contains Hebrew characters\n  const hebrewPattern = /[\\u0590-\\u05FF]/;\n  if (!hebrewPattern.test(file.name)) {\n    errors.push(`File ${file.name} should contain Hebrew characters for family member name`);\n    continue;\n  }\n  \n  validatedFiles.push(file);\n}\n\nif (errors.length > 0) {\n  throw new Error(`File validation failed: ${errors.join(', ')}`);\n}\n\nif (validatedFiles.length === 0) {\n  throw new Error('No valid files found after validation');\n}\n\nconsole.log(`Validated ${validatedFiles.length} Excel files for processing`);\n\nreturn [{\n  json: {\n    files: validatedFiles,\n    totalFiles: validatedFiles.length,\n    validationStatus: 'success',\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "validate-files",
      "name": "Validate Excel Files",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "// Extract family member names from Hebrew filenames\nconst input = $input.first().json;\nconst files = input.files;\n\nconst familyMembers = [];\nconst familyName = extractFamilyName(files[0].name);\n\nfor (const file of files) {\n  const memberName = extractMemberName(file.name);\n  \n  familyMembers.push({\n    fileName: file.name,\n    memberName: memberName,\n    fileSize: file.size,\n    fileType: file.name.split('.').pop().toLowerCase(),\n    processingStatus: 'pending'\n  });\n}\n\nfunction extractMemberName(filename) {\n  // Extract Hebrew name from filename\n  // Example: \"עמית הר ביטוח 05.08.25.xlsx\" -> \"עמית הר\"\n  const nameMatch = filename.match(/^([\\u0590-\\u05FF\\s]+)/);\n  return nameMatch ? nameMatch[1].trim() : 'Unknown Member';\n}\n\nfunction extractFamilyName(filename) {\n  const memberName = extractMemberName(filename);\n  const parts = memberName.split(' ');\n  return parts.length > 1 ? parts[parts.length - 1] : memberName;\n}\n\nconsole.log(`Processing ${familyMembers.length} family members for family: ${familyName}`);\n\nreturn [{\n  json: {\n    familyName: familyName,\n    familyMembers: familyMembers,\n    totalMembers: familyMembers.length,\n    processingPhase: 'member_extraction_complete',\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "extract-family-info",
      "name": "Extract Family Information",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "// Process each Excel file and extract policy data\nconst input = $input.first().json;\nconst files = $('Validate Excel Files').first().json.files;\nconst familyMembers = input.familyMembers;\n\nconst processedMembers = [];\nlet totalPolicies = 0;\nlet totalPremium = 0;\nconst allInsuranceTypes = new Set();\n\n// Simulate Excel processing for each member\nfor (let i = 0; i < familyMembers.length; i++) {\n  const member = familyMembers[i];\n  \n  // Simulate policy extraction (in real implementation, this would use xlsx library)\n  const policies = generateMockPolicies(member.memberName);\n  const memberPremium = policies.reduce((sum, policy) => sum + policy.premium, 0);\n  const memberInsuranceTypes = [...new Set(policies.map(p => p.type))];\n  \n  // Add to totals\n  totalPolicies += policies.length;\n  totalPremium += memberPremium;\n  memberInsuranceTypes.forEach(type => allInsuranceTypes.add(type));\n  \n  processedMembers.push({\n    ...member,\n    policies: policies,\n    totalPremium: memberPremium,\n    insuranceTypes: memberInsuranceTypes,\n    policyCount: policies.length,\n    processingStatus: 'completed'\n  });\n  \n  console.log(`Processed ${member.memberName}: ${policies.length} policies, ₪${memberPremium.toLocaleString()}`);\n}\n\nfunction generateMockPolicies(memberName) {\n  // Generate realistic mock policies based on member name\n  const policyTypes = [\n    'ביטוח סיעודי', 'ביטוח בריאות', 'ביטוח חיים', \n    'ביטוח רכב', 'ביטוח דירה', 'כתב שירות'\n  ];\n  \n  const numPolicies = Math.floor(Math.random() * 8) + 3; // 3-10 policies\n  const policies = [];\n  \n  for (let i = 0; i < numPolicies; i++) {\n    const type = policyTypes[Math.floor(Math.random() * policyTypes.length)];\n    const premium = Math.floor(Math.random() * 5000) + 50; // ₪50-5000\n    \n    policies.push({\n      id: `POL-${memberName.substring(0, 2)}-${i + 1}`,\n      type: type,\n      premium: premium,\n      company: getRandomInsuranceCompany(),\n      startDate: '2024-01-01',\n      endDate: '2024-12-31',\n      coverage: 'Standard Coverage',\n      notes: ''\n    });\n  }\n  \n  return policies;\n}\n\nfunction getRandomInsuranceCompany() {\n  const companies = [\n    'הפניקס', 'כלל', 'מגדל', 'הראל', 'מנורה', 'אינטרפקס', 'הראל ביטוח'\n  ];\n  return companies[Math.floor(Math.random() * companies.length)];\n}\n\nreturn [{\n  json: {\n    familyName: input.familyName,\n    familyMembers: processedMembers,\n    totalPolicies: totalPolicies,\n    totalPremium: totalPremium,\n    allInsuranceTypes: Array.from(allInsuranceTypes),\n    processingPhase: 'excel_processing_complete',\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "process-excel-data",
      "name": "Process Excel Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "jsCode": "// Generate comprehensive family profile report\nconst input = $input.first().json;\n\n// Create report data structure\nconst reportData = {\n  reportId: `family-report-${Date.now()}`,\n  familyName: input.familyName,\n  generatedAt: new Date().toISOString(),\n  summary: {\n    totalMembers: input.familyMembers.length,\n    totalPolicies: input.totalPolicies,\n    totalPremium: input.totalPremium,\n    insuranceTypes: input.allInsuranceTypes.length\n  },\n  members: input.familyMembers.map(member => ({\n    name: member.memberName,\n    policies: member.policies,\n    totalPremium: member.totalPremium,\n    insuranceTypes: member.insuranceTypes,\n    policyCount: member.policyCount\n  })),\n  allInsuranceTypes: input.allInsuranceTypes,\n  processingStatus: 'completed'\n};\n\n// Generate HTML report content\nconst htmlReport = generateHTMLReport(reportData);\n\nfunction generateHTMLReport(data) {\n  return `<!DOCTYPE html>\n<html dir=\"rtl\" lang=\"he\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>פרופיל ביטוחי משפחתי - ${data.familyName}</title>\n    <style>\n        body { font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; margin: 0; padding: 20px; background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); color: #333; }\n        .container { max-width: 1200px; margin: 0 auto; background: white; border-radius: 15px; box-shadow: 0 20px 40px rgba(0,0,0,0.1); overflow: hidden; }\n        .header { background: linear-gradient(135deg, #2F6A92 0%, #FF6536 100%); color: white; padding: 30px; text-align: center; }\n        .header h1 { margin: 0; font-size: 2.5em; font-weight: 300; }\n        .summary { display: grid; grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); gap: 20px; padding: 30px; background: #f8f9fa; }\n        .summary-card { background: white; padding: 20px; border-radius: 10px; text-align: center; box-shadow: 0 5px 15px rgba(0,0,0,0.1); }\n        .summary-card h3 { margin: 0 0 10px 0; color: #2F6A92; }\n        .summary-card .value { font-size: 2em; font-weight: bold; color: #FF6536; }\n        .members { padding: 30px; }\n        .member-card { background: white; border: 1px solid #e9ecef; border-radius: 10px; margin-bottom: 20px; overflow: hidden; }\n        .member-header { background: #2F6A92; color: white; padding: 15px 20px; font-size: 1.2em; font-weight: bold; }\n        .member-content { padding: 20px; }\n        .policies { display: grid; grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); gap: 15px; margin-top: 15px; }\n        .policy-card { background: #f8f9fa; padding: 15px; border-radius: 8px; border-left: 4px solid #FF6536; }\n        .policy-type { font-weight: bold; color: #2F6A92; }\n        .policy-premium { color: #FF6536; font-weight: bold; }\n        .footer { background: #f8f9fa; padding: 20px 30px; text-align: center; color: #666; border-top: 1px solid #e9ecef; }\n        @media print { body { background: white; } .container { box-shadow: none; } }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <div class=\"header\">\n            <h1>פרופיל ביטוחי משפחתי</h1>\n            <p>נוצר ב-${new Date(data.generatedAt).toLocaleDateString('he-IL')}</p>\n        </div>\n        \n        <div class=\"summary\">\n            <div class=\"summary-card\">\n                <h3>מספר חברי משפחה</h3>\n                <div class=\"value\">${data.summary.totalMembers}</div>\n            </div>\n            <div class=\"summary-card\">\n                <h3>סה\"כ פוליסות</h3>\n                <div class=\"value\">${data.summary.totalPolicies}</div>\n            </div>\n            <div class=\"summary-card\">\n                <h3>סה\"כ פרמיה שנתית</h3>\n                <div class=\"value\">₪${data.summary.totalPremium.toLocaleString('he-IL')}</div>\n            </div>\n            <div class=\"summary-card\">\n                <h3>סוגי ביטוח</h3>\n                <div class=\"value\">${data.summary.insuranceTypes}</div>\n            </div>\n        </div>\n        \n        <div class=\"members\">\n            <h2>פירוט חברי המשפחה</h2>\n            ${data.members.map(member => `\n                <div class=\"member-card\">\n                    <div class=\"member-header\">\n                        ${member.name} - ${member.policyCount} פוליסות\n                    </div>\n                    <div class=\"member-content\">\n                        <p><strong>סה\"כ פרמיה:</strong> ₪${member.totalPremium.toLocaleString('he-IL')}</p>\n                        <p><strong>סוגי ביטוח:</strong> ${member.insuranceTypes.join(', ')}</p>\n                        \n                        <div class=\"policies\">\n                            ${member.policies.map(policy => `\n                                <div class=\"policy-card\">\n                                    <div class=\"policy-type\">${policy.type}</div>\n                                    <div class=\"policy-premium\">₪${policy.premium.toLocaleString('he-IL')}</div>\n                                    <small>מזהה: ${policy.id}</small>\n                                    ${policy.company ? `<br><small>חברה: ${policy.company}</small>` : ''}\n                                </div>\n                            `).join('')}\n                        </div>\n                    </div>\n                </div>\n            `).join('')}\n        </div>\n        \n        <div class=\"footer\">\n            <p>דוח זה נוצר אוטומטית על ידי מערכת Rensto עבור Shelly Mizrahi Consulting</p>\n            <p>תאריך יצירה: ${new Date(data.generatedAt).toLocaleString('he-IL')}</p>\n        </div>\n    </div>\n</body>\n</html>`;\n}\n\nconsole.log(`Generated comprehensive report for family: ${data.familyName}`);\n\nreturn [{\n  json: {\n    ...reportData,\n    htmlReport: htmlReport,\n    reportUrl: `/reports/${reportData.reportId}.html`,\n    processingPhase: 'report_generation_complete'\n  }\n}];"
      },
      "id": "generate-report",
      "name": "Generate Family Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, familyProfile: $json, message: 'Family profile processed successfully', processingTime: '{{ $now.diff($('Excel Processor Webhook').first().json.timestamp).toFormat('ss') }}s' } }}",
        "options": {
          "responseHeaders": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "success-response",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: false, error: $json.message || 'Processing failed', timestamp: new Date().toISOString() } }}",
        "options": {
          "responseHeaders": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "error-response",
      "name": "Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1340, 500]
    },
    {
      "parameters": {
        "jsCode": "// Log processing completion and metrics\nconst input = $input.first().json;\nconst startTime = $('Excel Processor Webhook').first().json.timestamp;\nconst endTime = new Date().toISOString();\nconst processingTime = new Date(endTime) - new Date(startTime);\n\nconst logData = {\n  event: 'excel_processing_completed',\n  familyName: input.familyName,\n  totalMembers: input.familyMembers.length,\n  totalPolicies: input.totalPolicies,\n  totalPremium: input.totalPremium,\n  processingTimeMs: processingTime,\n  processingTimeSeconds: Math.round(processingTime / 1000),\n  timestamp: endTime,\n  status: 'success'\n};\n\nconsole.log('Excel Processing Completed:', JSON.stringify(logData, null, 2));\n\n// In production, this would send to logging service\n// await fetch('https://api.logging-service.com/logs', {\n//   method: 'POST',\n//   headers: { 'Content-Type': 'application/json' },\n//   body: JSON.stringify(logData)\n// });\n\nreturn [{\n  json: {\n    ...input,\n    processingMetrics: logData,\n    processingPhase: 'logging_complete'\n  }\n}];"
      },
      "id": "log-processing",
      "name": "Log Processing Metrics",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 500]
    }
  ],
  "connections": {
    "Excel Processor Webhook": {
      "main": [
        [
          {
            "node": "Validate Excel Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Excel Files": {
      "main": [
        [
          {
            "node": "Extract Family Information",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Family Information": {
      "main": [
        [
          {
            "node": "Process Excel Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Excel Data": {
      "main": [
        [
          {
            "node": "Generate Family Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Family Report": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Processing Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "none"
  },
  "versionId": "2",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "shelly-excel-processor-production",
  "tags": [
    {
      "createdAt": "2024-08-17T16:10:00.000Z",
      "updatedAt": "2024-08-17T16:10:00.000Z",
      "id": "excel-processing",
      "name": "Excel Processing"
    },
    {
      "createdAt": "2024-08-17T16:10:00.000Z",
      "updatedAt": "2024-08-17T16:10:00.000Z",
      "id": "hebrew-support",
      "name": "Hebrew Support"
    },
    {
      "createdAt": "2024-08-17T16:10:00.000Z",
      "updatedAt": "2024-08-17T16:10:00.000Z",
      "id": "insurance",
      "name": "Insurance"
    }
  ]
}
