workflows/STRIPE-INSTALL-001-UPDATED.json
{
  "name": "STRIPE-INSTALL-001: Installation Service Handler",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "stripe-marketplace-install",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Stripe Webhook - Install",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [240, 304],
      "webhookId": "fc0648a2-4da0-4254-9f68-7ccf5f6dcff8"
    },
    {
      "parameters": {
        "jsCode": "// Parse Stripe webhook data\nconst webhookData = $input.first().json;\n\n// Extract data from webhook payload\nconst customerEmail = webhookData.customerEmail || webhookData.metadata?.customerEmail;\nconst amount = webhookData.amount || 0;\nconst productId = webhookData.productId || webhookData.metadata?.productId;\nconst sessionId = webhookData.sessionId || '';\nconst flowType = webhookData.flowType || 'marketplace-install';\nconst tier = webhookData.tier || webhookData.metadata?.tier || 'template';\nconst templateName = webhookData.metadata?.templateName || webhookData.metadata?.productName || '';\n\nreturn [{\n  customerEmail,\n  amount,\n  productId, // This should match Workflow ID in Marketplace Products\n  sessionId,\n  flowType,\n  tier,\n  templateName,\n  purchaseType: 'Installation',\n  timestamp: new Date().toISOString(),\n  // Store full webhook data for reference\n  webhookData\n}];"
      },
      "id": "parse-data",
      "name": "Parse Webhook Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [464, 304]
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appQijHhqqP4z6wGe",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "Customers",
          "mode": "list"
        },
        "filterByFormula": "={Email}='{{ $json.customerEmail }}'",
        "options": {}
      },
      "id": "find-customer",
      "name": "Find Customer",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [688, 304],
      "credentials": {
        "airtableTokenApi": {
          "id": "tilk3s6sK9ATRt9r",
          "name": "rensto/shai"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "base": {
          "__rl": true,
          "value": "appQijHhqqP4z6wGe",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "Customers",
          "mode": "list"
        },
        "fields": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $('Parse Webhook Data').item.json.customerEmail }}",
            "Name": "={{ $('Parse Webhook Data').item.json.webhookData.customerName || 'Customer' }}",
            "Last Contact Date": "={{ $now.toISO() }}"
          },
          "matchingColumns": ["Email"],
          "schema": []
        },
        "options": {}
      },
      "id": "create-customer",
      "name": "Create/Update Customer",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [912, 304],
      "credentials": {
        "airtableTokenApi": {
          "id": "tilk3s6sK9ATRt9r",
          "name": "rensto/shai"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "base": {
          "__rl": true,
          "value": "appQijHhqqP4z6wGe",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "Projects",
          "mode": "list"
        },
        "fields": {
          "mappingMode": "defineBelow",
          "value": {
            "Customer": "={{ $('Create/Update Customer').first().json.id }}",
            "Project Name": "={{ 'Installation: ' + ($('Parse Webhook Data').item.json.templateName || $('Parse Webhook Data').item.json.productId) }}",
            "Status": "⏳ Pending Installation",
            "Start Date": "={{ $now.toISO() }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "create-project",
      "name": "Create Project",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [1136, 304],
      "credentials": {
        "airtableTokenApi": {
          "id": "tilk3s6sK9ATRt9r",
          "name": "rensto/shai"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "app6saCaH88uK3kCO",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "Marketplace Products",
          "mode": "list"
        },
        "filterByFormula": "={Workflow ID}='{{ $('Parse Webhook Data').item.json.productId }}'",
        "options": {}
      },
      "id": "find-product",
      "name": "Find Marketplace Product",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [1360, 304],
      "credentials": {
        "airtableTokenApi": {
          "id": "tilk3s6sK9ATRt9r",
          "name": "rensto/shai"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "base": {
          "__rl": true,
          "value": "app6saCaH88uK3kCO",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "Marketplace Purchases",
          "mode": "list"
        },
        "fields": {
          "mappingMode": "defineBelow",
          "value": {
            "Customer Email": "={{ $('Parse Webhook Data').item.json.customerEmail }}",
            "Product": "={{ $('Find Marketplace Product').first().json.id }}",
            "Purchase Date": "={{ $now.toISO() }}",
            "Purchase Type": "Installation",
            "Amount Paid": "={{ $('Parse Webhook Data').item.json.amount }}",
            "Stripe Session ID": "={{ $('Parse Webhook Data').item.json.sessionId }}",
            "Status": "⏳ Pending",
            "Installation Booked": false
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "create-purchase",
      "name": "Create Marketplace Purchase",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [1584, 304],
      "credentials": {
        "airtableTokenApi": {
          "id": "tilk3s6sK9ATRt9r",
          "name": "rensto/shai"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.rensto.com/api/installation/booking",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": []
        },
        "specifyBody": "json",
        "jsonBody": "={\n  \"customerEmail\": \"{{ $('Parse Webhook Data').item.json.customerEmail }}\",\n  \"workflowName\": \"{{ $('Parse Webhook Data').item.json.templateName }}\",\n  \"productId\": \"{{ $('Parse Webhook Data').item.json.productId }}\",\n  \"projectId\": \"{{ $('Create Project').first().json.id }}\",\n  \"purchaseRecordId\": \"{{ $('Create Marketplace Purchase').first().json.id }}\"\n}",
        "options": {}
      },
      "id": "generate-tidycal",
      "name": "Generate TidyCal Link",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1808, 304],
      "notes": "TODO: Create API endpoint to generate TidyCal booking links"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "app6saCaH88uK3kCO",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "Marketplace Purchases",
          "mode": "list"
        },
        "id": "={{ $('Create Marketplace Purchase').first().json.id }}",
        "fields": {
          "mappingMode": "defineBelow",
          "value": {
            "TidyCal Booking Link": "={{ $json.tidycalLink || $json.url || $json.bookingUrl }}",
            "Status": "📅 Installation Booked",
            "Access Granted": true
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "update-purchase",
      "name": "Update Purchase with TidyCal Link",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [2032, 304],
      "credentials": {
        "airtableTokenApi": {
          "id": "tilk3s6sK9ATRt9r",
          "name": "rensto/shai"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  \"success\": true,\n  \"message\": \"Installation purchase processed\",\n  \"purchaseId\": $('Create Marketplace Purchase').first().json.id,\n  \"projectId\": $('Create Project').first().json.id,\n  \"tidycalLink\": $('Generate TidyCal Link').json.tidycalLink || $('Generate TidyCal Link').json.url || $('Generate TidyCal Link').json.bookingUrl,\n  \"customerEmail\": $('Parse Webhook Data').item.json.customerEmail\n} }}",
        "options": {}
      },
      "id": "respond",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [2256, 304]
    }
  ],
  "connections": {
    "Stripe Webhook - Install": {
      "main": [[{ "node": "Parse Webhook Data", "type": "main", "index": 0 }]]
    },
    "Parse Webhook Data": {
      "main": [[{ "node": "Find Customer", "type": "main", "index": 0 }]]
    },
    "Find Customer": {
      "main": [[{ "node": "Create/Update Customer", "type": "main", "index": 0 }]]
    },
    "Create/Update Customer": {
      "main": [[{ "node": "Create Project", "type": "main", "index": 0 }]]
    },
    "Create Project": {
      "main": [[{ "node": "Find Marketplace Product", "type": "main", "index": 0 }]]
    },
    "Find Marketplace Product": {
      "main": [[{ "node": "Create Marketplace Purchase", "type": "main", "index": 0 }]]
    },
    "Create Marketplace Purchase": {
      "main": [[{ "node": "Generate TidyCal Link", "type": "main", "index": 0 }]]
    },
    "Generate TidyCal Link": {
      "main": [[{ "node": "Update Purchase with TidyCal Link", "type": "main", "index": 0 }]]
    },
    "Update Purchase with TidyCal Link": {
      "main": [[{ "node": "Respond Success", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}

