workflows/TYPEFORM-READY-SOLUTIONS-QUIZ-001.json
{
  "name": "TYPEFORM-READY-SOLUTIONS-QUIZ-001: Industry Quiz Handler v1",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "typeform-ready-solutions-quiz",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Typeform Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "// Parse Typeform webhook payload\nconst webhookData = $input.first().json;\nconst formResponse = webhookData.form_response || webhookData;\n\n// Extract answers from Typeform response\nconst answers = {};\nif (formResponse.answers) {\n  formResponse.answers.forEach(answer => {\n    const fieldRef = answer.field?.ref || answer.field?.id || '';\n    if (answer.type === 'email') answers.email = answer.email || '';\n    else if (answer.type === 'text') answers[fieldRef] = answer.text || '';\n    else if (answer.type === 'choice') answers[fieldRef] = answer.choice?.label || answer.choice?.other || '';\n    else if (answer.type === 'choices') answers[fieldRef] = answer.choices?.labels || [];\n    else if (answer.type === 'number') answers[fieldRef] = answer.number || 0;\n    else if (answer.type === 'phone_number') answers[fieldRef] = answer.phone_number || '';\n  });\n}\n\n// Map to our fields\nconst leadData = {\n  email: answers.email || answers.Email || '',\n  industry: answers.industry || answers.Industry || '',\n  time_waster: answers.time_waster || answers['time-waster'] || '',\n  team_size: parseInt(answers.team_size || answers['team-size'] || 0),\n  current_tools: Array.isArray(answers.current_tools || answers['current-tools']) ? answers.current_tools || answers['current-tools'] : [],\n  timeline: answers.timeline || answers.Timeline || '',\n  phone: answers.phone || answers.Phone || '',\n  form_id: webhookData.form_id || '',\n  submitted_at: formResponse.submitted_at || new Date().toISOString(),\n  token: formResponse.token || ''\n};\n\nreturn [{\n  json: {\n    success: true,\n    leadData: leadData,\n    raw: webhookData\n  }\n}];"
      },
      "id": "parse-typeform",
      "name": "Parse Typeform Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "operation": "list",
        "application": "app4nJpP1ytGukXQT",
        "table": "Industry Solutions",
        "additionalOptions": {
          "filterByFormula": "={Industry} = '{{ $json.leadData.industry }}'"
        }
      },
      "id": "lookup-industry",
      "name": "Lookup Industry Solutions",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "operation": "insert",
        "dataTableId": "typeform_leads",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "email": "={{ $('Parse Typeform Data').item.json.leadData.email }}",
            "name": "={{ $('Parse Typeform Data').item.json.leadData.email.split('@')[0] }}",
            "service_type": "Ready Solutions",
            "cvj_stage": "Subscribe",
            "lead_source_page": "Ready Solutions",
            "industry": "={{ $('Parse Typeform Data').item.json.leadData.industry }}",
            "team_size": "={{ $('Parse Typeform Data').item.json.leadData.team_size }}",
            "timeline": "={{ $('Parse Typeform Data').item.json.leadData.timeline }}",
            "phone": "={{ $('Parse Typeform Data').item.json.leadData.phone }}",
            "notes": "={{ 'Time Waster: ' + ($('Parse Typeform Data').item.json.leadData.time_waster || 'N/A') + '\\nCurrent Tools: ' + (Array.isArray($('Parse Typeform Data').item.json.leadData.current_tools) ? $('Parse Typeform Data').item.json.leadData.current_tools.join(', ') : ($('Parse Typeform Data').item.json.leadData.current_tools || 'N/A')) }}",
            "source": "Typeform - Ready Solutions Quiz",
            "status": "New",
            "created_at": "={{ $now.format('YYYY-MM-DD HH:mm:ss') }}",
            "form_id": "={{ $('Parse Typeform Data').item.json.leadData.form_id }}",
            "submitted_at": "={{ $('Parse Typeform Data').item.json.leadData.submitted_at }}"
          }
        },
        "options": {}
      },
      "id": "create-lead",
      "name": "Save Lead to Data Table",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "to": "={{ $('Parse Typeform Data').item.json.leadData.email }}",
        "subject": "=Your {{ $('Parse Typeform Data').item.json.leadData.industry }} Automation Package Recommendation",
        "bodyContent": "={{ 'Hi there!\\n\\nThank you for taking our Industry Automation Quiz!\\n\\nBased on your responses, we\\'ve identified the perfect automation solutions for your ' + ($('Parse Typeform Data').item.json.leadData.industry || 'business') + ' business.\\n\\n**Your Recommended Package:**\\n\\n' + (($('Lookup Industry Solutions').item.json.fields && $('Lookup Industry Solutions').item.json.fields['Package Name']) || 'Industry-Specific Automation Package') + '\\n\\n**What\\'s Included:**\\n' + (($('Lookup Industry Solutions').item.json.fields && $('Lookup Industry Solutions').item.json.fields['Solutions']) || '5 industry-specific automation solutions') + '\\n\\n**Get Your Package:**\\n👉 https://rensto.com/solutions\\n\\nQuestions? Reply to this email or book a call with our team.\\n\\nBest regards,\\nThe Rensto Team' }}",
        "additionalFields": {
          "contentType": "html"
        }
      },
      "id": "send-email",
      "name": "Send Recommendation Email",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [1120, 300],
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "EA2Fl9QT5h2HZoo9",
          "name": "rensto"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "urgent-timeline",
              "leftValue": "={{ $('Parse Typeform Data').item.json.leadData.timeline }}",
              "rightValue": "This week (urgent)",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-urgent",
      "name": "Is Urgent?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1340, 200]
    },
    {
      "parameters": {
        "channel": "sales",
        "text": "=## 🚨 Urgent Lead: Ready Solutions Quiz\\n\\n**Industry:** {{ $('Parse Typeform Data').item.json.leadData.industry }}\\n**Email:** {{ $('Parse Typeform Data').item.json.leadData.email }}\\n**Timeline:** {{ $('Parse Typeform Data').item.json.leadData.timeline }}\\n**Team Size:** {{ $('Parse Typeform Data').item.json.leadData.team_size }}\\n\\n**Action Required:** Follow up immediately",
        "otherOptions": {
          "username": "Rensto Bot",
          "icon_emoji": ":rocket:"
        }
      },
      "id": "slack-notify",
      "name": "Notify Slack (Urgent)",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [1560, 100]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"message\": \"Thank you! Check your email for your personalized industry automation package recommendation.\"\n}",
        "options": {}
      },
      "id": "success-response",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1780, 200]
    }
  ],
  "connections": {
    "Typeform Webhook": {
      "main": [
        [
          {
            "node": "Parse Typeform Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Typeform Data": {
      "main": [
        [
          {
            "node": "Lookup Industry Solutions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lookup Industry Solutions": {
      "main": [
        [
          {
            "node": "Save Lead to Data Table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Lead to Data Table": {
      "main": [
        [
          {
            "node": "Send Recommendation Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Recommendation Email": {
      "main": [
        [
          {
            "node": "Is Urgent?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Urgent?": {
      "main": [
        [
          {
            "node": "Notify Slack (Urgent)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Slack (Urgent)": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "typeform",
      "createdAt": "2025-11-14T00:00:00.000Z",
      "updatedAt": "2025-11-14T00:00:00.000Z"
    },
    {
      "name": "ready-solutions",
      "createdAt": "2025-11-14T00:00:00.000Z",
      "updatedAt": "2025-11-14T00:00:00.000Z"
    }
  ]
}

