workflows/TYPEFORM-TEMPLATE-REQUEST-001.json
{
  "name": "TYPEFORM-TEMPLATE-REQUEST-001: Template Request Handler v1",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "typeform-template-request",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Typeform Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "// Parse Typeform webhook payload\nconst webhookData = $input.first().json;\nconst formResponse = webhookData.form_response || webhookData;\n\n// Extract answers\nconst answers = {};\nif (formResponse.answers) {\n  formResponse.answers.forEach(answer => {\n    const fieldRef = answer.field?.ref || answer.field?.id || '';\n    if (answer.type === 'email') answers.email = answer.email || '';\n    else if (answer.type === 'text') answers[fieldRef] = answer.text || '';\n    else if (answer.type === 'long_text') answers[fieldRef] = answer.text || '';\n    else if (answer.type === 'choice') answers[fieldRef] = answer.choice?.label || '';\n    else if (answer.type === 'choices') answers[fieldRef] = answer.choices?.labels || [];\n  });\n}\n\nconst requestData = {\n  email: answers.email || answers.Email || '',\n  template_name: answers.template_name || answers['template-name'] || '',\n  description: answers.description || answers.Description || '',\n  tools: Array.isArray(answers.tools || answers.Tools) ? answers.tools || answers.Tools : [],\n  urgency: answers.urgency || answers.Urgency || '',\n  budget: answers.budget || answers.Budget || '',\n  form_id: webhookData.form_id || '',\n  submitted_at: formResponse.submitted_at || new Date().toISOString()\n};\n\nreturn [{\n  json: {\n    success: true,\n    requestData: requestData\n  }\n}];"
      },
      "id": "parse-typeform",
      "name": "Parse Typeform Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "operation": "insert",
        "dataTableId": "template_requests",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "template_name": "={{ $json.requestData.template_name }}",
            "description": "={{ $json.requestData.description }}",
            "tools_required": "={{ Array.isArray($json.requestData.tools) ? $json.requestData.tools.join(', ') : ($json.requestData.tools || 'N/A') }}",
            "urgency": "={{ $json.requestData.urgency }}",
            "budget": "={{ $json.requestData.budget }}",
            "status": "New",
            "email": "={{ $json.requestData.email }}",
            "submitted_at": "={{ $json.requestData.submitted_at }}",
            "form_id": "={{ $json.requestData.form_id }}"
          }
        },
        "options": {}
      },
      "id": "create-request",
      "name": "Save Template Request",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {
          "temperature": 0.3
        },
        "messages": {
          "messageValues": [
            {
              "role": "system",
              "content": "You are an automation expert. Analyze the template request and estimate complexity."
            },
            {
              "role": "user",
              "content": "=Template: {{ $json.requestData.template_name }}\\nDescription: {{ $json.requestData.description }}\\nTools: {{ $json.requestData.tools.join(', ') }}\\n\\nEstimate:\\n1. Complexity (Simple/Advanced/Complex)\\n2. Estimated hours\\n3. Recommended approach"
            }
          ]
        }
      },
      "id": "calculate-complexity",
      "name": "Calculate Complexity (OpenAI)",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "channel": "template-requests",
        "text": "=## 🔨 New Template Request\\n\\n**Template:** {{ $('Parse Typeform Data').item.json.requestData.template_name }}\\n**Budget:** {{ $('Parse Typeform Data').item.json.requestData.budget }}\\n**Urgency:** {{ $('Parse Typeform Data').item.json.requestData.urgency }}\\n**Email:** {{ $('Parse Typeform Data').item.json.requestData.email }}\\n\\n{{ $('Parse Typeform Data').item.json.requestData.urgency === 'ASAP (willing to pay premium for fast delivery)' ? '🚨 URGENT REQUEST' : '' }}",
        "otherOptions": {
          "username": "Rensto Bot",
          "icon_emoji": ":hammer:"
        }
      },
      "id": "slack-notify",
      "name": "Notify Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "asap-urgency",
              "leftValue": "={{ $('Parse Typeform Data').item.json.requestData.urgency }}",
              "rightValue": "ASAP (willing to pay premium for fast delivery)",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-asap",
      "name": "Is ASAP?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1340, 200]
    },
    {
      "parameters": {
        "to": "={{ $('Parse Typeform Data').item.json.requestData.email }}",
        "subject": "=Template Request Received{{ $('Is ASAP?').item.json.requestData.urgency === 'ASAP (willing to pay premium for fast delivery)' ? ' - We'll Prioritize Your Request!' : '' }}",
        "bodyContent": "=Hi there!\\n\\nThank you for your template request: **{{ $('Parse Typeform Data').item.json.requestData.template_name }}**\\n\\n{{ $('Is ASAP?').item.json.requestData.urgency === 'ASAP (willing to pay premium for fast delivery)' ? '🚨 We've marked your request as URGENT and will prioritize it!' : 'We'll review your request and get back to you within 48 hours.' }}\\n\\n**What happens next:**\\n✓ We'll assess complexity & feasibility\\n✓ Send you a quote + timeline\\n✓ Build the template if approved\\n✓ Deliver with installation guide\\n\\n**Meanwhile:**\\nBrowse our existing templates: https://rensto.com/marketplace\\n\\nBest regards,\\nThe Rensto Team",
        "additionalFields": {
          "contentType": "html"
        }
      },
      "id": "send-email",
      "name": "Send Confirmation Email",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [1560, 200],
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "EA2Fl9QT5h2HZoo9",
          "name": "rensto"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "high-value",
              "leftValue": "={{ $('Parse Typeform Data').item.json.requestData.budget }}",
              "rightValue": "$1,000+ (Full-service)",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-high-value",
      "name": "Is High Value?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1780, 200]
    },
    {
      "parameters": {
        "operation": "insert",
        "dataTableId": "crm_opportunities",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "name": "={{ $('Parse Typeform Data').item.json.requestData.template_name }}",
            "value": "={{ $('Parse Typeform Data').item.json.requestData.budget }}",
            "status": "New",
            "source": "Template Request",
            "email": "={{ $('Parse Typeform Data').item.json.requestData.email }}",
            "created_at": "={{ $now.format('YYYY-MM-DD HH:mm:ss') }}"
          }
        },
        "options": {}
      },
      "id": "create-opportunity",
      "name": "Save CRM Opportunity",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [2000, 100]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"message\": \"Template request received! We'll review and get back to you within 48 hours.\"\n}",
        "options": {}
      },
      "id": "success-response",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2000, 300]
    }
  ],
  "connections": {
    "Typeform Webhook": {
      "main": [
        [
          {
            "node": "Parse Typeform Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Typeform Data": {
      "main": [
        [
          {
            "node": "Save Template Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Template Request": {
      "main": [
        [
          {
            "node": "Calculate Complexity (OpenAI)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Complexity (OpenAI)": {
      "main": [
        [
          {
            "node": "Notify Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Slack": {
      "main": [
        [
          {
            "node": "Is ASAP?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is ASAP?": {
      "main": [
        [
          {
            "node": "Send Confirmation Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Confirmation Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Confirmation Email": {
      "main": [
        [
          {
            "node": "Is High Value?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is High Value?": {
      "main": [
        [
          {
            "node": "Save CRM Opportunity",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save CRM Opportunity": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "typeform",
      "createdAt": "2025-11-14T00:00:00.000Z",
      "updatedAt": "2025-11-14T00:00:00.000Z"
    },
    {
      "name": "template-request",
      "createdAt": "2025-11-14T00:00:00.000Z",
      "updatedAt": "2025-11-14T00:00:00.000Z"
    }
  ]
}

