workflows/TYPEFORM-FREE-LEADS-SAMPLE-001.json
{
  "name": "TYPEFORM-FREE-LEADS-SAMPLE-001: FREE Leads Sample Handler v1",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "typeform-free-leads-sample",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Typeform Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "// Parse Typeform webhook payload\nconst webhookData = $input.first().json;\nconst formResponse = webhookData.form_response || webhookData;\n\n// Extract answers\nconst answers = {};\nif (formResponse.answers) {\n  formResponse.answers.forEach(answer => {\n    const fieldRef = answer.field?.ref || answer.field?.id || '';\n    if (answer.type === 'email') answers.email = answer.email || '';\n    else if (answer.type === 'text') answers[fieldRef] = answer.text || '';\n    else if (answer.type === 'choice') answers[fieldRef] = answer.choice?.label || '';\n    else if (answer.type === 'choices') answers[fieldRef] = answer.choices?.labels || [];\n  });\n}\n\nconst leadData = {\n  email: answers.email || answers.Email || '',\n  industry: answers.industry || answers.Industry || '',\n  location: answers.location || answers.Location || '',\n  target_business: answers.target_business || answers['target-business'] || '',\n  lead_sources: Array.isArray(answers.lead_sources || answers['lead-sources']) ? answers.lead_sources || answers['lead-sources'] : [],\n  form_id: webhookData.form_id || '',\n  submitted_at: formResponse.submitted_at || new Date().toISOString()\n};\n\nreturn [{\n  json: {\n    success: true,\n    leadData: leadData\n  }\n}];"
      },
      "id": "parse-typeform",
      "name": "Parse Typeform Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "operation": "insert",
        "dataTableId": "typeform_leads",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "email": "={{ $json.leadData.email }}",
            "name": "={{ $json.leadData.email.split('@')[0] }}",
            "service_type": "Subscriptions (Lead Generation)",
            "cvj_stage": "Subscribe",
            "industry": "={{ $json.leadData.industry }}",
            "location": "={{ $json.leadData.location }}",
            "notes": "={{ 'Target Business: ' + ($json.leadData.target_business || 'N/A') + '\\nLead Sources: ' + (Array.isArray($json.leadData.lead_sources) ? $json.leadData.lead_sources.join(', ') : ($json.leadData.lead_sources || 'N/A')) }}",
            "source": "Typeform - FREE Leads Sample",
            "status": "New",
            "created_at": "={{ $now.format('YYYY-MM-DD HH:mm:ss') }}",
            "form_id": "={{ $json.leadData.form_id }}",
            "submitted_at": "={{ $json.leadData.submitted_at }}"
          }
        },
        "options": {}
      },
      "id": "create-lead",
      "name": "Save Lead to Data Table",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "workflowId": "INT-LEAD-001",
        "additionalFields": {
          "fields": {
            "industry": "={{ $('Parse Typeform Data').item.json.leadData.industry }}",
            "location": "={{ $('Parse Typeform Data').item.json.leadData.location }}",
            "target_business": "={{ $('Parse Typeform Data').item.json.leadData.target_business }}",
            "lead_sources": "={{ $('Parse Typeform Data').item.json.leadData.lead_sources }}",
            "limit": 50
          }
        }
      },
      "id": "generate-leads",
      "name": "Generate 50 Leads",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "jsCode": "// Format leads as CSV\nconst leads = $input.all();\nconst csvHeaders = ['Company Name', 'Contact Name', 'Email', 'Phone', 'Location', 'Industry', 'Source'];\nlet csv = csvHeaders.join(',') + '\\n';\n\nleads.forEach(item => {\n  const lead = item.json;\n  const row = [\n    lead.company_name || lead.company || '',\n    lead.contact_name || lead.name || '',\n    lead.email || '',\n    lead.phone || '',\n    lead.location || '',\n    lead.industry || '',\n    lead.source || 'Generated'\n  ].map(field => `\"${String(field).replace(/\"/g, '\"\"')}\"`).join(',');\n  csv += row + '\\n';\n});\n\nreturn [{\n  json: {\n    csv: csv,\n    leadCount: leads.length\n  }\n}];"
      },
      "id": "format-csv",
      "name": "Format CSV",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "message",
        "operation": "send",
        "emailType": "html",
        "toEmail": "={{ $('Parse Typeform Data').item.json.leadData.email }}",
        "subject": "Your 50 FREE Sample Leads Are Ready!",
        "message": "=Hi there!\\n\\nHere are your 50 FREE sample leads matching your criteria:\\n\\n**Industry:** {{ $('Parse Typeform Data').item.json.leadData.industry }}\\n**Location:** {{ $('Parse Typeform Data').item.json.leadData.location }}\\n**Quality Score:** 8.5/10\\n\\nThe CSV file is attached. Import it into your CRM and start reaching out!\\n\\n**Ready to get 100-2,000+ leads per month?**\\n👉 Start your trial: https://rensto.com/subscriptions\\n\\nQuestions? Reply to this email.\\n\\nBest regards,\\nThe Rensto Team",
        "attachments": {
          "attachments": [
            {
              "name": "free-leads-sample.csv",
              "data": "={{ $('Format CSV').item.json.csv }}",
              "type": "text/csv"
            }
          ]
        },
        "options": {}
      },
      "id": "send-email",
      "name": "Send Leads Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": "typeform_leads",
        "filter": {
          "column": "email",
          "value": "={{ $('Parse Typeform Data').item.json.leadData.email }}"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "Leads Delivered",
            "notes": "={{ $('Save Lead to Data Table').item.json.notes || '' }}\\n\\nLeads delivered: {{ $('Format CSV').item.json.leadCount }} leads"
          }
        },
        "options": {}
      },
      "id": "update-lead",
      "name": "Update Lead Status",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [1560, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"message\": \"Your 50 FREE leads are being generated! Check your email within 24 hours.\"\n}",
        "options": {}
      },
      "id": "success-response",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1780, 300]
    }
  ],
  "connections": {
    "Typeform Webhook": {
      "main": [
        [
          {
            "node": "Parse Typeform Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Typeform Data": {
      "main": [
        [
          {
            "node": "Save Lead to Data Table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Lead to Data Table": {
      "main": [
        [
          {
            "node": "Generate 50 Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate 50 Leads": {
      "main": [
        [
          {
            "node": "Format CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format CSV": {
      "main": [
        [
          {
            "node": "Send Leads Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Leads Email": {
      "main": [
        [
          {
            "node": "Update Lead Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Lead Status": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "typeform",
      "createdAt": "2025-11-14T00:00:00.000Z",
      "updatedAt": "2025-11-14T00:00:00.000Z"
    },
    {
      "name": "free-leads",
      "createdAt": "2025-11-14T00:00:00.000Z",
      "updatedAt": "2025-11-14T00:00:00.000Z"
    }
  ]
}

