workflows/TYPEFORM-READINESS-SCORECARD-001.json
{
  "name": "TYPEFORM-READINESS-SCORECARD-001: Readiness Scorecard Handler v1",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "typeform-readiness-scorecard",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Typeform Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "// Parse Typeform webhook payload\nconst webhookData = $input.first().json;\nconst formResponse = webhookData.form_response || webhookData;\n\n// Extract answers\nconst answers = {};\nif (formResponse.answers) {\n  formResponse.answers.forEach(answer => {\n    const fieldRef = answer.field?.ref || answer.field?.id || '';\n    if (answer.type === 'email') answers.email = answer.email || '';\n    else if (answer.type === 'text') answers[fieldRef] = answer.text || '';\n    else if (answer.type === 'long_text') answers[fieldRef] = answer.text || '';\n    else if (answer.type === 'choice') answers[fieldRef] = answer.choice?.label || '';\n    else if (answer.type === 'choices') answers[fieldRef] = answer.choices?.labels || [];\n    else if (answer.type === 'number') answers[fieldRef] = parseInt(answer.number || 0);\n  });\n}\n\nconst formData = {\n  business_name: answers.business_name || answers['business-name'] || '',\n  email: answers.email || answers.Email || '',\n  manual_processes: answers.manual_processes || answers['manual-processes'] || '',\n  current_automation: Array.isArray(answers.current_automation || answers['current-automation']) ? answers.current_automation || answers['current-automation'] : [],\n  team_size: parseInt(answers.team_size || answers['team-size'] || 0),\n  monthly_revenue: answers.monthly_revenue || answers['monthly-revenue'] || '',\n  top_priority: answers.top_priority || answers['top-priority'] || '',\n  budget: answers.budget || answers.Budget || '',\n  form_id: webhookData.form_id || '',\n  submitted_at: formResponse.submitted_at || new Date().toISOString()\n};\n\n// Calculate readiness score\nlet score = 0;\n\n// Manual Processes (25 points)\nconst manualProcessScores = {\n  '0-5 (minimal)': 5,\n  '6-15 (moderate)': 15,\n  '16-30 (significant)': 20,\n  '31+ (overwhelming)': 25\n};\nscore += manualProcessScores[formData.manual_processes] || 0;\n\n// Current Automation (30 points)\nconst automationCount = formData.current_automation.length;\nscore += Math.min(automationCount * 10, 30);\n\n// Team Size (20 points)\nscore += Math.min(Math.floor(formData.team_size / 10) * 20, 20);\n\n// Revenue (25 points)\nconst revenueScores = {\n  'Under $10k': 5,\n  '$10k-$50k': 10,\n  '$50k-$100k': 15,\n  '$100k-$500k': 20,\n  '$500k+': 25\n};\nscore += revenueScores[formData.monthly_revenue] || 0;\n\n// Priority Clarity (10 bonus)\nif (formData.top_priority && formData.top_priority.length > 50) score += 10;\n\n// Budget Awareness (40 bonus, capped at 100)\nconst budgetScores = {\n  \"Haven't thought about it yet\": 0,\n  'Under $5,000': 10,\n  '$5,000-$10,000': 20,\n  '$10,000-$25,000': 30,\n  '$25,000+': 40\n};\nscore = Math.min(score + (budgetScores[formData.budget] || 0), 100);\n\n// Determine readiness level\nlet readinessLevel = 'Not Ready';\nif (score >= 81) readinessLevel = 'Highly Ready';\nelse if (score >= 61) readinessLevel = 'Ready';\nelse if (score >= 31) readinessLevel = 'Getting Ready';\n\nreturn [{\n  json: {\n    success: true,\n    formData: formData,\n    readinessScore: score,\n    readinessLevel: readinessLevel\n  }\n}];"
      },
      "id": "parse-and-score",
      "name": "Parse & Calculate Score",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {
          "temperature": 0.3
        },
        "messages": {
          "messageValues": [
            {
              "role": "system",
              "content": "You are an automation consultant. Analyze the business priority and generate 3 automation opportunities with ROI estimates."
            },
            {
              "role": "user",
              "content": "={{ 'Business: ' + ($json.formData.business_name || 'N/A') + '\\nTop Priority: ' + ($json.formData.top_priority || 'N/A') + '\\nCurrent Automation: ' + (Array.isArray($json.formData.current_automation) ? $json.formData.current_automation.join(', ') : ($json.formData.current_automation || 'N/A')) + '\\nTeam Size: ' + ($json.formData.team_size || 0) + '\\n\\nGenerate:\\n1. Top 3 automation opportunities\\n2. Estimated ROI for each\\n3. Recommended implementation timeline' }}"
            }
          ]
        }
      },
      "id": "ai-analysis",
      "name": "AI Analysis (OpenAI)",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "// Generate HTML for PDF scorecard\nconst score = $('Parse & Calculate Score').item.json.readinessScore;\nconst level = $('Parse & Calculate Score').item.json.readinessLevel;\nconst businessName = $('Parse & Calculate Score').item.json.formData.business_name;\nconst aiAnalysis = $('AI Analysis (OpenAI)').item.json.choices?.[0]?.message?.content || '';\n\nconst html = `\n<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    body { font-family: 'Outfit', Arial, sans-serif; padding: 40px; background: #110d28; color: #ffffff; }\n    .header { text-align: center; margin-bottom: 40px; }\n    .score-circle { width: 200px; height: 200px; border-radius: 50%; border: 8px solid #fe3d51; display: flex; align-items: center; justify-content: center; margin: 0 auto; background: linear-gradient(135deg, #fe3d51 0%, #bf5700 100%); }\n    .score-number { font-size: 72px; font-weight: bold; }\n    .level { font-size: 24px; margin-top: 20px; color: #5ffbfd; }\n    .section { margin: 30px 0; padding: 20px; background: #1a1635; border-radius: 10px; }\n    .opportunities { margin-top: 20px; }\n    .opportunity { padding: 15px; margin: 10px 0; background: rgba(95, 251, 253, 0.1); border-left: 4px solid #5ffbfd; }\n  </style>\n</head>\n<body>\n  <div class=\"header\">\n    <h1>Automation Readiness Scorecard</h1>\n    <h2>${businessName}</h2>\n  </div>\n  <div class=\"score-circle\">\n    <div class=\"score-number\">${score}</div>\n  </div>\n  <div class=\"level\">${level}</div>\n  <div class=\"section\">\n    <h3>Top 3 Automation Opportunities</h3>\n    <div class=\"opportunities\">${aiAnalysis}</div>\n  </div>\n  <div class=\"section\">\n    <h3>Next Steps</h3>\n    <p>Based on your score of ${score}/100, we recommend:</p>\n    <ul>\n      ${level === 'Highly Ready' || level === 'Ready' ? '<li>Book a FREE consultation to discuss custom automation solutions</li>' : ''}\n      ${level === 'Getting Ready' ? '<li>Start with simple automation tools</li>' : ''}\n      ${level === 'Not Ready' ? '<li>Focus on business basics first</li>' : ''}\n    </ul>\n  </div>\n</body>\n</html>\n`;\n\nreturn [{\n  json: {\n    html: html,\n    score: score,\n    level: level\n  }\n}];"
      },
      "id": "generate-html",
      "name": "Generate HTML Scorecard",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "operation": "insert",
        "dataTableId": "typeform_leads",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "email": "={{ $('Parse & Calculate Score').item.json.formData.email }}",
            "name": "={{ $('Parse & Calculate Score').item.json.formData.business_name }}",
            "service_type": "Custom Solutions",
            "cvj_stage": "Subscribe",
            "readiness_score": "={{ $('Parse & Calculate Score').item.json.readinessScore }}",
            "readiness_level": "={{ $('Parse & Calculate Score').item.json.readinessLevel }}",
            "notes": "=Top Priority: {{ $('Parse & Calculate Score').item.json.formData.top_priority }}\\nTeam Size: {{ $('Parse & Calculate Score').item.json.formData.team_size }}\\nRevenue: {{ $('Parse & Calculate Score').item.json.formData.monthly_revenue }}",
            "source": "Typeform - Readiness Scorecard",
            "status": "New",
            "created_at": "={{ $now.format('YYYY-MM-DD HH:mm:ss') }}",
            "form_id": "={{ $('Parse & Calculate Score').item.json.formData.form_id }}",
            "submitted_at": "={{ $('Parse & Calculate Score').item.json.formData.submitted_at }}"
          }
        },
        "options": {}
      },
      "id": "create-lead",
      "name": "Save Lead to Data Table",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "to": "={{ $('Parse & Calculate Score').item.json.formData.email }}",
        "subject": "=Your Automation Readiness Score: {{ $('Parse & Calculate Score').item.json.readinessScore }}/100",
        "bodyContent": "={{ $('Generate HTML Scorecard').item.json.html }}",
        "additionalFields": {
          "contentType": "html"
        }
      },
      "id": "send-email",
      "name": "Send Scorecard Email",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [1340, 300],
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "EA2Fl9QT5h2HZoo9",
          "name": "rensto"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "score-above-70",
              "leftValue": "={{ $('Parse & Calculate Score').item.json.readinessScore }}",
              "rightValue": 70,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-score-high",
      "name": "Score > 70?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1560, 200]
    },
    {
      "parameters": {
        "channel": "sales",
        "text": "=## 🎯 High-Score Lead: Readiness Scorecard\\n\\n**Business:** {{ $('Parse & Calculate Score').item.json.formData.business_name }}\\n**Score:** {{ $('Parse & Calculate Score').item.json.readinessScore }}/100 ({{ $('Parse & Calculate Score').item.json.readinessLevel }})\\n**Email:** {{ $('Parse & Calculate Score').item.json.formData.email }}\\n**Top Priority:** {{ $('Parse & Calculate Score').item.json.formData.top_priority }}\\n\\n**Action:** Priority follow-up - high readiness score!",
        "otherOptions": {
          "username": "Rensto Bot",
          "icon_emoji": ":rocket:"
        }
      },
      "id": "slack-high-score",
      "name": "Notify Sales (High Score)",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [1780, 100]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "score-below-40",
              "leftValue": "={{ $('Parse & Calculate Score').item.json.readinessScore }}",
              "rightValue": 40,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-score-low",
      "name": "Score < 40?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1780, 300]
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": "typeform_leads",
        "filter": {
          "column": "email",
          "value": "={{ $('Parse & Calculate Score').item.json.formData.email }}"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "Nurture Sequence",
            "notes": "={{ $('Save Lead to Data Table').item.json.notes || '' }}\\n\\nLow readiness score - add to education sequence"
          }
        },
        "options": {}
      },
      "id": "add-nurture",
      "name": "Update Lead Status",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [2000, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"message\": \"Your readiness scorecard is being generated! Check your email in 2 minutes.\",\n  \"score\": {{ $('Parse & Calculate Score').item.json.readinessScore }}\n}",
        "options": {}
      },
      "id": "success-response",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2000, 200]
    }
  ],
  "connections": {
    "Typeform Webhook": {
      "main": [
        [
          {
            "node": "Parse & Calculate Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse & Calculate Score": {
      "main": [
        [
          {
            "node": "AI Analysis (OpenAI)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Analysis (OpenAI)": {
      "main": [
        [
          {
            "node": "Generate HTML Scorecard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate HTML Scorecard": {
      "main": [
        [
          {
            "node": "Save Lead to Data Table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Lead to Data Table": {
      "main": [
        [
          {
            "node": "Send Scorecard Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Scorecard Email": {
      "main": [
        [
          {
            "node": "Score > 70?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Score > 70?": {
      "main": [
        [
          {
            "node": "Notify Sales (High Score)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Score < 40?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Sales (High Score)": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Score < 40?": {
      "main": [
        [
          {
            "node": "Update Lead Status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Lead Status": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "typeform",
      "createdAt": "2025-11-14T00:00:00.000Z",
      "updatedAt": "2025-11-14T00:00:00.000Z"
    },
    {
      "name": "readiness-scorecard",
      "createdAt": "2025-11-14T00:00:00.000Z",
      "updatedAt": "2025-11-14T00:00:00.000Z"
    }
  ]
}

