workflows/WordPress SEO Content Research and Approval Automation for Tax4us.json
{
  "name": "WordPress SEO Content Research and Approval Automation for Tax4us",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "9c054bb1-4446-4502-be98-ffd3c8ca1f2d",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1800,
        112
      ],
      "webhookId": "9c054bb1-4446-4502-be98-ffd3c8ca1f2d"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "id": "8620bef8-9ca2-4177-8724-b6cedf121b29",
      "name": "Content Research Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1584,
        112
      ]
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appkpD0WuR6BONsgO",
          "mode": "list",
          "cachedResultName": "KW Research Content Ideation Auto Writing 030725.1",
          "cachedResultUrl": "https://airtable.com/appkpD0WuR6BONsgO"
        },
        "table": {
          "__rl": true,
          "value": "tbl3V1Zz2nGtlc5xI",
          "mode": "list",
          "cachedResultName": "SERP Results",
          "cachedResultUrl": "https://airtable.com/appkpD0WuR6BONsgO/tbl3V1Zz2nGtlc5xI"
        },
        "options": {
          "fields": [
            "keyword",
            "search_volume",
            "competition",
            "serp_features"
          ]
        }
      },
      "id": "46659bf3-563a-4355-ad1c-f4411a47a87d",
      "name": "Get SERP Results",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -1360,
        112
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "XLvXlq3ygEbknytQ",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer 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"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ $('Get SERP Results').item.json.query }}"
            },
            {
              "name": "search_depth",
              "value": "advanced"
            }
          ]
        },
        "options": {}
      },
      "id": "c8b68c63-6db7-48b7-bfb0-c14adca58fa9",
      "name": "Tavily Market Research",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1136,
        112
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "id",
          "value": "gpt-4-turbo-preview"
        },
        "options": {
          "temperature": 0.3
        }
      },
      "id": "091728af-b505-4d9a-b80b-21e511b577aa",
      "name": "GPT-4 Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -96,
        224
      ],
      "credentials": {
        "openAiApi": {
          "id": "IVfkaQOIs6jCRdyu",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "f09f3faf-a803-4d46-aac8-919d4277bf00",
      "name": "Web Research Tool",
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        -896,
        336
      ]
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "options": {}
      },
      "id": "48a49b48-b0be-48e2-ab7e-fb9d36b3354e",
      "name": "Airtable Research Tool",
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1,
      "position": [
        -768,
        336
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "XLvXlq3ygEbknytQ",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Analyze the provided SERP data and Tavily research results. Identify content gaps, competitor weaknesses, and high-opportunity keywords for Tax4us. Generate comprehensive content briefs with target keywords, audience analysis, and competitive positioning.",
        "options": {
          "systemMessage": "You are a Tax and Accounting SEO content researcher for Tax4us.co.il. Analyze SERP data, competitor content, and market trends to identify content gaps and opportunities. Focus on Israeli tax law, accounting services, and business compliance topics."
        }
      },
      "id": "ba2fe64b-c0aa-4e80-90da-7134d065a824",
      "name": "Content Research Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -912,
        112
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "content_brief",
              "value": "={{ $('Content Research Agent').item.json.research_analysis }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "target_keywords",
              "value": "={{ JSON.stringify($('Content Research Agent').item.json.keywords) }}",
              "type": "array"
            },
            {
              "id": "id-3",
              "name": "audience_analysis",
              "value": "={{ $('Content Research Agent').item.json.audience_insights }}",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "competitive_positioning",
              "value": "={{ $('Content Research Agent').item.json.differentiation_strategy }}",
              "type": "string"
            },
            {
              "id": "id-5",
              "name": "content_type",
              "value": "={{ $('Content Research Agent').item.json.recommended_format }}",
              "type": "string"
            },
            {
              "id": "id-6",
              "name": "priority_score",
              "value": "={{ $('Content Research Agent').item.json.ranking }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "e9430a2b-6dac-46ec-a4fd-6a089846c4da",
      "name": "Format Research Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -560,
        112
      ]
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "99077ee1-5aa4-4d3a-8fd4-ecbcad96a2d9",
      "name": "Store Content Ideas",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -336,
        112
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "XLvXlq3ygEbknytQ",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Based on the content brief and research data, create a complete WordPress article including: 1) SEO-optimized title and meta description, 2) Structured content with H1-H6 headings, 3) Schema markup for articles, 4) Internal linking suggestions, 5) Call-to-action for Tax4us services. Focus on Israeli tax regulations and local business needs.",
        "options": {
          "systemMessage": "You are an expert SEO content writer for Tax4us.co.il, specializing in Israeli tax law and accounting services. Create comprehensive, SEO-optimized content that ranks well and provides genuine value to Israeli businesses and individuals."
        }
      },
      "id": "8cefa6f2-a361-4a32-9e29-fe2ed400a90b",
      "name": "Content Generation Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -112,
        0
      ]
    },
    {
      "parameters": {
        "additionalFields": {}
      },
      "id": "f2230ef3-3567-437c-8acf-0e7dcfbefbb9",
      "name": "WordPress Tool",
      "type": "n8n-nodes-base.wordpressTool",
      "typeVersion": 1,
      "position": [
        32,
        224
      ],
      "credentials": {
        "wordpressApi": {
          "id": "GjqU4oaqFsD4KT0i",
          "name": "Wordpress account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "title",
              "value": "={{ $('Content Generation Agent').item.json.title }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "content",
              "value": "={{ $('Content Generation Agent').item.json.content }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "meta_description",
              "value": "={{ $('Content Generation Agent').item.json.meta_description }}",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "schema_markup",
              "value": "={{ JSON.stringify($('Content Generation Agent').item.json.schema_markup) }}",
              "type": "object"
            },
            {
              "id": "id-5",
              "name": "featured_image_prompt",
              "value": "={{ $('Content Generation Agent').item.json.featured_image_prompt }}",
              "type": "string"
            },
            {
              "id": "id-6",
              "name": "status",
              "value": "draft",
              "type": "string"
            },
            {
              "id": "id-7",
              "name": "categories",
              "value": "[\"tax\", \"accounting\", \"business\"]",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "id": "b8976701-f001-4343-941b-6436784f4e11",
      "name": "Format Content Draft",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        304,
        112
      ]
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "content_id": "={{ $('Format Content Draft').item.json.content_id }}",
            "title": "={{ $('Format Content Draft').item.json.title }}",
            "status": "pending",
            "created_date": "={{ $now }}",
            "approval_notes": ""
          }
        },
        "options": {}
      },
      "id": "ff13901e-372a-4c79-ad33-f1d4cad33dc3",
      "name": "Create Approval Request",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        592,
        112
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "XLvXlq3ygEbknytQ",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $fromAI('to') }}",
        "subject": "={{ $fromAI('subject') }}",
        "message": "={{ $fromAI('message_html') }}",
        "options": {}
      },
      "id": "3151fe05-d267-4ff3-8eef-6ff458b39afd",
      "name": "Gmail Notification Tool",
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        896,
        224
      ],
      "webhookId": "6f17f476-576b-4e49-a1bd-d9b17aab3f36",
      "credentials": {
        "gmailOAuth2": {
          "id": "IcCnuN7tSKdtbOGM",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Send an approval request email for the new content draft. Include the title, brief summary, and approval link. Address it to the content manager and include all necessary details for review.",
        "options": {
          "systemMessage": "You are a professional notification agent for Tax4us.co.il content approval workflow. Send clear, professional emails to stakeholders about content requiring approval."
        }
      },
      "id": "8ffea149-a225-40bd-98a4-363315a813f1",
      "name": "Notification Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        816,
        0
      ]
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "authentication": "airtableTokenApi",
        "baseId": {
          "__rl": true,
          "mode": "id",
          "value": "<UNKNOWN>"
        },
        "tableId": {
          "__rl": true,
          "mode": "id",
          "value": "<UNKNOWN>"
        },
        "triggerField": "Last Modified",
        "additionalFields": {
          "fields": "status"
        }
      },
      "id": "ea3f6ad2-0179-4bcf-a6b4-a773308765ff",
      "name": "Approval Status Trigger",
      "type": "n8n-nodes-base.airtableTrigger",
      "typeVersion": 1,
      "position": [
        -336,
        400
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "XLvXlq3ygEbknytQ",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ $('Approval Status Trigger').item.json.status }}",
              "rightValue": "approved",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "1f898c69-4955-4521-a3d6-25d63386911f",
      "name": "Check Approval Status",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -48,
        400
      ]
    },
    {
      "parameters": {
        "title": "={{ $('Format Content Draft').item.json.title }}",
        "additionalFields": {
          "authorId": "={{ $('Format Content Draft').item.json.authorId || '' }}",
          "content": "={{ $('Format Content Draft').item.json.content }}",
          "slug": "={{ $('Format Content Draft').item.json.slug || '' }}",
          "status": "publish",
          "commentStatus": "open",
          "pingStatus": "open",
          "format": "standard",
          "sticky": false,
          "categories": "={{ $('Format Content Draft').item.json.categories || [] }}",
          "tags": "={{ $('Format Content Draft').item.json.tags || [] }}"
        }
      },
      "id": "384c9d97-adab-4153-ba1d-2dcd8e48061f",
      "name": "Publish to WordPress",
      "type": "n8n-nodes-base.wordpress",
      "typeVersion": 1,
      "position": [
        304,
        400
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Based on the rejection feedback, revise the content to address all concerns. Maintain SEO optimization, ensure accuracy of Israeli tax information, and improve the content quality. Provide a completely rewritten version that meets approval standards.",
        "options": {
          "systemMessage": "You are a content revision specialist for Tax4us.co.il. Analyze feedback and regenerate content that addresses all concerns while maintaining SEO optimization and Israeli tax law accuracy."
        }
      },
      "id": "4f88fbe7-e642-4d3a-9002-4fc3484f3d80",
      "name": "Content Regeneration Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        240,
        592
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "published",
            "published_date": "={{ new Date().toISOString() }}",
            "post_id": "={{ $('Publish to WordPress').item.json.id }}"
          }
        },
        "options": {}
      },
      "id": "15d0fbc0-bc40-4da9-8208-805259b9f9a4",
      "name": "Update Content Status",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        592,
        400
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Send a success notification email confirming that the content has been published to the Tax4us website. Include the post title, publication date, and live URL. Address it to the content team and stakeholders.",
        "options": {
          "systemMessage": "You are a success notification agent for Tax4us.co.il. Send professional confirmation emails when content is successfully published."
        }
      },
      "id": "0a8426be-baa6-4b9f-9ede-915af363f1e7",
      "name": "Success Notification Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        816,
        400
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Get SERP Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Content Research Schedule": {
      "main": [
        [
          {
            "node": "Get SERP Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get SERP Results": {
      "main": [
        [
          {
            "node": "Tavily Market Research",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tavily Market Research": {
      "main": [
        [
          {
            "node": "Content Research Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT-4 Model": {
      "ai_languageModel": [
        [
          {
            "node": "Content Research Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Content Generation Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Notification Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Content Regeneration Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Success Notification Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Web Research Tool": {
      "ai_tool": [
        [
          {
            "node": "Content Research Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Airtable Research Tool": {
      "ai_tool": [
        [
          {
            "node": "Content Research Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Content Research Agent": {
      "main": [
        [
          {
            "node": "Format Research Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Research Data": {
      "main": [
        [
          {
            "node": "Store Content Ideas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Content Ideas": {
      "main": [
        [
          {
            "node": "Content Generation Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WordPress Tool": {
      "ai_tool": [
        [
          {
            "node": "Content Generation Agent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Content Regeneration Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Content Generation Agent": {
      "main": [
        [
          {
            "node": "Format Content Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Content Draft": {
      "main": [
        [
          {
            "node": "Create Approval Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Approval Request": {
      "main": [
        [
          {
            "node": "Notification Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Notification Tool": {
      "ai_tool": [
        [
          {
            "node": "Notification Agent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Success Notification Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Approval Status Trigger": {
      "main": [
        [
          {
            "node": "Check Approval Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Approval Status": {
      "main": [
        [
          {
            "node": "Publish to WordPress",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Content Regeneration Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Content Regeneration Agent": {
      "main": [
        [
          {
            "node": "Create Approval Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publish to WordPress": {
      "main": [
        [
          {
            "node": "Update Content Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Content Status": {
      "main": [
        [
          {
            "node": "Success Notification Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0c171658-a669-4516-ba6f-f5547de7288c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "debc7feccc354e86e5a53344362b691cecb5d65ac2ba67b45cdccf9a516514d6"
  },
  "id": "Y1QktH2RRb4c65kb",
  "tags": []
}