workflows/workflow_2_datatable.json
{
    "name": "Marketing Agency #2: Proposal Generator Full (Data Table)",
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "minutes",
                            "minutesInterval": 5
                        }
                    ]
                }
            },
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.2,
            "position": [
                352,
                456
            ],
            "id": "9d5609db-c034-4d33-bf38-85d7fd62666d",
            "name": "Schedule - Every 5 Min"
        },
        {
            "parameters": {
                "operation": "getRows",
                "tableId": {
                    "__rl": true,
                    "value": "Leads",
                    "mode": "name"
                },
                "filters": {
                    "conditions": [
                        {
                            "column": "Status",
                            "operator": "equals",
                            "value": "Qualified"
                        }
                    ]
                },
                "options": {
                    "returnAll": true
                }
            },
            "type": "n8n-nodes-base.dataTable",
            "typeVersion": 1.1,
            "position": [
                576,
                456
            ],
            "id": "datatable-get-leads",
            "name": "Data Table - Get Qualified Leads"
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "version": 3,
                        "leftValue": "",
                        "caseSensitive": true,
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "c1",
                            "leftValue": "={{ $json.Status }}",
                            "rightValue": "Qualified",
                            "operator": {
                                "type": "string",
                                "operation": "equals"
                            }
                        },
                        {
                            "id": "c2",
                            "leftValue": "={{ $json.Intent }}",
                            "rightValue": "Quote",
                            "operator": {
                                "type": "string",
                                "operation": "equals"
                            }
                        },
                        {
                            "id": "c3",
                            "leftValue": "={{ $json.Urgency }}",
                            "rightValue": "High",
                            "operator": {
                                "type": "string",
                                "operation": "equals"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.3,
            "position": [
                800,
                456
            ],
            "id": "8e8dd51f-0c48-4716-af40-8097be0a44f7",
            "name": "IF - High Intent Lead"
        },
        {
            "parameters": {
                "modelId": {
                    "__rl": true,
                    "value": "chatgpt-4o-latest",
                    "mode": "list",
                    "cachedResultName": "CHATGPT-4O-LATEST"
                },
                "responses": {
                    "values": [
                        {
                            "role": "system",
                            "content": "You are a senior business development strategist at Rensto, an AI automation agency. Generate professional, personalized proposal content. Be specific about deliverables and timelines. Use the enrichment data to tailor the proposal to their specific business needs."
                        },
                        {
                            "content": "=Generate a proposal for this lead:\n\nCompany: {{ $json.Company || $json.FullName }}\nMessage: {{ $json.Message }}\nWebsite: {{ $json.Website }}\nEnrichment Data: {{ $json.EnrichmentDataJSON || 'N/A' }}\n\nGenerate:\n1. Executive summary (2-3 sentences)\n2. Proposed solution (what we'll build)\n3. Three key deliverables with descriptions\n4. Timeline (realistic weeks)\n5. Investment structure (setup fee + monthly)\n6. Three next steps"
                        }
                    ]
                },
                "builtInTools": {},
                "options": {
                    "textFormat": {
                        "textOptions": {
                            "type": "json_schema",
                            "schema": "{\"type\":\"object\",\"properties\":{\"executiveSummary\":{\"type\":\"string\"},\"proposedSolution\":{\"type\":\"string\"},\"deliverables\":{\"type\":\"array\",\"items\":{\"type\":\"object\",\"properties\":{\"title\":{\"type\":\"string\"},\"description\":{\"type\":\"string\"}},\"required\":[\"title\",\"description\"],\"additionalProperties\":false}},\"timeline\":{\"type\":\"string\"},\"investment\":{\"type\":\"object\",\"properties\":{\"setup\":{\"type\":\"string\"},\"monthly\":{\"type\":\"string\"},\"rationale\":{\"type\":\"string\"}},\"required\":[\"setup\",\"monthly\",\"rationale\"],\"additionalProperties\":false},\"nextSteps\":{\"type\":\"array\",\"items\":{\"type\":\"string\"}}},\"additionalProperties\":false,\"required\":[\"executiveSummary\",\"proposedSolution\",\"deliverables\",\"timeline\",\"investment\",\"nextSteps\"]}",
                            "strict": true
                        }
                    }
                }
            },
            "type": "@n8n/n8n-nodes-langchain.openAi",
            "typeVersion": 2.1,
            "position": [
                1024,
                144
            ],
            "id": "a78cf08e-6f89-40c1-99a1-730b4b6f5fa0",
            "name": "OpenAI - Generate Proposal",
            "credentials": {
                "openAiApi": {
                    "id": "0sXFXYfqiDEKuDcN",
                    "name": "service@rensto.com"
                }
            }
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "p1",
                            "name": "leadName",
                            "value": "={{ $('Data Table - Get Qualified Leads').item.json.FullName }}",
                            "type": "string"
                        },
                        {
                            "id": "p2",
                            "name": "executiveSummary",
                            "value": "={{ $json.output[0].content[0].text.executiveSummary || '' }}",
                            "type": "string"
                        },
                        {
                            "id": "p3",
                            "name": "proposedSolution",
                            "value": "={{ $json.output[0].content[0].text.proposedSolution || '' }}",
                            "type": "string"
                        },
                        {
                            "id": "p4",
                            "name": "deliverables",
                            "value": "={{ $json.output[0].content[0].text.deliverables || [] }}",
                            "type": "array"
                        },
                        {
                            "id": "p5",
                            "name": "timeline",
                            "value": "={{ $json.output[0].content[0].text.timeline || '' }}",
                            "type": "string"
                        },
                        {
                            "id": "p6",
                            "name": "investment",
                            "value": "={{ $json.output[0].content[0].text.investment || {} }}",
                            "type": "object"
                        },
                        {
                            "id": "p7",
                            "name": "nextSteps",
                            "value": "={{ $json.output[0].content[0].text.nextSteps || [] }}",
                            "type": "array"
                        },
                        {
                            "id": "p8",
                            "name": "leadEmail",
                            "value": "={{ $('Data Table - Get Qualified Leads').item.json.Email }}",
                            "type": "string"
                        },
                        {
                            "id": "p9",
                            "name": "leadCompany",
                            "value": "={{ $('Data Table - Get Qualified Leads').item.json.Company || $('Data Table - Get Qualified Leads').item.json.FullName }}",
                            "type": "string"
                        },
                        {
                            "id": "p10",
                            "name": "recordId",
                            "value": "={{ $('Data Table - Get Qualified Leads').item.json.id }}",
                            "type": "string"
                        },
                        {
                            "id": "p11",
                            "name": "videoPrompt",
                            "value": "=@shai-lfc in a stunning miniature world style. He presents a glowing holographic proposal for {{ $('Data Table - Get Qualified Leads').item.json.Company || $('Data Table - Get Qualified Leads').item.json.FullName }}. Coral and cyan colors, tilt-shift blur, Wes Anderson aesthetic. 4K quality.",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                1248,
                144
            ],
            "id": "26564f40-a897-47d1-845b-09f7594c0e3d",
            "name": "Set - Proposal Data"
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "h1",
                            "name": "proposalHtml",
                            "value": "={{ '<!DOCTYPE html><html><head><meta charset=\"UTF-8\"><style>body{font-family:Segoe UI,Arial,sans-serif;max-width:800px;margin:0 auto;padding:40px;color:#1a1a2e;line-height:1.6}.video-section{text-align:center;margin-bottom:32px;padding:20px;background:linear-gradient(135deg,rgba(254,61,81,0.05) 0%,rgba(30,174,247,0.05) 100%);border-radius:16px}.video-container{position:relative;max-width:600px;margin:0 auto;border-radius:12px;overflow:hidden;box-shadow:0 8px 24px rgba(0,0,0,0.2)}.header{background:linear-gradient(135deg,#fe3d51 0%,#1eaef7 100%);color:white;padding:40px;border-radius:12px;margin-bottom:32px}.header h1{margin:0 0 8px 0;font-size:28px}.header p{margin:0;opacity:0.9}.section{background:#f8f9fa;padding:24px;border-radius:8px;margin-bottom:24px}.section h2{color:#fe3d51;margin-top:0;font-size:20px;border-bottom:2px solid #fe3d51;padding-bottom:8px}.deliverable{background:white;padding:16px;border-radius:6px;margin-bottom:12px;border-left:4px solid #1eaef7}.cta{background:#fe3d51;color:white;padding:16px 32px;border-radius:8px;text-decoration:none;display:inline-block;font-weight:bold}.footer{text-align:center;margin-top:40px;padding-top:24px;border-top:1px solid #eee;color:#666}</style></head><body>' + ($json.videoUrl ? '<div class=\"video-section\"><div class=\"video-container\"><video width=\"100%\" controls autoplay muted loop playsinline><source src=\"' + $json.videoUrl + '\" type=\"video/mp4\"></video></div><p style=\"font-size:14px;color:#666;margin-top:12px\">🎬 A personalized message from Shai</p></div>' : '') + '<div class=\"header\"><h1>Custom AI Automation Proposal</h1><p>Prepared for ' + ($('Set - Proposal Data').item.json.leadCompany || '') + '</p></div><div class=\"section\"><h2>Executive Summary</h2><p>' + ($('Set - Proposal Data').item.json.executiveSummary || '') + '</p></div><div class=\"section\"><h2>Proposed Solution</h2><p>' + ($('Set - Proposal Data').item.json.proposedSolution || '') + '</p></div><div class=\"section\"><h2>Key Deliverables</h2>' + (($('Set - Proposal Data').item.json.deliverables || []).map(d => '<div class=\"deliverable\"><h3>' + d.title + '</h3><p>' + d.description + '</p></div>').join('')) + '</div><div class=\"section\"><h2>Timeline</h2><p>' + ($('Set - Proposal Data').item.json.timeline || '') + '</p></div><div class=\"section\"><h2>Investment</h2><p>Setup: ' + (($('Set - Proposal Data').item.json.investment || {}).setup || '') + ' | Monthly: ' + (($('Set - Proposal Data').item.json.investment || {}).monthly || '') + '</p></div><div class=\"section\"><h2>Next Steps</h2><ol>' + (($('Set - Proposal Data').item.json.nextSteps || []).map(s => '<li>' + s + '</li>').join('')) + '</ol><a href=\"https://tidycal.com/rensto/discovery\" class=\"cta\">Schedule Your Strategy Call →</a></div><div class=\"footer\"><p><strong>Rensto</strong> | AI-Powered Business Automation</p></div></body></html>' }}",
                            "type": "string"
                        },
                        {
                            "id": "h2",
                            "name": "emailSubject",
                            "value": "=Your Custom AI Automation Proposal - {{ $('Set - Proposal Data').item.json.leadCompany }}",
                            "type": "string"
                        },
                        {
                            "id": "h3",
                            "name": "leadEmail",
                            "value": "={{ $('Set - Proposal Data').item.json.leadEmail }}",
                            "type": "string"
                        },
                        {
                            "id": "h4",
                            "name": "recordId",
                            "value": "={{ $('Set - Proposal Data').item.json.recordId }}",
                            "type": "string"
                        },
                        {
                            "id": "h5",
                            "name": "videoUrl",
                            "value": "={{ $json.videoUrl }}",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                2720,
                -96
            ],
            "id": "201b6e68-0190-4c57-98dc-f4969906fdc2",
            "name": "Set - Build Proposal HTML"
        },
        {
            "parameters": {
                "chatId": "374214124",
                "text": "=🎯 New Proposal Sent!\n\n👤 Lead: {{ $('Set - Proposal Data').item.json.leadName }}\n📧 Email: {{ $('Set - Proposal Data').item.json.leadEmail }}\n🏢 Company: {{ $('Set - Proposal Data').item.json.leadCompany }}\n\n💰 Investment:\n• Setup: {{ $('Set - Proposal Data').item.json.investment.setup }}\n• Monthly: {{ $('Set - Proposal Data').item.json.investment.monthly }}\n\n📅 Timeline: {{ $('Set - Proposal Data').item.json.timeline }}\n\n🔗 Booking: https://tidycal.com/rensto/discovery",
                "additionalFields": {}
            },
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1.2,
            "position": [
                3600,
                -96
            ],
            "id": "6a8fb8fd-62d6-4170-aec6-aed3c0a9ea9e",
            "name": "Telegram - Proposal Alert",
            "webhookId": "0e9a6c5c-d29b-438d-b881-b69ddc908303",
            "credentials": {
                "telegramApi": {
                    "id": "0WW3IfTfTah5WAnl",
                    "name": "rensto_bot"
                }
            }
        },
        {
            "parameters": {
                "modelId": {
                    "__rl": true,
                    "value": "chatgpt-4o-latest",
                    "mode": "list",
                    "cachedResultName": "CHATGPT-4O-LATEST"
                },
                "responses": {
                    "values": [
                        {
                            "role": "system",
                            "content": "=You are a helpful sales advisor at Rensto. Write a short, warm follow-up email that addresses their specific question/need and gently guides them toward scheduling a discovery call. Keep it 2-3 sentences. End with a soft CTA."
                        },
                        {
                            "content": "=Lead: {{ $json.FullName }}\nIntent: {{ $json.Intent }}\nMessage: {{ $json.Message }}\nCompany: {{ $json.Company }}"
                        }
                    ]
                },
                "builtInTools": {},
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.openAi",
            "typeVersion": 2.1,
            "position": [
                1024,
                744
            ],
            "id": "504ddfe0-f362-46e8-b4a4-d15d5313fe1b",
            "name": "Nurture Email",
            "credentials": {
                "openAiApi": {
                    "id": "0sXFXYfqiDEKuDcN",
                    "name": "service@rensto.com"
                }
            }
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "email",
                            "name": "email",
                            "value": "={{ $('Data Table - Get Qualified Leads').item.json.Email }}",
                            "type": "string"
                        },
                        {
                            "id": "subject",
                            "name": "subject",
                            "value": "=Quick follow-up on your inquiry, {{ $('Data Table - Get Qualified Leads').item.json.FullName }}",
                            "type": "string"
                        },
                        {
                            "id": "videoUrl",
                            "name": "videoUrl",
                            "value": "={{ $json.videoUrl }}",
                            "type": "string"
                        },
                        {
                            "id": "leadName",
                            "name": "leadName",
                            "value": "={{ $('Data Table - Get Qualified Leads').item.json.FullName }}",
                            "type": "string"
                        },
                        {
                            "id": "recordId",
                            "name": "recordId",
                            "value": "={{ $('Data Table - Get Qualified Leads').item.json.id }}",
                            "type": "string"
                        },
                        {
                            "id": "body",
                            "name": "body",
                            "value": "={{ '<!DOCTYPE html><html><head><meta charset=\"UTF-8\"><style>body{font-family:Segoe UI,Arial,sans-serif;max-width:800px;margin:0 auto;padding:40px;color:#1a1a2e;line-height:1.6}.video-section{text-align:center;margin-bottom:32px;padding:20px;background:linear-gradient(135deg,rgba(254,61,81,0.05) 0%,rgba(30,174,247,0.05) 100%);border-radius:16px}.video-container{position:relative;max-width:600px;margin:0 auto;border-radius:12px;overflow:hidden;box-shadow:0 8px 24px rgba(0,0,0,0.2)}.header{background:linear-gradient(135deg,#fe3d51 0%,#1eaef7 100%);color:white;padding:40px;border-radius:12px;margin-bottom:32px}.header h1{margin:0 0 8px 0;font-size:28px}.header p{margin:0;opacity:0.9}.section{background:#f8f9fa;padding:24px;border-radius:8px;margin-bottom:24px}.section h2{color:#fe3d51;margin-top:0;font-size:20px;border-bottom:2px solid #fe3d51;padding-bottom:8px}.cta{background:#fe3d51;color:white;padding:16px 32px;border-radius:8px;text-decoration:none;display:inline-block;font-weight:bold}.footer{text-align:center;margin-top:40px;padding-top:24px;border-top:1px solid #eee;color:#666}</style></head><body>' + ($json.videoUrl ? '<div class=\"video-section\"><div class=\"video-container\"><video width=\"100%\" controls autoplay muted loop playsinline><source src=\"' + $json.videoUrl + '\" type=\"video/mp4\"></video></div><p style=\"font-size:14px;color:#666;margin-top:12px\">🎬 A personalized message from Shai</p></div>' : '') + '<div class=\"header\"><h1>Following Up on Your Inquiry</h1><p>Hi ' + ($('Data Table - Get Qualified Leads').item.json.FullName || 'there') + '!</p></div><div class=\"section\"><h2>Personal Note</h2><p>' + ($('Nurture Email').item.json.output[0].content[0].text || 'Thank you for reaching out! We would love to help you automate and grow your business.') + '</p></div><div class=\"section\"><h2>Ready to Chat?</h2><p>I\\'d love to learn more about your business and explore how we can help you save time with automation.</p><a href=\"https://tidycal.com/rensto/discovery\" class=\"cta\">Schedule a 15-min Discovery Call →</a></div><div class=\"footer\"><p><strong>Rensto</strong> | AI-Powered Business Automation</p><p style=\"font-size:12px;color:#999\">Helping businesses automate and grow</p></div></body></html>' }}",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                2496,
                504
            ],
            "id": "29443d65-b571-4b01-b3f0-29302e7c69d5",
            "name": "Prepare Nurture Email"
        },
        {
            "parameters": {
                "toRecipients": "={{ $json.email }}",
                "subject": "={{ $json.subject }}",
                "bodyContent": "={{ $json.body }}",
                "additionalFields": {
                    "bodyContentType": "html"
                }
            },
            "type": "n8n-nodes-base.microsoftOutlook",
            "typeVersion": 2,
            "position": [
                2720,
                504
            ],
            "id": "1a475f9b-39da-4a7c-b58a-712b778ce7f4",
            "name": "Send Nurture Email",
            "webhookId": "b7975dc2-ced6-4580-befd-545003054abe",
            "credentials": {
                "microsoftOutlookOAuth2Api": {
                    "id": "EA2Fl9QT5h2HZoo9",
                    "name": "rensto"
                }
            }
        },
        {
            "parameters": {
                "toRecipients": "={{ $('Set - Build Proposal HTML').item.json.leadEmail || $json.leadEmail }}",
                "subject": "={{ $('Set - Build Proposal HTML').item.json.emailSubject || $json.emailSubject }}",
                "bodyContent": "={{ $('Set - Build Proposal HTML').item.json.proposalHtml || $json.proposalHtml }}",
                "additionalFields": {
                    "bodyContentType": "html"
                }
            },
            "type": "n8n-nodes-base.microsoftOutlook",
            "typeVersion": 2,
            "position": [
                3376,
                -96
            ],
            "id": "3e14b8c5-480d-4006-af2b-e07eadd43814",
            "name": "Send Proposal Email",
            "webhookId": "886f6ae5-f630-49f5-83f1-4fe615a1770d",
            "credentials": {
                "microsoftOutlookOAuth2Api": {
                    "id": "EA2Fl9QT5h2HZoo9",
                    "name": "rensto"
                }
            }
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.kie.ai/api/v1/jobs/createTask",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({ model: 'sora-2-pro-text-to-video', input: { prompt: $json.videoPrompt || '@shai-lfc in a stunning miniature world style. He presents a glowing holographic proposal. Coral and cyan colors, tilt-shift blur, Wes Anderson aesthetic. 4K quality.', aspect_ratio: 'landscape', n_frames: '10', size: 'high', remove_watermark: true } }) }}",
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1472,
                144
            ],
            "id": "b7505cfd-6310-46e0-83b5-7ee1dcca718a",
            "name": "Create Task",
            "credentials": {
                "httpHeaderAuth": {
                    "id": "kRI7Q7bdV9tEVPNp",
                    "name": "Kie.ai"
                }
            },
            "onError": "continueRegularOutput"
        },
        {
            "parameters": {
                "url": "=https://api.kie.ai/api/v1/jobs/recordInfo?taskId={{ $json.data.taskId }}",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1920,
                72
            ],
            "id": "8c9ab696-f9c5-4765-8c8a-0db981470219",
            "name": "Poll Status",
            "credentials": {
                "httpHeaderAuth": {
                    "id": "kRI7Q7bdV9tEVPNp",
                    "name": "Kie.ai"
                }
            },
            "onError": "continueRegularOutput"
        },
        {
            "parameters": {
                "jsCode": "const videoData = $input.item.json;\nconst MAX_RETRIES = 240;\nconst retryCount = videoData.retryCount || 0;\nconst failRetryCount = videoData.failRetryCount || 0;\nconst originalVideoPrompt = videoData.videoPrompt || $('Set - Proposal Data').item?.json?.videoPrompt || '';\nconst originalData = { videoPrompt: originalVideoPrompt, leadName: videoData.leadName || $('Set - Proposal Data').item?.json?.leadName || '', leadEmail: videoData.leadEmail || $('Set - Proposal Data').item?.json?.leadEmail || '', leadCompany: videoData.leadCompany || $('Set - Proposal Data').item?.json?.leadCompany || '', recordId: videoData.recordId || $('Set - Proposal Data').item?.json?.recordId || '' };\nconst state = (videoData.data?.state || '').toLowerCase();\nconst failCode = videoData.data?.failCode;\nconst failMsg = videoData.data?.failMsg;\nif (state === 'fail' || state === 'failed' || state === 'error' || failCode) {\n  if (failRetryCount < 1) { return { json: { ...originalData, ...videoData, needsRetry: true, skipVideo: false, videoReady: false, failRetryCount: failRetryCount + 1, retryCount: 0 } }; }\n  else { return { json: { ...originalData, ...videoData, skipVideo: true, videoReady: true, needsRetry: false, failRetryCount: failRetryCount } }; }\n}\nif (retryCount >= MAX_RETRIES) { return { json: { ...originalData, ...videoData, skipVideo: true, videoReady: true, needsRetry: false, retryCount: 0 } }; }\nconst resultJson = videoData.data?.resultJson;\nconst completeTime = videoData.data?.completeTime;\nconst isComplete = state === 'success' || state === 'completed' || (resultJson && resultJson.trim() !== '') || (completeTime !== null && completeTime !== undefined && !failCode);\nif (isComplete) {\n  let resultUrls = [];\n  try { if (resultJson && resultJson.trim() !== '') { const parsed = JSON.parse(resultJson); resultUrls = parsed.resultUrls || parsed.urls || []; } } catch (e) {}\n  return { json: { ...originalData, ...videoData, skipVideo: false, videoReady: true, needsRetry: false, retryCount: 0, data: { ...videoData.data, response: { resultUrls: resultUrls } } } };\n}\nreturn { json: { ...originalData, ...videoData, skipVideo: false, videoReady: false, needsRetry: false, continuePolling: true, retryCount: retryCount + 1, failRetryCount: failRetryCount } };"
            },
            "id": "6363c7f3-4e3e-4879-a916-18e2328c7515",
            "name": "Check Status & Retry",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                2144,
                0
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "version": 2,
                        "leftValue": "",
                        "caseSensitive": true,
                        "typeValidation": "loose"
                    },
                    "conditions": [
                        {
                            "id": "ready",
                            "leftValue": "={{ $json.videoReady }}",
                            "rightValue": true,
                            "operator": {
                                "type": "boolean",
                                "operation": "true",
                                "singleValue": true
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "looseTypeValidation": true,
                "options": {}
            },
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.2,
            "position": [
                2368,
                0
            ],
            "id": "8187c35f-1649-490f-9365-1e8d76bb412d",
            "name": "Is Ready?",
            "onError": "continueRegularOutput"
        },
        {
            "parameters": {
                "amount": 30
            },
            "type": "n8n-nodes-base.wait",
            "typeVersion": 1.1,
            "position": [
                2816,
                168
            ],
            "id": "9def67b1-dbeb-4fc7-b530-fd6dd2607d53",
            "name": "Wait",
            "webhookId": "venturity-wait-poll"
        },
        {
            "parameters": {
                "jsCode": "const videoData = $input.item.json;\nif (videoData.skipVideo) { return { json: { success: false, videoUrl: null, skipped: true, reason: 'Video generation failed or timed out', ...videoData } }; }\nlet videoUrl = '';\ntry {\n  if (videoData.data?.response?.resultUrls?.[0]) { videoUrl = videoData.data.response.resultUrls[0]; }\n  else if (videoData.data?.resultJson) { const parsed = JSON.parse(videoData.data.resultJson); videoUrl = parsed.resultUrls?.[0] || ''; }\n} catch (e) {}\nconst costTime = videoData.data?.costTime || 0;\nreturn { json: { success: !!videoUrl, videoUrl: videoUrl || null, cost: 0.1, model: 'sora-2-pro-text-to-video', generationTimeSeconds: costTime, generatedAt: new Date().toISOString(), ...videoData } };"
            },
            "id": "91d5e7b2-c112-4149-abe1-e4b405d6f40c",
            "name": "Process Response",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                2592,
                -96
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.kie.ai/api/v1/jobs/createTask",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({ model: 'sora-2-pro-text-to-video', input: { prompt: '@shai-lfc in a whimsical miniature world style, like a tilt-shift diorama. He stands behind a tiny workbench in a colorful workshop with coral (#fe3d51) and cyan (#1eaef7) LEGO-style elements. He looks up at the camera with excited surprise, like he just noticed the viewer. He holds up a tiny glowing envelope with the viewer name on it, showing it proudly: \"Made this for you!\" expression. Text \"' + ($('Data Table - Get Qualified Leads').item.json.FullName || 'Hey') + ', I made this for you\" types on gently, clean white font. He gestures warmly toward camera as if inviting them into his tiny world. The whole scene has dreamy tilt-shift blur and a stop-motion Wes Anderson aesthetic. 4K quality.', aspect_ratio: 'landscape', n_frames: '15', size: 'high', remove_watermark: true } }) }}",
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1248,
                744
            ],
            "id": "72e6efc0-34e1-43a2-87d5-95b1774a79ff",
            "name": "Create Task1",
            "credentials": {
                "httpHeaderAuth": {
                    "id": "kRI7Q7bdV9tEVPNp",
                    "name": "Kie.ai"
                }
            },
            "onError": "continueRegularOutput"
        },
        {
            "parameters": {
                "url": "=https://api.kie.ai/api/v1/jobs/recordInfo?taskId={{ $json.data.taskId }}",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1696,
                672
            ],
            "id": "d0defff3-118f-4daf-b464-16d98407460e",
            "name": "Poll Status1",
            "credentials": {
                "httpHeaderAuth": {
                    "id": "kRI7Q7bdV9tEVPNp",
                    "name": "Kie.ai"
                }
            },
            "onError": "continueRegularOutput"
        },
        {
            "parameters": {
                "jsCode": "const videoData = $input.item.json;\nconst MAX_RETRIES = 240;\nconst retryCount = videoData.retryCount || 0;\nconst failRetryCount = videoData.failRetryCount || 0;\nconst leadName = $('Data Table - Get Qualified Leads').item.json.FullName || 'there';\nconst originalData = { videoPrompt: videoData.videoPrompt || '@shai-lfc in a whimsical miniature world style...' };\nconst state = (videoData.data?.state || '').toLowerCase();\nconst failCode = videoData.data?.failCode;\nif (state === 'fail' || state === 'failed' || state === 'error' || failCode) {\n  if (failRetryCount < 1) { return { json: { ...originalData, ...videoData, needsRetry: true, skipVideo: false, videoReady: false, failRetryCount: failRetryCount + 1, retryCount: 0 } }; }\n  else { return { json: { ...originalData, ...videoData, skipVideo: true, videoReady: true, needsRetry: false, failRetryCount: failRetryCount } }; }\n}\nif (retryCount >= MAX_RETRIES) { return { json: { ...originalData, ...videoData, skipVideo: true, videoReady: true, needsRetry: false, retryCount: 0 } }; }\nconst resultJson = videoData.data?.resultJson;\nconst completeTime = videoData.data?.completeTime;\nconst isComplete = state === 'success' || state === 'completed' || (resultJson && resultJson.trim() !== '') || (completeTime !== null && completeTime !== undefined && !failCode);\nif (isComplete) {\n  let resultUrls = [];\n  try { if (resultJson && resultJson.trim() !== '') { const parsed = JSON.parse(resultJson); resultUrls = parsed.resultUrls || parsed.urls || []; } } catch (e) {}\n  return { json: { ...originalData, ...videoData, skipVideo: false, videoReady: true, needsRetry: false, retryCount: 0, data: { ...videoData.data, response: { resultUrls: resultUrls } } } };\n}\nreturn { json: { ...originalData, ...videoData, skipVideo: false, videoReady: false, needsRetry: false, continuePolling: true, retryCount: retryCount + 1, failRetryCount: failRetryCount } };"
            },
            "id": "3786acbb-5977-4d07-8b40-91cbef952961",
            "name": "Check Status & Retry1",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1920,
                600
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "version": 2,
                        "leftValue": "",
                        "caseSensitive": true,
                        "typeValidation": "loose"
                    },
                    "conditions": [
                        {
                            "id": "ready",
                            "leftValue": "={{ $json.videoReady }}",
                            "rightValue": true,
                            "operator": {
                                "type": "boolean",
                                "operation": "equals"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "looseTypeValidation": true,
                "options": {}
            },
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.2,
            "position": [
                2144,
                600
            ],
            "id": "f18d4e9b-960a-4ddb-995f-7bc51073ad86",
            "name": "Is Ready?1",
            "onError": "continueRegularOutput"
        },
        {
            "parameters": {
                "amount": 30
            },
            "type": "n8n-nodes-base.wait",
            "typeVersion": 1.1,
            "position": [
                2592,
                768
            ],
            "id": "8e1c2353-6afd-492c-9cda-fa1756b9829c",
            "name": "Wait1",
            "webhookId": "venturity-wait-poll"
        },
        {
            "parameters": {
                "jsCode": "const videoData = $input.item.json;\nif (videoData.skipVideo) { return { json: { success: false, videoUrl: null, skipped: true, reason: 'Video generation failed or timed out', ...videoData } }; }\nlet videoUrl = '';\ntry {\n  if (videoData.data?.response?.resultUrls?.[0]) { videoUrl = videoData.data.response.resultUrls[0]; }\n  else if (videoData.data?.resultJson) { const parsed = JSON.parse(videoData.data.resultJson); videoUrl = parsed.resultUrls?.[0] || ''; }\n} catch (e) {}\nreturn { json: { success: !!videoUrl, videoUrl: videoUrl || null, ...videoData } };"
            },
            "id": "72670d4f-d30e-4be9-84f1-115761ed737f",
            "name": "Process Response1",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                2368,
                504
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "combinator": "and",
                    "conditions": [
                        {
                            "id": "retry",
                            "leftValue": "={{ $json.needsRetry }}",
                            "rightValue": true,
                            "operator": {
                                "type": "boolean",
                                "operation": "equals"
                            }
                        }
                    ],
                    "options": {
                        "version": 2,
                        "leftValue": "",
                        "caseSensitive": true,
                        "typeValidation": "loose"
                    }
                },
                "looseTypeValidation": true,
                "options": {}
            },
            "id": "retry-check-1",
            "name": "Needs Retry?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.2,
            "position": [
                2592,
                96
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "combinator": "and",
                    "conditions": [
                        {
                            "id": "retry",
                            "leftValue": "={{ $json.needsRetry }}",
                            "rightValue": true,
                            "operator": {
                                "type": "boolean",
                                "operation": "equals"
                            }
                        }
                    ],
                    "options": {
                        "version": 2,
                        "leftValue": "",
                        "caseSensitive": true,
                        "typeValidation": "loose"
                    }
                },
                "looseTypeValidation": true,
                "options": {}
            },
            "id": "retry-check-2",
            "name": "Needs Retry?1",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.2,
            "position": [
                2368,
                696
            ]
        },
        {
            "parameters": {
                "jsCode": "const taskResponse = $input.item.json;\nconst originalData = $('Set - Proposal Data').item.json || {};\nreturn { json: { ...originalData, ...taskResponse } };"
            },
            "id": "preserve-data-1",
            "name": "Preserve Data",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1696,
                72
            ]
        },
        {
            "parameters": {
                "jsCode": "const taskResponse = $input.item.json;\nconst originalData = $('Nurture Email').item.json || {};\nconst leadName = $('Data Table - Get Qualified Leads').item.json.FullName || 'there';\nconst videoPrompt = '@shai-lfc in a whimsical miniature world style, like a tilt-shift diorama. He stands behind a tiny workbench in a colorful workshop with coral (#fe3d51) and cyan (#1eaef7) LEGO-style elements. He looks up at the camera with excited surprise, like he just noticed the viewer. He holds up a tiny glowing envelope with the viewer name on it, showing it proudly: \"Made this for you!\" expression. Text \"' + leadName + ', I made this for you\" types on gently, clean white font. He gestures warmly toward camera as if inviting them into his tiny world. The whole scene has dreamy tilt-shift blur and a stop-motion Wes Anderson aesthetic. 4K quality.';\nreturn { json: { ...originalData, ...taskResponse, videoPrompt: videoPrompt } };"
            },
            "id": "preserve-data-2",
            "name": "Preserve Data1",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1472,
                672
            ]
        },
        {
            "parameters": {
                "operation": "updateRows",
                "tableId": {
                    "__rl": true,
                    "value": "Leads",
                    "mode": "name"
                },
                "filters": {
                    "conditions": [
                        {
                            "column": "id",
                            "operator": "equals",
                            "value": "={{ $('Set - Build Proposal HTML').item.json.recordId }}"
                        }
                    ]
                },
                "columns": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "Status": "Proposal Sent",
                        "Notes": "={{ 'Proposal sent on ' + $now.toFormat('yyyy-MM-dd HH:mm') }}",
                        "BookingLink": "https://tidycal.com/rensto/discovery"
                    }
                },
                "options": {}
            },
            "type": "n8n-nodes-base.dataTable",
            "typeVersion": 1.1,
            "position": [
                2944,
                -96
            ],
            "id": "fe1855bd-9a21-4040-8dd6-d86a3d91b586",
            "name": "Data Table - Update Proposal Sent"
        },
        {
            "parameters": {
                "operation": "updateRows",
                "tableId": {
                    "__rl": true,
                    "value": "Leads",
                    "mode": "name"
                },
                "filters": {
                    "conditions": [
                        {
                            "column": "id",
                            "operator": "equals",
                            "value": "={{ $json.recordId }}"
                        }
                    ]
                },
                "columns": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "Status": "Contacted",
                        "Notes": "={{ 'Nurture email sent on ' + $now.toFormat('yyyy-MM-dd HH:mm') }}"
                    }
                },
                "options": {}
            },
            "type": "n8n-nodes-base.dataTable",
            "typeVersion": 1.1,
            "position": [
                2944,
                504
            ],
            "id": "f8b986bc-9563-4ea1-9dee-e53deeb5c803",
            "name": "Data Table - Update Nurture Sent"
        }
    ],
    "pinData": {},
    "connections": {
        "Schedule - Every 5 Min": {
            "main": [
                [
                    {
                        "node": "Data Table - Get Qualified Leads",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Data Table - Get Qualified Leads": {
            "main": [
                [
                    {
                        "node": "IF - High Intent Lead",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "IF - High Intent Lead": {
            "main": [
                [
                    {
                        "node": "OpenAI - Generate Proposal",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Nurture Email",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "OpenAI - Generate Proposal": {
            "main": [
                [
                    {
                        "node": "Set - Proposal Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Set - Proposal Data": {
            "main": [
                [
                    {
                        "node": "Create Task",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Create Task": {
            "main": [
                [
                    {
                        "node": "Preserve Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Preserve Data": {
            "main": [
                [
                    {
                        "node": "Poll Status",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Poll Status": {
            "main": [
                [
                    {
                        "node": "Check Status & Retry",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Check Status & Retry": {
            "main": [
                [
                    {
                        "node": "Is Ready?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Is Ready?": {
            "main": [
                [
                    {
                        "node": "Process Response",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Needs Retry?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Process Response": {
            "main": [
                [
                    {
                        "node": "Set - Build Proposal HTML",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Needs Retry?": {
            "main": [
                [
                    {
                        "node": "Create Task",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Wait",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Wait": {
            "main": [
                [
                    {
                        "node": "Poll Status",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Set - Build Proposal HTML": {
            "main": [
                [
                    {
                        "node": "Data Table - Update Proposal Sent",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Data Table - Update Proposal Sent": {
            "main": [
                [
                    {
                        "node": "Send Proposal Email",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Send Proposal Email": {
            "main": [
                [
                    {
                        "node": "Telegram - Proposal Alert",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Nurture Email": {
            "main": [
                [
                    {
                        "node": "Create Task1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Create Task1": {
            "main": [
                [
                    {
                        "node": "Preserve Data1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Preserve Data1": {
            "main": [
                [
                    {
                        "node": "Poll Status1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Poll Status1": {
            "main": [
                [
                    {
                        "node": "Check Status & Retry1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Check Status & Retry1": {
            "main": [
                [
                    {
                        "node": "Is Ready?1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Is Ready?1": {
            "main": [
                [
                    {
                        "node": "Process Response1",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Needs Retry?1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Process Response1": {
            "main": [
                [
                    {
                        "node": "Prepare Nurture Email",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Needs Retry?1": {
            "main": [
                [
                    {
                        "node": "Create Task1",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Wait1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Wait1": {
            "main": [
                [
                    {
                        "node": "Poll Status1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Prepare Nurture Email": {
            "main": [
                [
                    {
                        "node": "Send Nurture Email",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Send Nurture Email": {
            "main": [
                [
                    {
                        "node": "Data Table - Update Nurture Sent",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": false,
    "settings": {
        "executionOrder": "v1",
        "availableInMCP": false,
        "callerPolicy": "workflowsFromSameOwner"
    },
    "meta": {
        "templateCredsSetupCompleted": true,
        "instanceId": "d6d5e33115a32f19742462b1f375a2ffde1364323928b1b4e33055d1a9c6e595"
    },
    "id": "mGVsVU7RTutWgzv4",
    "tags": []
}