workflows/workflow_3a_datatable.json
{
    "name": "Marketing Agency #3a: TidyCal → Contract Creation (Data Table)",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "tidycal-booking",
                "options": {}
            },
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                -128,
                16
            ],
            "id": "43b682c7-4bf3-4ce6-ab4f-cbf525fb7f70",
            "name": "TidyCal Webhook",
            "webhookId": "tidycal-booking-contract"
        },
        {
            "parameters": {
                "operation": "getRows",
                "tableId": {
                    "__rl": true,
                    "value": "Leads",
                    "mode": "name"
                },
                "filters": {
                    "conditions": [
                        {
                            "column": "Email",
                            "operator": "equals",
                            "value": "={{ ($json.body.email || $json.email).toLowerCase() }}"
                        }
                    ]
                },
                "options": {
                    "returnAll": false,
                    "limit": 1
                }
            },
            "type": "n8n-nodes-base.dataTable",
            "typeVersion": 1.1,
            "position": [
                96,
                16
            ],
            "id": "f3689c24-4575-46ac-8777-a8e0482357c7",
            "name": "Data Table - Find Lead"
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "version": 2,
                        "caseSensitive": true,
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "has-lead",
                            "leftValue": "={{ $json.id }}",
                            "rightValue": "",
                            "operator": {
                                "type": "string",
                                "operation": "exists"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.3,
            "position": [
                320,
                16
            ],
            "id": "a0423a03-3403-4be0-85d7-3d8640aaec76",
            "name": "IF - Lead Found"
        },
        {
            "parameters": {
                "modelId": {
                    "__rl": true,
                    "value": "chatgpt-4o-latest",
                    "mode": "list"
                },
                "responses": {
                    "values": [
                        {
                            "role": "system",
                            "content": "You are a contract specialist at Rensto. Generate clear, professional contract terms based on the proposal and lead info. Be specific about deliverables, timelines, and payment terms."
                        },
                        {
                            "content": "=Generate contract terms for this client:\n\nCompany: {{ $json.Company || $json.FullName }}\nProposal Notes: {{ $json.Notes }}\nMessage: {{ $json.Message }}\nBooking: {{ $('TidyCal Webhook').item.json.body.event_name || 'Discovery Call' }}\n\nGenerate:\n1. Project scope (2-3 sentences)\n2. List of deliverables (3-5 items)\n3. Timeline (in weeks)\n4. Setup fee (between $2000-$10000 based on scope)\n5. Monthly fee (between $500-$2000 based on complexity)\n6. Payment terms\n7. Start date (next Monday)"
                        }
                    ]
                },
                "builtInTools": {},
                "options": {
                    "textFormat": {
                        "textOptions": {
                            "type": "json_schema",
                            "schema": "{\"type\":\"object\",\"properties\":{\"projectScope\":{\"type\":\"string\"},\"deliverables\":{\"type\":\"array\",\"items\":{\"type\":\"string\"}},\"timeline\":{\"type\":\"string\"},\"setupFee\":{\"type\":\"number\"},\"monthlyFee\":{\"type\":\"number\"},\"paymentTerms\":{\"type\":\"string\"},\"startDate\":{\"type\":\"string\"}},\"required\":[\"projectScope\",\"deliverables\",\"timeline\",\"setupFee\",\"monthlyFee\",\"paymentTerms\",\"startDate\"],\"additionalProperties\":false}",
                            "strict": true
                        }
                    }
                }
            },
            "type": "@n8n/n8n-nodes-langchain.openAi",
            "typeVersion": 2.1,
            "position": [
                544,
                16
            ],
            "id": "666504c2-6a94-49e5-bb76-48a9fc356fb0",
            "name": "OpenAI - Generate Contract Terms",
            "credentials": {
                "openAiApi": {
                    "id": "0sXFXYfqiDEKuDcN",
                    "name": "service@rensto.com"
                }
            }
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "c1",
                            "name": "leadId",
                            "value": "={{ $('Data Table - Find Lead').item.json.id }}",
                            "type": "string"
                        },
                        {
                            "id": "c2",
                            "name": "leadName",
                            "value": "={{ $('Data Table - Find Lead').item.json.FullName }}",
                            "type": "string"
                        },
                        {
                            "id": "c3",
                            "name": "leadEmail",
                            "value": "={{ $('Data Table - Find Lead').item.json.Email }}",
                            "type": "string"
                        },
                        {
                            "id": "c4",
                            "name": "leadCompany",
                            "value": "={{ $('Data Table - Find Lead').item.json.Company || $('Data Table - Find Lead').item.json.FullName }}",
                            "type": "string"
                        },
                        {
                            "id": "c5",
                            "name": "projectScope",
                            "value": "={{ $json.output[0].content[0].text.projectScope }}",
                            "type": "string"
                        },
                        {
                            "id": "c6",
                            "name": "deliverables",
                            "value": "={{ $json.output[0].content[0].text.deliverables.join('\\n• ') }}",
                            "type": "string"
                        },
                        {
                            "id": "c7",
                            "name": "timeline",
                            "value": "={{ $json.output[0].content[0].text.timeline }}",
                            "type": "string"
                        },
                        {
                            "id": "c8",
                            "name": "setupFee",
                            "value": "={{ $json.output[0].content[0].text.setupFee }}",
                            "type": "number"
                        },
                        {
                            "id": "c9",
                            "name": "monthlyFee",
                            "value": "={{ $json.output[0].content[0].text.monthlyFee }}",
                            "type": "number"
                        },
                        {
                            "id": "c10",
                            "name": "paymentTerms",
                            "value": "={{ $json.output[0].content[0].text.paymentTerms }}",
                            "type": "string"
                        },
                        {
                            "id": "c11",
                            "name": "startDate",
                            "value": "={{ $json.output[0].content[0].text.startDate }}",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                896,
                16
            ],
            "id": "a5b7f70d-3d7b-4ae2-bca5-9433965ccd6e",
            "name": "Set - Contract Data"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://esignatures.com/api/contracts",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpQueryAuth",
                "sendQuery": true,
                "queryParameters": {
                    "parameters": [
                        {
                            "name": "token",
                            "value": "08995283-ce2f-4dc4-9a15-7a05b6a72b7d"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({ template_id: 'cc270143-c63a-482e-9f5b-8d9c0dbe01a2', title: 'AI Automation Services Agreement - ' + $json.leadCompany, metadata: $json.leadId, signers: [{ name: $json.leadName, email: $json.leadEmail, redirect_url: 'https://rensto.com/thank-you-contract' }], placeholder_fields: [ { api_key: 'client_name', value: $json.leadCompany }, { api_key: 'client_email', value: $json.leadEmail }, { api_key: 'project_scope', value: $json.projectScope }, { api_key: 'deliverables', value: '• ' + $json.deliverables }, { api_key: 'timeline', value: $json.timeline }, { api_key: 'setup_fee', value: '$' + $json.setupFee.toLocaleString() }, { api_key: 'monthly_fee', value: '$' + $json.monthlyFee.toLocaleString() }, { api_key: 'payment_terms', value: $json.paymentTerms }, { api_key: 'start_date', value: $json.startDate } ], custom_webhook_url: 'https://n8n.rensto.com/webhook/esignatures-webhook', test: 'no' }) }}",
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1120,
                16
            ],
            "id": "87f04a96-9302-4b0f-8e9b-b790e084a851",
            "name": "eSignatures - Create Contract",
            "credentials": {
                "httpQueryAuth": {
                    "id": "1XKaStTAoILpiw6f",
                    "name": "Query Auth account"
                }
            }
        },
        {
            "parameters": {
                "operation": "updateRows",
                "tableId": {
                    "__rl": true,
                    "value": "Leads",
                    "mode": "name"
                },
                "filters": {
                    "conditions": [
                        {
                            "column": "id",
                            "operator": "equals",
                            "value": "={{ $('Set - Contract Data').item.json.leadId }}"
                        }
                    ]
                },
                "columns": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "Status": "Contract Sent",
                        "Notes": "={{ 'Contract sent on ' + $now.toFormat('yyyy-MM-dd HH:mm') + '. Contract ID: ' + $json.data.contract.id }}"
                    }
                },
                "options": {}
            },
            "type": "n8n-nodes-base.dataTable",
            "typeVersion": 1.1,
            "position": [
                1344,
                16
            ],
            "id": "bdb1d98c-6728-412e-a045-43c0ef12ca94",
            "name": "Data Table - Update Contract Sent"
        },
        {
            "parameters": {
                "chatId": "374214124",
                "text": "=📝 Contract Sent!\n\nClient: {{ $('Set - Contract Data').item.json.leadName }}\nCompany: {{ $('Set - Contract Data').item.json.leadCompany }}\nEmail: {{ $('Set - Contract Data').item.json.leadEmail }}\n\n💰 Setup: ${{ $('Set - Contract Data').item.json.setupFee.toLocaleString() }}\n📅 Monthly: ${{ $('Set - Contract Data').item.json.monthlyFee.toLocaleString() }}\n\n✅ Awaiting signature...",
                "additionalFields": {
                    "appendAttribution": false
                }
            },
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1.2,
            "position": [
                1568,
                16
            ],
            "id": "ff09b519-f262-4f89-a27b-748a1d837dba",
            "name": "Telegram - Contract Sent",
            "webhookId": "8ff2a613-ffff-41ae-8304-5581b5d89fe3",
            "credentials": {
                "telegramApi": {
                    "id": "0WW3IfTfTah5WAnl",
                    "name": "rensto_bot"
                }
            }
        }
    ],
    "pinData": {},
    "connections": {
        "TidyCal Webhook": {
            "main": [
                [
                    {
                        "node": "Data Table - Find Lead",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Data Table - Find Lead": {
            "main": [
                [
                    {
                        "node": "IF - Lead Found",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "IF - Lead Found": {
            "main": [
                [
                    {
                        "node": "OpenAI - Generate Contract Terms",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "OpenAI - Generate Contract Terms": {
            "main": [
                [
                    {
                        "node": "Set - Contract Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Set - Contract Data": {
            "main": [
                [
                    {
                        "node": "eSignatures - Create Contract",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "eSignatures - Create Contract": {
            "main": [
                [
                    {
                        "node": "Data Table - Update Contract Sent",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Data Table - Update Contract Sent": {
            "main": [
                [
                    {
                        "node": "Telegram - Contract Sent",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": true,
    "settings": {
        "executionOrder": "v1",
        "availableInMCP": false
    },
    "meta": {
        "instanceId": "d6d5e33115a32f19742462b1f375a2ffde1364323928b1b4e33055d1a9c6e595"
    },
    "tags": []
}