workflows/workflow_3b_datatable.json
{
    "name": "Marketing Agency #3b: Contract Signed → Payment (Data Table)",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "esignatures-webhook",
                "options": {}
            },
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                -304,
                448
            ],
            "id": "1475231f-0c7f-4ec8-8dc9-37d8df80c672",
            "name": "eSignatures Webhook",
            "webhookId": "esignatures-contract-signed"
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "version": 2
                    },
                    "conditions": [
                        {
                            "id": "is-signed",
                            "leftValue": "={{ $json.body.status || $json.status }}",
                            "rightValue": "contract-signed",
                            "operator": {
                                "type": "string",
                                "operation": "equals"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.3,
            "position": [
                -80,
                448
            ],
            "id": "3db0a2a4-62cf-4b35-9ca9-266fe75b1e07",
            "name": "IF - Contract Signed"
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "s1",
                            "name": "contractId",
                            "value": "={{ $json.body.data.contract.id || $json.data.contract.id }}",
                            "type": "string"
                        },
                        {
                            "id": "s2",
                            "name": "leadId",
                            "value": "={{ $json.body.data.contract.metadata || $json.data.contract.metadata }}",
                            "type": "string"
                        },
                        {
                            "id": "s3",
                            "name": "signerName",
                            "value": "={{ ($json.body.data.contract.signers || $json.data.contract.signers)[0].name }}",
                            "type": "string"
                        },
                        {
                            "id": "s4",
                            "name": "signerEmail",
                            "value": "={{ ($json.body.data.contract.signers || $json.data.contract.signers)[0].email }}",
                            "type": "string"
                        },
                        {
                            "id": "s5",
                            "name": "contractPdfUrl",
                            "value": "={{ $json.body.data.contract.contract_pdf_url || $json.data.contract.contract_pdf_url }}",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                144,
                448
            ],
            "id": "f87fb57a-d7b4-40f5-b4a4-f65f89cc43d1",
            "name": "Set - Signed Data"
        },
        {
            "parameters": {
                "operation": "getRows",
                "tableId": {
                    "__rl": true,
                    "value": "Leads",
                    "mode": "name"
                },
                "filters": {
                    "conditions": [
                        {
                            "column": "id",
                            "operator": "equals",
                            "value": "={{ $json.leadId }}"
                        }
                    ]
                },
                "options": {
                    "returnAll": false,
                    "limit": 1
                }
            },
            "type": "n8n-nodes-base.dataTable",
            "typeVersion": 1.1,
            "position": [
                368,
                448
            ],
            "id": "62919eca-1bfe-4c0b-9c8d-8704e6938b12",
            "name": "Data Table - Get Lead"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.stripe.com/v1/payment_links",
                "authentication": "predefinedCredentialType",
                "nodeCredentialType": "stripeApi",
                "sendBody": true,
                "contentType": "form-urlencoded",
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "line_items[0][price]",
                            "value": "price_1Sg7GRDE8rt1dEs1NvKexQLI"
                        },
                        {
                            "name": "line_items[0][quantity]",
                            "value": "1"
                        },
                        {
                            "name": "metadata[lead_id]",
                            "value": "={{ $('Set - Signed Data').item.json.leadId }}"
                        },
                        {
                            "name": "metadata[contract_id]",
                            "value": "={{ $('Set - Signed Data').item.json.contractId }}"
                        },
                        {
                            "name": "after_completion[type]",
                            "value": "redirect"
                        },
                        {
                            "name": "after_completion[redirect][url]",
                            "value": "https://rensto.com/welcome"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                592,
                448
            ],
            "id": "8774d404-0567-4c95-aabf-e6df436a1d9b",
            "name": "Stripe - Create Payment Link",
            "credentials": {
                "stripeApi": {
                    "id": "9O8piUXp589yofJc",
                    "name": "service@rensto.com"
                }
            }
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "e1",
                            "name": "paymentUrl",
                            "value": "={{ $json.url }}",
                            "type": "string"
                        },
                        {
                            "id": "e2",
                            "name": "leadName",
                            "value": "={{ $('Data Table - Get Lead').item.json.FullName }}",
                            "type": "string"
                        },
                        {
                            "id": "e3",
                            "name": "leadEmail",
                            "value": "={{ $('Data Table - Get Lead').item.json.Email }}",
                            "type": "string"
                        },
                        {
                            "id": "e4",
                            "name": "leadCompany",
                            "value": "={{ $('Data Table - Get Lead').item.json.Company || $('Data Table - Get Lead').item.json.FullName }}",
                            "type": "string"
                        },
                        {
                            "id": "e5",
                            "name": "contractPdfUrl",
                            "value": "={{ $('Set - Signed Data').item.json.contractPdfUrl }}",
                            "type": "string"
                        },
                        {
                            "id": "e6",
                            "name": "leadId",
                            "value": "={{ $('Set - Signed Data').item.json.leadId }}",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                816,
                448
            ],
            "id": "0113a487-dfaf-4b6d-a20f-f33fe9723930",
            "name": "Set - Payment Data"
        },
        {
            "parameters": {
                "toRecipients": "={{ $json.leadEmail }}",
                "subject": "=Contract Signed! 🎉 Complete Your Setup - {{ $json.leadCompany }}",
                "bodyContent": "=<h1>Contract Signed!</h1><p>Hi {{ $json.leadName }},</p><p>Complete payment: <a href=\"{{ $json.paymentUrl }}\">Pay Now</a></p><p>Contract: <a href=\"{{ $json.contractPdfUrl }}\">Download PDF</a></p>",
                "additionalFields": {
                    "bodyContentType": "html"
                }
            },
            "type": "n8n-nodes-base.microsoftOutlook",
            "typeVersion": 2,
            "position": [
                1040,
                448
            ],
            "id": "2ce6ba3e-f445-4860-8ed6-c30ce4c82703",
            "name": "Send Payment Email",
            "credentials": {
                "microsoftOutlookOAuth2Api": {
                    "id": "EA2Fl9QT5h2HZoo9",
                    "name": "rensto"
                }
            }
        },
        {
            "parameters": {
                "operation": "updateRows",
                "tableId": {
                    "__rl": true,
                    "value": "Leads",
                    "mode": "name"
                },
                "filters": {
                    "conditions": [
                        {
                            "column": "id",
                            "operator": "equals",
                            "value": "={{ $json.leadId }}"
                        }
                    ]
                },
                "columns": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "Status": "Awaiting Payment",
                        "Notes": "={{ 'Contract signed on ' + $now.toFormat('yyyy-MM-dd HH:mm') + '. Payment link sent.' }}"
                    }
                },
                "options": {}
            },
            "type": "n8n-nodes-base.dataTable",
            "typeVersion": 1.1,
            "position": [
                1264,
                448
            ],
            "id": "22f8e297-81ef-41cf-af31-247bf8b38315",
            "name": "Data Table - Awaiting Payment"
        },
        {
            "parameters": {
                "chatId": "374214124",
                "text": "=✍️ Contract Signed!\nClient: {{ $('Set - Payment Data').item.json.leadName }}\n💳 Payment link sent!",
                "additionalFields": {
                    "appendAttribution": false
                }
            },
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1.2,
            "position": [
                1488,
                448
            ],
            "id": "3c2b8934-2701-4442-9b6f-10aa821b7dd5",
            "name": "Telegram - Contract Signed",
            "credentials": {
                "telegramApi": {
                    "id": "0WW3IfTfTah5WAnl",
                    "name": "rensto_bot"
                }
            }
        }
    ],
    "connections": {
        "eSignatures Webhook": {
            "main": [
                [
                    {
                        "node": "IF - Contract Signed",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "IF - Contract Signed": {
            "main": [
                [
                    {
                        "node": "Set - Signed Data",
                        "type": "main",
                        "index": 0
                    }
                ],
                []
            ]
        },
        "Set - Signed Data": {
            "main": [
                [
                    {
                        "node": "Data Table - Get Lead",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Data Table - Get Lead": {
            "main": [
                [
                    {
                        "node": "Stripe - Create Payment Link",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Stripe - Create Payment Link": {
            "main": [
                [
                    {
                        "node": "Set - Payment Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Set - Payment Data": {
            "main": [
                [
                    {
                        "node": "Send Payment Email",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Send Payment Email": {
            "main": [
                [
                    {
                        "node": "Data Table - Awaiting Payment",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Data Table - Awaiting Payment": {
            "main": [
                [
                    {
                        "node": "Telegram - Contract Signed",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": true,
    "settings": {
        "executionOrder": "v1"
    },
    "meta": {
        "instanceId": "d6d5e33115a32f19742462b1f375a2ffde1364323928b1b4e33055d1a9c6e595"
    }
}