infra/archive/boost-space-legacy/STRIPE-MARKETPLACE-001-WITH-EMAIL.json
{
  "name": "STRIPE-MARKETPLACE-001: Template Purchase Handler",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "stripe-marketplace-template",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Stripe Webhook - Marketplace",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [240, 304],
      "webhookId": "0041ed91-9265-4ab6-ab87-124704f6949b"
    },
    {
      "parameters": {
        "jsCode": "// Parse Stripe webhook data\nconst webhookNode = $input.first().json;\n\n// Extract body from webhook node (webhook node wraps data in 'body')\nconst body = webhookNode.body || webhookNode;\nconst webhookData = body.webhookData || body;\nconst metadata = body.metadata || webhookData.metadata || {};\n\n// Extract data from webhook payload (check multiple possible locations)\nconst customerEmail = body.customerEmail || webhookData.customerEmail || metadata.customerEmail || '';\nconst customerName = body.customerName || webhookData.customerName || metadata.customerName || '';\nconst amount = body.amount || webhookData.amount || metadata.amount || 0;\nconst productId = body.productId || webhookData.productId || metadata.productId || '';\nconst sessionId = body.stripeSessionId || webhookData.stripeSessionId || body.sessionId || webhookData.sessionId || '';\nconst flowType = body.flowType || webhookData.flowType || metadata.flowType || 'marketplace-template';\nconst tier = body.tier || webhookData.tier || metadata.tier || 'simple';\nconst templateName = metadata.templateName || metadata.productName || webhookData.templateName || webhookData.productName || '';\n\nreturn [{\n  customerEmail,\n  customerName,\n  amount,\n  productId, // This should match Workflow ID in Marketplace Products\n  sessionId,\n  flowType,\n  tier,\n  templateName,\n  purchaseType: 'Download',\n  timestamp: new Date().toISOString(),\n  // Store full webhook data for reference\n  webhookData: {\n    customerEmail,\n    customerName,\n    amount,\n    productId,\n    sessionId,\n    flowType,\n    tier,\n    templateName\n  }\n}];"
      },
      "id": "parse-data",
      "name": "Parse Webhook Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [464, 304]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://superseller.boost.space/api/contact",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 88c5ff57783912fcc05fec10a22d67b5806d48346ab9ef562f17e2188cc07dba"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "spaceId",
              "value": "53"
            },
            {
              "name": "email",
              "value": "={{ $json.customerEmail }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "find-customer",
      "name": "Find Customer in Boost.space",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [688, 304]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://superseller.boost.space/api/contact",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 88c5ff57783912fcc05fec10a22d67b5806d48346ab9ef562f17e2188cc07dba"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "spaceId",
              "value": "53"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": []
        },
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"name\": $('Parse Webhook Data').item.json.webhookData.customerName || 'Customer',\n  \"email\": $('Parse Webhook Data').item.json.customerEmail,\n  \"status_system_id\": 1,\n  \"metadata\": JSON.stringify({\n    source: 'stripe-marketplace',\n    last_contact_date: $now.toISO(),\n    created_at: $now.toISO()\n  })\n} }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "create-customer",
      "name": "Create/Update Customer in Boost.space",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [912, 304]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://superseller.boost.space/api/product",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 88c5ff57783912fcc05fec10a22d67b5806d48346ab9ef562f17e2188cc07dba"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "spaceId",
              "value": "51"
            },
            {
              "name": "workflow_id",
              "value": "={{ $('Parse Webhook Data').item.json.productId }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "find-product",
      "name": "Find Marketplace Product in Boost.space",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1136, 304]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://superseller.boost.space/api/order",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 88c5ff57783912fcc05fec10a22d67b5806d48346ab9ef562f17e2188cc07dba"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "spaceId",
              "value": "51"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": []
        },
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"customer_email\": $('Parse Webhook Data').item.json.customerEmail,\n  \"product_id\": $('Find Marketplace Product in Boost.space').first().json.id || $('Parse Webhook Data').item.json.productId,\n  \"purchase_date\": $now.toISO(),\n  \"purchase_type\": \"Download\",\n  \"amount_paid\": $('Parse Webhook Data').item.json.amount,\n  \"stripe_session_id\": $('Parse Webhook Data').item.json.sessionId,\n  \"status\": \"pending\",\n  \"access_granted\": false,\n  \"download_count\": 0,\n  \"metadata\": JSON.stringify({\n    source: 'stripe-marketplace',\n    workflow_id: $('Parse Webhook Data').item.json.productId,\n    created_at: $now.toISO()\n  })\n} }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "create-purchase",
      "name": "Create Marketplace Purchase in Boost.space",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1360, 304]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.rensto.com/api/marketplace/downloads",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": []
        },
        "specifyBody": "json",
        "jsonBody": "={\n  \"templateId\": \"{{ $('Parse Webhook Data').item.json.productId }}\",\n  \"customerEmail\": \"{{ $('Parse Webhook Data').item.json.customerEmail }}\",\n  \"sessionId\": \"{{ $('Parse Webhook Data').item.json.sessionId }}\",\n  \"purchaseRecordId\": \"{{ $('Create Marketplace Purchase').first().json.id }}\"\n}",
        "options": {}
      },
      "id": "generate-download",
      "name": "Generate Download Link",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1584, 304]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ 'https://superseller.boost.space/api/order/' + ($('Create Marketplace Purchase in Boost.space').first().json.id || '') }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 88c5ff57783912fcc05fec10a22d67b5806d48346ab9ef562f17e2188cc07dba"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "spaceId",
              "value": "51"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": []
        },
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"download_link\": $json.downloadLink || $json.url,\n  \"download_link_expiry\": $now.plus({ days: 7 }).toISO(),\n  \"status\": \"download_link_sent\",\n  \"access_granted\": true\n} }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "update-purchase",
      "name": "Update Purchase with Download Link",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1808, 304]
    },
    {
      "parameters": {
        "to": "={{ $('Parse Webhook Data').item.json.customerEmail }}",
        "subject": "Your Template is Ready! 🎉",
        "bodyContent": "=<!DOCTYPE html>\n<html>\n<head><style>body{font-family:Arial,sans-serif;line-height:1.6;color:#333;}.header{background:#2c5aa0;color:white;padding:20px;text-align:center;}.content{padding:20px;}.button{display:inline-block;padding:12px 24px;background:#28a745;color:white;text-decoration:none;border-radius:5px;margin:20px 0;}</style></head>\n<body>\n<div class=\"header\"><h1>🎉 Your Template is Ready!</h1></div>\n<div class=\"content\">\n<p>Hi {{ $('Parse Webhook Data').item.json.webhookData.customerName || 'Customer' }},</p>\n<p>Thank you for purchasing the <strong>{{ $('Find Marketplace Product in Boost.space').first().json.name || $('Parse Webhook Data').item.json.templateName }}</strong> template!</p>\n<h2>📥 Download Your Template</h2>\n<p><a href=\"{{ $('Generate Download Link').json.downloadLink }}\" class=\"button\">Download Now (Expires in 7 days)</a></p>\n<h2>⚡ Need n8n Cloud?</h2>\n<p>We recommend n8n Cloud for the best experience. <a href=\"https://tinyurl.com/ym3awuke\">Get started here</a></p>\n<p><small>Benefits: Automatic updates, cloud hosting, 24/7 support</small></p>\n<h2>📚 Setup Instructions</h2>\n<p>1. Import the workflow JSON file into your n8n instance</p>\n<p>2. Configure credentials (Airtable, Slack, etc.)</p>\n<p>3. Test the workflow</p>\n<p>Need help? Reply to this email or book a setup call.</p>\n<p>Best regards,<br>The Rensto Team<br>service@rensto.com</p>\n</div>\n</body>\n</html>",
        "additionalFields": {
          "contentType": "html"
        }
      },
      "id": "send-email",
      "name": "Send Customer Email",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [1920, 304],
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "cG7UVwSbYjSYBg4P",
          "name": "service@rensto.com"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  \"success\": true,\n  \"message\": \"Marketplace purchase processed\",\n  \"purchaseId\": $('Create Marketplace Purchase in Boost.space').first().json.id,\n  \"downloadLink\": $('Generate Download Link').json.downloadLink || $('Generate Download Link').json.url,\n  \"customerEmail\": $('Parse Webhook Data').item.json.customerEmail\n} }}",
        "options": {}
      },
      "id": "respond",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [2032, 304]
    }
  ],
  "connections": {
    "Stripe Webhook - Marketplace": {
      "main": [[{ "node": "Parse Webhook Data", "type": "main", "index": 0 }]]
    },
    "Parse Webhook Data": {
      "main": [[{ "node": "Find Customer in Boost.space", "type": "main", "index": 0 }]]
    },
    "Find Customer in Boost.space": {
      "main": [[{ "node": "Create/Update Customer in Boost.space", "type": "main", "index": 0 }]]
    },
    "Create/Update Customer in Boost.space": {
      "main": [[{ "node": "Find Marketplace Product in Boost.space", "type": "main", "index": 0 }]]
    },
    "Find Marketplace Product in Boost.space": {
      "main": [[{ "node": "Create Marketplace Purchase in Boost.space", "type": "main", "index": 0 }]]
    },
    "Create Marketplace Purchase in Boost.space": {
      "main": [[{ "node": "Generate Download Link", "type": "main", "index": 0 }]]
    },
    "Generate Download Link": {
      "main": [[{ "node": "Update Purchase with Download Link", "type": "main", "index": 0 }]]
    },
    "Update Purchase with Download Link": {
      "main": [[{ "node": "Send Customer Email", "type": "main", "index": 0 }]]
    },
    "Send Customer Email": {
      "main": [[{ "node": "Respond Success", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}

