archives/outdated-configs/clean_make_scenario_2919298.json
{
  "flow": [
    {
      "id": 15,
      "mapper": {
        "limit": "10",
        "order": "desc",
        "orderBy": "createdDate"
      },
      "module": "surense:SearchLeads",
      "version": 1,
      "metadata": {
        "designer": {
          "x": 0,
          "y": 0,
          "name": "🔍 חיפוש לידים"
        }
      },
      "parameters": {
        "__IMTCONN__": 5026390
      }
    },
    {
      "id": 18,
      "filter": {
        "name": "Filter leads with ID",
        "conditions": [
          [
            {
              "a": "{{15.id}}",
              "o": "exist"
            }
          ]
        ]
      },
      "mapper": {
        "id": "{{15.id}}",
        "fullName": "{{15.fullName}}",
        "age": "{{15.age}}",
        "city": "{{15.city}}",
        "email": "{{15.email}}",
        "phone": "{{15.phone}}",
        "income": "{{15.income}}",
        "familySize": "{{15.familySize}}",
        "profession": "{{15.profession}}",
        "street": "{{15.street}}",
        "postalCode": "{{15.postalCode}}",
        "statusName": "{{15.statusName}}",
        "createdDate": "{{15.createdDate}}"
      },
      "module": "builtin:BasicAggregator",
      "version": 1,
      "metadata": {
        "designer": {
          "x": 300,
          "y": 0,
          "name": "📊 איסוף נתוני לידים"
        }
      },
      "parameters": {
        "feeder": 15
      }
    },
    {
      "id": 25,
      "mapper": {
        "ca": "",
        "qs": [],
        "url": "https://shellyins.app.n8n.cloud/webhook-test/family-insurance-analysis",
        "data": "{{18.array}}",
        "gzip": true,
        "method": "post",
        "headers": [
          {
            "name": "Content-Type",
            "value": "application/json"
          },
          {
            "name": "X-Source",
            "value": "Make.com-Surense-Integration"
          }
        ],
        "timeout": "60",
        "useMtls": false,
        "authPass": "",
        "authUser": "",
        "bodyType": "raw",
        "contentType": "application/json",
        "serializeUrl": false,
        "shareCookies": false,
        "parseResponse": true,
        "followRedirect": true,
        "useQuerystring": false,
        "followAllRedirects": false,
        "rejectUnauthorized": true
      },
      "module": "http:ActionSendData",
      "version": 3,
      "metadata": {
        "designer": {
          "x": 600,
          "y": 0,
          "name": "🔄 שליחה לעבודה"
        }
      },
      "parameters": {
        "handleErrors": false,
        "useNewZLibDeCompress": true
      }
    },
    {
      "id": 26,
      "filter": {
        "name": "HTTP Success Filter",
        "conditions": [
          [
            {
              "a": "{{25.statusCode}}",
              "o": "between",
              "b": "200,299"
            }
          ]
        ]
      },
      "mapper": {
        "statusCode": "{{25.statusCode}}",
        "responseData": "{{25.data}}",
        "success": true,
        "leadCount": "{{18.__IMTAGGLENGTH__}}",
        "executionId": "{{execution.id}}"
      },
      "module": "builtin:BasicAggregator",
      "version": 1,
      "metadata": {
        "designer": {
          "x": 900,
          "y": 0,
          "name": "✅ הצלחה"
        }
      },
      "parameters": {
        "feeder": 25
      }
    },
    {
      "id": 27,
      "filter": {
        "name": "HTTP Error Filter",
        "conditions": [
          [
            {
              "a": "{{25.statusCode}}",
              "o": "notBetween",
              "b": "200,299"
            }
          ]
        ]
      },
      "mapper": {
        "statusCode": "{{25.statusCode}}",
        "errorMessage": "{{25.error.message}}",
        "errorType": "{{25.error.name}}",
        "url": "{{25.url}}",
        "leadCount": "{{18.__IMTAGGLENGTH__}}",
        "executionId": "{{execution.id}}"
      },
      "module": "builtin:BasicAggregator",
      "version": 1,
      "metadata": {
        "designer": {
          "x": 900,
          "y": 200,
          "name": "❌ שגיאה"
        }
      },
      "parameters": {
        "feeder": 25
      }
    }
  ],
  "name": "📥 העלאת לידים לנ8ן - Clean Version",
  "metadata": {
    "instant": false,
    "version": 1,
    "designer": {
      "orphans": []
    },
    "scenario": {
      "dlq": false,
      "slots": null,
      "dataloss": false,
      "maxErrors": 5,
      "autoCommit": true,
      "roundtrips": 1,
      "sequential": false,
      "confidential": false,
      "freshVariables": false,
      "autoCommitTriggerLast": true
    }
  }
}
