archives/outdated-configs/corrected_scenario_2983190.json
{
  "flow": [
    {
      "id": 1,
      "module": "gateway:CustomWebHook",
      "version": 1,
      "metadata": {
        "designer": {
          "x": 0,
          "y": 0
        }
      },
      "parameters": {
        "hook": 1326647,
        "maxResults": 1
      }
    },
    {
      "id": 9,
      "module": "builtin:BasicFeeder",
      "version": 1,
      "metadata": {
        "designer": {
          "x": 300,
          "y": 0
        }
      },
      "mapper": {
        "array": "{{1.data.familyProfiles}}"
      },
      "parameters": {}
    },
    {
      "id": 10,
      "module": "surense:UpdateLead",
      "version": 1,
      "metadata": {
        "designer": {
          "x": 600,
          "y": 0
        }
      },
      "mapper": {
        "leadId": "{{9.leadId}}",
        "priority": "{{9.priority}}",
        "notes": "Family insurance analysis completed - {{9.processedAt}}"
      },
      "parameters": {
        "__IMTCONN__": 5026390
      }
    },
    {
      "id": 11,
      "module": "surense:createDocument",
      "version": 1,
      "metadata": {
        "designer": {
          "x": 900,
          "y": 0
        }
      },
      "mapper": {
        "id": "{{9.leadId}}",
        "idType": "lid",
        "data": "{{9.pdfData}}",
        "filename": "insurance-analysis-{{9.familyId}}.pdf"
      },
      "parameters": {
        "__IMTCONN__": 5026390
      }
    },
    {
      "id": 12,
      "module": "surense:CreateActivity",
      "version": 1,
      "metadata": {
        "designer": {
          "x": 1200,
          "y": 0
        }
      },
      "mapper": {
        "leadId": "{{9.leadId}}",
        "htmlContent": "Insurance profile analysis completed. Risk Score: {{9.riskScore}}, Category: {{9.category}}, Data Quality: {{9.dataQuality}}%. Analysis completed at {{9.processedAt}}"
      },
      "parameters": {
        "__IMTCONN__": 5026390
      }
    }
  ],
  "metadata": {
    "name": "Surense Data Fetcher - Corrected Data Path",
    "description": "Fixed data path from {{1.familyProfiles}} to {{1.data.familyProfiles}}",
    "version": 1
  }
}
