archives/outdated-configs/corrected_blueprint.json
{
  "code": "OK",
  "response": {
    "blueprint": {
      "flow": [
        {
          "id": 15,
          "mapper": {
            "limit": "50",
            "order": "desc",
            "orderBy": "createdDate"
          },
          "module": "surense:SearchLeads",
          "version": 1,
          "metadata": {
            "designer": {
              "x": 0,
              "y": 0,
              "name": "🔍 חיפוש לידים"
            }
          },
          "parameters": {
            "__IMTCONN__": 5026390
          }
        },
        {
          "id": 18,
          "filter": {
            "name": "",
            "conditions": [
              [
                {
                  "a": "{{15.idCardIssueDate}}",
                  "o": "exist"
                }
              ]
            ]
          },
          "mapper": {
            "id": "{{15.id}}",
            "age": "{{15.age}}",
            "city": "{{15.city}}",
            "tags": "{{15.tags}}",
            "dueAt": "{{15.dueAt}}",
            "email": "{{15.email}}",
            "phone": "{{15.phone}}",
            "gender": "{{15.gender}}",
            "idType": "{{15.idType}}",
            "income": "{{15.income}}",
            "number": "{{15.number}}",
            "pinned": "{{15.pinned}}",
            "street": "{{15.street}}",
            "typeId": "{{15.typeId}}",
            "unseen": "{{15.unseen}}",
            "dueDate": "{{15.dueDate}}",
            "ownerId": "{{15.ownerId}}",
            "version": "{{15.version}}",
            "agencyId": "{{15.agencyId}}",
            "fullName": "{{15.fullName}}",
            "idNumber": "{{15.idNumber}}",
            "lastName": "{{15.lastName}}",
            "sharable": "{{15.sharable}}",
            "sourceId": "{{15.sourceId}}",
            "statusId": "{{15.statusId}}",
            "tenantId": "{{15.tenantId}}",
            "birthDate": "{{15.birthDate}}",
            "createdBy": "{{15.createdBy}}",
            "firstName": "{{15.firstName}}",
            "ownerName": "{{15.ownerName}}",
            "postalBox": "{{15.postalBox}}",
            "riskLevel": "{{15.riskLevel}}",
            "tromStats": "{{15.tromStats}}",
            "assignedAt": "{{15.assignedAt}}",
            "assignedBy": "{{15.assignedBy}}",
            "assigneeId": "{{15.assigneeId}}",
            "cellNumber": "{{15.cellNumber}}",
            "checkLists": "{{15.checkLists}}",
            "customerId": "{{15.customerId}}",
            "familySize": "{{15.familySize}}",
            "hbDataDate": "{{15.hbDataDate}}",
            "interestId": "{{15.interestId}}",
            "postalCode": "{{15.postalCode}}",
            "profession": "{{15.profession}}",
            "statusDate": "{{15.statusDate}}",
            "statusName": "{{15.statusName}}",
            "createdDate": "{{15.createdDate}}",
            "creatorName": "{{15.creatorName}}",
            "phoneNumber": "{{15.phoneNumber}}",
            "__IMTINDEX__": "{{15.`__IMTINDEX__`}}",
            "assigneeName": "{{15.assigneeName}}",
            "customFields": "{{15.customFields}}",
            "dueAtTimeSet": "{{15.dueAtTimeSet}}",
            "employerName": "{{15.employerName}}",
            "existingLead": "{{15.existingLead}}",
            "interestName": "{{15.interestName}}",
            "lastModified": "{{15.lastModified}}",
            "phoneNumber1": "{{15.phoneNumber1}}",
            "phoneNumber2": "{{15.phoneNumber2}}",
            "statusClosed": "{{15.statusClosed}}",
            "streetNumber": "{{15.streetNumber}}",
            "totalSavings": "{{15.totalSavings}}",
            "__IMTLENGTH__": "{{15.`__IMTLENGTH__`}}",
            "mailingStatus": "{{15.mailingStatus}}",
            "maritalStatus": "{{15.maritalStatus}}",
            "overduePeriod": "{{15.overduePeriod}}",
            "statusSuccess": "{{15.statusSuccess}}",
            "totalMortgage": "{{15.totalMortgage}}",
            "appMailAddress": "{{15.appMailAddress}}",
            "assignedUserId": "{{15.assignedUserId}}",
            "hbProxyExpired": "{{15.hbProxyExpired}}",
            "insuranceNeeds": "{{15.insuranceNeeds}}",
            "lastActivityBy": "{{15.lastActivityBy}}",
            "apartmentNumber": "{{15.apartmentNumber}}",
            "fullNameReverse": "{{15.fullNameReverse}}",
            "hbProxySignDate": "{{15.hbProxySignDate}}",
            "idCardIssueDate": "{{15.idCardIssueDate}}",
            "assignedUserName": "{{15.assignedUserName}}",
            "customerFullName": "{{15.customerFullName}}",
            "customerManagers": "{{15.customerManagers}}",
            "customerStatusId": "{{15.customerStatusId}}",
            "lastActivityDate": "{{15.lastActivityDate}}",
            "customerManagerId": "{{15.customerManagerId}}",
            "hbProxyInviteDate": "{{15.hbProxyInviteDate}}",
            "lastE9100DataDate": "{{15.lastE9100DataDate}}",
            "policiesProxySignDate": "{{15.policiesProxySignDate}}",
            "swiftnessProxyExpired": "{{15.swiftnessProxyExpired}}",
            "swiftnessProxySignDate": "{{15.swiftnessProxySignDate}}",
            "customerFullNameReverse": "{{15.customerFullNameReverse}}",
            "policiesProxyInviteDate": "{{15.policiesProxyInviteDate}}",
            "swiftnessProxyInviteDate": "{{15.swiftnessProxyInviteDate}}"
          },
          "module": "builtin:BasicAggregator",
          "version": 1,
          "metadata": {
            "restore": {
              "extra": {
                "feeder": {
                  "label": "🔍 חיפוש לידים - Search Leads [15]"
                },
                "target": {
                  "label": "Custom"
                }
              }
            },
            "designer": {
              "x": 300,
              "y": 0,
              "name": "📊 איסוף נתוני לידים"
            }
          },
          "parameters": {
            "feeder": 15
          }
        },
        {
          "id": 42,
          "mapper": {
            "object": "{{18.array}}"
          },
          "module": "json:TransformToJSON",
          "version": 1,
          "metadata": {
            "expect": [
              {
                "name": "object",
                "type": "any",
                "label": "Object"
              }
            ],
            "restore": {
              "parameters": {
                "space": {
                  "label": "Empty"
                }
              }
            },
            "designer": {
              "x": 600,
              "y": 0
            },
            "parameters": [
              {
                "name": "space",
                "type": "select",
                "label": "Indentation",
                "validate": {
                  "enum": [
                    "tab",
                    "2",
                    "4"
                  ]
                }
              }
            ]
          },
          "parameters": {
            "space": ""
          }
        },
        {
          "id": 25,
          "mapper": {
            "ca": "",
            "qs": [],
            "url": "https://shellyins.app.n8n.cloud/webhook/family-insurance",
            "data": "{{42.json}}",
            "gzip": true,
            "method": "post",
            "headers": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ],
            "timeout": "",
            "useMtls": false,
            "authPass": "",
            "authUser": "",
            "bodyType": "raw",
            "contentType": "application/json",
            "serializeUrl": false,
            "shareCookies": false,
            "parseResponse": true,
            "followRedirect": true,
            "useQuerystring": false,
            "followAllRedirects": false,
            "rejectUnauthorized": true
          },
          "module": "http:ActionSendData",
          "version": 3,
          "metadata": {
            "expect": [
              {
                "name": "url",
                "type": "url",
                "label": "URL",
                "required": true
              },
              {
                "name": "serializeUrl",
                "type": "boolean",
                "label": "Serialize URL",
                "required": true
              },
              {
                "name": "method",
                "type": "select",
                "label": "Method",
                "required": true,
                "validate": {
                  "enum": [
                    "get",
                    "head",
                    "post",
                    "put",
                    "patch",
                    "delete",
                    "options"
                  ]
                }
              },
              {
                "name": "headers",
                "spec": [
                  {
                    "name": "name",
                    "type": "text",
                    "label": "Name",
                    "required": true
                  },
                  {
                    "name": "value",
                    "type": "text",
                    "label": "Value"
                  }
                ],
                "type": "array",
                "label": "Headers"
              },
              {
                "name": "qs",
                "spec": [
                  {
                    "name": "name",
                    "type": "text",
                    "label": "Name",
                    "required": true
                  },
                  {
                    "name": "value",
                    "type": "text",
                    "label": "Value"
                  }
                ],
                "type": "array",
                "label": "Query String"
              },
              {
                "name": "bodyType",
                "type": "select",
                "label": "Body type",
                "validate": {
                  "enum": [
                    "raw",
                    "x_www_form_urlencoded",
                    "multipart_form_data"
                  ]
                }
              },
              {
                "name": "parseResponse",
                "type": "boolean",
                "label": "Parse response",
                "required": true
              },
              {
                "name": "authUser",
                "type": "text",
                "label": "User name"
              },
              {
                "name": "authPass",
                "type": "password",
                "label": "Password"
              },
              {
                "name": "timeout",
                "type": "uinteger",
                "label": "Timeout",
                "validate": {
                  "max": 300,
                  "min": 1
                }
              },
              {
                "name": "shareCookies",
                "type": "boolean",
                "label": "Share cookies with other HTTP modules",
                "required": true
              },
              {
                "name": "ca",
                "type": "cert",
                "label": "Self-signed certificate"
              },
              {
                "name": "rejectUnauthorized",
                "type": "boolean",
                "label": "Reject connections that are using unverified (self-signed) certificates",
                "required": true
              },
              {
                "name": "followRedirect",
                "type": "boolean",
                "label": "Follow redirect",
                "required": true
              },
              {
                "name": "useQuerystring",
                "type": "boolean",
                "label": "Disable serialization of multiple same query string keys as arrays",
                "required": true
              },
              {
                "name": "gzip",
                "type": "boolean",
                "label": "Request compressed content",
                "required": true
              },
              {
                "name": "useMtls",
                "type": "boolean",
                "label": "Use Mutual TLS",
                "required": true
              },
              {
                "name": "contentType",
                "type": "select",
                "label": "Content type",
                "validate": {
                  "enum": [
                    "text/plain",
                    "application/json",
                    "application/xml",
                    "text/xml",
                    "text/html",
                    "custom"
                  ]
                }
              },
              {
                "name": "data",
                "type": "buffer",
                "label": "Request content"
              },
              {
                "name": "followAllRedirects",
                "type": "boolean",
                "label": "Follow all redirect",
                "required": true
              }
            ],
            "restore": {
              "expect": {
                "qs": {
                  "mode": "chose"
                },
                "method": {
                  "mode": "chose",
                  "label": "POST"
                },
                "headers": {
                  "mode": "chose",
                  "items": [
                    null
                  ]
                },
                "bodyType": {
                  "label": "Raw"
                },
                "contentType": {
                  "label": "JSON (application/json)"
                }
              }
            },
            "designer": {
              "x": 900,
              "y": 0,
              "name": "שליחה לעבודה"
            },
            "parameters": [
              {
                "name": "handleErrors",
                "type": "boolean",
                "label": "Evaluate all states as errors (except for 2xx and 3xx )",
                "required": true
              },
              {
                "name": "useNewZLibDeCompress",
                "type": "hidden"
              }
            ]
          },
          "parameters": {
            "handleErrors": true,
            "useNewZLibDeCompress": true
          }
        }
      ],
      "name": "📥 העלאת לידים לנ8ן - Fixed",
      "metadata": {
        "instant": false,
        "version": 1,
        "designer": {
          "orphans": [],
          "samples": {
            "15": {
              "id": "5ca81a78-792d-4fae-84d8-e2641a96fdda",
              "age": 51,
              "city": "רחובות",
              "tags": [],
              "dueAt": "2025-09-15T21:00:00Z",
              "email": "citirina@yandex.ru",
              "gender": {
                "code": 3,
                "order": 0,
                "obsolete": false,
                "description": "נקבה",
                "shortDescription": "נקבה"
              },
              "idType": {
                "code": 1,
                "order": 0,
                "obsolete": false,
                "description": "ת.ז",
                "shortDescription": "ת.ז"
              },
              "number": 762,
              "pinned": false,
              "street": "שד חן",
              "typeId": "8db802f8-b494-49ff-b2d8-813826cece42",
              "unseen": false,
              "dueDate": "2025-09-16",
              "ownerId": "fbf9cfba-6aa1-443d-af3f-66a41a33f148",
              "version": 0,
              "agencyId": "13ceb0ef-d3e8-467e-b636-7adbd9bc0c2f",
              "fullName": "אירינה ציטוביץ",
              "idNumber": "323230151",
              "lastName": "ציטוביץ",
              "sharable": true,
              "sourceId": null,
              "statusId": "bba14b95-3917-4443-a6b2-5548aedf8e61",
              "tenantId": "a803b2eb-8be7-4edd-b2e0-4d3a0ffb008d",
              "birthDate": "1973-11-02",
              "createdBy": "fbf9cfba-6aa1-443d-af3f-66a41a33f148",
              "firstName": "אירינה",
              "ownerName": "שלי מזרחי",
              "postalBox": 0,
              "tromStats": {
                "premia": 0,
                "tzvira": 156698.3,
                "hafkadot": 2476.3,
                "kayamAka": false,
                "kayamHaim": false,
                "tzviraHon": 0,
                "kayamBriut": false,
                "kayamSiudi": false,
                "kitzbaNehut": 7932.03,
                "tzviraGemel": 0,
                "calculatedAt": "2025-09-16T18:37:28.852758Z",
                "kayamHalvaot": false,
                "tzviraKitzba": 156698.3,
                "tzviraNezila": 0,
                "tzviraPensia": 156698.3,
                "kitzbaLealman": 6345.62,
                "kitzbaLeyetom": 4230.42,
                "tzviraPitsuim": 55092.35,
                "tzviraGemel190": 0,
                "tzviraMenaalim": 0,
                "dmeiNihulHazuim": 553.45,
                "kayamSiudiKupah": false,
                "tzviraHishtalmut": 0,
                "tzviraNihulTikim": 0,
                "kayamNehutMiteuna": false,
                "kayamTeunotIshiot": false,
                "kayamHaimMashkanta": false,
                "kayamMahalotKashot": false,
                "tzviraPensiaVatika": 0,
                "premiaMahalotKashot": 0,
                "tzviraAlternativiim": 0,
                "tzviraGemelLeashkaa": 0,
                "kayamIkulimShiabudim": false,
                "tzviraHisahonFinansi": 0,
                "kitzbaHazuyaLeloHafkadot": 1464.01,
                "kitzbaHazuyaKolelHafkadot": 3172.35,
                "avgNetReturnPercentStartYear": 0.0934
              },
              "assignedAt": "2025-09-16T15:45:48Z",
              "assignedBy": "fbf9cfba-6aa1-443d-af3f-66a41a33f148",
              "assigneeId": "fbf9cfba-6aa1-443d-af3f-66a41a33f148",
              "cellNumber": "+972525372218",
              "checkLists": [],
              "customerId": "e7d79669-a73c-4581-8f53-deb7e5c3977b",
              "hbDataDate": null,
              "interestId": "8db802f8-b494-49ff-b2d8-813826cece42",
              "postalCode": 7645225,
              "statusDate": "2025-09-16T15:45:48Z",
              "statusName": "חדש",
              "createdDate": "2025-09-16T15:45:48Z",
              "creatorName": "שלי מזרחי",
              "phoneNumber": null,
              "__IMTINDEX__": 1,
              "assigneeName": "שלי מזרחי",
              "customFields": [],
              "dueAtTimeSet": false,
              "employerName": null,
              "existingLead": true,
              "interestName": "בדיקת תיק",
              "phoneNumber1": "+972525372218",
              "phoneNumber2": null,
              "statusClosed": false,
              "streetNumber": "39",
              "__IMTLENGTH__": 50,
              "mailingStatus": {
                "code": 4,
                "order": 0,
                "obsolete": false,
                "description": "לא התבקש אישור",
                "shortDescription": "לא התבקש אישור"
              },
              "maritalStatus": {
                "code": 3,
                "order": 0,
                "obsolete": false,
                "description": "גרוש/ה",
                "shortDescription": "גרוש/ה"
              },
              "overduePeriod": "P-1D",
              "statusSuccess": false,
              "appMailAddress": "lLSUBU6DZFVH25BGY4JSBVFX53I@m.surense.com",
              "assignedUserId": "fbf9cfba-6aa1-443d-af3f-66a41a33f148",
              "hbProxyExpired": null,
              "lastActivityBy": "fbf9cfba-6aa1-443d-af3f-66a41a33f148",
              "apartmentNumber": null,
              "fullNameReverse": "ציטוביץ אירינה",
              "hbProxySignDate": null,
              "idCardIssueDate": null,
              "assignedUserName": "שלי מזרחי",
              "customerFullName": "אירינה ציטוביץ",
              "customerManagers": [
                "fbf9cfba-6aa1-443d-af3f-66a41a33f148"
              ],
              "customerStatusId": "5c0b5395-259c-453c-a14c-355cc1f88125",
              "lastActivityDate": "2025-09-16T15:46:06.980Z",
              "customerManagerId": "fbf9cfba-6aa1-443d-af3f-66a41a33f148",
              "hbProxyInviteDate": "2025-09-16",
              "lastE9100DataDate": "2025-09-16",
              "policiesProxySignDate": null,
              "swiftnessProxyExpired": null,
              "swiftnessProxySignDate": null,
              "customerFullNameReverse": "ציטוביץ אירינה",
              "policiesProxyInviteDate": "2025-09-16",
              "swiftnessProxyInviteDate": "2025-09-16"
            },
            "18": {
              "array": [
                {
                  "id": "8b7ea917-941e-494d-ba73-aeff7bde2b4d",
                  "age": 55,
                  "city": "אחוזת ברק",
                  "email": "sheerakatz@gmail.com",
                  "phone": null,
                  "income": null,
                  "street": "נרקיסים",
                  "dueDate": "2025-08-19",
                  "fullName": "שירה מנדי כץ",
                  "lastName": "כץ",
                  "firstName": "שירה מנדי",
                  "riskLevel": null,
                  "customerId": "a87804ff-60ef-47e2-8ef4-0ed90af5a8fd",
                  "familySize": null,
                  "postalCode": 1932300,
                  "profession": null,
                  "statusName": "לא מעוניין",
                  "createdDate": "2025-08-19T22:04:55Z",
                  "lastModified": null,
                  "totalSavings": null,
                  "totalMortgage": null,
                  "insuranceNeeds": null
                }
              ],
              "__IMTAGGLENGTH__": 41
            },
            "25": {
              "data": "",
              "headers": [
                {
                  "name": "server-timing",
                  "value": "cfL4;desc=\"?proto=TCP&rtt=2878&min_rtt=2167&rtt_var=1320&sent=6&recv=21&lost=0&retrans=0&sent_bytes=..."
                }
              ],
              "fileSize": 0,
              "statusCode": 200,
              "cookieHeaders": []
            },
            "42": {
              "json": "[{\"id\":\"b3694bf7-ccfb-4e84-a208-cbdbf6e7dee3\",\"age\":32,\"city\":null,\"email\":null,\"phone\":null,\"income..."
            }
          }
        },
        "scenario": {
          "dlq": false,
          "slots": null,
          "dataloss": false,
          "maxErrors": 3,
          "autoCommit": true,
          "roundtrips": 1,
          "sequential": false,
          "confidential": false,
          "freshVariables": false,
          "autoCommitTriggerLast": true
        }
      }
    },
    "scheduling": {
      "time": "07:00",
      "type": "daily"
    },
    "concept": false,
    "created": "2025-09-04T01:11:38.033Z",
    "last_edit": "2025-09-17T07:41:51.899Z",
    "metadata": {
      "input_spec": [],
      "output_spec": []
    },
    "idSequence": 44
  }
}
