archives/outdated-configs/corrected_scenario_2983190_final_fix.json
{
  "flow": [
    {
      "id": 1,
      "mapper": {},
      "module": "gateway:CustomWebHook",
      "version": 1,
      "metadata": {
        "designer": {
          "x": 0,
          "y": 0
        }
      },
      "parameters": {
        "hook": 1326647,
        "maxResults": 1
      }
    },
    {
      "id": 9,
      "mapper": {
        "array": "{{1.familyProfiles}}"
      },
      "module": "builtin:BasicFeeder",
      "version": 1,
      "metadata": {
        "designer": {
          "x": 300,
          "y": 0
        }
      },
      "parameters": {}
    },
    {
      "id": 10,
      "mapper": {
        "leadId": "{{9.leadId | 9.familyId | 9.id}}",
        "priority": "{{9.priority}}",
        "notes": "Family insurance analysis completed - {{9.processedAt}}"
      },
      "module": "surense:UpdateLead",
      "version": 1,
      "metadata": {
        "designer": {
          "x": 600,
          "y": 0
        }
      },
      "parameters": {
        "__IMTCONN__": 5026390
      }
    },
    {
      "id": 11,
      "mapper": {
        "id": "{{9.leadId | 9.familyId | 9.id}}",
        "idType": "lid",
        "data": "{{9.pdfData}}",
        "filename": "insurance-analysis-{{9.familyId | 9.id}}.pdf"
      },
      "module": "surense:createDocument",
      "version": 1,
      "metadata": {
        "designer": {
          "x": 900,
          "y": 0
        }
      },
      "parameters": {
        "__IMTCONN__": 5026390
      }
    },
    {
      "id": 12,
      "mapper": {
        "leadId": "{{9.leadId | 9.familyId | 9.id}}",
        "htmlContent": "Insurance profile analysis completed. Risk Score: {{9.riskScore}}, Category: {{9.category}}, Data Quality: {{9.dataQuality}}%. Recommended Products: {{9.recommendedProducts}}. Analysis completed at {{9.processedAt}}"
      },
      "module": "surense:CreateActivity",
      "version": 1,
      "metadata": {
        "designer": {
          "x": 1200,
          "y": 0
        }
      },
      "parameters": {
        "__IMTCONN__": 5026390
      }
    }
  ],
  "name": "Surense Data Fetcher - Final UUID Fix",
  "description": "Fixed leadId UUID parameter with proper fallback chain for Surense module operation",
  "metadata": {
    "instant": true,
    "version": 1,
    "designer": {
      "orphans": [],
      "samples": {
        "1": {
          "familyProfiles": "[{\"familyId\":\"123\",\"leadId\":\"456\",\"fullName\":\"John Doe\",\"analysisHtml\":\"<html>...</html>\",\"priority\":\"high\",\"riskScore\":8,\"category\":\"high_risk\",\"recommendedProducts\":[\"ביטוח חיים\",\"ביטוח נכות\"],\"dataQuality\":85,\"processedAt\":\"2025-09-19T22:47:43.715Z\",\"pdfData\":{...}}]"
        }
      },
      "scenario": {
        "dlq": false,
        "slots": null,
        "dataloss": false,
        "maxErrors": 3,
        "autoCommit": true,
        "roundtrips": 1,
        "sequential": false,
        "confidential": false,
        "freshVariables": false,
        "autoCommitTriggerLast": true
      }
    },
    "scheduling": {
      "type": "immediately"
    },
    "concept": false,
    "created": "2025-09-11T22:23:01.641Z",
    "last_edit": "2025-09-19T23:45:00.000Z",
    "metadata": {
      "input_spec": [],
      "output_spec": []
    },
    "idSequence": 13
  }
}
