archives/outdated-configs/corrected_scenario_2983200_leadid_fix.json
{
  "flow": [
    {
      "id": 1,
      "mapper": {},
      "module": "gateway:CustomWebHook",
      "version": 1,
      "metadata": {
        "restore": {
          "parameters": {
            "hook": {
              "data": {
                "editable": "true"
              },
              "label": "Receive n8n Actions"
            }
          }
        },
        "designer": {
          "x": -399,
          "y": -12
        },
        "parameters": [
          {
            "name": "hook",
            "type": "hook:gateway-webhook",
            "label": "Webhook",
            "required": true
          },
          {
            "name": "maxResults",
            "type": "number",
            "label": "Maximum number of results"
          }
        ]
      },
      "parameters": {
        "hook": 1326657,
        "maxResults": 1
      }
    },
    {
      "id": 8,
      "mapper": {
        "object": "{{1.familyProfiles}}"
      },
      "module": "json:TransformToJSON",
      "version": 1,
      "metadata": {
        "expect": [
          {
            "name": "object",
            "type": "any",
            "label": "Object"
          }
        ],
        "restore": {
          "parameters": {
            "space": {
              "label": "Empty"
            }
          }
        },
        "designer": {
          "x": -199,
          "y": -12
        },
        "parameters": [
          {
            "name": "space",
            "type": "select",
            "label": "Indentation",
            "validate": {
              "enum": ["tab", "2", "4"]
            }
          }
        ]
      },
      "parameters": {
        "space": ""
      }
    },
    {
      "id": 3,
      "mapper": {
        "array": "{{8.json}}"
      },
      "module": "builtin:BasicFeeder",
      "version": 1,
      "metadata": {
        "expect": [
          {
            "mode": "edit",
            "name": "array",
            "spec": [],
            "type": "array",
            "label": "Array"
          }
        ],
        "restore": {
          "expect": {
            "array": {
              "mode": "edit"
            }
          }
        },
        "designer": {
          "x": 1,
          "y": -12
        }
      },
      "parameters": {}
    },
    {
      "id": 4,
      "mapper": {
        "notes": "{{3.analysisHtml}}",
        "leadId": "{{3.leadId || 3.familyId || 3.id}}",
        "priority": "{{3.priority}}"
      },
      "module": "surense:UpdateLead",
      "version": 1,
      "metadata": {
        "expect": [
          {
            "name": "leadId",
            "type": "uuid",
            "label": "Lead ID",
            "required": true
          }
        ],
        "designer": {
          "x": 201,
          "y": -12
        }
      },
      "parameters": {
        "__IMTCONN__": 5026390
      }
    },
    {
      "id": 5,
      "mapper": {
        "name": "processed",
        "scope": "roundtrip",
        "value": "{{3.fullName}} - {{3.processedAt}}"
      },
      "module": "util:SetVariable2",
      "version": 1,
      "metadata": {
        "expect": [
          {
            "name": "name",
            "type": "text",
            "label": "Variable name",
            "required": true
          },
          {
            "name": "scope",
            "type": "select",
            "label": "Variable scope",
            "required": true,
            "validate": {
              "enum": ["roundtrip", "scenario"]
            }
          },
          {
            "name": "value",
            "type": "text",
            "label": "Variable value"
          }
        ],
        "designer": {
          "x": 401,
          "y": -12
        }
      },
      "parameters": {}
    }
  ],
  "name": "Surense Action Processor",
  "metadata": {
    "instant": true,
    "version": 1,
    "designer": {
      "orphans": [],
      "samples": {
        "1": {
          "data": "{\"familyId\":null,\"leadId\":null,\"fullName\":null,\"analysisHtml\":null,\"priority\":\"medium\",\"riskScore\":null,\"category\":null,\"recommendedProducts\":null,\"dataQuality\":85,\"processedAt\":\"2025-09-21T01:30:00.000Z\",\"pdfData\":null}"
        },
        "3": {
          "value": "null",
          "__IMTINDEX__": 1,
          "__IMTLENGTH__": 1
        },
        "8": {
          "json": "null"
        }
      }
    },
    "scenario": {
      "dlq": false,
      "slots": null,
      "dataloss": false,
      "maxErrors": 3,
      "autoCommit": true,
      "roundtrips": 1,
      "sequential": false,
      "confidential": false,
      "freshVariables": false,
      "autoCommitTriggerLast": true
    }
  },
  "scheduling": {
    "type": "immediately",
    "maximum_runs_per_minute": null
  },
  "concept": false,
  "created": "2025-09-11T22:24:05.735Z",
  "last_edit": "2025-09-21T01:51:00.000Z",
  "metadata": {
    "input_spec": [],
    "output_spec": []
  },
  "idSequence": 9
}
