archives/outdated-configs/corrected_action_processor_blueprint.json
{
  "code": "OK",
  "response": {
    "blueprint": {
      "flow": [
        {
          "id": 1,
          "mapper": {},
          "module": "gateway:CustomWebHook",
          "version": 1,
          "metadata": {
            "restore": {
              "parameters": {
                "hook": {
                  "data": {
                    "editable": "true"
                  },
                  "label": "Receive n8n Actions"
                }
              }
            },
            "designer": {
              "x": -399,
              "y": -12
            },
            "parameters": [
              {
                "name": "hook",
                "type": "hook:gateway-webhook",
                "label": "Webhook",
                "required": true
              },
              {
                "name": "maxResults",
                "type": "number",
                "label": "Maximum number of results"
              }
            ]
          },
          "parameters": {
            "hook": 1326657,
            "maxResults": 1
          }
        },
        {
          "id": 8,
          "mapper": {
            "object": "{{1.familyProfiles}}"
          },
          "module": "json:TransformToJSON",
          "version": 1,
          "metadata": {
            "expect": [
              {
                "name": "object",
                "type": "any",
                "label": "Object"
              }
            ],
            "restore": {
              "parameters": {
                "space": {
                  "label": "Empty"
                }
              }
            },
            "designer": {
              "x": -105,
              "y": -21
            },
            "parameters": [
              {
                "name": "space",
                "type": "select",
                "label": "Indentation",
                "validate": {
                  "enum": ["tab", "2", "4"]
                }
              }
            ]
          },
          "parameters": {
            "space": ""
          }
        },
        {
          "id": 3,
          "module": "builtin:BasicFeeder",
          "version": 1,
          "metadata": {
            "designer": {
              "x": 201,
              "y": -12
            }
          }
        },
        {
          "id": 4,
          "module": "surense:GetLead",
          "version": 1,
          "metadata": {
            "designer": {
              "x": 501,
              "y": -12
            }
          }
        },
        {
          "id": 5,
          "mapper": {
            "name": "?",
            "scope": "roundtrip",
            "value": ""
          },
          "module": "util:SetVariable2",
          "version": 1,
          "metadata": {
            "expect": [
              {
                "name": "name",
                "type": "text",
                "label": "Variable name",
                "required": true
              },
              {
                "name": "scope",
                "type": "select",
                "label": "Variable lifetime",
                "required": true,
                "validate": {
                  "enum": ["roundtrip", "execution"]
                }
              },
              {
                "name": "value",
                "type": "any",
                "label": "Variable value"
              }
            ],
            "restore": {
              "expect": {
                "scope": {
                  "label": "One cycle"
                }
              }
            },
            "designer": {
              "x": 801,
              "y": -12
            },
            "interface": [
              {
                "name": "?",
                "type": "any",
                "label": "?"
              }
            ]
          },
          "parameters": {}
        }
      ],
      "name": "Surense Action Processor",
      "metadata": {
        "instant": true,
        "version": 1,
        "designer": {
          "orphans": [],
          "samples": {
            "1": {
              "message": "{{ (() => { const f = ($json.families || []); const tf = f.length; const tp = f.reduce((s,x)=>s+(x.f...",
              "success": true,
              "summary": {
                "totalPeople": 0,
                "totalFamilies": 0
              },
              "timestamp": "2025-09-16T01:54:46.123Z",
              "familyProfiles": []
            },
            "8": {
              "json": "null"
            }
          }
        },
        "scenario": {
          "dlq": false,
          "slots": null,
          "dataloss": false,
          "maxErrors": 3,
          "autoCommit": true,
          "roundtrips": 1,
          "sequential": false,
          "confidential": false,
          "freshVariables": false,
          "autoCommitTriggerLast": true
        }
      }
    },
    "scheduling": {
      "type": "immediately",
      "maximum_runs_per_minute": null
    },
    "concept": false,
    "created": "2025-09-11T22:24:05.735Z",
    "last_edit": "2025-09-17T06:20:40.983Z",
    "metadata": {
      "input_spec": [],
      "output_spec": []
    },
    "idSequence": 9
  }
}
