archives/outdated-configs/enhanced_data_fetcher_blueprint.json
{
  "blueprint": {
    "flow": [
      {
        "id": 1,
        "mapper": {},
        "module": "gateway:CustomWebHook",
        "version": 1,
        "metadata": {
          "restore": {
            "parameters": {
              "hook": {
                "data": {
                  "editable": "true"
                },
                "label": "Surense Data Fetcher"
              }
            }
          },
          "designer": {
            "x": 0,
            "y": 0
          },
          "parameters": [
            {
              "name": "hook",
              "type": "hook:gateway-webhook",
              "label": "Webhook",
              "required": true
            },
            {
              "name": "maxResults",
              "type": "number",
              "label": "Maximum number of results"
            }
          ]
        },
        "parameters": {
          "hook": 1326647,
          "maxResults": 1
        }
      },
      {
        "id": 2,
        "filter": {
          "name": "Data Validation",
          "conditions": [
            [
              {
                "a": "{{1.familyProfiles}}",
                "o": "exist"
              }
            ],
            [
              {
                "a": "{{1.familyProfiles.length}}",
                "o": "greater",
                "b": "0"
              }
            ]
          ]
        },
        "module": "builtin:BasicFilter",
        "version": 1,
        "metadata": {
          "designer": {
            "x": 300,
            "y": 0,
            "name": "✅ Validation"
          }
        }
      },
      {
        "id": 8,
        "mapper": {
          "object": "{{2.familyProfiles[]}}"
        },
        "module": "json:TransformToJSON",
        "version": 1,
        "metadata": {
          "expect": [
            {
              "name": "object",
              "type": "any",
              "label": "Object"
            }
          ],
          "restore": {
            "parameters": {
              "space": {
                "label": "Empty"
              }
            }
          },
          "designer": {
            "x": 600,
            "y": 0,
            "name": "🔄 JSON Transform"
          },
          "parameters": [
            {
              "name": "space",
              "type": "select",
              "label": "Indentation",
              "validate": {
                "enum": ["tab", "2", "4"]
              }
            }
          ]
        },
        "parameters": {
          "space": ""
        }
      },
      {
        "id": 3,
        "module": "builtin:BasicFeeder",
        "version": 1,
        "metadata": {
          "designer": {
            "x": 900,
            "y": 0,
            "name": "📊 Iterator"
          }
        }
      },
      {
        "id": 4,
        "module": "surense:SearchLeads",
        "version": 1,
        "metadata": {
          "designer": {
            "x": 1200,
            "y": 0,
            "name": "🔍 Search Leads"
          }
        },
        "parameters": {
          "__IMTCONN__": 5026390
        }
      },
      {
        "id": 5,
        "filter": {
          "name": "Lead Found Check",
          "conditions": [
            [
              {
                "a": "{{4.id}}",
                "o": "exist"
              }
            ]
          ]
        },
        "module": "builtin:BasicFilter",
        "version": 1,
        "metadata": {
          "designer": {
            "x": 1500,
            "y": 0,
            "name": "✅ Lead Found"
          }
        }
      },
      {
        "id": 6,
        "module": "surense:createDocument",
        "version": 1,
        "metadata": {
          "designer": {
            "x": 1800,
            "y": 0,
            "name": "📄 Upload Document"
          }
        },
        "parameters": {
          "__IMTCONN__": 5026390
        }
      },
      {
        "id": 7,
        "module": "builtin:BasicAggregator",
        "version": 1,
        "metadata": {
          "restore": {
            "extra": {
              "feeder": {
                "label": "📄 Upload Document [6]"
              },
              "target": {
                "label": "Custom"
              }
            }
          },
          "designer": {
            "x": 2100,
            "y": 0,
            "name": "📊 Aggregate Results"
          }
        },
        "parameters": {
          "feeder": 6
        }
      }
    ],
    "name": "Surense Data Fetcher - Enhanced",
    "metadata": {
      "instant": true,
      "version": 1,
      "designer": {
        "orphans": [],
        "samples": {
          "1": {
            "message": "{{ (() => { const f = ($json.families || []); const tf = f.length; const tp = f.reduce((s,x)=>s+(x.f...",
            "success": true,
            "summary": {
              "totalPeople": 0,
              "totalFamilies": 0
            },
            "timestamp": "2025-09-16T01:54:46.123Z",
            "familyProfiles": []
          }
        }
      },
      "scenario": {
        "dlq": false,
        "slots": null,
        "dataloss": false,
        "maxErrors": 3,
        "autoCommit": true,
        "roundtrips": 1,
        "sequential": false,
        "confidential": false,
        "freshVariables": false,
        "autoCommitTriggerLast": true
      }
    },
    "scheduling": {
      "type": "immediately",
      "maximum_runs_per_minute": null
    },
    "concept": false,
    "created": "2025-09-11T22:23:01.641Z",
    "last_edit": "2025-09-17T22:00:00.000Z",
    "metadata": {
      "input_spec": [],
      "output_spec": []
    },
    "idSequence": 8
  }
}
