archives/outdated-configs/optimized_make_blueprint.json
{
  "flow": [
    {
      "id": 1,
      "mapper": {},
      "module": "gateway:CustomWebHook",
      "version": 1,
      "metadata": {
        "restore": {
          "parameters": {
            "hook": {
              "data": {
                "editable": "true"
              },
              "label": "n8n Insurance Analysis Webhook"
            }
          }
        },
        "designer": {
          "x": 0,
          "y": 0
        },
        "parameters": [
          {
            "name": "hook",
            "type": "hook:gateway-webhook",
            "label": "Webhook",
            "required": true
          }
        ]
      },
      "parameters": {
        "hook": 1326647
      }
    },
    {
      "id": 2,
      "module": "surense:SearchCustomers",
      "version": 1,
      "metadata": {
        "designer": {
          "x": 300,
          "y": 0
        }
      },
      "parameters": {
        "email": "{{1.email}}",
        "phone": "{{1.phone}}"
      }
    },
    {
      "id": 3,
      "module": "surense:CreateCustomer",
      "version": 1,
      "metadata": {
        "designer": {
          "x": 600,
          "y": 0
        }
      },
      "parameters": {
        "name": "{{1.familyName || 1.fullName}}",
        "email": "{{1.email}}",
        "phone": "{{1.phone}}",
        "city": "{{1.city}}",
        "notes": "AI Insurance Analysis - Risk Score: {{1.riskScore}}, Category: {{1.category}}"
      }
    },
    {
      "id": 4,
      "module": "surense:CreateLead",
      "version": 1,
      "metadata": {
        "designer": {
          "x": 900,
          "y": 0
        }
      },
      "parameters": {
        "customerId": "{{2.id || 3.id}}",
        "source": "n8n AI Analysis",
        "type": "Family Insurance",
        "priority": "{{1.priority || 'medium'}}",
        "notes": "{{1.analysisHtml}}",
        "riskScore": "{{1.riskScore}}",
        "recommendedProducts": "{{1.recommendedProducts}}"
      }
    },
    {
      "id": 5,
      "module": "surense:UploadDocument",
      "version": 1,
      "metadata": {
        "designer": {
          "x": 1200,
          "y": 0
        }
      },
      "parameters": {
        "leadId": "{{4.id}}",
        "documentType": "Insurance Analysis",
        "file": "{{1.pdfData}}",
        "fileName": "family-insurance-analysis-{{1.familyId}}.pdf"
      }
    },
    {
      "id": 6,
      "module": "surense:CreateActivity",
      "version": 1,
      "metadata": {
        "designer": {
          "x": 1500,
          "y": 0
        }
      },
      "parameters": {
        "leadId": "{{4.id}}",
        "activityType": "AI Analysis Completed",
        "description": "Insurance profile analysis completed with risk score: {{1.riskScore}}, data quality: {{1.dataQuality}}%",
        "priority": "{{1.priority}}"
      }
    }
  ],
  "name": "n8n to Surense - Minimal Integration",
  "metadata": {
    "instant": true,
    "version": 1,
    "designer": {
      "orphans": []
    },
    "scenario": {
      "dlq": false,
      "slots": null,
      "dataloss": false,
      "maxErrors": 3,
      "autoCommit": true,
      "roundtrips": 1,
      "sequential": false,
      "confidential": false,
      "freshVariables": false,
      "autoCommitTriggerLast": true
    }
  }
}
