archives/outdated-configs/scenario_3022209_final_fix.json
{
  "name": "Integration Webhooks - Fixed",
  "flow": [
    {
      "id": 34,
      "module": "gateway:CustomWebHook",
      "version": 1,
      "parameters": {
        "hook": 1361550,
        "maxResults": 1
      },
      "mapper": {},
      "metadata": {
        "designer": {
          "x": 0,
          "y": 0,
          "name": "🔗 Webhook from n8n"
        }
      }
    },
    {
      "id": 36,
      "module": "json:ParseJSON",
      "version": 1,
      "parameters": {
        "type": ""
      },
      "mapper": {
        "json": "{{34.data}}"
      },
      "metadata": {
        "designer": {
          "x": 300,
          "y": 0,
          "name": "📋 Parse Webhook Data"
        }
      }
    },
    {
      "id": 50,
      "module": "surense:CreateDocument",
      "version": 1,
      "parameters": {
        "__IMTCONN__": 5026390
      },
      "mapper": {
        "id": "{{36.leadId}}",
        "data": "{{36.pdfData}}",
        "filename": "insurance_analysis_{{36.familyId}}.pdf",
        "description": "AI-Generated Insurance Analysis Report - {{36.fullName}}"
      },
      "metadata": {
        "designer": {
          "x": 600,
          "y": 0,
          "name": "📄 Upload PDF to Surense"
        }
      }
    },
    {
      "id": 51,
      "module": "surense:UpdateLead",
      "version": 1,
      "parameters": {
        "__IMTCONN__": 5026390
      },
      "mapper": {
        "id": "{{36.leadId}}",
        "notes": "=== AI Insurance Analysis Report ===\n\nFamily: {{36.fullName}}\nRisk Category: {{36.category}}\nRisk Score: {{36.riskScore}}\nPriority: {{36.priority}}\nData Quality: {{36.dataQuality}}%\nProcessed: {{36.processedAt}}\n\n=== Analysis ===\n{{36.analysisHtml}}\n\n=== Recommended Products ===\n{{36.recommendedProducts}}\n\n=== Summary ===\n{{36.summary}}",
        "customFields": {
          "riskScore": "{{36.riskScore}}",
          "riskCategory": "{{36.category}}",
          "priority": "{{36.priority}}",
          "dataQuality": "{{36.dataQuality}}",
          "recommendedProducts": "{{36.recommendedProducts}}",
          "analysisDate": "{{36.processedAt}}",
          "aiAnalysis": "{{36.analysisHtml}}"
        }
      },
      "metadata": {
        "designer": {
          "x": 900,
          "y": 0,
          "name": "📝 Update Lead with Analysis"
        }
      }
    }
  ],
  "metadata": {
    "instant": false,
    "version": 1,
    "scenario": {
      "roundtrips": 1,
      "maxErrors": 3,
      "autoCommit": true,
      "autoCommitTriggerLast": true,
      "sequential": false,
      "slots": null,
      "confidential": false,
      "dataloss": false,
      "dlq": false,
      "freshVariables": false
    },
    "designer": {
      "orphans": []
    },
    "zone": "us2.make.com",
    "notes": []
  }
}
