archives/outdated-configs/scenario_update_payload.json
{
  "teamId": 1300459,
  "blueprint": {
    "name": "🔥 העלאת לידים לn8n - Fixed",
    "flow": [
      {
        "id": 15,
        "module": "surense:SearchLeads",
        "version": 1,
        "parameters": {
          "__IMTCONN__": 5026390
        },
        "mapper": {
          "limit": "50",
          "order": "desc",
          "orderBy": "createdDate"
        },
        "metadata": {
          "designer": {
            "x": 0,
            "y": 0,
            "name": "🔍 חיפוש לידים"
          }
        }
      },
      {
        "id": 18,
        "module": "builtin:BasicAggregator",
        "version": 1,
        "parameters": {
          "feeder": 15
        },
        "filter": {
          "name": "",
          "conditions": [
            [
              {
                "a": "{{15.idCardIssueDate}}",
                "o": "exist"
              }
            ]
          ]
        },
        "mapper": {
          "id": "{{15.id}}",
          "fullName": "{{15.fullName}}",
          "age": "{{15.age}}",
          "city": "{{15.city}}",
          "email": "{{15.email}}",
          "phone": "{{15.phone}}",
          "income": "{{15.income}}",
          "familySize": "{{15.familySize}}",
          "street": "{{15.street}}",
          "profession": "{{15.profession}}",
          "gender": "{{15.gender}}",
          "maritalStatus": "{{15.maritalStatus}}",
          "postalCode": "{{15.postalCode}}",
          "customerId": "{{15.customerId}}",
          "statusName": "{{15.statusName}}",
          "interestName": "{{15.interestName}}",
          "createdDate": "{{15.createdDate}}",
          "lastModified": "{{15.lastModified}}"
        },
        "metadata": {
          "designer": {
            "x": 300,
            "y": 0,
            "name": "📊 איסוף נתוני לידים"
          },
          "restore": {
            "extra": {
              "feeder": {
                "label": "🔍 חיפוש לידים - Search Leads [15]"
              },
              "target": {
                "label": "Custom"
              }
            }
          }
        }
      },
      {
        "id": 46,
        "module": "builtin:BasicFeeder",
        "version": 1,
        "parameters": {},
        "mapper": {
          "array": "{{18.array}}"
        },
        "metadata": {
          "designer": {
            "x": 600,
            "y": 0
          },
          "restore": {
            "expect": {
              "array": {
                "mode": "edit"
              }
            }
          },
          "expect": [
            {
              "mode": "edit",
              "name": "array",
              "spec": [],
              "type": "array",
              "label": "Array"
            }
          ]
        }
      },
      {
        "id": 47,
        "module": "json:TransformToJSON",
        "version": 1,
        "parameters": {
          "space": ""
        },
        "mapper": {
          "object": {
            "id": "{{46.id}}",
            "fullName": "{{46.fullName}}",
            "age": "{{46.age}}",
            "city": "{{46.city}}",
            "email": "{{46.email}}",
            "phone": "{{46.phone}}",
            "income": "{{46.income}}",
            "familySize": "{{46.familySize}}",
            "street": "{{46.street}}",
            "profession": "{{46.profession}}",
            "gender": "{{46.gender}}",
            "maritalStatus": "{{46.maritalStatus}}",
            "postalCode": "{{46.postalCode}}",
            "customerId": "{{46.customerId}}",
            "statusName": "{{46.statusName}}",
            "interestName": "{{46.interestName}}"
          }
        },
        "metadata": {
          "designer": {
            "x": 900,
            "y": 0
          },
          "restore": {
            "parameters": {
              "space": {
                "label": "Empty"
              }
            }
          },
          "parameters": [
            {
              "name": "space",
              "type": "select",
              "label": "Indentation",
              "validate": {
                "enum": [
                  "tab",
                  "2",
                  "4"
                ]
              }
            }
          ],
          "expect": [
            {
              "name": "object",
              "type": "any",
              "label": "Object"
            }
          ]
        }
      },
      {
        "id": 25,
        "module": "http:ActionSendData",
        "version": 3,
        "parameters": {
          "handleErrors": true,
          "useNewZLibDeCompress": true
        },
        "mapper": {
          "ca": "",
          "qs": [],
          "url": "https://shellyins.app.n8n.cloud/webhook/family-insurance-analysis",
          "data": "{{47.json}}",
          "gzip": true,
          "method": "post",
          "headers": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ],
          "timeout": "",
          "useMtls": false,
          "authPass": "",
          "authUser": "",
          "bodyType": "raw",
          "contentType": "application/json",
          "serializeUrl": false,
          "shareCookies": false,
          "parseResponse": true,
          "followRedirect": true,
          "useQuerystring": false,
          "followAllRedirects": false,
          "rejectUnauthorized": true
        },
        "metadata": {
          "designer": {
            "x": 1200,
            "y": 0,
            "name": "שליחה לעבודה"
          },
          "restore": {
            "expect": {
              "qs": {
                "mode": "chose"
              },
              "method": {
                "mode": "chose",
                "label": "POST"
              },
              "headers": {
                "mode": "chose",
                "items": [
                  null
                ]
              },
              "bodyType": {
                "label": "Raw"
              },
              "contentType": {
                "label": "JSON (application/json)"
              }
            }
          },
          "parameters": [
            {
              "name": "handleErrors",
              "type": "boolean",
              "label": "Evaluate all states as errors (except for 2xx and 3xx )",
              "required": true
            },
            {
              "name": "useNewZLibDeCompress",
              "type": "hidden"
            }
          ],
          "expect": [
            {
              "name": "url",
              "type": "url",
              "label": "URL",
              "required": true
            },
            {
              "name": "serializeUrl",
              "type": "boolean",
              "label": "Serialize URL",
              "required": true
            },
            {
              "name": "method",
              "type": "select",
              "label": "Method",
              "required": true,
              "validate": {
                "enum": [
                  "get",
                  "head",
                  "post",
                  "put",
                  "patch",
                  "delete",
                  "options"
                ]
              }
            },
            {
              "name": "headers",
              "spec": [
                {
                  "name": "name",
                  "type": "text",
                  "label": "Name",
                  "required": true
                },
                {
                  "name": "value",
                  "type": "text",
                  "label": "Value"
                }
              ],
              "type": "array",
              "label": "Headers"
            },
            {
              "name": "qs",
              "spec": [
                {
                  "name": "name",
                  "type": "text",
                  "label": "Name",
                  "required": true
                },
                {
                  "name": "value",
                  "type": "text",
                  "label": "Value"
                }
              ],
              "type": "array",
              "label": "Query String"
            },
            {
              "name": "bodyType",
              "type": "select",
              "label": "Body type",
              "validate": {
                "enum": [
                  "raw",
                  "x_www_form_urlencoded",
                  "multipart_form_data"
                ]
              }
            },
            {
              "name": "parseResponse",
              "type": "boolean",
              "label": "Parse response",
              "required": true
            },
            {
              "name": "authUser",
              "type": "text",
              "label": "User name"
            },
            {
              "name": "authPass",
              "type": "password",
              "label": "Password"
            },
            {
              "name": "timeout",
              "type": "uinteger",
              "label": "Timeout",
              "validate": {
                "max": 300,
                "min": 1
              }
            },
            {
              "name": "shareCookies",
              "type": "boolean",
              "label": "Share cookies with other HTTP modules",
              "required": true
            },
            {
              "name": "ca",
              "type": "cert",
              "label": "Self-signed certificate"
            },
            {
              "name": "rejectUnauthorized",
              "type": "boolean",
              "label": "Reject connections that are using unverified (self-signed) certificates",
              "required": true
            },
            {
              "name": "followRedirect",
              "type": "boolean",
              "label": "Follow redirect",
              "required": true
            },
            {
              "name": "useQuerystring",
              "type": "boolean",
              "label": "Disable serialization of multiple same query string keys as arrays",
              "required": true
            },
            {
              "name": "gzip",
              "type": "boolean",
              "label": "Request compressed content",
              "required": true
            },
            {
              "name": "useMtls",
              "type": "boolean",
              "label": "Use Mutual TLS",
              "required": true
            },
            {
              "name": "contentType",
              "type": "select",
              "label": "Content type",
              "validate": {
                "enum": [
                  "text/plain",
                  "application/json",
                  "application/xml",
                  "text/xml",
                  "text/html",
                  "custom"
                ]
              }
            },
            {
              "name": "data",
              "type": "buffer",
              "label": "Request content"
            },
            {
              "name": "followAllRedirects",
              "type": "boolean",
              "label": "Follow all redirect",
              "required": true
            }
          ]
        }
      }
    ],
    "metadata": {
      "instant": false,
      "version": 1,
      "scenario": {
        "roundtrips": 1,
        "maxErrors": 3,
        "autoCommit": true,
        "autoCommitTriggerLast": true,
        "sequential": false,
        "slots": null,
        "confidential": false,
        "dataloss": false,
        "dlq": false,
        "freshVariables": false
      },
      "designer": {
        "orphans": []
      },
      "zone": "us2.make.com",
      "notes": []
    }
  },
  "scheduling": {
    "type": "immediately"
  }
}
