archives/outdated-configs/simple_scenario_3022209_update.json
{
  "flow": [
    {
      "id": 1,
      "mapper": {},
      "module": "gateway:CustomWebHook",
      "version": 1,
      "metadata": {
        "restore": {
          "parameters": {
            "hook": {
              "data": {
                "editable": "true"
              },
              "label": "on demand"
            }
          }
        },
        "designer": {
          "x": -262,
          "y": -2
        },
        "parameters": [
          {
            "name": "hook",
            "type": "hook:gateway-webhook",
            "label": "Webhook",
            "required": true
          },
          {
            "name": "maxResults",
            "type": "number",
            "label": "Maximum number of results"
          }
        ]
      },
      "parameters": {
        "hook": 1346648,
        "maxResults": 1
      }
    },
    {
      "id": 2,
      "mapper": {
        "object": "{{1.familyProfiles}}"
      },
      "module": "json:TransformToJSON",
      "version": 1,
      "metadata": {
        "expect": [
          {
            "name": "object",
            "type": "any",
            "label": "Object"
          }
        ],
        "restore": {
          "parameters": {
            "space": {
              "label": "Empty"
            }
          }
        },
        "designer": {
          "x": -62,
          "y": -2
        },
        "parameters": [
          {
            "name": "space",
            "type": "select",
            "label": "Indentation",
            "validate": {
              "enum": ["tab", "2", "4"]
            }
          }
        ]
      },
      "parameters": {
        "space": ""
      }
    },
    {
      "id": 3,
      "mapper": {
        "array": "{{2.json}}"
      },
      "module": "builtin:BasicFeeder",
      "version": 1,
      "metadata": {
        "expect": [
          {
            "mode": "edit",
            "name": "array",
            "spec": [],
            "type": "array",
            "label": "Array"
          }
        ],
        "restore": {
          "expect": {
            "array": {
              "mode": "edit"
            }
          }
        },
        "designer": {
          "x": 138,
          "y": -2
        }
      },
      "parameters": {}
    },
    {
      "id": 4,
      "mapper": {
        "notes": "{{3.analysisHtml}}",
        "leadId": "{{3.leadId || 3.familyId || 3.id}}",
        "priority": "{{3.priority}}"
      },
      "module": "surense:UpdateLead",
      "version": 1,
      "metadata": {
        "expect": [
          {
            "name": "leadId",
            "type": "uuid",
            "label": "Lead ID",
            "required": true
          }
        ],
        "designer": {
          "x": 338,
          "y": -2
        }
      },
      "parameters": {
        "__IMTCONN__": 5026390
      }
    }
  ],
  "name": "Integration Webhooks",
  "metadata": {
    "instant": false,
    "version": 1,
    "designer": {
      "orphans": []
    },
    "scenario": {
      "dlq": false,
      "slots": null,
      "dataloss": false,
      "maxErrors": 3,
      "autoCommit": true,
      "roundtrips": 1,
      "sequential": false,
      "confidential": false,
      "freshVariables": false,
      "autoCommitTriggerLast": true
    }
  },
  "scheduling": {
    "type": "on-demand"
  },
  "concept": false,
  "created": "2025-09-17T05:34:05.790Z",
  "last_edit": "2025-09-21T02:10:00.000Z",
  "metadata": {
    "input_spec": [],
    "output_spec": []
  },
  "idSequence": 5
}
