workflows/n8n/t4us_asset_uploader.json
{
    "name": "T4US — Asset Uploader (Hero image)",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "asset-upload",
                "options": {}
            },
            "id": "webhook-trigger",
            "name": "Webhook Trigger",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                240,
                300
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "media-brief-check",
                            "leftValue": "={{ $json.media_brief }}",
                            "rightValue": "",
                            "operator": {
                                "type": "string",
                                "operation": "notEqual"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "id": "check-media-brief",
            "name": "Check Media Brief",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                460,
                300
            ]
        },
        {
            "parameters": {
                "model": "dall-e-3",
                "prompt": "={{ $json.media_brief }}",
                "options": {
                    "size": "1024x1024",
                    "quality": "standard",
                    "style": "natural"
                }
            },
            "id": "generate-image",
            "name": "Generate Image",
            "type": "n8n-nodes-base.openAi",
            "typeVersion": 1,
            "position": [
                680,
                200
            ],
            "notes": "Credential: OpenAi account"
        },
        {
            "parameters": {
                "url": "={{ $json.data[0].url }}",
                "options": {
                    "download": true
                }
            },
            "id": "download-image",
            "name": "Download Image",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                900,
                200
            ]
        },
        {
            "parameters": {
                "url": "https://tax4us.co.il/wp-json/wp/v2/media",
                "sendBody": true,
                "specifyBody": "formData",
                "formData": {
                    "file": "={{ $json.data }}",
                    "title": "={{ $('Webhook Trigger').item.json.title }} - Hero Image",
                    "caption": "={{ $('Webhook Trigger').item.json.media_brief }}",
                    "alt_text": "={{ $('Webhook Trigger').item.json.title }}"
                },
                "options": {}
            },
            "id": "upload-to-wordpress",
            "name": "Upload to WordPress",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                1120,
                200
            ],
            "notes": "Credential: Wordpress account"
        },
        {
            "parameters": {
                "url": "=https://tax4us.co.il/wp-json/wp/v2/{{ $('Webhook Trigger').item.json.type === 'page' ? 'pages' : $('Webhook Trigger').item.json.type }}/{{ $('Webhook Trigger').item.json.wp_id }}?lang={{ $('Webhook Trigger').item.json.language }}",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"featured_media\": {{ $json.id }}\n}",
                "options": {
                    "method": "PUT"
                }
            },
            "id": "set-featured-image",
            "name": "Set Featured Image",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                1340,
                200
            ],
            "notes": "Credential: Wordpress account"
        },
        {
            "parameters": {
                "operation": "update",
                "sheetId": "tax4us_content_specs",
                "range": "pages!A:O",
                "columnToMatch": "id",
                "valueToMatchOn": "={{ $('Webhook Trigger').item.json.id }}",
                "fieldsToSend": {
                    "hero_image_url": "={{ $json.source_url }}",
                    "hero_image_id": "={{ $json.id }}"
                }
            },
            "id": "update-sheets-image",
            "name": "Update Sheets Image",
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4,
            "position": [
                1560,
                200
            ],
            "notes": "Credential: Google Sheets account"
        },
        {
            "parameters": {
                "toEmail": "={{ $('Webhook Trigger').item.json.reviewer_email || 'content@tax4us.co.il' }}",
                "subject": "=Hero Image Generated: {{ $('Webhook Trigger').item.json.title }}",
                "emailType": "html",
                "message": "=<h2>Hero Image Generated Successfully</h2>\n<p><strong>Title:</strong> {{ $('Webhook Trigger').item.json.title }}</p>\n<p><strong>ID:</strong> {{ $('Webhook Trigger').item.json.id }}</p>\n<p><strong>Media Brief:</strong> {{ $('Webhook Trigger').item.json.media_brief }}</p>\n\n<p><strong>Generated Image:</strong></p>\n<img src=\"{{ $('Upload to WordPress').item.json.source_url }}\" alt=\"{{ $('Webhook Trigger').item.json.title }}\" style=\"max-width: 300px; height: auto;\">\n\n<p><strong>Image Details:</strong></p>\n<ul>\n  <li>WordPress ID: {{ $('Upload to WordPress').item.json.id }}</li>\n  <li>URL: <a href=\"{{ $('Upload to WordPress').item.json.source_url }}\">{{ $('Upload to WordPress').item.json.source_url }}</a></li>\n  <li>Size: {{ $('Upload to WordPress').item.json.media_details?.width }}x{{ $('Upload to WordPress').item.json.media_details?.height }}</li>\n  <li>File Size: {{ Math.round($('Upload to WordPress').item.json.media_details?.filesize / 1024) }}KB</li>\n</ul>\n\n<p><strong>Actions Completed:</strong></p>\n<ul>\n  <li>✅ AI image generated from media brief</li>\n  <li>✅ Image uploaded to WordPress media library</li>\n  <li>✅ Featured image set on content</li>\n  <li>✅ Google Sheets updated with image details</li>\n</ul>\n\n<p>Best regards,<br>Tax4Us Content System</p>",
                "options": {}
            },
            "id": "email-image-confirmation",
            "name": "Email Image Confirmation",
            "type": "n8n-nodes-base.emailSend",
            "typeVersion": 1,
            "position": [
                1780,
                200
            ],
            "notes": "Credential: Gmail OAuth2 API"
        },
        {
            "parameters": {
                "jsCode": "// Handle case when no media brief is provided\nconst webhookData = $('Webhook Trigger').item.json;\n\nreturn [{\n  json: {\n    status: 'skipped',\n    reason: 'No media brief provided',\n    id: webhookData.id,\n    title: webhookData.title,\n    message: 'Asset uploader requires a media_brief to generate images.'\n  }\n}];"
            },
            "id": "handle-no-brief",
            "name": "Handle No Brief",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                680,
                400
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={\n  \"success\": true,\n  \"message\": \"Asset upload completed successfully\",\n  \"image_id\": {{ $('Upload to WordPress').item.json.id }},\n  \"image_url\": \"{{ $('Upload to WordPress').item.json.source_url }}\",\n  \"featured_image_set\": true,\n  \"sheets_updated\": true\n}",
                "options": {
                    "responseHeaders": {
                        "entries": [
                            {
                                "name": "Content-Type",
                                "value": "application/json"
                            }
                        ]
                    }
                }
            },
            "id": "success-response",
            "name": "Success Response",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                2000,
                200
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={\n  \"success\": false,\n  \"message\": \"{{ $json.message }}\",\n  \"reason\": \"{{ $json.reason }}\"\n}",
                "options": {
                    "responseHeaders": {
                        "entries": [
                            {
                                "name": "Content-Type",
                                "value": "application/json"
                            }
                        ]
                    }
                }
            },
            "id": "skip-response",
            "name": "Skip Response",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                900,
                400
            ]
        }
    ],
    "connections": {
        "Webhook Trigger": {
            "main": [
                [
                    {
                        "node": "Check Media Brief",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Check Media Brief": {
            "main": [
                [
                    {
                        "node": "Generate Image",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Handle No Brief",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Generate Image": {
            "main": [
                [
                    {
                        "node": "Download Image",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Download Image": {
            "main": [
                [
                    {
                        "node": "Upload to WordPress",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Upload to WordPress": {
            "main": [
                [
                    {
                        "node": "Set Featured Image",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Set Featured Image": {
            "main": [
                [
                    {
                        "node": "Update Sheets Image",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Update Sheets Image": {
            "main": [
                [
                    {
                        "node": "Email Image Confirmation",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Email Image Confirmation": {
            "main": [
                [
                    {
                        "node": "Success Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Handle No Brief": {
            "main": [
                [
                    {
                        "node": "Skip Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "settings": {
        "executionOrder": "v1"
    },
    "staticData": null,
    "tags": [
        {
            "createdAt": "2025-08-25T06:00:00.000Z",
            "updatedAt": "2025-08-25T06:00:00.000Z",
            "id": "tax4us-content",
            "name": "tax4us-content"
        }
    ],
    "triggerCount": 1,
    "updatedAt": "2025-08-25T06:00:00.000Z",
    "versionId": "1",
    "meta": {
        "instanceId": "tax4us-content-system"
    }
}