workflows/n8n/t4us_approve_publish.json
{
    "name": "T4US — Approve → Publish (+ Polylang link, Social, Purge)",
    "nodes": [
        {
            "parameters": {
                "filters": {
                    "subject": "APPROVE\\s+([a-z0-9-]+)"
                }
            },
            "id": "gmail-trigger",
            "name": "Gmail Trigger",
            "type": "n8n-nodes-base.gmailTrigger",
            "typeVersion": 1,
            "position": [
                240,
                300
            ],
            "notes": "Credential: Gmail OAuth2 API"
        },
        {
            "parameters": {
                "jsCode": "// Extract ID from email subject\nconst email = $input.first().json;\nconst subject = email.subject;\n\n// Extract ID using regex\nconst match = subject.match(/APPROVE\\s+([a-z0-9-]+)/);\nconst id = match ? match[1] : null;\n\nif (!id) {\n  throw new Error('No valid ID found in email subject');\n}\n\nreturn [{\n  json: {\n    id: id,\n    email: email\n  }\n}];"
            },
            "id": "extract-id",
            "name": "Extract ID",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                460,
                300
            ]
        },
        {
            "parameters": {
                "operation": "read",
                "sheetId": "tax4us_content_specs",
                "range": "pages!A:O",
                "columnToMatch": "id",
                "valueToMatchOn": "={{ $json.id }}"
            },
            "id": "sheets-lookup",
            "name": "Sheets Lookup",
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4,
            "position": [
                680,
                300
            ],
            "notes": "Credential: Google Sheets account"
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "status-check",
                            "leftValue": "={{ $json.status }}",
                            "rightValue": "Drafted",
                            "operator": {
                                "type": "string",
                                "operation": "equal"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "id": "check-status",
            "name": "Check Status",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                900,
                300
            ]
        },
        {
            "parameters": {
                "url": "=https://tax4us.co.il/wp-json/wp/v2/{{ $json.type === 'page' ? 'pages' : $json.type }}/{{ $json.wp_id }}?lang={{ $json.language }}",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"status\": \"publish\"\n}",
                "options": {
                    "method": "PUT"
                }
            },
            "id": "publish-post",
            "name": "Publish Post",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                1120,
                300
            ],
            "notes": "Credential: Wordpress account"
        },
        {
            "parameters": {
                "url": "=https://tax4us.co.il/wp-json/wp/v2/{{ $json.type === 'page' ? 'pages' : $json.type }}/{{ $json.wp_id }}?lang={{ $json.language }}",
                "options": {}
            },
            "id": "get-translations",
            "name": "Get Translations",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                1340,
                300
            ],
            "notes": "Credential: Wordpress account"
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "translations-check",
                            "leftValue": "={{ $json.translations && Object.keys($json.translations).length > 0 }}",
                            "rightValue": true,
                            "operator": {
                                "type": "boolean",
                                "operation": "equal"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "id": "has-translations",
            "name": "Has Translations",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                1560,
                300
            ]
        },
        {
            "parameters": {
                "jsCode": "// Link Polylang translations\nconst spec = $('Sheets Lookup').item.json;\nconst translations = $json.translations;\n\n// Get both language IDs for the same group\nconst heId = spec.language === 'he' ? spec.wp_id : null;\nconst enId = spec.language === 'en' ? spec.wp_id : null;\n\n// Find the other language ID from the same group\nconst otherLanguage = spec.language === 'he' ? 'en' : 'he';\nconst otherSpec = $('Sheets Lookup').item.json;\n\nif (heId && enId) {\n  const polylangData = {\n    translations: {\n      he: heId,\n      en: enId\n    }\n  };\n  \n  return [{\n    json: {\n      ...spec,\n      polylang_data: polylangData,\n      he_id: heId,\n      en_id: enId\n    }\n  }];\n}\n\nreturn [{\n  json: spec\n}];"
            },
            "id": "prepare-polylang",
            "name": "Prepare Polylang",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1780,
                300
            ]
        },
        {
            "parameters": {
                "url": "=https://tax4us.co.il/wp-json/wp/v2/{{ $json.type === 'page' ? 'pages' : $json.type }}/{{ $json.wp_id }}?lang={{ $json.language }}",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ $json.polylang_data }}",
                "options": {
                    "method": "PUT"
                }
            },
            "id": "link-polylang",
            "name": "Link Polylang",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                2000,
                300
            ],
            "notes": "Credential: Wordpress account"
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "lscache-check",
                            "leftValue": "={{ $env.LSCACHE_PURGE_URL }}",
                            "rightValue": "",
                            "operator": {
                                "type": "string",
                                "operation": "notEqual"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "id": "check-lscache",
            "name": "Check LSCache",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                2220,
                300
            ]
        },
        {
            "parameters": {
                "url": "={{ $env.LSCACHE_PURGE_URL }}",
                "options": {}
            },
            "id": "purge-lscache",
            "name": "Purge LSCache",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                2440,
                300
            ]
        },
        {
            "parameters": {
                "message": "=New content published on Tax4Us!\n\n{{ $('Sheets Lookup').item.json.title }}\n\n{{ $('Sheets Lookup').item.json.og_description || 'Check out our latest content on tax4us.co.il' }}\n\nRead more: https://tax4us.co.il/{{ $('Sheets Lookup').item.json.slug }}\n\n#Tax4Us #TaxAdvisory #Israel",
                "options": {}
            },
            "id": "facebook-share",
            "name": "Facebook Share",
            "type": "n8n-nodes-base.facebook",
            "typeVersion": 1,
            "position": [
                2660,
                300
            ],
            "notes": "Credential: Facebook Graph account"
        },
        {
            "parameters": {
                "text": "=New content published on Tax4Us!\n\n{{ $('Sheets Lookup').item.json.title }}\n\n{{ $('Sheets Lookup').item.json.og_description || 'Check out our latest content on tax4us.co.il' }}\n\nRead more: https://tax4us.co.il/{{ $('Sheets Lookup').item.json.slug }}\n\n#Tax4Us #TaxAdvisory #Israel",
                "options": {}
            },
            "id": "linkedin-share",
            "name": "LinkedIn Share",
            "type": "n8n-nodes-base.linkedIn",
            "typeVersion": 1,
            "position": [
                2880,
                300
            ],
            "notes": "Credential: LinkedIn account"
        },
        {
            "parameters": {
                "operation": "update",
                "sheetId": "tax4us_content_specs",
                "range": "pages!A:O",
                "columnToMatch": "id",
                "valueToMatchOn": "={{ $('Sheets Lookup').item.json.id }}",
                "fieldsToSend": {
                    "status": "Published",
                    "published_at": "={{ new Date().toISOString() }}"
                }
            },
            "id": "update-sheets-published",
            "name": "Update Sheets Published",
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4,
            "position": [
                3100,
                300
            ],
            "notes": "Credential: Google Sheets account"
        },
        {
            "parameters": {
                "toEmail": "={{ $('Extract ID').item.json.email.from }}",
                "subject": "=Content Published: {{ $('Sheets Lookup').item.json.title }}",
                "emailType": "html",
                "message": "=<h2>Content Successfully Published!</h2>\n<p><strong>Title:</strong> {{ $('Sheets Lookup').item.json.title }}</p>\n<p><strong>ID:</strong> {{ $('Sheets Lookup').item.json.id }}</p>\n<p><strong>Language:</strong> {{ $('Sheets Lookup').item.json.language }}</p>\n<p><strong>Live URL:</strong> <a href=\"https://tax4us.co.il/{{ $('Sheets Lookup').item.json.slug }}\">https://tax4us.co.il/{{ $('Sheets Lookup').item.json.slug }}</a></p>\n\n<p><strong>Actions Completed:</strong></p>\n<ul>\n  <li>✅ Content published on WordPress</li>\n  <li>✅ Polylang translations linked</li>\n  <li>✅ LiteSpeed cache purged</li>\n  <li>✅ Shared on Facebook</li>\n  <li>✅ Shared on LinkedIn</li>\n  <li>✅ Status updated in Google Sheets</li>\n</ul>\n\n<p>Best regards,<br>Tax4Us Content System</p>",
                "options": {}
            },
            "id": "email-confirmation",
            "name": "Email Confirmation",
            "type": "n8n-nodes-base.emailSend",
            "typeVersion": 1,
            "position": [
                3320,
                300
            ],
            "notes": "Credential: Gmail OAuth2 API"
        }
    ],
    "connections": {
        "Gmail Trigger": {
            "main": [
                [
                    {
                        "node": "Extract ID",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Extract ID": {
            "main": [
                [
                    {
                        "node": "Sheets Lookup",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Sheets Lookup": {
            "main": [
                [
                    {
                        "node": "Check Status",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Check Status": {
            "main": [
                [
                    {
                        "node": "Publish Post",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Publish Post": {
            "main": [
                [
                    {
                        "node": "Get Translations",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Translations": {
            "main": [
                [
                    {
                        "node": "Has Translations",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Has Translations": {
            "main": [
                [
                    {
                        "node": "Prepare Polylang",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Check LSCache",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Prepare Polylang": {
            "main": [
                [
                    {
                        "node": "Link Polylang",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Link Polylang": {
            "main": [
                [
                    {
                        "node": "Check LSCache",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Check LSCache": {
            "main": [
                [
                    {
                        "node": "Purge LSCache",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Facebook Share",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Purge LSCache": {
            "main": [
                [
                    {
                        "node": "Facebook Share",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Facebook Share": {
            "main": [
                [
                    {
                        "node": "LinkedIn Share",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "LinkedIn Share": {
            "main": [
                [
                    {
                        "node": "Update Sheets Published",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Update Sheets Published": {
            "main": [
                [
                    {
                        "node": "Email Confirmation",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "settings": {
        "executionOrder": "v1"
    },
    "staticData": null,
    "tags": [
        {
            "createdAt": "2025-08-25T06:00:00.000Z",
            "updatedAt": "2025-08-25T06:00:00.000Z",
            "id": "tax4us-content",
            "name": "tax4us-content"
        }
    ],
    "triggerCount": 1,
    "updatedAt": "2025-08-25T06:00:00.000Z",
    "versionId": "1",
    "meta": {
        "instanceId": "tax4us-content-system"
    }
}