Customers/tax4us/workflow-backups/2025-10-08_22-24-39/zQIkACTYDgaehp6S_Blog_Master.json
{"createdAt":"2025-09-01T07:08:54.231Z","updatedAt":"2025-10-09T03:18:59.000Z","id":"zQIkACTYDgaehp6S","name":"WF: Blog Master - AI Content Pipeline","active":true,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"authentication":"airtableTokenApi","baseId":{"__rl":true,"value":"appkZD1ew4aKoBqDM","mode":"id"},"tableId":{"__rl":true,"value":"tbloWUmXIuBQXa1YQ","mode":"id"},"triggerField":"Status","additionalFields":{}},"id":"airtable-trigger","name":"Airtable: Monitor Content_Specs","type":"n8n-nodes-base.airtableTrigger","typeVersion":1,"position":[-992,16],"credentials":{"airtableTokenApi":{"id":"XLvXlq3ygEbknytQ","name":"Tax4Us Airtable"}},"onError":"continueRegularOutput"},{"parameters":{"language":"javascript"},"id":"prefilter","name":"Code: Prefilter & Exec ID","type":"n8n-nodes-base.code","typeVersion":2,"position":[-768,16],"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"check","leftValue":"={{ $json.shouldDraft }}","rightValue":"={{ true }}","operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"if-should-process","name":"IF: Should Process?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-544,16],"onError":"continueRegularOutput"},{"parameters":{"operation":"update","base":{"__rl":true,"mode":"id","value":"appkZD1ew4aKoBqDM"},"table":{"__rl":true,"mode":"id","value":"tbloWUmXIuBQXa1YQ"},"columns":{"value":{"id":"={{ $json.record_id }}","Status":"Rejected"},"schema":[{"id":"id","type":"string","display":true,"readOnly":true,"required":false,"displayName":"id","defaultMatch":true},{"id":"Status","type":"string","display":true,"readOnly":false,"required":false,"displayName":"Status","defaultMatch":false,"canBeUsedToMatch":true}]},"options":{}},"id":"airtable-rejected","name":"Airtable: Update Rejected","type":"n8n-nodes-base.airtable","typeVersion":2,"position":[-320,112],"credentials":{"airtableTokenApi":{"id":"XLvXlq3ygEbknytQ","name":"Tax4Us Airtable"}},"onError":"continueRegularOutput"},{"parameters":{"language":"javascript"},"id":"build-research-payload","name":"Code: Build Research Payload","type":"n8n-nodes-base.code","typeVersion":2,"position":[-96,-80],"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://api.tavily.com/search","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"value":"={{ $json.tavilyPayload }}"}]},"options":{}},"id":"http-tavily-search","name":"HTTP: Tavily Research","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[128,-80],"credentials":{"httpHeaderAuth":{"id":"LFS4VZVE8X06q4BK","name":"Tavily API"}},"onError":"continueRegularOutput"},{"parameters":{"language":"javascript"},"id":"build-ai-payload","name":"Code: Build AI Payload","type":"n8n-nodes-base.code","typeVersion":2,"position":[352,-80],"onError":"continueRegularOutput"},{"parameters":{"resource":"chat","operation":"completion","requestOptions":{}},"id":"openai-generate","name":"OpenAI: Generate Content","type":"n8n-nodes-base.openAi","typeVersion":1,"position":[576,-80],"credentials":{"openAiApi":{"id":"IVfkaQOIs6jCRdyu","name":"OpenAi account"}},"onError":"continueRegularOutput"},{"parameters":{"language":"javascript"},"id":"validate-json","name":"Code: Validate JSON","type":"n8n-nodes-base.code","typeVersion":2,"position":[800,-80],"onError":"continueRegularOutput"},{"parameters":{"url":"={{ 'https://tax4us.co.il/wp-json/wp/v2/posts?slug=' + $json.wpSlug }}","authentication":"predefinedCredentialType","nodeCredentialType":"wordpressApi","options":{}},"id":"check-exists","name":"HTTP: Check Post Exists","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1472,-80],"credentials":{"wordpressApi":{"id":"GjqU4oaqFsD4KT0i","name":"Wordpress account"}},"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose"},"conditions":[{"id":"check","leftValue":"={{ $json.length }}","rightValue":0,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"if-create-update","name":"IF: Create or Update?","type":"n8n-nodes-base.if","typeVersion":2,"position":[1696,-80],"onError":"continueRegularOutput"},{"parameters":{"title":"={{ $json.pageContent.title }}","additionalFields":{"content":"={{ $json.pageContent.content }}","slug":"={{ $json.pageContent.slug }}","status":"draft"}},"id":"wp-create","name":"WordPress: Create Post","type":"n8n-nodes-base.wordpress","typeVersion":1,"position":[1920,-176],"credentials":{"wordpressApi":{"id":"GjqU4oaqFsD4KT0i","name":"Wordpress account"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"update","postId":"={{ $json[0].id }}","updateFields":{"title":"={{ $json.pageContent.title }}","content":"={{ $json.pageContent.content }}","status":"draft"}},"id":"wp-update","name":"WordPress: Update Post","type":"n8n-nodes-base.wordpress","typeVersion":1,"position":[1920,16],"credentials":{"wordpressApi":{"id":"GjqU4oaqFsD4KT0i","name":"Wordpress account"}},"onError":"continueRegularOutput"},{"parameters":{"language":"javascript"},"id":"merge-data","name":"Code: Merge WP Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[2144,-80],"onError":"continueRegularOutput"},{"parameters":{"operation":"update","base":{"__rl":true,"mode":"id","value":"appkZD1ew4aKoBqDM"},"table":{"__rl":true,"mode":"id","value":"tbloWUmXIuBQXa1YQ"},"columns":{"value":{"id":"={{ $json.record_id }}","Status":"Drafted","WordPress_URL":"={{ $json.wp_url }}"},"schema":[{"id":"id","type":"string","display":true,"readOnly":true,"required":false,"displayName":"id","defaultMatch":true},{"id":"Status","type":"string","display":true,"readOnly":false,"required":false,"displayName":"Status","defaultMatch":false,"canBeUsedToMatch":true},{"id":"WordPress_URL","type":"string","display":true,"readOnly":false,"required":false,"displayName":"WordPress_URL","defaultMatch":false,"canBeUsedToMatch":true}]},"options":{}},"id":"airtable-drafted","name":"Airtable: Update Drafted","type":"n8n-nodes-base.airtable","typeVersion":2,"position":[2368,-80],"credentials":{"airtableTokenApi":{"id":"XLvXlq3ygEbknytQ","name":"Tax4Us Airtable"}},"onError":"continueRegularOutput"},{"parameters":{"authentication":"oAuth2","select":"channel","channelId":{"__rl":true,"value":"C09BZAFPGF9","mode":"list","cachedResultName":"all-tax4us"},"text":"={{ \"❌ Content Rejected\\n\\nRecord ID: \" + $json.record_id + \"\\nReason: Failed validation checks\" }}","otherOptions":{}},"id":"slack-reject","name":"Slack: Notify Rejection","type":"n8n-nodes-base.slack","typeVersion":2.2,"position":[-96,112],"webhookId":"0194c026-e7d7-4cf3-92a5-346ec0ba5d02","credentials":{"slackOAuth2Api":{"id":"Sz76YrXU9gwVGCpF","name":"Slack OAuth2 API"}},"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"={{ $credentials.url }}","authentication":"predefinedCredentialType","nodeCredentialType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"{\"command\": \"GET\", \"args\": [\"tax4us:blog:history\"]}","options":{}},"id":"4bc11e89-07c0-4244-ac6d-5b65a12ea186","name":"HTTP: context7 Fetch History","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-320,-80],"credentials":{"httpHeaderAuth":{"id":"erMNgELVc3Ftj3Td","name":"upload post api"}}},{"parameters":{"authentication":"oAuth2","select":"channel","channelId":{"__rl":true,"value":"C07MB9G6FLF","mode":"id"},"text":"={{ '🔵 Blog Post Ready for Review\\n\\n📄 **Title:** ' + $json.pageContent.title + '\\n📝 **Excerpt:** ' + $json.pageContent.content.substring(0, 300) + '...\\n\\n⏱️ Awaiting approval (auto-approve in 48 hours)' }}","otherOptions":{}},"id":"634b4091-2f45-4fc1-baff-3d703f3547bb","name":"Slack: Content Ready for Review","type":"n8n-nodes-base.slack","typeVersion":2.2,"position":[1024,-80],"webhookId":"0bb9cb66-963b-47cd-a296-f21190f98ea3","credentials":{"slackOAuth2Api":{"id":"Sz76YrXU9gwVGCpF","name":"Slack OAuth2 API"}}},{"parameters":{"resume":"webhook","options":{}},"id":"c5d73aa0-9a2d-43c0-b33e-0c76355bd68d","name":"Wait: Approval (24 hours)","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1248,-80],"webhookId":"32844d3c-d060-4697-b2d8-d637c7b97904"},{"parameters":{"method":"POST","url":"={{ $credentials.url }}","authentication":"predefinedCredentialType","nodeCredentialType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ command: 'LPUSH', args: ['tax4us:blog:history', $json.pageContent.title] }) }}","options":{}},"id":"f87a77e5-48f2-4297-8fe4-a662f6a96cf6","name":"HTTP: context7 Save Context","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2592,-80],"credentials":{"httpHeaderAuth":{"id":"erMNgELVc3Ftj3Td","name":"upload post api"}}},{"parameters":{"authentication":"oAuth2","select":"channel","channelId":{"__rl":true,"value":"C07MB9G6FLF","mode":"id"},"text":"={{ '✅ Blog Post Published\\n\\n📄 **Title:** ' + $json.pageContent.title + '\\n🔗 **URL:** ' + $json.pageUrl + '\\n📊 **WordPress ID:** ' + $json.pageId }}","otherOptions":{}},"id":"c13b0e5c-c64b-4287-9f18-f0782382353c","name":"Slack: Content Published","type":"n8n-nodes-base.slack","typeVersion":2.2,"position":[2816,-80],"webhookId":"c75ecf49-cc7d-4f40-a8da-4c3f5f5c5cbb","credentials":{"slackOAuth2Api":{"id":"Sz76YrXU9gwVGCpF","name":"Slack OAuth2 API"}}}],"connections":{"Airtable: Monitor Content_Specs":{"main":[[{"node":"Code: Prefilter & Exec ID","type":"main","index":0}]]},"Code: Prefilter & Exec ID":{"main":[[{"node":"IF: Should Process?","type":"main","index":0}]]},"IF: Should Process?":{"main":[[{"node":"HTTP: context7 Fetch History","type":"main","index":0}],[{"node":"Airtable: Update Rejected","type":"main","index":0}]]},"Airtable: Update Rejected":{"main":[[{"node":"Slack: Notify Rejection","type":"main","index":0}]]},"Code: Build Research Payload":{"main":[[{"node":"HTTP: Tavily Research","type":"main","index":0}]]},"HTTP: Tavily Research":{"main":[[{"node":"Code: Build AI Payload","type":"main","index":0}]]},"Code: Build AI Payload":{"main":[[{"node":"OpenAI: Generate Content","type":"main","index":0}]]},"OpenAI: Generate Content":{"main":[[{"node":"Code: Validate JSON","type":"main","index":0}]]},"Code: Validate JSON":{"main":[[{"node":"Slack: Content Ready for Review","type":"main","index":0}]]},"HTTP: Check Post Exists":{"main":[[{"node":"IF: Create or Update?","type":"main","index":0}]]},"IF: Create or Update?":{"main":[[{"node":"WordPress: Create Post","type":"main","index":0}],[{"node":"WordPress: Update Post","type":"main","index":0}]]},"WordPress: Create Post":{"main":[[{"node":"Code: Merge WP Data","type":"main","index":0}]]},"WordPress: Update Post":{"main":[[{"node":"Code: Merge WP Data","type":"main","index":0}]]},"Code: Merge WP Data":{"main":[[{"node":"Airtable: Update Drafted","type":"main","index":0}]]},"Airtable: Update Drafted":{"main":[[{"node":"HTTP: context7 Save Context","type":"main","index":0}]]},"HTTP: context7 Fetch History":{"main":[[{"node":"Code: Build Research Payload","type":"main","index":0}]]},"Slack: Content Ready for Review":{"main":[[{"node":"Wait: Approval (24 hours)","type":"main","index":0}]]},"Wait: Approval (24 hours)":{"main":[[{"node":"HTTP: Check Post Exists","type":"main","index":0}]]},"HTTP: context7 Save Context":{"main":[[{"node":"Slack: Content Published","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","saveManualExecutions":true,"saveExecutionProgress":true,"errorWorkflow":"TXGZxyglHWOSKvxt"},"staticData":{"node:Airtable: Monitor Content_Specs":{"lastTimeChecked":"2025-10-09T03:18:59Z"}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"b91ad479-0a44-4594-9bee-fea32c160858","triggerCount":1,"shared":[{"createdAt":"2025-09-01T07:08:54.233Z","updatedAt":"2025-09-01T07:08:54.233Z","role":"workflow:owner","workflowId":"zQIkACTYDgaehp6S","projectId":"Rs5Pee22xfDdJV5k","project":{"createdAt":"2025-08-05T21:39:55.834Z","updatedAt":"2025-08-05T21:39:58.285Z","id":"Rs5Pee22xfDdJV5k","name":"Tax4US LLC <info@tax4us.co.il>","type":"personal","icon":null,"description":null,"projectRelations":[{"createdAt":"2025-08-05T21:39:55.834Z","updatedAt":"2025-08-05T21:39:55.834Z","userId":"7b60f61d-7d1d-4980-ad53-b9c952e613a1","projectId":"Rs5Pee22xfDdJV5k","user":{"createdAt":"2025-08-05T21:39:54.392Z","updatedAt":"2025-10-08T17:49:15.000Z","id":"7b60f61d-7d1d-4980-ad53-b9c952e613a1","email":"info@tax4us.co.il","firstName":"Tax4US","lastName":"LLC","personalizationAnswers":null,"settings":{"userActivated":true,"firstSuccessfulWorkflowId":"mMqcQdZH16A9OQ2I","userActivatedAt":1754437746263,"npsSurvey":{"responded":true,"lastShownAt":1756111474246},"easyAIWorkflowOnboarded":true},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-10-08","isPending":false}}]}}],"tags":[]}