workflows/rensto/facebook-group-scraper-clean.json
{
  "name": "Facebook Group Scraper & Custom Audience Creator",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "facebook-scraper",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Scraper Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Initialize Facebook Groups Data for Portal Flanary\nconst facebookGroups = [\n  {\n    name: \"great kosher restaurants foodies\",\n    url: \"https://www.facebook.com/groups/320656708120313\",\n    members: 118000,\n    type: \"Public\"\n  },\n  {\n    name: \"Jewish Food x What Jew Wanna Eat\",\n    url: \"https://www.facebook.com/groups/623411674373589/\",\n    members: 81500,\n    type: \"Public\"\n  },\n  {\n    name: \"ישראלים במיאמי / דרום פלורידה\",\n    url: \"https://www.facebook.com/share/g/1BwTNpy7RA/\",\n    members: 67500,\n    type: \"Public\"\n  },\n  {\n    name: \"Israelis in Los Angeles ישראלים בלוס אנג'לס\",\n    url: \"https://www.facebook.com/share/g/19y3ga77BX/\",\n    members: 52000,\n    type: \"Public\"\n  },\n  {\n    name: \"רילוקיישן הצעות עבודה בחול - משרות לרילוקיישן בחו\"ל הייטק, שיווק וכל התחומי\",\n    url: \"https://www.facebook.com/share/g/1F5z1FpUr4/\",\n    members: 48700,\n    type: \"Public\"\n  },\n  {\n    name: \"ניו יורק למטיילים - New York for Travelers\",\n    url: \"https://www.facebook.com/share/g/179xgv63Pq/\",\n    members: 46700,\n    type: \"Public\"\n  },\n  {\n    name: \"World wide Jewish network\",\n    url: \"https://www.facebook.com/share/g/15JAaU1exa/\",\n    members: 42000,\n    type: \"Public\"\n  },\n  {\n    name: \"ישראלים בפורטוגל Israelenses em Portugal🇵🇹\",\n    url: \"https://www.facebook.com/groups/167603197277410/\",\n    members: 42000,\n    type: \"Public\"\n  },\n  {\n    name: \"לוח מודעות קהילתי - לוס אנג'לס\",\n    url: \"https://www.facebook.com/share/g/1BikkHPmDJ/\",\n    members: 37400,\n    type: \"Public\"\n  },\n  {\n    name: \"ישראלים במיאמי\",\n    url: \"https://www.facebook.com/share/g/16HSTYJU4E/\",\n    members: 37000,\n    type: \"Public\"\n  },\n  {\n    name: \"Jewish Community‎‏\",\n    url: \"https://www.facebook.com/share/g/1FqoXyoK8G/\",\n    members: 36000,\n    type: \"Public\"\n  },\n  {\n    name: \"ישראלים באיזור מיאמי ודרום פלורידה\",\n    url: \"https://www.facebook.com/share/g/16pbB1PmYu/\",\n    members: 35900,\n    type: \"Public\"\n  },\n  {\n    name: \"פריז לישראלים\",\n    url: \"https://www.facebook.com/share/g/1Cs76LrXRi/\",\n    members: 31500,\n    type: \"Public\"\n  },\n  {\n    name: \"רילוקיישן לארה\"ב בקלות - מדברים על הכל\",\n    url: \"https://www.facebook.com/share/g/1ArXMVy8L4/\",\n    members: 30500,\n    type: \"Public\"\n  },\n  {\n    name: \"ישראלים באיטליה Israelis in Italy\",\n    url: \"https://www.facebook.com/share/g/1NJT73vBFo/\",\n    members: 29400,\n    type: \"Public\"\n  },\n  {\n    name: \"ישראלים במיאמי ביץ\",\n    url: \"https://www.facebook.com/share/g/1Uub6pvaRc/\",\n    members: 26000,\n    type: \"Public\"\n  },\n  {\n    name: \"אתונה לישראלים\",\n    url: \"https://www.facebook.com/groups/1586675715485718/\",\n    members: 24400,\n    type: \"Public\"\n  },\n  {\n    name: \"הלוח הגדול - לוס אנג'לס\",\n    url: \"https://www.facebook.com/groups/hadshotusa/\",\n    members: 23000,\n    type: \"Public\"\n  },\n  {\n    name: \"JOM - Jews of Melbourne\",\n    url: \"https://www.facebook.com/share/g/19eawrmMmZ/\",\n    members: 10823,\n    type: \"Public\"\n  },\n  {\n    name: \"ISRAELI EVENTS IN MIAMI\",\n    url: \"https://www.facebook.com/groups/israelieventsmiami/\",\n    members: 6600,\n    type: \"Public\"\n  },\n  {\n    name: \"Kosher Vacations\",\n    url: \"https://www.facebook.com/groups/935258493207155/\",\n    members: 6400,\n    type: \"Public\"\n  },\n  {\n    name: \"Florida Jewish Business Network\",\n    url: \"https://www.facebook.com/groups/floridajewishbusinessnetwork/\",\n    members: 6300,\n    type: \"Public\"\n  },\n  {\n    name: \"Kosher in Florida\",\n    url: \"https://www.facebook.com/groups/2644645135749446/\",\n    members: 6300,\n    type: \"Public\"\n  },\n  {\n    name: \"ישראלים בלאס וגאס | Israelis In Las Vegas\",\n    url: \"https://www.facebook.com/share/g/16ugSLmEQi/\",\n    members: 6200,\n    type: \"Public\"\n  },\n  {\n    name: \"ישראלים בדרום /מיאמי פלורידה\",\n    url: \"https://www.facebook.com/groups/2077096962365152/\",\n    members: 6100,\n    type: \"Public\"\n  },\n  {\n    name: \"LA Jewish Events and Activities\",\n    url: \"https://www.facebook.com/groups/lajewishevents/\",\n    members: 6000,\n    type: \"Public\"\n  },\n  {\n    name: \"hallandale beach jewish and israelis - ישראלים בהלנדייל\",\n    url: \"https://www.facebook.com/share/g/195ATiy3B6/\",\n    members: 5800,\n    type: \"Public\"\n  },\n  {\n    name: \"ישראלים בקראבי תאילנד\",\n    url: \"https://www.facebook.com/share/g/1CUoyA8yHx/\",\n    members: 5500,\n    type: \"Public\"\n  },\n  {\n    name: \"ישראלים בארגנטינה\",\n    url: \"https://www.facebook.com/share/g/16x8Rpahc4/\",\n    members: 5500,\n    type: \"Public\"\n  },\n  {\n    name: \"Long Island Jewish Community Forum\",\n    url: \"https://www.facebook.com/groups/LIJCF/\",\n    members: 5200,\n    type: \"Public\"\n  },\n  {\n    name: \"הלוח הגדול - ניו יורק\",\n    url: \"https://www.facebook.com/share/g/15w96onjay/\",\n    members: 5100,\n    type: \"Public\"\n  },\n  {\n    name: \"ישראלים בגאורגיה \" הקבוצה הרשמית\"\",\n    url: \"https://www.facebook.com/groups/1059073597924205/\",\n    members: 5000,\n    type: \"Public\"\n  },\n  {\n    name: \"ישראלים בגואה\",\n    url: \"https://www.facebook.com/share/g/18zBGPVXYn/\",\n    members: 4700,\n    type: \"Public\"\n  },\n  {\n    name: \"ישראלים בסן פרנסיסקו והסביבה- הקבוצה הרשמית\",\n    url: \"https://www.facebook.com/share/g/14DdKc3kXtC/\",\n    members: 4400,\n    type: \"Public\"\n  },\n  {\n    name: \"ישראלים בסאן אנטוניו טקסס - Israelis in San Antonio Texas\",\n    url: \"https://www.facebook.com/share/g/16WVTzDXNy/\",\n    members: 4200,\n    type: \"Public\"\n  },\n  {\n    name: \"ישראלים במרילנד וושינגטון די סי תומכת בעסקים ישראלים Israelis in the DMV\",\n    url: \"https://www.facebook.com/groups/823906668390426/\",\n    members: 4000,\n    type: \"Public\"\n  },\n  {\n    name: \"הקשר הישראלי -לוס אנגלס\",\n    url: \"https://www.facebook.com/groups/504074066415478/\",\n    members: 4000,\n    type: \"Public\"\n  },\n  {\n    name: \"Zooz Las Vegas ישראלים בלאס וגאס\",\n    url: \"https://www.facebook.com/share/g/19GBMMXSnG/\",\n    members: 3900,\n    type: \"Public\"\n  },\n  {\n    name: \"ישראלים במרילנד וושינגטון די סי תומכת בעסקים ישראלים Israelis in the DMV\",\n    url: \"https://www.facebook.com/share/g/16ncgGcJDh/\",\n    members: 3900,\n    type: \"Public\"\n  },\n  {\n    name: \"Jewish Jobs\",\n    url: \"https://www.facebook.com/groups/jewishjobs/\",\n    members: 3700,\n    type: \"Public\"\n  },\n  {\n    name: \"ישראלים בבוקה והסביבה הקבוצה הרשמית\",\n    url: \"https://www.facebook.com/groups/642486042859546/\",\n    members: 3600,\n    type: \"Public\"\n  },\n  {\n    name: \"BROOKLYN JEWS,Jewish Nightlife and Events in NYC's Bklyn,BKLYN JEWS,singles\",\n    url: \"https://www.facebook.com/groups/7528112354/\",\n    members: 3600,\n    type: \"Public\"\n  },\n  {\n    name: \"Israeli 🇮🇱 in Las Vegas ישראלים בלאס וגאס הקבוצה הרשמית\",\n    url: \"https://www.facebook.com/share/g/16XcrF6fqK/\",\n    members: 3500,\n    type: \"Public\"\n  },\n  {\n    name: \"ישראלים בצפון קרוליינה שרלוט והסביבה\",\n    url: \"https://www.facebook.com/groups/191807764786053/\",\n    members: 3500,\n    type: \"Public\"\n  },\n  {\n    name: \"All Things Jewish and Israeli - Texas\",\n    url: \"https://www.facebook.com/groups/236219703241228/\",\n    members: 3100,\n    type: \"Public\"\n  },\n  {\n    name: \"The Israeli Network in Dallas TX\",\n    url: \"https://www.facebook.com/groups/israelinetworkdallas/\",\n    members: 2900,\n    type: \"Public\"\n  },\n  {\n    name: \"ישראלים במקסיקו\",\n    url: \"https://www.facebook.com/groups/1990579174598085/\",\n    members: 2800,\n    type: \"Public\"\n  },\n  {\n    name: \"ישראלים קנדה\",\n    url: \"https://www.facebook.com/groups/186711985281255/\",\n    members: 2800,\n    type: \"Public\"\n  },\n  {\n    name: \"Relocation & More to Florida 🇺🇸רילוקיישן לדרום פלורידה\",\n    url: \"https://www.facebook.com/groups/3766794456693721/\",\n    members: 2800,\n    type: \"Public\"\n  },\n  {\n    name: \"ישראלים בדנבר Israeli's in Denver\",\n    url: \"https://www.facebook.com/groups/1085927658233779/\",\n    members: 2600,\n    type: \"Public\"\n  },\n  {\n    name: \"ישראלים בסיליקון וואלי\",\n    url: \"https://www.facebook.com/share/g/16SM7BVLBG/\",\n    members: 2500,\n    type: \"Public\"\n  },\n  {\n    name: \"ישראלים בדובאי\",\n    url: \"https://www.facebook.com/share/g/1HpdaJatHc/\",\n    members: 2400,\n    type: \"Public\"\n  },\n  {\n    name: \"ישראלים בלוס אנגלס\",\n    url: \"https://www.facebook.com/groups/768409324151636/\",\n    members: 2300,\n    type: \"Public\"\n  },\n  {\n    name: \"Israelis in TX -ישראלים בטקסס\",\n    url: \"https://www.facebook.com/share/g/16YucqZCRz/\",\n    members: 2300,\n    type: \"Public\"\n  },\n  {\n    name: \"ישראלים ביוסטון הקבוצה הרשמית\",\n    url: \"https://www.facebook.com/share/g/1ArYC2Pd2p/\",\n    members: 2200,\n    type: \"Public\"\n  },\n  {\n    name: \"ישראלים בבאלי - הקבוצה הרשמית\",\n    url: \"https://www.facebook.com/groups/578759567740165/\",\n    members: 1900,\n    type: \"Public\"\n  },\n  {\n    name: \"ישראלים באריזונה -israelis in arizona\",\n    url: \"https://www.facebook.com/groups/1738432533259313/\",\n    members: 954,\n    type: \"Public\"\n  },\n  {\n    name: \"Israelis In Tampa FL ישראלים בטמפה והסביבה\",\n    url: \"https://www.facebook.com/share/g/174yFhJuaP/\",\n    members: 877,\n    type: \"Public\"\n  },\n  {\n    name: \"שוקלים מעבר לדאלאס והסביבה\",\n    url: \"https://www.facebook.com/share/g/1Fua2tV88S/\",\n    members: 826,\n    type: \"Public\"\n  },\n  {\n    name: \"מועדון אמהות ישראליות בפלורידה- מאמיז בפלורידה\",\n    url: \"https://www.facebook.com/share/g/1ELJA5iey4/\",\n    members: 641,\n    type: \"Public\"\n  },\n  {\n    name: \"ישראלים בפינלנד - Israelis in finland\",\n    url: \"https://www.facebook.com/groups/238217365710228/\",\n    members: 561,\n    type: \"Public\"\n  },\n  {\n    name: \"ישראלים בבלגרד Israelis in Belgrade\",\n    url: \"https://www.facebook.com/groups/841577942978968/\",\n    members: 231,\n    type: \"Public\"\n  }\n];\n\n// Filter only public groups and sort by member count (largest first)\nconst publicGroups = facebookGroups\n  .filter(group => group.type === \"Public\")\n  .sort((a, b) => b.members - a.members);\n\n// Get trigger data\nconst triggerData = $input.first().json;\nconst maxGroups = triggerData.maxGroups || 10; // Default to top 10 groups\nconst apifyToken = triggerData.apifyToken || 'apify_api_QfRR0XzZtbGi14p8xaTMc2Fg44a9aW0W5CQM';\n\n// Take top groups based on maxGroups parameter\nconst selectedGroups = publicGroups.slice(0, maxGroups);\n\n// Log the selection\nconsole.log(`Selected ${selectedGroups.length} public Facebook groups for scraping`);\nselectedGroups.forEach(group => {\n  console.log(`- ${group.name}: ${group.members.toLocaleString()} members`);\n});\n\n// Return the selected groups with Apify configuration\nreturn selectedGroups.map(group => ({\n  json: {\n    groupName: group.name,\n    groupUrl: group.url,\n    memberCount: group.members,\n    apifyToken: apifyToken,\n    scrapeType: 'members',\n    maxMembers: Math.min(group.members, 1000), // Limit to 1000 members per group\n    customAudienceName: `Portal Flanary - ${group.name}`,\n    timestamp: new Date().toISOString()\n  }\n}));"
      },
      "id": "initialize-groups",
      "name": "Initialize Facebook Groups",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://api.apify.com/v2/acts/apify~facebook-groups-scraper/runs",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "={{ $json.apifyToken }}"
            },
            {
              "name": "groupUrls",
              "value": "=[\"{{ $json.groupUrl }}\"]"
            },
            {
              "name": "scrapeType",
              "value": "members"
            },
            {
              "name": "maxMembers",
              "value": "={{ $json.maxMembers }}"
            },
            {
              "name": "maxRequestRetries",
              "value": 3
            },
            {
              "name": "maxConcurrency",
              "value": 1
            },
            {
              "name": "language",
              "value": "en-US"
            },
            {
              "name": "maxRequestRetries",
              "value": 3
            },
            {
              "name": "maxConcurrency",
              "value": 1
            },
            {
              "name": "debugMode",
              "value": false
            }
          ]
        },
        "options": {}
      },
      "id": "apify-scraper",
      "name": "Apify Facebook Scraper",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Process Apify scraping results\nconst input = $input.first().json;\nconst groupData = $('Initialize Facebook Groups').first().json;\n\n// Check if scraping was successful\nif (!input.data || !input.data.id) {\n  throw new Error(`Apify scraping failed: ${JSON.stringify(input)}`);\n}\n\nconst runId = input.data.id;\nconsole.log(`Apify run started with ID: ${runId}`);\n\n// Return the run ID and group data for monitoring\nreturn [{\n  json: {\n    apifyRunId: runId,\n    groupName: groupData.groupName,\n    groupUrl: groupData.groupUrl,\n    memberCount: groupData.memberCount,\n    customAudienceName: groupData.customAudienceName,\n    status: 'scraping_started',\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "process-scraper-response",
      "name": "Process Scraper Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://api.apify.com/v2/acts/apify~facebook-groups-scraper/runs/{{ $json.apifyRunId }}/dataset/items",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "headerParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "apify_api_QfRR0XzZtbGi14p8xaTMc2Fg44a9aW0W5CQM"
            }
          ]
        },
        "options": {
          "timeout": 60000
        }
      },
      "id": "fetch-scraped-data",
      "name": "Fetch Scraped Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1120,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Process scraped Facebook member data\nconst scrapedData = $input.all();\nconst groupData = $('Initialize Facebook Groups').first().json;\n\n// Check if we have data\nif (!scrapedData || scrapedData.length === 0) {\n  console.log('No scraped data available yet, will retry later');\n  return [{\n    json: {\n      groupName: groupData.groupName,\n      status: 'no_data_yet',\n      message: 'Scraping still in progress',\n      timestamp: new Date().toISOString()\n    }\n  }];\n}\n\n// Extract member data from all scraped items\nconst allMembers = [];\nscrapedData.forEach(item => {\n  if (item.json && Array.isArray(item.json)) {\n    item.json.forEach(member => {\n      if (member && member.profileUrl) {\n        allMembers.push({\n          profileUrl: member.profileUrl,\n          name: member.name || '',\n          location: member.location || '',\n          joinedDate: member.joinedDate || '',\n          postsCount: member.postsCount || 0,\n          groupName: groupData.groupName,\n          scrapedAt: new Date().toISOString()\n        });\n      }\n    });\n  }\n});\n\nconsole.log(`Scraped ${allMembers.length} members from ${groupData.groupName}`);\n\n// Filter and clean the data\nconst validMembers = allMembers.filter(member => {\n  return member.profileUrl && \n         member.profileUrl.includes('facebook.com') &&\n         member.profileUrl !== 'https://www.facebook.com/';\n});\n\n// Remove duplicates based on profile URL\nconst uniqueMembers = validMembers.filter((member, index, self) =>\n  index === self.findIndex(m => m.profileUrl === member.profileUrl)\n);\n\nconsole.log(`Valid unique members: ${uniqueMembers.length}`);\n\n// Prepare data for Facebook Custom Audience\nconst customAudienceData = {\n  groupName: groupData.groupName,\n  customAudienceName: groupData.customAudienceName,\n  memberCount: uniqueMembers.length,\n  members: uniqueMembers.map(member => ({\n    profileUrl: member.profileUrl,\n    name: member.name,\n    location: member.location\n  })),\n  status: 'data_ready',\n  timestamp: new Date().toISOString()\n};\n\nreturn [{\n  json: customAudienceData\n}];"
      },
      "id": "process-member-data",
      "name": "Process Member Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1340,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Create Facebook Custom Audience (Mock Implementation)\nconst memberData = $input.first().json;\n\n// In a real implementation, this would use Facebook Marketing API\n// For now, we'll create a mock response\nconst customAudienceId = `ca_${Date.now()}_${Math.random().toString(36).substr(2, 9)}`;\n\nconsole.log(`Creating custom audience: ${memberData.customAudienceName}`);\nconsole.log(`Members to add: ${memberData.memberCount}`);\n\n// Mock Facebook API response\nconst facebookResponse = {\n  customAudienceId: customAudienceId,\n  customAudienceName: memberData.customAudienceName,\n  groupName: memberData.groupName,\n  memberCount: memberData.memberCount,\n  status: 'created',\n  message: 'Custom audience created successfully',\n  timestamp: new Date().toISOString()\n};\n\n// In production, this would be the actual Facebook API call:\n/*\nconst facebookApiResponse = await fetch('https://graph.facebook.com/v18.0/act_<AD_ACCOUNT_ID>/customaudiences', {\n  method: 'POST',\n  headers: {\n    'Content-Type': 'application/json',\n    'Authorization': `Bearer ${FACEBOOK_ACCESS_TOKEN}`\n  },\n  body: JSON.stringify({\n    name: memberData.customAudienceName,\n    subtype: 'CUSTOM',\n    description: `Members from ${memberData.groupName} Facebook group`\n  })\n});\n\nconst audienceData = await facebookApiResponse.json();\n*/\n\nreturn [{\n  json: facebookResponse\n}];"
      },
      "id": "create-custom-audience",
      "name": "Create Facebook Custom Audience",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1560,
        300
      ]
    },
    {
      "parameters": {
        "operation": "create",
        "application": "appQijHhqqP4z6wGe",
        "table": "Leads",
        "fields": {
          "name": "={{ $json.customAudienceName }}",
          "email": "portal-flanary@local-il.com",
          "company": "Portal Flanary",
          "message": "=Facebook Custom Audience created for {{ $json.groupName }} with {{ $json.memberCount }} members. Audience ID: {{ $json.customAudienceId }}",
          "source": "Facebook Group Scraper",
          "status": "Qualified",
          "lead_score": 85
        }
      },
      "id": "store-in-mongodb",
      "name": "Store in MongoDB",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1780,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"message\": \"Facebook group scraping and custom audience creation completed\",\n  \"results\": {\n    \"groups_processed\": {{ $('Initialize Facebook Groups').length }},\n    \"custom_audiences_created\": {{ $('Create Facebook Custom Audience').length }},\n    \"total_members_scraped\": {{ $('Create Facebook Custom Audience').all().reduce((sum, item) => sum + (item.json.memberCount || 0), 0) }},\n    \"timestamp\": \"{{ new Date().toISOString() }}\"\n  }\n}",
        "options": {}
      },
      "id": "success-response",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2000,
        300
      ]
    }
  ],
  "connections": {
    "Scraper Trigger": {
      "main": [
        [
          {
            "node": "Initialize Facebook Groups",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Initialize Facebook Groups": {
      "main": [
        [
          {
            "node": "Apify Facebook Scraper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apify Facebook Scraper": {
      "main": [
        [
          {
            "node": "Process Scraper Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Scraper Response": {
      "main": [
        [
          {
            "node": "Fetch Scraped Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Scraped Data": {
      "main": [
        [
          {
            "node": "Process Member Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Member Data": {
      "main": [
        [
          {
            "node": "Create Facebook Custom Audience",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Facebook Custom Audience": {
      "main": [
        [
          {
            "node": "Store in MongoDB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store in MongoDB": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
