docs/Surense ⇄ n8n Family Profile Builder (Portal-first).blueprint.json
{
    "name": "Surense ⇄ n8n Family Profile Builder (Portal-first)",
    "flow": [
        {
            "id": 1,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 1245353,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0,
                    "name": "WH: Portal → Fetch leads (last 24h)"
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "label": "portal_fetch_leads",
                            "data": {
                                "editable": "true"
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-webhook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "surense:SearchLeads",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 5026390
            },
            "mapper": {
                "order": "desc",
                "orderBy": "createdDate",
                "limit": "100"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0,
                    "name": "SR: Search Leads (last 24h)"
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "Shelly Surense connection (shellypensia@gmail.com)",
                            "data": {
                                "scoped": "true",
                                "connection": "surense"
                            }
                        }
                    },
                    "expect": {
                        "order": {
                            "mode": "chose",
                            "label": "יורד"
                        },
                        "orderBy": {
                            "mode": "chose",
                            "label": "תאריך יצירה"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:surense",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "quickFilter",
                        "type": "text",
                        "label": "חיפוש מהיר"
                    },
                    {
                        "name": "order",
                        "type": "select",
                        "label": "סדר",
                        "required": true,
                        "validate": {
                            "enum": [
                                "asc",
                                "desc"
                            ]
                        }
                    },
                    {
                        "name": "orderBy",
                        "type": "select",
                        "label": "מיון לפי",
                        "required": true,
                        "validate": {
                            "enum": [
                                "createdDate",
                                "lastActivityDate"
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "type": "number",
                        "label": "מספר תוצאות",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "builtin:BasicAggregator",
            "version": 1,
            "parameters": {
                "feeder": 2
            },
            "filter": {
                "name": "Keep only created ≥ now-24h",
                "conditions": [
                    [
                        {
                            "a": "{{parseDate(; )}}",
                            "o": "text:equal",
                            "b": "{{addHours(now; -24)}}"
                        }
                    ]
                ]
            },
            "mapper": {
                "createdDate": "{{2.createdDate}}",
                "id": "{{2.id}}",
                "fullName": "{{2.fullName}}",
                "phoneNumber1": "{{2.phoneNumber1}}",
                "email": "{{2.email}}",
                "tags": "{{2.tags}}",
                "customFields": "{{2.customFields}}"
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0,
                    "name": "TL: Map leads to portal DTO"
                },
                "restore": {
                    "extra": {
                        "feeder": {
                            "label": "SR: Search Leads (last 24h) - Search Leads [2]"
                        },
                        "target": {
                            "label": "Custom"
                        }
                    }
                }
            }
        },
        {
            "id": 5,
            "module": "gateway:WebhookRespond",
            "version": 1,
            "parameters": {},
            "mapper": {
                "status": "200",
                "body": "{\n  \"leads\": 3\n}",
                "headers": []
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 0,
                    "name": "WH: Return leads to portal"
                },
                "restore": {
                    "expect": {
                        "headers": {
                            "mode": "chose"
                        }
                    }
                },
                "expect": [
                    {
                        "name": "status",
                        "type": "uinteger",
                        "label": "Status",
                        "validate": {
                            "min": 100
                        },
                        "required": true
                    },
                    {
                        "name": "body",
                        "type": "any",
                        "label": "Body"
                    },
                    {
                        "name": "headers",
                        "type": "array",
                        "label": "Custom headers",
                        "validate": {
                            "maxItems": 16
                        },
                        "spec": [
                            {
                                "name": "key",
                                "label": "Key",
                                "type": "text",
                                "required": true,
                                "validate": {
                                    "max": 256
                                }
                            },
                            {
                                "name": "value",
                                "label": "Value",
                                "type": "text",
                                "required": true,
                                "validate": {
                                    "max": 4096
                                }
                            }
                        ]
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us2.make.com",
        "notes": []
    }
}