apps/web/superseller-site/n8n/templates/U6EZ2iLQ4zCGg31H.json
{"updatedAt":"2026-01-02T04:39:53.152Z","createdAt":"2025-12-26T19:46:59.821Z","id":"U6EZ2iLQ4zCGg31H","name":"UAD Garage Doors Facebook Marketplace Audio Lead Analysis","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"method":"POST","url":"https://api.workiz.com/api/v1/lead/create/","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Workiz-Api-Token","value":"api_uj4t1r0msb2ci@q8xkzcm3aw13yjxomd8"},{"name":"Workiz-Api-Secret","value":"sec_2588677273239269210546263"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"first_name","value":"={{ ($json.customerName || 'Unknown').split(' ')[0] }}"},{"name":"last_name","value":"={{ ($json.customerName || '').split(' ').slice(1).join(' ') }}"},{"name":"phone","value":"={{ $json.customerPhoneNumber || $json.callerPhoneNumber || '' }}"},{"name":"address","value":"={{ $json.customerAddress || '' }}"},{"name":"job_type","value":"={{ $json.category === 'installation' ? 'Garage Door Installation' : 'Garage Door Repair' }}"},{"name":"job_source","value":"Facebook Marketplace"},{"name":"job_description","value":"={{ 'LEAD FROM AI CALL ANALYSIS\\n\\n' + 'Priority: ' + ($json.priority || 'N/A') + '\\n' + 'Sentiment: ' + ($json.sentiment || 'N/A') + '\\n' + 'Preferred Time: ' + ($json.appointmentTime || 'Not specified') + '\\n\\n' + 'Issues: ' + (($json.garageDoorIssues || []).join(', ') || 'N/A') + '\\n\\n' + 'Key Points: ' + (($json.keyPoints || []).join(', ') || 'N/A') + '\\n\\n' + 'Action Items: ' + (($json.actionItems || []).join(', ') || 'N/A') }}"}]},"options":{"response":{"response":{"neverError":true}}}},"id":"adbb5d1f-6bb0-4fa2-859d-c8fc5d42dfb8","name":"Workiz Create Lead","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[10016,4464]},{"parameters":{"httpMethod":"POST","path":"telnyx-call","responseMode":"lastNode","options":{"rawBody":true}},"id":"a28ab161-0669-4098-ad65-a695abdcd09c","name":"Receive WAV Files1","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[8544,4080],"webhookId":"0bd76568-ef83-4ec3-aff3-bf3e97c2572e"},{"parameters":{"assignments":{"assignments":[{"id":"id-1","name":"minConfidenceScore","value":0.7,"type":"number"},{"id":"id-2","name":"priorityKeywords","value":"urgent,critical,important,emergency","type":"string"},{"id":"id-3","name":"emailRecipient","value":"<__PLACEHOLDER_VALUE__Email recipient address__>","type":"string"}]},"includeOtherFields":true,"options":{}},"id":"f5b3e3bf-0294-4c2d-8504-d347a45939e5","name":"Workflow Configuration1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[8768,4176]},{"parameters":{"conditions":{"options":{"version":3,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"id-3","leftValue":"={{ $json.audioFile.mimetype }}","rightValue":"audio/wav","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"id":"59ca635e-85c6-46ad-97f9-a71062389722","name":"Check File Type1","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[8992,4176]},{"parameters":{"promptType":"define","text":"=Analyze this Telnyx conversation insight data and extract lead information.\n\nThe input contains conversation insights from Telnyx AI with a summary of the call.\n\nExtract the following from the conversation_insights result field:\n- Customer phone number (from the summary or metadata.from field)\n- Service address (look for address mentions in the summary)\n- Customer name\n- Appointment time\n- Garage door issues mentioned\n- Call outcome\n\nInput data:\n{{ JSON.stringify($json, null, 2) }}\n\n**IMPORTANT: You MUST respond with ONLY a valid JSON object matching the schema. No explanations, no markdown code blocks, just the raw JSON.**","hasOutputParser":true,"options":{"maxIterations":10,"returnIntermediateSteps":false}},"id":"fa2a23b4-8eee-4f74-8616-f8f6bc0c16be","name":"Analyze and Categorize Audio1","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[9440,4464]},{"parameters":{"model":{"__rl":true,"value":"claude-sonnet-4-5-20250929","mode":"list","cachedResultName":"Claude Sonnet 4.5"},"options":{}},"id":"1fc10ac0-c308-4826-a7b1-825da878783e","name":"Anthropic Claude1","type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[9424,4688],"credentials":{"anthropicApi":{"id":"Mi6bprya2ly47Vry","name":"szender"}}},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"topic\": {\n      \"type\": \"string\",\n      \"description\": \"Main topic or reason for the call\"\n    },\n    \"customerPhoneNumber\": {\n      \"type\": \"string\",\n      \"description\": \"Customer phone number - CRITICAL field\"\n    },\n    \"customerAddress\": {\n      \"type\": \"string\", \n      \"description\": \"Full service address - CRITICAL field\"\n    },\n    \"customerName\": {\n      \"type\": \"string\",\n      \"description\": \"Customer full name\"\n    },\n    \"appointmentTime\": {\n      \"type\": \"string\",\n      \"description\": \"Scheduled or preferred appointment time\"\n    },\n    \"garageDoorIssues\": {\n      \"type\": \"array\",\n      \"items\": {\"type\": \"string\"},\n      \"description\": \"List of garage door problems mentioned\"\n    },\n    \"keyPoints\": {\n      \"type\": \"array\",\n      \"items\": {\"type\": \"string\"},\n      \"description\": \"Key discussion points\"\n    },\n    \"sentiment\": {\n      \"type\": \"string\",\n      \"description\": \"Customer sentiment: positive, neutral, frustrated, urgent\"\n    },\n    \"priority\": {\n      \"type\": \"string\",\n      \"description\": \"Priority: high, medium, low\"\n    },\n    \"category\": {\n      \"type\": \"string\",\n      \"description\": \"Service type: repair, installation, replacement, maintenance, emergency\"\n    },\n    \"actionItems\": {\n      \"type\": \"array\",\n      \"items\": {\"type\": \"string\"},\n      \"description\": \"Follow-up actions needed\"\n    },\n    \"participants\": {\n      \"type\": \"array\",\n      \"items\": {\"type\": \"string\"},\n      \"description\": \"Call participants\"\n    },\n    \"confidenceScore\": {\n      \"type\": \"number\",\n      \"description\": \"Data extraction confidence 0-1\"\n    },\n    \"bookingOutcome\": {\n      \"type\": \"string\",\n      \"description\": \"Call result: booked, callback_requested, declined, incomplete\"\n    },\n    \"callerPhoneNumber\": {\n      \"type\": \"string\",\n      \"description\": \"Phone number that called in (from Telnyx caller ID)\"\n    },\n    \"callDuration\": {\n      \"type\": \"string\",\n      \"description\": \"Length of the call if available\"\n    },\n    \"missingInfo\": {\n      \"type\": \"array\",\n      \"items\": {\"type\": \"string\"},\n      \"description\": \"List of critical info that was NOT collected\"\n    }\n  },\n  \"required\": [\"customerPhoneNumber\", \"customerAddress\", \"bookingOutcome\"]\n}"},"id":"a5619812-f055-4b4b-92b4-ab4bcd43651b","name":"Structure Analysis Output1","type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[9584,4688]},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":false,"typeValidation":"loose"},"conditions":[{"id":"id-1","leftValue":"={{ $json.customerPhoneNumber && $json.customerPhoneNumber !== 'NOT PROVIDED' && $json.customerPhoneNumber.trim() !== '' }}","rightValue":"=true","operator":{"type":"boolean","operation":"equals"}},{"id":"id-2","leftValue":"={{ $json.customerAddress && $json.customerAddress !== 'NOT PROVIDED' && $json.customerAddress.trim() !== '' }}","rightValue":"=true","operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"d87938f9-b31f-471e-b355-bb4c5da58c7c","name":"Filter by Priority1","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[10240,4464]},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"output","options":{}},"id":"e871113a-3581-4750-9054-a6c70c7a0731","name":"Sort and Aggregate Results1","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[10464,4464]},{"parameters":{"assignments":{"assignments":[{"id":"id-1","name":"emailSubject","value":"=New Lead: {{ $json.output[0].topic || 'Audio Transcription Analysis' }} - Facebook Marketplace","type":"string"},{"id":"id-2","name":"emailBody","value":"=<html>\n<head>\n  <style>\n    body { font-family: Arial, sans-serif; line-height: 1.6; color: #333; margin: 0; padding: 0; background-color: #f5f5f5; }\n    .container { max-width: 600px; margin: 0 auto; background-color: #ffffff; }\n    .header { background-color: #1a3a5c; color: white; padding: 20px; text-align: center; }\n    .logo-section { margin-bottom: 15px; }\n    .logo { max-width: 200px; height: auto; margin: 0 auto 15px; display: block; }\n    .company-name { font-size: 24px; font-weight: bold; color: white; margin: 10px 0; }\n    .tagline { font-size: 14px; color: #a0d468; margin-top: 5px; }\n    .lead-badge { background-color: #a0d468; color: white; padding: 8px 15px; border-radius: 20px; display: inline-block; font-size: 12px; font-weight: bold; margin-top: 10px; }\n    .content { padding: 30px 20px; }\n    .critical-info { background-color: #fff3cd; border: 3px solid #ffc107; padding: 20px; margin-bottom: 25px; border-radius: 8px; }\n    .critical-info-title { font-weight: bold; color: #d32f2f; margin-bottom: 15px; font-size: 20px; text-align: center; }\n    .critical-field { background-color: white; padding: 12px; margin: 10px 0; border-radius: 4px; border-left: 4px solid #d32f2f; }\n    .critical-field-label { font-weight: bold; color: #1a3a5c; margin-bottom: 5px; }\n    .critical-field-value { font-size: 18px; color: #d32f2f; font-weight: bold; }\n    .missing-field { background-color: #ffebee; border-left: 4px solid #d32f2f; }\n    .lead-info { background-color: #f8f9fa; border-left: 4px solid #a0d468; padding: 15px; margin-bottom: 25px; border-radius: 4px; }\n    .lead-info-title { font-weight: bold; color: #1a3a5c; margin-bottom: 10px; font-size: 16px; }\n    .lead-info-item { margin: 5px 0; color: #555; }\n    .attachment-note { background-color: #e3f2fd; border: 2px solid #a0d468; padding: 12px; border-radius: 8px; margin-top: 10px; text-align: center; color: #1a3a5c; font-size: 14px; }\n    .section { margin-bottom: 25px; border-left: 4px solid #a0d468; padding-left: 20px; }\n    .section-title { font-weight: bold; color: #1a3a5c; margin-bottom: 12px; font-size: 18px; }\n    .priority-high { color: #d32f2f; font-weight: bold; background-color: #ffebee; padding: 4px 8px; border-radius: 4px; display: inline-block; }\n    .priority-medium { color: #f57c00; font-weight: bold; background-color: #fff3e0; padding: 4px 8px; border-radius: 4px; display: inline-block; }\n    .priority-low { color: #388e3c; font-weight: bold; background-color: #e8f5e9; padding: 4px 8px; border-radius: 4px; display: inline-block; }\n    ul { margin: 8px 0; padding-left: 25px; }\n    li { margin: 6px 0; color: #555; }\n    .footer { background-color: #1a3a5c; color: white; padding: 20px; text-align: center; font-size: 12px; }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      <div class=\"logo-section\">\n        <img src=\"http://172.245.56.50/logo.svg\" alt=\"Up & Down Garage Door Services\" class=\"logo\" />\n        <div class=\"company-name\">Up & Down Garage Door Services</div>\n        <div class=\"tagline\">Reliable 24-Hour Garage Door Services</div>\n      </div>\n      <div class=\"lead-badge\">NEW LEAD - Facebook Marketplace</div>\n    </div>\n    <div class=\"content\">\n      <div class=\"critical-info\">\n        <div class=\"critical-info-title\">🚨 CRITICAL CONTACT INFORMATION</div>\n        <div class=\"critical-field {{ ($json.output[0].customerPhoneNumber && $json.output[0].customerPhoneNumber !== 'NOT PROVIDED') ? '' : 'missing-field' }}\">\n          <div class=\"critical-field-label\">📞 Customer Phone Number:</div>\n          <div class=\"critical-field-value\">{{ $json.output[0].customerPhoneNumber || 'NOT PROVIDED - URGENT: Follow up required!' }}</div>\n        </div>\n        <div class=\"critical-field {{ ($json.output[0].customerAddress && $json.output[0].customerAddress !== 'NOT PROVIDED') ? '' : 'missing-field' }}\">\n          <div class=\"critical-field-label\">📍 Service Address:</div>\n          <div class=\"critical-field-value\">{{ $json.output[0].customerAddress || 'NOT PROVIDED - URGENT: Follow up required!' }}</div>\n        </div>\n        {{ $json.output[0].customerName ? '<div class=\"critical-field\"><div class=\"critical-field-label\">👤 Customer Name:</div><div class=\"critical-field-value\">' + $json.output[0].customerName + '</div></div>' : '' }}\n        {{ $json.output[0].appointmentTime ? '<div class=\"critical-field\"><div class=\"critical-field-label\">📅 Preferred Appointment Time:</div><div class=\"critical-field-value\">' + $json.output[0].appointmentTime + '</div></div>' : '' }}\n      </div>\n      <div class=\"lead-info\">\n        <div class=\"lead-info-title\">📋 Lead Information</div>\n        <div class=\"lead-info-item\"><strong>Source:</strong> Facebook Marketplace</div>\n        <div class=\"lead-info-item\"><strong>Profile:</strong> Shai Friedman</div>\n        <div class=\"lead-info-item\"><strong>Date:</strong> {{ $now.format('MMMM dd, yyyy') }}</div>\n        <div class=\"lead-info-item\"><strong>Service Type:</strong> {{ $json.output[0].category || 'N/A' }}</div>\n        <div class=\"lead-info-item\"><strong>Recording File:</strong> {{ $json.output[0].audioFileName || 'N/A' }}</div>\n        <div class=\"attachment-note\">\n          🎵 Audio recording attached to this email\n        </div>\n      </div>\n      {{ ($json.output[0].garageDoorIssues && $json.output[0].garageDoorIssues.length > 0) ? '<div class=\"section\"><div class=\"section-title\">🔧 Garage Door Issues</div><ul>' + ($json.output[0].garageDoorIssues || []).map(issue => '<li>' + issue + '</li>').join('') + '</ul></div>' : '' }}\n      <div class=\"section\">\n        <div class=\"section-title\">📞 Topic</div>\n        <p style=\"color: #555; font-size: 16px;\">{{ $json.output[0].topic || 'N/A' }}</p>\n      </div>\n      <div class=\"section\">\n        <div class=\"section-title\">⚡ Priority</div>\n        <p><span class=\"priority-{{ ($json.output[0].priority || 'low').toLowerCase() }}\">{{ $json.output[0].priority || 'N/A' }}</span></p>\n      </div>\n      <div class=\"section\">\n        <div class=\"section-title\">😊 Sentiment</div>\n        <p style=\"color: #555;\">{{ $json.output[0].sentiment || 'N/A' }}</p>\n      </div>\n      <div class=\"section\">\n        <div class=\"section-title\">🔑 Key Points</div>\n        <ul>\n          {{ ($json.output[0].keyPoints || []).map(point => '<li>' + point + '</li>').join('') }}\n        </ul>\n      </div>\n      <div class=\"section\">\n        <div class=\"section-title\">✅ Action Items</div>\n        <ul>\n          {{ ($json.output[0].actionItems || []).map(item => '<li>' + item + '</li>').join('') }}\n        </ul>\n      </div>\n      <div class=\"section\">\n        <div class=\"section-title\">👥 Participants</div>\n        <p style=\"color: #555;\">{{ ($json.output[0].participants || []).join(', ') || 'N/A' }}</p>\n      </div>\n    </div>\n    <div class=\"footer\">\n      <p>Up & Down Garage Door Services</p>\n      <p>Phone: 475-267-4105</p>\n    </div>\n  </div>\n</body>\n</html>","type":"string"}]},"options":{}},"id":"7bcf06d7-a852-4fcd-b619-7b976fae6ab2","name":"Format Email Content1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[10688,4464]},{"parameters":{"toRecipients":"=shai@superseller.agency","subject":"={{ $json.emailSubject }}","bodyContent":"={{ $json.emailBody }}","additionalFields":{"attachments":{"attachments":[{"binaryPropertyName":"audioFile"}]},"bodyContentType":"html"}},"id":"154b713e-267b-4226-9869-e51bc2cfc99f","name":"Send via Outlook1","type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[11136,4464],"webhookId":"8c670758-a2bf-492e-a165-f229f7b15351","credentials":{"microsoftOutlookOAuth2Api":{"id":"EA2Fl9QT5h2HZoo9","name":"superseller"}}},{"parameters":{"formTitle":"Upload Audio File for Transcription","formDescription":"Upload your WAV audio file to get AI-powered transcription and analysis","formFields":{"values":[{"fieldName":"audioFile","fieldLabel":"Audio File","fieldType":"file","multipleFiles":false,"acceptFileTypes":".wav, .mp3, .m4a","requiredField":true}]},"options":{"buttonLabel":"Upload and Analyze"}},"id":"44a15978-123a-4f01-aead-74857174058a","name":"Upload Audio Form1","type":"n8n-nodes-base.formTrigger","typeVersion":2.4,"position":[8544,4272],"webhookId":"c7126236-a8af-4890-89e7-74d3dfa432ea"},{"parameters":{"assignments":{"assignments":[{"id":"id-1","name":"topic","value":"={{ $json.output.topic }}","type":"string"},{"id":"id-2","name":"customerPhoneNumber","value":"={{ $json.output.customerPhoneNumber }}","type":"string"},{"id":"id-3","name":"customerAddress","value":"={{ $json.output.customerAddress }}","type":"string"},{"id":"id-4","name":"customerName","value":"={{ $json.output.customerName }}","type":"string"},{"id":"id-5","name":"appointmentTime","value":"={{ $json.output.appointmentTime }}","type":"string"},{"id":"id-6","name":"garageDoorIssues","value":"={{ $json.output.garageDoorIssues }}","type":"array"},{"id":"id-7","name":"keyPoints","value":"={{ $json.output.keyPoints }}","type":"array"},{"id":"id-8","name":"sentiment","value":"={{ $json.output.sentiment }}","type":"string"},{"id":"id-9","name":"priority","value":"={{ $json.output.priority }}","type":"string"},{"id":"id-10","name":"category","value":"={{ $json.output.category }}","type":"string"},{"id":"id-11","name":"actionItems","value":"={{ $json.output.actionItems }}","type":"array"},{"id":"id-12","name":"participants","value":"={{ $json.output.participants }}","type":"array"},{"id":"id-13","name":"confidenceScore","value":"={{ $json.output.confidenceScore }}","type":"number"},{"id":"id-14","name":"audioFileName","value":"={{ $('Workflow Configuration1').first().json.audioFile.filename || 'recording.wav' }}","type":"string"}]},"options":{}},"id":"84e05bba-65f2-4a33-96d7-44ff1b911cd9","name":"Flatten Analysis Output1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[9792,4464]},{"parameters":{"jsCode":"// Get binary from Workflow Configuration node\nconst workflowConfig = $('Workflow Configuration1').first();\nconst audioFileBinary = workflowConfig.binary?.audioFile;\n\n// Copy binary to current item\nif (audioFileBinary) {\n  items.forEach(item => {\n    if (!item.binary) item.binary = {};\n    item.binary.audioFile = audioFileBinary;\n  });\n}\n\nreturn items;"},"id":"8a0f2f3a-ea03-4eb0-a876-f6bf8f15fe8f","name":"Copy Binary for Attachment1","type":"n8n-nodes-base.code","typeVersion":2,"position":[10912,4464]},{"parameters":{"httpMethod":"POST","path":"telnyx-call","responseMode":"lastNode","options":{}},"id":"f41ff404-9176-4641-97b1-9bb36c48a2d8","name":"Receive Telnyx Call1","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[9216,4656],"webhookId":"f0bd2992-a469-4c61-b2a8-cd9b5db1b021"},{"parameters":{"resource":"voice","operation":"speechToText","file":{"__rl":true,"mode":"file","value":"data"},"additionalOptions":{},"requestOptions":{}},"id":"155fe7d7-47f5-43d9-b2fe-dbab4bb399dc","name":"Transcribe with Telnyx1","type":"@telnyx/n8n-nodes-telnyx-ai.telnyxAi","typeVersion":1,"position":[9216,4176],"credentials":{"telnyxApi":{"id":"41YZEWKS7NoLVpXx","name":"uadgaragedoors"}}},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":15}]}},"id":"f991c307-a8ca-43db-b55c-1dc75d20c9ae","name":"Check for New Calls Every 15 Min1","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[8768,4368]},{"parameters":{"resource":"conversations","filters":{"metadata_assistant_id":{"__rl":true,"value":"assistant-5515bf13-529f-48ca-91a2-511e63e91f85","mode":"list","cachedResultName":"assistant-5515bf13-529f-48ca-91a2-511e63e91f85"}},"requestOptions":{}},"id":"c3642afe-2739-43d6-bcbb-1c439b054b7c","name":"Get Many Conversations1","type":"@telnyx/n8n-nodes-telnyx-ai.telnyxAi","typeVersion":1,"position":[8992,4464],"credentials":{"telnyxApi":{"id":"41YZEWKS7NoLVpXx","name":"uadgaragedoors"}}},{"parameters":{"resource":"conversations","operation":"getConversationInsights","conversationId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"requestOptions":{}},"id":"a490ec98-32ed-4e83-bcf3-26d678e6219c","name":"Get Insights for Conversation1","type":"@telnyx/n8n-nodes-telnyx-ai.telnyxAi","typeVersion":1,"position":[9216,4464],"credentials":{"telnyxApi":{"id":"41YZEWKS7NoLVpXx","name":"uadgaragedoors"}}},{"parameters":{"path":"trigger-telnyx-analysis","responseMode":"lastNode","options":{}},"id":"adb26f0e-f8c4-46e5-9f1d-e5134142feda","name":"Manual Trigger for Telnyx1","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[8768,4560],"webhookId":"6c14ca87-2626-468c-8896-c96352b3e409"}],"connections":{"Workiz Create Lead":{"main":[[{"node":"Filter by Priority1","type":"main","index":0}]]},"Receive WAV Files1":{"main":[[{"node":"Workflow Configuration1","type":"main","index":0}]]},"Workflow Configuration1":{"main":[[{"node":"Check File Type1","type":"main","index":0}]]},"Check File Type1":{"main":[[{"node":"Transcribe with Telnyx1","type":"main","index":0}]]},"Analyze and Categorize Audio1":{"main":[[{"node":"Flatten Analysis Output1","type":"main","index":0}]]},"Anthropic Claude1":{"ai_languageModel":[[{"node":"Analyze and Categorize Audio1","type":"ai_languageModel","index":0}]]},"Structure Analysis Output1":{"ai_outputParser":[[{"node":"Analyze and Categorize Audio1","type":"ai_outputParser","index":0}]]},"Filter by Priority1":{"main":[[{"node":"Sort and Aggregate Results1","type":"main","index":0}]]},"Sort and Aggregate Results1":{"main":[[{"node":"Format Email Content1","type":"main","index":0}]]},"Format Email Content1":{"main":[[{"node":"Copy Binary for Attachment1","type":"main","index":0}]]},"Upload Audio Form1":{"main":[[{"node":"Workflow Configuration1","type":"main","index":0}]]},"Flatten Analysis Output1":{"main":[[{"node":"Workiz Create Lead","type":"main","index":0}]]},"Copy Binary for Attachment1":{"main":[[{"node":"Send via Outlook1","type":"main","index":0}]]},"Receive Telnyx Call1":{"main":[[{"node":"Analyze and Categorize Audio1","type":"main","index":0}]]},"Transcribe with Telnyx1":{"main":[[{"node":"Analyze and Categorize Audio1","type":"main","index":0}]]},"Check for New Calls Every 15 Min1":{"main":[[{"node":"Get Many Conversations1","type":"main","index":0}]]},"Get Many Conversations1":{"main":[[{"node":"Get Insights for Conversation1","type":"main","index":0}]]},"Get Insights for Conversation1":{"main":[[{"node":"Analyze and Categorize Audio1","type":"main","index":0}]]},"Manual Trigger for Telnyx1":{"main":[[{"node":"Get Many Conversations1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":true,"timeSavedMode":"fixed","callerPolicy":"workflowsFromSameOwner"},"staticData":{"node:Check for New Calls Every 15 Min":{"recurrenceRules":[]},"node:Check for New Calls Every 15 Min1":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"b4a87bbd-ffd6-4b7b-909f-72a8349ec45c","activeVersionId":"b4a87bbd-ffd6-4b7b-909f-72a8349ec45c","versionCounter":274,"triggerCount":5,"shared":[{"updatedAt":"2025-12-26T19:46:59.826Z","createdAt":"2025-12-26T19:46:59.826Z","role":"workflow:owner","workflowId":"U6EZ2iLQ4zCGg31H","projectId":"6L20DLwgKEB5r0rn","project":{"updatedAt":"2025-11-12T01:28:20.899Z","createdAt":"2025-11-12T01:28:20.899Z","id":"6L20DLwgKEB5r0rn","name":"Unnamed Project","type":"personal","icon":null,"description":null,"creatorId":"0b4a3251-26f6-4617-bcf9-e07f3ca968a7","projectRelations":[{"updatedAt":"2025-11-12T01:28:20.899Z","createdAt":"2025-11-12T01:28:20.899Z","userId":"0b4a3251-26f6-4617-bcf9-e07f3ca968a7","projectId":"6L20DLwgKEB5r0rn","user":{"updatedAt":"2026-01-14T06:00:01.000Z","createdAt":"2025-11-12T01:28:20.421Z","id":"0b4a3251-26f6-4617-bcf9-e07f3ca968a7","email":"shai@superseller.agency","firstName":"Service","lastName":"SuperSeller AI","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-11-12T02:46:44.970Z","personalization_survey_n8n_version":"1.119.1","companyIndustryExtended":["marketing-industry"],"companySize":"<20","companyType":"other","role":"business-owner","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-01-14","isPending":false}}]}}],"tags":[{"updatedAt":"2025-12-23T05:11:46.666Z","createdAt":"2025-12-23T05:11:46.666Z","id":"1Ao2peGnVNTxvYS1","name":"facebook marketplace"},{"updatedAt":"2025-12-23T05:11:28.920Z","createdAt":"2025-12-23T05:11:28.920Z","id":"iLdoxl12wjdRHrRz","name":"szender"}],"activeVersion":{"updatedAt":"2026-01-02T04:39:55.000Z","createdAt":"2026-01-02T04:39:53.154Z","versionId":"b4a87bbd-ffd6-4b7b-909f-72a8349ec45c","workflowId":"U6EZ2iLQ4zCGg31H","nodes":[{"parameters":{"method":"POST","url":"https://api.workiz.com/api/v1/lead/create/","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Workiz-Api-Token","value":"api_uj4t1r0msb2ci@q8xkzcm3aw13yjxomd8"},{"name":"Workiz-Api-Secret","value":"sec_2588677273239269210546263"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"first_name","value":"={{ ($json.customerName || 'Unknown').split(' ')[0] }}"},{"name":"last_name","value":"={{ ($json.customerName || '').split(' ').slice(1).join(' ') }}"},{"name":"phone","value":"={{ $json.customerPhoneNumber || $json.callerPhoneNumber || '' }}"},{"name":"address","value":"={{ $json.customerAddress || '' }}"},{"name":"job_type","value":"={{ $json.category === 'installation' ? 'Garage Door Installation' : 'Garage Door Repair' }}"},{"name":"job_source","value":"Facebook Marketplace"},{"name":"job_description","value":"={{ 'LEAD FROM AI CALL ANALYSIS\\n\\n' + 'Priority: ' + ($json.priority || 'N/A') + '\\n' + 'Sentiment: ' + ($json.sentiment || 'N/A') + '\\n' + 'Preferred Time: ' + ($json.appointmentTime || 'Not specified') + '\\n\\n' + 'Issues: ' + (($json.garageDoorIssues || []).join(', ') || 'N/A') + '\\n\\n' + 'Key Points: ' + (($json.keyPoints || []).join(', ') || 'N/A') + '\\n\\n' + 'Action Items: ' + (($json.actionItems || []).join(', ') || 'N/A') }}"}]},"options":{"response":{"response":{"neverError":true}}}},"id":"adbb5d1f-6bb0-4fa2-859d-c8fc5d42dfb8","name":"Workiz Create Lead","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[10016,4464]},{"parameters":{"httpMethod":"POST","path":"telnyx-call","responseMode":"lastNode","options":{"rawBody":true}},"id":"a28ab161-0669-4098-ad65-a695abdcd09c","name":"Receive WAV Files1","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[8544,4080],"webhookId":"0bd76568-ef83-4ec3-aff3-bf3e97c2572e"},{"parameters":{"assignments":{"assignments":[{"id":"id-1","name":"minConfidenceScore","value":0.7,"type":"number"},{"id":"id-2","name":"priorityKeywords","value":"urgent,critical,important,emergency","type":"string"},{"id":"id-3","name":"emailRecipient","value":"<__PLACEHOLDER_VALUE__Email recipient address__>","type":"string"}]},"includeOtherFields":true,"options":{}},"id":"f5b3e3bf-0294-4c2d-8504-d347a45939e5","name":"Workflow Configuration1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[8768,4176]},{"parameters":{"conditions":{"options":{"version":3,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"id-3","leftValue":"={{ $json.audioFile.mimetype }}","rightValue":"audio/wav","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"id":"59ca635e-85c6-46ad-97f9-a71062389722","name":"Check File Type1","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[8992,4176]},{"parameters":{"promptType":"define","text":"=Analyze this Telnyx conversation insight data and extract lead information.\n\nThe input contains conversation insights from Telnyx AI with a summary of the call.\n\nExtract the following from the conversation_insights result field:\n- Customer phone number (from the summary or metadata.from field)\n- Service address (look for address mentions in the summary)\n- Customer name\n- Appointment time\n- Garage door issues mentioned\n- Call outcome\n\nInput data:\n{{ JSON.stringify($json, null, 2) }}\n\n**IMPORTANT: You MUST respond with ONLY a valid JSON object matching the schema. No explanations, no markdown code blocks, just the raw JSON.**","hasOutputParser":true,"options":{"maxIterations":10,"returnIntermediateSteps":false}},"id":"fa2a23b4-8eee-4f74-8616-f8f6bc0c16be","name":"Analyze and Categorize Audio1","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[9440,4464]},{"parameters":{"model":{"__rl":true,"value":"claude-sonnet-4-5-20250929","mode":"list","cachedResultName":"Claude Sonnet 4.5"},"options":{}},"id":"1fc10ac0-c308-4826-a7b1-825da878783e","name":"Anthropic Claude1","type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[9424,4688],"credentials":{"anthropicApi":{"id":"Mi6bprya2ly47Vry","name":"szender"}}},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"topic\": {\n      \"type\": \"string\",\n      \"description\": \"Main topic or reason for the call\"\n    },\n    \"customerPhoneNumber\": {\n      \"type\": \"string\",\n      \"description\": \"Customer phone number - CRITICAL field\"\n    },\n    \"customerAddress\": {\n      \"type\": \"string\", \n      \"description\": \"Full service address - CRITICAL field\"\n    },\n    \"customerName\": {\n      \"type\": \"string\",\n      \"description\": \"Customer full name\"\n    },\n    \"appointmentTime\": {\n      \"type\": \"string\",\n      \"description\": \"Scheduled or preferred appointment time\"\n    },\n    \"garageDoorIssues\": {\n      \"type\": \"array\",\n      \"items\": {\"type\": \"string\"},\n      \"description\": \"List of garage door problems mentioned\"\n    },\n    \"keyPoints\": {\n      \"type\": \"array\",\n      \"items\": {\"type\": \"string\"},\n      \"description\": \"Key discussion points\"\n    },\n    \"sentiment\": {\n      \"type\": \"string\",\n      \"description\": \"Customer sentiment: positive, neutral, frustrated, urgent\"\n    },\n    \"priority\": {\n      \"type\": \"string\",\n      \"description\": \"Priority: high, medium, low\"\n    },\n    \"category\": {\n      \"type\": \"string\",\n      \"description\": \"Service type: repair, installation, replacement, maintenance, emergency\"\n    },\n    \"actionItems\": {\n      \"type\": \"array\",\n      \"items\": {\"type\": \"string\"},\n      \"description\": \"Follow-up actions needed\"\n    },\n    \"participants\": {\n      \"type\": \"array\",\n      \"items\": {\"type\": \"string\"},\n      \"description\": \"Call participants\"\n    },\n    \"confidenceScore\": {\n      \"type\": \"number\",\n      \"description\": \"Data extraction confidence 0-1\"\n    },\n    \"bookingOutcome\": {\n      \"type\": \"string\",\n      \"description\": \"Call result: booked, callback_requested, declined, incomplete\"\n    },\n    \"callerPhoneNumber\": {\n      \"type\": \"string\",\n      \"description\": \"Phone number that called in (from Telnyx caller ID)\"\n    },\n    \"callDuration\": {\n      \"type\": \"string\",\n      \"description\": \"Length of the call if available\"\n    },\n    \"missingInfo\": {\n      \"type\": \"array\",\n      \"items\": {\"type\": \"string\"},\n      \"description\": \"List of critical info that was NOT collected\"\n    }\n  },\n  \"required\": [\"customerPhoneNumber\", \"customerAddress\", \"bookingOutcome\"]\n}"},"id":"a5619812-f055-4b4b-92b4-ab4bcd43651b","name":"Structure Analysis Output1","type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[9584,4688]},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":false,"typeValidation":"loose"},"conditions":[{"id":"id-1","leftValue":"={{ $json.customerPhoneNumber && $json.customerPhoneNumber !== 'NOT PROVIDED' && $json.customerPhoneNumber.trim() !== '' }}","rightValue":"=true","operator":{"type":"boolean","operation":"equals"}},{"id":"id-2","leftValue":"={{ $json.customerAddress && $json.customerAddress !== 'NOT PROVIDED' && $json.customerAddress.trim() !== '' }}","rightValue":"=true","operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"d87938f9-b31f-471e-b355-bb4c5da58c7c","name":"Filter by Priority1","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[10240,4464]},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"output","options":{}},"id":"e871113a-3581-4750-9054-a6c70c7a0731","name":"Sort and Aggregate Results1","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[10464,4464]},{"parameters":{"assignments":{"assignments":[{"id":"id-1","name":"emailSubject","value":"=New Lead: {{ $json.output[0].topic || 'Audio Transcription Analysis' }} - Facebook Marketplace","type":"string"},{"id":"id-2","name":"emailBody","value":"=<html>\n<head>\n  <style>\n    body { font-family: Arial, sans-serif; line-height: 1.6; color: #333; margin: 0; padding: 0; background-color: #f5f5f5; }\n    .container { max-width: 600px; margin: 0 auto; background-color: #ffffff; }\n    .header { background-color: #1a3a5c; color: white; padding: 20px; text-align: center; }\n    .logo-section { margin-bottom: 15px; }\n    .logo { max-width: 200px; height: auto; margin: 0 auto 15px; display: block; }\n    .company-name { font-size: 24px; font-weight: bold; color: white; margin: 10px 0; }\n    .tagline { font-size: 14px; color: #a0d468; margin-top: 5px; }\n    .lead-badge { background-color: #a0d468; color: white; padding: 8px 15px; border-radius: 20px; display: inline-block; font-size: 12px; font-weight: bold; margin-top: 10px; }\n    .content { padding: 30px 20px; }\n    .critical-info { background-color: #fff3cd; border: 3px solid #ffc107; padding: 20px; margin-bottom: 25px; border-radius: 8px; }\n    .critical-info-title { font-weight: bold; color: #d32f2f; margin-bottom: 15px; font-size: 20px; text-align: center; }\n    .critical-field { background-color: white; padding: 12px; margin: 10px 0; border-radius: 4px; border-left: 4px solid #d32f2f; }\n    .critical-field-label { font-weight: bold; color: #1a3a5c; margin-bottom: 5px; }\n    .critical-field-value { font-size: 18px; color: #d32f2f; font-weight: bold; }\n    .missing-field { background-color: #ffebee; border-left: 4px solid #d32f2f; }\n    .lead-info { background-color: #f8f9fa; border-left: 4px solid #a0d468; padding: 15px; margin-bottom: 25px; border-radius: 4px; }\n    .lead-info-title { font-weight: bold; color: #1a3a5c; margin-bottom: 10px; font-size: 16px; }\n    .lead-info-item { margin: 5px 0; color: #555; }\n    .attachment-note { background-color: #e3f2fd; border: 2px solid #a0d468; padding: 12px; border-radius: 8px; margin-top: 10px; text-align: center; color: #1a3a5c; font-size: 14px; }\n    .section { margin-bottom: 25px; border-left: 4px solid #a0d468; padding-left: 20px; }\n    .section-title { font-weight: bold; color: #1a3a5c; margin-bottom: 12px; font-size: 18px; }\n    .priority-high { color: #d32f2f; font-weight: bold; background-color: #ffebee; padding: 4px 8px; border-radius: 4px; display: inline-block; }\n    .priority-medium { color: #f57c00; font-weight: bold; background-color: #fff3e0; padding: 4px 8px; border-radius: 4px; display: inline-block; }\n    .priority-low { color: #388e3c; font-weight: bold; background-color: #e8f5e9; padding: 4px 8px; border-radius: 4px; display: inline-block; }\n    ul { margin: 8px 0; padding-left: 25px; }\n    li { margin: 6px 0; color: #555; }\n    .footer { background-color: #1a3a5c; color: white; padding: 20px; text-align: center; font-size: 12px; }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      <div class=\"logo-section\">\n        <img src=\"http://172.245.56.50/logo.svg\" alt=\"Up & Down Garage Door Services\" class=\"logo\" />\n        <div class=\"company-name\">Up & Down Garage Door Services</div>\n        <div class=\"tagline\">Reliable 24-Hour Garage Door Services</div>\n      </div>\n      <div class=\"lead-badge\">NEW LEAD - Facebook Marketplace</div>\n    </div>\n    <div class=\"content\">\n      <div class=\"critical-info\">\n        <div class=\"critical-info-title\">🚨 CRITICAL CONTACT INFORMATION</div>\n        <div class=\"critical-field {{ ($json.output[0].customerPhoneNumber && $json.output[0].customerPhoneNumber !== 'NOT PROVIDED') ? '' : 'missing-field' }}\">\n          <div class=\"critical-field-label\">📞 Customer Phone Number:</div>\n          <div class=\"critical-field-value\">{{ $json.output[0].customerPhoneNumber || 'NOT PROVIDED - URGENT: Follow up required!' }}</div>\n        </div>\n        <div class=\"critical-field {{ ($json.output[0].customerAddress && $json.output[0].customerAddress !== 'NOT PROVIDED') ? '' : 'missing-field' }}\">\n          <div class=\"critical-field-label\">📍 Service Address:</div>\n          <div class=\"critical-field-value\">{{ $json.output[0].customerAddress || 'NOT PROVIDED - URGENT: Follow up required!' }}</div>\n        </div>\n        {{ $json.output[0].customerName ? '<div class=\"critical-field\"><div class=\"critical-field-label\">👤 Customer Name:</div><div class=\"critical-field-value\">' + $json.output[0].customerName + '</div></div>' : '' }}\n        {{ $json.output[0].appointmentTime ? '<div class=\"critical-field\"><div class=\"critical-field-label\">📅 Preferred Appointment Time:</div><div class=\"critical-field-value\">' + $json.output[0].appointmentTime + '</div></div>' : '' }}\n      </div>\n      <div class=\"lead-info\">\n        <div class=\"lead-info-title\">📋 Lead Information</div>\n        <div class=\"lead-info-item\"><strong>Source:</strong> Facebook Marketplace</div>\n        <div class=\"lead-info-item\"><strong>Profile:</strong> Shai Friedman</div>\n        <div class=\"lead-info-item\"><strong>Date:</strong> {{ $now.format('MMMM dd, yyyy') }}</div>\n        <div class=\"lead-info-item\"><strong>Service Type:</strong> {{ $json.output[0].category || 'N/A' }}</div>\n        <div class=\"lead-info-item\"><strong>Recording File:</strong> {{ $json.output[0].audioFileName || 'N/A' }}</div>\n        <div class=\"attachment-note\">\n          🎵 Audio recording attached to this email\n        </div>\n      </div>\n      {{ ($json.output[0].garageDoorIssues && $json.output[0].garageDoorIssues.length > 0) ? '<div class=\"section\"><div class=\"section-title\">🔧 Garage Door Issues</div><ul>' + ($json.output[0].garageDoorIssues || []).map(issue => '<li>' + issue + '</li>').join('') + '</ul></div>' : '' }}\n      <div class=\"section\">\n        <div class=\"section-title\">📞 Topic</div>\n        <p style=\"color: #555; font-size: 16px;\">{{ $json.output[0].topic || 'N/A' }}</p>\n      </div>\n      <div class=\"section\">\n        <div class=\"section-title\">⚡ Priority</div>\n        <p><span class=\"priority-{{ ($json.output[0].priority || 'low').toLowerCase() }}\">{{ $json.output[0].priority || 'N/A' }}</span></p>\n      </div>\n      <div class=\"section\">\n        <div class=\"section-title\">😊 Sentiment</div>\n        <p style=\"color: #555;\">{{ $json.output[0].sentiment || 'N/A' }}</p>\n      </div>\n      <div class=\"section\">\n        <div class=\"section-title\">🔑 Key Points</div>\n        <ul>\n          {{ ($json.output[0].keyPoints || []).map(point => '<li>' + point + '</li>').join('') }}\n        </ul>\n      </div>\n      <div class=\"section\">\n        <div class=\"section-title\">✅ Action Items</div>\n        <ul>\n          {{ ($json.output[0].actionItems || []).map(item => '<li>' + item + '</li>').join('') }}\n        </ul>\n      </div>\n      <div class=\"section\">\n        <div class=\"section-title\">👥 Participants</div>\n        <p style=\"color: #555;\">{{ ($json.output[0].participants || []).join(', ') || 'N/A' }}</p>\n      </div>\n    </div>\n    <div class=\"footer\">\n      <p>Up & Down Garage Door Services</p>\n      <p>Phone: 475-267-4105</p>\n    </div>\n  </div>\n</body>\n</html>","type":"string"}]},"options":{}},"id":"7bcf06d7-a852-4fcd-b619-7b976fae6ab2","name":"Format Email Content1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[10688,4464]},{"parameters":{"toRecipients":"=shai@superseller.agency","subject":"={{ $json.emailSubject }}","bodyContent":"={{ $json.emailBody }}","additionalFields":{"attachments":{"attachments":[{"binaryPropertyName":"audioFile"}]},"bodyContentType":"html"}},"id":"154b713e-267b-4226-9869-e51bc2cfc99f","name":"Send via Outlook1","type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[11136,4464],"webhookId":"8c670758-a2bf-492e-a165-f229f7b15351","credentials":{"microsoftOutlookOAuth2Api":{"id":"EA2Fl9QT5h2HZoo9","name":"superseller"}}},{"parameters":{"formTitle":"Upload Audio File for Transcription","formDescription":"Upload your WAV audio file to get AI-powered transcription and analysis","formFields":{"values":[{"fieldName":"audioFile","fieldLabel":"Audio File","fieldType":"file","multipleFiles":false,"acceptFileTypes":".wav, .mp3, .m4a","requiredField":true}]},"options":{"buttonLabel":"Upload and Analyze"}},"id":"44a15978-123a-4f01-aead-74857174058a","name":"Upload Audio Form1","type":"n8n-nodes-base.formTrigger","typeVersion":2.4,"position":[8544,4272],"webhookId":"c7126236-a8af-4890-89e7-74d3dfa432ea"},{"parameters":{"assignments":{"assignments":[{"id":"id-1","name":"topic","value":"={{ $json.output.topic }}","type":"string"},{"id":"id-2","name":"customerPhoneNumber","value":"={{ $json.output.customerPhoneNumber }}","type":"string"},{"id":"id-3","name":"customerAddress","value":"={{ $json.output.customerAddress }}","type":"string"},{"id":"id-4","name":"customerName","value":"={{ $json.output.customerName }}","type":"string"},{"id":"id-5","name":"appointmentTime","value":"={{ $json.output.appointmentTime }}","type":"string"},{"id":"id-6","name":"garageDoorIssues","value":"={{ $json.output.garageDoorIssues }}","type":"array"},{"id":"id-7","name":"keyPoints","value":"={{ $json.output.keyPoints }}","type":"array"},{"id":"id-8","name":"sentiment","value":"={{ $json.output.sentiment }}","type":"string"},{"id":"id-9","name":"priority","value":"={{ $json.output.priority }}","type":"string"},{"id":"id-10","name":"category","value":"={{ $json.output.category }}","type":"string"},{"id":"id-11","name":"actionItems","value":"={{ $json.output.actionItems }}","type":"array"},{"id":"id-12","name":"participants","value":"={{ $json.output.participants }}","type":"array"},{"id":"id-13","name":"confidenceScore","value":"={{ $json.output.confidenceScore }}","type":"number"},{"id":"id-14","name":"audioFileName","value":"={{ $('Workflow Configuration1').first().json.audioFile.filename || 'recording.wav' }}","type":"string"}]},"options":{}},"id":"84e05bba-65f2-4a33-96d7-44ff1b911cd9","name":"Flatten Analysis Output1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[9792,4464]},{"parameters":{"jsCode":"// Get binary from Workflow Configuration node\nconst workflowConfig = $('Workflow Configuration1').first();\nconst audioFileBinary = workflowConfig.binary?.audioFile;\n\n// Copy binary to current item\nif (audioFileBinary) {\n  items.forEach(item => {\n    if (!item.binary) item.binary = {};\n    item.binary.audioFile = audioFileBinary;\n  });\n}\n\nreturn items;"},"id":"8a0f2f3a-ea03-4eb0-a876-f6bf8f15fe8f","name":"Copy Binary for Attachment1","type":"n8n-nodes-base.code","typeVersion":2,"position":[10912,4464]},{"parameters":{"httpMethod":"POST","path":"telnyx-call","responseMode":"lastNode","options":{}},"id":"f41ff404-9176-4641-97b1-9bb36c48a2d8","name":"Receive Telnyx Call1","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[9216,4656],"webhookId":"f0bd2992-a469-4c61-b2a8-cd9b5db1b021"},{"parameters":{"resource":"voice","operation":"speechToText","file":{"__rl":true,"mode":"file","value":"data"},"additionalOptions":{},"requestOptions":{}},"id":"155fe7d7-47f5-43d9-b2fe-dbab4bb399dc","name":"Transcribe with Telnyx1","type":"@telnyx/n8n-nodes-telnyx-ai.telnyxAi","typeVersion":1,"position":[9216,4176],"credentials":{"telnyxApi":{"id":"41YZEWKS7NoLVpXx","name":"uadgaragedoors"}}},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":15}]}},"id":"f991c307-a8ca-43db-b55c-1dc75d20c9ae","name":"Check for New Calls Every 15 Min1","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[8768,4368]},{"parameters":{"resource":"conversations","filters":{"metadata_assistant_id":{"__rl":true,"value":"assistant-5515bf13-529f-48ca-91a2-511e63e91f85","mode":"list","cachedResultName":"assistant-5515bf13-529f-48ca-91a2-511e63e91f85"}},"requestOptions":{}},"id":"c3642afe-2739-43d6-bcbb-1c439b054b7c","name":"Get Many Conversations1","type":"@telnyx/n8n-nodes-telnyx-ai.telnyxAi","typeVersion":1,"position":[8992,4464],"credentials":{"telnyxApi":{"id":"41YZEWKS7NoLVpXx","name":"uadgaragedoors"}}},{"parameters":{"resource":"conversations","operation":"getConversationInsights","conversationId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"requestOptions":{}},"id":"a490ec98-32ed-4e83-bcf3-26d678e6219c","name":"Get Insights for Conversation1","type":"@telnyx/n8n-nodes-telnyx-ai.telnyxAi","typeVersion":1,"position":[9216,4464],"credentials":{"telnyxApi":{"id":"41YZEWKS7NoLVpXx","name":"uadgaragedoors"}}},{"parameters":{"path":"trigger-telnyx-analysis","responseMode":"lastNode","options":{}},"id":"adb26f0e-f8c4-46e5-9f1d-e5134142feda","name":"Manual Trigger for Telnyx1","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[8768,4560],"webhookId":"6c14ca87-2626-468c-8896-c96352b3e409"}],"connections":{"Workiz Create Lead":{"main":[[{"node":"Filter by Priority1","type":"main","index":0}]]},"Receive WAV Files1":{"main":[[{"node":"Workflow Configuration1","type":"main","index":0}]]},"Workflow Configuration1":{"main":[[{"node":"Check File Type1","type":"main","index":0}]]},"Check File Type1":{"main":[[{"node":"Transcribe with Telnyx1","type":"main","index":0}]]},"Analyze and Categorize Audio1":{"main":[[{"node":"Flatten Analysis Output1","type":"main","index":0}]]},"Anthropic Claude1":{"ai_languageModel":[[{"node":"Analyze and Categorize Audio1","type":"ai_languageModel","index":0}]]},"Structure Analysis Output1":{"ai_outputParser":[[{"node":"Analyze and Categorize Audio1","type":"ai_outputParser","index":0}]]},"Filter by Priority1":{"main":[[{"node":"Sort and Aggregate Results1","type":"main","index":0}]]},"Sort and Aggregate Results1":{"main":[[{"node":"Format Email Content1","type":"main","index":0}]]},"Format Email Content1":{"main":[[{"node":"Copy Binary for Attachment1","type":"main","index":0}]]},"Upload Audio Form1":{"main":[[{"node":"Workflow Configuration1","type":"main","index":0}]]},"Flatten Analysis Output1":{"main":[[{"node":"Workiz Create Lead","type":"main","index":0}]]},"Copy Binary for Attachment1":{"main":[[{"node":"Send via Outlook1","type":"main","index":0}]]},"Receive Telnyx Call1":{"main":[[{"node":"Analyze and Categorize Audio1","type":"main","index":0}]]},"Transcribe with Telnyx1":{"main":[[{"node":"Analyze and Categorize Audio1","type":"main","index":0}]]},"Check for New Calls Every 15 Min1":{"main":[[{"node":"Get Many Conversations1","type":"main","index":0}]]},"Get Many Conversations1":{"main":[[{"node":"Get Insights for Conversation1","type":"main","index":0}]]},"Get Insights for Conversation1":{"main":[[{"node":"Analyze and Categorize Audio1","type":"main","index":0}]]},"Manual Trigger for Telnyx1":{"main":[[{"node":"Get Many Conversations1","type":"main","index":0}]]}},"authors":"Service SuperSeller AI","name":"Version b4a87bbd","description":"","autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-01-02T04:39:55.073Z","id":1138,"workflowId":"U6EZ2iLQ4zCGg31H","versionId":"b4a87bbd-ffd6-4b7b-909f-72a8349ec45c","event":"activated","userId":"0b4a3251-26f6-4617-bcf9-e07f3ca968a7"}]}}