marketplace/workflows/landing-page-optimizer-original.json
{"updatedAt":"2025-10-05T15:59:55.518Z","createdAt":"2025-10-01T18:53:25.459Z","id":"cJbG8MpomtNrR1Sa","name":"MKT-OPTIMIZE-001: Landing Page Optimizer v1","active":true,"isArchived":false,"nodes":[{"parameters":{"formTitle":"Landing Page CRO Analysis","formDescription":"Get AI-powered conversion optimization recommendations","formFields":{"values":[{"fieldLabel":"Your Email","fieldType":"email","requiredField":true},{"fieldLabel":"Landing Page URL","placeholder":"https://example.com","requiredField":true},{"fieldLabel":"Your Name (Optional)"}]},"options":{}},"id":"form_trigger","name":"Form Trigger","type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[240,400],"webhookId":"cro-form-webhook"},{"parameters":{"url":"={{ $json['Landing Page URL'] }}","options":{}},"id":"scrape_website","name":"Scrape Landing Page","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[464,400]},{"parameters":{"promptType":"define","text":"=You are a world-class Conversion Rate Optimization expert.\n\nAnalyze this landing page and provide actionable CRO recommendations.\n\nLanding Page Content:\n{{ $json.data }}\n\nProvide:\n1. **Quick Wins** (3-5 easy changes)\n2. **High-Impact Changes** (major improvements)\n3. **Conversion Blockers** (what's preventing conversions)\n4. **Estimated Impact** (% improvement potential)\n\nBe specific and actionable. Max 2000 characters.\n\nURL: {{ $node[\"Form Trigger\"].json[\"Landing Page URL\"] }}","options":{}},"id":"ai_analysis","name":"AI CRO Analysis","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[688,400]},{"parameters":{"modelName":"models/gemini-2.5-pro","options":{}},"id":"gemini_model","name":"Gemini Model","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[768,624],"credentials":{"googlePalmApi":{"id":"6UgFlgar0aCiXKdm","name":"Google Gemini(PaLM) Api superseller"}}},{"parameters":{"dataTableId":{"__rl":true,"value":"OKgnRt9BrhRRKqvz","mode":"list","cachedResultName":"cro_analysis","cachedResultUrl":"/projects/BpwdbBFmDOobi2IT/datatables/OKgnRt9BrhRRKqvz"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"store_data_table","name":"Store in Data Table","type":"n8n-nodes-base.dataTable","typeVersion":1,"position":[1040,400]},{"parameters":{"assignments":{"assignments":[{"id":"email_subject","name":"subject","value":"🎯 Your Landing Page CRO Analysis is Ready","type":"string"},{"id":"email_body","name":"body","value":"=Hi {{ $node['Form Trigger'].json['Your Name (Optional)'] || 'there' }},\n\nYour landing page conversion analysis is complete!\n\n**Analyzed Page:** {{ $node['Form Trigger'].json['Landing Page URL'] }}\n\n---\n\n{{ $node['AI CRO Analysis'].json.output }}\n\n---\n\n**Next Steps:**\n- Implement the Quick Wins first (easiest impact)\n- Schedule the High-Impact Changes\n- Remove Conversion Blockers\n\nWant help implementing these changes?\nReply to this email: service@rensto.com\n\nBest regards,\nRensto Automation Team","type":"string"},{"id":"recipient","name":"to_email","value":"={{ $node['Form Trigger'].json['Your Email'] }}","type":"string"}]},"options":{}},"id":"format_email","name":"Format Email","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1264,304]},{"parameters":{"method":"POST","url":"https://api.instantly.ai/api/v2/leads","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer ZjAwMDhhN2EtNjM1YS00MTBiLTlkNjItMTY5MDA1NWVhMWMzOmVZTnloeHVqQVRyVA=="},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"campaign_id\": \"9fc2f2ef-44ba-4700-a198-b728b9570a3c\",\n  \"email\": \"={{ $node['Form Trigger'].json['Your Email'] }}\",\n  \"first_name\": \"={{ $node['Form Trigger'].json['Your Name (Optional)'].split(' ')[0] || 'Friend' }}\",\n  \"custom_variables\": {\n    \"landing_page_url\": \"={{ $node['Form Trigger'].json['Landing Page URL'] }}\",\n    \"analysis_summary\": \"={{ $node['AI CRO Analysis'].json.output.substring(0, 200) }}...\",\n    \"lead_source\": \"CRO Analysis Form\"\n  }\n}","options":{}},"id":"add_to_instantly","name":"Add to Instantly Campaign","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1264,496],"retryOnFail":true,"maxTries":3,"onError":"continueRegularOutput"},{"parameters":{"fromEmail":"service@rensto.com","toEmail":"={{ $json.to_email }}","subject":"={{ $json.subject }}","options":{}},"id":"send_email","name":"Send Email","type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[1488,304],"webhookId":"7062b3c9-1722-4ff9-9d9d-6fc927945eaa","credentials":{"smtp":{"id":"6LEMXhuWY1SaBCmY","name":"1shai"}}},{"parameters":{"respondWith":"text","responseBody":"=✅ Analysis complete! Check your email ({{ $node['Form Trigger'].json['Your Email'] }}) for your CRO recommendations.","options":{}},"id":"respond_form","name":"Respond to Form","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[1712,304]}],"connections":{"Form Trigger":{"main":[[{"node":"Scrape Landing Page","type":"main","index":0}]]},"Scrape Landing Page":{"main":[[{"node":"AI CRO Analysis","type":"main","index":0}]]},"AI CRO Analysis":{"main":[[{"node":"Store in Data Table","type":"main","index":0}]]},"Gemini Model":{"ai_languageModel":[[{"node":"AI CRO Analysis","type":"ai_languageModel","index":0}]]},"Store in Data Table":{"main":[[{"node":"Format Email","type":"main","index":0},{"node":"Add to Instantly Campaign","type":"main","index":0}]]},"Format Email":{"main":[[{"node":"Send Email","type":"main","index":0}]]},"Send Email":{"main":[[{"node":"Respond to Form","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"260ae79e-f651-4ba0-b0ac-9c4b2892763f","versionCounter":19,"triggerCount":1,"shared":[{"updatedAt":"2025-11-12T02:41:15.000Z","createdAt":"2025-11-12T02:41:15.000Z","role":"workflow:owner","workflowId":"cJbG8MpomtNrR1Sa","projectId":"6L20DLwgKEB5r0rn","project":{"updatedAt":"2025-11-12T01:28:20.899Z","createdAt":"2025-11-12T01:28:20.899Z","id":"6L20DLwgKEB5r0rn","name":"Unnamed Project","type":"personal","icon":null,"description":null,"projectRelations":[{"updatedAt":"2025-11-12T01:28:20.899Z","createdAt":"2025-11-12T01:28:20.899Z","userId":"0b4a3251-26f6-4617-bcf9-e07f3ca968a7","projectId":"6L20DLwgKEB5r0rn","user":{"updatedAt":"2025-11-21T06:38:04.000Z","createdAt":"2025-11-12T01:28:20.421Z","id":"0b4a3251-26f6-4617-bcf9-e07f3ca968a7","email":"service@rensto.com","firstName":"Service","lastName":"Rensto","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-11-12T02:46:44.970Z","personalization_survey_n8n_version":"1.119.1","companyIndustryExtended":["marketing-industry"],"companySize":"<20","companyType":"other","role":"business-owner","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-11-21","isPending":false}}]}}],"tags":[]}