apps/web/rensto-site/n8n/workflows/marketplace_video_prompt.json
{
    "name": "INT-MARKETPLACE-VIDEO-PROMPT: Billy Mays Prompt Generator",
    "nodes": [
        {
            "parameters": {},
            "id": "a7c363bc-d8e5-4e4a-b726-2671d2fd52fb",
            "name": "Manual Trigger (Testing)",
            "type": "n8n-nodes-base.manualTrigger",
            "typeVersion": 1,
            "position": [
                1472,
                1920
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict",
                        "version": 3
                    },
                    "conditions": [
                        {
                            "id": "c1",
                            "leftValue": "={{ $json.id }}",
                            "rightValue": "",
                            "operator": {
                                "type": "string",
                                "operation": "exists",
                                "singleValue": true
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "id": "df14dd73-a606-4dec-8c81-3dad77a829c5",
            "name": "Has Pending Docs?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.3,
            "position": [
                2176,
                1728
            ]
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "s1",
                            "name": "docId",
                            "value": "={{ $json.id }}",
                            "type": "string"
                        },
                        {
                            "id": "s2",
                            "name": "name",
                            "value": "={{ $json.name }}",
                            "type": "string"
                        },
                        {
                            "id": "s3",
                            "name": "workflowPayload",
                            "value": "={{ $json.workflowPayload }}",
                            "type": "object"
                        },
                        {
                            "id": "s4",
                            "name": "proofAssets",
                            "value": "={{ $json.proofAssets || [] }}",
                            "type": "object"
                        },
                        {
                            "id": "s5",
                            "name": "lastGeneratedHash",
                            "value": "={{ $json.lastGeneratedHash || '' }}",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "id": "5b0cf9be-6f5d-4f85-9c6e-ee21c21f13ef",
            "name": "Normalize Data",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                2416,
                1728
            ]
        },
        {
            "parameters": {
                "jsCode": "const crypto = require('crypto');\nconst input = $input.first().json;\n\nconst normalized = {\n  name: input.name ?? null,\n  workflowPayload: input.workflowPayload ?? null,\n  proofAssets: Array.isArray(input.proofAssets) ? input.proofAssets : []\n};\n\nconst stableStringify = (obj) => {\n  const allKeys = [];\n  JSON.stringify(obj, (k, v) => { allKeys.push(k); return v; });\n  allKeys.sort();\n  return JSON.stringify(obj, allKeys);\n};\n\nconst raw = stableStringify(normalized);\nconst hash = crypto.createHash('sha256').update(raw).digest('hex');\n\nreturn [{\n  json: {\n    ...input,\n    computedHash: hash,\n    normalizedForLLM: normalized\n  }\n}];"
            },
            "id": "692024b7-31ef-4e30-a956-9113b63d333b",
            "name": "Compute Payload Hash",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                2672,
                1728
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "c-hash",
                            "leftValue": "={{ $json.computedHash }}",
                            "rightValue": "={{ $json.lastGeneratedHash }}",
                            "operator": {
                                "type": "string",
                                "operation": "notEquals"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "id": "5594b610-d258-4e4f-9ebe-8620ff26d366",
            "name": "Hash Changed?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.3,
            "position": [
                2928,
                1728
            ]
        },
        {
            "parameters": {
                "jsCode": "const resp = $input.first().json;\nconst docId = $('Normalize Data').first().json.docId;\nconst computedHash = $('Compute Payload Hash').first().json.computedHash;\n\nlet content = resp.choices?.[0]?.message?.content;\nif (!content) {\n  throw new Error('No content in OpenAI response');\n}\n\nlet parsed;\ntry {\n  parsed = JSON.parse(content);\n} catch (e) {\n  throw new Error('Failed to parse JSON: ' + e.message);\n}\n\nif (!parsed.promptPacks || !parsed.workflowStepsSummary) {\n  throw new Error('Missing required keys');\n}\n\nreturn [{ json: { \n  ...parsed, \n  docId, \n  computedHash, \n  status: 'done', \n  lastGeneratedAt: $now.toISO() \n} }];"
            },
            "id": "7d109eec-5da9-456c-960c-eaa8b9361448",
            "name": "Parse Response",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                3888,
                1728
            ],
            "onError": "continueErrorOutput"
        },
        {
            "parameters": {
                "content": "## INT-MARKETPLACE-VIDEO-PROMPT\n**Purpose**: Generate Billy Mays style video prompts\n\n**Trigger**: Schedule (every 15 min) polls Firestore\n**Filter**: status = 'new' or 'queued'\n**Dedup**: SHA-256 hash prevents re-generation"
            },
            "id": "67435ff8-7c09-4264-872f-f6b84be15b02",
            "name": "Sticky Note",
            "type": "n8n-nodes-base.stickyNote",
            "typeVersion": 1,
            "position": [
                1408,
                1520
            ]
        },
        {
            "parameters": {
                "authentication": "serviceAccount",
                "operation": "getAll",
                "projectId": "rensto",
                "collection": "templates",
                "limit": 5
            },
            "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
            "typeVersion": 1.1,
            "position": [
                1920,
                1776
            ],
            "id": "e66e7da5-6473-4dda-9806-af671f7837b5",
            "name": "Get Pending Templates",
            "credentials": {
                "googleApi": {
                    "id": "HbI3P6PUIe8ATqzp",
                    "name": "Google Service Account account"
                }
            }
        },
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "minutes",
                            "minutesInterval": 15
                        }
                    ]
                }
            },
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.3,
            "position": [
                1600,
                1728
            ],
            "id": "9498e8af-b234-4efb-8dda-294447cf8bdf",
            "name": "Schedule Trigger1"
        },
        {
            "parameters": {
                "authentication": "serviceAccount",
                "operation": "upsert",
                "projectId": "rensto",
                "collection": "templates"
            },
            "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
            "typeVersion": 1.1,
            "position": [
                3200,
                1712
            ],
            "id": "18ba3a2a-9be7-4523-b4c7-e6c3772a46e5",
            "name": "Mark Generating",
            "credentials": {
                "googleApi": {
                    "id": "HbI3P6PUIe8ATqzp",
                    "name": "Google Service Account account"
                }
            }
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.openai.com/v1/chat/completions",
                "authentication": "predefinedCredentialType",
                "nodeCredentialType": "openAiApi",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"model\": \"gpt-4o\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are an ad-copy generator that creates Billy Mays / miracle kitchen gadget style prompt packs for KIE Video Agent. Emphasize time saved, reputation, control, predictable cost, fewer mistakes. Output valid JSON only with keys: agentVersion, workflowStepsSummary (array of strings), promptPacks (object with x_10s, tiktok_20s, li_fb_45s, youtube_180s).\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Create 4 prompt packs for this workflow. Each pack needs: platform, lengthSeconds, videoAgentPrompt, voiceoverScript, onScreenTextBeats (array), proofInsertion (object with assetUrl, label, durationMs), cta. Style: miracle gadget infomercial.\\n\\nWORKFLOW_NAME: {{ $json.normalizedForLLM.name }}\\nWORKFLOW_PAYLOAD: {{ JSON.stringify($json.normalizedForLLM.workflowPayload) }}\\nPROOF_ASSETS: {{ JSON.stringify($json.normalizedForLLM.proofAssets) }}\"\n    }\n  ],\n  \"response_format\": { \"type\": \"json_object\" }\n}",
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.3,
            "position": [
                3408,
                1712
            ],
            "id": "377fde81-b0e7-4cd5-8c3e-1d99676eeed6",
            "name": "Generate Prompt Packs",
            "credentials": {
                "openAiApi": {
                    "id": "0sXFXYfqiDEKuDcN",
                    "name": "service@rensto.com"
                }
            },
            "onError": "continueErrorOutput"
        },
        {
            "parameters": {
                "authentication": "serviceAccount",
                "operation": "upsert",
                "projectId": "rensto",
                "collection": "templates"
            },
            "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
            "typeVersion": 1.1,
            "position": [
                4192,
                1632
            ],
            "id": "097e584d-bcb0-47b0-9af6-66a2c011d257",
            "name": "Write Prompt Packs",
            "credentials": {
                "googleApi": {
                    "id": "HbI3P6PUIe8ATqzp",
                    "name": "Google Service Account account"
                }
            }
        },
        {
            "parameters": {
                "authentication": "serviceAccount",
                "operation": "upsert",
                "projectId": "rensto",
                "collection": "templates"
            },
            "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
            "typeVersion": 1.1,
            "position": [
                4128,
                1920
            ],
            "id": "af874aab-389a-4882-9326-cc187406a9c3",
            "name": "Mark Error",
            "credentials": {
                "googleApi": {
                    "id": "HbI3P6PUIe8ATqzp",
                    "name": "Google Service Account account"
                }
            }
        }
    ],
    "pinData": {},
    "connections": {
        "Manual Trigger (Testing)": {
            "main": [
                [
                    {
                        "node": "Get Pending Templates",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Has Pending Docs?": {
            "main": [
                [
                    {
                        "node": "Normalize Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Normalize Data": {
            "main": [
                [
                    {
                        "node": "Compute Payload Hash",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Compute Payload Hash": {
            "main": [
                [
                    {
                        "node": "Hash Changed?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Hash Changed?": {
            "main": [
                [
                    {
                        "node": "Mark Generating",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse Response": {
            "main": [
                [
                    {
                        "node": "Write Prompt Packs",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Mark Error",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Pending Templates": {
            "main": [
                [
                    {
                        "node": "Has Pending Docs?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Schedule Trigger1": {
            "main": [
                [
                    {
                        "node": "Get Pending Templates",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Mark Generating": {
            "main": [
                [
                    {
                        "node": "Generate Prompt Packs",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Generate Prompt Packs": {
            "main": [
                [
                    {
                        "node": "Parse Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": false,
    "settings": {
        "executionOrder": "v1",
        "availableInMCP": false
    },
    "versionId": "c52bbd41-84f2-49c0-9a8f-8f88eadf98f9",
    "meta": {
        "templateCredsSetupCompleted": true,
        "instanceId": "d6d5e33115a32f19742462b1f375a2ffde1364323928b1b4e33055d1a9c6e595"
    },
    "id": "jOIC8dQVz_zQUnmQc7Gv8",
    "tags": []
}