apps/web/rensto-site/n8n/templates/stj8DmATqe66D9j4.json
{"updatedAt":"2025-12-26T19:07:03.391Z","createdAt":"2025-12-25T21:10:35.314Z","id":"stj8DmATqe66D9j4","name":"Floor Plan to Photorealistic Property Tour Generator (Fixed)","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"formTitle":"Upload Floor Plan for Visualization","formDescription":"Upload your floor plan image to generate a photorealistic property tour video.","formFields":{"values":[{"fieldLabel":"Floor Plan Image","fieldType":"file","multipleFiles":false,"acceptFileTypes":".png,.jpg,.jpeg,.webp","requiredField":true},{"fieldLabel":"Email","fieldType":"email","placeholder":"your@email.com","requiredField":true},{"fieldLabel":"Property Style","fieldType":"dropdown","fieldOptions":{"values":[{"option":"Modern"},{"option":"Traditional"},{"option":"Minimalist"},{"option":"Industrial"},{"option":"Scandinavian"}]}}]},"options":{"appendAttribution":false}},"id":"e8e1283d-7707-4e63-b97b-9708352e9e19","name":"Upload Floor Plan Form","type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[2112,5504],"webhookId":"deeeedca-b0da-4d68-b81c-6a1da5475caf"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Validate and extract uploaded file\nconst formData = $input.item.json;\n\n// Get file data from form submission\nconst fileData = formData['Floor Plan Image'];\n\nif (!fileData || !fileData.data) {\n  throw new Error('No floor plan image uploaded');\n}\n\n// Validate file type\nconst validTypes = ['image/png', 'image/jpeg', 'image/jpg', 'image/webp'];\nconst mimeType = fileData.mimeType || 'image/png';\n\nif (!validTypes.some(t => mimeType.includes(t.split('/')[1]))) {\n  throw new Error(`Invalid file type: ${mimeType}. Accepted: PNG, JPG, WEBP`);\n}\n\n// Validate file size (max 10MB)\nconst maxSize = 10 * 1024 * 1024;\nconst fileSize = fileData.data.length * 0.75; // Base64 is ~33% larger\nif (fileSize > maxSize) {\n  throw new Error('File too large. Maximum size is 10MB.');\n}\n\n// Extract style preference\nconst style = formData['Property Style'] || 'Modern';\nconst styleDescriptors = {\n  'Modern': 'modern contemporary design with clean lines, neutral colors, and minimalist furniture',\n  'Traditional': 'traditional classic design with warm wood tones, ornate details, and elegant furniture',\n  'Minimalist': 'ultra-minimalist design with sparse furniture, white walls, and essential items only',\n  'Industrial': 'industrial loft style with exposed brick, metal fixtures, and raw materials',\n  'Scandinavian': 'Scandinavian design with light wood, cozy textiles, and hygge atmosphere'\n};\n\nreturn {\n  json: {\n    floorPlanBase64: fileData.data,\n    floorPlanMimeType: mimeType,\n    email: formData['Email'],\n    style: style,\n    styleDescription: styleDescriptors[style],\n    timestamp: new Date().toISOString()\n  }\n};"},"id":"8420f6e8-72b8-41ad-8df1-2460df3d03ef","name":"Validate & Extract Image","type":"n8n-nodes-base.code","typeVersion":2,"position":[2336,5504]},{"parameters":{"assignments":{"assignments":[{"id":"prompt-iso","name":"isometricPrompt","value":"=Top-down, fully 3D isometric render of this exact floor plan layout. Create a clean, highly detailed miniature architectural maquette matching the reference floor plan exactly. {{ $json.styleDescription }}. Remove all text labels. Keep all walls, doors, furniture, appliances and rooms properly placed according to the floor plan. High-resolution, photorealistic materials (wood floors, tiles, fabrics, glass). Soft global lighting, subtle shadows, crisp edges. Professional, polished output.","type":"string"},{"id":"prompt-living","name":"livingRoomPrompt","value":"=Eye-level photorealistic interior render of a living room. {{ $json.styleDescription }}. Comfortable seating arrangement, coffee table, entertainment center, warm ambient lighting, tasteful decor. High-quality materials and textures. Based on the floor plan layout.","type":"string"},{"id":"prompt-kitchen","name":"kitchenPrompt","value":"=Eye-level photorealistic interior render of a kitchen. {{ $json.styleDescription }}. Sleek cabinets, quality countertops, modern appliances, island or dining area, bright natural lighting. Clean, functional design.","type":"string"},{"id":"prompt-bedroom","name":"bedroomPrompt","value":"=Eye-level photorealistic interior render of a bedroom. {{ $json.styleDescription }}. Comfortable bed with quality linens, nightstands, wardrobe, soft ambient lighting, cozy atmosphere.","type":"string"},{"id":"prompt-patio","name":"patioPrompt","value":"=Eye-level photorealistic render of an outdoor patio area. {{ $json.styleDescription }}. Quality outdoor furniture, potted plants, ambient lighting, comfortable seating, inviting atmosphere for entertaining.","type":"string"}]},"includeOtherFields":true,"options":{}},"id":"57111930-3699-4572-adf9-8476aa934c28","name":"Configure Prompts","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2560,5504]},{"parameters":{"dataTableId":{"__rl":true,"value":"bZ4cVsCAmEwKteF5","mode":"list","cachedResultName":"floor_plan_submissions"},"columns":{"mappingMode":"defineBelow","value":{"submissionDate":"={{ $json.timestamp }}","status":"processing","email":"={{ $json.email }}"},"matchingColumns":[],"schema":[{"id":"submissionDate","displayName":"submissionDate","type":"dateTime"},{"id":"status","displayName":"status","type":"string"},{"id":"email","displayName":"email","type":"string"},{"id":"isometricImageUrl","displayName":"isometricImageUrl","type":"string"},{"id":"livingRoomVideoUrl","displayName":"livingRoomVideoUrl","type":"string"},{"id":"kitchenVideoUrl","displayName":"kitchenVideoUrl","type":"string"},{"id":"bedroomVideoUrl","displayName":"bedroomVideoUrl","type":"string"},{"id":"patioVideoUrl","displayName":"patioVideoUrl","type":"string"},{"id":"finalTourUrl","displayName":"finalTourUrl","type":"string"}]},"options":{}},"id":"ec9df9bd-fb13-4b60-b4d7-21d49e7a9ef9","name":"Store Submission","type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[2784,5504]},{"parameters":{"method":"POST","url":"https://api.kie.ai/api/v1/jobs/createTask","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"nano-banana-pro\",\n  \"input\": {\n    \"prompt\": \"{{ $('Configure Prompts').first().json.isometricPrompt }}\",\n    \"image\": \"data:{{ $('Configure Prompts').first().json.floorPlanMimeType }};base64,{{ $('Configure Prompts').first().json.floorPlanBase64 }}\",\n    \"aspect_ratio\": \"1:1\",\n    \"resolution\": \"2K\",\n    \"output_format\": \"png\"\n  }\n}","options":{"timeout":120000}},"id":"ddbd2a63-d640-44a5-8400-c1716cba2a04","name":"Generate Isometric (with Floor Plan)","type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[3008,5504],"credentials":{"httpHeaderAuth":{"id":"kRI7Q7bdV9tEVPNp","name":"Kie.ai"}}},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Universal polling handler for Kie.ai jobs\nconst data = $input.item.json;\nconst config = {\n  maxRetries: 120,\n  taskId: data.data?.taskId || data.taskId,\n  currentRetry: data._retryCount || 0\n};\n\n// Check for timeout\nif (config.currentRetry >= config.maxRetries) {\n  return {\n    json: {\n      success: false,\n      error: 'Generation timeout after 6 minutes',\n      taskId: config.taskId\n    }\n  };\n}\n\n// Check status based on API response structure\nconst state = data.data?.state;\nconst successFlag = data.data?.successFlag;\nconst code = data.code;\n\n// Image API uses 'state', Video API uses 'successFlag'\nconst isComplete = state === 'success' || successFlag === 1;\nconst isFailed = state === 'fail' || state === 'failed' || successFlag === 2 || successFlag === 3;\nconst isError = code && code !== 200;\n\nif (isComplete) {\n  let resultUrl = '';\n  \n  // Try to extract URL from different response structures\n  if (data.data?.resultJson) {\n    try {\n      const parsed = JSON.parse(data.data.resultJson);\n      resultUrl = parsed.resultUrls?.[0] || '';\n    } catch (e) {}\n  }\n  if (!resultUrl && data.data?.response?.resultUrls) {\n    resultUrl = data.data.response.resultUrls[0];\n  }\n  \n  return {\n    json: {\n      success: true,\n      ready: true,\n      resultUrl: resultUrl,\n      taskId: config.taskId\n    }\n  };\n}\n\nif (isFailed || isError) {\n  return {\n    json: {\n      success: false,\n      ready: true,\n      error: data.data?.errorMessage || data.msg || 'Generation failed',\n      taskId: config.taskId\n    }\n  };\n}\n\n// Still processing - continue polling\nreturn {\n  json: {\n    ...data,\n    success: false,\n    ready: false,\n    _retryCount: config.currentRetry + 1,\n    taskId: config.taskId\n  }\n};"},"id":"a5045102-1f3d-4c8c-a128-bb5574bb470a","name":"Poll Status Handler","type":"n8n-nodes-base.code","typeVersion":2,"position":[3456,5432]},{"parameters":{"url":"=https://api.kie.ai/api/v1/jobs/recordInfo?taskId={{ $json.data.taskId }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"id":"b9fde814-9742-4448-b062-a88d28181b62","name":"Poll Isometric Status","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3232,5504],"credentials":{"httpHeaderAuth":{"id":"kRI7Q7bdV9tEVPNp","name":"Kie.ai"}},"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"version":2,"caseSensitive":true,"typeValidation":"loose"},"conditions":[{"id":"is-ready","leftValue":"={{ $json.ready }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"ad8a803a-d723-4fc7-9240-5b40ed835e8f","name":"Isometric Ready?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3680,5432]},{"parameters":{"amount":3},"id":"bf7982f1-f7d0-4d71-aae7-99bcd182e59b","name":"Wait 3s","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3904,5600],"webhookId":"poll-wait-isometric"},{"parameters":{"conditions":{"options":{"version":2,"caseSensitive":true,"typeValidation":"loose"},"conditions":[{"id":"is-success","leftValue":"={{ $json.success }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"10635469-3da2-4f14-a319-623b2d9a4f79","name":"Isometric Success?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3904,5384]},{"parameters":{"assignments":{"assignments":[{"id":"iso-url","name":"isometricImageUrl","value":"={{ $json.resultUrl }}","type":"string"}]},"includeOtherFields":true,"options":{}},"id":"5985c78f-68d4-4573-93d3-29155a09ac5e","name":"Store Isometric URL","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[4128,5288]},{"parameters":{"method":"POST","url":"https://api.kie.ai/api/v1/jobs/createTask","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"nano-banana-pro\",\n  \"input\": {\n    \"prompt\": \"{{ $('Configure Prompts').first().json.livingRoomPrompt }}\",\n    \"image\": \"data:{{ $('Configure Prompts').first().json.floorPlanMimeType }};base64,{{ $('Configure Prompts').first().json.floorPlanBase64 }}\",\n    \"aspect_ratio\": \"16:9\",\n    \"resolution\": \"2K\",\n    \"output_format\": \"png\"\n  }\n}","options":{"timeout":120000}},"id":"5ea37b60-7420-4dd0-be16-72ed22f49246","name":"Generate Living Room","type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[4352,4496],"credentials":{"httpHeaderAuth":{"id":"kRI7Q7bdV9tEVPNp","name":"Kie.ai"}}},{"parameters":{"method":"POST","url":"https://api.kie.ai/api/v1/jobs/createTask","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"nano-banana-pro\",\n  \"input\": {\n    \"prompt\": \"{{ $('Configure Prompts').first().json.kitchenPrompt }}\",\n    \"image\": \"data:{{ $('Configure Prompts').first().json.floorPlanMimeType }};base64,{{ $('Configure Prompts').first().json.floorPlanBase64 }}\",\n    \"aspect_ratio\": \"16:9\",\n    \"resolution\": \"2K\",\n    \"output_format\": \"png\"\n  }\n}","options":{"timeout":120000}},"id":"cb8e5a63-825e-4981-b686-c67d87f5836f","name":"Generate Kitchen","type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[4352,4928],"credentials":{"httpHeaderAuth":{"id":"kRI7Q7bdV9tEVPNp","name":"Kie.ai"}}},{"parameters":{"method":"POST","url":"https://api.kie.ai/api/v1/jobs/createTask","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"nano-banana-pro\",\n  \"input\": {\n    \"prompt\": \"{{ $('Configure Prompts').first().json.bedroomPrompt }}\",\n    \"image\": \"data:{{ $('Configure Prompts').first().json.floorPlanMimeType }};base64,{{ $('Configure Prompts').first().json.floorPlanBase64 }}\",\n    \"aspect_ratio\": \"16:9\",\n    \"resolution\": \"2K\",\n    \"output_format\": \"png\"\n  }\n}","options":{"timeout":120000}},"id":"b7da9c57-894b-4471-b8bb-fa8e682ef4f3","name":"Generate Bedroom","type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[4352,5360],"credentials":{"httpHeaderAuth":{"id":"kRI7Q7bdV9tEVPNp","name":"Kie.ai"}}},{"parameters":{"method":"POST","url":"https://api.kie.ai/api/v1/jobs/createTask","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"nano-banana-pro\",\n  \"input\": {\n    \"prompt\": \"{{ $('Configure Prompts').first().json.patioPrompt }}\",\n    \"image\": \"data:{{ $('Configure Prompts').first().json.floorPlanMimeType }};base64,{{ $('Configure Prompts').first().json.floorPlanBase64 }}\",\n    \"aspect_ratio\": \"16:9\",\n    \"resolution\": \"2K\",\n    \"output_format\": \"png\"\n  }\n}","options":{"timeout":120000}},"id":"37de89ef-b14c-46ab-ade2-85b1a1a7934a","name":"Generate Patio","type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[4352,5792],"credentials":{"httpHeaderAuth":{"id":"kRI7Q7bdV9tEVPNp","name":"Kie.ai"}}},{"parameters":{"url":"=https://api.kie.ai/api/v1/jobs/recordInfo?taskId={{ $json.data.taskId }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"id":"57693208-2572-4c71-89ba-31a7ccbfef39","name":"Poll Living Room","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4576,4496],"credentials":{"httpHeaderAuth":{"id":"kRI7Q7bdV9tEVPNp","name":"Kie.ai"}},"onError":"continueRegularOutput"},{"parameters":{"url":"=https://api.kie.ai/api/v1/jobs/recordInfo?taskId={{ $json.data.taskId }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"id":"06e8a718-16c5-40db-aea3-0e969f53fdca","name":"Poll Kitchen","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4576,4928],"credentials":{"httpHeaderAuth":{"id":"kRI7Q7bdV9tEVPNp","name":"Kie.ai"}},"onError":"continueRegularOutput"},{"parameters":{"url":"=https://api.kie.ai/api/v1/jobs/recordInfo?taskId={{ $json.data.taskId }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"id":"f5e1749d-aeb6-4e8f-91b1-9d30d4b511bb","name":"Poll Bedroom","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4576,5360],"credentials":{"httpHeaderAuth":{"id":"kRI7Q7bdV9tEVPNp","name":"Kie.ai"}},"onError":"continueRegularOutput"},{"parameters":{"url":"=https://api.kie.ai/api/v1/jobs/recordInfo?taskId={{ $json.data.taskId }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"id":"b3f6ff5a-c0a7-44ff-a36a-a8084bd43f20","name":"Poll Patio","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4576,5792],"credentials":{"httpHeaderAuth":{"id":"kRI7Q7bdV9tEVPNp","name":"Kie.ai"}},"onError":"continueRegularOutput"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Reusable polling handler\nconst data = $input.item.json;\nconst maxRetries = 120;\nconst currentRetry = data._retryCount || 0;\n\nif (currentRetry >= maxRetries) {\n  return { json: { success: false, ready: true, error: 'Timeout', taskId: data.data?.taskId } };\n}\n\nconst state = data.data?.state;\nconst code = data.code;\n\nif (state === 'success') {\n  let resultUrl = '';\n  if (data.data?.resultJson) {\n    try {\n      const parsed = JSON.parse(data.data.resultJson);\n      resultUrl = parsed.resultUrls?.[0] || '';\n    } catch (e) {}\n  }\n  return { json: { success: true, ready: true, resultUrl, taskId: data.data?.taskId } };\n}\n\nif (state === 'fail' || state === 'failed' || (code && code !== 200)) {\n  return { json: { success: false, ready: true, error: data.msg || 'Failed', taskId: data.data?.taskId } };\n}\n\nreturn { json: { ...data, success: false, ready: false, _retryCount: currentRetry + 1, taskId: data.data?.taskId } };"},"id":"60f84de4-a916-4d54-9200-4cf5d28d0836","name":"Check Living Room","type":"n8n-nodes-base.code","typeVersion":2,"position":[4800,4496]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const data = $input.item.json;\nconst maxRetries = 120;\nconst currentRetry = data._retryCount || 0;\n\nif (currentRetry >= maxRetries) {\n  return { json: { success: false, ready: true, error: 'Timeout', taskId: data.data?.taskId } };\n}\n\nconst state = data.data?.state;\nconst code = data.code;\n\nif (state === 'success') {\n  let resultUrl = '';\n  if (data.data?.resultJson) {\n    try {\n      const parsed = JSON.parse(data.data.resultJson);\n      resultUrl = parsed.resultUrls?.[0] || '';\n    } catch (e) {}\n  }\n  return { json: { success: true, ready: true, resultUrl, taskId: data.data?.taskId } };\n}\n\nif (state === 'fail' || state === 'failed' || (code && code !== 200)) {\n  return { json: { success: false, ready: true, error: data.msg || 'Failed', taskId: data.data?.taskId } };\n}\n\nreturn { json: { ...data, success: false, ready: false, _retryCount: currentRetry + 1, taskId: data.data?.taskId } };"},"id":"e53baf62-d71c-47ab-b258-15aac6a32908","name":"Check Kitchen","type":"n8n-nodes-base.code","typeVersion":2,"position":[4800,4928]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const data = $input.item.json;\nconst maxRetries = 120;\nconst currentRetry = data._retryCount || 0;\n\nif (currentRetry >= maxRetries) {\n  return { json: { success: false, ready: true, error: 'Timeout', taskId: data.data?.taskId } };\n}\n\nconst state = data.data?.state;\nconst code = data.code;\n\nif (state === 'success') {\n  let resultUrl = '';\n  if (data.data?.resultJson) {\n    try {\n      const parsed = JSON.parse(data.data.resultJson);\n      resultUrl = parsed.resultUrls?.[0] || '';\n    } catch (e) {}\n  }\n  return { json: { success: true, ready: true, resultUrl, taskId: data.data?.taskId } };\n}\n\nif (state === 'fail' || state === 'failed' || (code && code !== 200)) {\n  return { json: { success: false, ready: true, error: data.msg || 'Failed', taskId: data.data?.taskId } };\n}\n\nreturn { json: { ...data, success: false, ready: false, _retryCount: currentRetry + 1, taskId: data.data?.taskId } };"},"id":"fc0fa647-2ee9-44aa-8a61-ec5c92092912","name":"Check Bedroom","type":"n8n-nodes-base.code","typeVersion":2,"position":[4800,5360]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const data = $input.item.json;\nconst maxRetries = 120;\nconst currentRetry = data._retryCount || 0;\n\nif (currentRetry >= maxRetries) {\n  return { json: { success: false, ready: true, error: 'Timeout', taskId: data.data?.taskId } };\n}\n\nconst state = data.data?.state;\nconst code = data.code;\n\nif (state === 'success') {\n  let resultUrl = '';\n  if (data.data?.resultJson) {\n    try {\n      const parsed = JSON.parse(data.data.resultJson);\n      resultUrl = parsed.resultUrls?.[0] || '';\n    } catch (e) {}\n  }\n  return { json: { success: true, ready: true, resultUrl, taskId: data.data?.taskId } };\n}\n\nif (state === 'fail' || state === 'failed' || (code && code !== 200)) {\n  return { json: { success: false, ready: true, error: data.msg || 'Failed', taskId: data.data?.taskId } };\n}\n\nreturn { json: { ...data, success: false, ready: false, _retryCount: currentRetry + 1, taskId: data.data?.taskId } };"},"id":"9075834d-86f2-4a33-9b44-c253a11f4426","name":"Check Patio","type":"n8n-nodes-base.code","typeVersion":2,"position":[4800,5792]},{"parameters":{"conditions":{"options":{"version":2,"typeValidation":"loose"},"conditions":[{"id":"ready","leftValue":"={{ $json.ready }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"99a507c9-0037-4b75-bbbc-99706d47369a","name":"Living Ready?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[5024,4496]},{"parameters":{"conditions":{"options":{"version":2,"typeValidation":"loose"},"conditions":[{"id":"ready","leftValue":"={{ $json.ready }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"267d7f2e-e68f-426e-904f-d3555254b5ce","name":"Kitchen Ready?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[5024,4928]},{"parameters":{"conditions":{"options":{"version":2,"typeValidation":"loose"},"conditions":[{"id":"ready","leftValue":"={{ $json.ready }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"8d9ee9f5-0c73-4fa4-b061-5fde9cb0c49f","name":"Bedroom Ready?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[5024,5360]},{"parameters":{"conditions":{"options":{"version":2,"typeValidation":"loose"},"conditions":[{"id":"ready","leftValue":"={{ $json.ready }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"9a2c8a77-ce09-4e86-bd89-91af9dee09be","name":"Patio Ready?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[5024,5792]},{"parameters":{"amount":3},"id":"62fa1e69-30e7-42bb-ba95-f3ce11d988c8","name":"Wait Living","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[5248,4688],"webhookId":"wait-living"},{"parameters":{"amount":3},"id":"864f5460-d721-4379-b226-7f9ba1b3aa3f","name":"Wait Kitchen","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[5248,5120],"webhookId":"wait-kitchen"},{"parameters":{"amount":3},"id":"4fb323b7-2908-494b-8800-4998a91a04cc","name":"Wait Bedroom","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[5248,5552],"webhookId":"wait-bedroom"},{"parameters":{"amount":3},"id":"48bda1f4-1ba8-4e03-a400-b7aa8a2576b9","name":"Wait Patio","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[5248,5984],"webhookId":"wait-patio"},{"parameters":{"method":"POST","url":"https://api.kie.ai/api/v1/veo/generate","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"prompt\": \"Smooth cinematic camera movement through the living room, showcasing the space from multiple angles with gentle panning\",\n  \"imageUrls\": [\"{{ $json.resultUrl }}\"],\n  \"model\": \"veo3_fast\",\n  \"aspectRatio\": \"16:9\",\n  \"seeds\": 12345,\n  \"enableFallback\": false,\n  \"enableTranslation\": true,\n  \"generationType\": \"REFERENCE_2_VIDEO\"\n}","options":{"timeout":180000}},"id":"466131ea-ee28-4156-99ba-0d3f0e9be6d9","name":"Animate Living Room","type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[5248,4496],"credentials":{"httpHeaderAuth":{"id":"kRI7Q7bdV9tEVPNp","name":"Kie.ai"}}},{"parameters":{"method":"POST","url":"https://api.kie.ai/api/v1/veo/generate","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"prompt\": \"Smooth cinematic camera movement through the kitchen, showcasing appliances and design details with elegant transitions\",\n  \"imageUrls\": [\"{{ $json.resultUrl }}\"],\n  \"model\": \"veo3_fast\",\n  \"aspectRatio\": \"16:9\",\n  \"seeds\": 12345,\n  \"enableFallback\": false,\n  \"enableTranslation\": true,\n  \"generationType\": \"REFERENCE_2_VIDEO\"\n}","options":{"timeout":180000}},"id":"49ad3338-941d-4417-9bf2-46384c060405","name":"Animate Kitchen","type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[5248,4928],"credentials":{"httpHeaderAuth":{"id":"kRI7Q7bdV9tEVPNp","name":"Kie.ai"}}},{"parameters":{"method":"POST","url":"https://api.kie.ai/api/v1/veo/generate","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"prompt\": \"Smooth cinematic camera movement through the bedroom, creating a cozy and inviting atmosphere with soft lighting\",\n  \"imageUrls\": [\"{{ $json.resultUrl }}\"],\n  \"model\": \"veo3_fast\",\n  \"aspectRatio\": \"16:9\",\n  \"seeds\": 12345,\n  \"enableFallback\": false,\n  \"enableTranslation\": true,\n  \"generationType\": \"REFERENCE_2_VIDEO\"\n}","options":{"timeout":180000}},"id":"ebb20909-a455-4588-8f7d-4f6b90e6dd13","name":"Animate Bedroom","type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[5248,5360],"credentials":{"httpHeaderAuth":{"id":"kRI7Q7bdV9tEVPNp","name":"Kie.ai"}}},{"parameters":{"url":"=https://api.kie.ai/api/v1/veo/record-info?taskId={{ $json.data.taskId }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"id":"9cd245b3-5776-4306-a95a-ad4370c8c430","name":"Poll Video Living","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5472,4496],"credentials":{"httpHeaderAuth":{"id":"kRI7Q7bdV9tEVPNp","name":"Kie.ai"}},"onError":"continueRegularOutput"},{"parameters":{"url":"=https://api.kie.ai/api/v1/veo/record-info?taskId={{ $json.data.taskId }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"id":"1b8bdafa-f620-4b3b-9914-9c0d9a33e5f4","name":"Poll Video Kitchen","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5472,4928],"credentials":{"httpHeaderAuth":{"id":"kRI7Q7bdV9tEVPNp","name":"Kie.ai"}},"onError":"continueRegularOutput"},{"parameters":{"url":"=https://api.kie.ai/api/v1/veo/record-info?taskId={{ $json.data.taskId }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"id":"3576c673-5264-45c2-8018-f07e857b69b7","name":"Poll Video Bedroom","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5472,5360],"credentials":{"httpHeaderAuth":{"id":"kRI7Q7bdV9tEVPNp","name":"Kie.ai"}},"onError":"continueRegularOutput"},{"parameters":{"url":"=https://api.kie.ai/api/v1/veo/record-info?taskId={{ $json.data.taskId }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"id":"656beea5-68e7-4325-8c90-edd316dedf9d","name":"Poll Video Patio","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5472,5792],"credentials":{"httpHeaderAuth":{"id":"kRI7Q7bdV9tEVPNp","name":"Kie.ai"}},"onError":"continueRegularOutput"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Video polling handler (uses successFlag)\nconst data = $input.item.json;\nconst maxRetries = 120;\nconst currentRetry = data._retryCount || 0;\n\nif (currentRetry >= maxRetries) {\n  return { json: { success: false, ready: true, error: 'Video timeout', taskId: data.data?.taskId } };\n}\n\nconst successFlag = data.data?.successFlag;\nconst code = data.code;\n\n// Veo: 0=Generating, 1=Success, 2=Failed, 3=Generation Failed\nif (successFlag === 1) {\n  const resultUrl = data.data?.response?.resultUrls?.[0] || '';\n  return { json: { success: true, ready: true, resultUrl, taskId: data.data?.taskId } };\n}\n\nif (successFlag === 2 || successFlag === 3 || (code && code !== 200)) {\n  return { json: { success: false, ready: true, error: data.data?.errorMessage || 'Video failed', taskId: data.data?.taskId } };\n}\n\nreturn { json: { ...data, success: false, ready: false, _retryCount: currentRetry + 1, taskId: data.data?.taskId } };"},"id":"e9e59ac2-6852-429b-8a68-2ef4b700d6af","name":"Check Video Living","type":"n8n-nodes-base.code","typeVersion":2,"position":[5696,4448]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const data = $input.item.json;\nconst maxRetries = 120;\nconst currentRetry = data._retryCount || 0;\n\nif (currentRetry >= maxRetries) {\n  return { json: { success: false, ready: true, error: 'Video timeout', taskId: data.data?.taskId } };\n}\n\nconst successFlag = data.data?.successFlag;\nconst code = data.code;\n\nif (successFlag === 1) {\n  const resultUrl = data.data?.response?.resultUrls?.[0] || '';\n  return { json: { success: true, ready: true, resultUrl, taskId: data.data?.taskId } };\n}\n\nif (successFlag === 2 || successFlag === 3 || (code && code !== 200)) {\n  return { json: { success: false, ready: true, error: data.data?.errorMessage || 'Video failed', taskId: data.data?.taskId } };\n}\n\nreturn { json: { ...data, success: false, ready: false, _retryCount: currentRetry + 1, taskId: data.data?.taskId } };"},"id":"562ab781-66d1-4b3e-8c52-2f8ba6950ffe","name":"Check Video Kitchen","type":"n8n-nodes-base.code","typeVersion":2,"position":[5696,4880]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const data = $input.item.json;\nconst maxRetries = 120;\nconst currentRetry = data._retryCount || 0;\n\nif (currentRetry >= maxRetries) {\n  return { json: { success: false, ready: true, error: 'Video timeout', taskId: data.data?.taskId } };\n}\n\nconst successFlag = data.data?.successFlag;\nconst code = data.code;\n\nif (successFlag === 1) {\n  const resultUrl = data.data?.response?.resultUrls?.[0] || '';\n  return { json: { success: true, ready: true, resultUrl, taskId: data.data?.taskId } };\n}\n\nif (successFlag === 2 || successFlag === 3 || (code && code !== 200)) {\n  return { json: { success: false, ready: true, error: data.data?.errorMessage || 'Video failed', taskId: data.data?.taskId } };\n}\n\nreturn { json: { ...data, success: false, ready: false, _retryCount: currentRetry + 1, taskId: data.data?.taskId } };"},"id":"8bc9cddd-5f4d-4c02-a121-4e95169ad5ea","name":"Check Video Bedroom","type":"n8n-nodes-base.code","typeVersion":2,"position":[5696,5312]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const data = $input.item.json;\nconst maxRetries = 120;\nconst currentRetry = data._retryCount || 0;\n\nif (currentRetry >= maxRetries) {\n  return { json: { success: false, ready: true, error: 'Video timeout', taskId: data.data?.taskId } };\n}\n\nconst successFlag = data.data?.successFlag;\nconst code = data.code;\n\nif (successFlag === 1) {\n  const resultUrl = data.data?.response?.resultUrls?.[0] || '';\n  return { json: { success: true, ready: true, resultUrl, taskId: data.data?.taskId } };\n}\n\nif (successFlag === 2 || successFlag === 3 || (code && code !== 200)) {\n  return { json: { success: false, ready: true, error: data.data?.errorMessage || 'Video failed', taskId: data.data?.taskId } };\n}\n\nreturn { json: { ...data, success: false, ready: false, _retryCount: currentRetry + 1, taskId: data.data?.taskId } };"},"id":"158c57ac-b1a2-4f2f-882d-6ade9dcf7e9c","name":"Check Video Patio","type":"n8n-nodes-base.code","typeVersion":2,"position":[5696,5744]},{"parameters":{"conditions":{"options":{"version":2,"typeValidation":"loose"},"conditions":[{"id":"ready","leftValue":"={{ $json.ready }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"b8e059d4-e6b2-48a5-96bd-1fb0aff1e15f","name":"Video Living Ready?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[5920,4448]},{"parameters":{"conditions":{"options":{"version":2,"typeValidation":"loose"},"conditions":[{"id":"ready","leftValue":"={{ $json.ready }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"7b4c6d23-bbdc-4b29-99b0-da11576f5e5e","name":"Video Kitchen Ready?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[5920,4880]},{"parameters":{"conditions":{"options":{"version":2,"typeValidation":"loose"},"conditions":[{"id":"ready","leftValue":"={{ $json.ready }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"da1a4f4b-29a0-4a97-ab22-5ee0889b1835","name":"Video Bedroom Ready?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[5920,5312]},{"parameters":{"conditions":{"options":{"version":2,"typeValidation":"loose"},"conditions":[{"id":"ready","leftValue":"={{ $json.ready }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"e7a1770a-be4a-4af9-9512-cd6ec31382d6","name":"Video Patio Ready?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[5920,5744]},{"parameters":{"amount":3},"id":"e3312ef5-1c56-4a3d-929e-608ddc96158a","name":"Wait Vid Living","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[6144,4616],"webhookId":"wait-vid-living"},{"parameters":{"amount":3},"id":"06b47992-9989-40dd-a4f0-1e18b37769e1","name":"Wait Vid Kitchen","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[6144,5048],"webhookId":"wait-vid-kitchen"},{"parameters":{"amount":3},"id":"d7d9e25b-af52-42a2-9e3d-58ca6a15b49c","name":"Wait Vid Bedroom","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[6144,5480],"webhookId":"wait-vid-bedroom"},{"parameters":{"amount":3},"id":"18571ff7-aade-4799-b405-b337f3214327","name":"Wait Vid Patio","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[6144,5912],"webhookId":"wait-vid-patio"},{"parameters":{"assignments":{"assignments":[{"id":"living","name":"livingRoomVideoUrl","value":"={{ $json.resultUrl }}","type":"string"},{"id":"room","name":"room","value":"living","type":"string"}]},"options":{}},"id":"9b91e719-8bad-482f-8b73-51a70e4b7d2f","name":"Set Living URL","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[6144,4400]},{"parameters":{"assignments":{"assignments":[{"id":"kitchen","name":"kitchenVideoUrl","value":"={{ $json.resultUrl }}","type":"string"},{"id":"room","name":"room","value":"kitchen","type":"string"}]},"options":{}},"id":"e422dc42-6297-4d4f-9f03-3b387e40f469","name":"Set Kitchen URL","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[6144,4832]},{"parameters":{"assignments":{"assignments":[{"id":"bedroom","name":"bedroomVideoUrl","value":"={{ $json.resultUrl }}","type":"string"},{"id":"room","name":"room","value":"bedroom","type":"string"}]},"options":{}},"id":"136e636b-2872-40e7-9e11-7163f406a82e","name":"Set Bedroom URL","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[6144,5264]},{"parameters":{"assignments":{"assignments":[{"id":"patio","name":"patioVideoUrl","value":"={{ $json.resultUrl }}","type":"string"},{"id":"room","name":"room","value":"patio","type":"string"}]},"options":{}},"id":"6381278e-2a75-471d-9965-52eb907d5bf0","name":"Set Patio URL","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[6144,5696]},{"parameters":{"mode":"chooseBranch","numberInputs":4},"id":"efe6a8e5-5f63-4012-8247-3a62debfb716","name":"Merge All Videos","type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[6368,4800]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Collect all video URLs from the merged branches\nconst items = $input.all();\n\nconst urls = {\n  livingRoomVideoUrl: '',\n  kitchenVideoUrl: '',\n  bedroomVideoUrl: '',\n  patioVideoUrl: ''\n};\n\n// Extract URLs from each item\nfor (const item of items) {\n  if (item.json.livingRoomVideoUrl) urls.livingRoomVideoUrl = item.json.livingRoomVideoUrl;\n  if (item.json.kitchenVideoUrl) urls.kitchenVideoUrl = item.json.kitchenVideoUrl;\n  if (item.json.bedroomVideoUrl) urls.bedroomVideoUrl = item.json.bedroomVideoUrl;\n  if (item.json.patioVideoUrl) urls.patioVideoUrl = item.json.patioVideoUrl;\n}\n\nreturn { json: urls };"},"id":"fe53ae63-f2bb-45e0-9276-a2fbe968b8f4","name":"Collect All URLs","type":"n8n-nodes-base.code","typeVersion":2,"position":[6592,4832]},{"parameters":{"method":"POST","url":"={{ $env.VIDEO_MERGE_URL || 'https://your-merge-service.com/merge' }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"video_urls\": [\n    \"{{ $json.livingRoomVideoUrl }}\",\n    \"{{ $json.kitchenVideoUrl }}\",\n    \"{{ $json.bedroomVideoUrl }}\",\n    \"{{ $json.patioVideoUrl }}\"\n  ]\n}","options":{"timeout":300000}},"id":"101d67ed-3baf-4118-97cf-c339162a0df0","name":"Merge Videos into Tour","type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[6816,4832]},{"parameters":{"operation":"update","dataTableId":{"__rl":true,"value":"bZ4cVsCAmEwKteF5","mode":"list","cachedResultName":"floor_plan_submissions"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Store Submission').item.json.id }}","status":"completed","isometricImageUrl":"={{ $('Store Isometric URL').first().json.isometricImageUrl }}","livingRoomVideoUrl":"={{ $('Collect All URLs').first().json.livingRoomVideoUrl }}","kitchenVideoUrl":"={{ $('Collect All URLs').first().json.kitchenVideoUrl }}","bedroomVideoUrl":"={{ $('Collect All URLs').first().json.bedroomVideoUrl }}","patioVideoUrl":"={{ $('Collect All URLs').first().json.patioVideoUrl }}","finalTourUrl":"={{ $json.video_url || $json.finalTourUrl }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","type":"string","defaultMatch":true},{"id":"status","displayName":"status","type":"string"},{"id":"isometricImageUrl","displayName":"isometricImageUrl","type":"string"},{"id":"livingRoomVideoUrl","displayName":"livingRoomVideoUrl","type":"string"},{"id":"kitchenVideoUrl","displayName":"kitchenVideoUrl","type":"string"},{"id":"bedroomVideoUrl","displayName":"bedroomVideoUrl","type":"string"},{"id":"patioVideoUrl","displayName":"patioVideoUrl","type":"string"},{"id":"finalTourUrl","displayName":"finalTourUrl","type":"string"}]},"options":{}},"id":"187ff797-2de5-4760-bcc1-265ac8b5ddba","name":"Update Success","type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[7040,4832]},{"parameters":{"operation":"update","dataTableId":{"__rl":true,"value":"bZ4cVsCAmEwKteF5","mode":"list","cachedResultName":"floor_plan_submissions"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Store Submission').item.json.id }}","status":"failed"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","type":"string","defaultMatch":true},{"id":"status","displayName":"status","type":"string"}]},"options":{}},"id":"1f98b7be-7a95-4d37-96c1-129eabe578b1","name":"Update Failed","type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[4128,5480]},{"parameters":{"method":"POST","url":"https://api.kie.ai/api/v1/veo/generate","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"prompt\": \"Smooth cinematic camera movement through the outdoor patio, highlighting features and natural lighting\",\n  \"imageUrls\": [\"{{ $json.resultUrl }}\"],\n  \"model\": \"veo3_fast\",\n  \"aspectRatio\": \"16:9\",\n  \"seeds\": 12345,\n  \"enableFallback\": false,\n  \"enableTranslation\": true,\n  \"generationType\": \"REFERENCE_2_VIDEO\"\n}","options":{"timeout":180000}},"id":"404e8764-7054-421f-93a8-838c68645f78","name":"Animate Patio1","type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[5248,5792],"credentials":{"httpHeaderAuth":{"id":"kRI7Q7bdV9tEVPNp","name":"Kie.ai"}}}],"connections":{"Upload Floor Plan Form":{"main":[[{"node":"Validate & Extract Image","type":"main","index":0}]]},"Validate & Extract Image":{"main":[[{"node":"Configure Prompts","type":"main","index":0}]]},"Configure Prompts":{"main":[[{"node":"Store Submission","type":"main","index":0}]]},"Store Submission":{"main":[[{"node":"Generate Isometric (with Floor Plan)","type":"main","index":0}]]},"Generate Isometric (with Floor Plan)":{"main":[[{"node":"Poll Isometric Status","type":"main","index":0}]]},"Poll Isometric Status":{"main":[[{"node":"Poll Status Handler","type":"main","index":0}]]},"Poll Status Handler":{"main":[[{"node":"Isometric Ready?","type":"main","index":0}]]},"Isometric Ready?":{"main":[[{"node":"Isometric Success?","type":"main","index":0}],[{"node":"Wait 3s","type":"main","index":0}]]},"Wait 3s":{"main":[[{"node":"Poll Isometric Status","type":"main","index":0}]]},"Isometric Success?":{"main":[[{"node":"Store Isometric URL","type":"main","index":0}],[{"node":"Update Failed","type":"main","index":0}]]},"Store Isometric URL":{"main":[[{"node":"Generate Living Room","type":"main","index":0},{"node":"Generate Kitchen","type":"main","index":0},{"node":"Generate Bedroom","type":"main","index":0},{"node":"Generate Patio","type":"main","index":0}]]},"Generate Living Room":{"main":[[{"node":"Poll Living Room","type":"main","index":0}]]},"Generate Kitchen":{"main":[[{"node":"Poll Kitchen","type":"main","index":0}]]},"Generate Bedroom":{"main":[[{"node":"Poll Bedroom","type":"main","index":0}]]},"Generate Patio":{"main":[[{"node":"Poll Patio","type":"main","index":0}]]},"Poll Living Room":{"main":[[{"node":"Check Living Room","type":"main","index":0}]]},"Poll Kitchen":{"main":[[{"node":"Check Kitchen","type":"main","index":0}]]},"Poll Bedroom":{"main":[[{"node":"Check Bedroom","type":"main","index":0}]]},"Poll Patio":{"main":[[{"node":"Check Patio","type":"main","index":0}]]},"Check Living Room":{"main":[[{"node":"Living Ready?","type":"main","index":0}]]},"Check Kitchen":{"main":[[{"node":"Kitchen Ready?","type":"main","index":0}]]},"Check Bedroom":{"main":[[{"node":"Bedroom Ready?","type":"main","index":0}]]},"Check Patio":{"main":[[{"node":"Patio Ready?","type":"main","index":0}]]},"Living Ready?":{"main":[[{"node":"Animate Living Room","type":"main","index":0}],[{"node":"Wait Living","type":"main","index":0}]]},"Kitchen Ready?":{"main":[[{"node":"Animate Kitchen","type":"main","index":0}],[{"node":"Wait Kitchen","type":"main","index":0}]]},"Bedroom Ready?":{"main":[[{"node":"Animate Bedroom","type":"main","index":0}],[{"node":"Wait Bedroom","type":"main","index":0}]]},"Patio Ready?":{"main":[[{"node":"Animate Patio1","type":"main","index":0}],[{"node":"Wait Patio","type":"main","index":0}]]},"Wait Living":{"main":[[{"node":"Poll Living Room","type":"main","index":0}]]},"Wait Kitchen":{"main":[[{"node":"Poll Kitchen","type":"main","index":0}]]},"Wait Bedroom":{"main":[[{"node":"Poll Bedroom","type":"main","index":0}]]},"Wait Patio":{"main":[[{"node":"Poll Patio","type":"main","index":0}]]},"Animate Living Room":{"main":[[{"node":"Poll Video Living","type":"main","index":0}]]},"Animate Kitchen":{"main":[[{"node":"Poll Video Kitchen","type":"main","index":0}]]},"Animate Bedroom":{"main":[[{"node":"Poll Video Bedroom","type":"main","index":0}]]},"Poll Video Living":{"main":[[{"node":"Check Video Living","type":"main","index":0}]]},"Poll Video Kitchen":{"main":[[{"node":"Check Video Kitchen","type":"main","index":0}]]},"Poll Video Bedroom":{"main":[[{"node":"Check Video Bedroom","type":"main","index":0}]]},"Poll Video Patio":{"main":[[{"node":"Check Video Patio","type":"main","index":0}]]},"Check Video Living":{"main":[[{"node":"Video Living Ready?","type":"main","index":0}]]},"Check Video Kitchen":{"main":[[{"node":"Video Kitchen Ready?","type":"main","index":0}]]},"Check Video Bedroom":{"main":[[{"node":"Video Bedroom Ready?","type":"main","index":0}]]},"Check Video Patio":{"main":[[{"node":"Video Patio Ready?","type":"main","index":0}]]},"Video Living Ready?":{"main":[[{"node":"Set Living URL","type":"main","index":0}],[{"node":"Wait Vid Living","type":"main","index":0}]]},"Video Kitchen Ready?":{"main":[[{"node":"Set Kitchen URL","type":"main","index":0}],[{"node":"Wait Vid Kitchen","type":"main","index":0}]]},"Video Bedroom Ready?":{"main":[[{"node":"Set Bedroom URL","type":"main","index":0}],[{"node":"Wait Vid Bedroom","type":"main","index":0}]]},"Video Patio Ready?":{"main":[[{"node":"Set Patio URL","type":"main","index":0}],[{"node":"Wait Vid Patio","type":"main","index":0}]]},"Wait Vid Living":{"main":[[{"node":"Poll Video Living","type":"main","index":0}]]},"Wait Vid Kitchen":{"main":[[{"node":"Poll Video Kitchen","type":"main","index":0}]]},"Wait Vid Bedroom":{"main":[[{"node":"Poll Video Bedroom","type":"main","index":0}]]},"Wait Vid Patio":{"main":[[{"node":"Poll Video Patio","type":"main","index":0}]]},"Set Living URL":{"main":[[{"node":"Merge All Videos","type":"main","index":0}]]},"Set Kitchen URL":{"main":[[{"node":"Merge All Videos","type":"main","index":1}]]},"Set Bedroom URL":{"main":[[{"node":"Merge All Videos","type":"main","index":2}]]},"Set Patio URL":{"main":[[{"node":"Merge All Videos","type":"main","index":3}]]},"Merge All Videos":{"main":[[{"node":"Collect All URLs","type":"main","index":0}]]},"Collect All URLs":{"main":[[{"node":"Merge Videos into Tour","type":"main","index":0}]]},"Merge Videos into Tour":{"main":[[{"node":"Update Success","type":"main","index":0}]]},"Animate Patio1":{"main":[[{"node":"Poll Video Patio","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":true,"callerPolicy":"workflowsFromSameOwner","timeSavedMode":"fixed"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"7443e413-5ce9-42bb-95ab-c0e561d56fd3","activeVersionId":"7443e413-5ce9-42bb-95ab-c0e561d56fd3","versionCounter":123,"triggerCount":1,"shared":[{"updatedAt":"2025-12-25T21:10:35.319Z","createdAt":"2025-12-25T21:10:35.319Z","role":"workflow:owner","workflowId":"stj8DmATqe66D9j4","projectId":"6L20DLwgKEB5r0rn","project":{"updatedAt":"2025-11-12T01:28:20.899Z","createdAt":"2025-11-12T01:28:20.899Z","id":"6L20DLwgKEB5r0rn","name":"Unnamed Project","type":"personal","icon":null,"description":null,"creatorId":"0b4a3251-26f6-4617-bcf9-e07f3ca968a7","projectRelations":[{"updatedAt":"2025-11-12T01:28:20.899Z","createdAt":"2025-11-12T01:28:20.899Z","userId":"0b4a3251-26f6-4617-bcf9-e07f3ca968a7","projectId":"6L20DLwgKEB5r0rn","user":{"updatedAt":"2026-01-14T06:00:01.000Z","createdAt":"2025-11-12T01:28:20.421Z","id":"0b4a3251-26f6-4617-bcf9-e07f3ca968a7","email":"service@rensto.com","firstName":"Service","lastName":"Rensto","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-11-12T02:46:44.970Z","personalization_survey_n8n_version":"1.119.1","companyIndustryExtended":["marketing-industry"],"companySize":"<20","companyType":"other","role":"business-owner","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-01-14","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2025-12-26T19:07:05.000Z","createdAt":"2025-12-26T19:07:03.394Z","versionId":"7443e413-5ce9-42bb-95ab-c0e561d56fd3","workflowId":"stj8DmATqe66D9j4","nodes":[{"parameters":{"formTitle":"Upload Floor Plan for Visualization","formDescription":"Upload your floor plan image to generate a photorealistic property tour video.","formFields":{"values":[{"fieldLabel":"Floor Plan Image","fieldType":"file","multipleFiles":false,"acceptFileTypes":".png,.jpg,.jpeg,.webp","requiredField":true},{"fieldLabel":"Email","fieldType":"email","placeholder":"your@email.com","requiredField":true},{"fieldLabel":"Property Style","fieldType":"dropdown","fieldOptions":{"values":[{"option":"Modern"},{"option":"Traditional"},{"option":"Minimalist"},{"option":"Industrial"},{"option":"Scandinavian"}]}}]},"options":{"appendAttribution":false}},"id":"e8e1283d-7707-4e63-b97b-9708352e9e19","name":"Upload Floor Plan Form","type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[2112,5504],"webhookId":"deeeedca-b0da-4d68-b81c-6a1da5475caf"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Validate and extract uploaded file\nconst formData = $input.item.json;\n\n// Get file data from form submission\nconst fileData = formData['Floor Plan Image'];\n\nif (!fileData || !fileData.data) {\n  throw new Error('No floor plan image uploaded');\n}\n\n// Validate file type\nconst validTypes = ['image/png', 'image/jpeg', 'image/jpg', 'image/webp'];\nconst mimeType = fileData.mimeType || 'image/png';\n\nif (!validTypes.some(t => mimeType.includes(t.split('/')[1]))) {\n  throw new Error(`Invalid file type: ${mimeType}. Accepted: PNG, JPG, WEBP`);\n}\n\n// Validate file size (max 10MB)\nconst maxSize = 10 * 1024 * 1024;\nconst fileSize = fileData.data.length * 0.75; // Base64 is ~33% larger\nif (fileSize > maxSize) {\n  throw new Error('File too large. Maximum size is 10MB.');\n}\n\n// Extract style preference\nconst style = formData['Property Style'] || 'Modern';\nconst styleDescriptors = {\n  'Modern': 'modern contemporary design with clean lines, neutral colors, and minimalist furniture',\n  'Traditional': 'traditional classic design with warm wood tones, ornate details, and elegant furniture',\n  'Minimalist': 'ultra-minimalist design with sparse furniture, white walls, and essential items only',\n  'Industrial': 'industrial loft style with exposed brick, metal fixtures, and raw materials',\n  'Scandinavian': 'Scandinavian design with light wood, cozy textiles, and hygge atmosphere'\n};\n\nreturn {\n  json: {\n    floorPlanBase64: fileData.data,\n    floorPlanMimeType: mimeType,\n    email: formData['Email'],\n    style: style,\n    styleDescription: styleDescriptors[style],\n    timestamp: new Date().toISOString()\n  }\n};"},"id":"8420f6e8-72b8-41ad-8df1-2460df3d03ef","name":"Validate & Extract Image","type":"n8n-nodes-base.code","typeVersion":2,"position":[2336,5504]},{"parameters":{"assignments":{"assignments":[{"id":"prompt-iso","name":"isometricPrompt","value":"=Top-down, fully 3D isometric render of this exact floor plan layout. Create a clean, highly detailed miniature architectural maquette matching the reference floor plan exactly. {{ $json.styleDescription }}. Remove all text labels. Keep all walls, doors, furniture, appliances and rooms properly placed according to the floor plan. High-resolution, photorealistic materials (wood floors, tiles, fabrics, glass). Soft global lighting, subtle shadows, crisp edges. Professional, polished output.","type":"string"},{"id":"prompt-living","name":"livingRoomPrompt","value":"=Eye-level photorealistic interior render of a living room. {{ $json.styleDescription }}. Comfortable seating arrangement, coffee table, entertainment center, warm ambient lighting, tasteful decor. High-quality materials and textures. Based on the floor plan layout.","type":"string"},{"id":"prompt-kitchen","name":"kitchenPrompt","value":"=Eye-level photorealistic interior render of a kitchen. {{ $json.styleDescription }}. Sleek cabinets, quality countertops, modern appliances, island or dining area, bright natural lighting. Clean, functional design.","type":"string"},{"id":"prompt-bedroom","name":"bedroomPrompt","value":"=Eye-level photorealistic interior render of a bedroom. {{ $json.styleDescription }}. Comfortable bed with quality linens, nightstands, wardrobe, soft ambient lighting, cozy atmosphere.","type":"string"},{"id":"prompt-patio","name":"patioPrompt","value":"=Eye-level photorealistic render of an outdoor patio area. {{ $json.styleDescription }}. Quality outdoor furniture, potted plants, ambient lighting, comfortable seating, inviting atmosphere for entertaining.","type":"string"}]},"includeOtherFields":true,"options":{}},"id":"57111930-3699-4572-adf9-8476aa934c28","name":"Configure Prompts","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2560,5504]},{"parameters":{"dataTableId":{"__rl":true,"value":"bZ4cVsCAmEwKteF5","mode":"list","cachedResultName":"floor_plan_submissions"},"columns":{"mappingMode":"defineBelow","value":{"submissionDate":"={{ $json.timestamp }}","status":"processing","email":"={{ $json.email }}"},"matchingColumns":[],"schema":[{"id":"submissionDate","displayName":"submissionDate","type":"dateTime"},{"id":"status","displayName":"status","type":"string"},{"id":"email","displayName":"email","type":"string"},{"id":"isometricImageUrl","displayName":"isometricImageUrl","type":"string"},{"id":"livingRoomVideoUrl","displayName":"livingRoomVideoUrl","type":"string"},{"id":"kitchenVideoUrl","displayName":"kitchenVideoUrl","type":"string"},{"id":"bedroomVideoUrl","displayName":"bedroomVideoUrl","type":"string"},{"id":"patioVideoUrl","displayName":"patioVideoUrl","type":"string"},{"id":"finalTourUrl","displayName":"finalTourUrl","type":"string"}]},"options":{}},"id":"ec9df9bd-fb13-4b60-b4d7-21d49e7a9ef9","name":"Store Submission","type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[2784,5504]},{"parameters":{"method":"POST","url":"https://api.kie.ai/api/v1/jobs/createTask","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"nano-banana-pro\",\n  \"input\": {\n    \"prompt\": \"{{ $('Configure Prompts').first().json.isometricPrompt }}\",\n    \"image\": \"data:{{ $('Configure Prompts').first().json.floorPlanMimeType }};base64,{{ $('Configure Prompts').first().json.floorPlanBase64 }}\",\n    \"aspect_ratio\": \"1:1\",\n    \"resolution\": \"2K\",\n    \"output_format\": \"png\"\n  }\n}","options":{"timeout":120000}},"id":"ddbd2a63-d640-44a5-8400-c1716cba2a04","name":"Generate Isometric (with Floor Plan)","type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[3008,5504],"credentials":{"httpHeaderAuth":{"id":"kRI7Q7bdV9tEVPNp","name":"Kie.ai"}}},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Universal polling handler for Kie.ai jobs\nconst data = $input.item.json;\nconst config = {\n  maxRetries: 120,\n  taskId: data.data?.taskId || data.taskId,\n  currentRetry: data._retryCount || 0\n};\n\n// Check for timeout\nif (config.currentRetry >= config.maxRetries) {\n  return {\n    json: {\n      success: false,\n      error: 'Generation timeout after 6 minutes',\n      taskId: config.taskId\n    }\n  };\n}\n\n// Check status based on API response structure\nconst state = data.data?.state;\nconst successFlag = data.data?.successFlag;\nconst code = data.code;\n\n// Image API uses 'state', Video API uses 'successFlag'\nconst isComplete = state === 'success' || successFlag === 1;\nconst isFailed = state === 'fail' || state === 'failed' || successFlag === 2 || successFlag === 3;\nconst isError = code && code !== 200;\n\nif (isComplete) {\n  let resultUrl = '';\n  \n  // Try to extract URL from different response structures\n  if (data.data?.resultJson) {\n    try {\n      const parsed = JSON.parse(data.data.resultJson);\n      resultUrl = parsed.resultUrls?.[0] || '';\n    } catch (e) {}\n  }\n  if (!resultUrl && data.data?.response?.resultUrls) {\n    resultUrl = data.data.response.resultUrls[0];\n  }\n  \n  return {\n    json: {\n      success: true,\n      ready: true,\n      resultUrl: resultUrl,\n      taskId: config.taskId\n    }\n  };\n}\n\nif (isFailed || isError) {\n  return {\n    json: {\n      success: false,\n      ready: true,\n      error: data.data?.errorMessage || data.msg || 'Generation failed',\n      taskId: config.taskId\n    }\n  };\n}\n\n// Still processing - continue polling\nreturn {\n  json: {\n    ...data,\n    success: false,\n    ready: false,\n    _retryCount: config.currentRetry + 1,\n    taskId: config.taskId\n  }\n};"},"id":"a5045102-1f3d-4c8c-a128-bb5574bb470a","name":"Poll Status Handler","type":"n8n-nodes-base.code","typeVersion":2,"position":[3456,5432]},{"parameters":{"url":"=https://api.kie.ai/api/v1/jobs/recordInfo?taskId={{ $json.data.taskId }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"id":"b9fde814-9742-4448-b062-a88d28181b62","name":"Poll Isometric Status","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3232,5504],"credentials":{"httpHeaderAuth":{"id":"kRI7Q7bdV9tEVPNp","name":"Kie.ai"}},"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"version":2,"caseSensitive":true,"typeValidation":"loose"},"conditions":[{"id":"is-ready","leftValue":"={{ $json.ready }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"ad8a803a-d723-4fc7-9240-5b40ed835e8f","name":"Isometric Ready?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3680,5432]},{"parameters":{"amount":3},"id":"bf7982f1-f7d0-4d71-aae7-99bcd182e59b","name":"Wait 3s","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3904,5600],"webhookId":"poll-wait-isometric"},{"parameters":{"conditions":{"options":{"version":2,"caseSensitive":true,"typeValidation":"loose"},"conditions":[{"id":"is-success","leftValue":"={{ $json.success }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"10635469-3da2-4f14-a319-623b2d9a4f79","name":"Isometric Success?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3904,5384]},{"parameters":{"assignments":{"assignments":[{"id":"iso-url","name":"isometricImageUrl","value":"={{ $json.resultUrl }}","type":"string"}]},"includeOtherFields":true,"options":{}},"id":"5985c78f-68d4-4573-93d3-29155a09ac5e","name":"Store Isometric URL","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[4128,5288]},{"parameters":{"method":"POST","url":"https://api.kie.ai/api/v1/jobs/createTask","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"nano-banana-pro\",\n  \"input\": {\n    \"prompt\": \"{{ $('Configure Prompts').first().json.livingRoomPrompt }}\",\n    \"image\": \"data:{{ $('Configure Prompts').first().json.floorPlanMimeType }};base64,{{ $('Configure Prompts').first().json.floorPlanBase64 }}\",\n    \"aspect_ratio\": \"16:9\",\n    \"resolution\": \"2K\",\n    \"output_format\": \"png\"\n  }\n}","options":{"timeout":120000}},"id":"5ea37b60-7420-4dd0-be16-72ed22f49246","name":"Generate Living Room","type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[4352,4496],"credentials":{"httpHeaderAuth":{"id":"kRI7Q7bdV9tEVPNp","name":"Kie.ai"}}},{"parameters":{"method":"POST","url":"https://api.kie.ai/api/v1/jobs/createTask","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"nano-banana-pro\",\n  \"input\": {\n    \"prompt\": \"{{ $('Configure Prompts').first().json.kitchenPrompt }}\",\n    \"image\": \"data:{{ $('Configure Prompts').first().json.floorPlanMimeType }};base64,{{ $('Configure Prompts').first().json.floorPlanBase64 }}\",\n    \"aspect_ratio\": \"16:9\",\n    \"resolution\": \"2K\",\n    \"output_format\": \"png\"\n  }\n}","options":{"timeout":120000}},"id":"cb8e5a63-825e-4981-b686-c67d87f5836f","name":"Generate Kitchen","type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[4352,4928],"credentials":{"httpHeaderAuth":{"id":"kRI7Q7bdV9tEVPNp","name":"Kie.ai"}}},{"parameters":{"method":"POST","url":"https://api.kie.ai/api/v1/jobs/createTask","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"nano-banana-pro\",\n  \"input\": {\n    \"prompt\": \"{{ $('Configure Prompts').first().json.bedroomPrompt }}\",\n    \"image\": \"data:{{ $('Configure Prompts').first().json.floorPlanMimeType }};base64,{{ $('Configure Prompts').first().json.floorPlanBase64 }}\",\n    \"aspect_ratio\": \"16:9\",\n    \"resolution\": \"2K\",\n    \"output_format\": \"png\"\n  }\n}","options":{"timeout":120000}},"id":"b7da9c57-894b-4471-b8bb-fa8e682ef4f3","name":"Generate Bedroom","type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[4352,5360],"credentials":{"httpHeaderAuth":{"id":"kRI7Q7bdV9tEVPNp","name":"Kie.ai"}}},{"parameters":{"method":"POST","url":"https://api.kie.ai/api/v1/jobs/createTask","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"nano-banana-pro\",\n  \"input\": {\n    \"prompt\": \"{{ $('Configure Prompts').first().json.patioPrompt }}\",\n    \"image\": \"data:{{ $('Configure Prompts').first().json.floorPlanMimeType }};base64,{{ $('Configure Prompts').first().json.floorPlanBase64 }}\",\n    \"aspect_ratio\": \"16:9\",\n    \"resolution\": \"2K\",\n    \"output_format\": \"png\"\n  }\n}","options":{"timeout":120000}},"id":"37de89ef-b14c-46ab-ade2-85b1a1a7934a","name":"Generate Patio","type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[4352,5792],"credentials":{"httpHeaderAuth":{"id":"kRI7Q7bdV9tEVPNp","name":"Kie.ai"}}},{"parameters":{"url":"=https://api.kie.ai/api/v1/jobs/recordInfo?taskId={{ $json.data.taskId }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"id":"57693208-2572-4c71-89ba-31a7ccbfef39","name":"Poll Living Room","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4576,4496],"credentials":{"httpHeaderAuth":{"id":"kRI7Q7bdV9tEVPNp","name":"Kie.ai"}},"onError":"continueRegularOutput"},{"parameters":{"url":"=https://api.kie.ai/api/v1/jobs/recordInfo?taskId={{ $json.data.taskId }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"id":"06e8a718-16c5-40db-aea3-0e969f53fdca","name":"Poll Kitchen","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4576,4928],"credentials":{"httpHeaderAuth":{"id":"kRI7Q7bdV9tEVPNp","name":"Kie.ai"}},"onError":"continueRegularOutput"},{"parameters":{"url":"=https://api.kie.ai/api/v1/jobs/recordInfo?taskId={{ $json.data.taskId }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"id":"f5e1749d-aeb6-4e8f-91b1-9d30d4b511bb","name":"Poll Bedroom","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4576,5360],"credentials":{"httpHeaderAuth":{"id":"kRI7Q7bdV9tEVPNp","name":"Kie.ai"}},"onError":"continueRegularOutput"},{"parameters":{"url":"=https://api.kie.ai/api/v1/jobs/recordInfo?taskId={{ $json.data.taskId }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"id":"b3f6ff5a-c0a7-44ff-a36a-a8084bd43f20","name":"Poll Patio","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4576,5792],"credentials":{"httpHeaderAuth":{"id":"kRI7Q7bdV9tEVPNp","name":"Kie.ai"}},"onError":"continueRegularOutput"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Reusable polling handler\nconst data = $input.item.json;\nconst maxRetries = 120;\nconst currentRetry = data._retryCount || 0;\n\nif (currentRetry >= maxRetries) {\n  return { json: { success: false, ready: true, error: 'Timeout', taskId: data.data?.taskId } };\n}\n\nconst state = data.data?.state;\nconst code = data.code;\n\nif (state === 'success') {\n  let resultUrl = '';\n  if (data.data?.resultJson) {\n    try {\n      const parsed = JSON.parse(data.data.resultJson);\n      resultUrl = parsed.resultUrls?.[0] || '';\n    } catch (e) {}\n  }\n  return { json: { success: true, ready: true, resultUrl, taskId: data.data?.taskId } };\n}\n\nif (state === 'fail' || state === 'failed' || (code && code !== 200)) {\n  return { json: { success: false, ready: true, error: data.msg || 'Failed', taskId: data.data?.taskId } };\n}\n\nreturn { json: { ...data, success: false, ready: false, _retryCount: currentRetry + 1, taskId: data.data?.taskId } };"},"id":"60f84de4-a916-4d54-9200-4cf5d28d0836","name":"Check Living Room","type":"n8n-nodes-base.code","typeVersion":2,"position":[4800,4496]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const data = $input.item.json;\nconst maxRetries = 120;\nconst currentRetry = data._retryCount || 0;\n\nif (currentRetry >= maxRetries) {\n  return { json: { success: false, ready: true, error: 'Timeout', taskId: data.data?.taskId } };\n}\n\nconst state = data.data?.state;\nconst code = data.code;\n\nif (state === 'success') {\n  let resultUrl = '';\n  if (data.data?.resultJson) {\n    try {\n      const parsed = JSON.parse(data.data.resultJson);\n      resultUrl = parsed.resultUrls?.[0] || '';\n    } catch (e) {}\n  }\n  return { json: { success: true, ready: true, resultUrl, taskId: data.data?.taskId } };\n}\n\nif (state === 'fail' || state === 'failed' || (code && code !== 200)) {\n  return { json: { success: false, ready: true, error: data.msg || 'Failed', taskId: data.data?.taskId } };\n}\n\nreturn { json: { ...data, success: false, ready: false, _retryCount: currentRetry + 1, taskId: data.data?.taskId } };"},"id":"e53baf62-d71c-47ab-b258-15aac6a32908","name":"Check Kitchen","type":"n8n-nodes-base.code","typeVersion":2,"position":[4800,4928]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const data = $input.item.json;\nconst maxRetries = 120;\nconst currentRetry = data._retryCount || 0;\n\nif (currentRetry >= maxRetries) {\n  return { json: { success: false, ready: true, error: 'Timeout', taskId: data.data?.taskId } };\n}\n\nconst state = data.data?.state;\nconst code = data.code;\n\nif (state === 'success') {\n  let resultUrl = '';\n  if (data.data?.resultJson) {\n    try {\n      const parsed = JSON.parse(data.data.resultJson);\n      resultUrl = parsed.resultUrls?.[0] || '';\n    } catch (e) {}\n  }\n  return { json: { success: true, ready: true, resultUrl, taskId: data.data?.taskId } };\n}\n\nif (state === 'fail' || state === 'failed' || (code && code !== 200)) {\n  return { json: { success: false, ready: true, error: data.msg || 'Failed', taskId: data.data?.taskId } };\n}\n\nreturn { json: { ...data, success: false, ready: false, _retryCount: currentRetry + 1, taskId: data.data?.taskId } };"},"id":"fc0fa647-2ee9-44aa-8a61-ec5c92092912","name":"Check Bedroom","type":"n8n-nodes-base.code","typeVersion":2,"position":[4800,5360]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const data = $input.item.json;\nconst maxRetries = 120;\nconst currentRetry = data._retryCount || 0;\n\nif (currentRetry >= maxRetries) {\n  return { json: { success: false, ready: true, error: 'Timeout', taskId: data.data?.taskId } };\n}\n\nconst state = data.data?.state;\nconst code = data.code;\n\nif (state === 'success') {\n  let resultUrl = '';\n  if (data.data?.resultJson) {\n    try {\n      const parsed = JSON.parse(data.data.resultJson);\n      resultUrl = parsed.resultUrls?.[0] || '';\n    } catch (e) {}\n  }\n  return { json: { success: true, ready: true, resultUrl, taskId: data.data?.taskId } };\n}\n\nif (state === 'fail' || state === 'failed' || (code && code !== 200)) {\n  return { json: { success: false, ready: true, error: data.msg || 'Failed', taskId: data.data?.taskId } };\n}\n\nreturn { json: { ...data, success: false, ready: false, _retryCount: currentRetry + 1, taskId: data.data?.taskId } };"},"id":"9075834d-86f2-4a33-9b44-c253a11f4426","name":"Check Patio","type":"n8n-nodes-base.code","typeVersion":2,"position":[4800,5792]},{"parameters":{"conditions":{"options":{"version":2,"typeValidation":"loose"},"conditions":[{"id":"ready","leftValue":"={{ $json.ready }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"99a507c9-0037-4b75-bbbc-99706d47369a","name":"Living Ready?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[5024,4496]},{"parameters":{"conditions":{"options":{"version":2,"typeValidation":"loose"},"conditions":[{"id":"ready","leftValue":"={{ $json.ready }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"267d7f2e-e68f-426e-904f-d3555254b5ce","name":"Kitchen Ready?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[5024,4928]},{"parameters":{"conditions":{"options":{"version":2,"typeValidation":"loose"},"conditions":[{"id":"ready","leftValue":"={{ $json.ready }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"8d9ee9f5-0c73-4fa4-b061-5fde9cb0c49f","name":"Bedroom Ready?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[5024,5360]},{"parameters":{"conditions":{"options":{"version":2,"typeValidation":"loose"},"conditions":[{"id":"ready","leftValue":"={{ $json.ready }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"9a2c8a77-ce09-4e86-bd89-91af9dee09be","name":"Patio Ready?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[5024,5792]},{"parameters":{"amount":3},"id":"62fa1e69-30e7-42bb-ba95-f3ce11d988c8","name":"Wait Living","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[5248,4688],"webhookId":"wait-living"},{"parameters":{"amount":3},"id":"864f5460-d721-4379-b226-7f9ba1b3aa3f","name":"Wait Kitchen","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[5248,5120],"webhookId":"wait-kitchen"},{"parameters":{"amount":3},"id":"4fb323b7-2908-494b-8800-4998a91a04cc","name":"Wait Bedroom","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[5248,5552],"webhookId":"wait-bedroom"},{"parameters":{"amount":3},"id":"48bda1f4-1ba8-4e03-a400-b7aa8a2576b9","name":"Wait Patio","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[5248,5984],"webhookId":"wait-patio"},{"parameters":{"method":"POST","url":"https://api.kie.ai/api/v1/veo/generate","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"prompt\": \"Smooth cinematic camera movement through the living room, showcasing the space from multiple angles with gentle panning\",\n  \"imageUrls\": [\"{{ $json.resultUrl }}\"],\n  \"model\": \"veo3_fast\",\n  \"aspectRatio\": \"16:9\",\n  \"seeds\": 12345,\n  \"enableFallback\": false,\n  \"enableTranslation\": true,\n  \"generationType\": \"REFERENCE_2_VIDEO\"\n}","options":{"timeout":180000}},"id":"466131ea-ee28-4156-99ba-0d3f0e9be6d9","name":"Animate Living Room","type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[5248,4496],"credentials":{"httpHeaderAuth":{"id":"kRI7Q7bdV9tEVPNp","name":"Kie.ai"}}},{"parameters":{"method":"POST","url":"https://api.kie.ai/api/v1/veo/generate","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"prompt\": \"Smooth cinematic camera movement through the kitchen, showcasing appliances and design details with elegant transitions\",\n  \"imageUrls\": [\"{{ $json.resultUrl }}\"],\n  \"model\": \"veo3_fast\",\n  \"aspectRatio\": \"16:9\",\n  \"seeds\": 12345,\n  \"enableFallback\": false,\n  \"enableTranslation\": true,\n  \"generationType\": \"REFERENCE_2_VIDEO\"\n}","options":{"timeout":180000}},"id":"49ad3338-941d-4417-9bf2-46384c060405","name":"Animate Kitchen","type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[5248,4928],"credentials":{"httpHeaderAuth":{"id":"kRI7Q7bdV9tEVPNp","name":"Kie.ai"}}},{"parameters":{"method":"POST","url":"https://api.kie.ai/api/v1/veo/generate","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"prompt\": \"Smooth cinematic camera movement through the bedroom, creating a cozy and inviting atmosphere with soft lighting\",\n  \"imageUrls\": [\"{{ $json.resultUrl }}\"],\n  \"model\": \"veo3_fast\",\n  \"aspectRatio\": \"16:9\",\n  \"seeds\": 12345,\n  \"enableFallback\": false,\n  \"enableTranslation\": true,\n  \"generationType\": \"REFERENCE_2_VIDEO\"\n}","options":{"timeout":180000}},"id":"ebb20909-a455-4588-8f7d-4f6b90e6dd13","name":"Animate Bedroom","type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[5248,5360],"credentials":{"httpHeaderAuth":{"id":"kRI7Q7bdV9tEVPNp","name":"Kie.ai"}}},{"parameters":{"url":"=https://api.kie.ai/api/v1/veo/record-info?taskId={{ $json.data.taskId }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"id":"9cd245b3-5776-4306-a95a-ad4370c8c430","name":"Poll Video Living","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5472,4496],"credentials":{"httpHeaderAuth":{"id":"kRI7Q7bdV9tEVPNp","name":"Kie.ai"}},"onError":"continueRegularOutput"},{"parameters":{"url":"=https://api.kie.ai/api/v1/veo/record-info?taskId={{ $json.data.taskId }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"id":"1b8bdafa-f620-4b3b-9914-9c0d9a33e5f4","name":"Poll Video Kitchen","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5472,4928],"credentials":{"httpHeaderAuth":{"id":"kRI7Q7bdV9tEVPNp","name":"Kie.ai"}},"onError":"continueRegularOutput"},{"parameters":{"url":"=https://api.kie.ai/api/v1/veo/record-info?taskId={{ $json.data.taskId }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"id":"3576c673-5264-45c2-8018-f07e857b69b7","name":"Poll Video Bedroom","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5472,5360],"credentials":{"httpHeaderAuth":{"id":"kRI7Q7bdV9tEVPNp","name":"Kie.ai"}},"onError":"continueRegularOutput"},{"parameters":{"url":"=https://api.kie.ai/api/v1/veo/record-info?taskId={{ $json.data.taskId }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"id":"656beea5-68e7-4325-8c90-edd316dedf9d","name":"Poll Video Patio","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5472,5792],"credentials":{"httpHeaderAuth":{"id":"kRI7Q7bdV9tEVPNp","name":"Kie.ai"}},"onError":"continueRegularOutput"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Video polling handler (uses successFlag)\nconst data = $input.item.json;\nconst maxRetries = 120;\nconst currentRetry = data._retryCount || 0;\n\nif (currentRetry >= maxRetries) {\n  return { json: { success: false, ready: true, error: 'Video timeout', taskId: data.data?.taskId } };\n}\n\nconst successFlag = data.data?.successFlag;\nconst code = data.code;\n\n// Veo: 0=Generating, 1=Success, 2=Failed, 3=Generation Failed\nif (successFlag === 1) {\n  const resultUrl = data.data?.response?.resultUrls?.[0] || '';\n  return { json: { success: true, ready: true, resultUrl, taskId: data.data?.taskId } };\n}\n\nif (successFlag === 2 || successFlag === 3 || (code && code !== 200)) {\n  return { json: { success: false, ready: true, error: data.data?.errorMessage || 'Video failed', taskId: data.data?.taskId } };\n}\n\nreturn { json: { ...data, success: false, ready: false, _retryCount: currentRetry + 1, taskId: data.data?.taskId } };"},"id":"e9e59ac2-6852-429b-8a68-2ef4b700d6af","name":"Check Video Living","type":"n8n-nodes-base.code","typeVersion":2,"position":[5696,4448]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const data = $input.item.json;\nconst maxRetries = 120;\nconst currentRetry = data._retryCount || 0;\n\nif (currentRetry >= maxRetries) {\n  return { json: { success: false, ready: true, error: 'Video timeout', taskId: data.data?.taskId } };\n}\n\nconst successFlag = data.data?.successFlag;\nconst code = data.code;\n\nif (successFlag === 1) {\n  const resultUrl = data.data?.response?.resultUrls?.[0] || '';\n  return { json: { success: true, ready: true, resultUrl, taskId: data.data?.taskId } };\n}\n\nif (successFlag === 2 || successFlag === 3 || (code && code !== 200)) {\n  return { json: { success: false, ready: true, error: data.data?.errorMessage || 'Video failed', taskId: data.data?.taskId } };\n}\n\nreturn { json: { ...data, success: false, ready: false, _retryCount: currentRetry + 1, taskId: data.data?.taskId } };"},"id":"562ab781-66d1-4b3e-8c52-2f8ba6950ffe","name":"Check Video Kitchen","type":"n8n-nodes-base.code","typeVersion":2,"position":[5696,4880]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const data = $input.item.json;\nconst maxRetries = 120;\nconst currentRetry = data._retryCount || 0;\n\nif (currentRetry >= maxRetries) {\n  return { json: { success: false, ready: true, error: 'Video timeout', taskId: data.data?.taskId } };\n}\n\nconst successFlag = data.data?.successFlag;\nconst code = data.code;\n\nif (successFlag === 1) {\n  const resultUrl = data.data?.response?.resultUrls?.[0] || '';\n  return { json: { success: true, ready: true, resultUrl, taskId: data.data?.taskId } };\n}\n\nif (successFlag === 2 || successFlag === 3 || (code && code !== 200)) {\n  return { json: { success: false, ready: true, error: data.data?.errorMessage || 'Video failed', taskId: data.data?.taskId } };\n}\n\nreturn { json: { ...data, success: false, ready: false, _retryCount: currentRetry + 1, taskId: data.data?.taskId } };"},"id":"8bc9cddd-5f4d-4c02-a121-4e95169ad5ea","name":"Check Video Bedroom","type":"n8n-nodes-base.code","typeVersion":2,"position":[5696,5312]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const data = $input.item.json;\nconst maxRetries = 120;\nconst currentRetry = data._retryCount || 0;\n\nif (currentRetry >= maxRetries) {\n  return { json: { success: false, ready: true, error: 'Video timeout', taskId: data.data?.taskId } };\n}\n\nconst successFlag = data.data?.successFlag;\nconst code = data.code;\n\nif (successFlag === 1) {\n  const resultUrl = data.data?.response?.resultUrls?.[0] || '';\n  return { json: { success: true, ready: true, resultUrl, taskId: data.data?.taskId } };\n}\n\nif (successFlag === 2 || successFlag === 3 || (code && code !== 200)) {\n  return { json: { success: false, ready: true, error: data.data?.errorMessage || 'Video failed', taskId: data.data?.taskId } };\n}\n\nreturn { json: { ...data, success: false, ready: false, _retryCount: currentRetry + 1, taskId: data.data?.taskId } };"},"id":"158c57ac-b1a2-4f2f-882d-6ade9dcf7e9c","name":"Check Video Patio","type":"n8n-nodes-base.code","typeVersion":2,"position":[5696,5744]},{"parameters":{"conditions":{"options":{"version":2,"typeValidation":"loose"},"conditions":[{"id":"ready","leftValue":"={{ $json.ready }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"b8e059d4-e6b2-48a5-96bd-1fb0aff1e15f","name":"Video Living Ready?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[5920,4448]},{"parameters":{"conditions":{"options":{"version":2,"typeValidation":"loose"},"conditions":[{"id":"ready","leftValue":"={{ $json.ready }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"7b4c6d23-bbdc-4b29-99b0-da11576f5e5e","name":"Video Kitchen Ready?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[5920,4880]},{"parameters":{"conditions":{"options":{"version":2,"typeValidation":"loose"},"conditions":[{"id":"ready","leftValue":"={{ $json.ready }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"da1a4f4b-29a0-4a97-ab22-5ee0889b1835","name":"Video Bedroom Ready?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[5920,5312]},{"parameters":{"conditions":{"options":{"version":2,"typeValidation":"loose"},"conditions":[{"id":"ready","leftValue":"={{ $json.ready }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"e7a1770a-be4a-4af9-9512-cd6ec31382d6","name":"Video Patio Ready?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[5920,5744]},{"parameters":{"amount":3},"id":"e3312ef5-1c56-4a3d-929e-608ddc96158a","name":"Wait Vid Living","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[6144,4616],"webhookId":"wait-vid-living"},{"parameters":{"amount":3},"id":"06b47992-9989-40dd-a4f0-1e18b37769e1","name":"Wait Vid Kitchen","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[6144,5048],"webhookId":"wait-vid-kitchen"},{"parameters":{"amount":3},"id":"d7d9e25b-af52-42a2-9e3d-58ca6a15b49c","name":"Wait Vid Bedroom","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[6144,5480],"webhookId":"wait-vid-bedroom"},{"parameters":{"amount":3},"id":"18571ff7-aade-4799-b405-b337f3214327","name":"Wait Vid Patio","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[6144,5912],"webhookId":"wait-vid-patio"},{"parameters":{"assignments":{"assignments":[{"id":"living","name":"livingRoomVideoUrl","value":"={{ $json.resultUrl }}","type":"string"},{"id":"room","name":"room","value":"living","type":"string"}]},"options":{}},"id":"9b91e719-8bad-482f-8b73-51a70e4b7d2f","name":"Set Living URL","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[6144,4400]},{"parameters":{"assignments":{"assignments":[{"id":"kitchen","name":"kitchenVideoUrl","value":"={{ $json.resultUrl }}","type":"string"},{"id":"room","name":"room","value":"kitchen","type":"string"}]},"options":{}},"id":"e422dc42-6297-4d4f-9f03-3b387e40f469","name":"Set Kitchen URL","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[6144,4832]},{"parameters":{"assignments":{"assignments":[{"id":"bedroom","name":"bedroomVideoUrl","value":"={{ $json.resultUrl }}","type":"string"},{"id":"room","name":"room","value":"bedroom","type":"string"}]},"options":{}},"id":"136e636b-2872-40e7-9e11-7163f406a82e","name":"Set Bedroom URL","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[6144,5264]},{"parameters":{"assignments":{"assignments":[{"id":"patio","name":"patioVideoUrl","value":"={{ $json.resultUrl }}","type":"string"},{"id":"room","name":"room","value":"patio","type":"string"}]},"options":{}},"id":"6381278e-2a75-471d-9965-52eb907d5bf0","name":"Set Patio URL","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[6144,5696]},{"parameters":{"mode":"chooseBranch","numberInputs":4},"id":"efe6a8e5-5f63-4012-8247-3a62debfb716","name":"Merge All Videos","type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[6368,4800]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Collect all video URLs from the merged branches\nconst items = $input.all();\n\nconst urls = {\n  livingRoomVideoUrl: '',\n  kitchenVideoUrl: '',\n  bedroomVideoUrl: '',\n  patioVideoUrl: ''\n};\n\n// Extract URLs from each item\nfor (const item of items) {\n  if (item.json.livingRoomVideoUrl) urls.livingRoomVideoUrl = item.json.livingRoomVideoUrl;\n  if (item.json.kitchenVideoUrl) urls.kitchenVideoUrl = item.json.kitchenVideoUrl;\n  if (item.json.bedroomVideoUrl) urls.bedroomVideoUrl = item.json.bedroomVideoUrl;\n  if (item.json.patioVideoUrl) urls.patioVideoUrl = item.json.patioVideoUrl;\n}\n\nreturn { json: urls };"},"id":"fe53ae63-f2bb-45e0-9276-a2fbe968b8f4","name":"Collect All URLs","type":"n8n-nodes-base.code","typeVersion":2,"position":[6592,4832]},{"parameters":{"method":"POST","url":"={{ $env.VIDEO_MERGE_URL || 'https://your-merge-service.com/merge' }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"video_urls\": [\n    \"{{ $json.livingRoomVideoUrl }}\",\n    \"{{ $json.kitchenVideoUrl }}\",\n    \"{{ $json.bedroomVideoUrl }}\",\n    \"{{ $json.patioVideoUrl }}\"\n  ]\n}","options":{"timeout":300000}},"id":"101d67ed-3baf-4118-97cf-c339162a0df0","name":"Merge Videos into Tour","type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[6816,4832]},{"parameters":{"operation":"update","dataTableId":{"__rl":true,"value":"bZ4cVsCAmEwKteF5","mode":"list","cachedResultName":"floor_plan_submissions"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Store Submission').item.json.id }}","status":"completed","isometricImageUrl":"={{ $('Store Isometric URL').first().json.isometricImageUrl }}","livingRoomVideoUrl":"={{ $('Collect All URLs').first().json.livingRoomVideoUrl }}","kitchenVideoUrl":"={{ $('Collect All URLs').first().json.kitchenVideoUrl }}","bedroomVideoUrl":"={{ $('Collect All URLs').first().json.bedroomVideoUrl }}","patioVideoUrl":"={{ $('Collect All URLs').first().json.patioVideoUrl }}","finalTourUrl":"={{ $json.video_url || $json.finalTourUrl }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","type":"string","defaultMatch":true},{"id":"status","displayName":"status","type":"string"},{"id":"isometricImageUrl","displayName":"isometricImageUrl","type":"string"},{"id":"livingRoomVideoUrl","displayName":"livingRoomVideoUrl","type":"string"},{"id":"kitchenVideoUrl","displayName":"kitchenVideoUrl","type":"string"},{"id":"bedroomVideoUrl","displayName":"bedroomVideoUrl","type":"string"},{"id":"patioVideoUrl","displayName":"patioVideoUrl","type":"string"},{"id":"finalTourUrl","displayName":"finalTourUrl","type":"string"}]},"options":{}},"id":"187ff797-2de5-4760-bcc1-265ac8b5ddba","name":"Update Success","type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[7040,4832]},{"parameters":{"operation":"update","dataTableId":{"__rl":true,"value":"bZ4cVsCAmEwKteF5","mode":"list","cachedResultName":"floor_plan_submissions"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Store Submission').item.json.id }}","status":"failed"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","type":"string","defaultMatch":true},{"id":"status","displayName":"status","type":"string"}]},"options":{}},"id":"1f98b7be-7a95-4d37-96c1-129eabe578b1","name":"Update Failed","type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[4128,5480]},{"parameters":{"method":"POST","url":"https://api.kie.ai/api/v1/veo/generate","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"prompt\": \"Smooth cinematic camera movement through the outdoor patio, highlighting features and natural lighting\",\n  \"imageUrls\": [\"{{ $json.resultUrl }}\"],\n  \"model\": \"veo3_fast\",\n  \"aspectRatio\": \"16:9\",\n  \"seeds\": 12345,\n  \"enableFallback\": false,\n  \"enableTranslation\": true,\n  \"generationType\": \"REFERENCE_2_VIDEO\"\n}","options":{"timeout":180000}},"id":"404e8764-7054-421f-93a8-838c68645f78","name":"Animate Patio1","type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[5248,5792],"credentials":{"httpHeaderAuth":{"id":"kRI7Q7bdV9tEVPNp","name":"Kie.ai"}}}],"connections":{"Upload Floor Plan Form":{"main":[[{"node":"Validate & Extract Image","type":"main","index":0}]]},"Validate & Extract Image":{"main":[[{"node":"Configure Prompts","type":"main","index":0}]]},"Configure Prompts":{"main":[[{"node":"Store Submission","type":"main","index":0}]]},"Store Submission":{"main":[[{"node":"Generate Isometric (with Floor Plan)","type":"main","index":0}]]},"Generate Isometric (with Floor Plan)":{"main":[[{"node":"Poll Isometric Status","type":"main","index":0}]]},"Poll Isometric Status":{"main":[[{"node":"Poll Status Handler","type":"main","index":0}]]},"Poll Status Handler":{"main":[[{"node":"Isometric Ready?","type":"main","index":0}]]},"Isometric Ready?":{"main":[[{"node":"Isometric Success?","type":"main","index":0}],[{"node":"Wait 3s","type":"main","index":0}]]},"Wait 3s":{"main":[[{"node":"Poll Isometric Status","type":"main","index":0}]]},"Isometric Success?":{"main":[[{"node":"Store Isometric URL","type":"main","index":0}],[{"node":"Update Failed","type":"main","index":0}]]},"Store Isometric URL":{"main":[[{"node":"Generate Living Room","type":"main","index":0},{"node":"Generate Kitchen","type":"main","index":0},{"node":"Generate Bedroom","type":"main","index":0},{"node":"Generate Patio","type":"main","index":0}]]},"Generate Living Room":{"main":[[{"node":"Poll Living Room","type":"main","index":0}]]},"Generate Kitchen":{"main":[[{"node":"Poll Kitchen","type":"main","index":0}]]},"Generate Bedroom":{"main":[[{"node":"Poll Bedroom","type":"main","index":0}]]},"Generate Patio":{"main":[[{"node":"Poll Patio","type":"main","index":0}]]},"Poll Living Room":{"main":[[{"node":"Check Living Room","type":"main","index":0}]]},"Poll Kitchen":{"main":[[{"node":"Check Kitchen","type":"main","index":0}]]},"Poll Bedroom":{"main":[[{"node":"Check Bedroom","type":"main","index":0}]]},"Poll Patio":{"main":[[{"node":"Check Patio","type":"main","index":0}]]},"Check Living Room":{"main":[[{"node":"Living Ready?","type":"main","index":0}]]},"Check Kitchen":{"main":[[{"node":"Kitchen Ready?","type":"main","index":0}]]},"Check Bedroom":{"main":[[{"node":"Bedroom Ready?","type":"main","index":0}]]},"Check Patio":{"main":[[{"node":"Patio Ready?","type":"main","index":0}]]},"Living Ready?":{"main":[[{"node":"Animate Living Room","type":"main","index":0}],[{"node":"Wait Living","type":"main","index":0}]]},"Kitchen Ready?":{"main":[[{"node":"Animate Kitchen","type":"main","index":0}],[{"node":"Wait Kitchen","type":"main","index":0}]]},"Bedroom Ready?":{"main":[[{"node":"Animate Bedroom","type":"main","index":0}],[{"node":"Wait Bedroom","type":"main","index":0}]]},"Patio Ready?":{"main":[[{"node":"Animate Patio1","type":"main","index":0}],[{"node":"Wait Patio","type":"main","index":0}]]},"Wait Living":{"main":[[{"node":"Poll Living Room","type":"main","index":0}]]},"Wait Kitchen":{"main":[[{"node":"Poll Kitchen","type":"main","index":0}]]},"Wait Bedroom":{"main":[[{"node":"Poll Bedroom","type":"main","index":0}]]},"Wait Patio":{"main":[[{"node":"Poll Patio","type":"main","index":0}]]},"Animate Living Room":{"main":[[{"node":"Poll Video Living","type":"main","index":0}]]},"Animate Kitchen":{"main":[[{"node":"Poll Video Kitchen","type":"main","index":0}]]},"Animate Bedroom":{"main":[[{"node":"Poll Video Bedroom","type":"main","index":0}]]},"Poll Video Living":{"main":[[{"node":"Check Video Living","type":"main","index":0}]]},"Poll Video Kitchen":{"main":[[{"node":"Check Video Kitchen","type":"main","index":0}]]},"Poll Video Bedroom":{"main":[[{"node":"Check Video Bedroom","type":"main","index":0}]]},"Poll Video Patio":{"main":[[{"node":"Check Video Patio","type":"main","index":0}]]},"Check Video Living":{"main":[[{"node":"Video Living Ready?","type":"main","index":0}]]},"Check Video Kitchen":{"main":[[{"node":"Video Kitchen Ready?","type":"main","index":0}]]},"Check Video Bedroom":{"main":[[{"node":"Video Bedroom Ready?","type":"main","index":0}]]},"Check Video Patio":{"main":[[{"node":"Video Patio Ready?","type":"main","index":0}]]},"Video Living Ready?":{"main":[[{"node":"Set Living URL","type":"main","index":0}],[{"node":"Wait Vid Living","type":"main","index":0}]]},"Video Kitchen Ready?":{"main":[[{"node":"Set Kitchen URL","type":"main","index":0}],[{"node":"Wait Vid Kitchen","type":"main","index":0}]]},"Video Bedroom Ready?":{"main":[[{"node":"Set Bedroom URL","type":"main","index":0}],[{"node":"Wait Vid Bedroom","type":"main","index":0}]]},"Video Patio Ready?":{"main":[[{"node":"Set Patio URL","type":"main","index":0}],[{"node":"Wait Vid Patio","type":"main","index":0}]]},"Wait Vid Living":{"main":[[{"node":"Poll Video Living","type":"main","index":0}]]},"Wait Vid Kitchen":{"main":[[{"node":"Poll Video Kitchen","type":"main","index":0}]]},"Wait Vid Bedroom":{"main":[[{"node":"Poll Video Bedroom","type":"main","index":0}]]},"Wait Vid Patio":{"main":[[{"node":"Poll Video Patio","type":"main","index":0}]]},"Set Living URL":{"main":[[{"node":"Merge All Videos","type":"main","index":0}]]},"Set Kitchen URL":{"main":[[{"node":"Merge All Videos","type":"main","index":1}]]},"Set Bedroom URL":{"main":[[{"node":"Merge All Videos","type":"main","index":2}]]},"Set Patio URL":{"main":[[{"node":"Merge All Videos","type":"main","index":3}]]},"Merge All Videos":{"main":[[{"node":"Collect All URLs","type":"main","index":0}]]},"Collect All URLs":{"main":[[{"node":"Merge Videos into Tour","type":"main","index":0}]]},"Merge Videos into Tour":{"main":[[{"node":"Update Success","type":"main","index":0}]]},"Animate Patio1":{"main":[[{"node":"Poll Video Patio","type":"main","index":0}]]}},"authors":"Service Rensto","name":"Version 7443e413","description":"","autosaved":false,"workflowPublishHistory":[{"createdAt":"2025-12-26T19:07:05.662Z","id":827,"workflowId":"stj8DmATqe66D9j4","versionId":"7443e413-5ce9-42bb-95ab-c0e561d56fd3","event":"activated","userId":"0b4a3251-26f6-4617-bcf9-e07f3ca968a7"}]}}